<app-modal [modalId]="'requestAccessModal'" [modalContentId]="'requestAccessModalContent'" [showCloseAlert]="form.dirty" [modalSize]="'small'" (closeEvent)="onCancel()">
  <modal-div class="title-text">
    Request Access for Project
  </modal-div>

  <modal-div class="body-content">
    <p class="font-bold" id="requestAccessModalContent">Select the project for which you would need the permission for.</p>
    <div class="row">
      <div class="col-12 p-0">
        <form [formGroup]="form">
          <div class="form-group col-lg-12 col-sm-12">
            <label for="project" class="font-bold">Project</label>
            <select id="project" class="custom-select" formControlName="project" [(ngModel)]="selectedProject" (change)="onProjectSelected()">
              <option [ngValue]="null">Select Project</option>
              <option *ngFor="let project of projectList" [ngValue]="project">{{ project.project_name }}</option>
            </select>
          </div>

          <div class="form-group col-lg-12 col-sm-12">
            <label for="permission" class="font-bold">Permission</label>
            <select id="permission" class="custom-select" formControlName="permission" [(ngModel)]="selectedRole" (change)="onRoleSelected()">
              <option [ngValue]="null"  >Select Role</option>
              <option *ngFor="let role of roleList" [ngValue]="role"  >{{ role.role_name }}</option>
            </select>
            <br/> <br/>
            <div class="row" *ngFor="let role of selectedRoles;let index=index">
              <div class="col-lg-11 col-sm-11">
                {{ role.role_name }}</div>
              <div class="col-lg-1 col-sm-1 text-right">
                <button class="btn btn-icon tooltip top sm position-relative d-inline-block" data-tooltip="Delete" [attr.aria-labe]="'Delete'" (click)="onDelete(index)">
                  <em class="icon-ico-garbage delete-item"></em>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </modal-div>

  <modal-div class="footer-buttons">
    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" [disabled]="requestDisabled" (click)="onRequestAccess()">Request Access</button>
  </modal-div>
</app-modal>
