﻿<div ng-switch="orderType">
    <section class="contentArea" id="paragraph" ng-switch-when="paragraph">
        <section class="question">
            <div class="stem">
                <div class="qst">{{currentPage}}&nbsp;&nbsp;&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>
            </div>
        </section>
        <section class="activity">
            <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}} </div>
            <ul class="odering-block odering clearfix" style="list-style-type: none;" ng-orderable="SortableFuncConfig" ng-model="CurrentQuestion.QuestionData.choices" ng-init="setOptions(CurrentQuestion.QuestionData.choices)">
                <li class="odering-panel option" ng-repeat="Option in CurrentQuestion.QuestionData.choices" ng-class="Option.currentClass" ng-class="{'selected': models.selected === Option}">
                    <span class="odering-btn" value="{{Option.choiceid}}" id="{{Option.choiceid}}"><span class="odering-gripper"><span class="fa fa-arrows"></span></span><span class="odering-item"><!--[{{Option.OptionNo}}]--> <span math="Option.text">{{Option.text}}</span></span></span>
                    <div class="sign"><div class="sr-only">Your selection is incorrect</div><span class="fa"></span></div>
                    <span class="fdback" ng-show="showOptionFeedbackModal && Option.displayfeedback">
                        <div class="sr-only">Your feedback is incorrect</div>
                        <span id="spnltd{{Option.choiceid}}" class="fa fa-commenting-o" popover popover-html="{{Option.choiceid}}" ng-click="GetFeedback(Option)"></span>
                    </span>
                </li>

            </ul>
            
            <div class="clearfix"></div>
        </section>
        <div class="fdback-mobile">
            <div ng-repeat="option in QuestionOptions">
                <div id="divltd{{option.choiceid}}" class="ltdtext" ng-class="option.currentClass" style="margin-bottom:10px;padding:10px;display:none;"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div role="alert" class="alert alert-success" ng-show="ShowGlobalFeedback && ShowGlobalCorrectFeedback" math="globalCorrectFeedback">
            {{globalCorrectFeedback}}
        </div>
        <div role="alert" class="alert alert-danger" ng-show="ShowGlobalFeedback && ShowGlobalIncorrectFeedback" math="globalInCorrectFeedback">
            {{globalInCorrectFeedback}}
        </div>
    </section>
    <div id="media" ng-switch-when="media">
        <div ng-switch="layoutType">
            <section class="contentArea" ng-switch-when="horizontal">
                <section class="question">
                    <div class="stem">
                        <div class="qst">{{currentPage}}&nbsp;&nbsp;&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>
                    </div>
                </section>
                <section class="activity">
                    <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}} </div>
                    <ul class="odering-block odering clearfix row" style="list-style-type: none;" ng-orderable="SortableFuncConfig" ng-model="CurrentQuestion.QuestionData.choices" ng-init="setOptions(CurrentQuestion.QuestionData.choices)">
                        <li class="col-sm-3 clearfix" ng-repeat="Option in CurrentQuestion.QuestionData.choices" ng-class="{'selected': models.selected === Option}">
                            <div class="odering-panel option" ng-class="Option.currentClass">
                                <span class="odering-btn">
                                    <span class="odering-gripper"><span class="fa fa-arrows"></span><!--[{{Option.OptionNo}}]--></span><span class="odering-item">
                                        <span class="clearfix">
                                            <div ng-bind-html="trustAsHtml(Option.media)" ng-value="{{option.choiceid}}" id="{{Option.choiceid}}" class="orderingImage"></div>
                                            <label><span math="Option.text">{{Option.text}}</span></label>
                                        </span>
                                    </span>
                                </span>
                                <div class="sign"><div class="sr-only">Your selection is incorrect</div><span class="fa"></span></div>
                                <span class="fdback" ng-show="showOptionFeedbackModal && Option.displayfeedback">
                                    <div class="sr-only">Your feedback is incorrect</div>
                                    <span id="spnltd{{Option.choiceid}}" class="fa fa-commenting-o" popover popover-html="{{Option.choiceid}}" ng-click="GetFeedback(Option)"></span>
                                </span>
                            </div>
                        </li>
                    </ul>                    
                    <div class="clearfix"></div>
                </section>
                <div class="fdback-mobile">
                    <div ng-repeat="option in QuestionOptions">
                        <div id="divltd{{option.choiceid}}" class="ltdtext" ng-class="option.currentClass" style="margin-bottom:10px;padding:10px;display:none;"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div role="alert" class="alert alert-success" ng-show="ShowGlobalFeedback && ShowGlobalCorrectFeedback" math="globalCorrectFeedback">
                    {{globalCorrectFeedback}}
                </div>
                <div role="alert" class="alert alert-danger" ng-show="ShowGlobalFeedback && ShowGlobalIncorrectFeedback" math="globalInCorrectFeedback">
                    {{globalInCorrectFeedback}}
                </div>
            </section>
            <section class="contentArea" ng-switch-when="vertical">
                <section class="question">
                    <div class="stem">
                        <div class="qst">{{currentPage}}&nbsp;&nbsp;&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>
                    </div>
                </section>
                <section class="activity">
                    <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}} </div>
                    <ul class="col-sm-4 col-sm-offset-4 clearfix" style="list-style-type: none;" ng-orderable="SortableFuncConfig" ng-model="CurrentQuestion.QuestionData.choices" ng-init="setOptions(CurrentQuestion.QuestionData.choices)">
                        <li class="odering-block odering clearfix" ng-repeat="Option in CurrentQuestion.QuestionData.choices" ng-class="{'selected': models.selected === Option}">
                            <div class="odering-panel option" ng-class="Option.currentClass">
                                <span class="odering-btn">
                                    <span class="odering-gripper"><span class="fa fa-arrows"></span><!--[{{Option.OptionNo}}]--></span><span class="odering-item">
                                        <span class="clearfix">
                                            <div ng-bind-html="trustAsHtml(Option.media)" ng-value=" {{option.choiceid}}" id="{{Option.choiceid}}" class="orderingImage"></div>
                                            <label><span math="Option.text">{{Option.text}}</span></label>
                                        </span>
                                    </span>
                                </span>
                                <div class="sign"><div class="sr-only">Your selection is incorrect</div><span class="fa"></span></div>
                                <span class="fdback" ng-show="showOptionFeedbackModal && Option.displayfeedback">
                                    <div class="sr-only">Your feedback is incorrect</div>
                                    <span id="spnltd{{Option.choiceid}}" class="fa fa-commenting-o" popover popover-html="{{Option.choiceid}}" ng-click="GetFeedback(Option)"></span>
                                </span>
                            </div>
                        </li>
                    </ul>                    
                    <div class="clearfix"></div>
                </section>
                <div class="fdback-mobile">
                    <div ng-repeat="option in QuestionOptions">
                        <div id="divltd{{option.choiceid}}" class="ltdtext" ng-class="option.currentClass" style="margin-bottom:10px;padding:10px;display:none;"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div role="alert" class="alert alert-success" ng-show="ShowGlobalFeedback && ShowGlobalCorrectFeedback" math="globalCorrectFeedback">
                    {{globalCorrectFeedback}}
                </div>
                <div role="alert" class="alert alert-danger" ng-show="ShowGlobalFeedback && ShowGlobalIncorrectFeedback" math="globalInCorrectFeedback">
                    {{globalInCorrectFeedback}}
                </div>
            </section>
        </div>
    </div>
    <section class="contentArea" id="sentence" ng-switch-when="sentence">
        <section class="question">
            <div class="stem">
                <div class="qst">{{currentPage}}&nbsp;&nbsp;&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>
            </div>
        </section>
        <section class="activity">
            <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}} </div>
            <ul class="odering-inline odering clearfix" style="list-style-type: none;" ng-orderable="SortableFuncConfig" ng-model="CurrentQuestion.QuestionData.choices" ng-init="setOptions(CurrentQuestion.QuestionData.choices)">
                <li class="odering-panel option" ng-repeat="Option in CurrentQuestion.QuestionData.choices" ng-class="Option.currentClass" ng-class="{'selected': models.selected === Option}">
                    <span class="odering-btn" value="{{Option.choiceid}}" id="{{Option.choiceid}}"><span class="odering-gripper"><span class="fa fa-arrows"></span></span><span class="odering-item"><!--[{{Option.OptionNo}}]--> <span math="Option.text">{{Option.text}}</span></span></span>
                    <div class="sign"><div class="sr-only">Your selection is incorrect</div><span class="fa"></span></div>
                    <span class="fdback" ng-show="showOptionFeedbackModal && Option.displayfeedback">
                        <div class="sr-only">Your feedback is incorrect</div>
                        <span id="spnltd{{Option.choiceid}}" class="fa fa-commenting-o" popover popover-html="{{Option.choiceid}}" ng-click="GetFeedback(Option)"></span>
                    </span>
                </li>
            </ul>           
            <div class="clearfix"></div>
        </section>
        <div class="fdback-mobile">
            <div ng-repeat="option in QuestionOptions">
                <div id="divltd{{option.choiceid}}" class="ltdtext" ng-class="option.currentClass" style="margin-bottom:10px;padding:10px;display:none;"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div role="alert" class="alert alert-success" ng-show="ShowGlobalFeedback && ShowGlobalCorrectFeedback" math="globalCorrectFeedback">
            {{globalCorrectFeedback}}
        </div>
        <div role="alert" class="alert alert-danger" ng-show="ShowGlobalFeedback && ShowGlobalIncorrectFeedback" math="globalInCorrectFeedback">
            {{globalInCorrectFeedback}}
        </div>
    </section>

</div>