﻿<section class="contentArea">
    <section class="question">
        <div class="stem">
            <div class="qst">{{currentPage}}&nbsp;&nbsp;&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>
        </div>
    </section>
    <section class="activity">
        <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}} </div>
        <div class="table-responsive choice-matrix">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th class="text-center" scope="col">True</th>
                        <th class="text-center" scope="col">False</th>
                    </tr>
                    <tr ng-repeat="Option in CurrentQuestion.QuestionData.choices">
                        <td math="Option.text" dynamic="Option.text">{{Option.text}}</td>
                        <td class="option" ng-repeat="sOption in Option.suboption" ng-class="sOption.currentClass">
                            <label><input id="txtChoiceMatrix{{Option.choiceid}}" class="clsOptionCheck" type="radio" ng-click="setOptions(sOption,Option.choiceid)" name="{{Option.choiceid}}" value="{{sOption.identifier}}" ng-checked="sOption.isAnswered" /></label>
                            <span class="fdback" ng-show="showOptionFeedbackModal">
                                        <div class="sr-only">Your feedback is incorrect</div>
                                <span id="spnltd{{Option.choiceid}}{{sOption.identifier}}" class="fa fa-commenting-o" popover popover-html="{{Option.choiceid}}" ng-click="GetFeedback(Option)"></span>
                                    </span>
                            <div class="sign"><div class="sr-only">Your selection is incorrect</div><span class="fa"></span></div>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </section>
    <div role="alert" class="alert alert-success" ng-show="ShowGlobalFeedback && ShowGlobalCorrectFeedback" math="globalCorrectFeedback">
        {{globalCorrectFeedback}}
    </div>
    <div role="alert" class="alert alert-danger" ng-show="ShowGlobalFeedback && ShowGlobalIncorrectFeedback" math="globalInCorrectFeedback">
        {{globalInCorrectFeedback}}
    </div>
</section>
