﻿<section class="contentArea">
    <div class="stem">
        <div class="qst">{{currentPage}}&nbsp;&nbsp;&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>
    </div>
    <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}}</div>
    <div id="CompositeQuestionBody" math="questionBody" dynamic="questionBody">{{questionBody}}</div>
</section>