﻿<div ng-switch="EssayTypeToolbar">
    <section class="contentArea" ng-switch-when="editor-basic" id="editor-basic">
		Text Interaction type questions are graded by Instructor. <br><br>
        <section class="question">
            <div class="stem">
                <div class="qst">{{currentPage}}&nbsp;&nbsp;&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>
            </div>
        </section>
        <section class="activity">


            <!--<textarea id="editor1"></textarea>-->
            <!--<textarea ng-model="text" id="txtEssayContent" class="ck-editor" ng-change="getValue(text)"></textarea>-->
            <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}} </div>
            <div class="essay">
                <div class="ng-scope">
                    <div class="lighter">
                        <div text-angular name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around" ng-change="getValue(text)" id="txtEssayContent" ng-model="text" ta-max-text="{{maxCharaterLength}}"></div>
                    </div>
                    <div class="text-center output lighter border-around">
                        <div class="lighter roboto">
                            <p class="text-left text-med text-gray"></p>
                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>
            </div>


            <div class="clearfix"></div>
        </section>
    </section>
    <section class="contentArea" ng-switch-when="no-toolbar" id="no-toolbar">
		Text Interaction type questions are graded by Instructor. <br><br>
        <section class="question">
            <div class="stem">
                <div class="qst">{{currentPage}}&nbsp;&nbsp;&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>
            </div>
        </section>
        <section class="activity">
            <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}} </div>
            <textarea id="txtEssayContent" ng-model="text" ng-change="getValue(text)" class="essayTemplate" maxlength="{{maxCharaterLength}}"></textarea>
            <div class="clearfix"></div>
        </section>
    </section>

    <section class="contentArea" ng-if="EssayTypeToolbar  == 'math_3-5_palette' || EssayTypeToolbar == 'math_6-8_palette'" id="basicmatheditor">
        Text Interaction type questions are graded by Instructor. <br><br>
        <section class="question">
            <div class="stem">
                <div class="qst">{{currentPage}}&nbsp;&nbsp;&nbsp;&nbsp;<span math="questionName" dynamic="instructionText">{{questionName}}</span></div>
            </div>
        </section>
        <section class="activity">
            <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}} </div>
            <div class="math-body">
                <div class="math-editor">
                    <span id="mathQuill" style="border:0px" class="mathquill-editable" ng-keypress="updateDataMathEditor($event)" autofocus></span>
                </div>
                <!--Image : <img id="codecogsimg" alt="" style="border:1px">-->
                <div class="math-toolbar">
                    <div class="left-math-toolbar">
                        <button ng-click="mathUndoCommand()" class="btn btn-default btn-undo btn-uniE610" data-toggle="tooltip" data-placement="top" title="" data-original-title="Undo"></button>
                        <button ng-click="mathRedoCommand()" class="btn btn-default btn-redo btn-uniE611" data-toggle="tooltip" data-placement="top" title="" data-original-title="Redo"></button>
                        <button ng-click="mathDeleteCommand()" class="btn btn-default btn-clearall btn-uniE612" data-toggle="tooltip" data-placement="top" title="" data-original-title="Clear All"></button>
                    </div>
                    <div class="right-math-toolbar">
                        <button ng-click="mathKeyCommand('+','write')" class="btn btn-default btn-plussign" data-toggle="tooltip" data-placement="top" title="" data-original-title="plus sign">+</button>
                        <button ng-click="mathKeyCommand('-','write')" class="btn btn-default btn-minussign" data-toggle="tooltip" data-placement="top" title="" data-original-title="minus sign">−</button>
                        <button ng-click="mathKeyCommand('times','cmd')" class="btn btn-default btn-timessign" data-toggle="tooltip" data-placement="top" title="" data-original-title="times sign">×</button>
                        <button ng-click="mathKeyCommand('÷','write')" class="btn btn-default btn-divisionsign" data-toggle="tooltip" data-placement="top" title="" data-original-title="division sign">÷</button>
                        <button ng-click="mathKeyCommand('/','cmd')" class="btn btn-default btn-uniE005" data-toggle="tooltip" data-placement="top" title="" data-original-title="fraction"></button>
                        <button ng-click="mathKeyCommand('/','cmd')" class="btn btn-default btn-mixednumber" data-toggle="tooltip" data-placement="top" title="" data-original-title="mixed number"></button>

                        <button ng-click="mathKeyCommand('=','write')" class="btn btn-default btn-equal" data-toggle="tooltip" data-placement="top" title="" data-original-title="equal"></button>
                        <button ng-click="mathKeyCommand('<','write')" class="btn btn-default btn-lessthan" data-toggle="tooltip" data-placement="top" title="" data-original-title="less than"><</button>
                        <button ng-click="mathKeyCommand('>','write')" class="btn btn-default btn-greaterthan" data-toggle="tooltip" data-placement="top" title="" data-original-title="greater than">></button>
                        <button ng-click="mathKeyCommand('(','cmd')" class="btn btn-default btn-parenthesis" data-toggle="tooltip" data-placement="top" title="" data-original-title="parenthesis">(·)</button>
                        <button ng-click="mathKeyCommand('[','cmd')" class="btn btn-default btn-bracket" data-toggle="tooltip" data-placement="top" title="" data-original-title="bracket">[·]</button>

						<button ng-click="mathKeyCommand('^','cmd')" class="btn btn-default btn-bracket" data-toggle="tooltip" data-placement="top" title="" data-original-title="power">y<sup>x<sup></button>
                        <button ng-click="mathKeyCommand('\sqrt','cmd')" class="btn btn-default btn-uniE002" data-toggle="tooltip" data-placement="top" title="" data-original-title="bracket"></button>
                        <button ng-click="mathKeyCommand('\\sqrt[3]{}','write')" class="btn btn-default btn-uniE003" data-toggle="tooltip" data-placement="top" title="" data-original-title="bracket"></button>
                        <button ng-click="mathKeyCommand('\%','cmd')" class="btn btn-default btn-percent" data-toggle="tooltip" data-placement="top" title="" data-original-title="bracket">%</button>
                        <button ng-click="mathKeyCommand('\pm','cmd')" class="btn btn-default btn-plusminus" data-toggle="tooltip" data-placement="top" title="" data-original-title="bracket"></button>

                        <button ng-click="mathKeyCommand('\cdot','cmd')" class="btn btn-default btn-periodcentered" data-toggle="tooltip" data-placement="top" title="" data-original-title="bracket"></button>
                        <button ng-click="mathKeyCommand('\ge','cmd')" class="btn btn-default btn-greaterequal" data-toggle="tooltip" data-placement="top" title="" data-original-title="bracket"></button>
                        <button ng-click="mathKeyCommand('\le','cmd')" class="btn btn-default btn-lessequal" data-toggle="tooltip" data-placement="top" title="" data-original-title="bracket"></button>
                        <button ng-click="mathKeyCommand('\Pi','cmd')" class="btn btn-default btn-Pi" data-toggle="tooltip" data-placement="top" title="" data-original-title="bracket"></button>
                        <button ng-click="mathKeyCommand('\degree','cmd')" class="btn btn-default btn-uni2218" data-toggle="tooltip" data-placement="top" title="" data-original-title="bracket"></button>


                        <!--<button ng-click="mathCommand('$','write')" class="btn btn-default btn-" data-toggle="tooltip" data-placement="top" title="" data-original-title="dollar sign">$</button>-->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </section>
    </section>
</div>

<script type="text/javascript">
    //Added for dynamically loading the Math Editor
    setTimeout(function () {
        $('#mathQuill').mathquill('editable'); $('#mathQuill').width($('.math-editor').width()); $('#mathQuill').height('auto'); $('#mathQuill').mathquill('showcursor'); $('#mathQuill textarea').focus();
        $('#mathQuill').mathquill('cmd', 'emptyspace'); SetEditorView(mathEditorType);
    }, 1000);
</script>