﻿<!--<script src="Scripts/lib/ios-drag-drop.js"></script>-->
<div>
    <section class="contentArea" id="fib_text">
        <section class="question">
            <div class="stem">
                <div class="qst">{{currentPage}}&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>
            </div>
        </section>
        <section class="activity">
            <div class="instruction" dynamic="instructionText" math="instructionText">{{instructionText}} </div>
            <div class="fib drop-list-content" ng-class="dragtype" ng-if="layoutType === 'left'">
                <div class="arrow up"></div>
                <!--<ul class="btn-droppable" ng-sortable="SingledraggableConfig" style="list-style-type: none; margin: 0; padding: 0; list-style: none; min-height: 30px;">
                    <li ng-repeat="item in droppableItems" ng-class="item.selectedClass" style="display: inline-block;">
                        <span class="option drag btn-draggable" math="item.title"><span class="fa fa-arrows"></span>{{item.title}}</span>
                    </li>
                </ul>-->
                <div class="drag-container" data-droppable data-drop-id="initial" class="drop-box" style="min-height:50px;">
                    <div id="divDrpItems{{$index}}" ng-repeat="item in droppableItems" data-containment=".contentArea" data-drag-active="true" data-draggable data-drag-id="{{$index}}" data-drag-class="drag-class" data-drop-class="drop-class-2">
                        <span class="option drag btn-draggable" math="item.title"><span class="fa fa-arrows"></span>{{item.title}}</span>
                        <span class='sign'><span class='sr-only'></span><span class='fa'></span></span>
                        <span class="fdback" ng-show="item.model.showOptionFeedbackModal && item.model.displayfeedback">
                            <div class="sr-only">Your feedback is incorrect</div>
                            <span id="spnltd{{item.model.key}}" class="fa fa-commenting-o" popover popover-html="{{item.model.noforeachblank}}" ng-click="GetFeedback(item.model)"></span>
                        </span>
                    </div>

                </div>
            </div>
            <div class="fib drop-list-content" ng-class="dragtype" ng-if="layoutType === 'top'" style="min-height:50px;">
                <div class="arrow up"></div>
                <!--<ul class="btn-droppable" ng-sortable="SingledraggableConfig" style="list-style-type: none; margin: 0; padding: 0; list-style: none; min-height: 30px;">
            <li ng-repeat="item in droppableItems" ng-class="item.selectedClass" style="display: inline-block;">
                <span class="option drag btn-draggable" math="item.title"><span class="fa fa-arrows"></span>{{item.title}}</span>
            </li>
            <li style="display: none;">
                <span class="option drag btn-draggable">For Drop</span>
            </li>
        </ul>-->
                <div class="drag-container" data-droppable data-drop-id="initial" class="drop-box" style="min-height:50px;">
                    <div id="divDrpItems{{$index}}" ng-repeat="item in droppableItems" data-containment=".contentArea" data-drag-active="true" data-draggable data-drag-id="{{$index}}" data-drag-class="drag-class" data-drop-class="drop-class-2">
                        <span class="option drag btn-draggable" math="item.title"><span class="fa fa-arrows"></span>{{item.title}}</span>
                        <span class='sign'><span class='sr-only'></span><span class='fa'></span></span>
                        <span class="fdback" ng-show="item.model.showOptionFeedbackModal && item.model.displayfeedback">
                            <div class="sr-only">Your feedback is incorrect</div>
                            <span id="spnltd{{item.model.key}}" class="fa fa-commenting-o" popover popover-html="{{item.model.noforeachblank}}" ng-click="GetFeedback(item.model)"></span>
                        </span>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>           
            <div class="fib text select fib drop" ng-class="droptype">
                <div math="FIBText" dynamic="FIBText" class="FIBmobile-view">{{FIBText}}</div>
            </div>
            <div class="fib drop-list-content" ng-class="dragtype" ng-if="layoutType === 'right' || layoutType === 'bottom'">
                <div class="arrow up"></div>
                <!--<ul class="btn-droppable" ng-sortable="SingledraggableConfig" style="list-style-type: none; margin: 0; padding: 0; list-style: none; min-height: 30px;">
                    <li ng-repeat="item in droppableItems" ng-class="item.selectedClass" style="display: inline-block;">
                        <span class="option drag btn-draggable" math="item.title"><span class="fa fa-arrows"></span>{{item.title}}</span>
                    </li>
                    <li style="display: none;">
                        <span class="option drag btn-draggable">For Drop</span>
                    </li>
                </ul>-->
                <div class="drag-container" data-droppable data-drop-id="initial" class="drop-box">
                    <div id="divDrpItems{{$index}}" ng-repeat="item in droppableItems" data-containment=".contentArea" data-drag-active="true" data-draggable data-drag-id="$index" data-drag-class="drag-class" data-drop-class="drop-class-2">
                        <span class="option drag btn-draggable" math="item.title"><span class="fa fa-arrows"></span>{{item.title}}</span>
                        <span class='sign'><span class='sr-only'></span><span class='fa'></span></span>
                        <span class="fdback" ng-show="item.model.showOptionFeedbackModal && item.model.displayfeedback">
                            <div class="sr-only">Your feedback is incorrect</div>
                            <span id="spnltd{{item.model.key}}" class="fa fa-commenting-o" popover popover-html="{{item.model.noforeachblank}}" ng-click="GetFeedback(item.model)"></span>
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <div class="fdback-mobile">
            <div ng-repeat="option in QuestionOptions">
                <div id="divltd{{option.key}}"  class="ltdtext" ng-class="option.currentClass" style="margin-bottom:10px;padding:10px;display:none;"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div role="alert" class="alert alert-success" ng-show="ShowGlobalFeedback && ShowGlobalCorrectFeedback" math="globalCorrectFeedback">
            {{globalCorrectFeedback}}
        </div>
        <div role="alert" class="alert alert-danger" ng-show="ShowGlobalFeedback && ShowGlobalIncorrectFeedback" math="globalInCorrectFeedback">
            {{globalInCorrectFeedback}}
        </div>
    </section>
</div>
