﻿<div id="spnCorrectIncorrect{{model.key}}" class="option {{model.FibClass}}" ng-class="model.AnswerClass">
    <div ng-if="model.interaction === 'textentry'">
        <input type="text" id="txtInput{{model.key}}" class="form-control" ng-model='model.UserInput' style="text-align:{{model.inputalignment}}" maxlength="{{model.characters}}" ng-keypress="CheckInputValue($event)" />
        <div class="sign">
            <div class="sr-only"></div>
            <span class="fa"></span>
        </div>
        <span class="fdback" ng-show="model.showOptionFeedbackModal && model.displayfeedback">
            <div class="sr-only">Your feedback is incorrect</div>
            <span id="spnltd{{model.key}}" class="fa fa-commenting-o" popover popover-html="{{model.noforeachblank}}" ng-click="GetFeedback(model)"></span>
        </span>
    </div>
    <div ng-if="model.interaction === 'inline'">
        <select class="form-control" id="drpFIB{{model.key}}" ng-model='model.UserInput' ng- style='min-width:200px;' ng-change="CheckSelectedValue(model.UserInput)">
            <option value=''>Select</option>
            <option ng-repeat="item in model.arrList" value="{{item}}" ng-selected="(model.UserInput == item)" math="item">{{item}}</option>
        </select>
        <div class='sign'>
            <span class='sr-only'></span>
            <span class='fa'></span>
        </div>
        <span class="fdback fdback-desktop" ng-show="model.showOptionFeedbackModal && model.displayfeedback">
            <div class="sr-only">Your feedback is incorrect</div>
            <span id="spnltd{{model.key}}" class="fa fa-commenting-o" popover popover-html="{{model.noforeachblank}}" ng-click="GetFeedback(model)"></span>
        </span>
    </div>
    <div ng-if="model.interaction === 'dragdrop'" class="">
        <!--<ul class="btn-droppable option drop" ng-class="model.Canvas.length==0 ? '' : 'DropFIBCanvasCSS'" style="list-style-type: none;" ng-sortable="{ group: 'grswip', animation: 150 }">
            <li ng-repeat="item in model.Canvas" style="display: inline-block; text-align:center;" ng-click="AddItemToDropItemList(item,model.key,$index)">
                <span class="btn-draggable" math="item.title">{{item.title}}</span>
                <span class="sign"><span class="fa"></span></span>
                <span class="fdback" ng-show="model.showOptionFeedbackModal && model.displayfeedback">
                    <div class="sr-only">Your feedback is incorrect</div>
                    <span id="spnltd{{model.key}}" class="fa fa-commenting-o" popover popover-html="{{model.noforeachblank}}" ng-click="GetFeedback(model)"></span>
                </span>
            </li>
        </ul>-->
        <div class="drop-container desktop-multi-drop-option" ng-model="model.Canvas">
            <div data-accept="{{model.accept}}" data-droppable data-drop-id="{{model.key}}" data-question-id="{{model.QuestionIndex}}" data-hover-class="" data-drop-function="" class="drop-box">
                <div ng-repeat="item in model.Canvas">
                    <div data-drag-active="true" data-draggable data-drag-id="{{$index}}" data-drag-class="drag-class" data-drop-class="drop-class-2" class="drop-class-2">
                        <span class="option drag btn-draggable" math="item.title"><span class="fa fa-arrows"></span>{{item.title}}</span>
                    </div>
                    <span class='sign'><span class='sr-only'></span><span class='fa'></span></span>
                    <span class="fdback fdback-desktop" ng-show="model.showOptionFeedbackModal && model.displayfeedback">
                        <div class="sr-only">Your feedback is incorrect</div>
                        <span class="fa fa-commenting-o" popover popover-html="{{model.noforeachblank}}" ng-click="GetFeedback(model)"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="tx-drop-option mobile-multi-drop-option" id="divDropOption{{model.key}}" ng-click="SetItemToDropCanvasList({{model}})">
            <ul style="list-style-type: none;" ng-class="model.Canvas.length==0 ? '' : 'DropFIBCanvasCSS'" class=" btn-droppable option drop" ng-model='model.Canvas' ng-class="model.AnswerClass">
                <li ng-repeat="item in model.Canvas" ng-model="model.Canvas" ng-click="AddItemToDropItemList(item,model.key,$index)">
                    <span class="btn-draggable" math="item.title">{{item.title}}</span>
                </li>
            </ul>
            <span class="sign"><span class="fa"></span></span>
            <span class="fdback" ng-show="model.showOptionFeedbackModal && model.displayfeedback">
                <div class="sr-only">Your feedback is incorrect</div>
                <span id="spnltd{{model.key}}" class="fa fa-commenting-o" popover popover-html="{{model.noforeachblank}}" ng-click="GetFeedback(model)"></span>
            </span>
        </div>
    </div>
</div>