﻿<section class="contentArea">
    <section class="question">
        <div class="stem">
            <div class="qst">{{currentPage}}&nbsp;&nbsp;&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>
        </div>
    </section>
    <section class="activity" id="divquestionOption">
        <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}} </div>
        <div class="fib text select image" style="text-align:center">
            <div style="position:relative;display:inline-block;">
                <div ng-repeat="option in QuestionOptions">
                    <!--<button style="list-style-type: none; background-color: rgb(255, 255, 255); position: absolute;opacity:0" ng-style="{ left:(option.XPosition + '%'),top:(option.YPosition + '%') }" class="btn" ng-click="option.stopHover=true" ng-mouseover="hoverIn($event,option)" ng-mouseout="hoverOut($event,option)">Button {{option.choiceid}}</button>-->
                    <div class="hotspot-point" ng-style="{ left:(option.XPosition + '%'),top:(option.YPosition + '%')}">
                        <button style="list-style-type: none;" ng-class="option.currentClass" class="btn hotspot" ng-click="clickHotspot(option)">
                            <!--<span class="hotspotnumber">{{option.choiceid}}</span>-->
                            <span class="sign"><span class="fa"></span></span>
                            <span class="fdback fdback-desktop" ng-show="showOptionFeedbackModal && option.displayfeedback">
                                <div class="sr-only">Your feedback is incorrect</div>
                                <span id="spnltd{{option.choiceid}}" class="fa fa-commenting-o" popover="" popover-html="{{option.choiceid}}" ng-click="GetFeedback(option)"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <img id="imgHotSpot" ng-src="{{imageSrc}}" alt="" ng-hide="{{imageSrc == '' ? 'true':'false'}}" />
            </div>
        </div>
        <div class="fdback-mobile">
            <div ng-repeat="option in QuestionOptions">
                <div id="divltd{{option.choiceid}}" ng-class="option.currentClass" style="margin-bottom:10px;padding:10px;display:none;"></div>
            </div>
        </div>
    </section>
            <div class="clearfix"></div>
            <div role="alert" class="alert alert-success" ng-show="ShowGlobalFeedback  && ShowGlobalCorrectFeedback" math="globalCorrectFeedback">
                {{globalCorrectFeedback}}
            </div>
            <div role="alert" class="alert alert-danger" ng-show="ShowGlobalFeedback  && ShowGlobalIncorrectFeedback" math="globalInCorrectFeedback">
                {{globalInCorrectFeedback}}
            </div>
</section>
