﻿<section class="contentArea">
    <section class="question">
        <div class="stem">
            <div class="qst">{{currentPage}}&nbsp;&nbsp;&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>
        </div>
    </section>
    <section class="activity" id="divquestionOption">
        <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}} </div>

        <div class="fib dragpanel drop-list-content" ng-class="dragtype" ng-if="layoutType === 'left'||layoutType === 'top'" style="min-height:50px;">
            <div class="arrow up"></div>
            <ul ng-sortable="SingledraggableConfig" style="list-style-type: none; margin: 0; padding: 0; min-height: 30px;" class="btn-droppable">
                <li ng-repeat="item in droppableItems" style="display:inline; float:left;">
                    <span class="option drag btn-draggable" ng-class="item.selectedClass" math="item.title"><span class="fa fa-arrows"></span> {{item.title}}</span>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div ng-switch="questionTypeId">
            <div class="fib fibltd text select image" ng-switch-when="ltd" >
                <fibvariation ng-model='option' user-input='option.UserInput' parent-ctrl='$parent' ng-repeat="option in QuestionOptions" ng-style="{left:(option.XPosition + '%'),top:(option.YPosition + '%')}"></fibvariation>
                <img ng-src="{{imageSrc}}" alt=""  />
            </div>

            <div class="fib text select fib drop" ng-class="droptype" ng-switch-when="ltd_dnd">
                <div class="fib fib drop image" style="display:inline-block">
                    <div class="tx-drop-option desktop-multi-drop-option" ng-class="option.AnswerClass" id="divDropOption{{option.key}}" ng-repeat="option in QuestionOptions" ng-style="{ left:(option.XPosition + '%'),top:(option.YPosition + '%')}" style="width:1px;height:1px;position:absolute">
                        <ul ng-sortable="SortableFuncConfig" style="list-style-type: none;" class="btn-droppable option drop mobile-drop" ng-style="{'background-color':'#fff' }"
                            ng-model='option.Canvas' ng-class="option.AnswerClass">
                            <li ng-repeat="item in option.Canvas" ng-model="option.Canvas">
                                <span class="btn-draggable option drag" math="item.title">{{item.title}}</span>
                                <span class="sign"><span class="fa"></span></span>
                                <span class="fdback fdback-desktop" ng-show="showOptionFeedbackModal && option.displayfeedback">
                                    <div class="sr-only">Your feedback is incorrect</div>
                                    <span id="spnltd{{option.key}}" class="fa fa-commenting-o" popover popover-html="{{option.noforeachblank}}" ng-click="GetFeedback(option)"></span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="tx-drop-option FIBmobile-view mobile-multi-drop-option" id="divDropOption{{option.key}}" ng-click="SetItemToDropCanvasList({{option}})" ng-repeat="option in QuestionOptions" ng-style="{ left:(option.XPosition + '%'),top:(option.YPosition + '%')}" style="width:1px;height:1px;position:absolute">
                        <ul style="list-style-type: none;" ng-class="option.Canvas.length==0 ? '' : 'DropFIBCanvasCSS'" class=" btn-droppable option drop {{option.AnswerClass}}" ng-model='option.Canvas' ng-style="{'background-color':'#fff' }">
                            <li ng-repeat="item in option.Canvas" ng-model="option.Canvas" ng-click="AddItemToDropItemList(item,option.key,$index)">
                                <span class="btn-draggable" math="item.title">{{item.title}}</span>
                            </li>
                            <span class="sign"><span class="fa"></span></span>
                            <span class="fdback" ng-show="showOptionFeedbackModal && showAttempt">
                                <div class="sr-only">Your feedback is incorrect</div>
                                <span id="spnltd{{option.key}}" class="fa fa-commenting-o" popover popover-html="{{option.noforeachblank}}" ng-click="GetFeedback(option)"></span>
                            </span>
                        </ul>
                    </div>
                    <img ng-src="{{imageSrc}}" ng-hide="{{imageSrc == '' ? 'true':'false'}}" alt="" />
                </div>
            </div>
        </div>
        <div class="fib dragpanel drop-list-content" ng-class="dragtype" ng-if="layoutType === 'row' || layoutType === 'vertical' || layoutType === 'horizontal'|| layoutType === 'image'|| layoutType === 'right'|| layoutType === 'bottom'|| layoutType === 'dragdrop_parallel'" style="min-height:50px;">
            <div class="arrow up"></div>
            <ul ng-sortable="SingledraggableConfig" style="list-style-type: none; margin: 0; padding: 0;" class="btn-droppable" style="min-height:30px">
                <li ng-repeat="item in droppableItems" style="display: inline-block; float:left;">
                    <span class="option drag btn-draggable" ng-class="item.selectedClass" math="item.title"><span class="fa fa-arrows"></span> {{item.title}}</span>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="fdback-mobile">
            <div ng-repeat="option in QuestionOptions" ng-class="option.currentClass">
                <div id="divltd{{option.key}}" class="ltdtext" ng-class="option.currentClass" style="margin-bottom:10px;padding:10px;display:none;"></div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div role="alert" class="alert alert-success" ng-show="ShowGlobalFeedback && ShowGlobalCorrectFeedback" math="globalCorrectFeedback">
            {{globalCorrectFeedback}}
        </div>
        <div role="alert" class="alert alert-danger" ng-show="ShowGlobalFeedback && ShowGlobalIncorrectFeedback" math="globalInCorrectFeedback">
            {{globalInCorrectFeedback}}
        </div>
    </section>
</section>