﻿<div>
    <section class="contentArea">
        <section class="question">
            <div class="stem">
                <div class="qst">{{currentPage}}&nbsp;&nbsp;&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>
            </div>
        </section>
        
        <section class="activity">
            <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}} </div>
            <div class="mobile-multi-drop-option clearfix">
                <div class="row" ng-if="interaction=='container' && (layoutType === 'left' || layoutType === 'top' || layoutType === 'bottom'||layoutType === 'right')">
                    <div class="col-sm-12" ng-repeat="option in QuestionOptions">
                        <div class="panel panel-default images_box">
                            <div class="panel-heading">
                                <div class="panel-title  text-center" math="option.noforeachblank"><strong>{{option.noforeachblank}}</strong> </div>
                            </div>
                            <div class="panel-body">
                                <div class="short-cont">
                                    <div id="divDropOption{{option.key}}">
                                        <am-multiselect class="input-lg" multiple="true" ms-selected=" {{ChangeSelectedValue(option.multiSelectItem)}}"
                                                        ng-model="option.multiSelectItem" ms-header="Select Item"
                                                        options="item.title for item in  DistractorItems"
                                                        template-url="MultiSelect.html"
                                                        change="selected();SetCanvasValue(option)"></am-multiselect>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div ng-if="layoutType === 'dragdrop_parallel'">
                    <div class="matching line" ng-repeat="option in QuestionOptions">
                        <div class="equal row">
                            <div class="col-md-5 col-xs-12 col-sm-5 term-out">
                                <div class="term">
                                    <span math="option.noforeachblank" dynamic="option.noforeachblank">{{option.noforeachblank}}</span>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-12 col-sm-2 link-line"><div class="link"></div></div>
                            <div class="col-md-5 col-xs-12 col-sm-5 tx-drop">
                                <div class="tx-drop-option FIBmobile-view" ng-class="option.AnswerClass" id="divDropOption{{option.key}}" ng-click="SetItemToDropCanvasList({{option}})">
                                    <ul ng-sortable="SingledroppableConfig" style="list-style-type: none;" ng-class="option.Canvas.length==0 ? '' : 'DropFIBCanvasCSS'" class=" btn-droppable option drop" ng-model='option.Canvas' ng-class="option.AnswerClass">
                                        <li ng-repeat="item in option.Canvas" ng-model="option.Canvas" ng-click="AddItemToDropItemList(item,option.key,$index)">
                                            <span class="btn-draggable" math="item.title">{{item.title}}</span>
                                        </li>
                                    </ul>
                                    <span class="sign"><span class="fa"></span></span>
                                    <span class="fdback" ng-show="showOptionFeedbackModal && option.displayfeedback">
                                        <div class="sr-only">Your feedback is incorrect</div>
                                        <span id="spnltd{{option.key}}" class="fa fa-commenting-o" popover popover-html="{{option.noforeachblank}}" ng-click="GetFeedback(option)"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="layoutType === 'horizontal'|| layoutType === 'vertical'">
        <table width="100%" cellpadding="0" cellspacing="0" border="">
            <thead>
                <tr>
                    <th># STEPS</th>
                    <th>INTRODUCTION PHRASE</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="option in QuestionOptions">
                    <td class="" math="option.noforeachblank" dynamic="option.noforeachblank">{{option.noforeachblank}}</td>
                    <td class="">
                        <div class="tx-drop-option FIBmobile-view" ng-class="option.AnswerClass" id="divDropOption{{option.key}}" ng-click="SetItemToDropCanvasList({{option}})">
                            <ul ng-sortable="SingledroppableConfig" style="list-style-type: none;" ng-class="option.Canvas.length==0 ? '' : 'DropFIBCanvasCSS'" class="btn-droppable option drop" ng-model='option.Canvas' ng-class="option.AnswerClass">
                                <li ng-repeat="item in option.Canvas" ng-model="option.Canvas" ng-click="AddItemToDropItemList(item,option.key,$index)">
                                    <span class="btn-draggable" math="item.title">{{item.title}}</span>
                                    <span class="sign"><span class="fa"></span></span>
                                    <span class="fdback" ng-show="showOptionFeedbackModal && option.displayfeedback">
                                        <div class="sr-only">Your feedback is incorrect</div>
                                        <span id="spnltd{{option.key}}" class="fa fa-commenting-o" popover popover-html="{{option.noforeachblank}}" ng-click="GetFeedback(option)"></span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

                <div ng-if="layoutType === 'image'">
        <div class="fib fib drop image">
            <div class="tx-drop-option FIBmobile-view" ng-class="option.AnswerClass" id="divDropOption{{option.key}}" ng-click="SetItemToDropCanvasList({{option}})" ng-repeat="option in QuestionOptions">
                <ul ng-sortable="SortableFuncConfig" style="list-style-type: none;" ng-class="option.Canvas.length==0 ? '' : 'DropFIBCanvasCSS'" class="btn-droppable option drop mobile-drop" ng-style="{ left:(option.response_positions.x + '%'),top:(option.response_positions.y + '%'),'background-color':'#fff' }"
                    ng-model='option.Canvas' ng-class="option.AnswerClass">
                    <li ng-repeat="item in option.Canvas" ng-model="option.Canvas" ng-click="AddItemToDropItemList(item,option.key,$index)">
                        <span class="btn-draggable option drag" math="item.title"><span class="fa fa-arrows"></span>{{item.title}}</span>
                        <span class="sign"><span class="fa"></span></span>
                        <span class="fdback" ng-show="showOptionFeedbackModal && option.displayfeedback">
                            <div class="sr-only">Your feedback is incorrect</div>
                            <span id="spnltd{{option.key}}" class="fa fa-commenting-o" popover popover-html="{{option.noforeachblank}}" ng-click="GetFeedback(option)"></span>
                        </span>
                    </li>
                </ul>
            </div>
            <img ng-src="{{CurrentQuestion.QuestionData.exhibit[0].path}}" style="min-width:100%" alt="" />
        </div>
    </div>



            </div>
            <div class="desktop-multi-drop-option clearfix">
                <div class="fib dragpanel" ng-class="dragtype" ng-if="layoutType === 'left'||layoutType === 'top'" style="min-height:50px;">
                    <div class="clearfix"></div>
                    <div class="arrow up"></div>
                    <ul ng-sortable="SortableFuncConfig" style="list-style-type: none; margin: 0; padding: 0; min-height: 30px;" class="btn-droppable">
                        <li ng-repeat="item in droppableItems" style="display:inline-block;float:inherit;">
                            <span class="option drag btn-draggable" ng-class="item.selectedClass" math="item.title"><span class="fa fa-arrows"></span> {{item.title}}</span>
                        </li>
                        <li style="display: none;">
                            <span class="option drag btn-draggable">For Drop</span>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

            <div class="fib text select fib drop" ng-class="droptype">

                <div ng-if="layoutType === 'horizontal'|| layoutType === 'vertical'">
                    <table width="100%" cellpadding="0" cellspacing="0" border="">
                        <thead>
                            <tr>
                                <th># STEPS</th>
                                <th>INTRODUCTION PHRASE</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="option in QuestionOptions">
                                <td class="" math="option.noforeachblank" dynamic="option.noforeachblank">{{option.noforeachblank}}</td>
                                <td class="">
                                    <div class="tx-drop-option" ng-class="option.AnswerClass" id="divDropOption{{option.key}}">
                                        <ul ng-sortable="SingledroppableConfig" style="list-style-type: none;text-align:center;" class="btn-droppable option drop" ng-model='option.Canvas' ng-class="option.AnswerClass">
                                            <span class="sign"><span class="fa"></span></span>
                                            <span class="fdback" ng-show="showOptionFeedbackModal && option.displayfeedback">
                                                <div class="sr-only">Your feedback is incorrect</div>
                                                <span id="spnltd{{option.key}}" class="fa fa-commenting-o" popover popover-html="{{option.noforeachblank}}" ng-click="GetFeedback(option)"></span>
                                            </span>
                                            <li ng-repeat="item in option.Canvas" ng-model="option.Canvas">
                                                <span class="btn-draggable" math="item.title">{{item.title}}</span>
                                               
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-if="layoutType === 'image'">
                    <div class="fib fib drop image">
                        <div class="tx-drop-option" ng-class="option.AnswerClass" id="divDropOption{{option.key}}" ng-repeat="option in QuestionOptions">
                            <ul ng-sortable="SortableFuncConfig" style="list-style-type: none;" class="btn-droppable option drop mobile-drop" ng-style="{ left:(option.response_positions.x + '%'),top:(option.response_positions.y + '%'),'background-color':'#fff' }"
                                ng-model='option.Canvas' ng-class="option.AnswerClass">
                                <li ng-repeat="item in option.Canvas" ng-model="option.Canvas">
                                    <span class="btn-draggable option drag" math="item.title"><span class="fa fa-arrows"></span>{{item.title}}</span>
                                    <span class="sign"><span class="fa"></span></span>
                                    <span class="fdback" ng-show="showOptionFeedbackModal && option.displayfeedback">
                                        <div class="sr-only">Your feedback is incorrect</div>
                                        <span id="spnltd{{option.key}}" class="fa fa-commenting-o" popover popover-html="{{option.noforeachblank}}" ng-click="GetFeedback(option)"></span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <img ng-src="{{CurrentQuestion.QuestionData.exhibit[0].path}}" style="min-width:100%" alt="" />
                    </div>
                </div>

                <div ng-if="layoutType === 'top'|| layoutType === 'bottom' ">
                    <div class="fib drop shorting-container multiplecon">
                        <div class="row">
                            <div class="col-md-3 col-sm-6" ng-repeat="option in QuestionOptions">
                                <div class="panel panel-default images_box">
                                    <div class="panel-heading">
                                        <div class="panel-title  text-center" math="option.noforeachblank"><strong>{{option.noforeachblank}}</strong> </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="short-cont">
                                            <div id="divDropOption{{option.key}}">
                                                <div class="btn-droppable" style="width:100%" ng-model='option.Canvas'>
                                                    <ul ng-sortable="SortableFuncConfig" style="list-style-type: none;" class="btn-droppable option drop" ng-class="option.AnswerClass" ng-model='option.Canvas'>
                                                        <span class="sign"><span class="fa"></span></span>
                                                        <span class="fdback" ng-show="showOptionFeedbackModal && option.displayfeedback">
                                                            <div class="sr-only">Your feedback is incorrect</div>
                                                            <span id="spnltd{{option.key}}" class="fa fa-commenting-o" popover popover-html="{{option.noforeachblank}}" ng-click="GetFeedback(option)"></span>
                                                        </span>
                                                        <li ng-repeat="item in option.Canvas" ng-model="option.Canvas">
                                                            <span class="option drop" >
                                                                <span class="option drag" math="item.title"><span class="fa fa-arrows"></span>{{item.title}}</span>
                                                            </span>
                                                            <span style="display:block" ng-if="option.Canvas.length===0"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="layoutType === 'left'||layoutType === 'right'">
                    <div class="fib drop shorting-container multiplecon">

                        <div class="row">
                            <div class="col-sm-12" ng-repeat="option in QuestionOptions">
                                <div class="panel panel-default images_box">
                                    <div class="panel-heading">
                                        <div class="panel-title  text-center" math="option.noforeachblank"><strong>{{option.noforeachblank}}</strong> </div>
                                    </div>

                                    <div class="panel-body">
                                        <div class="short-cont">
                                            <div id="divDropOption{{option.key}}">
                                                <div class="btn-droppable" ng-model='option.Canvas'>
                                                    <ul ng-sortable="SortableFuncConfig" style="list-style-type: none;" class="btn-droppable option drop testnew" ng-class="option.AnswerClass">
                                                        <span class="sign"><span class="fa"></span></span>
                                                        <span class="fdback" ng-show="showOptionFeedbackModal && option.displayfeedback">
                                                            <div class="sr-only">Your feedback is incorrect</div>
                                                            <span id="spnltd{{option.key}}" class="fa fa-commenting-o" popover popover-html="{{option.noforeachblank}}" ng-click="GetFeedback(option)"></span>
                                                        </span>
                                                        <li class="btn-draggable" ng-repeat="item in option.Canvas" ng-model="option.Canvas">
                                                            <span class="option drop">
                                                                <span class="option drag" math="item.title"><span class="fa fa-arrows"></span>{{item.title}}</span>
                                                                <span class="option drop mobile-drop" style="width:auto" ng-if="option.Canvas.length===0"></span>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div ng-if="layoutType === 'dragdrop_parallel'">
                    <div class="matching line" ng-repeat="option in QuestionOptions">
                        <div class="equal row">
                            <div class="col-md-5 col-xs-12 col-sm-5 term-out">
                                <div class="term">
                                    <span math="option.noforeachblank" dynamic="option.noforeachblank">{{option.noforeachblank}}</span>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-12 col-sm-2 link-line"><div class="link"></div></div>
                            <div class="col-md-5 col-xs-12 col-sm-5 tx-drop">
                                <div class="drop-container desktop-multi-drop-option" ng-model="option.Canvas" ng-class="option.AnswerClass">
                                    <div data-accept="{{option.accept}}" data-droppable data-drop-id="{{option.key}}" data-question-id="{{option.QuestionIndex}}" data-hover-class="" data-drop-function="" class="drop-box">
                                        <div ng-repeat="item in option.Canvas">
                                            <div data-drag-active="true" data-draggable data-drag-id="{{$index}}" data-drag-class="drag-class" data-drop-class="drop-class-2" class="drop-class-2">
                                                <span class="option drag btn-draggable" math="item.title"><span class="fa fa-arrows"></span>{{item.title}}</span>                                             
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="tx-drop-option" ng-class="option.AnswerClass" id="divDropOption{{option.key}}">
                                    <ul ng-sortable="SingledroppableConfig" style="list-style-type: none;" class=" btn-droppable option drop" ng-model='option.Canvas' ng-class="option.AnswerClass">
                                        <li ng-repeat="item in option.Canvas" ng-model="option.Canvas">
                                            <span class="btn-draggable" math="item.title">{{item.title}}</span>
                                        </li>
                                    </ul>
                                    <span class="sign"><span class="fa"></span></span>
                                    <span class="fdback" ng-show="showOptionFeedbackModal && option.displayfeedback">
                                        <div class="sr-only">Your feedback is incorrect</div>
                                        <span id="spnltd{{option.key}}" class="fa fa-commenting-o" popover popover-html="{{option.noforeachblank}}" ng-click="GetFeedback(option)"></span>
                                    </span>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <div class="fib dragpanel" ng-class="dragtype" ng-if="layoutType === 'row' || layoutType === 'vertical' || layoutType === 'horizontal'|| layoutType === 'image'|| layoutType === 'right'|| layoutType === 'bottom'|| layoutType === 'dragdrop_parallel'" style="min-height:50px;">
                    <div class="arrow up"></div>
                    <!--<ul ng-sortable="SortableFuncConfig" style="list-style-type: none; margin: 0; padding: 0;" class="btn-droppable" style="min-height:30px">
                        <li ng-repeat="item in droppableItems" style="display: inline-block;float:inherit;">
                            <span class="option drag btn-draggable" ng-class="item.selectedClass" math="item.title"><span class="fa fa-arrows"></span> {{item.title}}</span>
                        </li>
                        <li style="display: none;">
                            <span class="option drag btn-draggable">For Drop</span>
                        </li>
                    </ul>-->
                    <div class="drag-container" data-droppable data-drop-id="initial" class="drop-box">
                        <div id="divDrpItems{{$index}}" ng-repeat="item in droppableItems" data-containment=".contentArea" data-drag-active="true" data-draggable data-drag-id="$index" data-drag-class="drag-class" data-drop-class="drop-class-2">
                            <span class="option drag btn-draggable" math="item.title"><span class="fa fa-arrows"></span>{{item.title}}</span> 
                            <span class='sign'><span class='sr-only'></span><span class='fa'></span></span>
                            <span class="fdback fdback-desktop" ng-show="option.showOptionFeedbackModal && option.displayfeedback">
                                <div class="sr-only">Your feedback is incorrect</div>
                                <span class="fa fa-commenting-o" popover popover-html="{{option.noforeachblank}}" ng-click="GetFeedback(option)"></span>
                            </span>                          
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            
                <div class="clearfix"></div>
        </section>
        <div class="fdback-mobile">
            <div ng-repeat="option in QuestionOptions">
                <div id="divltd{{option.key}}" class="ltdtext" ng-class="option.currentClass" style="margin-bottom:10px;padding:10px;display:none;"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div role="alert" class="alert alert-success" ng-show="ShowGlobalFeedback && ShowGlobalCorrectFeedback" math="globalCorrectFeedback">
            {{globalCorrectFeedback}}
        </div>
        <div role="alert" class="alert alert-danger" ng-show="ShowGlobalFeedback && ShowGlobalIncorrectFeedback" math="globalInCorrectFeedback">
            {{globalInCorrectFeedback}}
        </div>
    </section>
</div>