﻿<div ng-switch="questionSubType">
    <div id="radio" ng-switch-when="clickable">
        <section class="contentArea" ng-if="questionLayout=='vertical' && showExhibit==false">
            <section class="question">
                <div class="stem">
                    <div>Q.{{currentPage}}&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>
                </div>
            </section>
            <section class="activity">
                <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}} </div>
                <ul class="options">
                    <li class="col-md-12" ng-repeat="Option in CurrentQuestion.QuestionData.choices">
                        <div class="option" ng-class="Option.currentClass">
                            <div class="radio">
                                <div ng-bind-html="trustAsHtml(Option.media)" ng-show="Option.media!=null"></div>
                                <label>
                                    <input id="radio{{Option.choiceid}}" class="clsOptionCheck" ng-checked="Option.isAnswered" ng-click="setOptions(Option)" type="radio" value="" name="1">
                                    <span math="Option.text" dynamic="Option.text">{{Option.text}}</span>
                                </label>
                            </div>
                            <div class="sign"><div class="sr-only">Your selection is incorrect</div><span class="fa"></span></div>
                            <span class="fdback" ng-show="showOptionFeedbackModal && Option.displayfeedback">
                                <div class="sr-only">Your feedback is incorrect</div>
                                <span id="spnltd{{Option.choiceid}}" class="fa fa-commenting-o" popover popover-html="{{Option.choiceid}}" ng-click="GetFeedback(Option)"></span>
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </section>
            <div class="clearfix"></div>
            <div role="alert" class="alert alert-success" ng-show="ShowGlobalFeedback && ShowGlobalCorrectFeedback" math="globalCorrectFeedback">
                {{globalCorrectFeedback}}
            </div>
            <div role="alert" class="alert alert-danger" ng-show="ShowGlobalFeedback && ShowGlobalIncorrectFeedback" math="globalInCorrectFeedback">
                {{globalInCorrectFeedback}}
            </div>
        </section>

        <section class="contentArea" ng-if="questionLayout=='horizontal' && showExhibit==false">
            <section class="question">
                <div class="stem">
                    <div>Q.{{currentPage}}&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>
                </div>
            </section>
            <section class="activity">
                <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}} </div>
                <ul class="options">
                    <li class="col-sm-6" ng-repeat="Option in CurrentQuestion.QuestionData.choices">
                        <div class="option" ng-class="Option.currentClass">
                            <div class="radio">
                                <div ng-bind-html="trustAsHtml(Option.media)" ng-show="Option.media!=null"></div>
                                <label>
                                    <input id="radio{{Option.choiceid}}" class="clsOptionCheck" ng-checked="Option.isAnswered" ng-click="setOptions(Option)" type="radio" value="" name="1">
                                    <span math="Option.text" dynamic="Option.text">{{Option.text}}</span>
                                </label>
                            </div>
                            <div class="sign"><div class="sr-only">Your selection is incorrect</div><span class="fa"></span></div>
                            <span class="fdback" ng-show="showOptionFeedbackModal && Option.displayfeedback">
                                <div class="sr-only">Your feedback is incorrect</div>
                                <span id="spnltd{{Option.choiceid}}" class="fa fa-commenting-o" popover popover-html="{{Option.choiceid}}" ng-click="GetFeedback(Option)"></span>
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </section>
            <div class="clearfix"></div>
            <div role="alert" class="alert alert-success" ng-show="ShowGlobalFeedback && ShowGlobalCorrectFeedback" math="globalCorrectFeedback">
                {{globalCorrectFeedback}}
            </div>
            <div role="alert" class="alert alert-danger" ng-show="ShowGlobalFeedback && ShowGlobalIncorrectFeedback" math="globalInCorrectFeedback">
                {{globalInCorrectFeedback}}
            </div>
        </section>
    </div>


    <div id="radio" ng-switch-when="clickable">
        <section class="contentArea" ng-if="showExhibit">
            <section class="question col-sm-6">
                <div class="stem">
                    <div>Q.{{currentPage}}&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>

                </div>
                <div ng-bind-html="CurrentQuestion.QuestionData.exhibit[0].path" ng-if="CurrentQuestion.QuestionData.exhibit[0].exhibit_type=='image'"></div>
                <div class="embed-responsive embed-responsive-16by9" ng-if="CurrentQuestion.QuestionData.exhibit[0].exhibit_type=='video'">
                    <iframe allowfullscreen="" ng-src="{{trustSrc(CurrentQuestion.QuestionData.exhibit[0].path)}}" class="embed-responsive-item"></iframe>
                </div>
            </section>
            <section class="activity col-sm-6">
                <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}} </div>
                <ul class="options ">
                    <li class="option" ng-repeat="Option in CurrentQuestion.QuestionData.choices" ng-class="Option.currentClass">
                        <div class="radio">
							<div ng-bind-html="trustAsHtml(Option.media)" ng-show="Option.media!=null"></div>
                            <label>
                                <input id="radio{{Option.choiceid}}" class="clsOptionCheck" ng-checked="Option.isAnswered" ng-click="setOptions(Option)" type="radio" value="" name="1">
                                <span math="Option.text" dynamic="Option.text">{{Option.text}}</span>
                            </label>
                        </div>
                        <div class="sign"><div class="sr-only">Your selection is incorrect</div><span class="fa"></span></div>                        
                        <span class="fdback" ng-show="showOptionFeedbackModal &&  Option.displayfeedback">
                            <div class="sr-only">Your feedback is incorrect</div>
                            <span id="spnltd{{Option.choiceid}}" class="fa fa-commenting-o" popover popover-html="{{Option.choiceid}}" ng-click="GetFeedback(Option)"></span>
                        </span>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </section>
            <div class="clearfix"></div>
            <div role="alert" class="alert alert-success" ng-show="ShowGlobalFeedback && ShowGlobalCorrectFeedback" math="globalCorrectFeedback">
                {{globalCorrectFeedback}}
            </div>
            <div role="alert" class="alert alert-danger" ng-show="ShowGlobalFeedback && ShowGlobalIncorrectFeedback" math="globalInCorrectFeedback">
                {{globalInCorrectFeedback}}
            </div>
        </section>
    </div>
    <div id="selectable" ng-switch-when="selectable">
        <section class="contentArea" ng-if="showExhibit==false">
            <section class="question">
                <div class="stem">
                    <div>Q.{{currentPage}}&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>
                </div>
            </section>
            <section class="activity">
                <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}} </div>
                <ol class="options boxed">

                    <li ng-repeat="Option in CurrentQuestion.QuestionData.choices">
                        <div class="option" ng-class="Option.currentClass">
                            <div class="radio">
								<div ng-bind-html="trustAsHtml(Option.media)" ng-show="Option.media!=null"></div>
                                <label><input type="radio" value="radio{{Option.choiceid}}" id="{{Option.choiceid}}" name="optionsRadios" ng-click="setOptions(Option)"><span class="label-g">{{$index+1}}</span><span math="Option.text" dynamic="Option.text">{{Option.text}}</span></label>
                            </div>
                            <div class="sign"><div class="sr-only">Your selection is incorrect</div><span class="fa"></span></div>
                            <span class="fdback" ng-show="showOptionFeedbackModal && Option.displayfeedback">
                                <div class="sr-only">Your feedback is incorrect</div>
                                <span id="spnltd{{Option.choiceid}}" class="fa fa-commenting-o" popover popover-html="{{Option.choiceid}}" ng-click="GetFeedback(Option)"></span>
                            </span>
                        </div>
                    </li>
                </ol>
                <div class="clearfix"></div>
            </section>
            <div class="clearfix"></div>
            <div role="alert" class="alert alert-success" ng-show="ShowGlobalFeedback && ShowGlobalCorrectFeedback" math="globalCorrectFeedback">
                {{globalCorrectFeedback}}
            </div>
            <div role="alert" class="alert alert-danger" ng-show="ShowGlobalFeedback && ShowGlobalIncorrectFeedback" math="globalInCorrectFeedback">
                {{globalInCorrectFeedback}}
            </div>
        </section>
    </div>
	
	   <div id="selectable" ng-switch-when="selectable">
        <section class="contentArea" ng-if="showExhibit">
            <section class="question col-md-6">
                <div class="stem">
                    <div>Q.{{currentPage}}&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>
                </div>
				
				<div ng-bind-html="CurrentQuestion.QuestionData.exhibit[0].path" ng-if="CurrentQuestion.QuestionData.exhibit[0].exhibit_type=='image'"></div>
                <div class="embed-responsive embed-responsive-16by9" ng-if="CurrentQuestion.QuestionData.exhibit[0].exhibit_type=='video'">
                    <iframe allowfullscreen="" ng-src="{{trustSrc(CurrentQuestion.QuestionData.exhibit[0].path)}}" class="embed-responsive-item"></iframe>
                </div>
            </section>
            <section class="activity col-md-6">
                <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}} </div>
                <ol class="options boxed">

                    <li ng-repeat="Option in CurrentQuestion.QuestionData.choices">
                        <div class="option" ng-class="Option.currentClass">
                            <div class="radio">
								<div ng-bind-html="trustAsHtml(Option.media)" ng-show="Option.media!=null"></div>
                                <label><input type="radio" value="{{Option.choiceid}}" id="radio{{Option.choiceid}}" name="optionsRadios" ng-click="setOptions(Option)"><span class="label-g">{{$index+1}}</span><span math="Option.text" dynamic="Option.text">{{Option.text}}</span></label>
                            </div>
                            <div class="sign"><div class="sr-only">Your selection is incorrect</div><span class="fa"></span></div>
                            <span class="fdback" ng-show="showOptionFeedbackModal && Option.displayfeedback">
                                <div class="sr-only">Your feedback is incorrect</div>
                                <span id="spnltd{{Option.choiceid}}" class="fa fa-commenting-o" popover popover-html="{{Option.choiceid}}" ng-click="GetFeedback(Option)"></span>
                            </span>
                        </div>
                    </li>
                </ol>
                <div class="clearfix"></div>
            </section>
            <div class="clearfix"></div>
            <div role="alert" class="alert alert-success" ng-show="ShowGlobalFeedback && ShowGlobalCorrectFeedback" math="globalCorrectFeedback">
                {{globalCorrectFeedback}}
            </div>
            <div role="alert" class="alert alert-danger" ng-show="ShowGlobalFeedback && ShowGlobalIncorrectFeedback" math="globalInCorrectFeedback">
                {{globalInCorrectFeedback}}
            </div>
        </section>
    </div>
</div>