﻿<header class="main-header-block">
    <section class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-sm-8 col-md-6 col-lg-7">
                    <h1 class="title">{{quizName}}</h1>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-5 actions">
                    <div class="progress-container" ng-show="showFeedback==false">
                        <div class="progress">
                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="page-progress-bar" ng-init="ProgressPercentage=0" ng-style="{width : ( Progress.ProgressPercentage + '%' ) }"> </div>
                            <div class="clear"></div>
                            <span class="p-sr-only">Question {{totalAtemptedQuestions}} of {{Progress.TotalQuestions}}</span>
                        </div>
                    </div>
                    <div class="timer" ng-show="showFeedback==false" ng-if="showTimer">
                        <button data-original-title="Pause Assignment" title="" data-placement="bottom" data-toggle="tooltip" class="btn btn-default play-pause" ng-disabled="!PauseTimer" ng-click="stopTimer()" ng-if="timerRunning"><i class="fa fa-pause"></i></button>
                        <button data-original-title="Play Assignment" title="" data-placement="bottom" data-toggle="tooltip" class="btn btn-default play-pause" ng-click="startTimer()" ng-if="!timerRunning"><i class="fa fa-play"></i></button>
                        <span><i class="fa fa-clock-o"></i></span> <span class="timing">
                            <span bind-timer></span>/ {{totaltime}}
                        </span>
                    </div>
                    <!--<button data-original-title="Full Screen" title="" data-placement="bottom" data-toggle="tooltip" class="btn btn-default zoom-in-out"><i class="fa fa-expand"></i></button>
                    <button data-original-title="More" title="" data-placement="bottom" data-toggle="tooltip" class="btn btn-default toc-list"><i class="fa fa-list-ul"></i></button>
                    <button data-original-title="Exit Assignment" title="" data-placement="bottom" data-toggle="tooltip" class="btn btn-default cancel" ng-click="cancel()"><i class="fa fa-close"></i></button>-->

                    <div id="myDropDown" class="dropdown toc-list-dropdown" ng-show="showFeedback==false && BackwardMovement" ng-click="OpenQuestionMap()">
                        <button id="dLabel" ng-hide="SkipQuestion == false" role="button" data-toggle="{{!isPaused ? 'dropdown' : ''}}" class="btn btn-default toc-list"  data-placement="bottom" title="" data-original-title="More"><i class="fa fa-list-ul"></i></button>

                        <!--<ul id="myTabs" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active">
                                    <a href="#Map" data-toggle="tab">Map</a>
                                </li>
                            </ul>-->

                            <!-- Tab panes -->
                            <!--<div class="tab-content" style="max-height:180px;overflow:auto">
                                <div class="tab-pane active" id="Map">
                                    <ul class="list-group" ng-repeat="question in AssignmentQuestions">
                                        <li class="list-group-item" ng-class="question.QuestionAttempted==true?'active':''">
                                            <a href="" ng-click="goTo($index+1,true)"> <i class="fa fa-circle" ng-show="question.QuestionAttempted"></i> <i class="fa fa-circle-o" ng-show="!question.QuestionAttempted"></i> Question {{$index+1}} <i class="fa fa-star-o  pull-right fa-bookmark-icon" ng-class="question.IsBookMarked==true?'active':''"></i> <i class="fa fa-repeat pull-right fa-repeat-icon"></i> <i class="fa fa-frown-o fa-fw  pull-right fa-fw-icon" ng-show="question.NotLearned==true"></i></a>-->
                                            <!--<a href="" ng-click="goTo($index+1,true)"> Question {{$index+1}} </a>-->
                                        <!--</li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </ul>-->
                    </div>
                </div>
                <div class="col-xs-2 actions-mobile">
                    <button class="btn btn-default" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-th"></i></button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <div class="progress-container" ng-show="showFeedback==false">
                        <div class="progress">
                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="page-progress-bar" ng-init="ProgressPercentage=0" ng-style="{width : ( Progress.ProgressPercentage + '%' ) }"> </div>
                            <div class="clear"></div>
                            <span class="p-sr-only">Question {{Progress.CurrentQuestion}} of {{Progress.TotalQuestions}}</span>
                        </div>
                    </div>
                        </li>
                        <li>
                            <div id="myDropDown" class="dropdown toc-list-dropdown" ng-show="showFeedback==false && BackwardMovement" ng-click="OpenQuestionMap()">
                                <button id="dLabel" ng-hide="SkipQuestion == false" role="button" data-toggle="{{!isPaused ? 'dropdown' : ''}}" class="btn btn-default toc-list"  data-placement="bottom" title="" data-original-title="More"><i class="fa fa-list-ul"></i> Question List</button>
        
                            </div>
                        </li>
                        
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
</header>

<div class="main-body-block">
    <section class="container" style="background-color:#fff;">
        <div id="quizContainer" class="quizcontent scroller feedback-container">
            <div ng-switch="questionTypeId" ng-show="showFeedback==false">
                <div ng-switch-when="mcss">
                    <div ng-include="'MCSS.html'" class="md-content-wrap"></div>
                </div>
                <div ng-switch-when="mcms">
                    <div ng-include="'MCMS.html'" class="md-content-wrap"></div>
                </div>
                <div ng-switch-when="fib">
                    <div ng-include="'FIB.html'" class="md-content-wrap"></div>
                </div>
                <div ng-switch-when="fib_dnd">
                    <div ng-include="'FIB.html'" class="md-content-wrap"></div>
                </div>
                <div ng-switch-when="matching">
                    <div ng-include="'Matching.html'" class="md-content-wrap"></div>
                </div>
                <div ng-switch-when="order">
                    <div ng-include="'ArrangeOrder.html'" class="md-content-wrap"></div>
                </div>
                <div ng-switch-when="choicematrix">
                    <div ng-include="'ChoiceMatrix.html'" class="md-content-wrap"></div>
                </div>
                <!--// end of code added by Ganesh-->
                <div ng-switch-when="essay">
                    <div ng-include="'Essay.html'" class="md-content-wrap"></div>
                </div>
                <div ng-switch-when="composite">
                    <div ng-include="'Composite.html'" class="md-content-wrap" ng-controller="CompositeEngineCtrl"></div>
                </div>
                <div ng-switch-when="textselection">
                    <div ng-include="'TextSelection.html'" class="md-content-wrap"></div>
                </div>
                <div ng-switch-when="hotspot">
                    <div ng-include="'HotSpot.html'" class="md-content-wrap"></div>
                </div>
                <div ng-switch-when="ltd">
                    <div ng-include="'LTD.html'" class="md-content-wrap"></div>
                </div>
                <div ng-switch-when="ltd_dnd">
                    <div ng-include="'LTD.html'" class="md-content-wrap"></div>
                </div>
            </div>
            <div ng-show="showFeedback==true">
                <div ng-include="'FeedBack.html'" class="md-content-wrap"></div>
            </div>


            <div class="clear"></div>
            <div class="hints-block" ng-show="showHint==true">
                <h6><span>HINTS</span></h6>
                <ol>
                    <li ng-repeat="questionHint in visibleHints track by $index" math="questionHint">
                        {{questionHint}}
                    </li>
                </ol>
            </div>
        </div>

    </section>
    <div class="navoverlay" ng-click="OpenQuestionMap()"></div>

    <div class="main-nav">
        <div class="proccess-bar"></div>
        <div class="main-nav-container">

            <ul class="nav nav-tabs nav-justified">
                <li id="liQuestionMap" class="active"><a href="#Map" data-toggle="tab" ng-click="ShowFilterQuestions(0)">Question Map</a>           </li>
                <li id="liBookMark"><a href="#Bookmarks" data-toggle="tab" ng-click="ShowFilterQuestions(5)">Bookmarks</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="Map">
                    <ul class="list-group" ng-repeat="question in AssignmentQuestions |filter:searchFilter">
                        <li class="list-group-item status-sign" ng-class="question.QuestionStatus"><a href="" ng-click="goTo(question.QuestionNo,true)">Question {{question.QuestionNo}} </a></li>        
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="tab-pane" id="Bookmarks">
                    <ul class="list-group" ng-repeat="question1 in AssignmentQuestions |filter:searchFilter">
                        <li class="list-group-item status-sign"><a href="" ng-click="goTo(question1.QuestionNo,true)">Question {{question1.QuestionNo}}</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="foter-navs">
                <div class="sign-block">
                    <button ng-disabled="QuestionMapBookMarkClicked" class="status-label not-visitedsl" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Not Visited" ng-click="ShowFilterQuestions(1)"></button>
                    <button ng-disabled="QuestionMapBookMarkClicked" class="status-label answer-visitedsl" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Visited not Answered" ng-click="ShowFilterQuestions(2)"></button>
                    <button ng-disabled="QuestionMapBookMarkClicked" class="status-label answer-rightsl" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Right Answer" ng-click="ShowFilterQuestions(3)"></button>
                </div>
                <div class="swich-menu">
                    <div class="pull-left View-All" ng-click="ShowFilterQuestions(4)">View All</div>

                    <div class="switch">
                        <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
                        <label id="toggleTest" for="cmn-toggle-1"></label>
                    </div>
                    <div class="pull-right Unattended" ng-click="ShowFilterQuestions(6)">View Unattended</div>
                    <div class="clearfix"></div>
                </div>
            </div>


        </div>
    </div> 
</div>


<footer class="main-footer-block">
    
        <div class="fib drop-list-content-mobile" ng-if="DropCanvasListIndex != null">
            <button type="button" class="minimize"><i class="fa fa-chevron-circle-down"></i></button>
            <h6>Choose A Word</h6>
            <ul ng-if="questionTypeId != 'composite'">
                <li ng-repeat="item in droppableItems" ng-click="AddItemToDropCanvasList(item,$index)">
                    <span class="option drag " math="item.title"><span class="fa fa-arrows"></span>{{item.title}}</span>
                </li>
            </ul>

            <ul ng-if="questionTypeId == 'composite'">
                <li ng-repeat="item in droppableItems" ng-click="AddItemToDropCanvasListComposite(item,$index)">
                    <span class="option drag " math="item.title"><span class="fa fa-arrows"></span>{{item.title}}</span>
                </li>
            </ul>
        </div>
    
    <section class="header-action not-mobile" ng-show="showFeedback==false">
        <div class="col-sm-3 extras">
            <button ng-show="BackwardMovement" ng-disabled="isPaused" ng-click="BookMarkQuestion()" data-original-title="Bookmark Question" title="" data-placement="bottom" data-toggle="tooltip" class="btn btn-default"><i class="fa fa-star-o fa-bookmark-icon" ng-class="BookMarked==true?'active':''"></i></button>
            <button class="btn btn-default hints not-mobile-button" ng-click="showHintData()" ng-disabled="hintCount==0||isPaused" ng-hide="ShowHintBox==false || isComposite"><span class="badge thin">{{hintCount}}</span> Show Hints</button>
            <span class="attempts" ng-show="showAttempt"> No of retries : {{CorrectAnswerCount}} of {{QuestionAttempt}}</span>
        </div>
        <div class="col-sm-9 primary">
            <button class="btn btn-default not-learned" ng-class="NotLearned==true?'active':''" ng-click="NotLearnedQuestion()" ng-disabled="isPaused"><i class="fa fa-frown-o fa-fw"></i> I haven’t Learned this yet</button>
            <button class="btn btn-primary" id="checkAnswerbtn" ng-click="showCorrectAnswer()" ng-disabled="DisableCorrectAnswer || isPaused || isEssay || !userHasSelectedOptions" ng-show="true">Check Answer</button>
            <div aria-label="Navigation" role="group" class="btn-group nxt-prev">
                <button class="btn btn-default btn-arrow-left" ng-click="goTo(currentPage - 1, false);" ng-show="BackwardMovement" ng-disabled="disableBackBtn || !BackwardMovement ||isPaused"><i class="fa fa-arrow-circle-left fa-fw"></i> Back</button>
                <button class="btn btn-default btn-arrow-right" ng-click="goTo(currentPage+1, true)" ng-disabled="disableNextBtn && !userHasSelectedOptions && !SkipQuestion ||isPaused"> Next <i class=" fa fa-arrow-circle-right fa-fw"></i></button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </section>
    <section class="header-action mobile-only" ng-show="showFeedback==false">
    	<div class="col-sm-9 primary text-center">
            <button class="btn btn-default not-learned"><i class="fa fa-frown-o fa-fw"></i> I haven’t Learned this yet</button>
            <button class="btn btn-primary" id="checkAnswerbtnmobile"  ng-click="showCorrectAnswer()" ng-disabled="questionTypeId=='essay'">Check Answer</button>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 extras">
            <button data-original-title="Bookmark Question" title="" data-placement="bottom" data-toggle="tooltip" class="btn btn-default"><i class="fa fa-star-o"></i></button>
            <button class="btn btn-default hints" ng-click="showHintData()" ng-disabled="hintCount==0||isPaused" ng-hide="ShowHintBox==false || isComposite"><span class="badge thin">{{hintCount}}</span> Show Hints</button>
            <div aria-label="Navigation" role="group" class="btn-group nxt-prev pull-right">
                <button data-original-title="Previous Question" title="" data-placement="bottom" data-toggle="tooltip" class="btn btn-default" ng-click="goTo(currentPage - 1, false);"><i class="fa fa-arrow-circle-left fa-fw"></i></button>
                <button data-original-title="Next Question" title="" data-placement="bottom" data-toggle="tooltip" class="btn btn-default" ng-click="goTo(currentPage+1, true)"><i class="fa fa-arrow-circle-right fa-fw"></i></button>
            </div>

        </div>
        
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <div class="col-md-12"><p class="help-block">All Rights Reserved. ©  {{ currentYear | date:'yyyy'}} <strong>LearningMate Solutions Pvt. Ltd</strong></p> </div>
    <div class="clearfix"></div>
</footer>

