﻿<header>
    <section class="header-top" id="divQuestionTopHeader">
    	<div class="container">
            <div class="col-lg-7 col-md-6 col-xs-8">
                <h1 class="title">Assessment Information</h1>
            </div>
            <div class="col-lg-5 col-md-6 actions">
                <button data-original-title="Exit Assignment" title="" data-placement="bottom" data-toggle="tooltip" ng-click="Ok()" class="btn btn-default cancel"><i class="fa fa-close"></i></button>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</header>

<section style="background-color: #fff;">
    <div class="panel-body">
        <ul>
            <li>Shuffle Option:{{AssignmentSetting.Shuffle ? 'Yes' : 'No'}}</li>
            <li>Backward movement:{{AssignmentSetting.BackwardMovement ? 'Yes' : 'No'}}</li>
            <li>Question Map :{{AssignmentSetting.QuestionMap ?'Yes' : 'No'}}</li>
            <!--<li>Allow Flagging:{{AssignmentSetting.AllowFlagging ? 'Yes' : 'No'}}</li>-->
            <!--<li>Attempts :{{AssignmentSetting.Attempts}}</li>-->
            <li>Question Attempts:{{AssignmentSetting.QuestionAttempts}}</li>
            <li>Hint :{{AssignmentSetting.HintOn ? 'Yes' :'No'}}</li>
            <li>Show Feedback At Question:{{AssignmentSetting.ShowFeedBackAt.Question ? 'Yes' :'No'}}</li>
            <li>Show Feedback At Option:{{AssignmentSetting.ShowFeedBackAt.Option ?'Yes' :'No'}}</li>
            <li>Timer:{{AssignmentSetting.Timer.Start ? 'Yes' : 'No'}}</li>
            <li>Skip Question :{{AssignmentSetting.SkipQuestion ? 'Yes' :'No'}}</li>
            <!--<li>Randomize Question:{{AssignmentSetting.RandomizeQuestion}}</li>-->
        </ul>
    </div>
</section>
<footer class="modal-footer">
    <div style="text-align:center;">
        <button type="button" class="btn btn-primary" ng-click="Ok()">Ok</button>
    </div>
</footer>
