﻿<section class="contentArea" ng-if="showExhibit==false">
    <section class="question">
        <div class="stem">
            <div class="qst">
                <div class="qst">{{currentPage}}&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>
            </div>
        </div>
    </section>
    <section class="activity">
        <div class="instruction" dynamic="instructionText" math="instructionText">{{instructionText}} </div>

        <div class="">
            <div id="interaction_RESPONSE" data-module="CustomInteraction-texthighlighter" data-identifier="RESPONSE" data-style="CustomInteraction-texthighlighter">
                <p math="PassageText" dynamic="PassageText">{{PassageText}}</p>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <div class="fdback-mobile">
        <div ng-repeat="option in QuestionOptions">
            <div id="divltd{{option.choiceid}}" class="ltdtext" ng-class="option.AnswerClass" style="margin-bottom:10px;padding:10px;display:none;"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div role="alert" class="alert alert-success" ng-show="ShowGlobalFeedback  && ShowGlobalCorrectFeedback" math="globalCorrectFeedback">
        {{globalCorrectFeedback}}
    </div>
    <div role="alert" class="alert alert-danger" ng-show="ShowGlobalFeedback && ShowGlobalIncorrectFeedback" math="globalInCorrectFeedback">
        {{globalInCorrectFeedback}}
    </div>
</section>
<section class="contentArea" ng-if="showExhibit">
    <section class="question col-md-6">
        <div class="stem">
            <div>Q.{{currentPage}}&nbsp;&nbsp;<span math="questionName" dynamic="questionName">{{questionName}}</span></div>

        </div>
        <div ng-bind-html="CurrentQuestion.QuestionData.exhibit[0].path" ng-if="CurrentQuestion.QuestionData.exhibit[0].exhibit_type=='image'"></div>
        <div class="embed-responsive embed-responsive-16by9" ng-if="CurrentQuestion.QuestionData.exhibit[0].exhibit_type=='video'">
            <iframe allowfullscreen="" ng-src="{{trustSrc(CurrentQuestion.QuestionData.exhibit[0].path)}}" class="embed-responsive-item"></iframe>
        </div>
    </section>
    <section class="activity col-md-6">
        <div class="instruction" math="instructionText" dynamic="instructionText">{{instructionText}} </div>
        <div class="">
            <div id="interaction_RESPONSE" data-module="CustomInteraction-texthighlighter" data-identifier="RESPONSE" data-style="CustomInteraction-texthighlighter">
                <p math="PassageText" dynamic="PassageText">{{PassageText}}</p>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <div class="fdback-mobile">
        <div ng-repeat="option in QuestionOptions">
            <div id="divltd{{option.choiceid}}" class="ltdtext" ng-class="option.AnswerClass" style="margin-bottom:10px;padding:10px;display:none;"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div role="alert" class="alert alert-success" ng-show="ShowGlobalFeedback && ShowGlobalCorrectFeedback" math="globalCorrectFeedback">
        {{globalCorrectFeedback}}
    </div>
    <div role="alert" class="alert alert-danger" ng-show="ShowGlobalFeedback && ShowGlobalIncorrectFeedback" math="globalInCorrectFeedback">
        {{globalInCorrectFeedback}}
    </div>
</section>