<div class="ajax-content" ng-cloak>
  <div class="overlay" ng-click="toggleShowMenuClass()"></div>
  <div class="main_container" ng-controller="imagepopupcontroller">  
    <!--HEADER STARTS HERE-->
    <div ng-include src="'templates/header.html'" class="header-container"></div>
    <!--HEADER ENDS HERE-->
    <div class="content-wrap">
      <!--SECTION STARTS HERE-->
      <section class="wrapper">
        <div class="page-title">
          <div class="pull-right">  
            <back-to-dashboard ng-show="project.id" project="project"></back-to-dashboard>
            <!--<button type="button" class="btn btn-primary" ng-click="showAddForm('')" ng-show="project.project_permissions['dataset.create'].grant">Create New {{set_type}}</button>-->
          </div>
          <div class="pull-middle"> 
            {{project_name}}
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="container product-inner">
          <div class="content">
            <div class="from-container">
              <!--/*stucture modified for all pages*/-->
              <!--                            <div class="from-container-row" ng-show="project.project_permissions && !project.project_permissions['dataset.show.all'].grant && applyPermission">
                                              <div class="pattern-list-container">
                                                  <div class="alert alert-danger" role="alert"><center>Sorry! Access Prohibited!</center></div> 
                                              </div>
                                          </div>                            -->
              <!--<div class="from-container-row" ng-show="project.project_permissions['dataset.show.all'].grant && applyPermission" >-->
              <div class="from-container-row" >
                <div class="pattern-list-container">
                  <div class="page-title ng-binding">
                    <div class="col-md-3">
                      Bulk apply Image Popup
                    </div>
                    <div class="col-md-3">
                      <button type="button" class="btn btn-default" ng-click="bulkApplyClass()" ng-disabled="addButtonDisabled">Add Class</button>
                      <button type="button" class="btn btn-default" ng-click="bulkRemoveClass()" ng-disabled="removeButtonDisabled">Remove Class</button>
                    </div>
                    <div class="col-md-6">

                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <p class="alert alert-warning" style="font-size: 13px" ng-if="active_status_count == 0 && logTotal != 0"><i class='glyphicon glyphicon-info-sign'></i>  {{process_text}}</p>
                  <div class="clearfix"></div>
                  <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                    <thead>
                      <tr>
                        <th width="45%">Recent Update Information Log :<span ng-show="currentOrderByField == 'title'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <!--tr ng-repeat="pattern in patternList"-->
                      <tr dir-paginate="logs in logList | itemsPerPage: itemsPerPage" total-items="logTotal" current-page="currentPage" pagination-id="logListId" class="page-user-row">
                        <td class="tooltips">
                          Image Popup <b>{{logs.action}} CLASS</b> action was completed by {{logs.updated_by}} on {{logs.created_at}}. The action affected <b> {{logs.TOTAL_INSTANCES_CHANGED}} figure(s) in the project</b>.
                        </td>  
                      </tr>
                      <tr>
                        <td colspan="3">
                          <!-- Pagination Starts Here -->
                    <dir-pagination-controls class="dir_pagination"
                                             boundary-links="true" 
                                             pagination-id="logListId" 
                                             on-page-change="pageChangeHandlerDataset(newPageNumber)" 
                                             template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                    </dir-pagination-controls>
                    <!-- Pagination Starts End -->
                    </td>
                    </tr>
                    <tr ng-show="logTotal == 0">
                      <td colspan="4">
                        <div class="alert alert-danger" role="alert"><center>No Record Found!!!!</center></div>  
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="clearfix"></div>
                </div>
              </div>
              <!--/*//////structure modified for all pages*/--> 
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </section>
      <!--SECTION ENDS HERE-->
    </div>
  </div>
  <div class="clearfix"></div>
</div>