
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.association-search-list{
    .btn-icon{
        @include font-size(12);
        @include font-color($darkest-xxxx);
    }
    .custom-control-checkbox{
        @include top(5px);
    }
}