<div class="drop-box-container" flow-drop ng-cloak>
    <div class="drop-hints">
        drop a file here
        <span class="upload-img">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        </span>
    </div>
    <button class="btn btn-green" type="button" flow-btn>Upload a file</button>
</div>
<!-- Asset Upload Popup starts-->
<div ng-show="$flow.files.length" ng-cloak>
    <div class="uploading-container" flow-transfers flow-file-success="edit_toc(object_id)" ng-model="ismaximize" ng-init="ismaximize = true">
        <div class="page-title" ng-click="ismaximize = !ismaximize" >
            <span class="caret {{{true:'maximize',false:'manimize'}[ismaximize]}}" ng-click="ismaximize = !ismaximize" ></span>
            <!--span class="upload-status-icon"><i class="error-icon sprite3"></i></span-->Uploading <span class="upload-text"><span class="file-no">({{$flow.files.length}} Files)</span>     <span  class="file-size">{{$flow.progress() * 100 | number:0}}% of {{$flow.getSize() | bytes}}</span>     <span class="file-time">Expected Time: {{$flow.timeRemaining()}} Secs</span></span>
            <span class="title-btn-area">
                <button class="btn btn-default" ng-click="$flow.pause()" >Pause All</button> 
                <button class="btn btn-default" ng-click="$flow.cancel()">Cancel All</button>
            </span>
        </div>
        <div class="uploading-content" ng-show="ismaximize ? true : ''">
            <div ng-repeat="file in transfers" class="uploading-data {{{true:'error',false:''}[file.error]}}">
                <div class="row">
                    <div class="uploaddetails  col-md-8 col-sm-9">
                        <span class="loading-control">
                            <button type="button" class="play-btn" ng-click="uploadFiles();">
                                <i class="fa fa-play"></i>
                            </button>
                            <button type="button" class="close-btn" ng-click="file.pause()" >
                                <i class="fa fa-times"></i>
                            </button>
                            
                        </span>
                        <span class="loading-control-text">
                            <strong>Size: {{file.size|bytes}}</strong><strong>Time Left: {{file.timeRemaining()}} secs</strong>
                        </span>
                        {{file.name}}
    
                        <div class="clearfix"></div>
                    </div>
                    <div class="progress col-md-4 col-sm-3">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{file.progress() * 100 | number:0}}%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>            
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- Asset Upload Popup ends-->