<style>
    .drop-box-container {
        border: 5px dashed #e1e1e1;
        border-radius: 10px;
        margin: 0 auto;
        max-width: 150px;
        min-height: 188px;
        position: relative;
    }
    .drop-hints {
        color: #e0e0e0;
        font-size: 18px;
        height: 100px;
        left: 50%;
        margin-left: -59px;
        margin-top: -50px;
        position: absolute;
        top: 40%;
        width: 150px;
    }
    .upload-img {
        background-position: -156px -350px;
        height: 68px;
        left: 50%;
        margin-left: -35px;
        margin-top: -34px;
        padding-top: 15px;
        position: absolute;
        top: 65%;
        width: 82px;
    }
</style>
<div class="ajax-content" flow-init="{target: 'api/v1/upload'}"> 
    <div ng-controller="flowplugin">
        <div ng-include src="'templates/plugin/flowtemplate.html'"></div>
    </div>
</div>