@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.workflow{
    &__step {
        &:last-child {
            @include border-none(none);
        }        

        .dropdown {
          .dropdown {
            &-menu {
              &-right{
                @include left(inherit);
                @include right(-10px);
              }
            }
          }
        }

        &.gu {
          &-transit {
            @extend %no-box-shadow;
            @include border-none(none);
          }
        }

        &-footer {
          @include padding-indv('top', 10px);
          @include border-indv('top', 1px, solid, $light);
        }

        &.view {
          @include padding-all(10px, 10px, 30px, 60px);
        }

        &.create {
          @include padding-all(15px, 15px, 10px, 15px);
          @include margin-indv('left', 85px);
          @include border-all(1px, solid, $light);
          @include border-radius(4px);
    
          &:before {
            @include left(-56px);
          }
    
          &:after {
            @include left(-46px);
          }

          &.workflow{
            &__step{
              &:before {
                @include top(3px);
              }
        
              &:after {
                @include top(13px);
              }
            }
          }

          .metadata-set-list {
            @extend %position-relative;
            @include top(2px);
          }
        }
    
        .drag {
          @extend %position-relative;
          @include padding-indv('top', 10px);
          @include margin-all(0 -10px 0 -10px);
    
          div[class^='col-'] {
            @include padding-indv('left', 10px);
            @include padding-indv('right', 10px);
          }
    
          &:hover {
            @include bgcolor($lighter);
          }
    
          .handle {
            @extend %position-absolute;
            @include left(-20px);
            @include top(16px);
          }
        }
    
        &--title {
          @include font-color ($black);
          line-height: 1.125rem;
        }
    }
}
