<!-- Create Mode-->
<div class="vl row">
  <div class="workflow__step create position-relative col-md-7">
    <div class="row">
      <div class="form-group col-lg-12 col-sm-12">
        <p class="mb-0">Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are
          required.</p>
      </div>
      <div class="form-group col-lg-12 col-sm-12" *ngIf="createNewWorkflow">
        <label for="workflowName" id="workflowNameLabel" class="font-bold">Workflow Name
          <span class="mandatory" aria-hidden="true">*</span>
        </label>
        <input id="workflowName" class="form-control font-bold ng-untouched ng-pristine ng-invalid"
          [formControl]="form.controls['workflowName']" placeholder="" type="text" ng-reflect-form="[object Object]"
          ng-reflect-model=" " [(ngModel)]="workflowName" (keyup)="checkValidation();" required>
        <div *ngIf="form.controls['workflowName'].hasError('required') && form.controls['workflowName'].touched"
          class="error--txt" role="alert">
          <p class="font-bold m-0">Workflow Name Required.</p>
        </div>
      </div>

      <div class="form-group col-lg-12 col-sm-12">
        <label for="workflowStepName" id="wfsNameLabel" class="font-bold">Workflow Stage Name
          <span class="mandatory" aria-hidden="true">*</span>
        </label>
        <input id="workflowStepName" class="form-control font-bold ng-untouched ng-pristine ng-invalid"
          [formControl]="form.controls['workflowStepName']" placeholder="" type="text" ng-reflect-form="[object Object]"
          ng-reflect-model=" " [(ngModel)]="workflowStepName" (keyup)="checkValidation();" required>
        <div *ngIf="form.controls['workflowStepName'].hasError('required') && form.controls['workflowStepName'].touched"
          class="error--txt" role="alert">
          <p class="font-bold m-0">Workflow Stage Name Required.</p>
        </div>
      </div>

      <div class="form-group col-lg-12 col-sm-12">
        <label for="workflowDesc" id="wfdLabel" class="font-bold">Workflow Description
        </label>
        <textarea class="form-control font-bold ng-untouched ng-pristine ng-valid" id="workflowDesc"
          [formControl]="form.controls['workflowDesc']" placeholder="" rows="2" [(ngModel)]="workflowDesc"
          (keyup)="checkValidation();"></textarea>
      </div>



      <div class="form-group col-lg-12 col-sm-12" (clickOutside)="onClickedOutside($event)">
        <app-auto-complete [listingObj]="roles" (selectedObject)="updateSelectedObject($event)" #autoComplete
          [isMandatory]="false" [disableOption]="true" [selectType]="selectType" [uniqueId]="uniqueId"
          [propName]="'name'" [clearArray]='true' [viewLocation]="'workflow'" [autoCompleteTitle]="autoCompleteTitle">
        </app-auto-complete>
      </div>

      <div class="col-12" *ngIf="selectedRoles.length > 0">
        <ul class="list-unstyled overide p-0">
          <li class="form-row" *ngFor="let data of selectedRoles;let index=index">
            <ul class="list-unstyled d-flex w-100">
              <li class="col-11 pl-0 font-bold"> {{data.name}} </li>
              <li class="col-1 text-right">
                <button class="btn btn-icon tooltip top lg position-relative" id="{{'delBtncw_' + index}}" data-tooltip="Delete added role" (click)="deleteRole(data)" [attr.aria-label]="'Delete added role'">
                  <em class="icon-ico-garbage"></em>
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </div>


      <div class="col-lg-12 col-sm-12 text-right workflow__step-footer">
        <button class="btn btn-cancel btn-sm mr-1" id="cnlBtncw" (click)="cancle();">Cancel</button>
        <button class="btn btn-primary btn-sm" id="doneBtncw" (click)="createWorkflow();" [disabled]="!formValidate"
          *ngIf="!editStage">Done</button>
        <button class="btn btn-primary btn-sm" id="doneBtncw" (click)="onUpdate();" [disabled]="!formValidate"
          *ngIf="editStage">Done</button>
      </div>

    </div>

  </div>
  <!-- End Of Create Mode-->
