
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.overide{
    @include bgcolor($white);
    @include border-all(1px, solid, $light);

    li{
        &:before{
            @include display(none);
        }
    }

    .form-row{
        @include border-all( 1px, solid, $transparent);
        @include border-indv('bottom', 1px, solid, $light);
        @include position(relative);
        @include padding-all(10px, 10px, 10px, 25px);
    }
}
