<div class="admin-user-listing">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <div class="container-fluid">
      <section class="align-btn">
        <button id="crtWfl" class="btn btn-primary btn-sm" (click)="createWorkflow('create');" *ngIf="createWorkflowPer">Create New
          Workflow
        </button>
        <div class="row">
          <!-- // ----------------for Common Data table----------------- // -->
          <app-data-table class="w-100" *ngIf="listWorkflow" [showMenu]="true" [tableCategory]="'Workflow'"
            [columnList]="listOfColumn" [dataSet]="workflowList" [optionList]="optionList" [showLoader]="wfLoader"
            (clickedOption)="onOptionClicked($event)"></app-data-table>
        </div>
      </section>
      <!-- end of project filter section  -->
    </div>
    <!-- end of container-fluid -->
  </div>
  <!-- end of justify-content -->

</div>

<!-- Edit Workflow title Modal -->
<app-modal [modalId]="'editTitle'" [showCloseAlert]="form.dirty" [modalSize]="'small'" (closeEvent)="onCancel()">
  <modal-div id="{{isDupliModal ? 'Duplicatewfl': 'Editwfl'}}" class="title-text">
    {{isDupliModal ? 'Duplicate Workflow' : 'Edit Workflow Title'}}
  </modal-div>

  <modal-div class="body-content">
    <p class="mb-0">Field marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) is required.</p>
    <div class="row">
      <div class="col-12 p-0">
        <form [formGroup]="form">
          <div class="form-group col-lg-12 col-sm-12">
            <label for="workflowTitle" class="font-bold" id="wftLabel">Workflow Title <span class="mandatory"
                aria-hidden="true">*</span></label>
            <input type="text" class="form-control font-bold" [(ngModel)]="workflowTitle"
              formControlName="workflow_title" id="workflowTitle" (keyup)="checkValidation();">
            <p class="form-text text-muted text-right">Use a name that is easy to recognize.</p>
          </div>
        </form>
      </div>
    </div>
  </modal-div>

  <modal-div class="footer-buttons">
    <button type="button" id="{{isDupliModal ? 'SaveWfl' : 'UpdateWfl'}}" class="btn btn-primary btn-sm" [disabled]="!valid"
      (click)="isDupliModal ? duplicateWorkflow($event) : updateWorkflowTitle()"
      data-dismiss="modal">{{isDupliModal ? 'Save' : 'Update'}}</button>
  </modal-div>
</app-modal>
