<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="commentController">  
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title">
                    <div class="pull-right">  
                        <!--button type="button" class="btn btn-default" ng-click="backToDashBoard(toc_creation_status, project_id);" ><i class="fa fa-chevron-left"></i>Back to Dashboard</button-->
                        <back-to-dashboard ng-if="project.id" project="project"></back-to-dashboard>

                    </div>
                    <div class="pull-middle"> 
                        {{project_name}}
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">
                            <!--/*stucture modified for all pages*/-->
                            <div class="from-container-row">
                                <div class="pattern-list-container">

                                    <div class="page-title">Project Commenting System
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <!-- declare our angular app and controller --> 
                                    <div class="container"> <div class="col-md-8 col-md-offset-2">

                                            <!-- PAGE TITLE =============================================== -->
                                            <div class="page-header">
                                                <h4>Name: {{project_name}}</h4>
                                                <h5>Description: {{project_description}}</h5>
                                            </div>

                                            <!-- NEW COMMENT FORM =============================================== -->
                                            <form> <!-- ng-submit will disable the default form action and use our function -->

                                                <!-- AUTHOR -->
                                                <!--            <div class="form-group">
                                                                <input type="text" class="form-control input-sm" name="author" ng-model="commentData.author" placeholder="Name">
                                                            </div>-->

                                                <!-- COMMENT TEXT -->
                                                <div class="form-group">
                                                    <span ng-show="showMsg" ng-class="{'label-success': commentStatus == 200, 'label-danger': commentStatus == 400, 'label-info': commentStatus == 0}" class="label">{{message}}</span>
                                                    <textarea class="form-control input-lg" name="comment" ng-model="commentData.text" placeholder="Say what you have to say"></textarea>
                                                    <span ng-show="showMsg && formError.text!=''" class="text-danger center-block" class="label">{{formError.text}}</span>
                                                </div>

                                                <!-- SUBMIT BUTTON -->
                                                <div class="form-group text-right">   
                                                    <button type="submit" class="btn btn-primary btn-lg" ng-click="submitComment()">Submit</button>
                                                </div>
                                            </form>

                                            <!-- LOADING ICON =============================================== -->
                                            <!-- show loading icon if the loading variable is set to true -->
                                            <!--p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p-->

                                            <!-- THE COMMENTS =============================================== -->
                                            <!-- hide these comments if the loading variable is true -->
                                            <div class="comment" ng-hide="loading" ng-repeat="comment in comments track by $index">
                                                <h3><!--Comment #{{ $index + 1}}--> <small>by {{ comment.first_name + " " + comment.last_name}}</small></h3>
                                                <p>{{comment.text}}</p>
                                                <span>{{comment.created_at | date:'medium'}}</span>
                                                <p ng-if="loggedid_user == comment.user_id || loggedid_user==1"><a href="javascript:void(0);" ng-click="deleteComment(comment.id)" class="text-muted">Delete</a></p>
                                            </div>

                                        </div> 
                                    </div> 


                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <!--/*//////stucture modified for all pages*/--> 
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
        <!--FOOTER STARTS HERE-->
        <!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>