<style>
  .ajax-content{
    width:100%;
    height:100%;
    position:absolute;
    /*display:none;*/
  }
    .sortorder:after {
        content: '\25b2';   // BLACK UP-POINTING TRIANGLE
    }
    .sortorder.reverse:after {
        content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
    }
  
</style>
<div class="ajax-content" ng-cloak>
  <div class="overlay" ng-click="toggleShowMenuClass()"></div>
  <div class="main_container" ng-controller="global_comment">  
    <!--HEADER STARTS HERE-->
    <div ng-include src="'templates/header.html'" class="header-container"></div>
    <!--HEADER ENDS HERE-->
    <div class="content-wrap">
      <!--SECTION STARTS HERE-->

      <section class="wrapper">
        <div class="page-title">
          <div class="pull-right">  
            <back-to-dashboard ng-if="project.id" project="project"></back-to-dashboard>
            <!--button type="button" class="btn btn-default" ng-click="backToDashBoard(toc_creation_status, project_id);" ><i class="fa fa-chevron-left"></i>Back to Dashboard</button-->

          </div>
          <div class="pull-middle"> 
            {{project_name}}
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="container product-inner">
          <div class="content">
            <div class="from-container">
              <!--/*stucture modified for all pages*/-->
              <div class="from-container-row">
                <div class="pattern-list-container">

                  <div class="page-title">Project Commenting System
                    <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                  <!-- declare our angular app and controller --> 
                  <div class="container"> <div class="col-md-8 col-md-offset-2">
                      <div style="float: right;margin-top:5px">                                                                                                   Sort By: 
                        <button ng-click="sortBy('type')">Type</button>
                        <span class="sortorder" ng-show="propertyName === 'type'" ng-class="{reverse: reverse}"></span>
                        <button ng-click="sortBy('status')">Status</button>
                        <span class="sortorder" ng-show="propertyName === 'status'" ng-class="{reverse: reverse}"></span>
                        <button ng-click="sortBy('time')">Time</button>
                        <span class="sortorder" ng-show="propertyName === 'time'" ng-class="{reverse: reverse}"></span>
                      </div>
                      <!-- PAGE TITLE =============================================== -->
                      <div class="page-header">
                        <h4>Name: {{project_name}}</h4>
                        <h5>Description: {{project_description}}</h5>
                      </div>

                      <!-- NEW COMMENT FORM =============================================== -->
                      <div class="comment-wrapper">
                        <form> <!-- ng-submit will disable the default form action and use our function -->

                          <div class="form-group comment-textarea">
                            <span ng-show="commentResponse.showMsg" ng-class="{'label-success': commentResponse.status == 200, 'label-danger': commentResponse.status == 400, 'label-info': commentResponse.status == 0}" class="label">{{commentResponse.message}}</span>
                            <textarea class="form-control input-lg" name="comment" ng-model="commentData.text" placeholder="Say what you have to say" style="resize: vertical;"></textarea>
                            <span ng-show="commentResponse.showMsg && formError.text != ''" class="text-danger center-block" class="label">{{formError.text}}</span>
                          </div>

                          <div class="comment-button">


                            <div class="row">
                              <div class="form-group col-sm-3">
                                <label for="Types" class="col-sm-5">Types</label>
                                <div class="col-sm-7">
                                  <select ng-model="commentData.ticket_issue_types" name="ticket_issue_types" 
                                          ng-options="types.name for types in ticket_issue_types" class="form-control" required>
                                  </select>
                                  <span ng-show="commentResponse.showMsg && formError.ticket_issue_types != ''" class="text-danger center-block" class="label">{{formError.ticket_issue_types}}</span>
                                </div>
                              </div>
                              <div class="form-group col-sm-3">
                                <label for="Users" class="col-sm-5">Assigned to</label>
                                <div class="col-sm-7">
                                  <select ng-model="commentData.project_users" name="project_users" ng-options="user.username for user in project_users" class="form-control" required>
                                  </select>
                                  <span ng-show="commentResponse.showMsg && formError.project_users != ''" class="text-danger center-block" class="label">{{formError.project_users}}</span>
                                </div>
                              </div>
                              <div class="form-group col-sm-3">
                                <label for="Users"  class="col-sm-5">Status</label>
                                <div class="col-sm-7">
                                  <select ng-model="commentData.ticket_status" name="ticket_status" ng-options="status.name for status in ticket_status" class="form-control" required>
                                  </select>
                                  <span ng-show="commentResponse.showMsg && formError.ticket_status != ''" class="text-danger center-block" class="label">{{formError.ticket_status}}</span>
                                </div>
                              </div>
                              <div class="form-group col-sm-3 text-right">
                                <button type="submit" class="btn btn-primary btn-sm"  ng-click="submitComment()">Submit</button>
                              </div>
                              <div class="clearfix"></div>
                            </div>

                          </div>
                        </form>




                        <!-- THE COMMENTS =============================================== -->
                        <!-- hide these comments if the loading variable is true -->
                        <div class="comment-body">
                          <div class="comment clearfix" ng-repeat="comment in comments track by $index | orderBy:propertyName:reverse">

                            <div class="row">
                              <div class="col-sm-6">
                                <h3><!--Comment #{{ $index + 1}}--> <small>by {{ comment.created_by_username}}</small></h3>
                              </div>
                              <div class="col-sm-6 text-right"><p><a href="javascript:void(0);" ng-click="deleteTicket(comment)" class="text-muted btn btn-default btn-xs">Delete</a> | <a href="javascript:void(0);" class="text-muted  btn btn-primary btn-xs reply-on-ticket" ng-click="openReplyForm(comment.ticket_id)">Add Comment</a></p>
                              </div>
                            </div>
                            <p>{{comment.issue_description}}</p>

                            <div class="">                                                            
                              <label class="action-link labl {{comment.type| lowercase}}">{{comment.type}}</label>
                              <label class="action-link status">{{comment.status}}</label> &nbsp;&nbsp;
                              <span class="date-cmt">{{comment.created_at| date:'medium'}}</span>
                              <span class="date-cmt"> | Assigned to: {{comment.assigned_to_username}}</span>


                            </div>
                            <div class="reply_div inner-comment-container" style="display:block;">

                              <div id="reply_form{{comment.ticket_id}}" style="display:none;" >
                                <input type="hidden" name="ticket_id" class="ticket_id" ng-value="{{comment.ticket_id}}" />
                                <div class="form-group comment-textarea">
                                  <textarea name="comment" ng-model="replyData[comment.ticket_id].text" placeholder="Enter Text"  class="form-control" style="resize: vertical;"></textarea>
                                  <!--span ng-show="replyFormError.text != ''" class="text-danger center-block" class="label">{{replyFormError.text}}
                                  replyData[comment.ticket_id].showMsg && 
                                  </span-->
                                  <span ng-show="replyFormError[comment.ticket_id].text != ''" class="text-danger center-block" class="label">{{replyFormError[comment.ticket_id].text}}</span>


                                </div>
                                <div class="clearfix"></div>
                                <div class="comment-button">


                                  <div class="row">
                                    <div class="form-group col-sm-3">
                                      <label for="Types" class="col-sm-5">Types</label>
                                      <div class="col-sm-7">
                                        <select ng-model="replyData[comment.ticket_id].ticket_issue_types" name="ticket_issue_types" ng-options="types.name for types in ticket_issue_types" class="form-control" required>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                      <label for="Users" class="col-sm-5">Users</label>
                                      <div class="col-sm-7">
                                        <select ng-model="replyData[comment.ticket_id].project_users" name="project_users" ng-options="user.username for user in project_users" class="form-control" required>
                                        </select>
                                        <span ng-show="replyResponse[comment.ticket_id].showMsg && formError[comment.ticket_id].project_users != ''" class="text-danger center-block" class="label">{{formError[comment.ticket_id].project_users}}</span>
                                      </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                      <label for="Users"  class="col-sm-5">Status</label>
                                      <div class="col-sm-7">
                                        <select ng-model="replyData[comment.ticket_id].ticket_status" name="ticket_status" ng-options="status.name for status in ticket_status" class="form-control" required>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="form-group col-sm-3 text-right">
                                      <button type="submit" class="btn btn-default btn-sm" ng-click="closeReplyForm(comment.ticket_id)">Cancel</button>
                                      <button type="submit" class="btn btn-primary btn-sm"  ng-click="submitReply(comment)">Submit</button>
                                    </div>
                                    <div class="clearfix"></div>
                                  </div>

                                </div>
                              </div>
                              <ul ng-if="comment.ticket_comments.length > 0">
                                <li ng-repeat="reply in comment.ticket_comments">

                                  <div class="comment-body">
                                    <div class="comment clearfix">
                                      <div class="row clearfix">
                                        <div class="col-sm-6">
                                          <h3><small>by {{reply.created_by_username}} </small> | <span class="date-cmt">{{reply.created_at| date:'medium'}}</span></h3>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                          <p>
                                            <a href="javascript:void(0);" ng-click="deleteReply(reply)"  class="text-muted btn btn-default btn-xs">Delete</a>
                                          </p>
                                        </div>
                                      </div>
                                      <p>{{reply.comment}}</p>
                                      <div class=""><span class="date-cmt">{{reply.craeted_at}}</span></div>


                                    </div>
                                  </div>
                                </li>                                                            
                              </ul>


                              <!--<div class="form-group col-sm-2">Types 
                                  <select ng-model="replyData.ticket_issue_types" name="ticket_issue_types" ng-options="types.name for types in ticket_issue_types" class="form-control" required>
                                  </select>
                              </div>
                              <div class="form-group col-sm-2">Users 
                                  <select ng-model="replyData.project_users" name="project_users" ng-options="user.username for user in project_users" class="form-control" required>
                                  </select>
                              </div>
                              <div class="form-group col-sm-2">Status 
                                  <select ng-model="replyData.ticket_status" name="ticket_status" ng-options="status.name for status in ticket_status" class="form-control" required>
                                  </select>
                              </div>
                              <div class="form-group text-right">   
                                  <button type="submit" class="btn btn-primary btn-lg" ng-click="submitReply(comment.ticket_id)">Submit</button>
                              </div>-->




                            </div>
                          </div>
                        </div>
                      </div>
                    </div> 
                  </div> 


                  <div class="clearfix"></div>
                </div>

              </div>
              <!--/*//////stucture modified for all pages*/--> 
            </div>

          </div>
        </div>
        <div class="clearfix"></div>
      </section>
      <!--SECTION ENDS HERE-->
    </div>
    <!--FOOTER STARTS HERE-->
    <!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
    <!--FOOTER ENDS HERE-->

  </div>
  <div class="clearfix"></div>
</div>