<!-- Create/Update project modal start -->
<app-modal [modalId]="'createProject'" [modalContentId]="'createNewProjectContent'"
  [showCloseAlert]="form.dirty && currentStep===1" [showDoneBtn]="currentStep!==1" [modalSize]="'big'"
  (closeEvent)="onCancel()">
  <modal-div class="title-text" id="projecttitle">
    {{((currentMode==='create') ? 'Create New Project' : (currentMode==='update' ? 'Update Project' : ''))}}
  </modal-div>

  <modal-div class="body-content">
    <div class="row justify-content-center">
      <div class="col-md-11 col-lg-10 col-xl-8 step">
        <div class="row justify-content-between align-items-center taxonomies-creation" *ngIf="inputControlsDetails">

          <div class="col-9">
            <h3 class="font-bold">How would you like to proceed?</h3>
          </div>

          <div class="col-3 text-right step--count">
            <p class="mb-0 font-bold">Step {{currentStep}} of {{totalStep}}</p>
          </div>

          <div class="col">
            <p *ngIf="currentMode==='create' && currentStep===1" id="createNewProjectContent"> Fill in the details to
              create
              your project. You will have to configure it later when created.</p>
            <p *ngIf="currentMode==='update' && currentStep===1" id="createNewProjectContent"> Fill in the details to
              edit
              your project.</p>
            <p *ngIf="currentStep===2" id="createNewProjectContent"> Upload documents for the project.</p>
          </div>

          <div class="col-12">
            <p *ngIf="currentMode==='create' && (currentStep===1)">Fields marked with an asterisk (<span
              class="mandatory" aria-hidden="true">*</span>) are required.</p>
            <form action="" id="" name="" [formGroup]="form">
              <div class="form-group" *ngIf="currentStep===1">
                <label for="projectName" class="font-bold" id="projectNameLabel">Project Name <span class="mandatory"
                    aria-hidden="true">*</span></label>
                <input type="text" class="form-control font-bold" id="projectName" name="projectName"
                  [(ngModel)]="projectName" formControlName="project_name"
                  aria-labelledby="projectNameLabel projectNameHelp" required>
                <div *ngIf="form.controls['project_name'].hasError('required') && form.controls['project_name'].touched"
                  class="error--txt">
                  <p class="font-bold m-0">Project Name Required.</p>
                </div>
                <p id="projectNameHelp" class="form-text text-muted text-right">{{inputControlsDetails.projectName}}</p>
              </div>

              <div class="form-group" *ngIf="currentStep===1">
                <label for="projectDescription" class="font-bold" id="projectDescriptionLabel">Description</label>
                <textarea class="form-control font-bold" id="projectDescription" name="projectDescription"
                  [(ngModel)]="projectDesc" rows="3" formControlName="project_desc"
                  aria-labelledby="projectDescriptionLabel projectDescriptionHelp"></textarea>
                <p id="projectDescriptionHelp" class="form-text text-muted text-right">
                  {{inputControlsDetails.description}}</p>
                <!--A description that explains what this project is all about.-->
              </div>

              <div class="form-group" *ngIf="currentMode==='update' && (currentStep===1)">
                <label for="projectWorkflowTemplate" class="font-bold"
                  id="projectWorkflowTemplateLabel">Workflow</label>
                <input type="text" name="projectWorkflowTemplate" id="projectWorkflowTemplate"
                  class="form-control font-bold" [(ngModel)]="tempSelectedWorkFlow.title"
                  formControlName="temp_project_workflow" [attr.disabled]='true'>
              </div>

              <div class="form-group" *ngIf="currentMode==='create' && (currentStep===1)">
                <!-- <label for="projectWorkflowselect" class="font-bold">Workflow <span class="mandatory"
                    aria-hidden="true">*</span></label>
                <select class="custom-select" [(ngModel)]="selectedWorkFlow" id="projectWorkflowselect"
                  name="projectWorkflow" aria-describedby="projectTaxonomyHelp" name="draft_taxonomy"
                  formControlName="project_workflow" required>
                  <option *ngFor="let item of workflowList" [ngValue]="item">{{ item.name }}</option>
                </select> -->

                <app-auto-complete id="workflow" [listingObj]="workflowList"
                  (selectedObject)="updateSelectedObject($event)" [selectType]="selectType"
                  [uniqueId]="uniqueId_workflow" [propName]="'name'" (validationEvent)="checkValidation('workflow')"
                  [autoCompleteTitle]="autoCompleteTitle_workflow" #autoComplete_workflow
                  (clickOutside)="onClickedOutsideWorkflow($event, 'workflow')">
                </app-auto-complete>

                <p class="mt-2 mb-0 text-right">
                  <button class="btn btn-clear" data-toggle="modal" data-target="#viewWorkflowModal" *ngIf="((tempSelectedWorkFlow && tempSelectedWorkFlow?.workflow_id) ||
                      (selectedWorkFlow  && selectedWorkFlow?.workflow_id)) && (currentStep===1)"
                    (click)="onPreviewClick()" class="font-bold text-underline">Preview Workflow<span class="sr-only">Opens in a new dialog</span>
                </button>
                  <!--*ngIf="((currentMode==='update' && tempSelectedWorkFlow && tempSelectedWorkFlow?.workflow_id) ||
                      (currentMode==='create' && selectedWorkFlow && selectedWorkFlow?.workflow_id)) && (currentStep===1)"-->
                </p>
              </div>

              <div class="form-group" *ngIf="(currentStep===1)">


                <!-- <select class="custom-select" *ngIf="currentMode==='create'" id="draftTaxonomy" name="draft_taxonomy"
                  [(ngModel)]="selectedTaxonomy" formControlName="project_taxonomy"
                  (ngModelChange)="onTaxonomySelected($event)" required
                  aria-labelledby="projectTaxonomyLabel projectTaxonomyHelp">
                  <option *ngFor="let item of taxonomyList" [ngValue]="item">{{ item.title }}</option>
                </select> -->

                <app-auto-complete *ngIf="currentMode==='create'" id="taxonomy" [listingObj]="taxonomyList"
                  (selectedObject)="onTaxonomySelected($event)" [selectType]="selectType" [uniqueId]="uniqueId"
                  [propName]="'title'" (validationEvent)="checkValidation('taxonomy')"
                  [autoCompleteTitle]="autoCompleteTitle" #autoComplete
                  (clickOutside)="onClickedOutside($event, 'taxonomy')">
                </app-auto-complete>
                <label *ngIf="currentMode==='update'" for="draftTaxonomy" class="font-bold"
                  id="projectTaxonomyLabel">Taxonomy
                </label>
                <input type="text" *ngIf="currentMode==='update'" name="draft_taxonomy" id="draftTaxonomy"
                  class="form-control font-bold mt-3" formControlName="project_taxonomy"
                  [ngModel]="tempSelectedTaxonomy?.title" [attr.disabled]='true'>
                <p id="projectTaxonomyHelp" *ngIf="currentMode==='create'" class="form-text text-muted text-right">
                  {{inputControlsDetails.taxonomy}}</p>
                <!--Select a draft taxonomy that you’d want to work on.-->
              </div>


              <div class="form-group">
                <ng-container
                  *ngIf="!taxonomyLoaded && selectedTaxonomy && selectedTaxonomy.document_id && (currentStep===1)">
                  <app-preloader [loaderText]="'Loading Taxonomy'"
                    class="w-100 h-100 position-fixed preloader-backdrop"></app-preloader>
                </ng-container>
                <ng-container *ngIf="taxonomyData && (currentStep===1)">
                  <div class="form-label font-bold" id="projectTaxonomyLabel">Section for this Project <span
                      class="mandatory" *ngIf="currentMode==='create'" aria-hidden="true">*</span> <button
                      class="btn btn-icon select_nodes position-relative" aria-hidden="true"><em
                        class="fas fa-tasks"></em>
                      <div class="help_preview position-absolute">
                        <img src="../../../assets/images/select_nodes_popover.gif" class="img-fluid" />
                      </div>
                    </button>
                  </div>

                  <div class="col-12 project-section pt-3" aria-required="true"
                    aria-labelledby="projectTaxonomyLabel projectSectionHelp">
                    <!-- <app-tree-view [treedata]='taxonomyData' (selectedNodeIds)="onTaxonomyTreeNodeSelected($event)">
                    </app-tree-view> -->
                    <!-- <app-tree-view #treeView [documentId]="selectedTaxonomyId" [treedata]='taxonomyData' (hybridSelectedNodes)="onTaxonomyTreeNodeSelected($event)"
                      [decoupleChild]="true" [viewLocation]="'create-project'">
                    </app-tree-view> -->
                    <!-- <app-tree #tree [documentId]="selectedTaxonomyId" [treeNodes]="taxonomyData.children" (hybridSelectedNodes)="onTaxonomyTreeNodeSelected($event)"
                      [viewLocation]="'create-project'" [showComplaince]="true"></app-tree> -->
                    <app-create-project-tree #tree [documentId]="selectedTaxonomyId" [treeNodes]="taxonomyData.children"
                      (hybridSelectedNodes)="onTaxonomyTreeNodeSelected($event)" [viewLocation]="'create-project'">
                    </app-create-project-tree>
                  </div>
                  <p id="projectSectionHelp" *ngIf="currentMode==='create'" class="form-text text-muted text-right">
                    {{inputControlsDetails.section}}</p>
                  <!--The taxonomy nodes that you select will be visible in the project to the team.-->
                </ng-container>
              </div>

              <ng-container *ngIf="showUploadingPanel===true && (currentStep===2)">
                <div class="col-12 p-0">
                  <p class="font-bold mb-0">Project Name</p>
                  <p class="font-bold">{{projectName}}</p>
                </div>

                <app-import-file #importFileComponent (uploadFilesEvent)="onFileUploadEvent($event)"
                  [label]="'Project Documents'" (deleteFileEvent)="onFileDeleteEvent($event)" [disableFileUpload]="true"
                  [disabled]="false" class="full-width" [loaderDisplay]="docLoader"
                  [helpText]="'Documents (guidelines or specifications) that will help the project team.'">
                </app-import-file>
                <!-- <p id="projectDocumentsHelp" class="form-text text-muted text-right form-text__upload">Documents (guidelines or specifications) that will help the project team.</p> -->
              </ng-container>

              <section class="col-12 file-uploaded"
                *ngIf="documentList && documentList.length>0 && showUploadingPanel===true && (currentStep===2)">
                <div class="row file-item align-items-center" *ngFor="let obj of documentList; let i = index;">
                  <div class="col">
                    <div class="col file-type text-center">{{obj?.type|uppercase}}</div>
                  </div>

                  <div class="col-8 file-info">
                    <p>{{obj?.title}}</p>
                    <ul class="list-inline">
                      <li class="list-inline-item">File size: {{formatBytes(obj?.size)}}</li>
                    </ul>
                    <p class="error--msg" *ngIf="messages[i]">{{messages[i]}}</p>
                  </div>

                  <div class="col disabled" [attr.disabled]="false" (click)="onFileDeleteEvent(obj?.asset_id)">
                    <img src="assets/images/bin.gif" class="img-fluid ic-bin cursor-pointer" alt="delete" />
                  </div>
                </div>
              </section>
              <!-- Uploader end -->

            </form>

          </div>

          <!-- end of col-4 -->
        </div>
      </div>
    </div>
  </modal-div>

  <modal-div class="footer-buttons">
    <button *ngIf="currentMode==='create' && (currentStep===1)" type="button" class="btn btn-primary btn-lg"
      id="contBtncp" [disabled]="selectedTaxonomyNodeIs.length===0 || !projectName?.trim() || currentProjectId ||
      !selectedWorkFlow.workflow_id || crtProjLoader" (click)="createProject($event)"
      data-dismiss="modal">Continue</button>
    <button *ngIf="currentMode==='update' && (currentStep===1)" type="button" class="btn btn-primary btn-lg"
      id="updtBtncp" (click)="updateProject($event)" [disabled]="(!projectName?.trim() || (disabledButton===true))"
      data-dismiss="modal">Update</button>
  </modal-div>
</app-modal>
<!-- Create/Update project modal end -->




<!-- Preview workflow modal start -->
<app-modal [modalId]="'viewWorkflowModal'" [showCloseAlert]="false" [modalSize]="'big'"
  (closeEvent)="onCancelPreviewWorkflow()">
  <modal-div class="title-text" id="workflowtitle">Workflows</modal-div>

  <modal-div class="body-content">
    <div class="row justify-content-center">
      <div class="col-6 step">
        <ng-container *ngIf="workflowPrevLoader">
          <app-preloader [loaderText]="'Loading Workflow'" class="w-100 position-fixed preloader-backdrop">
          </app-preloader>
        </ng-container>
        <ng-container *ngIf="!workflowPrevLoader && workflowData">
          <section class="workflow workflow-preview pb-3 mt-4" *ngIf="workflowData.length>0">
            <app-view-workflow [workflowStageList]="workflowData"></app-view-workflow>
          </section>
          <section class="workflow workflow-preview pb-3 mt-4" *ngIf="workflowData.length<1">
            <p>No data found!</p>
          </section>
        </ng-container>
      </div>
    </div>
  </modal-div>
</app-modal>
<!-- Preview workflow modal end -->
