@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.taxonomies-creation{
    h3{
        @include font-size(20);
    } 
}
.step{
    // max-width: 566px;
    &--count{
        @include font-color($darkest);
        @include font-size(12);
    }
}
.project{
    &-section{
        @include border-all(1px, solid, $dark);
        @include z-index(1);
        max-height: 440px;
        min-height: 135px;
        overflow: auto;
        .treeview-container[_ngcontent-c4]{
            overflow:inherit;
        }
    }
}

.preloader{
    &-backdrop{
        @include left(0);
        @include top(0);
        @include z-index(999);
        background-color: transparentize($color: $lighter, $amount: .3);
    }
  }


  .workflow {
    @include padding-indv('left', 54px);
  
    &:before {
      @extend %position-absolute;
      @include top(50px);
      @include bottom(30px);
      @include left(99px);
      @include border-indv('left', 1px, solid, $dark);
      content: '';
      transform: translate(-50%);
    }
}

.help_preview{
    @include display(none);
    @include z-index(1);
    @include border-all(1px, solid, $dark);
    @include box-shadow(0, 5px, 3px, 4px, rgba(0,0,0,.08));
    width: 490px;
    height: 160px;
    transform: translate(26px, -41px);
}

.select_nodes{
    &:hover,
    &:focus{
        .help_preview{
            @include display(block);
        }
    }
}
