@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.info{
    @include margin(15px, 0, 20px, 0);
    .icon-ico-protip{
        @include font-size(48);
        @include float(left);
    }
    &__tip{
        @extend %position-relative;
        @include bgcolor($lighter);
        @include border-indv('left', 4px, solid, $warning);
        @include padding(8px 13px);
        @include margin-indv('left', 41px);
        @include font-size(16);
        @include font-color($darkest-x);
        min-height: 50px;
        &--title{
            @include font-size(16);
            @include font-color($darkest-x);
            line-height: inherit;
        }
        p{
            @include margin-indv(bottom,0);
        }
        ol, ul{
            @include padding-all(0,0,0,18px);
            @include margin(0,0,15px,0);
            column-count: 2;
            column-gap: 40px;

            &:last-child{
                @include margin-all(0);
            }
        }

        a{
           // @include font-color($primary);
           @include font-color($black);
            @include font-size(14);
        }
    }
}
