<div class="row justify-content-center">
  <div class="col-11">
    <!-- Accordian starts -->
    <div id="accordion" class="accordion mt-4">
      <!-- Card start -->
      <div class="card has-child" *ngFor="let item of authoringItems; let $index = index">

        <div class="d-flex card-header" id="heading-1_{{$index}}">
          <div class="col-auto pl-2 pr-0">
            <button class="btn btn-clear btn-drag">
              <img src="assets/images/move.gif" class="img-fluid ic-dismiss" alt="move" />
            </button>
          </div>

          <div class="col px-2 item">
            <p class="item-type font-bold text-uppercase mb-0" *ngIf="item.type">{{(item.type==='Container' ? item.title
              : item.type)}}</p>
            <h3 class="item-name font-bold mb-0" *ngIf="item.title && (item.type!=='Container')">
              <a href="javascript:void(0);" (click)="onItemClick(item)" target="_self">{{item.title}}</a>
            </h3>
            <p class="item-description mb-2" *ngIf="item.description">{{item.description}}</p>
          </div>

          <div class="col-auto p-0">
            <button class="btn btn-clear arrow-toggle" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapseOne"
              aria-label="expand/close child accordion"></button>
          </div>

          <div class="col-auto pl-0 pr-1">
            <span class="more-option dropdown">
              <button class="btn btn-clear" data-reference="parent" data-toggle="dropdown" aria-expanded="true" aria-haspopup="true">
                <em class="icon-icon-more-horiz icon-rotate-90">
                  <span class="sr-only sr-only-focusable">more option</span>
                </em>
              </button>

              <div class="dropdown-menu dropdown-menu-right">
                <a href="javascript:void(0);" class="dropdown-item">Delete</a>
              </div>
            </span>
          </div>
        </div>

        <div id="collapse-1" class="card collapse show has-child" data-parent="#accordion" [attr.aria-labelledby]="'heading-1_'+$index"
          style="margin-left: 40px;">
        </div>

      </div>
      <!-- Card end -->






      <ul class="list-unstyled card has-child" *ngFor="let item of authoringItems;let $index=index">

        <li class="list-inline-item">
          <ul class="list-inline d-flex card-header" id="heading-1_{{$index}}">
            <li class="list-inline-item w-100">
              <ul class="list-inline">
                <li class="list-inline-item col-auto pl-2 pr-0">
                  <button class="btn btn-clear btn-drag">
                    <img src="assets/images/move.gif" class="img-fluid ic-dismiss" alt="move" />
                  </button>
                </li>

                <li class="list-inline-item col-10 px-2 item">
                  <p class="item-type font-bold text-uppercase mb-0" *ngIf="item.type">{{(item.type==='Container' ? item.title
                    : item.type)}}</p>
                  <h3 class="item-name font-bold mb-0" *ngIf="item.title && (item.type!=='Container')">
                    <a href="javascript:void(0);" (click)="onItemClick(item)" target="_self">{{item.title}}</a>
                  </h3>
                  <p class="item-description mb-2" *ngIf="item.description">{{item.description}}</p>
                </li>

                <li class="list-inline-item col-auto p-0">
                  <button class="btn btn-clear arrow-toggle" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapseOne"
                    aria-label="expand/close child accordion"></button>
                </li>

                <li class="list-inline-item col-auto px-0">
                  <span class="more-option dropdown">
                    <button class="btn btn-clear" data-reference="parent" data-toggle="dropdown" aria-expanded="true" aria-haspopup="true">
                      <em class="icon-icon-more-horiz icon-rotate-90">
                        <span class="sr-only sr-only-focusable">more option</span>
                      </em>
                    </button>

                    <div class="dropdown-menu dropdown-menu-right">
                      <a href="javascript:void(0);" class="dropdown-item">Delete</a>
                    </div>
                  </span>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li id="collapse-1" class="card collapse show has-child" data-parent="#accordion" [attr.aria-labelledby]="'heading-1_'+$index"
          style="margin-left: 40px;">
        </li>

      </ul>



    </div>
    <!-- Accordian end -->
  </div>
</div>