<!-- Custom View start -->
<div class="custom-view">
  <as-split direction="horizontal" (dragEnd)="ondragStart()">

    <as-split-area size="20" minSize="20" maxSize="50">
      <div id="resizable-panel">
        <div class="col-12 p-0 overflowY-auto">
          <ng-container *ngIf="taxonomyData && taxonomyData.children">
            <app-tree #tree [treeNodes]="taxonomyData.children[0].children" [viewLocation]="'customview'" [showComplaince]="false">
            </app-tree>
          </ng-container>
        </div>
      </div>
    </as-split-area>

    <as-split-area size="60">
      <ng-container *ngIf="loadingReport">
        <app-preloader [loaderText]="'Loading report...'" class="w-100 position-fixed preloader-backdrop"></app-preloader>
      </ng-container>
      <div #reportElement class="configured-report"></div>
    </as-split-area>

    <as-split-area size="20" id="custom-view-rightPanel" minSize="20" maxSize="50">
      <div class="association-details h-100" id="right-panel" *ngIf="itemDetail && !loadingReport">
        <div class="association-details-header d-flex justify-content-between align-items-center">
          <h2 class="association-details-title font-bold">Details</h2>
        </div>
        <div class="association-details-filter association-details-filter-content">
          <div class="pb-2">
            <p class="mb-0 text-wrapped">
              <label class="font-bold mb-0">Showing details for:</label>
            </p>
            <p class="mb-0 text-wrapped" *ngIf="!viewMore">
              {{itemDetail.full_statement | slice:0:200}}{{itemDetail.full_statement.length>200?'...':''}}
              <button class="btn btn-sm btn-clear text-underline px-0" *ngIf="itemDetail.full_statement.length>200" (click)="onViewMoreClick(true)">View
                more
              </button>
            </p>
            <p class="mb-0 text-wrapped" *ngIf="viewMore">
              {{itemDetail.full_statement }}
              <button class="btn btn-sm btn-clear text-underline px-0" (click)="onViewMoreClick(false)">View less</button>
            </p>
          </div>
        </div>

        <div class="association-details-content">
          <ng-container *ngFor="let item of itemDetail.item_associations ; let $index=index ">
            <div class="card" *ngIf="item && isShowAssociation(item)">
              <div class="card-header">
                <h3 class="card-title font-bold">{{item.destination_node.node_type_title}}</h3>
              </div>
              <div class="card-body">
                <p class="font-bold">{{item.destination_node.human_coding_scheme}}</p>
                <p>{{item.destination_node.full_statement}}</p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

    </as-split-area>

  </as-split>
</div>
<!-- Custom View end -->