@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.association-details{
    @include box-shadow(0,2px,10px,1px,rgba(0, 0, 0, .1));
    @include bgcolor($white);
    &-header{
        @include bgcolor($tertiary);
        @include padding(0 15px);
        @include border-indv('bottom', 1px, solid, $dark);
    }
    &-title{
        @include font-size(16);
        @include font-color($darkest-x);
    }
    &-filter{
        @include padding(10px 15px);
        @include border-indv('bottom', 1px, solid, $dark);
        .btn{
            &-group{
                max-width: 95%;
            }
            &-clear{
                @include font-size(14);
            }
            &__filter{
                @include font-size(14);
                max-width: 100%;
                &-content{
                    width: 100%;
                }
                &:after{
                    @extend %position-absolute;
                    @include top(9px);
                    @include right(-15px);
                }
            }
        }
        &-content{
            max-height: 250px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    &-content{
        @include padding(10px 7px);
        overflow-y: auto;
        overflow-x: hidden;
    }
    .card{
        @include bgcolor(transparent);
        @include margin-indv('bottom', 10px);
        @include box-shadow-card;
        &-header{
            @include padding(10px 15px);
            @include bgcolor($tertiary);
            @include border-indv('bottom', 1px, solid, $dark);
        }
        &-title{
            @include font-size(14);
            @include font-color($darkest-x);
            @include margin-indv('bottom', 0);
        }
        &-body{
            @include padding(10px 15px);
            p{
                @include margin-indv('bottom',10px);
                @include font-size(13);
                &:last-child{
                    @include margin-all(0);
                }
            }
            
        }
    }
}
.as-split{
    &-gutter{
        @include border-indv('left', 2px, solid, $light);
        @include padding(0 2px 0 0 );
        &:hover,
        &:focus{
            @include border-indv('left', 2px, solid, $primary);
            &::after{
                @include position(relative);
                @include top(3px);
                content: url(../../../assets/images/drag-hover.png);
            }
            .as-split-gutter-icon{
                @include display(none);
            }
        }
        &:last-child{
            @include border-indv('left', 0, solid, $light);
            @include border-indv('right', 2px, solid, $light);
            @include padding(0 0 0 2px);
            &:hover,
            &:focus{
                @include border-indv('left', 0, solid, $primary);
                @include border-indv('right', 2px, solid, $primary);
            }
        }
    }
}
