<!-- Add Metadata Set Modal Starts -->
<app-modal [modalId]="'add-metadataset'" [modalContentId]="'addMetadataSetContent'"
  [showCloseAlert]="form.dirty || formValidation" [modalSize]="'big'" (closeEvent)="onCancel()"
  (mouseLeaveEvent)="mouseLeave($event)">
  <modal-div class="title-text" id="metadatasettitle">
    <ng-container *ngIf="!nodetype.node_type_id">Add New Metadata Set</ng-container>
    <ng-container *ngIf="nodetype.node_type_id">Edit Metadata Set</ng-container>
  </modal-div>

  <modal-div class="body-content">
    <p class="modal--info-txt font-bold" id="addMetadataSetContent">You are defining a metadata set. Select Metadata
      properties
      and click on "+" to add it to the set.</p>
    <div class="d-flex justify-content-center mt-5" id="outsideModal">
      <div class="col-md-11 col-lg-10 col-xl-8 modal-fixed-content" id="outsideModalCol5">
        <p class="px-1">Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are
          required.
        </p>
        <div class="row form-row position-relative">
          <div class="col-11">
            <div class="form-group mb-0">
              <label for="metadataSetName" class="font-bold" id="mdsNameLabel">Metadata Set Name <span class="mandatory"
                  aria-hidden="true">*</span></label>
              <input id="metadataSetName" type="text" [readOnly]="originalTitle==='Document'" [(ngModel)]=nodetype.name
                placeholder="" [formControl]="form.controls['metadatasetname']" class="form-control font-bold"
                (change)="checkValidation()" (keyup)="checkValidation()">
              <div
                *ngIf="form.controls['metadatasetname'].hasError('required') && form.controls['metadatasetname'].touched"
                class="error--txt" role="alert">
                <p class="font-bold m-0">Metadata Set Name Required.</p>
              </div>
              <div
                *ngIf="form.controls['metadatasetname'].hasError('required') && form.controls['metadatasetname'].touched && form.controls['metadatasetname'].valid"
                class="error--txt" role="alert">
                <p class="font-bold m-0">Metatdata Set Name Required.</p>
              </div>
              <p class="form-text text-muted text-right" id="form-text">Use a name that is easy to recognize.</p>
            </div>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-11" id="outsideModalCol10">

            <div class="form-group">

              <app-auto-complete [listingObj]="metadataList" (selectedObject)="updateSelectedObject($event)"
                [disableOption]="true" [selectType]="selectType" [uniqueId]="uniqueId" [propName]="'name'"
                [clrDisOnSelect]="false" [clearArray]='true' [autoCompleteTitle]="autoCompleteTitle" #autoComplete
                [showValidMsg]="metadataObj && metadataObj.length<1" (clickOutside)="onClickedOutside($event)">
              </app-auto-complete>

            </div>
            <div class="form-group upload-area" *ngIf="metadataObj && (metadataObj.length === 0)">
              <p class="mb-0">Nothing added to the set</p>
            </div>

            <div class="metadata-set-list-selected" *ngIf="metadataObj && (metadataObj.length > 0)">
              <div class="metadata-set-list-selected-header" hidden>
                <div class="form-row">
                  <div class="col-8 font-bold"></div>
                  <div class="col-3 text-center">
                    <span>Mandatory</span>
                  </div>
                  <div class="col-1 text-right">

                  </div>
                </div>
              </div>
              <ul class="list-unstyled metadata-set-list-selected-body p-0" dragula="metadataObj"
                [(dragulaModel)]="metadataObj" (dragulaModelChange)=onNodeRearranged($event);>
                <li class="form-row drag position-relative" *ngFor="let data of metadataObj;let index=index">
                  <div class="d-flex w-100">
                    <div class="col-8 font-bold" id="{{data.name.split(' ').join('')}}">
                      <p id="{{data.id}}" class="mb-0"> {{data.name}} <span class="text-uppercase"
                          *ngIf="data.is_custom===0" aria-label="case">Case</span></p>
                    </div>
                    <div class="col-3 text-center custom-control custom-checkbox">
                      <input type="checkbox" [checked]='data.is_mandatory === 1' class="custom-control-input"
                        id="{{data.id}}-customCheck2" attr.aria-describedby="{{data.id}}"
                        (click)="data.is_mandatory=(data.is_mandatory===0 ? 1 :0);onNodeRearranged($event)">
                      <label class="custom-control-label" for="{{data.id}}-customCheck2"></label>
                    </div>
                    <div class="col-1 text-right">
                      <button type="button" class="btn btn-icon tooltip top position-relative" id="detBtnMds"
                        data-tooltip="Delete" aria-label="Delete metadata"
                        (click)="deleteMetadataValue(index,data.id,data.parent_metadata_id)">
                        <em class="icon-ico-garbage"></em>
                      </button>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </modal-div>

  <modal-div class="footer-buttons">
    <button type="button" class="btn btn-primary btn-lg" id="crtBtnMds"
      (click)="updateMetadataSetName($event,'create_nodetype')" *ngIf="!nodetype.node_type_id"
      [disabled]="!form.valid || !formValidation">Create</button>
    <button type="button" class="btn btn-primary btn-lg" id="updBtnMds"
      (click)="updateMetadataSetName($event,'update_nodetype')" *ngIf="nodetype.node_type_id"
      [disabled]="!form.valid || !formValidation">Update</button>
  </modal-div>
</app-modal>


<!-- Metadata section start -->
<section class="row align-items-center" role="tabpanel">
  <div disabled class="px-3 mt-2"><button class="btn btn-primary btn-sm" id="crtmdtSet" #editMetadataSet
      data-toggle="modal" data-target="#add-metadataset" (click)="onEditNodeType(null)" *ngIf="createMetadata">Create
      New Metadata Set<span class="sr-only">Opens in a new dialog</span>
    </button></div>

  <!-- // ----------------for Common Data table----------------- // -->

  <app-data-table class="w-100" [showMenu]="true" [tableCategory]="'Metadata-Table'" [columnList]="listOfColumn"
    [dataSet]="textToSearch?.length > 2 ? searchedNodeType : nodetypeList" [optionList]="optionList"
    (clickedOption)="onOptionClicked($event)"></app-data-table>

</section>
