@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";
@import "components/drag";

.metadata{
    &-set{
        .upload{
            &-area{
                @include border-radius(4px);
                @include border-all(1px, dashed, $darkest);
                @include text-align(center);
                @include bgcolor($lightest);
                @include padding-indv('top', 40px);
                min-height: 110px;
            }
        }

        &-list{
            &-selected{
                &-header{
                    @include border-none(none);
                    .form-row{
                        @include padding(0 10px);
                    }
                }
                &-body{
                    @include bgcolor($white);
                    @include border-all(1px, solid, $light);
                    .form-row{
                        @include border-all( 1px, solid, $transparent);
                        @include border-indv('bottom', 1px, solid, $light);
                        @include padding-all(10px, 10px, 10px, 25px);

                        &:before{
                            @extend %trasition-smooth;
                            @extend %position-absolute;
                            @include top(9px);
                            @include left(10px);
                            @include opacity(.3);
                            content:url('~/assets/images/move.gif');
                            
                        }
                        &:hover,
                        &:focus{
                            @extend %trasition-smooth;

                            &:before{
                                @include  opacity(1);
                            } 
                        }

                        &:active{
                            @extend .drag, :active;
                        }
                        button{
                            @include bgcolor(transparent);
                            @include border-none(none);
                            @include padding(0);
                        }
                        &:last-child{
                            @include border-indv('bottom', 0, solid, $light);
                            &:hover,
                            &:focus{
                                @include border-indv('bottom', 1px, solid, $primary);
                            }
                        }
                    }
                }
                
                span{
                    @include font-size(10);
                    @include font-color($darkest);
                }
                .custom-control-label{
                    &:before,
                    &:after{
                        @include margin(1px, 0, 0, 17px);
                    }
                }
            }
        }

        .auto-complete{
            &__selection{
                .col-11{
                    max-width: 89.9%;

                    @include media( "screen", "<maxXxlarge"){
                        max-width: 88.9%;
                    }
                }
            }
        }
    }
}
