<!-- Preview workflow modal start -->
<app-modal [modalId]="'viewWorkflowModal'" [modalContentId]="'viewWorkflowContent'" [showCloseAlert]="false"
  [modalSize]="'big'" (closeEvent)="onCancelPreviewWorkflow()">
  <modal-div class="title-text">Workflows</modal-div>

  <modal-div class="body-content">
    <div class="row justify-content-center">
      <div class="col-12 step">
        <div class="workflow" style="padding-left:54px;">
          <div class="row">
            <div class="col-12">
              <ngcontainer *ngIf="workflowData && workflowData.length">
                <app-view-workflow [workflowStageList]="workflowData"></app-view-workflow>
              </ngcontainer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </modal-div>
</app-modal>
<!-- Preview workflow modal end -->