@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.text-underline{
    @include font-size(14);
    @include font-color($darkest-x);
}

.preloader {
    &-backdrop {
      @include left(0);
      @include top(0);
      @include z-index(999);
      background-color: transparentize($color: $lighter, $amount: .3);
    }
  }
  