<div class="wrapper-row" ng-if="totalAssets" ng-cloak>
    <div dir-paginate="asset in assets | itemsPerPage: itemsPerPage|orderBy:orderByField:reverseSort" total-items="totalAssets" current-page="currentPage" pagination-id="assetListId" id="asset_{{asset.id + viewMode}}">
        <div class="col-md-3 col-sm-4 prod-block">
            <div class="theme-box-col">
                <div class="box-theme">
                    <div class="panel-heading text-center input-wrap" style="min-height: 25px;"><input type="checkbox" ng-show="asset.is_global == 0" ng-model="asset.Selected" ng-change="selectOption(asset.id)" class="checkbox object" ></div>
                    <div class="box-img-out" ng-click="previewAsset('', asset.id, 'Asset Preview')">
                        <div class="block-img">
                            <div style="max-width:200px;">
                                <img id="img1" ng-if="asset.object_type_name == 'image'" ng-src="{{asset.asset_location}}{{ts_hash}}" alt="{{asset.original_name}}">
                                <img ng-if="asset.object_type_name == 'video'" ng-src="./images/default-video.jpg" alt="{{asset.original_name}}">   
                                <img ng-if="asset.object_type_name == 'audio'" ng-src="./images/default-video.jpg" alt="{{asset.original_name}}">   
                                <img ng-if="asset.object_type_name == 'widget'" ng-src="./images/default-widget.png" alt="Widget" > 
                                <img ng-if="asset.object_type_name == 'other'" ng-src="./images/default-doc.png" alt="Other">
                            </div>
                        </div></div>
                    <div class="box-theme-title">{{asset.title}}</div>
                    <div class="list-create-name">File Name: {{asset.original_name}}</div>
                    <div class="list-create-name">File Type: {{ mimes[asset.mimetype] == 'widget' ? 'gadget' : mimes[asset.mimetype] | capitalize_first }}</div>
                    <div class="list-create-name">Updated: {{formatDate(asset.updated_at) | date:'MM/dd/yyyy HH:mm:ss'}}</div>
                    <div class="list-create-name">File Size: 
                        <span ng-if="asset.file_size">{{asset.file_size| bytes}}</span>
                        <span ng-if="!asset.file_size">N/A</span> 
                    </div>
                    <div class="theme-comments-control">
                        <button type="button" class="book-toc-icon pull-left" ng-show="user_permissions['global_asset.update'].grant" ng-click="previewAsset('', asset.id, 'Update Asset', 1)" title="Update">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        <div ng-if="show_directive">
                        <license-validity class="pull-left" asset-id="asset.id" entity_type="'ASSET'" style="padding-left: 21px;"></license-validity>
                        </div>
                        <asset-usage-count class="pull-right" asset-id="asset.id" template-mode="1" action="'ASSET'" style="padding-top: 8px;"></asset-usage-count>
                        <button type="button" class="book-toc-icon pull-right" ng-click="deleteAsset(asset.id, project_id, currentPage)" title="Remove">
                            <i class="fa fa-trash"></i>
                        </button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Pagination Starts Here -->
    <dir-pagination-controls class="dir_pagination"
                             boundary-links="true" 
                             pagination-id="assetListId" 
                             on-page-change="pageChangeHandlerAsset(newPageNumber)" 
                             template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
    </dir-pagination-controls>
    <!-- Pagination Starts End -->
</div>