
<div class="wrapper-row" ng-if="totalAssets" ng-cloak>
    <table id="example" class="display assesment-data" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th width="2%" colspan="2" align="left" style="text-align:left;"></th>
                <th width="20%" style="cursor: pointer;" ng-click="applySorting('object_metadata.original_name')">Name <span ng-show="currentOrderByField == 'object_metadata.original_name'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th>
                <th width="10%" style="cursor: pointer;" ng-click="applySorting('objects.object_type_id')">File Type <span ng-show="currentOrderByField == 'objects.object_type_id'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th> 
                <!--<th width="20%" style="cursor: pointer;" ng-click="applySorting('object_metadata.name')">Title <span ng-show="currentOrderByField == 'object_metadata.name'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th> -->
                <th width="20%" style="cursor: pointer;" ng-click="applySorting('objects.updated_at')">Updated<span class="glyphicon  glyphicon-arrow-down defaultSorted"></span> <span ng-show="currentOrderByField == 'objects.updated_at'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th>
                <th width="10%" style="cursor: pointer;" ng-click="applySorting('object_metadata.file_size')">File Size <span ng-show="currentOrderByField == 'object_metadata.file_size'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th>
                <th width="10%" style="cursor: pointer;" ng-click="applySorting('usage_count')">Usage<span ng-show="currentOrderByField == 'usage_count'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th>
                <th width="28%">Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr dir-paginate="asset in assets | itemsPerPage: itemsPerPage|orderBy:orderByField:reverseSort" total-items="totalAssets" current-page="currentPage" pagination-id="assetListId" id="asset_{{asset.id + viewMode}}">
                <td></td>
                <td><div class="theme-col-1 prod-block">
                        <div class="theme-box-col">
                            <div class="box-theme">
                                <div class="box-img-out" ng-click="previewAsset('', asset.id, 'Asset Preview')">
                                    <div class="block-img"> 
                                        <div style="max-width:100px;">
                                            <img id="img1" ng-if="asset.object_type_name == 'image'" ng-src="{{asset.asset_location}}{{ts_hash}}" alt="{{asset.original_name}}">
                                            <img ng-if="asset.object_type_name == 'video'" ng-src="./images/default-video.jpg" alt="{{asset.original_name}}">
                                            <img ng-if="asset.object_type_name == 'audio'" ng-src="./images/default-video.jpg" alt="{{asset.original_name}}">
                                            <img ng-if="asset.object_type_name == 'widget'" ng-src="./images/default-widget.png" alt="Widget">      
                                            <img ng-if="asset.object_type_name == 'other'" ng-src="./images/default-doc.png" alt="Other">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>                                            
                <td class="text-left"><!--{{asset.taxonomy_title}}--> <div class="box-theme-title">{{asset.original_name}}<div ng-if="show_directive"><license-validity class="pull-right" asset-id="asset.id" entity_type="'ASSET'" style="padding-left: 21px;"></license-validity></div></div></td>
                <td>{{ mimes[asset.mimetype] == 'widget' ? 'gadget' : mimes[asset.mimetype] | capitalize_first }}</td>
                <!--<td>{{asset.title}}</td>-->
                <td>{{formatDate(asset.updated_at) | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                <td> 
                    <span ng-if="asset.file_size">{{asset.file_size| bytes}}</span>
                    <span ng-if="!asset.file_size">N/A</span></td>
                <td><asset-usage-count asset-id="asset.id" template-mode="2" action="'ASSET'"></asset-usage-count></td>
                <td class="shorting_button">
                    <button type="button" class="btn btn-default" ng-click="previewAsset('', asset.id, 'Update Asset', 1)" ng-show="user_permissions['global_asset.update'].grant">Update</button>
                    <button type="button" class="btn btn-default" ng-click="deleteAsset(asset.id, project_id, 1)" >Delete</button>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <!-- Pagination Starts Here -->
        <dir-pagination-controls class="dir_pagination"
                                 boundary-links="true" 
                                 pagination-id="assetListId" 
                                 on-page-change="pageChangeHandlerAsset(newPageNumber)" 
                                 template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
        </dir-pagination-controls>
        <!-- Pagination Starts End -->
        </td>
        </tr>
        </tbody>
    </table>
    <div class="clearfix"></div>
</div>
