<!DOCTYPE html>
<html lang="en" ng-app="TemplatesApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--
            <meta http-equiv="cache-control" content="max-age=0" >
            <meta http-equiv="cache-control" content="no-cache" >
            <meta http-equiv="expires" content="0" >
            <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
            <meta http-equiv="pragma" content="no-cache" >-->
        <!--link rel="stylesheet" href="css/reset-min.css"-->

        <link rel="stylesheet" href="css/stylesheet.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/editor.css">

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300|Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/style.css" rel="stylesheet">
        
        <script src="../js/service-end-point.js"></script>
       
        <link rel="stylesheet" href="css/main.css">
        <link href="../css/dashboard.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="css/editor.css">
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
        <script src="js/lib/jquery-1.11.1.min.js"></script>       
        <script src="../js/bootstrap.min.js"></script>
        <script src="js/script_glossary.js"></script>
       
<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<script>jQuery(".editor-loader").remove()</script>
 </head><body>
<div class="ajax-content">
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="footnote">  
        <!--HEADER STARTS HERE-->
        <div class="header-container">
            <div class="left lt-pan">
                <button type="button" class="back-btn sprite" onclick='htmlEditor.backToDashboard()'></button>
            </div>
            <div class="left lt-pan">
                <a class="elogo sprite" href="javascript:void(0);" onclick='htmlEditor.backToDashboard()'>Frost</a>
            </div>

            <div class="tools-nav right">
                <div class="tools-toc right">
                    <div class="tools-toc-icon sprite right dropdown-toggle" data-toggle="dropdown" tabindex="-1"></div>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#/logout">Log Out</a></li>
                    </ul>
                </div>
                <div class="switch right">
                    <span class="switch-button-label active build">Build</span>
                    <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label class="switch-button-background" for="cmn-toggle-1"> </label>
                    <span class="switch-button-label test">Test</span>
                    <div class="clear"></div>
                </div>


                <div class="tools-selectable sprite right"></div>
                <div class="tools-redo sprite right"></div>
                <div class="tools-undo sprite right"></div>
                <div class="tools-save right"><button type="button" class="btn btn-primary" onclick="htmlEditor.goToGlossary()" >Go to footnote manage</button></div>
            </div>
            <div class="template-title " contenteditable="true"><span id="project_name"></span> / <span contenteditable="true" id="node_title"></span></div>
            <div class="clear"></div>
        </div>
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <!--                <div class="page-title">
                                    <div class="pull-right">
                                    </div>
                                    <div class="pull-middle"> 
                                        Glossary
                                    </div>
                
                                    <div class="clearfix"></div>
                                </div>-->
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">
                            <!--/*stucture modified for all pages*/-->
                            <div class="from-container-row glossary_editor">
                                <div class="toc-panel-container">
                                    <div class="pattern-list-container" style="overflow: auto;">
                                        <dl  class="col-md-12" id="footnoteList">
                                          
                                        </dl>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <!--/*//////stucture modified for all pages*/--> 
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
        <!--FOOTER STARTS HERE-->
        <div ng-include src="'templates/footer.html'" class="footer-container"></div>
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>
     </body></html>