 /*CSS for Header starts*/
 header.acmt-header{  
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    z-index: 9;
    background: #fff;
}
.acmt-logo{
    padding: 18px 0;
    font-weight: bold;
    font-size: 25px;
}
.acmt-logo a:hover{
    text-decoration: none;
}
.nav_links{
    padding: 25px 0;  
    text-transform: uppercase;
}
header nav.nav_links a{
    padding: 25px 13px;
    font-size: 15px;
    color: #666666 !important;
    cursor: pointer;
}
.notifications{
    padding: 25px 0;
    text-align: center;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: #666666;
}
.username{
    padding: 25px 0;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}
.username i{
    position: relative;
    left: 10px;
    bottom: 4px;
}
header nav.nav_links a.active_nav{
    border-bottom: 3px solid #2174ff;
    color: #000000 !important;
    cursor: default;
    text-decoration: none;
}
.admn-menu{
    padding: 25px 0;
    text-align: center;
    border-right: 1px solid #ddd;
}
.admn-menu a{
    color: #666666;
}
.breadcrums{
    padding: 10px 15px;
}
.home_page_link{
    color: #9ea4a9;
    cursor: pointer;
    }
.home_page_link:hover{
    text-decoration: underline;
    color: #2174ff;

}
.backward_nav_link{
    color: #9ea4a9;
}
.primary_button{
    padding: 6px 12px;
    background: #1e90ff;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #1e90ff;
    opacity: .8
}
.primary_button:hover{
    opacity: 1;
}
.secondary_button{
    padding: 6px 12px;
    background: #ffffff;
    color: #000000;
    border-radius: 4px;
    border: 1px solid #000000;
    opacity: .8;
    margin-right: 5px;
}
.secondary_button:hover{
    opacity: 1;
}
/*.secondary_button{
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}*/
.padding_zero{
    padding: 0 !important;
}
.padding_8_12{
    padding: 6px 11px;
}
.tab_title span, .taxonomy span{
    font-size: 18px;
    display: inline-block;
    font-weight: 500;
}
.border_bottom::after{
   content: "";
   display: block;
   width: 25%;
   border-bottom: 2px solid #ff2e63;
}
.taxonomy_name{
    font-size: 22px;
}
.authoring_btn{
    vertical-align: super;
    font-size: 10px;
    margin-left: 5px;
}
.go_button i{
    position: relative;
    left: 5px;
    bottom: 3px;
    font-size: 25px;
}
.taxonomy_list,.taxonomy_search_list{
    margin-top: 20px;
}
.taxonomy_info{
    padding: 10px 15px;
}
.taxonomy_creator{
    color: #808080;
}
.search_taxonomy{
    display: inline-block;
    float: left;
    min-width: 53px;
    max-width: 140px;
}
.search_taxonomy input{
    max-width: 100px;
    display: none;
    border: none;
    border-bottom: 1px solid #2174ff;
    outline: none;
}
.create_new{
    width: 20%;
}
.notification_count{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #673ab7;
    color: #fff;
    position: absolute;
    top: 7px;
    right: 7px;
}
i{
    cursor: pointer;
}
ul{
    list-style-type: none;
}
.disabled{
    opacity: 0.5;
    pointer-events: none;
}
.cf_title {
    margin-left: 3px;
    color: #000000;
    cursor: pointer;
    }
/*CSS for Header ends*/

/*CSS for Taxonomy Search List page starts*/

/* .taxonomy_node{
background: #673ab7;
color: #fff;
border-radius: 4px;
padding: 20px 0;
margin-left: 10px;
margin-bottom: 10px;
width: 24%;
} */
.taxonomy_search_list .taxonomy_human_coding span{
display: inline-block;
border-radius: 12px;
padding: 3px 15px;
font-weight: 500;
background: #512e90;
}
.taxonomy_search_list .taxonomy_statement{
padding: 25px 15px;
min-height: 200px;
font-size: 16px;
letter-spacing: 1px;
}
taxonomy_search_list .adopted_date{
margin: 15px 0;
}

.alert {
    margin: 50px 0 0 0;
}
button.view_more{
float: right;
background: transparent;
border: 1px solid;
border-radius: 15px;
padding: 5px 15px;
margin-top: 25px;
}
button.view_more:hover{
background: #fff;
color: #673ab7;
}
.adopted_date{
margin-top: 10px;
}
.taxonomy_info{
font-size: 12px;
}
.taxonomy_section ul{
list-style-type: none;
padding: 10px 15px;
}
.taxonomy_node_name{
font-size: 18px;
margin-bottom: 10px;
}
.published-btn,.draft-btn{
background: #ffffff;
border-color: #dddddd;
padding: 6px 12px;
}
.active_state{
    background: #dddddd;
}
.taxonomy_state{
    max-width: 175px;
}
/*CSS for Taxonomy Search List page ends*/

/*CSS for Create Project page starts*/

.help_text span{
float: right;
color: #9ea4a9;
}
.create_project form .form-group{
margin-bottom: 30px;
} 
.create_project_btn{
margin-top: 25px;
}
.create_project form label{
font-size: 18px;
font-weight: normal;
display: block;
}
.create_project form .create-btn{
color: #1e90ff;
border-color: #1e90ff;
}
.create_project{
margin-bottom: 20px;
}
.create_project .project_taxonomyList{
min-height: 20em;
max-height: 20em;
overflow: auto;
background: #f9f9f9;
border-radius: 4px;
border: 2px solid #dfdfdf;
padding: 20px 0;
}
.associations .project_taxonomyList{
min-height: 20em;
max-height: 20em;
overflow: auto;
padding: 25px 0;
}
.create_project .upload_document_parent{
text-align: center;
color: #666666;
/* opacity: .5; */
pointer-events: none;
}
.create_project .upload_document{
min-height: 10em;
overflow: auto;
background: #f9f9f9;
border-radius: 4px;
padding: 20px;
border: 2px solid #dfdfdf;
}
.taxonomy_tree input.select_taxonomy{
position: relative;
top: 2px;
margin-right: 5px;
margin-left: 5px;
}
.taxonomy_tree .live ol{
   list-style-type: none;
   padding-left: 12px;
}
.taxonomy_tree button.toggle{
    background: transparent;
    border: none;
    margin-top: 3px;
}
.taxonomy_tree .cf_title{
    font-size: 17px;
    color: #000000;
}
.full_statement{
    font-size: 15px;
    font-weight: normal;
}
.taxonomy_tree .link-to-preview a:hover{
    text-decoration: none;
}
.create_project .taxonomy_node{
    max-width: 25em;
}
.tax_section_toggle{
    max-width: 25px;
}
.lirow .active {
    color: #2174ff;
}    
.cf_title:hover {
    color: #000000;
}
.cf_title.active:hover {
    color: #2174ff;
    text-decoration: none;
    cursor: default;
}
.help_icon{
    float: right;
    cursor: pointer;
}
/*CSS for Create Project page ends*/

/*CSS for Project Listing page ends*/
.project_container .project_section{
    margin-bottom: 20px;
}
.project_container .project_section .project_alias{
text-align: center;
font-size: 50px;
height: 160px;
line-height: 160px;
margin-bottom: 10px;
cursor: pointer;
}
.project_container .add_project{
text-align: center;
font-size: 50px;
height: 202px;
line-height: 202px;
border-radius: 4px;
cursor: pointer;
}
.project_container{
margin-top: 20px;
}
.project_name{
    margin-top: 10px;
    font-size: 18px;
}
.add_project{
    background: #e6e6e6;
}
.search_project{
border: 1px solid #ccc;
border-radius: 4px;
}
.search_project input{
    border: none;
    outline: none;
    max-height: 32px;
}

.search_project i{
position: relative;
top: 7px;
}
.project_section_firstChild{
border: 1px solid #ddd;
padding: 15px;
border-radius: 4px;
}
.project_settings i.project_settings_btn{
    position: relative;
    bottom: 4px; 
    padding: 0 5px;
}
.project_settings li a:hover{
    cursor: pointer;
}
/*CSS for Project Listing page ends*/

/*CSS for Authoring page starts*/

.autoring_taxonomy {
padding: 0;
}
.authoring_header{
border-bottom: 1px solid #e4e4e4;
padding: 10px 0;
}
.autoring_taxonomy .btn-section{
    margin-top: 20px;
}
.autoring_taxonomy .taxonomy_section{
    margin-top: 20px;
}
.autoring_taxonomy .taxonomy_section ul{
    padding: 10px 25px;
}
form.acmt_form input,form.acmt_form  select,form.acmt_form  textarea {
border-top: none;
border-left: none;
border-right: none;
border-bottom: 1px solid #ccc;
border-radius: 0 !important;
padding: 0 !important;
box-shadow: inset 0 1px 1px #fff !important;
}
.autoring_taxonomy .authoring_content .right-panel form{
    margin-top: 65px;
}
.autoring_taxonomy .metadata_attr{
    margin-bottom: 15px;
} 
.autoring_taxonomy .taxonomy_tree_node input{
    position: relative;
    top: 2px;
}
.autoring_taxonomy .taxonomy_wrapper{
    /*margin-top: 15px;*/
    /*border-bottom: 2px solid #ccc;*/
}
.close_taxonomy{
    position: absolute;
    right: 25px;
    top: 5px;
    z-index: 9;
}
.save_taxonomy{
    position: absolute;
    right: 6em;
    top: 5px;
    z-index: 9;
}
.expand_taxonomy{
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 9;
}
/*.autoring_taxonomy .associations .taxonomy_tree_node {
    display: none;
}*/
.associations .taxonomy_node {
        max-width: 32em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        float: left;
        /*padding: 5px 0;*/
    }
.associations .metadata_attr{
    border: 1px solid #eee;
    box-shadow: 3px 3px 3px #eee;
}
.autoring_taxonomy .right-panel form .form-group{
    margin-bottom: 25px;
}
.autoring_taxonomy .right-panel form .metadata{
    margin-bottom: 25px;
}
.autoring_taxonomy .taxonomy_wrapper .selected_taxonomy{
    margin: 0 0 10px 0;
    border-bottom: 2px solid #ddd;
    padding: 5px;
}
.autoring_taxonomy .metadata .metadata-value{
    padding-right: 0;
}
.autoring_taxonomy .right-panel{
    border-left: 1px solid #ccc;
}
.autoring_taxonomy .metadata_add,.autoring_taxonomy .associations_add{
    margin-left: 5px;
}
.autoring_taxonomy .authoring_dropdown{
    position: absolute;
    left: 10%;
    width: 50%;
    visibility: hidden;
    padding: 15px 15px 0 15px;
}
/*.authoring_btn:hover + .authoring_dropdown{
    display: block;
}*/
ul.authoring_dropdown li {
background-color: #BEBEBE;
border-radius: 152px;
width: 10px;
height: 10px;
z-index: 1000;
position: relative;
border: none;
}

ul.authoring_dropdown {
height: 300px;
list-style: none;
margin: 0;
padding: 0;
position: relative;
display: flex;
flex-direction: column;
justify-content: space-between;
overflow: hidden;
}
ul.authoring_dropdown li a{
position: relative;
bottom: 7px;
height: 27px;
}
ul.authoring_dropdown li a:hover{
background: transparent;
}
ul.authoring_dropdown::after{
content: "";
position: absolute;
top: 27px;
left: 20px;
background: #777;
width: 2px;
height: 210px;
}
ul.authoring_dropdown li{
background: #5cb85c;
border-radius: 100px;
width: 12px;
line-height: 14px;
height: 12px;
top: 0px;
z-index: 1;
position: relative;
}
ul.authoring_dropdown li::after{
content: "";
position: absolute;
bottom: 0;
left: 1px;
width: 5px;
height: 26px;
}
.modify_status{
    background: #2175ff;
color: #fff;
text-align: center;
padding: 5px;
position: relative;
left: -15px;
width: 115%;
}
.selected_taxonomy{
    display: none;
}
.taxonomy_human_coding{
    font-weight: 500;
    font-size: 14px;
    margin-left: 4px;
}
.selected_taxonomy_list .live{
    padding: 3px 0;
}
.selected_taxonomy_list .lirow{
    padding: 3px 0;
}
.association_section{
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 0;
}
.association_header{
    border-bottom: 1px solid #ccc;
}
.association_attr{
    border-bottom: 1px solid #ccc;
}
.asso_type_header{
    padding: 5px 0;
    border-right: 1px solid #ccc;
}
.dest_header{
    padding: 5px;
    text-align: center; 
}
.association_section .taxonomy_wrapper{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 15px;
}
.asso_type_value{
    padding: 5px 0;
    border-right: 1px solid #ccc;
}
.tab-contents{
    max-height: 33em;
    overflow: auto;
}
.close_asso{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9;
}
/*CSS for Authoring page ends*/

/*CSS for Set-up page ends*/
.setup .hierarchy{
    font-size: 10px;
    color: #ccc;
    margin-top: 10px;
}
.setup .mandatory_field_btn{
    margin-top: 20px;
}
.setup .right-panel form{
    margin-top: 20px !important;
}
.setup .hierarchy p{
    margin: 0;
} 
/*CSS for Set-up page ends*/
.login_page .logo{
    text-align: center;
    color: #000000;
}
/*CSS for Login page starts*/
.login_page form label{
    color: #87878a;
    font-weight: normal;
    font-size: 16px;
}
.login_page .btn-login{
    background: #ff3266;
    padding: 12px;
    border: transparent;
    border-radius: 25px;
    margin-top: 20px;
    color: #fff;
}
.login_page .sign_in{
    font-size: 25px;
}
.login_page .get_started{
    float: right;
    font-size: 16px;
    border-radius: 22px;
    padding: 8px 30px;
}
.login_page .form-signin{
    margin-top: 30px;
}
.common_text_size{
    font-size: 17px;
}
.login_page .create_account{
    margin-top: 20px;
}
.login_page .no_account{
margin-top: 10px;
display: inline-block;
}
.login_page .account-wall{
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.login_page .account-wall:hover{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
.login_page .pwd_help{
    position: relative;
    float: right;
    bottom: 25px;
}
/*CSS for Login page ends*/
 
 /*Common CSS Starts*/
 .text_align_centre{
    text-align: center;
}
.primary_btn{
    padding: 8px 30px;
    border-radius: 4px;
    background: #1e90ff;
    border: none;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
}
body {
    margin-top: 80px;
}
.bold_font{
    font-weight: 600;
}
.instruction_text{
    font-size: 15px;
    color: #000000;
}

.bottom_blue_border{
    border-bottom: 2px solid #1e90ff !important;
}
.close_modal{
    float: right;
    background: transparent;
    border: transparent;
}
.modal_ul{
    padding: 0 15px;
    list-style-type: disc;
}
.modal_ul li{
    padding: 5px 0;
}
/*Common CSS ends*/

/*CSS for setup taxonomy starts*/
              .taxonomy_import_wrapper{
                  margin: 40px 0;
              }
              .import_div{
                padding: 40px 10px;
                border: 1px solid #ddd;
                border-radius: 4px;
                font-size: 18px;
                text-align: center;
                cursor: pointer;
              }
              .import_div:hover{
                box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
              }
              .OR_class{
                  padding: 30px 0px;
                  text-align: center;
              }
              .OR_class > span{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid #ddd;
                display: inline-block;
                line-height: 40px;
                font-size: 15px;
                background: #eeeeee;
                color: #666666;
              }
              .to_import{
                  background: #1e90ff;
                  color: #fff;
              }
              .taxonomy_setup_wrapper{
                  margin-top: 30px;
              }
    /*CSS for setup taxonomy ends*/
 /*CSS for Import Taxonomy Report  starts*/
 .imported_taxonomy_info{
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    font-size: 17px;
    margin-bottom: 30px;
}

/*CSS for Import Taxonomy Report starts*/
/*CSS for Import Taxonomy page ends*/
.upload_file_section .file_size{
    font-size: 16px;
    color: #666666;
  }
  .file_uploding{
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  .close_uploading_file{
    position: absolute;
    right: 10px;
    z-index: 9;
  }
 .import_taxonomy input[type=radio]{
   width: 20px;
   height: 20px;
   margin-left: -30px !important;
           }
/*CSS for Import Taxonomy ends*/

/*CSS for customised Scrollbar starts*/

.scrollbar-customised::-webkit-scrollbar-track{
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
     background-color: #FFFFFF;
}
.scrollbar-customised::-webkit-scrollbar{
    width: 8px;
    /*height: 3px;
    background-color: #212121;*/
}
.scrollbar-customised::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    /*background-color:  rgba(33, 116, 255, .6);*/
    background-color:  rgba(238,238,238,1);
}
::-webkit-scrollbar-button{
    height: 0;
    display: none;
}


/*CSS for customised Scrollbar ends*/

@media only screen and (max-width:768px){
    .search_project{
        padding: 0;
    }
    .create_new{
        float: right;
        width: 25%;
    }
    .nav_links{
        padding: 25px 15px;
    }
    .header_right_section{
        padding: 0;
    }
    header nav.nav_links a{
       padding: 25px 5px;
    }
}