img{ max-width:100%; height:auto;}
.matching li{ list-style:decimal;}
.images_box .panel-drag{  background:#fff;}
.images_box .panel-default{margin-bottom:0;}
.well{padding:15px;}
.drag_area { height: 73px; background-color: #F5F5F5;        padding: 10px 30px;   border-radius: 3px;    border: 1px solid #DDDDDD; position:relative;}
.drag_area .panel-default{ margin:0;}
.drag_area .panel-drag{ border-top:0;}
.drop{min-height:20px;padding:15px;margin-bottom:20px; display:block; font-weight:normal;}
.label_number{ padding:0 10px 0 0;  font-size:16px;}
.carasual_slider{ height:52px; overflow:hidden;}
.drag_area .glyphicon-circle-arrow-left{ position:absolute; left:10px; top:50%; margin-top:-7px; cursor:pointer; z-index:1;}
.drag_area .glyphicon-circle-arrow-right{ position:absolute; right:10px; top:50%; margin-top:-7px; cursor:pointer; z-index:1;}


.carasual_slider_images .glyphicon-circle-arrow-left{ position:absolute; left:-20px; top:50%; margin-top:-7px; cursor:pointer; z-index:1;}
.carasual_slider_images .glyphicon-circle-arrow-right{ position:absolute; right:-20px; top:50%; margin-top:-7px; cursor:pointer; z-index:1;}


.bg-right{background-color: #dff0d8 !important;border: 1px solid #d6e9c6;}
.bg-right-box{background-color: #47a447;border-color: #398439; color:#fff; font-weight:bold;}

.bg-wrong {background-color: #f2dede !important;border: 1px solid #e3cfcf;}
.bg-wrong-box{background-color: #d9534f; border-color: #d43f3a; color:#fff; font-weight:bold;}
.images_box .well{ padding:13px 15px;}
.images_box .glyphicon{ top:3px;}
.images_box .glyphicon-remove {color:#D9534F;}
.images_box .glyphicon-ok {color:#47A447;}

.panel-drag .panel.well .panel-body{ display:none; }
.panel-drag.active .panel.well .panel-body{ display:block; padding:13px; }
.panel-drag.active .panel.well{ padding:0; background:#fff;}
.matching_container{ border-radius:10px;background:#f4f4f4; border:1px solid #DDDDDD;}
.matching_container .matching_listing{ border-bottom:1px solid #ddd; padding-top:20px;}
.matching_container .matching_listing.last{ border-bottom:0;}

.toc-plus{display:inline-block;}

.panel-drag {
    background-color: #F5F5F5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #DDDDDD;
    padding: 10px 15px;
}
.panel-drag.bg-right  { border-top:1px solid #D6E9C6; }
.panel-drag{ border:1px solid #DDDDDD; border-radius:3px; margin-bottom:10px; }
.panel-drag.panel-footer { border-top:1px solid #DDDDDD !important; border:0; border-radius:0 0 3px 3px; margin-bottom:0px; }
.panel{box-shadow:inherit;}
.carasual_slider_images{ height:83px; overflow:hidden;}
.mcq_sorting .panel.panel-default{ margin-bottom:63px;}
.mcq_sorting .panel.panel-default.last{ margin-bottom:0px;}
.ordering .col-md-2{ text-align:center;}
.panel.shortting{ margin-bottom:20px;}
.fib .well {padding: 5px 15px; display:inline-block; min-width:140px;}
.fib .panel-body{ padding:0; position:relative;}
.fib .panel.well.right_answer{ background:#dff0d8;}
.fib .panel.well.wrong_answer{ background:#f2dede;}
.fib .panel.well .glyphicon-ok{ color:#3c763d;}
.fib .panel.well .glyphicon-remove{ color:#a94442;}
.fib .panel.well .glyphicon-ok , .fib .panel.well .glyphicon-remove{position: absolute;right: 10px;top: 50%;margin-top: -7px;}
.panel.well .panel-body{ display:none;}
.panel.well.right_answer .panel-body, .panel.well.wrong_answer .panel-body{ display:block;}
.panel.well.right_answer .drop_message, .fib .panel.well.wrong_answer .drop_message{ display:none;}
.tab_container .nav-tabs>li.active>a, .tab_container .nav-tabs>li.active>a:hover, .tab_container .nav-tabs>li.active>a:focus{ background:#f5f5f5;}
.tab_container .panel-footer{ border:1px solid #ddd; border-top:0;}

.tab_container2 .nav.nav-stacked{ float:left;  min-height:200px;}
.tab_container2 .panel-footer{ overflow:hidden; min-height:200px;}
.tab_container2 .nav-tabs>li>a {margin-bottom: 2px; margin-right:0;border-radius: 4px 0 0 4px;}
.tab_container2 .nav-tabs>li {margin-right: -1px; margin-bottom:0;}
.tab_container2 .panel-footer{ border:1px solid #ddd; }
.tab_container2 .nav-tabs {border-right: 0px solid #ddd; border-bottom: 0px solid #ddd;}
.tab_container2 .nav-tabs>li.active>a, .tab_container2 .nav-tabs>li.active>a:hover, .tab_container2 .nav-tabs>li.active>a:focus{ border:1px solid #ddd; border-right:0;}
.tab_container2 .panel-footer{border-radius:0 3px 3px 0;}


.Feed_area .glyphicon-ok, .Feed_area .glyphicon-remove {
    margin-top: -7px;
    position: absolute;
    right: -4px;
    top: 50%;
}
.Feed_area .panel-title{ position:relative; }
.alert{ position:relative;}
.alert .glyphicon-ok, .alert .glyphicon-remove {
    margin-top: -7px;
    position: absolute;
    right:15px;
    top: 50%;
}



body{	font-family:'Roboto', sans-serif;	outline:none; font-size:14px; background: #fff; }
.pull-middle{ overflow:hidden;}
img{ max-width:100%; height:auto;}
.sprite{	background-image:url(../img/sprite.png); background-repeat:no-repeat;}
.header{	height:auto; padding:0 0px; background:#eeeeee; position:fixed; width:100%;  z-index:2;}
.logo{ display:block; padding: 0; margin:15px 0 15px 0; }
.logo a{ text-indent:-999em ; display:block; width:125px; height:35px; background:url(../img/logo.png) no-repeat 0 3px;  }
.login_avater{ width:39px ; height:39px; border-radius:50%; border:1px solid #666666; overflow:hidden;}
.login_avater img{ max-width:100%; height:auto; border-radius:50%; }
.headerlinks{ margin:0 0; float:left;}
.navbar-nav {    float: none;    margin: 0px;    text-align: center;    width: 100%;}
.navbar-nav > li {    float: none;    display: inline-block; vertical-align: top;}
.headerlinks .navbar-collapse.collapse, .headerlinks .navbar-default{ padding:0 !important; border:0; background:none; margin:0;}
.headerlinks .navbar-default .navbar-nav>.active>a, .headerlinks .navbar-default .navbar-nav>.active>a:hover, .headerlinks .navbar-default .navbar-nav>.active>a:focus{ background:none; }
.headerlinks .navbar-nav>li>a{ padding:22px 20px;  font-size:14px; margin-left:-3px;}
.headerlinks .navbar-nav>li:last-child>a{  border-right:0px solid #dbcdc1; }
.header .wel-area{	 position: relative;padding:13px 0 13px 10px; }
.wel-color{	color:#000;padding:5px 0 0 8px ; font-size: 11px;}
.wel-name{	display:block;padding:0px 40px 0 8px ; font-size:14px; color:#31506e; line-height:16px;    font-size: 13px;    color:#30506E; position:relative;	}
.arrow {    background-position:-309px 9px;    border: 0 none;    cursor: pointer;    height: 40px;    width: 40px; right:0px; top:-16px; position:absolute; z-index:1;}
.wel-area.open .arrow{background-position:-309px -188px; }
.search-area{ padding-top:16px;}
.page-title{ font-size:22px; line-height:28px; margin-bottom:25px;}
.content{ padding:50px 0 30px 0;}
.from-container{  border-radius:10px;}
.from-container-row{ padding:20px 15px;}
.from-container .dropdown .btn{ width:100%; text-align:left;}
.from-container .dropdown .btn .caret{ margin-top: 8px;}
.from-container .dropdown .dropdown-menu{ width:100%;}
.from-row-title{ background:#eee; border-bottom:1px solid #ddd; border-top:1px solid #ddd; padding:20px 15px;}
.btn-group-justified .btn:first-child{ }
.theme-col-1{ width:20%; float:left; margin:0 0 0  0;}
.theme-col-1.last{ margin-right:0;}
.theme-box-col{ padding-left:15px; padding-right:15px; }
.box-theme{ border:1px solid #ddd; border-radius:5px; overflow:hidden; padding:3px; background:none; position:relative;}
.box-theme img{ border-radius:3px; cursor:pointer;}
.box-theme:hover{ border:1px solid #2b78e4; background:#6fa8dc;}
.box-theme-title{ /*font-weight:bold;*/ padding:5px 10px; line-height:22px}
.theme-preview-control{ position:absolute; bottom:0; width:100%; text-align:center; display:none;}
.theme-preview-control .btn{ margin:0 3%;}
.box-theme:hover .theme-preview-control{  display:block; bottom:20px;}
.btn-group.first .btn{ border-right:0; }
.footer{ background:#bbb; text-align:center; padding:20px;}
.from-container td.chapter1{ padding-left:55px;}
.from-container td.chapter2{padding-left:65px;}
.from-container td.chapter3{padding-left:75px;}
.from-container td.chapter4{padding-left:85px;}
.from-container td, .from-container th{ padding:5px 10px;}
.from-container th{color:#666; font-size:16px;}
.open{ color:#cf2a28 !important;}
.inprogress{ color:#ff9900 !important;}
.completed{color:#009e11 !important;}
.chepter-col{ position:relative;}
.edit-icon{ height:20px; width:20px; position:absolute; left:-45px; top:0px; background-position:-7px -7px; display:none;}
.preview-icon{ height:20px; width:20px; position:absolute; left:-24px; top:0px; background-position:-50px -7px; display:none;}
.edit-icon:hover{  background-position:-7px -38px;}
.preview-icon:hover{ background-position:-50px -38px;}
.from-container tr:hover .chepter-col .edit-icon{ display:block;}
.from-container tr:hover .chepter-col .preview-icon{ display:block;}
.from-container tr:hover td{ background:#eee;  position:relative; cursor:pointer;}
.from-container tr:hover td:first-child{border-radius:3px 0 0 3px;}
.from-container tr:hover td:last-child{border-radius:0px 3px 3px 0px;}
.from-container .from-container th:first-child{padding-left:0}
.from-container .from-container th:last-child{padding-right:0;}
.main_container{ height: calc(100% - 81px); background:#fff; }
.wrapper{ padding-top:65px;position:relative; z-index:1;}
body, html{ height:100%;}


.view-port-ft{position: relative;padding:8px 10px 8px 10px;border-left: #ccc 1px solid; border-right: #ccc 1px solid;}
.tools-view-port{height: 49px;width: 49px;cursor: pointer; position:relative; }
.tools-view-icon{height: 49px;width: 49px;background-position:-87px -1px;cursor: pointer; position:relative; }
.tools-view-icon:hover{background-position: -87px -52px;}
.tools-view-port.active .tools-view-icon{background-position:-87px -52px;}
.tooltip-view{ background:#fff; border:1px solid #cfcfd9; border-radius:0 0 5px 5px; width:140px; left:50%; margin-left:-70px; top:57px;position:absolute; z-index:555; border-top:0; overflow:hidden; display:none;}
.desktop-view{}
.tooltip-view li{ padding:10px 10px; border-bottom:1px solid #e5e5e5; }
.tooltip-view ul{ list-style:none; margin:0; padding:0;} 
.tooltip-view li:hover, .tooltip-view li.active{ background:#f6f8f9;}
.tools-view-port.active .tooltip-view{ display:block;}
.tooltip-view li:last-child{ border:0;}
.desktop-view{ width:30px; height:30px; float:left; margin-right:10px; background-position:-98px -11px;}
.tooltip-view li:hover .desktop-view, .tooltip-view li.active .desktop-view { background-position:-98px -62px;}
.tablet-view{ width:30px; height:30px; float:left; margin-right:10px; background-position:-18px -180px;}
.tooltip-view li:hover .tablet-view, .tooltip-view li.active .tablet-view { background-position:-18px -231px;}
.small-tablet-view{ width:30px; height:30px; float:left; margin-right:10px; background-position:-18px -383px;}
.tooltip-view li:hover .small-tablet-view, .tooltip-view li.active .small-tablet-view { background-position:-18px -438px;}
.iphone5-view{ width:30px; height:30px; float:left; margin-right:10px; background-position:-67px -432px;}
.tooltip-view li:hover .iphone5-view, .tooltip-view li.active .iphone5-view { background-position:-118px -432px;}
.iphone-view{ width:30px; height:30px; float:left; margin-right:10px; background-position:-268px -431px;}
.tooltip-view li:hover .iphone-view, .tooltip-view li.active .iphone-view { background-position:-319px -431px;}
.view-text{ overflow:hidden; font-size:14px; line-height:15px;}
.view-size{ display:block; clear:both; font-size:12px;}

.selection-theme{ width:220px; padding:16px 10px 0 0;}

.selection-theme .dropdown .btn {
    width: 100%;
    text-align: left;
}
.selection-theme .dropdown .dropdown-menu {
    width: 100%;
}
.selection-theme .dropdown .btn .caret {
    margin-top: 8px;
}
.confirm-selection{ padding:12px 0px 0 10px;}
.selection-remove{ background:none;}
.selection-remove span{ font-size:25px; color: #777;}


/*============##############  Animation css Start    ############ ================*/


/* animation sets */
.pt-page {	width: 100%;	height: 100%;	position: absolute;	top: 0;	left: 0;	visibility: hidden;	overflow: hidden;	-webkit-backface-visibility: hidden;	-moz-backface-visibility: hidden;	backface-visibility: hidden;	-webkit-transform: translate3d(0, 0, 0);	-moz-transform: translate3d(0, 0, 0);	transform: translate3d(0, 0, 0);	-webkit-transform-style: preserve-3d;	-moz-transform-style: preserve-3d;	transform-style: preserve-3d;}
.pt-page-current,.no-js .pt-page {	visibility: visible;	z-index: 1;}
.no-js body {	overflow: auto;}
.pt-page-ontop {	z-index: 999;}
.pt-page-1 {	background: #FFF; }
.pt-page-2 {	background: #FFF;}
/* Triggers (menu and button) */
.pt-triggers {	}
/* move from / to  */
.pt-page-moveToLeft {	-webkit-animation: moveToLeft .6s ease both;	animation: moveToLeft .6s ease both;}
.pt-page-moveFromLeft {	-webkit-animation: moveFromLeft .6s ease both;	animation: moveFromLeft .6s ease both;}
.pt-page-moveToRight {	-webkit-animation: moveToRight .6s ease both;	animation: moveToRight .6s ease both;}
.pt-page-moveFromRight {	-webkit-animation: moveFromRight .6s ease both;	animation: moveFromRight .6s ease both;}
.pt-page-moveToTop {	-webkit-animation: moveToTop .6s ease both;	animation: moveToTop .6s ease both;}
.pt-page-moveFromTop {	-webkit-animation: moveFromTop .6s ease both;	animation: moveFromTop .6s ease both;}
.pt-page-moveToBottom {	-webkit-animation: moveToBottom .6s ease both;	animation: moveToBottom .6s ease both;}
.pt-page-moveFromBottom {	-webkit-animation: moveFromBottom .6s ease both;	animation: moveFromBottom .6s ease both;}
/* fade */
.pt-page-fade {	-webkit-animation: fade .7s ease both;	animation: fade .7s ease both;}
/* move from / to and fade */
.pt-page-moveToLeftFade {	-webkit-animation: moveToLeftFade .7s ease both;	animation: moveToLeftFade .7s ease both;}
.pt-page-moveFromLeftFade {	-webkit-animation: moveFromLeftFade .7s ease both;	animation: moveFromLeftFade .7s ease both;}
.pt-page-moveToRightFade {	-webkit-animation: moveToRightFade .7s ease both;	animation: moveToRightFade .7s ease both;}
.pt-page-moveFromRightFade {	-webkit-animation: moveFromRightFade .7s ease both;	animation: moveFromRightFade .7s ease both;}
.pt-page-moveToTopFade {	-webkit-animation: moveToTopFade .7s ease both;	animation: moveToTopFade .7s ease both;}
.pt-page-moveFromTopFade {	-webkit-animation: moveFromTopFade .7s ease both;	animation: moveFromTopFade .7s ease both;}
.pt-page-moveToBottomFade {	-webkit-animation: moveToBottomFade .7s ease both;	animation: moveToBottomFade .7s ease both;}
.pt-page-moveFromBottomFade {	-webkit-animation: moveFromBottomFade .7s ease both;	animation: moveFromBottomFade .7s ease both;}
/********************************* keyframes **************************************/
/* move from / to  */
.row-toc-panel{position:relative;}
.toc-panel-container .row-toc-inner{ padding:5px 80px 5px 45px; list-style:inside;  display:block;}
.toc-panel-container .row-toc-inner:hover { background:#eee;  cursor:pointer;border-radius:3px;}

.toc-panel-container{ padding:0; margin:0; list-style:none;}
.dragicon{ position:absolute; left:5px; background-color:#eee; height:26px; width:26px; top:15px; margin-top:-13px; display:none;}
.dragicon:before, .addchild:before, .removenote:before {margin: 6px;display: none;}
.toc-panel-container .row-toc-inner:hover .dragicon, .toc-panel-container .row-toc-inner:hover .addchild, .toc-panel-container .row-toc-inner:hover .removenote{ display:none;}
.addchild{ position:absolute; right:30px; background-color:#eee; height:26px; width:26px; top:15px; margin-top:-13px; display:none;}
.removenote{position:absolute; right:5px; background-color:#eee; height:26px; width:26px; top:15px; margin-top:-13px; display:none;}

.row-toc-inner:before{display: none; background-color: #444;height: 6px;width: 6px;border-radius: 50%;content: "";position: relative;right: 7px;top: -2px;}
.tooltip{ white-space:nowrap;	}
.tooltip-arrow{ right:0;}
.button-area{ padding:10px 0;}
.toc-panel-container .row-toc-panel .row-toc-panel {}
.toc-panel-container  .labellist .row-toc-inner{/* margin-left:15px;*/}
.labellist1 .row-toc-inner { margin-left:30px;}
.labellist2 .row-toc-inner { margin-left:45px;}
.labellist3 .row-toc-inner { margin-left:60px;}
.labellist4 .row-toc-inner { margin-left:75px;}

.row-toc-panel:hover{ background:#eee; border-radius:3px;}
/*.toc_ul li li:last-child{ border: 0;}*/
.toc_ul li li.last-child{ border: 0;}
@-webkit-keyframes moveToLeft {
    from { }
    to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
    from { }
    to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
    from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
    from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight { 
    from { }
    to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight { 
    from { }
    to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
    from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
    from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveToTop {
    from { }
    to { -webkit-transform: translateY(-100%); }
}
@keyframes moveToTop {
    from { }
    to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveFromTop {
    from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
    from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveToBottom {
    from { }
    to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
    from { }
    to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@-webkit-keyframes moveFromBottom {
    from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottom {
    from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

/* fade */

@-webkit-keyframes fade {
    from { }
    to { opacity: 0.3; }
}
@keyframes fade {
    from { }
    to { opacity: 0.3; }
}

/* move from / to and fade */

@-webkit-keyframes moveToLeftFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeftFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeftFade {
    from { opacity: 0.3; -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeftFade {
    from { opacity: 0.3; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRightFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveToRightFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRightFade {
    from { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveFromRightFade {
    from { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveToTopFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@keyframes moveToTopFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveFromTopFade {
    from { opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
    from { opacity: 0.3; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveToBottomFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateY(100%); }
}
@keyframes moveToBottomFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@-webkit-keyframes moveFromBottomFade {
    from { opacity: 0.3; -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottomFade {
    from { opacity: 0.3; -webkit-transform: translateY(100%); transform: translateY(100%); }
}

/* scale and fade */

.pt-page-scaleDown {	-webkit-animation: scaleDown .7s ease both;	animation: scaleDown .7s ease both;}
.pt-page-scaleUp {	-webkit-animation: scaleUp .7s ease both;	animation: scaleUp .7s ease both;}
.pt-page-scaleUpDown {	-webkit-animation: scaleUpDown .5s ease both;	animation: scaleUpDown .5s ease both;}
.pt-page-scaleDownUp {	-webkit-animation: scaleDownUp .5s ease both;	animation: scaleDownUp .5s ease both;}
.pt-page-scaleDownCenter {	-webkit-animation: scaleDownCenter .4s ease-in both;	animation: scaleDownCenter .4s ease-in both;}
.pt-page-scaleUpCenter {	-webkit-animation: scaleUpCenter .4s ease-out both;	animation: scaleUpCenter .4s ease-out both;}
/********************************* keyframes **************************************/
/* scale and fade */

@-webkit-keyframes scaleDown {
    from { }
    to { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleDown {
    from { }
    to { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

@-webkit-keyframes scaleUp {
    from { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleUp {
    from { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

@-webkit-keyframes scaleUpDown {
    from { opacity: 0; -webkit-transform: scale(1.2); }
}
@keyframes scaleUpDown {
    from { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
}

@-webkit-keyframes scaleDownUp {
    from { }
    to { opacity: 0; -webkit-transform: scale(1.2); }
}
@keyframes scaleDownUp {
    from { }
    to { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
}

@-webkit-keyframes scaleDownCenter {
    from { }
    to { opacity: 0; -webkit-transform: scale(.7); }
}
@keyframes scaleDownCenter {
    from { }
    to { opacity: 0; -webkit-transform: scale(.7); transform: scale(.7); }
}

@-webkit-keyframes scaleUpCenter {
    from { opacity: 0; -webkit-transform: scale(.7); }
}
@keyframes scaleUpCenter {
    from { opacity: 0; -webkit-transform: scale(.7); transform: scale(.7); }
}

/*css add on 16.10.2014 start*/
.row-toc-panel{position:relative; }
.toc-panel-container .row-toc-inner{ padding:10px 80px 10px 15px; list-style:inside;  display:block; border-bottom:1px solid #e5e5e5;}
.toc-panel-container .row-toc-inner:hover { background:#f7f7f7;  cursor:pointer;border-radius:3px;}

.toc-panel-container{ padding:0; margin:0; list-style:none;   background: #fff;}
.dragicon{ background-position:-462px -10px; position:absolute; left:5px; background-color:transparent; height:26px; width:26px; top:19px; margin-top:-13px;}
.row-toc-inner:hover .dragicon{background-position:-410px -10px;}

.toc-panel-container .row-toc-inner:hover .dragicon{ display:none;}
.toc-panel-container .row-toc-inner:hover .addchild, .toc-panel-container .row-toc-inner:hover .removenote{ display:block;}
.addchild{background-position:-462px -57px; position:absolute; right:10px; margin-top:-13px; top:50%; background-color:transparent; height:26px; width:26px; display:none;  }
.removenote{background-position:-410px -57px; position:absolute; right:40px; margin-top:-13px; top:50%; background-color:transparent; height:26px; width:26px; display:none; }
.button-toc{ margin:0 3px}
/*.row-toc-inner:before{ background-color: #444;height: 6px;width: 6px;display: inline-block;border-radius: 50%;content: "";position: relative;right: 7px;top: -2px;}*/
.tooltip{ white-space:nowrap;	}
.tooltip-arrow{ right:0;}
.button-area{ padding:10px 0;}
.toc-panel-container .row-toc-panel .row-toc-panel {}

.labellist1 .row-toc-inner { padding-left:45px;}
.labellist2 .row-toc-inner { padding-left:55px;}
.labellist3 .row-toc-inner { padding-left:65px;}
.labellist4 .row-toc-inner { padding-left:75px;}
.labellist5 .row-toc-inner { padding-left:85px;}
.labellist6 .row-toc-inner { padding-left:95px;}
.labellist7 .row-toc-inner { padding-left:105px;}
.labellist8 .row-toc-inner { padding-left:115px;}
.labellist9 .row-toc-inner { padding-left:125px;}

.row-toc-panel:hover{ background:#eee; border-radius:3px;}
.toc-panel-container .dropdown-menu{ width: auto;}

.product-inner{ margin-bottom: 60px; }

/*css add on 16.10.2014 end*/
/*============##############  Animation css End    ############ ================*/

@media screen and (max-width: 1024px){
    .headerlinks {width: 100%; border-top: 1px solid #ddd;}
    .wrapper {padding-top: 130px; }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2){
    .sprite{	background-image:url(../img/sprite_ratina.png) ; background-repeat:no-repeat; background-size:500px 300px; }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .sprite{	background-image:url(../img/sprite_ratina.png) ; background-repeat:no-repeat; background-size:500px 300px; }
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.


Created on : Jul 22, 2014, 1:10:52 PM
Author     : indranil.ghosh




*
Login form styles
*/

.form-signin
{
    /*  max-width: 330px;
      padding: 15px;
      margin: 0 auto;*/
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control{
    /* position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
}
.form-signin .form-control:focus {
    border-color: #156dc2;
    outline: 0;
    box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
}

.form-signin input[type="text"]
{
    /* margin-bottom:0px;
     border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
     border-bottom:0;*/
}
.form-signin textarea
{
    /*margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;*/
}
.form-signin .form-control {
    /* border-radius: 40px;
    height: 42px;
    border: 1px solid #bbb;
    z-index: 1;
    position: relative;
    background: transparent;
    box-shadow: inherit;
    font-size: 13px;
    color: #333; */
}
/*.form-signin select
{
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="file"]
{
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}*/
.progress-button button {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 46px;
    border: 2px solid #156dc2;
    border-radius: 4px;
    background: transparent;
    color: #156dc2;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}
/* .progress-button button:hover {
    background-color: #156dc2;
    color: #fff;
} */
.login_row .help-block {
    font-size: 12px;
    font-weight: 400;
    margin: 15px 0 0;
    color: #fff;
    text-align:center
}
/* .account-wall
{
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 13px;
} */
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}


.api_dd_btn{
    width: 100% !important;
    text-align: right;
}
.align_left{
    text-align: left;
}
.align_right{
    text-align: right;
}
.dd_label{
    text-align: left !important;
}

.dropdown-menu{
    width: 100%;
}

.exe_btn{
    float: right;
}
pre {
    /*outline: 1px solid #ccc;*/ 
    padding: 5px; 
    /*margin: 5px;*/ 
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.toc_ul{
    list-style-type: none;
    padding: 0px; margin: 0;
} 
.toc_ul li li {
    padding-left: 15px;
}
.toc_ul li li {border-bottom:1px solid #e5e5e5; margin-bottom: -1px;}
.toc_ul li li .row-toc-inner{ border: 0;}
/*.toc_ul li li .row-toc-inner:hover{background: none;}*/
.toc_ul li li:hover{    background:#f7f7f7;}

.active_row {
    background: none repeat scroll 0 0 #eee;
    border-radius: 3px;
}


.pattern-list-container{ background:#fff;}
.from-container .pattern-list-table th{ border-bottom:2px solid #e5e5e5; font-size:14px; color:#262a2d; font-weight:normal; background:#fff; border-top:0;}
.pattern-list-table td{ border-top:1px solid #e5e5e5;font-size:16px; color:#333333; font-weight:normal;}
.glossaryTerm{
    color: red;
}
/*-------------------*/
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background: #3877df;
    border-color: #3877df;
}
ul.list-btn {
    margin: 30px 0 0 0;
    list-style: none;
    padding: 0;
}
ul.list-btn li {
    display: inline-block;
    margin: 0 6px 0 0;
}
ul.list-btn li a {
    text-transform: uppercase;
    font-family: Roboto Condensed;
    background: #fff;
    padding: 5px 14px;
    border-radius: 30px;
    cursor: pointer;
    border:#ddd 1px solid;
    color:#333 ; display:block;
}
ul.list-btn li a:hover {
    background:#357ebd;
    border-color:#357ebd;
    color:#fff;
    text-decoration:none
}

.dir_pagination{
    display:block;
    text-align: center;
}

.action-link.labl{ margin-left:0px; border-radius: 4px; color: #fff; font-size: 10px; text-transform: uppercase; padding: 1px 5px; display: block; float: left; line-height: normal; margin-bottom: 0; font-weight: normal;}
.status {position: relative; margin-left:5px; background-color:#fff; border-radius:0; border:1px solid #dddddd; color:#868686 !important; font-size:12px; padding:1px 5px;  display:block;  float:left; line-height:normal; margin-bottom:0; font-weight: normal;   min-width: 75px; text-align:center; vertical-align:middle; padding-right: 25px;  }
.blocker {margin-left: 42px; background-color:#d95450; border-radius:4px; border:1px solid #d95450; color:#fff; font-size:10px; text-transform:uppercase; padding:1px 5px;  display:block;  float:left; line-height:normal; margin-bottom:0; font-weight: normal; min-width:75px; text-align:center; vertical-align:middle;}
.high{  background-color: #d95450;   border: 1px solid #d95450;}
.medium{background-color: #337ab7; border:1px solid #337ab7;}
.low{background-color: #777; border:1px solid #777;}


/*
Switch
*/

.switch{ width:160px;}
.switch-button-label.active, .switch-button-label:hover {color: #333333;}
.switch-button-label {color: #999999;}
.switch-button-label {float: left;font-size: 12px;cursor: pointer; padding:18px 8px; text-transform:uppercase;}
.switch-button-background {float: left;position: relative;background: #fff;border: 1px solid #ececec;margin:17px 1px;border-radius: 10px;cursor: pointer; height:16px; width:30px;}
.switch-button-button {position: absolute;left: -4px;top:-4px; height:25px; width:25px; background-position:-313px -14px; }
.switch-button-background.on{background: #0fa41d;border: 1px solid #fff;}

.cmn-toggle {position: absolute;margin-left: -9999px;visibility: hidden;}
.cmn-toggle + label {  display: block;  position: relative;  cursor: pointer;  outline: none;  -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;}

input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {  display: block;  position: absolute;  top: 1px;  left: 1px;  bottom: 1px;  content: "";}
input.cmn-toggle-round + label:before {  right: 1px;  background-color: #f1f1f1;  -webkit-border-radius: 60px;  -moz-border-radius: 60px;  -ms-border-radius: 60px;  -o-border-radius: 60px;  border-radius: 60px; -webkit-transition: background 0.4s;  -moz-transition: background 0.4s;  -o-transition: background 0.4s;  transition: background 0.4s;}
input.cmn-toggle-round + label:after {  width:15px; height:15px; margin-top:-2px;  background-color: #fff;  -webkit-border-radius: 100%;  -moz-border-radius: 100%;  -ms-border-radius: 100%;  -o-border-radius: 100%;  border-radius: 100%;  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);  -webkit-transition: margin 0.4s;  -moz-transition: margin 0.4s;  -o-transition: margin 0.4s;  transition: margin 0.4s;}
input.cmn-toggle-round:checked + label:before {  background-color: #993399;}input.cmn-toggle-round:checked + label:after {  margin-left:12px;}
.switch2 input.cmn-toggle-round + label:after{ width:8px; height:8px;}
.switch2 input.cmn-toggle-round:checked + label:after {  margin-left:7px;}
.switch2 input.cmn-toggle-round + label:before{ background:none;}
.switch2 input.cmn-toggle-round:checked + label:before {  background-color: #8ce196;}
.hedar-prog{ padding-right:8px; }
.issu{ font-size:13px; text-align:center; border-bottom:1px solid #ddd; line-height:18px; margin-bottom:5px; margin-top:-10px;   font-family: 'Roboto Condensed', sans-serif; text-transform:uppercase;}
.fst{ margin:0;}
.toc-inn-Btn{ padding-right:8px;}
.toc-inn-Btn .action-link{ margin-top:4px;}
.open-status{background-color:#c62828; color:#fff !important; border:1px solid #c62828; }
.need-clarification-status{background-color:#ffeb3b; color:#515151 !important; border:1px solid #ffeb3b; }
.inprogress-status{background-color:#ffeb3b; color:#515151 !important; border:1px solid #ffeb3b; }
.resolved-status{background-color:#303f9f; color:#fff !important; border:1px solid #303f9f;}
.fixed-status{background-color:#303f9f; color:#fff !important; border:1px solid #303f9f;}
.closed-status{background-color:#4caf50; color:#fff !important; border:1px solid #4caf50;}
.verified-status{background-color:#4caf50; color:#fff !important; border:1px solid #4caf50;}
.ignored-status{background-color:#FFB74D; color:#333 !important; border:1px solid #FFB74D;}
.toc-inn-Btn .open-status{background-color:transparent; color:#c62828 !important; border:0px solid #c62828; }
.toc-inn-Btn .inprogress-status{background-color:transparent; color:#f9aa39 !important; border:0px solid #c62828;}
.toc-inn-Btn .need-clarification-status{background-color:transparent; color:#f9aa39 !important; border:0px solid #c62828;}
.toc-inn-Btn .resolved-status{background-color:transparent; color:#303f9f !important; border:0px solid #c62828;}
.toc-inn-Btn .fixed-status{background-color:transparent; color:#303f9f !important; border:0px solid #c62828;}
.toc-inn-Btn .closed-status{background-color:transparent; color:#4caf50 !important; border:0px solid #c62828;}
.toc-inn-Btn .verified-status{background-color:transparent; color:#4caf50 !important; border:0px solid #c62828;}
.toc-inn-Btn .ignored-status{background-color:transparent; color:#4caf50 !important; border:0px solid #c62828;}
.toc-outer{ position:relative;   padding:0;}
.last-updated{ font-weight: normal;  font-size: 90%;  float: right;  margin-top:6px; background-color:transparent; color:#666;}
.error{ padding:0 5px; min-width:75px;}
.error.glyphicon-exclamation-sign:before {  top: 2px;  position: relative;}
.status span{ background-color: rgba(0, 0, 0, 0.5);    color: rgb(255, 255, 255);    font-size:9px;    padding: 2px 5px;    position: absolute;    right: -1px;    top: -1px;}
.issu span{ background-color: rgba(0, 0, 0, 0.3);
            color: rgb(255, 255, 255);
            display: inline-block;
            font-size: 12px;
            line-height: 15px;
            padding: 0 5px;}

.bs-callout {
    padding: 20px;
    margin: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.list-theme-title .fa-heart{ color:#F78D04}
.created .fa-heart{ color:#F78D04}

/*---- SOF date picker css fix ----*/
.datepicker{
    margin: 0 0 0 2px;
    padding: 0;
}
.datepicker table th, .datepicker table td
{
    padding:3px !important;
}
.datepicker table td .btn.btn-default
{
    padding:5px !important;
    border: 0 !important;
    box-shadow: none !important;
    text-shadow: none;
}
.datepicker table td .btn.btn-default.btn-today
{
    background:#3877df;
    color:#fff;
}
.datepicker table td .btn.btn-primary
{
    background:#93ADD8;
    color:#fff;
}
.datepicker table tr:hover td
{
    background:transparent;
}

/*---- EOF date picker css fix ----*/
.timepicker
{
    padding: 3px 3px 3px 2px;
}
.timepicker table th, .timepicker table td
{
    padding: 0 !important;
    background: transparent;
    border: 0;
}
.timepicker table td .btn.btn-default
{
    padding: 7px 12px;
    background: #3877df;
    border: 0;
    color: #fff;
    text-shadow: none;
}
.timepicker thead .btn.btn-default,
.timepicker tfoot .btn.btn-default
{
    border: 0;
    box-shadow: none !important;
}
.timepicker table tr:hover td
{
    background:transparent;
}

.popup-boxes .adv-search label
{
    position:static;
    display:block;
}
.advance-container
{
    padding: 0 0 15px 0;
}
.advance-container>div
{
    overflow: auto;
}

/**
** ACMT Changes
**/
#cfdoc_status_start_date  + .datepicker, #cfdoc_status_end_date + .datepicker{
    top: -250px !important;
    margin-left:120px;
}

.content {
    overflow-y: hidden;
}