
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";


// Project authoring start
.project-authoring{
    &-bg{
        height:44px;
        &.search{
            &-wrapper{
                overflow: visible;
                h1{
                    @include margin-indv('top',5px);
                }
            }
        }
        .edit{
            @extend %position-relative;
            @include top(-10px);
            @include font-size(10);
            @include padding(4px);
        }

        .h2{
            @include font-size(24);
        }
        .title-locked{
            max-width: 95%;
        }
    }

    &__taxonomyEdit {
        //&--form {
            
            // button{
            // &.project{
            //     &--state{
            //         @extend %authoring-btn;
            //         }
            //     }
            // }
            // figure{
            //     span{
            //         &.navigate-btn{
            //             @include margin-indv('right',20px);
            //         }
            //         &.navigate,
            //         &.comment-section{
            //             @extend %position-relative;
            //             @include display(inline-block);
            //             .unread-msg-notification{
            //                 @extend %unread-msg-notification;
            //             }
            //             &-text{
            //                 @extend %position-absolute;
            //                 @include font-size(10);
            //                 @include display(inline-block);
            //                 @include font-color($darkest);
            //                 @include bottom(-14px);
            //                 @include left(0);
            //             }
            //         }
            //     }
            //     img{
            //         &.ic{
            //             &-comment{
            //                 @include margin-indv('left',15px);
            //             }
            //         }
            //     }
            // }
        //} 
        
        // .form{
        //     &-view{
        //         .inputfrom,
        //         .custom_metadata{
        //             textarea{
        //                 height: 38px;
        //             }
                    
        //             &_header{
        //                 @include padding(0);
        //                 @include border-indv('bottom', 2px, solid, $darkest);

        //                 .title{
        //                     @include font-size(16);
        //                 }
        //             }
                    
        //             &_edit{
        //                 @include padding(15px 3px);
        //             }

        //             button{
        //                 &.btn{
        //                     &-icon{
        //                         @include padding(5px 7px);
        //                     }

        //                     &-cancel{
        //                         @include font-size(14);
        //                         @include padding(0);
        //                     }
        //                 }
        //             }
                    
        //             @include margin-indv('bottom', 20px);
        //             @include padding(0);
                    
        //             .form-control,
        //             .custom-select{
        //                 @include border-none(none);
        //                 @include border-indv('bottom', 1px, solid, $light);
        //                 @include border-radius(0);
        //                 height: 38px;
        //                 &:focus{
        //                     @extend %no-box-shadow;
        //                     @include border-indv('bottom', 1px, solid, $primary);   
        //                 }
        //             }
        //         }

        //         .associations{
        //             &_header{
        //                 @include padding(0);
        //                 @include border-indv('bottom',2px,solid,$darkest);

        //                 .title{
        //                     @include font-size(16);
        //                 }
        //             }
        //             &_type{
        //                 &_name{                             
        //                     @include padding(10px);
        //                     @include border-indv('right', 1px, solid, $light);
        //                 }
        //                 &_edit{
        //                     @include padding(0);
        //                     @include padding-indv('top', .6875rem);
        //                 }
                        
        //                 .associated_node{
        //                     @include padding(10px);
        //                 }
        //             }
        //         }

        //         label{
        //             @include margin-indv('bottom',0);
        //         }
        //     }
        // }

        .filter{
            @supports (-ms-ime-align: auto) {
                @include padding-indv('right', 2.6rem);
            }
        }
    }

    &--tree{
        // @extend %position-fixed;
        @include bgcolor($lightest);
        @include padding-indv('right', 0);
        @include left(0);
        overflow-y: auto;
        height: calc(100% - 63px);

        .card{
            @include bgcolor($lightest);
        }

        .tree{
            &--details{
                @extend %position-relative;
                .card{
                    &-body{
                        &--last{
                            .col-10{
                                @include padding-indv('right', 0);
                                flex-basis: 78%;
                                max-width: 78%;

                                @media screen and (min-width: $xxlarge) {
                                    flex-basis: 85%;
                                    max-width: 85%;
                                }

                                @media screen and (min-width: $xxxlarge) {
                                    flex-basis: 88%;
                                    max-width: 88%;
                                }
                            }
                        }
                    }
                }
                .activated{
                    background-color: $white;
                }
            }
        }
    }
    
    .preview{
        &-panel{
            @include right(0);
            height: calc(100% - 63px);

            .btn{
                &-danger{
                    @include font-size(14);
                    @include padding-indv('right', 1.1rem);
                    @include padding-indv('left', 1.1rem);

                    span{
                        @extend %font-weight-semi-bold;
                    }
                }
            }

            .icon{
                &-icon{
                    &-in{
                        &-progress{
                            @include font-size(13);
                            @include margin-indv('left', 5px);
                        }
                    }
                }
            }

            &--nav{
                @include bgcolor($white);
                @include z-index(1);
                width: 100%;

                @supports (-ms-ime-align: auto) {
                    @include margin-indv('left', -10px);
                    @include padding-indv('right', 1.5rem);
                    width: 48%;
                    right: 15px;
                }
            }

            .dropdown{
                &-split{
                    @include padding-indv('left', 0);
                }
            }
        } 
    }



    .border{
        &-bottom,
        &-top:not(:first-child){
            border-bottom-color: $light;
        }
    }


    .tab-right{
        button{
            &.project-state{
                @extend %authoring-btn;
            }
        }
    }

    nav{
        &.role-panel{
            @extend %common-tab;
            ul{
                @include margin-indv('bottom',0);

                li{
                    @extend %font-weight-semi-bold;
                    @include padding(2px 10px);
                    @include font-color($darkest);

                    &.tab_selected{
                        @extend %tab-selected;
                    }
                }
            }
        }
    }
}
// Project authoring end

.taxonomies-creation{
    h3{
        @include font-size(20);
    } 
}

// Taxonomy association
.taxonomy-association{
    .header{
        @include bgcolor($lightest);
        @include padding(10px 0);
    }
    .associated-taxonomy{
        @include font-size(20);
    }
    .small{
        @include font-color($darkest);
        @include font-size(12);
    }
    .associations{
        &-list{
            @include border-indv('bottom', 1px, solid, $dark);
            &:last-child{
                @include border-none(none);
            }
        }
    }
}



.preloader {
    &-backdrop {
      @include left(0);
      @include top(0);
      @include z-index(999);
      background-color: transparentize($color: $lighter, $amount: .3);
    }
  }
  