<div class="project-authoring" [ngClass]="!reorderComplete?'cursor-deny dim':''">

  <div class="container-fluid">
    <div class="project-authoring__taxonomyEdit row">
      <as-split #split="asSplit" direction="horizontal" style="height:auto;">
        <!-- <as-split-area size="50" [minSize]="LEFT_MIN_SIZE" [maxSize]="LEFT_MAX_SIZE"> -->
        <as-split-area size="50" [minSize]="40" [maxSize]="LEFT_MAX_SIZE">
          <section id="tree_container_id" class="project-authoring--tree">

            <div class="col d-flex justify-content-between py-3 filter">
              <!-- search section STARTS -->
              <div class="col-auto px-0">
                <!-- <app-preloader *ngIf="(isLoading || isSearching)"
                  [loaderText]="isFirstSearchInitialise ? 'Initializing Data...': 'Searching...'">
                </app-preloader> -->
                <app-tree-search #treeSearch *ngIf="!reOrder" [filterCriteriaList]="filterCriteriaList"
                  [treeData]="taxonomyData" (searchEvent)="captureSearchEvent($event)"
                  (loaderEvent)="setLoaderEvent($event)"></app-tree-search>

              </div>
              <!-- search section ENDS -->
              <div class="d-flex align-items-center justify-content-end" *ngIf="project_type !== '2'">
                <button *ngIf="reOrder" class="btn btn-cancel text-underline btn-sm mr-2" id="onCancelDragAndDropBtn"
                  (click)="onCancelDragAndDrop();">
                  Cancel</button>
                <button *ngIf="reOrder" [disabled]="!reorderComplete" class="btn btn-primary btn-sm"
                  id="saveUpdatedTaxonomyBtn" (click)="saveUpdatedTaxonomy();"> Update
                </button>
                <ng-container *ngIf="!reOrder">
                  <label for="showDetails" class="font-bold mb-0 pr-2" id="showDetailsLabel">
                    Show: </label>
                  <select id="showDetails" [(ngModel)]="assignedToMe" [ngModelOptions]="{standalone: true}"
                    class="custom-select" (ngModelChange)="onChangeCommentAssigned()">
                    <option [ngValue]="'all'" id="all-option">Project Taxonomy</option>
                    <option [ngValue]="'assignedToMe'" id="assignedToMe-option">Comments Assigned To Me</option>
                    <option [ngValue]="'complete'" id="complete-option">Complete</option>
                  </select>
                </ng-container>
              </div>
            </div>

            <!--Taxonomy Tree START -->
            <div *ngIf="taxonomyData">
              <ng-container *ngIf="isAllNode===false">
                <ng-container *ngFor="let taxonomy of taxonomyData">
                  <section id="accordion" class="col-12 tree--details tree--details__authoring px-0">
                    <section>
                      <app-tree #tree [itemComplianceReports]="itemComplianceReports" [isAllNode]="isAllNode"
                        [isAddAssociations]="!preventEdit ? isAddAssociations : false" [treeNodes]="taxonomy.children"
                        [isAllNode]="isAllNode" [isAddNode]="!preventEdit ? createNodePermission : false"
                        [isDeleteNode]="!preventEdit ?  deleteNodePermission : false" [viewLocation]="'project_auth'"
                        [showComplaince]="true" [reOrder]="reOrder" [nodetypeList]="nodetypeData"
                        (addNodeEvent)="addNodeEvent($event)" (deleteNodeEvent)="deleteNodeEvent($event)"
                        (addAssociationEvent)="addAssociation($event);" [searchText]="searchText"
                        [searchResultList]="searchResultList" [isFilterApplied]="isFilterApplied" [isReset]="isReset"
                        [preventEdit]="preventEdit">
                      </app-tree>
                    </section>
                  </section>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="isAllNode===true">
                <section id="accordion" class="col-12 tree--details tree--details__authoring pr-0">
                  <!-- <div class="expand-all custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label font-bold" for="customCheck1">Expand All</label>
              </div> -->
                  <section>
                    <app-tree #tree [itemComplianceReports]="itemComplianceReports" [isAllNode]="isAllNode"
                      [isAddAssociations]="isAddAssociations" [treeNodes]="taxonomyData.children"
                      [isAllNode]="isAllNode" [isAddNode]="!preventEdit ? createNodePermission : false"
                      [isDeleteNode]="!preventEdit ?  deleteNodePermission : false" [viewLocation]="'project_auth'"
                      [showComplaince]="true" [reOrder]="reOrder" (addNodeEvent)="addNodeEvent($event)"
                      (deleteNodeEvent)="deleteNodeEvent($event)" [searchText]="searchText"
                      [searchResultList]="searchResultList" [isFilterApplied]="isFilterApplied" [isReset]="isReset"
                      [preventEdit]="preventEdit">
                    </app-tree>
                  </section>
                </section>
              </ng-container>
            </div>
            <!--Taxonomy Tree END -->

            <app-preloader *ngIf="!taxonomyData" [loaderText]="'Loading Project'"
              class="w-100 position-fixed preloader-backdrop"></app-preloader>

            <ng-container *ngIf="(isLoading || isSearching)">
              <app-preloader class="w-100 h-100 position-fixed preloader-backdrop" *ngIf="isSearching"
                [loaderText]="'Searching...'">
              </app-preloader>
            </ng-container>



          </section>
        </as-split-area>

        <as-split-area size="50">
          <section id="right_container_id"
            class="preview-panel px-3 overflowY-auto right-form-div project-authoring__taxonomyEdit--form"
            *ngIf="taxonomyData">
            <div class="row position-fixed preview-panel--nav" id="right-preview-panel">
              <div class="d-flex align-items-center justify-content-between pb-3 col-12 pt-3">

                <div class="node-navigate d-flex justify-content-between align-items-start" *ngIf="tempTaxonomyData">
                  <button class="btn btn-clear tooltip right font-1x position-relative" id="previousBtnpa"
                    [attr.aria-label]="'Previous Node'" data-tooltip="Previous node"
                    [disabled]="selectedNode.isFirst === true || selectedNode.id === firstNode?.id"
                    (click)="onTreeNavigatePreviousClick()">
                    <em class="icon-ico-prev-arrow"></em>
                  </button>

                  <button class="btn btn-clear tooltip right font-1x position-relative" id="nextBtnpa"
                    [attr.aria-label]="'Next Node'" data-tooltip="Next node"
                    [disabled]="selectedNode.id === lastNode?.id" (click)="onTreeNavigateNextClick()">
                    <em class="icon-ico-next-arrow"></em>
                  </button>

                  <span class="preview-panel--nav-helper text-uppercase text-center">navigate</span>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                  <ng-container *ngIf="viewCommentList && isEditable">
                    <a href="javascript:void(0);" id="btnComment" (click)="openCommentSec()"
                      aria-label="Click to add comment">
                      <ul class="list-inline text-center mb-0">
                        <li class="list-item-inline position-relative comment">
                          <em class="icon-ico-comment"></em>

                          <img src="assets/images/comment.gif" class="img-responsive" alt="Comment" />
                          <span class="unread-count ng-star-inserted unread-message"
                            *ngIf="commentNotification && viewCommentList" role="alert" aria-live="polite"
                            aria-atomic="true" aria-label="You have unread comment">
                            <span *ngIf="selectedNode['open_comment_count']>0">
                              {{selectedNode['open_comment_count']}}
                            </span>
                          </span>
                        </li>
                        <li class="list-item-inline">
                          <span class="preview-panel--nav-helper comment-text text-uppercase position-relative">
                            comments
                          </span>
                        </li>
                      </ul>
                    </a>
                  </ng-container>

                  <ng-container>
                    <button type="button" class="btn btn-primary btn-md save ml-2" id="editNodeBtn" (click)="editNode()"
                      [disabled]="preventEdit || !isEditable || invalidUrl" *ngIf="editNodePermission">Save</button>
                  </ng-container>
                </div>
              </div>
            </div>


            <app-node-details #nodeDetailsComponent (formData)="receiveFormObj($event)"
              [nodetypeList]="itemNodetypeList" [selectedNodetype]="selectedNodeType"
              [isEditable]="!preventEdit ? (isEditable && editNodePermission) : false"
              (nodetypeChangeEvent)="onNodeTypeSelected($event)" (formValidate)="formValidate($event)"
              (formObject)="formObject($event)" [view]="view" [isAllFieldFilled]="isAllFieldFilled"
              [margin_val]="'90px'" [disableOptionList]="disableOptionList">
            </app-node-details>

            <section name="updateitem" class="form-view">

              <!--ADDITIONAL METADATA SECTION STARTS-->
              <div class="group inputfrom custom_metadata col-lg-12 px-0"
                *ngIf="showAdditionaMetaData && addedAdditionalMetadata">

                <!-- Accordian starts -->
                <app-accordion [accordionNo]="1" [title]="'additional metadata'" [expanded]="true"
                  [dataLength]="addedAdditionalMetadata.length" [addModalId]="'addAdditionalMetadata'"
                  [showAddButton]="!preventEdit ? (createAdditionalMetadataPermission && isEditable) : false"
                  (addButtonClickedEvent)="onAddMetadata();optionSelected('Additional Metadata')">
                  <ng-container class="accordion-content"
                    *ngIf="taxonomyData && addedAdditionalMetadata && showAssocciation">
                    <app-additional-metadata-details *ngFor="let data of addedAdditionalMetadata"
                      [additionalMetadataData]="data"
                      [viewMode]="!preventEdit ? ((createAdditionalMetadataPermission && isEditable)?'edit':'view'): view "
                      [isRightPanel]="false" (editClicked)="onEditAdditionalMetadata($event)"
                      (deleteClicked)="onDeleteProjectResource($event, 'AdditionalMetadata')">
                    </app-additional-metadata-details>
                  </ng-container>
                </app-accordion>
                <!-- Accordian end -->

              </div>
              <!--ADDITIONAL METADATA SECTION ENDS-->

              <!--EXEMPLAR SECTION STARTS-->
              <div class="group inputfrom associations col-lg-12 px-0" *ngIf="showExempler">

                <!-- Accordian starts -->
                <app-accordion [accordionNo]="2" [title]="'exemplars'" [expanded]="false"
                  [dataLength]="itemExemplars.length" [addModalId]="'add-exemplar'"
                  [showAddButton]="!preventEdit ? (editNodePermission && isEditable) : false"
                  (addButtonClickedEvent)="optionSelected('Exemplar')">
                  <ng-container class="accordion-content" *ngIf="taxonomyData && itemExemplars && showAssocciation">
                    <app-exemplar-details *ngFor="let exemplar of itemExemplars;let $index=index"
                      [exemplarData]="exemplar" [isRightPanel]="false" [serialNo]="$index" (editClicked)="false"
                      (deleteClicked)="onDeleteProjectResource($event, 'Exemplar')" (previewClicked)="false"
                      (downloadClicked)="false" [canPreview]="false"
                      [showDelete]="!preventEdit ? (editNodePermission && isEditable) : false" [option]="'Exemplar'">
                    </app-exemplar-details>
                  </ng-container>
                </app-accordion>
                <!-- Accordian end -->

              </div>
              <!--EXEMPLAR SECTION ENDS-->


              <!--ASSET SECTION STARTS-->
              <div class="group inputfrom associations col-lg-12 px-0">

                <!-- Accordian starts -->
                <app-accordion [accordionNo]="3" [title]="'documents'" [expanded]="false"
                  [dataLength]="itemAssets.length" [addModalId]="'add-exemplar'"
                  [showAddButton]="!preventEdit ? (editNodePermission && isEditable) : false"
                  (addButtonClickedEvent)="optionSelected('Document')">
                  <ng-container class="accordion-content" *ngIf="taxonomyData && itemAssets && showAssocciation">
                    <app-exemplar-details *ngFor="let asset of itemAssets;let $index=index" [exemplarData]="asset"
                      [serialNo]="$index" [isRightPanel]="false" (editClicked)="false"
                      (deleteClicked)="onDeleteProjectResource($event, 'Document')" (previewClicked)="false"
                      (downloadClicked)="false" [showDelete]="!preventEdit ? (editNodePermission && isEditable) : false"
                      [option]="'Document'"></app-exemplar-details>
                  </ng-container>
                </app-accordion>
                <!-- Accordian end -->

              </div>
              <!--ASSET SECTION ENDS-->

              <!-- ASSOCIATION + LINKED NODES SECTION STARTS -->
              <ng-container *ngIf="selectedNode.is_document !== 1">
                <div class="group inputfrom associations col-lg-12 px-0">

                  <!-- Accordian starts -->
                  <app-accordion [accordionNo]="4" [title]="'associations &amp; linked nodes'" [expanded]="false"
                    [dataLength]="combinedAssociationArr.length" [addModalId]="'add-association'"
                    [showAddButton]="!preventEdit ? (isAddAssociations && isEditable) : false"
                    (addButtonClickedEvent)="onAddAssociation()">
                    <ng-container class="accordion-content" *ngIf="taxonomyData && associatedNodes && showAssocciation">
                      <div class="row" *ngFor="let item of associatedNodes">
                        <div class="associations_type mt-2 px-3 col-12 border-bottom">

                          <div class="row pb-1 associations_type_inner px-0">
                            <div class="col-12">
                              <p class="mb-0 font-bold text-pink">{{ item.key }}</p>
                            </div>
                          </div>

                          <div class="row pt-1 associations_type_inner px-0" *ngFor="let data of item.value">
                            <div class="col-4 font-bold">
                              <p class="mb-0">
                                {{data.key}}</p>
                            </div>

                            <div class="col-8">
                              <div class="mb-2" *ngFor="let node of data.value;let $index = index">
                                <div class="row">
                                  <div class="col-10">
                                    <p class="font-bold mb-1" *ngIf="node.link_type === 'linked node'">Linked Node</p>
                                    <div class="mb-0">
                                      <span class="node_type">{{node.target_node.node_type_title}} : </span>
                                      <a class="text-underline" target="_blank"
                                        (click)="openNewTab($event,'link_'+node.target_node.item_id+'_'+$index);openInNewTab(node.target_node, node.item_association_id)"
                                        href="{{navigateToTaxonomy(node.target_node, node.item_association_id)}}"
                                        id="link_{{node.target_node.item_id}}_{{$index}}"
                                        [ngClass]="{'cursor-deny':navigateToTaxonomy(node.target_node, node.item_association_id) === ''}">
                                        <ng-container
                                          *ngIf="(node.target_node.human_coding_scheme || node.target_node.full_statement); else document">
                                          <span class="human_coding"
                                            *ngIf="node.target_node.human_coding_scheme && node.target_node.human_coding_scheme.length >0">
                                            {{node.target_node.human_coding_scheme}}</span>
                                          <span class="font-bold"
                                            *ngIf="node.target_node.human_coding_scheme && node.target_node.full_statement">
                                            :
                                          </span>
                                          <span class="full_statement"
                                            *ngIf="node.target_node.full_statement && node.target_node.full_statement.length >0">
                                            {{node.target_node.full_statement}}</span>
                                        </ng-container>
                                        <ng-template #document>
                                          <!--If node does not have human coding scheme or full statement, show document title-->
                                          <span class="full_statement"
                                            *ngIf="node.target_node.document && node.target_node.document.document_title">
                                            {{node.target_node.document.document_title}}</span>
                                        </ng-template>

                                      </a>
                                      <div class="col-12 text-muted mb-0 row" *ngFor="let metadata of node.metadata">
                                        <p class="mb-0">{{metadata.name}}:
                                          {{metadata.metadata_value ? (metadata.metadata_value).split('#||#')[0] : 'None'}}
                                        </p>
                                      </div>

                                    </div>

                                    <p class="mb-0 font-1x text-gray" *ngIf="node?.description">
                                      ({{ node?.description }})
                                    </p>
                                  </div>
                                  <div class="col-2 text-right" *ngIf="node.link_type === 'association'">
                                    <button type="button"
                                      class="btn btn-icon tooltip top top-right d-inline-block position-relative"
                                      id="deleteAssociationsBtn" data-tooltip="Delete association"
                                      *ngIf="deleteAssociations && isEditable"
                                      [hidden]="!preventEdit ? !isEditable : true" (click)="deleteAssociation(node)"
                                      [attr.aria-label]="'Delete association'">
                                      <em class="icon-ico-garbage"></em>
                                    </button>
                                  </div>
                                </div>

                              </div>

                            </div>


                          </div>
                          <!-- IsChildof end -->

                        </div>
                      </div>

                    </ng-container>
                  </app-accordion>
                  <!-- Accordian end -->

                </div>
              </ng-container>
              <!-- ASSOCIATION + LINKED NODES SECTION ENDS -->



            </section>
          </section>
        </as-split-area>
      </as-split>
    </div>
  </div>
</div>
<!--COMMENT OVERLAY STARTS-->
<app-projects-notes #projectNotesComponentId [selecteNodeType]="selectedNode['is_document']===1?2:1"
  [selectNodeItemID]="selectNodeItemID" [viewLocation]="project_type==='2' ? 'pacingguide' : 'project'"
  (notificationEvent)="setCommentNotificationStatus($event)" (actionEvent)="onCommentAction($event)">
</app-projects-notes>



<app-association (associationCreateEvent)="onAssocationCreated($event)" (assModalClosed)="assModalClosed($event);"
  #assocationModal *ngIf="projectDetail && itemAssociations" [associationNode]="selectedNode"
  [associationData]="itemAssociations" [originDocumentId]="projectDetail.document_id" [projectId]="projectId"
  [firstItemNode]="firstItemNode" [lastNode]="lastNode" [nodeLoading]="nodeLoading" [showNavigation]="true"
  (nodeNavigationClickEvent)="nodeNavigation($event)"></app-association>

<!-- Add Exemplar -->
<app-add-exemplar *ngIf="projectDetail" [selectedNodeId]="selectedNode.item_id?selectedNode.item_id:selectedNode.id"
  [documentId]="projectDetail.document_id" [itemExemplars]="option === 'Exemplar' ? itemExemplars : itemAssets"
  (addDeleteEvent)="onAddDelteExemplar($event)" [option]="option" [nodeDetails]="selectedNode"></app-add-exemplar>

<!--CUSTOM METADATA MODAL SECTION STARTS-->
<app-additional-metadata *ngIf="projectDetail" #additionalMetadataComponent
  (additionalMetadataObj)="receiveAddonMetaObj($event)" [nodeDetails]="selectedNode"
  [node_type_id]="selectedNode['node_type_id']" [nodeType]="selectedNodeType" [option]="option"
  [addedMetadataList]="addedAdditionalMetadata" [hidden]="false"
  [selectedNodeId]="selectedNode.item_id?selectedNode.item_id:selectedNode.id" [additionalMetadata]="fetchedMetadata"
  [action]="action" (deleteClicked)="onDeleteProjectResource($event, 'AdditionalMetadata')"></app-additional-metadata>
<!--CUSTOM METADATA MODAL SECTION ENDS-->

<!-- edit uploaded assets info -->
<app-modal [modalId]="'editAssetInfo'" [modalContentId]="'editAssetInfoContent'" [modalSize]="'small'"
  (closeEvent)="false">
  <modal-div class="title-text" id="edituploadedassettitle">
    Edit Uploaded Asset
  </modal-div>

  <modal-div class="body-content">
    <div class="row">
      <div class="form-group col-lg-12 col-sm-12">
        <p class="modal--info-txt font-bold" id="editAssetInfoContent">You can edit the uploaded asset Title and
          Description.
        </p>
        <label for="assetTitle" class="font-bold" id="assetTitleLabel">Title</label>
        <input type="text" id="assetTitle" placeholder="" class="form-control font-bold"
          aria-labelledby="assetTitleLabel assetTitleHelp">
        <p class="form-text text-muted text-right" id="assetTitleHelp">You can change the Title of the uploaded asset.
        </p>
      </div>

      <div class="form-group col-lg-12 col-sm-12">
        <label for="assetDescription" class="font-bold" id="assetDescriptionLabel">Description</label>
        <textarea class="form-control font-bold" id="assetDescription" rows="3"
          aria-labelledby="assetDescriptionLabel assetDescriptionHelp"></textarea>
        <p class="form-text text-muted text-right" id="assetDescriptionHelp">You can change the Description of the
          uploaded
          asset.
        </p>
      </div>
    </div>
  </modal-div>

  <modal-div class="footer-buttons">
    <button class="btn btn-primary btn-lg float-right " id="saveBtn" type="button" (click)="onCancel($event);"
      data-dismiss="modal" aria-label="Close">Done</button>
    <button type="button" class="btn btn-primary btn-sm" id="updtBtn" data-dismiss="modal">Update</button>
  </modal-div>
</app-modal>
<!-- edit uploaded assets info ends -->

<app-modal [modalId]="'editAssociation'" [modalContentId]="'editAssociationContent'" [modalSize]="'small'"
  (closeEvent)="false">
  <modal-div class="title-text" id="editdescriptiontitle">
    Edit Description
  </modal-div>

  <modal-div class="body-content">
    <div class="row">
      <div class="form-group col-lg-12 col-sm-12">
        <p class="modal--info-txt font-bold" id="editAssociationContent">You can edit the added Description of the
          association
          node.
        </p>
        <label for="editAssociationData" id="editAssociationDataLabel" class="font-bold">Description</label>
        <textarea class="form-control" id="editAssociationData" [(ngModel)]="description"
          aria-labelledby="editAssociationDataLabel editAssociationDataHelp"></textarea>
        <p class="form-text text-muted text-right">You can change the Association description.</p>
      </div>

    </div>
  </modal-div>

  <modal-div class="footer-buttons">
    <button type="button" class="btn btn-primary btn-sm" id="updatetBtn" data-dismiss="modal"
      (click)="editAssociation(getItem(currentIndex, 'item'))" [disabled]="description.length===0">Update</button>
  </modal-div>
</app-modal>

<!-- Project taxonomy reorder modal starts -->
<app-modal [modalId]="'reorderProject'" [modalSize]="'big'" [showCloseAlert]="treeRearrenged" [showFooter]="false"
  (closeEvent)="onReorderModalClose()">
  <modal-div class="title-text" id="updatetaxonomytitle">
    Update Taxonomy
  </modal-div>

  <modal-div class="body-content">
    <div class="row">
      <div class="col-12" *ngIf="document_id && buildTaxonomyData">
        <app-taxonomy-builder #taxonomyBuilder [resetTree]="2" [taxonomyData]="buildTaxonomyData" [currentStep]="3"
          [editTaxonomy]="true" [associatedProjectId]="projectId" [viewLocation]="'project-auth'"
          [document_id]="document_id" [createNodePermission]="!preventEdit ? createNodePermission : false"
          [deleteNodePermission]="!preventEdit ?  deleteNodePermission : false"
          [showReorderBtn]="!preventEdit ? editNodePermission : false" (nodeRearrengeEvent)="onTreeUpdate($event)">
        </app-taxonomy-builder>
      </div>
    </div>
  </modal-div>
</app-modal>
<!-- Project taxonomy reorder modal ends -->

<!-- Taxonomy Association modal starts -->
<app-modal [modalId]="'taxonomyAssociation'" class="taxonomy-association" [modalSize]="'big'" [showFooter]="false"
  (closeEvent)="closeAssociationModal($event)">
  <modal-div class="title-text" id="taxonomyassociation">
    Taxonomy Association
  </modal-div>

  <modal-div class="modal-action d-flex align-items-center" *ngIf="step===2 || step===3">
    <p class="d-inline mb-0 mr-3"><span class="px-2">{{addedAssociationCount}} New Association</span>
      <span class="px-2">{{copyCount}} Nodes Copied</span>
    </p>
    <button type="button" class="btn btn-primary btn-sm mr-3" id="savBtnpa" (click)="createAssociations();"
      [disabled]="disableAssociation || loaderOnAssociation">Save</button>
  </modal-div>



  <modal-div class="body-content">
    <app-association-settings #associationSettings>
    </app-association-settings>
    <app-preloader *ngIf="loaderOnAssociation" [loaderText]="associationLoaderData"
      class="w-100 position-fixed preloader-backdrop"></app-preloader>
    <span [ngStyle]="{'display':!loaderOnAssociation ? 'block' : 'none'}">
      <div class="header row" *ngIf="originNode" id="associationsModalHeader">
        <div class="col-12">
          <p class="mb-0 small">You are adding node to:</p>
          <h3 class="mb-0 associated-taxonomy font-bold text-wrapped">{{ (originNode.human_coding_scheme ? originNode.human_coding_scheme:'')
            + ' ' + (originNode.full_statement && originNode.full_statement.length? originNode.full_statement.length > textLength
            ? originNode.full_statement.substr(0, textLength) + ' ...' : originNode.full_statement :'')}}</h3>
          <button class="btn btn-clear text-underline p-0 mt-2" id="associationsBtn"
            (click)="openAssociations(true)">Associations ({{combinedAssociationArr.length}})
          </button>
          <ul class="m-0 p-0 bread-crumb">
            <ng-container *ngFor="let level of originNode.breadCrumbArray;let i=index">
              <li *ngIf="level.trim() !== 'undefined'" [ngClass]="i === originNode.breadCrumbArray.length? 'active':''">
                {{ level.length > breadCrumbLength ? level.substr(0, breadCrumbLength) + ' ...' : level }}
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center mx-0">
        <div *ngIf="openAssociationList" class="col-7 mt-4">

          <div class="d-flex align-items-center">
            <button (click)="openAssociations(false)" class="btn btn-icon btn-sm p-0 pt-1 pr-2"
              id="openassociationsBtn"><em
                class="icon-ico-collapse ic-flip align-text-top text-blue ml-2"></em></button>
            <h4 class="font-bold d-inline-block mb-0 font-5x">Associations ({{combinedAssociationArr.length}})</h4>
          </div>

          <div class="border mt-2">
            <ng-container class="accordion-content" *ngIf="associatedNodes">
              <div class="row mx-0 associations-list" *ngFor="let item of associatedNodes">
                <div class="associations_type mt-2 px-3 col-12">

                  <div class="row pb-1 associations_type_inner px-0">
                    <div class="col-12">
                      <p class="mb-0 font-bold text-pink">{{ item.key }}</p>
                    </div>
                  </div>

                  <div class="row pt-1 associations_type_inner px-0" *ngFor="let data of item.value">
                    <div class="col-4 font-bold">
                      <p class="mb-0">
                        {{data.key}}</p>
                    </div>

                    <div class="col-8">
                      <div class="mb-2" *ngFor="let node of data.value;let $index = index">
                        <div class="row justify-content-between align-items-top">
                          <div class="col-9 pl-0">
                            <p class="font-bold mb-1" *ngIf="node.link_type === 'linked node'">Linked Node</p>
                            <p class="mb-0">
                              <span class="node_type">{{node.target_node.node_type_title}} : </span>
                              <a class="text-underline" target="_blank"
                                (click)="openNewTab($event,'link_'+node.target_node.item_id+'_'+$index);openInNewTab(node.target_node, node.item_association_id)"
                                href="{{navigateToTaxonomy(node.target_node, node.item_association_id)}}"
                                id="link_{{node.target_node.item_id}}_{{$index}}"
                                [ngClass]="{'cursor-deny':navigateToTaxonomy(node.target_node, node.item_association_id) === ''}">
                                <ng-container
                                  *ngIf="(node.target_node.human_coding_scheme || node.target_node.full_statement); else document">
                                  <span class="human_coding"
                                    *ngIf="node.target_node.human_coding_scheme && node.target_node.human_coding_scheme.length >0">
                                    {{node.target_node.human_coding_scheme}}</span>
                                  <span class="font-bold"
                                    *ngIf="node.target_node.human_coding_scheme && node.target_node.full_statement">
                                    :
                                  </span>
                                  <span class="full_statement"
                                    *ngIf="node.target_node.full_statement && node.target_node.full_statement.length >0">
                                    {{node.target_node.full_statement}}</span>
                                </ng-container>
                                <ng-template #document>
                                  <!--If node does not have human coding scheme or full statement, show document title-->
                                  <span class="full_statement"
                                    *ngIf="node.target_node.document && node.target_node.document.document_title">
                                    {{node.target_node.document.document_title}}</span>
                                </ng-template>

                              </a>
                            </p>

                            <p class="mb-0 font-1x text-gray" *ngIf="node?.description">
                              ({{ node?.description }})
                            </p>
                          </div>
                          <div class="col-auto text-right" *ngIf="node.link_type === 'association'">
                            <button type="button"
                              class="btn btn-icon btn-sm px-2 tooltip top lg d-inline-block font-1x mr-2"
                              id="editsettingsBtn" data-tooltip="Edit Settings" (click)="openSettings(node);"
                              [attr.aria-label]="'Edit Settings'">
                              <em class="fas fa-cog"></em>
                            </button>
                            <button type="button"
                              class="btn btn-icon tooltip top top-right d-inline-block position-relative"
                              id="deleteAssociationBtn" data-tooltip="Delete association" *ngIf="deleteAssociations"
                              [hidden]="!preventEdit ? !isEditable : true" (click)="deleteAssociation(node)"
                              [attr.aria-label]="'Delete association'">
                              <em class="icon-ico-garbage"></em>
                            </button>
                          </div>
                        </div>

                      </div>

                    </div>


                  </div>
                  <!-- IsChildof end -->

                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <ng-container *ngIf="!openAssociationList">
        <div class="row mx-0 mt-1" *ngIf="step===1">
          <div class="col-12 px-0">
            <app-tab [tabItems]='tabItems' (tabSelectedEvent)="onTabSelected($event)" [currentTab]="currentTab">
            </app-tab>
          </div>
        </div>
        <div class="row">
          <section [ngStyle]="{'display':currentTab==='browse taxonomy' && step===1 ? 'block' : 'none' }"
            class="col-12">

            <div class="col-9 px-0">
              <app-search class="search" [showBackwardNav]="false" [enableAdvanceSearch]="false"></app-search>
            </div>
            <div class="col-12 px-0">
              <app-browse-taxonomy-list *ngIf="currentTab==='browse taxonomy'" (setStep)="setSelectedStep($event)">
              </app-browse-taxonomy-list>
            </div>

          </section>

          <section [ngStyle]="{'display':currentTab==='search taxonomy' ? 'block' : 'none' }" class="w-100">
            <app-acmt-search #acmtSearch [currentTab]="currentTab" (setStep)="setSelectedStep($event);"
              (removeOptions)="cancleOptionsToCopy($event);removeSelectionForCopy();"
              (updatedAssociationsObj)="associationModalObj($event);" (settingsModalOpen)="settingsModalOpen($event);"
              [associationModalClose]="associationModalClose" [associationModalOpen]="associationModalOpen"
              [optionsToCopySaved]="optionsToCopySaved" [isCopy]="isCopy" [isCopyAssociation]="isCopyAssociation"
              [displayText]="displayText" [displayOption]="displayOption">
            </app-acmt-search>
          </section>

          <section *ngIf="step===2" class="container-fluid">
            <app-select-taxonomy #selectTaxonomy [currentTab]="currentTab"
              (updatedAssociationsObj)="associationModalObj($event);" [isCopy]="copy"
              [isCopyAssociation]="copyAssociation" [optionsToCopySaved]="optionsToCopySaved"
              [selectedTaxonomy]="selectedTaxonomy" (setStep)="setSelectedStep($event)"
              (removeOptions)="cancleOptionsToCopy($event);removeSelectionForCopy();"
              [saveButtonClickedForCopy]="saveButtonClickedForCopy" [displayText]="displayText"
              [displayOption]="displayOption" (settingsModalOpen)="settingsModalOpen($event);"
              [selectedNodeAssociations]="itemAssociations" [originNodeId]="originNodeId"
              [selectedDocumentId]="sourceDocumentId"></app-select-taxonomy>
          </section>
        </div>
      </ng-container>
    </span>
  </modal-div>

</app-modal>
<!-- Taxonomy Association modal ends -->

<!-- Association Settings Modal Starts -->
<app-modal [modalId]="'associationSettings'" [modalContentId]="'associationSettingsContent'" [modalSize]="'small'"
  (closeEvent)="cancleOptionsToCopy($event)" (mouseLeaveEvent)="mouseLeave()">
  <modal-div class="title-text" id="associationsettingstitle">
    Association Settings
  </modal-div>
  <modal-div class="body-content">
    <div class="taxonomy-association-setting-list">
      <div class="custom-control custom-checkbox mt-2 pb-1">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="isCopy" id="isCopy"
          (ngModelChange)="change();">
        <label class="custom-control-label font-bold" id="isCopyBtn" for="isCopy">
          Exact Match Of Original node
          <span class="d-block small">Reference of the Original Node will be stored with the new node.</span>
        </label>
      </div>
      <div class="custom-control custom-checkbox mt-2 pb-1">
        <input type="checkbox" class="custom-control-input" id="isCopyAssociation" [(ngModel)]="isCopyAssociation">
        <label class="custom-control-label font-bold" id="isCopyAssociationBtn" for="isCopyAssociation">
          Also copy Associations
          <span class="d-block small">Along with the node details, Association details will get copied.</span>
        </label>
      </div>
    </div>
  </modal-div>
  <!-- Modal footer -->
  <modal-div class="footer-buttons">
    <button type="button" class="btn btn-primary btn-sm" id="optionsToCopyBtn" (click)="optionsToCopy()"
      data-dismiss="modal">Save</button>
  </modal-div>
</app-modal>
<!-- Association Settings Modal Ends -->





<app-preloader *ngIf="!reorderComplete" [loaderText]="'Updating Project'"
  class="w-100 position-fixed preloader-backdrop"></app-preloader>
