<div class="popup-boxes">
    <form ng-controller="toc_edit" ng-cloak>
        <div class="modal-header header-m">
            Compare Revisions
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">Compare versions for [{{object.title}}]</div>
        <div class="inner-modal-content tab-contents">
            <section class="wrapper">
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">
                            <div class="from-container-row">
                                <div class="pattern-list-container" style="overflow: auto !important; max-height: 300px;">
                                    <div class="col-md-1">File 1:</div>
                                    <div class="col-md-4">
                                        <select ng-model="file1" name="file1" ng-selected="selected" ng-options="version.version_name for version in versionList track by version.id" class="form-control">
                                            <option value="">Select Lower Version</option>
                                        </select>
                                    </div> 
                                    <div class="col-md-1">File 2:</div>
                                    <div class="col-md-4">
                                        <select ng-model="file2" name="file2" ng-selected="selected" value="version.id" ng-options="version.version_name for version in versionList track by version.id" class="form-control" >
                                            <option value="">Select Higher Version</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2"><button class="btn btn-primary btn-sm" tooltip-html-unsafe="Compare" ng-click="compareFiles(file1, file2)">Compare</button></div>                                    
                                    <div class="clearfix"></div>
                                </div>
                                <!--<div class="col-md-12" ng-bind-html="compare_result | innerHtml"></div>-->
                                
                                <i-frame body="compare_result"></i-frame>
                                <!--<div class="col-md-12" id="outputDiv"></div>-->
                                <!--div class="col-md-12" id="outputDiv"></div-->
                            </div>

                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>


            <div class="clearfix"></div>
        </div>
    </form>
</div>
