        <!--HEADER STARTS HERE-->
        <!-- <div ng-include src="'templates/header.html'" class="header-container"></div> -->
        <!--HEADER ENDS HERE-->
<main>
    <div class="content">
         <div class="breadcrums col-md-12"><span class="home_page_link">Home</span> / <span class="current_page">Projects</span></div>
         <div class="create_project col-md-12">
             <div class="col-md-offset-1 col-md-10">
                 <div class="create_project_tab col-md-12">
                     <div class="col-md-12">
                         <div class="col-md-12 padding_8_12 taxonomy"><span class="title">CREATE PROJECT</span></div>
                     </div>
                     <div class="col-md-offset-3 col-md-6">
                          <form role="form" name="createproject" novalidate enctype="multipart/form-data">
                             <!--<div class="row" ng-show="errorMessage">
                                 <span class="text-danger center-block ng-binding">{{errorMessage}}</span>
                             </div>-->
                                 <div class="form-group">
                                     <label for="ProjectName">Name 
                                         <span class="required">*</span>
                                     </label>
                                     <input ng-model="project_name" name="project_name" type="text" class="form-control" id="ProjectName" placeholder="Project Name" required>
                                     <span class="text-danger center-block ng-binding" ng-show="submitted && error.project_name">{{error.project_name}}</span>
                                 </div>

                                 <div class="form-group">
                                     <label for="description">Description</label>
                                     <textarea ng-model="description" name="description" type="text" class="form-control" id="description" placeholder="Description"></textarea>
                                     <span class="text-danger center-block ng-binding" ng-show="submitted && error.description">{{error.description}}</span>
                                 </div>

                                 <div class="form-group">
                                     <label for="workflow_id">Workflow
                                         <span  class="required">*</span>
                                     </label>
                                     <select ng-model="wflow" name="wflow" ng-options="wf.title for wf in workflow track by wf.workflow_id " class="form-control" required>
                                         <option value=""></option>
                                     </select>
                                    <p class="help_text"><span>The workflow that you'd want to use on this Project.</span></p>
                                     <span class="text-danger center-block ng-binding" ng-show="submitted && error.wflow">{{error.wflow}}</span>
                                 </div>

                                 <div class="form-group">
                                     <label for="draft_taxonomy_id">Select Draft Taxonomy
                                         <!--<span  class="required">*</span>-->
                                     </label>
                                     <select name="draft_taxonomy" class="form-control" required>
                                         <option value=""></option>
                                     </select>
                                    <p class="help_text"><span>The draft taxonomy that you'd want to work on.</span></p>
                                     <!--<span class="text-danger center-block ng-binding" ng-show="submitted && error.wflow">{{error.wflow}}</span>-->
                                 </div>

                                  <div class="form-group">
                                     <label for="draft_taxonomy_id">Select Taxonomy Section
                                         <!--<span  class="required">*</span>-->
                                     </label>
                                    <div class="taxonomy_section">
                                        <div class="col-md-12">
                                             <span><i class="fa fa-minus-square-o"></i></span>
                                            <span class="taxonomy_node_name">Taxonomy Name</span>
                                         </div>
                                        <ul class="taxonomy_child_name col-md-12">
                                             <li><span><i class="fa fa-plus-square-o"></i></span>
                                             <input type="checkbox" class="select_taxonomy"/><span>taxonomy_child</span>
                                             </li>
                                        </ul>
                                    </div>
                                    <p class="help_text"><span>The section that you'd want to work on under this project.</span></p>
                                     <!--<span class="text-danger center-block ng-binding" ng-show="submitted && error.wflow">{{error.wflow}}</span>-->
                                 </div>

                                 <div class="form-group">
                                     <label for="draft_taxonomy_id">Project Documents
                                         <!--<span  class="required">*</span>-->
                                     </label>
                                    <div class="col-md-12 upload_document_parent padding_zero">
                                        <div class="col-md-12 upload_document">
                                             <p><i class="fa fa-arrow-circle-o-up fa-3x"></i></p>
                                             <p>Drop files here to upload them, or</p>
                                             <button type="button" class="btn btn-md btn-default">Upload files</button>
                                        </div>
                                        <p class="help_text"><span>Documents (guidelines or specifications) that will help the project team.</span></p>
                                     <!--<span class="text-danger center-block ng-binding" ng-show="submitted && error.wflow">{{error.wflow}}</span>-->
                                     </div>
                                  <div class="pull-right create_project_btn">
                                     <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);">Cancel</button> 
                                     <button class="btn btn-primary" ng-click="saveProject(createproject, 'dashboard', 'mainpage');"  >Create Project</button>
                                 </div> 
                         </form>
                     </div>
                     </div>
                 </div>
             </div>
         </div>
    </div>
 </main>
<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<!--<div class="ajax-content" flow-init="{target: 'api/v1/upload'}">-->    
<div class="ajax-content" ng-cloak>
    <div class="main_container" ng-controller="createproject">  
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->

        <!--SECTION STARTS HERE-->
        <section class="wrapper">
            <div class="page-title">

                <!--<div class="pull-right" ng-init="hideBackToDashboard = 'true'">  
                    <button type="button" class="btn btn-secondary" ng-hide="hideBackToDashboard == 'true'" ng-click="backToDashBoard(toc_creation_status, project_id);" ><span class="glyphicon glyphicon-chevron-left"></span>Back to Dashboard</button>
                </div>-->
                <div class="pull-right">
                    <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);">Cancel</button> 
                    <button class="btn btn-primary" ng-click="saveProject(createproject, 'dashboard', 'mainpage');"  >Create Project</button>
                    <!-- <button type="button" class="btn btn-primary" ng-click="saveProject(formdata, 'project_import', 'mainpage');" ng-show="user_permissions['project.create'].grant" ng-disabled="clickedOnce">Create & Configure</button> -->
                </div> 
                <div class="pull-middle"> Create New Project </div>
            </div>
            <!--            <div class="container" style="height: {{actualHeight}}px;overflow: auto;" flow-drop flow-drop-enabled="isdropenabled">             -->
            <div class="container">
                <div class="content">               
                    <div class="from-container">
                        <div class="from-container-row">
                            <div class="from-container-bx lm-create-p">
                                <form role="form" name="createproject" novalidate enctype="multipart/form-data">
                                    <div class="row" ng-show="errorMessage">
                                        <span class="text-danger center-block ng-binding">{{errorMessage}}</span>
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-sm-6">
                                            <label for="ProjectName">Project Name <span class="required">*</span></label>
                                            <input ng-model="project_name" name="project_name" type="text" class="form-control" id="ProjectName" placeholder="Project Name" required>
                                            <span class="text-danger center-block ng-binding" ng-show="submitted && error.project_name">{{error.project_name}}</span>
                                        </div>



                                        <div class="form-group col-sm-6">
                                            <label for="workflow_id">workflow<span  class="required">*</span></label>
                                            <select ng-model="wflow" name="wflow" ng-options="wf.title for wf in workflow track by wf.workflow_id " class="form-control" required>
                                                <option value="">Select workflow</option>
                                            </select>
                                           
                                            <span class="text-danger center-block ng-binding" ng-show="submitted && error.wflow">{{error.wflow}}</span>
                                        </div>
                          
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <!--label for="exampleInputEmail1">Description <span  class="required">*</span></label>
                                            <textarea ng-model="formdata.description" name="objectDescription" type="text" class="form-control" id="objectDescription" placeholder="Description" required></textarea-->
                                            <label for="description">Description</label>
                                            <textarea ng-model="description" name="description" type="text" class="form-control" id="description" placeholder="Description"></textarea>
                                            <span class="text-danger center-block ng-binding" ng-show="submitted && error.description">{{error.description}}</span>
                                        </div>

                                        </div>
                                        <!--                                        {{formdata|json}}-->

                                    </div>

                                    <div class="clearfix"></div>

                                </form>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <hr>


                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

            <!-- Asset Upload Popup starts-->
            <!--<div ng-include src="'templates/project/project_upload_popup.html'" ng-show="$flow.files.length" ></div>-->
            <!-- Asset Upload Popup ends-->


            <div class="clearfix"></div>
        </section>
        <!--SECTION ENDS HERE-->

        <!--FOOTER STARTS HERE
        <div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
        <!--FOOTER ENDS HERE-->
    </div>
</div>



<style>
    .popupZone{
        border: 1px solid #000000; 
        padding: 10px 10px 0px 10px;  
        position: fixed; bottom:0px; 
        right: 0px; 
        max-height: 300px;
        min-width: 470px;
        overflow:scroll;
    }

    .progress-bar {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        color: #fff;
        text-align: center;
        background-color: #428bca;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
        box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
        -webkit-transition: width .6s ease;
        transition: width .6s ease;
        background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.15)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(0.75,rgba(255,255,255,0.15)),color-stop(0.75,transparent),to(transparent));
        background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-size: 40px 40px;
    }
</style>