
<style>
 .live .minimized>ol>li {
        display: none;
    }

</style>
<main ng-controller="createproject">
    <div class="ajax-content" ng-cloak>
        <div class="overlay" ng-click="toggleShowMenuClass()"></div>
        <div class="acmt-content">
            <div class="breadcrums col-md-12">
                <span class="home_page_link">Home</span> /
                <span class="current_page">Projects</span>
            </div>
            <div class="create_project  col-md-12">
                <div class="col-md-offset-1 col-md-10">
                    <div class="create_project_tab col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-12 padding_8_12 taxonomy">
                                <span class="border_bottom">CREATE PROJECT</span>
                                <span class="fa fa-question-circle help_icon" data-toggle="modal" data-target="#myModal" title="Help"></span>
                                
                            </div>
                        </div>
                        <div class="col-md-offset-3 col-md-6">
                            <form role="form" name="createproject" novalidate enctype="multipart/form-data">
                                <!--<div class="row" ng-show="errorMessage">
                                 <span class="text-danger center-block ng-binding">{{errorMessage}}</span>
                             </div>-->
                                <div class="form-group">
                                    <label for="ProjectName">Name
                                        <span class="required">*</span>
                                        <div id="myModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close_modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
                                                    <h4 class="modal-title">Help</h4>
                                                </div>
                                                <div class="modal-body scrollbar-customised">
                                                    <ul class="modal_ul">
                                                        <li>This page help you to create a project with with multiple nodes of a taxonomy associated to it</li>
                                                        <li>You can choose to add nodes at any hierarchical level</li>
                                                        <li>To create a project
                                                            <ol class="sub_list">
                                                                <li>Add a name to identify the project</li>
                                                                <li>Description to describe what is the required to be done to the nodes in the project</li>
                                                                <li>Select the suitable workflow for this project. You can manage workflows in the "Workflow" section</li>
                                                                <li>Select the Taxonomy</li>
                                                                <li>Select the nodes of the selected taxonomy that you want to assign to the project</li>
                                                                <li>Click on create to create the project</li>

                                                            </ol>
                                                            </li>
                                                        <li>When you return to a created project, you will see only the selected nodes of the taxonomy</li>
                                                    </ul>
                                                </div>
                                                </div>
                                        </div>
                                        </div>
                                    </label>
                                    <input ng-model="project_name" name="project_name" type="text" class="form-control" id="ProjectName" placeholder="Project Name" ng-focus="error.project_name=false"
                                        required>
                                    <span class="text-danger center-block ng-binding" ng-show="submitted && error.project_name">{{error.project_name}}</span>
                                </div>

                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea ng-model="description" name="description" type="text" class="form-control" id="description" ng-focus="error.description=false" placeholder="Description"></textarea>
                                    <span class="text-danger center-block ng-binding" ng-show="submitted && error.description">{{error.description}}</span>
                                </div>

                                <div class="form-group">
                                    <label for="workflow_id">Workflow
                                        <span class="required">*</span>
                                    </label>
                                    <select ng-model="wflow" name="wflow" ng-options="wf.title for wf in workflow track by wf.workflow_id " class="form-control" ng-focus="error.wflow=false"
                                        required>
                                        <option value="">Select Workflow</option>
                                    </select>
                                    <p class="help_text">
                                        <span>The workflow that you want to use on this Project</span>
                                    </p>
                                    <span class="text-danger center-block ng-binding" ng-show="submitted && error.wflow">{{error.wflow}}</span>
                                </div>

                                <div class="form-group">
                                    <label for="draft_taxonomy_id">Select Draft Taxonomy
                                        <span class="required">*</span>
                                    </label>
                                    <select ng-change="onTaxonomySelected($event)" ng-model="selectedDraftTaxonomy" name="selectedDraftTaxonomy" ng-options="df.title for df in draftTaxonomy track by df.id "
                                        class="form-control" ng-focus="error.selectedDraftTaxonomy=false" required>
                                        <option value="">Select Draft Taxonomy</option>
                                    </select>


                                    <p class="help_text">
                                        <span>The draft taxonomy that you want to work on</span>
                                    </p>
                                    <span class="text-danger center-block ng-binding" ng-show="submitted && error.selectedDraftTaxonomy">{{error.selectedDraftTaxonomy}}</span>
                                </div>

                            <div class="form-group taxonomy_tree">
                                <label for="draft_taxonomy_id">Select Taxonomy Section
                                    <span  class="required">*</span>  
                                </label>
                                <span class="text-danger center-block ng-binding" ng-show="submitted && error.selectedNode">{{error.selectedNode}}</span>                                  

                                <div class="taxonomy_section">
                                    <div>
                                        <div class="overlay" ng-click="toggleShowMenuClass()"></div>
                                        <div class="project_taxonomyList scrollbar-customised">
                                            <div class="live" ng-show="taxonomy.children.length > 0">
                                                <ol ui-nested-sortable="{
                                                listType: 'ol',
                                                items: 'li',    
                                                doNotClear: true,
                                                placeholder: 'ui-state-highlight',
                                                forcePlaceholderSize: true,
                                                toleranceElement: '> div'
                                                }" ui-nested-sortable-stop="update($event, $ui)" class="sortable">
                                                    <li class="dontsortme" ya-tree="child in taxonomy.children at ol" ng-class="{
                                                            minimized:child.minimized
                                                        }" item="{{child}}">



                                                        <div class="toc-outer col-md-12" ng-class="tocRowHoverClass">
                                                            <div class="lirow col-md-12 padding_zero" id="{{child.id}}" ng-mouseenter="tocRowHoverClass = 'tocRowHover'" ng-mouseleave="tocRowHoverClass = ''">
                                                                <div class="col-md-12 padding_zero">
                                                                    <div class="col-md-1 tax_section_toggle padding_zero">
                                                                    <button type="button" class="toggle" ng-click="toggleMinimized(child)" ng-switch on="child.minimized" ng-show="child.children.length > 0">
                                                                        <span ng-switch-when="true" title="Expand">
                                                                            <span class="fa fa-plus-square-o fa-lg"></span>
                                                                        </span>
                                                                        <span ng-switch-default title="Collapse">
                                                                            <span class="fa fa-minus-square-o fa-lg"></span>
                                                                        </span>
                                                                    </button>
                                                                    </div>
                                                                     <div class="taxonomy_node">
                                                                        <span class="cfDoc link-to-preview" ng-click="openTaxonomyEditForm('', child.id,child.cf_entity_type, child.parent_id)">
                                                                            <span >
                                                                                <a class="cf_title" ng-if="child.cf_entity_type == 'cf_doc'">{{child.title}}</a>
                                                                            </span>
                                                                            <span class="tooltiptext" ng-if="child.cf_entity_type == 'cf_doc'">{{child.title}}</span>
                                                                            <label class="cf_title" ng-if="child.cf_entity_type == 'cf_item'">
                                                                                <input type="checkbox" class="select_taxonomy" ng-if="child.cf_entity_type == 'cf_item'"/>
                                                                                <span class="taxonomy_human_coding">{{child.human_coding_scheme}}</span>
                                                                                <span class="full_statement">{{child.full_statement}}</span>
                                                                            </label>
                                                                            <span class="tooltiptext" ng-if="child.cf_entity_type == 'cf_item'">
                                                                                <strong>{{child.human_coding_scheme}}</strong>
                                                                                <span>{{child.full_statement}}</span>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <ol ng-class="{
                                                                pregnant:child.children.length
                                                            }"></ol>
                                                    </li>
                                                </ol>
                                                <div class="clearfix"></div>
                                            </div>

                                            <!-- <div class="live" ng-show="!user_permissions['taxonomy.show.all'].grant">
                                            Sorry! Access Prohibited!
                                        </div> -->


                                            <div class="clearfix"></div>
                                        </div>
                                        <p class="help_text">
                                            <span>The section that you want to work on under this project.</span>
                                        </p>
                                        <!--<span class="text-danger center-block ng-binding" ng-show="submitted && error.wflow">{{error.wflow}}</span>-->
                                    </div>

                                    <div class="form-group">
                                        <!-- <label for="draft_taxonomy_id">Project Documents
                                        <span  class="required">*</span>
                                    </label>
                                    <div class="col-md-12 upload_document_parent padding_zero">
                                        <div class="col-md-12 upload_document">
                                            <p>
                                                <i class="fa fa-arrow-circle-o-up fa-3x"></i>
                                            </p>
                                            <p>Drop files here to upload them, or</p>
                                            <button type="button" class="btn btn-md btn-default">Upload files</button>
                                        </div>
                                        <p class="help_text">
                                            <span>Documents (guidelines or specifications) that will help the project team.</span>
                                        </p>
                                        <span class="text-danger center-block ng-binding" ng-show="submitted && error.wflow">{{error.wflow}}</span>
                                    </div> -->
                                        <div class="pull-right create_project_btn">
                                            <button type="button" class="secondary_button" onclick="javascript:history.back(-1);">Cancel</button>
                                            <button class="primary_button" ng-click="saveProject(createproject, 'dashboard', 'mainpage');">Create Project</button>
                                        </div>
                                    </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $('label.cf_title').on('click',function(){
        alert('clicked');
    })
    $('.cf_title ').on('change', 'input[type=checkbox]', function(e) {
  $(this).siblings('ul').find("input[type='checkbox']").prop('checked', this.checked);
  $(this).parentsUntil('.select_taxonomy').children("input[type='checkbox']").prop('checked', this.checked);
  e.stopPropagation();
});
</script>