<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="createproject">  
        <!--HEADER STARTS HERE-->
        <!-- <div ng-include src="'templates/header.html'" class="header-container"></div> -->
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title">
                    <div class="pull-right"> 
                        <!--button type="button" class="btn btn-default" ng-click="backToDashBoard(toc_creation_status, project_id);" ><i class="fa fa-chevron-left"></i>Back to Dashboard</button-->
                        <back-to-dashboard ng-if="project.id" project="project"></back-to-dashboard>
                    </div>
                    <div class="pull-middle"> 
                        <div class="pull-middle"> {{formdata.project_name}} </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">
                            <!--/*stucture modified for all pages*/-->
                            <div class="from-container-row">
                                <div class="pattern-list-container">
                                    <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0" ng-if="exportList.length">
                                        <thead>
                                            <tr>
                                                <th width="20%">Project Name</th>
                                                <th width="15%">File</th>
                                                <th width="8%">Size</th>
                                                <th width="10%">Created By</th>
                                                <th width="12%">Completed On</th>
                                                <th width="35%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="item.file_size" ng-repeat="item in exportList">
                                                <td>{{item.project_name}}</td>
                                                <td>{{item.file_name}}</td>
                                                <td>{{item.file_size|bytes}}</td>
                                                <td>{{item.project_exported_by}}</td>
                                                <td>{{item.completed_at| customDateFormat:'MM/dd/yyyy HH:mm'}}</td>
                                                <td>
                                                    <a ng-href="{{item.file_location}}" target="_blank" ><button type="button" class="btn btn-default">download</button> </a>
                                                    
                                                    <!--a ng-click="downloadManifest(item.launchpad_manifest)"><button type="button" class="btn btn-default">Launchpad xml</button> </a>
                                                    <a ng-click="downloadCFI(item.cfi)"><button type="button" class="btn btn-default">CFI CSV</button> </a-->
                                                    
                                                    <span ng-if="item.build_type === 3004">
                                                        <a ng-click="pushToCMS(item.id)"><button type="button" class="btn btn-default">Push to CMS</button> </a>
                                                    </span>
                                                    
                                                    <button type="button" class="btn btn-default" ng-disabled="item.export_type=='lti'" ng-click="deleteExport(item.id)">Delete</button></td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <div ng-if="!exportList.length">
                                        <div class="clearfix"></div>
                                        <div class="alert alert-danger" role="alert"><center>No record found.</center></div>                        
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <!--/*//////stucture modified for all pages*/--> 
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
        <!--FOOTER STARTS HERE-->
        <div ng-include src="'templates/footer.html'" class="footer-container"></div>
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>