<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="createproject">  
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title">
                    <div class="pull-right"> 
                        <button type="button" class="btn btn-default" ng-click="backToDashBoard(toc_creation_status, project_id);" ><i class="fa fa-chevron-left"></i>Back to Dashboard</button>
                    </div>
                    <div class="pull-middle"> 
                        <div class="pull-middle"> Help </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">
                            <!--/*stucture modified for all pages*/-->
                            <div class="from-container-row">
                                <div class="pattern-list-container">
                                    <center>
                                        <video class="informalvideo" controls=""> 
                                            <source src="" type="video/mp4"> Your browser does not support the video tag.
                                        </video>
                                    </center>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <!--/*//////stucture modified for all pages*/--> 
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
        <!--FOOTER STARTS HERE-->
        <div ng-include src="'templates/footer.html'" class="footer-container"></div>
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>