<div class="popup-boxes"> 
    <form ng-controller="toc_edit" ng-cloak>
        <div class="modal-header header-m">
            Version List
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">Available versions for [{{object.title}}]</div>
        <div class="inner-modal-content tab-contents">
            <section class="wrapper">
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">

                            <div class="from-container-row">
                                <div class="pattern-list-container" style="overflow: auto !important; max-height: 300px;">
                                    <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th width="25%">Version No.</th>
                                                <th width="10%">Created On</th>
                                                <th width="20%">Created By</th>
                                                <th width="25%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="item" ng-repeat="item in versionList">
                                                <td>V.{{versionListCount - $index}}</td>
                                                <td>{{item.created_at}}</td>
                                                <td>{{item.username}}</td>
                                                <td>
                                                    <button class="btn btn-default btn-sm" ng-show="project_permissions['toc.toc-content.save'].grant && (project_permissions['ticket.create'].grant || project_permissions['ticket.comment.create'].grant)" tooltip-html-unsafe="Content" ng-click="gotoContentEditor(object, project_id, item.version_id)">Go To Editor</button>
                                                    <button class="btn btn-default btn-sm" ng-show="!project_permissions['toc.toc-content.save'].grant && (project_permissions['ticket.create'].grant || project_permissions['ticket.comment.create'].grant)" tooltip-html-unsafe="Content" ng-click="gotoPreview(object, project_id, item.version_id)">View</button>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="clearfix"></div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>


            <div class="clearfix"></div>
        </div>
    </form>
</div>
