<div class="popup-boxes"> 
    <form ng-controller="createproject" ng-cloak>
        <div class="modal-header header-m">
            Project Export List
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">Available exported package for project: {{exportList[0].project_name}}</div>
        <div class="inner-modal-content tab-contents" style="overflow: auto; height: 412px;">
            <section class="wrapper">
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">

                            <div class="from-container-row">
                                <div class="pattern-list-container">
                                    <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center" width="13%">File</th>
                                                <th style="text-align: center" width="8%">Size</th>
                                                <th style="text-align: center" width="12%">Created By</th>
                                                <th style="text-align: center" width="15%">Completed On</th>
                                                <th style="text-align: center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--tr ng-repeat="item in exportList" ng-if="item.status==1002"-->
                                            <tr dir-paginate="item in exportList | itemsPerPage: itemsPerPage" total-items="totalExportList" current-page="currentPage" pagination-id="exportList"  class="ng-scope">
                                                <td>{{item.file_name}}</td>
                                                <td>{{item.file_size|bytes}}</td>
                                                <td>{{item.project_exported_by}}</td>
                                                <td>{{formatDate(item.completed_at) | date:'MM/dd/yyyy HH:mm'}}</td>
                                                <td style="text-align: center">
                                                    <a ng-if="project_type_id==4" ng-href="{{item.file_location}}" target="_blank" ><button type="button" class="btn btn-default">download epub</button> </a>
                                                    <a ng-if="project_type_id==5" ng-href="{{item.file_location}}" target="_blank" ><button type="button" class="btn btn-default">download course</button> </a>
                                                <a ng-if="project_type_id==1" ng-href="{{item.file_location}}" target="_blank" ><button type="button" class="btn btn-default">download pxe</button> </a>
                                                    <!--a ng-click="downloadManifest(item.launchpad_manifest)" ><button type="button" class="btn btn-default">Launchpad xml</button> </a-->
                                                    <a ng-if="project_type_id==4" ng-click="downloadCFI(item.cfi)" ><button type="button" class="btn btn-default">CFI CSV</button> </a>
                                                    <span ng-if="item.build_type === 3004">
                                                        <a ng-click="pushToCMS(item.id)"><button type="button" class="btn btn-default">Push to CMS</button> </a>
                                                    </span>
                                                    <button type="button" class="btn btn-default" ng-disabled="item.export_type=='lti'" ng-click="deleteExport(item.id)"><span class="glyphicon glyphicon-trash"></span></button></td>

                                            </tr>
                                            <tr ng-if="!project.project_permissions['project.export.show.all'].grant && totalExportList == -1">
                                                <td colspan="5">
                                                    Sorry! Access Prohibited!
                                                </td> 
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- Pagination Starts Here -->
                                    <dir-pagination-controls class="dir_pagination"
                                                             boundary-links="true" 
                                                             pagination-id="exportList" 
                                                             on-page-change="pageChangeHandlerExportList(newPageNumber)" 
                                                             template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                                    </dir-pagination-controls>
                                    <!-- Pagination Starts End -->
                                    <div class="clearfix"></div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>


            <div class="clearfix"></div>
        </div>
    </form>
</div>
