<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" flow-init ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="pdfImport">
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title">
                    <div class="pull-right"> 
                        <button type="button" class="btn btn-primary" ng-click="backToDashboard()">Back To Dashboard</button>
                        <button type="button" class="btn btn-primary" flow-btn>Upload Pdf</button>
                    </div>
                    <div class="pull-middle"> 
                        {{project_name}}
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">
                            <!--/*stucture modified for all pages*/-->
                            <div class="from-container-row">
                                <div class="pattern-list-container">
                                    <div class="page-title5"><h4 class="title pull-left">Pdf List</h4>
                                        <div class="filter-area filter-button-area pull-right">
                                            <div class="pull-left">
                                                <!--<input type="text" class="form-control search-frm" ng-keyup="do_search()" placeholder="Enter search term" name="search_text" ng-model="search_text">-->
                                                <button ng-if="showHtmlThumbnailsBtn" type="button" class="btn btn-default2" ng-click="goToMergeHtmlThumnails()">Merge Html Thumbnails</button>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th width="30%">Name</th>
                                                <th width="20%">Requested At</th>
                                                <th width="20%">Import Status</th>
                                                <th width="10%">Mark</th>
                                                <th width="20%">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--tr ng-repeat="widget in widgets"-->
                                            <tr dir-paginate="pdf in pdfImportList | itemsPerPage: itemsPerPage" total-items="total" current-page="currentPage" pagination-id="widgetListId">       
                                                <td>{{pdf.file_name}}</td> 
                                                <td>{{pdf.requested_at}}</td>
                                                <td ng-if="pdf.status == 1000">Not Started</td>
                                                <td ng-if="pdf.status == 1001">In Progress</td>
                                                <td ng-if="pdf.status == 1003 || pdf.status == 1002">Completed</td>
                                                <td><input type="checkbox" ng-model="selectedPdf" ng-change="onSelectPdf(pdf.id)"></td>
                                                <td>
                                                    <button ng-disabled="pdf.status == 1000 || pdf.status == 1001" type="button" class="btn btn-default2" ng-click="goToHtmlThumnails(pdf.id)">Html Thumbnails</button>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <!-- Pagination Starts Here -->
                                        <dir-pagination-controls class="dir_pagination"
                                                                 boundary-links="true" 
                                                                 pagination-id="widgetListId" 
                                                                 on-page-change="pageChangeHandlerPdf(newPageNumber)" 
                                                                 template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                                        </dir-pagination-controls>
                                        <!-- Pagination Starts End -->
                                        </td>
                                        </tr>
                                        <tr ng-show="total == 0">
                                            <td colspan="3"> 
                                                <div class="alert alert-danger" role="alert"><center>No PDF Found!!!!</center></div>  
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!--/*//////stucture modified for all pages*/--> 
                        </div>

                    </div>
                </div>

                <!-- Project Upload Popup starts-->
                <div ng-include src="'templates/project/project_upload_popup.html'" ng-show="$flow.files.length"></div>
                <!-- Project Upload Popup ends-->
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
        <!--FOOTER STARTS HERE-->
        <!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
        <!--FOOTER ENDS HERE-->
        <!-- Modal for upload pdf params-->
        <div class="modal fade" id="uploadPDFParamModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog" style="width: inherit; height: inherit; margin: 0px;width:300px;left:480px;top:100px;">
                <div class="modal-content">
                    <div class="popup-boxes">
                        <div class="modal-header header-m">
                            PDF Import Option
                            <button type="button" class="close" ng-model="closeParamModal"data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        </div>
                        <div class="inner-modal-content tab-contents">
                            <div id="rangeOrAll" class="paramPopup">
                                <span>Disable Auto Tagging</span> <input type="checkbox" ng-model="disableAutoTagging" id="autoTagging"/><br/>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="modal-footer">            
                            <button class="btn btn-warning upload-cancel" data-dismiss="modal" ng-click="addParamCancel();">CANCEL</button>
                            <button class="btn btn-primary" data-dismiss="modal" ng-click="addParamConfirm()">CONFIRM</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal for upload pdf params ends-->
    </div>
    <div class="clearfix"></div>

</div>