
<main ng-controller="editProject">
        <div class="ajax-content" ng-cloak>
            <div class="overlay" ng-click="toggleShowMenuClass()"></div>
            <div class="acmt-content">
                <div class="breadcrums col-md-12">
                    <span class="home_page_link">Home</span> /
                    <span class="current_page">Projects</span>
                </div>
                <div class="create_project col-md-12">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="create_project_tab col-md-12">
                            <div class="col-md-12">
                                <div class="col-md-12 padding_8_12 taxonomy">
                                    <span class="border_bottom">EDIT PROJECT</span>
                                </div>
                            </div>
                            <div class="col-md-offset-3 col-md-6">
                                <form role="form" name="createproject" novalidate enctype="multipart/form-data">
                                    <!--<div class="row" ng-show="errorMessage">
                                     <span class="text-danger center-block ng-binding">{{errorMessage}}</span>
                                 </div>-->
                                    <div class="form-group">
                                        <label for="ProjectName">Name
                                            <span class="required">*</span>
                                        </label>
                                        <input ng-model="project_name" name="project_name" type="text" class="form-control" id="ProjectName" placeholder="Project Name"
                                            required>
                                        <span class="text-danger center-block ng-binding" ng-show="submitted && error.project_name">{{error.project_name}}</span>
                                    </div>
    
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea ng-model="description" name="description" type="text" class="form-control" id="description" placeholder="Description"></textarea>
                                        <span class="text-danger center-block ng-binding" ng-show="submitted && error.description">{{error.description}}</span>
                                    </div>
    
                                    <!-- <div class="form-group">
                                        <label for="workflow_id">Workflow
                                            <span class="required">*</span>
                                        </label>
                                        <select ng-model="wflow" name="wflow" ng-options="wf.title for wf in workflow track by wf.workflow_id " class="form-control"
                                            required>
                                            <option value="">Select Workflow</option>
                                        </select>
                                        <p class="help_text">
                                            <span>The workflow that you want to use on this Project.</span>
                                        </p>
                                        <span class="text-danger center-block ng-binding" ng-show="submitted && error.wflow">{{error.wflow}}</span>
                                    </div>   -->
                                    <div class="pull-right create_project_btn">
                                            <button type="button" class="secondary_button" onclick="javascript:history.back(-1);">Cancel</button>
                                            <button class="primary_button" ng-click="updateProjectDetails(createproject);">Edit Project</button>
                                        </div>  
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>