<div class="uploading-container" flow-transfers flow-file-success="update_after_import($flow, $file, $message)" ng-model="ismaximize" ng-init="ismaximize = true" style="display:block;" ng-cloak>
    <div class="page-title" ng-click="ismaximize = !ismaximize">
        <span class="caret {{{true:'maximize',false:'manimize'}[ismaximize]}}"></span>
        <!--span class="upload-status-icon"><i class="error-icon sprite3"></i></span-->
        Uploading 
        <span class="upload-text"><span class="file-no">({{$flow.files.length}} Files)</span></span>
    </div>
    <div class="upload-desc">
        <span  class="file-size">{{$flow.progress() * 100 | number:0}}% of {{$flow.getSize() | bytes}}</span>     
        <span class="file-time">Expected Time: {{$flow.timeRemaining()}} Secs</span>

        <span class="title-btn-area">
            <button class="pause-btn" ng-click="$flow.pause()">Pause</button> |
            <button class="upload-cancel" ng-click="$flow.cancel();
                    upload_cancel();">Cancel</button>
        </span>
        <div class="clearfix"></div>
    </div>

    <div class="uploading-content" ng-show="ismaximize ? true : ''">
        <div ng-repeat="file in transfers" class="uploading-data {{{true:'error',false:''}[file.error]}}">
            <div class="row">
                <div class="uploaddetails col-md-8 col-sm-9">
                    <span class="loading-control">
                        <button type="button" class="play-btn" ng-click="uploadAdditional()" ng-init="uploadAdditional()">
                            <i class="fa fa-play"></i>
                        </button>
                        <button type="button" class="close-btn" ng-click="$flow.cancel();
                                upload_cancel();" >
                            <i class="fa fa-times"></i>
                        </button>
                    </span>
                    <span class="loading-control-text">
                        <strong>Size: {{file.size|bytes}}</strong>
                    </span>
                    <span title="{{file.name}}">{{ file.name | limitTo: 27 }}{{file.name.length > 27 ? '...' : ''}}</span>

                    <div class="clearfix"></div>
                </div>
                <div class="progress  col-md-4  col-sm-3">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{file.progress() * 100 | number:0}}%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
                <!--<div class="upload-data-path">Asset uploading into Knowledge Taxonomy / Folder</div>-->

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>