<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content">
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="createproject" ng-cloak>  
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title">      
                    <div class="pull-right">
                        <!--button type="button" class="btn btn-default" ng-click="backToDashBoard(toc_creation_status, project_id);" ><span class="glyphicon glyphicon-chevron-left"></span> Back to Dashboard</button-->
                        <back-to-dashboard ng-if="project.id" project="project"></back-to-dashboard>
                    </div>
                    <div class="pull-middle"> 
                        Manage Users
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">

                        <div class="from-container-row" ng-show="project.project_permissions && !project.project_permissions['project.user.role.association'].grant">
                            <div class="pattern-list-container">
                                <div class="alert alert-danger" role="alert"><center>Sorry! Access Prohibited!</center></div> 
                            </div>
                        </div>

                        <div class="from-container-row" ng-show="project.project_permissions['project.user.role.association'].grant"> 
                            <div class="from-container-row"> 
                                <div class="panel-group  col-md-6 col-md-offset-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <button type="button" class="btn btn-primary pull-right" ng-click="addBtn()" ng-if="formdata.build_type != 3004">Add User</button>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="panel-body update_profile_container page-user-body">
                                            <div ng-show="message" class="alert alert-dismissible" ng-class="{
                                                        'alert-success': status == 200, 'alert-danger': status > 200, 'alert-info': status == 0}" role="alert">
                                                <button type="button" class="close" ng-click="message = ''" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                {{message}}
                                            </div>
                                            <!--/*stucture modified for all pages*/-->
                                            <div class="page-user-row" ng-repeat="item in items">
                                                <div class="col-md-5  col-sm-5 form-group">
                                                    <autocomplete ng-model="items[$index]" options="options"  created-by='created_by' user-id='item.user_id' edit-flag="item.edit_flag" edit-username="item.edit_username" response-status="response_status"/>
                                                </div>
                                                <div class="col-md-5 col-sm-5 form-group">
                                                    <select id="{{item.random}}" ng-model="item.role" name="role_id" ng-selected="selected" ng-options="role.name for role in roles | orderBy:'name' track by role.name" ng-disabled="item.user_id == created_by || item.edit_role == 1" class="form-control">
                                                        <option value="">Select Role</option>
                                                    </select>
                                                </div>


                                                <div class="col-md-2 col-sm-2 form-group">
                                                    <button type="button" ng-click="editRole($index)" class="btn btn-primary" ng-if="item.user_id != created_by && item.edit_flag"><i class="fa fa-pencil"></i></button>
                                                    <button type="button" ng-click="saveRole($index)" class="btn btn-primary" ng-if="item.user_id != created_by && item.edit_flag != 1" ng-disabled="!items[$index].role || !items[$index].email"><i class="fa fa-check"></i></button>
                                                    <button type="button" ng-click="removeItem($index)" class="btn btn-danger" ng-if="item.user_id != created_by"><i class="fa fa-trash"></i></button>
                                                </div>
                                                <br/>
                                            </div>

                                            <!--pre>{{items | json}}</pre-->
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="panel-footer">


                                            <!--                                            <button type="button" class="btn btn-primary" ng-click="saveProjectUser();" ng-show="project.project_permissions['project.user.role.association'].grant">Save</button>
                                            
                                                                                        <button type="button" class="btn btn-primary" ng-click="backToDashBoard(toc_creation_status, project_id);">Cancel</button>-->
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
        <!--FOOTER STARTS HERE-->
        <div ng-include src="'templates/footer.html'" class="footer-container"></div>
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>