<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
    a:hover { 
     cursor: pointer;
    }
</style>
<div class="ajax-content">
    <div class="main_container" ng-controller="asset_usage_more" ng-cloak>
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->

        <!--SECTION STARTS HERE-->
        <section class="wrapper">
            <div class="page-title">
                <div class="pull-right">
                    <back-to-dashboard ng-if="project.id" project="project"></back-to-dashboard>
                    <project-export-button ng-if="project.id" project="project"></project-export-button>
                    <project-preview-button ng-if="project.id" project-id="project.id" ></project-preview-button>
                    <!--button type="button" class="btn btn-default" ng-if="project.id" ng-click="backToDashBoard(project.toc_creation_status, project.id);"><i class="fa fa-chevron-left"></i>Back to Dashboard</button-->      
                    <!--button type="button" id="export_btn" class="btn btn-primary">Export EDUPUB</button>
                    <button type="button" id="export_btn" class="btn btn-primary" ng-click="exportProject('course');" ng-show="project.project_permissions['project.export'].grant && project_details.project_type_id == 5" >Export Course</button>
                    <button type="button" class="btn btn-primary" ng-click="">Project Preview</button-->
                </div>
                <div class="pull-middle"> 
                    {{project.name}}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="container product-inner">
                <div class="content">              
                    <div class="from-container">
                        <div class="from-container-row">
                            <div class="toc-panel-container">

                                <div class="live">
                                    <div ng-include src="'templates/toc/dashboard_right_nav.html'"></div>

                                    <div class="toc-panel-left tc-cont">
                                        <div class="db-ft-main">
                                            <div class="db-ft-body">
                                                <div class="panel-group" id="accordion">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" data-parent="#accordion" data-target="#users">Users</a>
                                                            </h4>
                                                        </div>
                                                        <div id="users" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <div ng-include src="'templates/project/usage/users.html'"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" data-parent="#accordion" data-target="#assets">Assets</a>
                                                            </h4>
                                                        </div>
                                                        <div id="assets" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <div ng-include src="'templates/project/usage/assets.html'"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" data-parent="#accordion" data-target="#widgets">Widgets</a>
                                                            </h4>
                                                        </div>
                                                        <div id="widgets" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <div ng-include src="'templates/project/usage/widgets.html'"></div> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" data-parent="#accordion" data-target="#patterns">Patterns</a>
                                                            </h4>
                                                        </div>
                                                        <div id="patterns" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <div ng-include src="'templates/project/usage/patterns.html'"></div> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" data-parent="#accordion" data-target="#issues">Issues</a>
                                                            </h4>
                                                        </div>
                                                        <div id="issues" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <div ng-include src="'templates/project/usage/issues.html'"></div>  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>                            
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
    </div>
    <div class="clearfix"></div>
</section>
<!--SECTION ENDS HERE-->


<!--FOOTER STARTS HERE-->
<!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
<!--FOOTER ENDS HERE-->

<div class="clearfix"></div>

<!--div ng-if="project_details.project_type_id==1">
    <div ng-controller="pxe"></div>
</div>
<div ng-if="project_details.project_type_id==2">
    <div ng-controller="epub"></div>
</div-->        
</div>
</div>
