@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.workflow {
  @include padding-indv('left', 54px);
  &-preview{
    &:before{
      @extend %position-absolute;
      @include border-indv('left', 1px, solid, $dark);
      content: '';
      transform: translate(-50%);
    }
  }

  .role {
    @include font-color($darkest);

    &__value {
      @include font-color($black);
    }
  }
}
