<!-- When View Mode-->
<ng-container>

  <p class="font-bold mb-0" *ngIf="noDataFound && !workflowStageList.length">There is no stage created yet.</p>
  <div class="workflow__start position-relative" *ngIf="workflowStageList.length > 0">
    <p class="text-center mb-0  text-uppercase timeline-start font-0x">start</p>
  </div>

  <div class="vl row position-relative">
    <div class="col-12">
      <ng-container *ngIf="searchEnabled">
        <div class="workflow__step position-relative col-md-12" *ngFor="let row of workflowStageListSearchResult;let rowIndex=index">
          <div class="row">
            <div class="col-10 role">
              <h3 class="workflow__step--title workflow__step--title__view font-4x font-bold pt-2 mb-1" id="Stage_{{rowIndex}}">Stage {{row.order}}</h3>
              <p class="mb-0 font-bold">
                {{row?.stage_name}}
              </p>
              <p class="mb-2" *ngIf="row.stage_description" id="description_{{rowIndex}}">{{row.stage_description}}</p>
              <p class="role__value mb-2" *ngIf="row.roles" id="roles_{{rowIndex}}">{{getRolesName(row.roles)}}</p>
            </div>

          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!searchEnabled">
        <div class="workflow__step position-relative col-md-12" *ngFor="let row of workflowStageList;let rowIndex=index">
          <div class="row" id="{{row?.stage_name.split(' ').join('')+'_'+rowIndex}}">
            <div class="col-10 role">
              <h3 class="workflow__step--title workflow__step--title__view font-4x font-bold pt-2 mb-1">Stage {{rowIndex +
                1}}
              </h3>
              <p class="mb-0 font-bold">
                {{row?.stage_name}}
              </p>
              <p class="mb-2" *ngIf="row.stage_description">{{row.stage_description}}</p>
              <p class="role__value mb-2" *ngIf="row.roles">{{getRolesName(row.roles)}}</p>
            </div>

          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="workflow__finish position-relative" *ngIf="workflowStageList.length > 0">
    <p class="text-center mb-0  text-uppercase timeline-finish font-0x">finish</p>
  </div>

</ng-container>
<!-- End Of View Mode -->