@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

//extended classes for the common parameters of the tree view arrow and folders
%tree-view-arrow,
%tree-view-folder,
%tree-tick-mark{
@extend %font-weight-regular;
@include float(left);
font-family: $icon-font;
}

%tree-view-arrow{
@extend %position-relative;
@include margin-indv('top', 1px);
}

%tree-view-folder{
@include margin-indv('top', 2px);
}

//start of the tree view
.tree{
.card{
    @extend %no-border-bottom;
    @include border-radius(1px);
    @include border-color($light);

    &-header{
        @include bgcolor($white);
        @include padding-indv('top', 5px);
        @include padding-indv('bottom', 5px);

        &:first-child{
            @include border-radius(1px);
        }

        &--primary{
            &.active{
                @include bgcolor($white);
                @include border-indv('bottom', 1px, solid, $light);
                @include border-indv('top', 1px, solid, $light);
                @include z-index(1);
                box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .10);
            }

            li{
                h5{
                    @include font-color($primary !important);
                }
            }
        }

        a{
            &[aria-expanded=true]{
                &:after{
                    @extend %tree-view-arrow;
                    @include font-size(8);
                    @include margin-indv('top', 5px);
                    @include padding-indv('right', 8px);
                    content: '\e903';
                    width: 25px;
                }
                & + .card-link{
                    h2{
                        &:before{
                            @extend %tree-view-folder;
                            @include font-color($primary);
                            @include font-size(12);
                            content: '\e905';
                        }
                    }
                }
                
            }

            &[aria-expanded=false]{
                &:after {
                    @extend %tree-view-arrow;
                    @include font-color($darkest);
                    @include font-size(14);
                    @include padding-indv('right', 8px);
                    content: '\e900';
                    width: 25px;
                }
                & + .card-link{
                    h2{
                        &:before{
                            @extend %tree-view-folder;
                            @include font-color($darkest);
                            @include font-size(13);
                            content: '\e904';
                        }
                    }   
                }
                                
            }
            @include flex;
            flex-direction: row-reverse;

            
        }
        .list{
            &-inline{
                &-item{
                    @include flex;
                    flex-basis: 0;
                    flex-grow: 1;

                    h2, h3, h4{
                        &.node{
                            &-text{
                                a{
                                    @include display(block);
                                    @include padding-indv('left', 0);
                                    @include margin-indv('left', 1.3rem);
                                    @include padding-indv('right', 35px);
                                    word-break: break-word;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &-link{
        
        li{
            h3{
                @extend %font-weight-semi-bold;
                @include font-size(14);
                @include font-color($black);

                @include media( "screen", ">minLarge"){
                    @include font-size(16);
                }

                span{
                    @extend %font-weight-regular;
                }
            }
        }

        .drag-title{
            @include font-size(14);
            line-height: 1.5;

            &:before,
            &:after{
                @include padding-indv('right', 10px);
            }
        }
    }

    &-body{
        &--last{
            @include padding-indv('top', 0);
            @include padding-indv('bottom', 0);

            h3{
                &:before{
                    @extend %tree-tick-mark;
                    @include font-color($darkest);
                    @include font-size(8);
                    @include margin-indv('top', 4px);
                    content: '\e913';
                }
            }

            .drag-title{
                @include font-size(14);

                &:before,
                &:after{
                    @include padding-indv('right', 10px);
                }
            }
        }
        
        .card{
            &-header,
            &-body{
                
                h2, h3, h4, h5{
                    @include font-size(15);
                    @include font-color($black);
                    line-height: inherit;
                }            
               
            }
        }
    }

    .text-overflow{
        @extend %text-overflow-hidden;
        max-width: 60px;
        text-align: right;
        -webkit-transition: max-width 3s ease-out;
        transition: max-width 3s ease-out;

        &:hover,
        &:focus{
            max-width: 100%;
        }
    }

    small{
        @include font-size(10);
    }

    .modal{
        &-dialog{
            small{
                @include font-size(11);
            }
        }
    }
}

.micro{
    &-data{
        @include display(none);
        @extend %position-absolute;
        @include right(12px);
        @include top(5px);
        // width: 90px;

        .node{
            &-edit,
            &-add,
            &-del,
            &-created,
            &-strand{
                @include display(none);
            }
            &-comment,
            &-warning,
            &-completed{
                @include display(inline-block);
            }
        }
    }
}
.node-toggle{
    font-size: 0;
}

//start of the tree view
&--view{
    &__header{
        ul{
            @include margin-indv('bottom', 0);
            .node-text{

                button{
                    @include background(none);
                    @include border-none(none);
                    @include padding(0 5px);
                    height: 21px;
                    .icon-ico-garbage{
                        @include padding-indv('left',0);
                    }
                }
                span[contenteditable="true"]{
                    @include display(inline-block);
                    min-width: 10px;
                    &.human-code{
                        &:empty{
                            &:before {
                                @include display(inline-block);
                                @include font-color($secondary);
                                content: 'Human Coding Scheme';
                            }
                            &:focus{
                                &:focus::before {
                                    @include font-color($darkest);
                                    content: 'Human Coding Scheme';
                                }
                            }
                        }
                    }
                    &.full-statement{
                        &:empty{
                            &:before {
                                @include display(inline-block);
                                @include font-color($secondary);
                                content: 'Statement';
                            }
                            &:focus{
                                &:focus::before {
                                    @include font-color($darkest);
                                    content: 'Statement';
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }

    .card{
        div:first-child{
            .card-body{
                @include border-indv(top, 1px, solid, $light );
                &--last{
                    @include  border-none(none);
                }
            }
        }
        .collapse {
            &.show{
                .card-header{
                    @include bgcolor($lightest );
                }
            }
        }
        &:last-child{
            border: none;
        }

        &-header{
            @include border-indv(left, 1px, solid, $light );
            @include border-indv(right, 1px, solid, $light );
            @include border-indv(bottom, 1px, solid, $light );
            &__primary{
                @include bgcolor($white);
            }
        }

        &-body{
            &--last{
                @include padding-indv('right', 0);
                .node{
                    &-text{
                        cursor: auto;
                    }
                }    
            }
        }
    }
    
    .micro{
        &-data{
            @include display(block);

            a{
                flex-direction: row;
            }

            .node{
                &-created,
                &-strand{
                    @include display(inline-block);
                }
            }
        }
    }
}    

//start of the tree details view
&--details{
    @include padding-indv('top', 0);
    @include padding-indv('right', 11%);
    
    &__authoring{
        .card{
            &-link{
                @extend .cursor-pointer;
            }
            .micro{
                &-data{
                    @include display(block);
                    @include padding-indv('right', 0);
                    .node{
                        &-comment{
                            @include margin-indv('right', 5px);
                        }
                    }
                }
            }
            &-header{
                &:hover,
                &:focus,
                &:active,
                &.activated{
                    .micro{
                        &-data{
                            @include display(block);
                           
    
                            ul{
                                height: 18px;
                            }
        
                            .node{
                                &-add,
                                &-del{
                                    @include display(inline-block);
                                }
                            }
                        }
                    }                        
                }

                a{
                    .list{
                        &-inline-item{
                            h2 {
                                .node-text{
                                    @include padding-indv('right', 70px);
                                }
                            }  
                        }
                    }
                     
                }
            }

        }
    }
    .micro{
        &-data{
            @include display(block);
        }
    }
    .card{
        @include border-none(none);
        &-header{
            a {
                .list-inline-item{
                    h5{
                        .node-text{
                            min-height: 20px;
                        }
                    }
                }
            }

        }

        &-body{
            &--last{
                .node{
                    &-text{
                        @extend .cursor-pointer;
                    }
                }
            }
        }
        &-body,
        &-header{
            @include bgcolor(transparent);

            h5{
                max-height: inherit;
                overflow-y: hidden;
            }
        }

        &-header{
            &--primary{
                &.active{
                    box-shadow: none !important;
                    @include border-none(none);
                }
            }

            &:first-child{
                @extend %no-border-bottom;
            }

            a{
                .list{
                    &-inline{
                        &-item{
                            h5{
                                height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }

    .activated{
        @include bgcolor($lightest);
        @include border-indv('left', 5px, solid, $primary);
        @include margin-indv(left, -5px);
        h5{
            height: inherit !important;
            @include font-color($primary !important);
        }
    }

    &-left{
        @extend %position-relative;
        max-height: calc(100% - 206px);

        &--nodes{
            @extend %position-relative;
            @extend .full-height;
            @include padding-indv('left', 0);
            overflow-y: auto;

            #taxonomyListingHeading{
                @extend %position-fixed;
                @include bgcolor($white);
                z-index: 1;
                width: 43.5%;

                @include media( "screen", "<maxLarge"){
                    width: 51.5%;
                }
            }
        }
    }
}

&--builder{
    .card{
        @include border-none(none);
        &-link{
            @include float(left);
            @include margin-indv('right',15px);
        }
        &:last-child{
            border-bottom: none !important;
        }
        .list{
            &-inline{
                &-item{
                    &.float-left{
                        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                            @include margin-indv('left',15px);
                        }
                    }
                    &:not(:last-child){
                        @include float(left);
                        width: 80%;
                    }
                }
            }
        }

        .node-text{
            button{
                @include padding(0 5px);
            }
            span{
                &[contenteditable="true"]{
                    @include float(left);
                    min-width:90px;
                    max-width: 45%;
                    &:first-child{
                        min-width:170px;
                    }

                    &:hover,
                    &:active,
                    &:focus{
                        outline: none;
                        background: transparentize($color: $primary, $amount: .9);
                    }

                    &.human-code{
                        &:empty{
                            &:before {
                                content: 'Human Coding Scheme';
                                @include font-color($secondary);
                                @include display(inline-block);
                            }
                        }
                    }
                    &.full-statement{
                        &:empty{
                            &:before {
                                content: 'Statement';
                                @include font-color($secondary);
                                @include display(inline-block);
                            }
                        }
                    }
                    
                }
            }
        }

        &-header{
            &.active{
                &:hover,
                &:focus,
                &.activated{
                    .controls{
                        @extend %transition-fade-active;
                    }
                }
            }
            
            .controls{
                @extend %transition-fade;
                @include margin-indv('left', 10px);
            }
            
            

            .is{
                &-parent{
                    &:before{
                        @include font-color($primary !important);
                        @include font-size(12);
                        @include margin-indv('top', 2px);
                        content: '\e905';
                    }
                }
            }
        }

        &-body{
            &--last,
            h3{
                @include padding-indv('left', 0);
                @include padding-indv('right', 0);
                
            }
        }

        &-link{
            &[aria-expanded=true],
            &[aria-expanded=false]{
                @include float(left);
                @include padding-indv('right', 10px);
                @supports (-ms-ime-align: auto) {
                    @include margin-indv('left', 15px);
                }
            }

            &[aria-expanded=true]{
                h2{
                    &:before{
                        @include font-color($darkest-xxxx);
                    }
                }
            } 
        }
    }

    .info{
        @include margin-indv('top', 5rem);
    }
    &-doctitle{
        @include display(inline-block);
        @include padding-indv ('left', 15px);
    }
}

.title{
    @include font-size(16);
}
}

.parent{
    &-node{
        &:after{
            @include display(none);
        }
    }
}
