@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.cut{
    @include bgcolor($dark);
    @include opacity(.5);

    .card{
        @include bgcolor($dark);
    }
}

.pasted{
    @include bgcolor(transparentize($warning, .5));
    @include border-all(1px, solid, $warning !important) ;
}

.shifted{
    @include bgcolor($white !important);
    @include border-all(1px, solid, $primary !important);
    @include box-shadow-success;
    @include font-color($black);
    @include padding(1px);
    @include position(relative);
    z-index: 1;
}
