<!-- Add Node Template Set Modal Starts -->
<app-modal [modalId]="'add-nodetemplate'" [showCloseAlert]="form.dirty || enableUpdate" [modalSize]="'big'" (closeEvent)="onCancel()">
  <modal-div class="title-text" id="nodetemplatetitle">
    <ng-container *ngIf="!template_id">Add New Node Template</ng-container>
    <ng-container *ngIf="template_id">Edit Node Template</ng-container>
  </modal-div>

  <modal-div class="body-content">
    <div class="row justify-content-center">
      <div class="col-md-11 col-lg-10 col-xl-8 node-template-creation">
        <div class="form-group col-lg-12 col-sm-12 my-0 clearfix">
          <p class="pt-3">Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are required.
          </p>
        </div>
        <div class="form-group col-lg-12 col-sm-12 my-0">
          <label for="templateName" class="font-bold" id="templateNameLabel">Add node template name <span aria-hidden="true" class="mandatory">*</span></label>
          <input type="text" id="templateName" [(ngModel)]="templateName" placeholder="" [formControl]="form.controls['templateName']"
            class="form-control font-bold" (keyup)="onModelChange()" (change)="onModelChange()">
          <div class="error--txt">
            <div *ngIf="form.controls['templateName'].hasError('required') && form.controls['templateName'].touched" role="alert">
              <p class="font-bold m-0">Template Name Required</p>
            </div>
          </div>
        </div>

        <div class="form-group col-lg-12 col-sm-12 my-0 clearfix">
          <app-auto-complete [listingObj]="nodeTypes" (selectedObject)="selectNodeType($event?.title+'#||#'+$event?.node_type_id)"
            [selectType]="'single'" [uniqueId]="'node_type_id'" [propName]="'title'" [autoCompleteTitle]="'Node Type'" #autoComplete
            [showValidMsg]="(nodeTemplate && nodeTemplate.length<1)" [defaultSelection]="nodeTemplate" [clearArray]="true"
            [clrDisOnSelect]="false" (clickOutside)="onClickedOutside($event)">
          </app-auto-complete>
        </div>
        <div dragula="nodeTemplate" [(dragulaModel)]="nodeTemplate" (dragulaModelChange)=onNodeRearranged($event); role="list" aria-live="polite"
          aria-atomic="true">
          <div *ngFor="let node of nodeTemplate;let i = index" class="row node-type drag" role="listitem">
            <div class="col-10" id="{{ node.title.split(' ').join('')+'_'+i }}" [style.padding-left]="calculatePadding(i+2)">{{ node.title }}</div>
            <div class="col-2 text-right">
              <div class="row align-items-center">
                <div class="col align-self-end">
                  <button class="btn btn-icon tooltip top sm position-relative d-inline-block mr-2" id="detBtnNt" data-tooltip="Delete" [attr.aria-label]="'Delete node'"
                    (click)="deleteNodeType(node)">
                    <em class="icon-ico-garbage el"></em>
                  </button>
                  <img src="assets/images/move.gif" class="img-fluid handle" alt="Move" />
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </modal-div>

  <modal-div class="footer-buttons">
    <button type="button" class="btn btn-primary btn-lg float-right" id="saveBtnNt" (click)="createNodeTemplateObj('add')" data-dismiss="modal"
      *ngIf="!template_id" [disabled]="!form.valid || !nodeTemplateLength">Save</button>
    <button type="button" class="btn btn-primary btn-lg float-right" id="uptBtnNt" (click)="createNodeTemplateObj('edit')" data-dismiss="modal"
      *ngIf="template_id" [disabled]="!enableUpdate">Update</button>
  </modal-div>
</app-modal>
<!-- Add Node Template Set Modal Ends -->


<!-- Node Template Listing section start -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
  <div class="container-fluid">
    <section class="row align-items-center align-btn">
      <div disabled class="col-12 px-3 mt-2">
        <button class="btn btn-primary btn-sm" id="addNt" #addNodeTemplate data-toggle="modal" (click)="onOpenNodetemplateCreateModal()" data-target="#add-nodetemplate"
          *ngIf="createNodeTemplate">Add Node Template<span class="sr-only">Opens in a new dialog</span>
        </button>
      </div>

      <!-- // ----------------for Common Data table----------------- // -->

      <app-data-table class="w-100" [showMenu]="true" [tableCategory]="'Node-template'" [columnList]="listOfColumn" [dataSet]="textToSearch.length > 2 ? searchedNodeType : nodeTemplateList"
        [optionList]="optionList" (clickedStatus)="changeStatus($event.val, $event.id)" (clickedOption)="onOptionClicked($event)">
      </app-data-table>

    </section>
  </div>
</div>
<!-- Node Template Listing section ends -->