<p class="sr-only" id="{{autoCompleteTitle.split(' ').join('') +'Label'}}" *ngIf="!isLableShow">
  {{autoCompleteTitle}}
</p>

<div class="position-relative auto-complete">
  <div class="row position-relative auto-complete__selection">
    <div [ngClass]="(selectType === 'multi') ? 'col-11' : 'col-12'">
      <div class="position-relative">
        <div class="col p-0" [ngClass]="toggle? 'auto-complete__opened position-relative':''">

          <ng-container *ngIf="showSelectionInput">
            <div id="{{autoCompleteTitle.split(' ').join('')}}" role="combobox" [attr.aria-expanded]="toggle"
              [attr.aria-owns]="'dropdownList_'+uniqueId+index" aria-haspopup="listbox" tabindex="0"
              [attr.aria-labelledby]="'dropdownList_'+uniqueId+index"
              class="cursor-pointer text-left custom-select font-bold class-1 form-control" [ngClass]="{'opened':toggle===true, 'cursor-pointer': !disabled, 'cursor-not-allowed': disabled,
              'ng-touched ng-dirty ng-invalid': (isMandatory && showErr && showValidMsg)}" [attr.disabled]="disabled"
              (click)="openPanel(toggle = (toggle === false ? true :false))"
              (keyup.enter)="openPanel(toggle = (toggle === false ? true :false))"
              *ngIf="selectedArrayObj.length === 0">
              <em class="fa fa-spinner fa-spin" *ngIf="showSpinner"></em>
              {{showSpinner ? 'Loading data' : 'Select'}}
            </div>
            <div class="text-left custom-select font-bold class-2 auto-complete__choice-holder form-control" [ngClass]="{'opened':toggle===true, 'cursor-pointer': !disabled, 'cursor-not-allowed': disabled,
              'ng-touched ng-dirty ng-invalid': (isMandatory && showErr && showValidMsg)}" id="{{'dropdBtn-'+index}}"
              [attr.disabled]="disabled" *ngIf="selectedArrayObj.length > 0"
              (click)="openPanel(toggle = (toggle === false ? true :false))" (keyup.enter)="openPanel(toggle = (toggle === false ? true :false))" tabindex="0">
              <div class="d-inline-flex col-auto text-truncate auto-complete__choice-tag px-1 py-0"
                [ngClass]="{'cursor-not-allowed': disabled}" *ngFor="let option of selectedArrayObj">
                <div class="d-flex justify-content-center align-items-center">
                  <span id="{{option[propName]}}" class="text-truncate tag p-2">{{option[propName]}}</span>
                  <button *ngIf="canDelete" (click)="((disabled===true) ? false : deleteObj(option,$event))"
                    id="deleteSelectedElement" class="auto-complete__choice-tag__remove btn btn-icon col-auto p-1"
                    [ngClass]="{'cursor-pointer': !disabled, 'cursor-not-allowed': disabled}"
                    attr.aria-label="Remove item {{option[propName]}}">x</button>
                </div>
              </div>
            </div>

            <div class="error--txt" *ngIf="isMandatory && showErr && showValidMsg" role="alert">
              <p class="font-bold m-0">{{autoCompleteTitle}} is required</p>
            </div>

          </ng-container>
          <div [ngClass]="{'show':toggle, 'tenant-dropdown':!showSelectionInput}">
            <span *ngIf="!showSelectionInput" class="tooltip top font-1x position-relative"
              [attr.aria-label]="'Tenants'" data-tooltip="Tenants">
              <button class="btn btn-clear p-0" type="button" id="tenantsdropdown" aria-haspopup="true"
                [attr.aria-expanded]="toggle" (click)="openPanel(toggle = (toggle === false ? true :false))"
                aria-label="show tenant list">
              </button>
            </span>
            <div class="auto-complete__list position-absolute" id="auto-complete__list_{{uniqueId}}{{index}}"
              [ngStyle]="{'display':toggle ? 'block !important' : 'none' }"
              [ngClass]="{'border-top tenant-search':!showSelectionInput, 'dropdown-menu-right':treeView , 'd-block' : toggle}">
              <div class="auto-complete__search position-relative">
                <label for="metadataSetDropdown{{uniqueId}}{{index}}" id="searchLabel" class="sr-only">search</label>
                <input id="metadataSetDropdown{{uniqueId}}{{index}}" type="text" class="form-control font-bold"
                  placeholder="Search" (keyup)="searchMetadata()" [(ngModel)]="search" aria-autocomplete="list"
                  autocomplete="off">
              </div>

              <ul id="dropdownList_{{uniqueId}}{{index}}" class="list-unstyled auto-complete__list__items mb-0"
                role="listbox" attr.aria-labelledby="metadataSetDropdown{{uniqueId}}{{index}}">
                <li class="row" *ngFor="let data of searchListReult; let i =index;" role="option">
                  <button *ngIf="data[uniqueId] !== null" id="{{data[propName].split(' ').join('') + '_'+i}}"
                    type="button" [class.no-record]="data[uniqueId]===null"
                    [ngClass]="(disableOption && data.is_selected===1?'selected':'')" (click)="selectObject(data);"
                    class="btn-clear w-100 border-0 text-left py-2 options"
                    [disabled]="disableOption && data.is_selected===1">
                    <span class="d-flex w-100">
                      <span class="col">{{data[propName]}}</span>
                      <span class="col" *ngIf="data.is_custom===0">
                        <span class="text-uppercase case">Case</span>
                      </span>
                    </span>
                  </button>
                  <p tabindex="0" *ngIf="data[uniqueId] === null" id="{{data[propName].split(' ').join('') + '_'+i}}"
                    [class.no-record]="data[uniqueId]===null"
                    [ngClass]="(disableOption && data.is_selected===1?'selected':'')" (click)="selectObject(data);"
                    class="btn-clear w-100 border-0 mb-0 text-left py-2 options"
                    [attr.disabled]="disableOption && data.is_selected===1" role="alert">
                    <span class="d-flex w-100">
                      <span class="col">{{data[propName]}}</span>
                    </span>
                  </p>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-1 pl-0" *ngIf="selectType === 'multi'">
      <button class="btn btn-primary tooltip top d-inline-block lg" id="{{'addMulti_'+ index}}" (click)="addObj();"
        data-tooltip="Add to continue" aria-label="Add to continue"
        [disabled]="selectedArrayObj.length<1 || disabled">+</button>
    </div>
  </div>
</div>
