@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.dashboard {
    &__user{
        &-stat{
            .card{
                @include border-all(1px, solid, $light);
                transition: box-shadow .3s;

                &:hover,
                &:focus,
                &:active{
                    @include box-shadow-all;
                    transition: box-shadow .3s;
                }
                
                &-title{
                    @include font-color($darkest-x);
                    line-height: 20px;
                }

                .sub-title{
                    @include font-size(18);
                }

                .indicator{
                    @include top(10px);
                    @include right(10px);
                    @include border-radius(50%);
                    @include display(none);
                    width: 8px;
                    height: 8px;

                    &.open{
                        @include bgcolor($primary)
                    }

                    &.close{
                        @include bgcolor($info);
                    }
                }             
            }
        }
    }

    &__useractivity {
        .h2 {
            @include font-size(20);
        }
    }
}

.project-table{
    @include padding(0 15px);
    @include border-all(1px, solid, $dark);
    @include border-radii(5px, 5px, 0, 0);
}
