<ng-container *ngIf="loading===true">
  <app-preloader class="w-100" loaderText="Loading Dashboard" class="w-100 position-fixed preloader-backdrop"></app-preloader>
</ng-container>

<div [hidden]="loading" class="row px-2 justify-content-center dashboard__user-stat" *ngIf="newCountMetrices">
  <ng-container *ngFor="let key of Object.keys(newCountMetrices)">
    <div class="col-3 px-2" *ngIf="newCountMetrices[key].value !== 0">
      <div class="card position-relative mb-3">
        <div class="card-body">
          <span class="indicator position-absolute open"></span>

          <button class="btn btn-clear mb-0 card-title w-100 text-left" (click)="openDetails(newCountMetrices[key])">
            <span class="sub-title font-bold d-block mb-2">{{newCountMetrices[key].value}}
              {{newCountMetrices[key].unit}}</span>
            <span class="font-1x d-block mb-1">{{newCountMetrices[key].display_name}}</span>
          </button>

        </div>
      </div>
    </div>
  </ng-container>
</div>

<div [hidden]="loading" class="row mx-0 mt-4 mb-2 justify-content-between align-items-center dashboard__useractivity">
  <h2 class="h2 font-bold">Projects</h2>

  <div class="mr-3 d-flex align-items-center">
    <p class="d-inline-flex font-bold mb-0 mr-2">Filter by:</p>

    <div class="btn-group">
      <button aria-expanded="false" aria-haspopup="true" aria-labelledby="filterBy"
        class="btn btn-clear btn-sm dropdown-toggle font-bold p-0" data-toggle="dropdown" id="filterByBtn"
        type="button">
        <span class="sr-only sr-only-focusable" id="filterBy">Filter by {{selectedFilterOption}}</span>
        {{selectedFilterOption}}
      </button>

      <div class="dropdown-menu dropdown-menu-right">
        <button *ngFor="let option of filterOptions; let $index = index" class="btn btn-clear dropdown-item"
          id="filter_{{$index}}" [attr.aria-label]="option" (click)="filterProjectList(option)">{{option}}</button>
      </div>
    </div>
  </div>
</div>

<div [hidden]="loading" class="project-table position-relative">
  <app-data-table [showMenu]="false" class="w-100" [columnList]="listOfColumn" [dataSet]="projectList"
    [defaultSortBy]="listOfColumn[0]" [tableCategory]="'home'" (linkClicked)="goToOpenComments($event)">
  </app-data-table>

  <div class="col-12 text-center view-more" *ngIf="showMore">
    <button class="btn btn-clear btn-link text-underline" (click)="openProjectList()">View More</button>
  </div>
</div>
