@import "vendor/bootstrap";
@import "abstracts/variables";
@import "abstracts/mixins";

// Tree style
.table-view{
    &-header{
        h2,
        .h-text{
            @include font-size(16);
            @include margin-indv('bottom',6px);
            line-height: 1.25rem;
        }

        .th{
            @include padding(0 15px);
        }
    }

    .card{ 
        @include position(relative);
        @include bgcolor($white);
        @include display(flex);
        @include border-none(none);
        @include border-radius(.25rem);
        display: -ms-flexbox;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
          
        &-header{
            @include padding(0);
            @include bgcolor(transparent);
            @include border-none(none);

            .last-node{
                @include padding(0 6px);

                &:before{
                    @include bgcolor($primary);
                    @include font-color($primary);
                    @include border-radius(50%);
                    @include display(inline-block);
                    @include border-all(1px, solid, $primary);
                    content: '';
                    width: 5px;
                    height: 5px;
                }
                
                &.collapsed{
                    &:before{
                        @include bgcolor($primary);
                        @include font-color($primary);
                        @include border-radius(50%);
                        @include display(inline-block);
                        @include border-all(1px, solid, $primary);
                        content: '';
                        width: 5px;
                        height: 5px;
                    }
                }
            }

            .btn{
                &.btn-toggle{
                    @include padding(0);
                    @include bgcolor(transparent);
                    @include margin-indv('right', 5px);
                
                    &:before{
                        @include bgcolor($primary);
                        @include font-color($white);
                        @include border-radius(50%);
                        @include border-all(1px, solid, $primary);
                        @include display(inline-block);
                        @include text-align(center);
                        line-height: 14px;
                        content:'-';
                        width: 16px;
                        height: 16px;
                    }
                
                    &.collapsed{
                    &:before{
                        @include bgcolor($white);
                        @include font-color($darkest);
                        @include border-all(1px, solid, $darkest);
                        @include border-radius(50%);
                        @include display(inline-block);
                        @include text-align(center);
                        line-height: 14px;
                        content:'+';
                        width: 16px;
                        height: 16px;
                        }
                    }
                }
                
                &.btn-sm{
                    @include font-size(14);
                    @include padding(2px 10px);

                    &.btn{
                        &-edit{
                            img{
                                @include position (relative);
                                @include top(-1px);
                            }
                        }
                    }
                    
                }

                &.last-node{
                    @include padding(0 6px);

                    &:before{
                        @include bgcolor($primary);
                        @include font-color($primary);
                        @include border-radius(50%);
                        @include border-all(1px, solid, $primary);
                        width: 5px;
                        height: 5px;
                        content: '';
                    }
                    
                    &.collapsed{
                        &:before{
                            @include bgcolor($primary);
                            @include font-color($primary);
                            @include border-radius(50%);
                            @include border-all(1px, solid, $primary);
                            width: 5px;
                            height: 5px;
                            content: '';
                        }
                    }
                }

                &-node{
                    @include bgcolor(transparent);
                    @include padding(0 5px);
                    @include text-align(left);
                    font-family: $base-font;
                    word-break: break-word;
                    white-space: normal;

                    &.full-width-node{
                        max-width: 87%;
                    }

                    .tree-long-field{
                        @include display(inline);
                        max-height:75px;
                        overflow:hidden;
                    }
                }
            }

            .node{
                &-title{
                    @include font-size(18);
                    @include padding(0);

                    .controls{
                        .btn{
                            &-icon{
                                @include padding(5px 5px);
                                height: 24px;
                            }
                        }

                        .icon-ico-expand{
                            &:before{
                                @include font-size(5);
                                @include font-weight(700);
                                @include position (relative);
                                @include top(-5px);
                            }
                        }
                    }
                }
            }
            
        }

        &-body{
            @include padding(0);

            .card{
                @include border-none(none);   

                .card-body{
                    @include padding(0);
                }
            }
        }

        .tbody{
            .tr{
                p{
                    @include margin-all(0);
                }

                div[class^='col-']{
                    @include padding(5px 5px 5px 15px);
                    @include border-indv('left', 1px, solid, $dark);

                    &.document-type{
                        @include font-size(13);
                        @include font-color($darkest-xxxx);
                        @include padding-indv('top', 10px);
                        text-transform: uppercase;
                    }

                    &:first-child{
                        @include border-none(none);
                        @include padding-indv('left', 0);
                    }

                    &.col-auto{
                        &.adjust-last-col{
                            width: 55px;
                        }
                    }
                }

                &.active{
                    @include bgcolor($lighter);

                    .btn{
                        &-node{
                            @include font-color($primary);
                        }
                    }
                }
            }
        }

        .associated{
            @include padding-indv('left', 27px);

            &-file{
                @include border-all(1px, solid, $dark);
                @include padding(3px 10px 3px 7px);
                @include border-radius(5px);
                @include display(inline-block);
                @include margin-all(0 0 5px 3px);
                max-width: 250px;

                .icon{
                    @include padding-indv('right', 3px);
                }
            }

            &-destination{
                @include position(relative);
                @include padding(3px 10px 3px 20px);
                @include margin-indv('left', 4px);
                min-height: 22px;

                .icon{
                    @extend %position-absolute;
                    @include left(0);
                    @include top(2px);
                }
            }
        }
    }

    & > .card-header{
        @include border-none(none);
    }

    // Tree Accordion
    &.table{
        &-tree{

            .card{
                @include border-none(none);

                &-header{
                    @include border-none(none);                 
                }

                .tbody {
                    .tr{
                        @include padding(3px 0);

                        div[class^='col-']{
                            @include border-none(none);
                        }
                    }
                }

                .node-status{
                    @include padding-indv('right', 10px);

                    .btn{
                        @include font-size(12);
                        @include font-color($darkest-xxxx);

                        .icon-ico-garbage{
                            @include position(relative);
                            @include top(2px);
                        }
                    }

                    .icon{
                        width: 12px;
                        height: 12px;
                    }

                    .more-option{
                        .btn{
                            @include font-size(14);

                            &:hover{
                                @include font-color($white);
                            }
                        }
                    }
                }
            }
        }
    }

    &.tree-builder{
        .node{
            &-text{
                @include position(relative);
                @include top(3px);
                @include margin-indv('left', 5px);

                span[contenteditable="true"]{
                    @include float(left);
                    @include font-size(14);
                    min-width: 90px;
                    max-width: 36%;

                    &:focus{
                        @include bgcolor(rgba(0,110,254,.1));
                        outline: none;
                    }

                    &:first-child {
                        min-width: 170px;
                    }

                    &.human-code{
                        &:empty{
                            &:before {
                                @include display(inline-block);
                                @include font-color($secondary);
                                content: 'Human Coding Scheme';
                            }
                            
                            &:focus{
                                &:focus::before {
                                    @include font-color($darkest);
                                    content: 'Human Coding Scheme';
                                }
                            }
                        }
                    }

                    &.full-statement{
                        &:empty{
                            &:before {
                                @include display(inline-block);
                                @include font-color($secondary);
                                content: 'Statement';
                            }
                            &:focus{
                                &:focus::before {
                                    @include font-color($darkest);
                                    content: 'Statement';
                                }
                            }
                        }
                    }
                    
                }
            }
        }

        .card{
            @include border-none(none);

            &-header{
                @include border-indv('top',0px, solid, $dark);
                @include border-indv('bottom',1px, solid, $dark);

                &:hover,
                &:focus{
                    @include bgcolor(transparent);
                    .controls{
                        visibility: visible;
                        opacity: 1;
                    }
                }

                .template_tiltle{
                    @include font-size(14);
                }

                .controls{
                    @include margin-indv('left', 10px);
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility .5s, opacity .5s linear;

                    .btn-icon{
                        @include font-size(12);
                    }
                }

                &.activated{
                    .controls{
                        visibility: visible;
                        opacity: 1;
                    }
                }

                .tbody{
                    .tr{
                        &.active{
                            @include bgcolor(transparent);
                            .btn{
                                &-node{
                                    @include font-color($black);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .indv-node{
        @include margin-indv('top', 3px);
    }
}

.accordion {
    &.tree{
        .drag-title{
            @include font-size(14);
            line-height: 1.5;

            &:before,
            &:after{
                @include padding-indv('right', 10px);
            }
        }
    }
}

.select{
    &-node{
        @include font-size(14);
        @include font-color($secondary);
        max-width: 190px;
    }
}
