<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<!-- outer node -->
<ng-template #branch let-treeNodes>
    <div *ngFor="let item of treeNodes;let index= index">
      <ng-container *ngTemplateOutlet="leaf; context: {item: item,siblings: treeNodes, index: index+1}"></ng-container>
    </div>
  </ng-template>
  
  <!-- leaf node -->
  <ng-template let-item="item" let-siblings="siblings" let-index="index" #leaf>
    <div class="table-view" [ngClass]="viewLocation === TAXONOMY_BUILDER?'tree-builder':'table-tree'">
      <div class="card" [class.shifted]="item.reorder === 1" [class.pasted]="item.paste===1" role="table" [ngClass]="viewLocation === TAXONOMY_BUILDER?'':'border-0'">
        <div class="card-header" id="headingOne_{{item.id}}"
          [ngClass]="[item.children.length===0?'last-child-node':'', item.id===selectedNodeId && viewLocation === TAXONOMY_BUILDER? 'activated':'']">
          <div class="tbody" role="rowgroup">
            <div class="row mx-0 tr justify-content-between" role="row" *ngIf="item"
              [ngClass]="[selectedNodeId === item.id && copyPasteFlag===0 ? 'active':'', copyPasteFlag===1 && item.cut===1 ? 'cut':'',
              (viewLocation === PUBLIC_REVIEW_LOCATION && (item.hasComment === undefined) && (allCommented===false)) ? 'cursor-deny dim':'']"
              [class.dim]="isAllNode===false  ? '': viewLocation === PROJECT_AUTH_LOCATION && item.project_enabled == 0">
              <div role="cell" class="w-100 d-flex justify-content-between align-items-start"
                [style.padding-left]="calculatePadding(item.level)">
                <div class="d-flex justify-content-start align-items-start p-0 indv-node"
                  [ngClass]="[viewLocation === PROJECT_AUTH_LOCATION? (reOrder?'col':'col'):(viewLocation === CUSTOM_VIEW_LOCATION) || (viewLocation === TAXONOMY_BUILDER)?'col-lg-12 col-xl-12 py-1':'col']">
                  <!-- <p class="font-bold  mb-0"> -->
                  <button *ngIf="showExpandBtn(item)" class="btn btn-toggle"
                    [ngClass]="[item.expand?'':'collapsed']" id="{{ item.id }}-atag" (click)="item.expand = !item.expand"
                    [attr.aria-label]="('click to ' + (item.expand ? 'collapse ' : 'expand ') + 'node- ' + item?.human_coding_scheme + ' ' + item?.full_statement)">
                  </button>
                  <span *ngIf="item.children.length===0"
                    [ngClass]="[item.expand?'':'collapsed', item.children.length===0?'last-node':'']" class="float-left"
                    id="{{ item.id }}-atag">
                  </span>
                  <button *ngIf="viewLocation !== TAXONOMY_BUILDER && !item.isOrphanLabel" class="btn btn-node p-0"
                    id="{{item.id}}-{{'node'}}" [attr.aria-pressed]="selectedNodeId === item.id && copyPasteFlag===0"
                    (click)="onNodeSelected(item);selectedNodeId = item.id"
                    [ngStyle]="calculateStyle(item?.custom_view_data)"
                    [ngClass]="viewLocation === CUSTOM_VIEW_LOCATION?'full-width-node':''"
                    [attr.aria-label]="'node- ' + item?.human_coding_scheme + ' ' + item?.full_statement + ((selectedNodeId === item.id && copyPasteFlag===0) ? '': ', click to get node details')">
                    <span id="{{ item.id }}_html-content">
                      <ng-container *ngIf="viewLocation === CUSTOM_VIEW_LOCATION">
                        <span class="pr-1 d-inline">{{getCustomViewTitle(item?.custom_view_data)}}</span>
                      </ng-container>
                      <ng-container *ngIf="viewLocation !== CUSTOM_VIEW_LOCATION && viewLocation !== TAXONOMY_BUILDER">
                        <span class="pr-1 d-inline">{{item.human_coding_scheme | slice:0:charLimit}}</span>
                        <span [innerHtml]="item.full_statement_html ? item.full_statement_html: item.full_statement"
                          class="tree-long-field d-inline">
                        </span>
                        <button class="btn btn-sm btn-icon tooltips position-relative px-1"
                          *ngIf="item.isAssociationNode && item.association_type !== 'isChildOf'">
                          <img alt="External Association info" class="img-fluid" src="assets/images/ic_warning.png">
                          <span class="content right position-absolute">
                            External Association
                          </span>
                        </button>
                      </ng-container>
                    </span>
                  </button>
                  <p class="font-bold font-3x mb-0" id="{{item.id}}-{{'node'}}" *ngIf="item.isOrphanLabel">
                    {{item.human_coding_scheme | slice:0:charLimit}}
                    {{item.full_statement_html ? item.full_statement_html: item.full_statement}}
                  </p>
  
                  <div *ngIf="viewLocation === TAXONOMY_BUILDER && !item.isOrphanLabel" id="{{item.id}}-{{'node'}}"
                    class="node-text w-100" (click)="onNodeSelected(item);selectedNodeId = item.id">
                    <ng-container>
                      <p class="mb-0">
                        <span contenteditable="true" *ngIf="item.parent || item.is_document"
                          (blur)="blurDocumentTitle(item,$event);" (keyup)="onKeyUp($event);"
                          (keypress)="onKeyPress(item,$event,'document');" (focus)="onFocus(item);onNodeSelected(item)"
                          aria-multiline="false" role="textbox" aria-label="Document title" tabindex="0">{{ item.document_title
                          ? item.document_title : item.title }}</span>
                        <span contenteditable="true" class="human-code" id="{{ item.id }}-span"
                          *ngIf="!item.parent && !item.is_document" (blur)="blurHumanCodingScheme(item,$event);"
                          (keyup)="onKeyUp($event);" (keypress)="onKeyPress(item,$event,'humanCodeScheme');"
                          (focus)="onFocus(item);onNodeSelected(item)" aria-multiline="false" role="textbox"
                          aria-label="Human coding scheme" tabindex="0">{{
                          item.human_coding_scheme }}</span>
                        <span *ngIf="!item.parent" aria-hidden="true" class="float-left px-2">:</span>
                        <span contenteditable="true" class="full-statement" *ngIf="!item.parent && !item.is_document"
                          (blur)="blurFullStatement(item,$event);" (keyup)="onKeyUp($event);"
                          (keypress)="onKeyPress(item,$event,'fullStatement');"
                          (focus)="onFocus(item);onNodeSelected(item)" aria-multiline="false" aria-required="true"
                          role="textbox" aria-label="statement" tabindex="0">{{
                          item.full_statement }}</span>
                        <span class="controls">
                          <button class="btn btn-icon tooltip top lg position-relative d-inline-block" data-tooltip="Add new node" id="{{ item.id }}-add"
                            *ngIf="isAddNode && (item.level!==levelLimit || levelLimit===-1)" (click)="addNode(item)"
                            [attr.aria-label]="'Add new node'">
                            <em class="fas fa-plus"></em>
                          </button>
                          <button class="btn btn-icon tooltip top lg position-relative d-inline-block" data-tooltip="Delete node" *ngIf="isDeleteNode && !item.parent"
                            (click)="deleteNode(item)" [attr.aria-label]="'Delete node'"><em
                              class="icon-ico-garbage"></em></button>
                        </span>
  
                        <span class="float-right" *ngIf="viewLocation =='taxonomy_builder'">
                          <span class="template_tiltle" *ngIf="item.template_tiltle">{{ item.template_tiltle }}</span>
                          <span class="template_tiltle"
                            *ngIf="(item.parent || item.is_document) && !item.template_tiltle">Document</span>
                          <div class="dropdown" *ngIf="!item.template_tiltle && (!item.parent && !item.is_document)">
                            <button class="btn btn-clear select-node dropdown-toggle p-0" type="button"
                              id="selectTaxonomyNodeType-{{item.id}}" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
  
                              <span *ngIf="!item.metadataType">Select Type</span>
                              <span *ngIf="item.metadataType">{{ item.metadataType }}</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right"
                              aria-labelledby="selectTaxonomyNodeType-{{item.id}}">
                              <div class="dropdown-overflow">
                                <button type="button" *ngFor="let type of nodetypeList" [value]="type.title"
                                  (click)="selectMetaData(item,type.title,type.node_type_id)"
                                  class="btn btn-clear dropdown-item" [disabled]="type.title===item.metadataType">{{
                                  type.title }}</button>
                              </div>
                            </div>
                          </div>
  
                        </span>
                      </p>
                    </ng-container>
                  </div>
                  <!-- </p> -->
                </div>
                <div class="col-auto" *ngIf="viewLocation !== CUSTOM_VIEW_LOCATION && viewLocation !== TAXONOMY_BUILDER">
                  <ul class="list-inline mb-0 node-status pr-2">
  
                    <li class="list-inline-item mr-1">
                      <span aria-label="Taxonomy Compliance" *ngIf="item.compStatus!==null && showComplaince">
                        <img *ngIf="item.compStatus===0" src="assets/images/ic_complete.png" alt="Node compliant"
                           class="img-fluid ic-compliance icon" />
                        <img *ngIf="item.compStatus===1" src="assets/images/ic_not_complete.png"
                          alt="Node partially compliant" aria-label="Node partially compliant"
                          class="img-fluid ic-compliance icon" />
                        <img *ngIf="item.compStatus===2" src="assets/images/ic_not_started.png" alt="Node not compliant"
                          class="img-fluid ic-compliance icon" />
                      </span>
                      <img *ngIf="!item.isCommented && showNoComment && allCommented && item.is_document === 0"
                        src="assets/images/ic_warning.png" alt="Node has issue" class="img-fluid ic-edit" />
                      <img *ngIf="item.isCommented" src="assets/images/ic_msg.png" alt="Node has comment"
                        class="img-fluid ic-edit ml-1" />
                    </li>
                    <ng-container *ngIf="reOrder && !item.isOrphanLabel">
                      <li class="list-inline-item mr-1">
                        <button class="btn btn-clear p-1"
                          *ngIf="copyPasteFlag===1 && selectedNodeId !== item.id && item.cut===0"
                          (click)="copyPasteFlag = 0;pasteTargetElement(item);" title="Paste node">
                          <em class="fas fa-paste"></em> </button>
                        <ng-container *ngIf="item.is_document !== 1 && (item.id !== firstNode.id)">
                          <button class="btn btn-clear p-1" *ngIf="copyPasteFlag===0"
                            (click)="copyPasteFlag = 1;selectedNodeId = item.id;copySourceElement(item,siblings);"
                            title="Cut node">
                            <em class="fas fa-cut"></em> </button>
                          <button class="btn btn-clear p-1" (click)="reOrderSiblings(siblings, -1, item.id);"
                            *ngIf="siblings.length !== 1 && index !== 1" title="Move upward">
                            <em class="fas fa-arrow-up"></em>
                          </button>
                          <button class="btn btn-clear p-1" (click)="reOrderSiblings(siblings, +1, item.id);"
                            *ngIf="siblings.length !== index && siblings.length !== 1" title="Move downward">
                            <em class="fas fa-arrow-down"></em> </button>
                        </ng-container>
                      </li>
                    </ng-container>
                    <li class="list-inline-item" *ngIf="isAddNode && item.is_editable===1">
                      <button type="button" class="btn btn-clear p-0 tooltip top top-right position-relative d-inline-block" data-tooltip="Add node" [attr.aria-label]="'Add node'"
                      (click)="addNode(item)">
                        <em class="fas fa-plus"></em>
                      </button>
                    </li>
                    <li class="list-inline-item" *ngIf="isDeleteNode && !item.parent && item.is_editable===1">
                      <!-- <button type="button" class="btn btn-clear p-0" (click)="deleteNode(item)" aria-label="Delete node"><em
                          class="icon-ico-garbage"></em></button> -->
                      <span class="more-option dropdown">
                        <button aria-expanded="false" aria-haspopup="true" class="btn btn-icon p-0 tooltip top top-right position-relative d-inline-block" data-tooltip="Configure" [attr.aria-label]="'Configure'"
                          data-reference="parent" data-toggle="dropdown" type="button">
                          <em class="icon-icon-more-horiz"></em>
                        </button>
  
                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                          <button *ngIf="item.is_document!==1" type="button" class="btn btn-clear dropdown-item"
                            data-toggle="modal" (click)="addAssociation(item)" data-target="#taxonomyAssociation">Add from
                            taxonomy
                          </button>
                          <button type="button" class="btn btn-clear dropdown-item" (click)="deleteNode(item)"
                            aria-label="Delete node">Delete
                            this node</button>
                        </div>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div id="{{item.id}}" aria-labelledby="headingOne_{{index}}">
          <div class="card-body">
            <div *ngIf="showChildrenContainer(item)">
              <ng-container *ngTemplateOutlet="branch; context: { $implicit : item.children}"></ng-container>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  </ng-template>
  
  <!-- trigger outer node -->
  <ng-container *ngTemplateOutlet="branch; context:{ $implicit: treeNodes}">
  </ng-container>
  