@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.sidenav{
    &__header{
        @include padding(13px 10px);
        @include border-indv('bottom', 1px,solid, $light);
        @include margin-indv('right',-10px);
        @include margin-indv('bottom',10px);
        @include margin-indv('left',-10px);
        min-height: 62px;
        
        .notes{
            @include font-color($primary);
            @include font-size(19);
        }
        
        button{
            &.add-new{
                @include font-size(14);
                @include font-color($black);
            }
        }

        ul{
            @include margin-all(0);
            @include padding-indv('right',10px);
        }

        .icon{
            &-ico{
                &-history{
                    @include font-size(18);
                    @include font-color($darkest);
                }
            }
        }
    }

    &__card{
        @include box-shadow(0,2px,2px,0,rgba(0, 0, 0, .10));
        @include margin-indv('top', 10px);

        .card{
            &-header{
                @include margin-all(0);
                @include padding(5px 10px);
                @include bgcolor($white);
                @include border-none(none);

                .username{
                    @include font-size(16);
                    @include font-color($black);
                    max-width: 26%;
                }
            }
        }

        .ticket{
            &-status{
                @extend %text-overflow-hidden;
                max-width: 74%;
                
                span{
                    @include font-color($darkest);
                    @include font-size(12);
                }
            }
        }

        &-body{     
            @include padding(0);

            .commented{
                &__section{
                    @include padding(10px);

                    figure{
                        @include margin-indv('bottom',10px);
                    }
                }
            }

            .form{
                &-group{
                    @include margin-all(0);
                }
            }

            p{
                &.card{
                    &-text{
                        @include font-color($secondary);
                        @include margin-all(0);
                        @include font-size(14);
                        line-height: 16px;
                        &:focus{
                            .icon{
                                &-ico{
                                    &-garbage{
                                    @include display(block);
                                    } 
                                }
                            }    
                        }
                    }
                }
            }

            button{
                &.btn{
                    &-reply{
                        @include font-size(14);
                        @include font-color($black);
                        @include bgcolor(transparent);
                        @extend %project-hover-underline;
                    }

                    &-add{
                        @include font-size(14);
                    }
                }
            }
        }

        .more{
            &-option {
                vertical-align: middle;
                line-height: 1rem;
            }
        }
    }

    .comment{
        figure{
            img{
                width: 30px;
                height: 30px;
            }

            figcaption{
                @extend %font-weight-semi-bold;
                @include font-color($black);
                @include font-size(16);
            }
        }

        select{
            @extend %no-box-shadow;
            @include font-color($black);
        }

        &__create{
            @include box-shadow(0, 2px, 6px, 0,rgba(0, 0, 0, .10));
        }

        &__body{
            @include padding(10px);
            @include padding-indv('bottom', 0);

            textarea{
                @extend %no-box-shadow;
                @include font-size(16);

                &:focus{
                    @extend %form-control-ui-focus;
                }
            }

            figure{
                @include margin-indv('bottom', 5px);
            }
            .form{
                &-group{
                    @include margin-indv('bottom', .5rem);
                }
            }
        }

        &__footer{
            @include padding(5px 10px);
            @include border-indv('top', 1px, solid, $light);

            .btn{
                &-cancel{
                    @include font-size(14);
                }
            }
        }
        &-time{
            @include font-color($darkest);
            @include font-size(12);
        }
    }

    .reply{
        @extend %no-box-shadow;
        @include bgcolor($lightest);
        // @include border-none(none);
        @include border-indv('top', 1px, solid, $light);
        @include padding(7px 5px 7px 15px);
        &.text-right{
            @include border-none(none);
        }
        &.comment{
            &__create{
                @extend %no-box-shadow;
                @include border-none(none);
                @include border-indv('top', 1px, solid, $light);
                @include border-radius(0);
            }
        }
        .reply{
            @include border-none(none);
            &__section{
                @extend %position-relative;
                @include padding-indv('top', 8px);
                @include border-indv('bottom', 1px, solid, $light);
                &:first-child{
                    @include padding-indv('top', 0);
                    .icon{
                        &-ico{
                            &-garbage{
                                @include top(3px);
                            }
                        }
                    }
                }
                &:last-child{
                    @include border-indv('bottom', 0, solid, $light);
                }
                
                .icon{
                    &-ico{
                        &-garbage{
                            @extend %position-absolute;
                            @include bgcolor($lightest);
                            @include display(block);
                            @include top(10px);
                            @include right(3px);
                            @include padding(3px);
                            @include border-radius(50%);
                        }
                    }
                }
                

            }
        }

        &__section{
            @extend %position-relative;
            @include padding(0 10px 10px 10px);
            .btn{
                &.tooltip{
                    @include right(1px);
                    @include top(-6px);
                }
            }


            figure{
                @include margin-indv('bottom', 10px);
            }
            
            &--comment{
                @extend %position-relative;



                .icon{
                    &-ico{
                        &-garbage{
                            @extend %position-absolute;
                            @include display(block);
                            @include top(6px);
                            @include right(0);
                        }
                    }
                }
            }
        }

        textarea,
        select{
            @include bgcolor(transparent);
        }
    }
    &-header{
        @include padding(15px 10px 16px);
        @include border-indv('bottom', 1px,solid, $light);
        @include margin-indv('right',-10px);
        @include margin-indv('bottom',10px);
        @include margin-indv('left',-10px);
        min-height: 62px;
    }
    &-offcanvas{
      @include top(0);
      @include bgcolor($white);
      @include padding-all(0, 10px, 10px, 10px);
      @include box-shadow(-9px, 0, 105px, -16px, rgba(0, 0, 0, .4));
      width: 300px;
      height: 100%;
      overflow-y: auto;
      transition: .5s;
      right: -250%;
      z-index: 10000;

        &.sidenav {
            .comment{
                figure{
                    figcaption{
                        @include display(block);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 110px;
                        white-space: nowrap;
                    }
                }
                .reply{
                    .reply__section{
                        figure{
                            figcaption{

                                max-width: 200px;

                            }
                        }
                    }
                }
            }
        }
        &.node-details-overlay{
            @include z-index(100);
            @include padding(0);
            @include right(-100%);
            width: 600px;
            &-container{
                @include position(relative);
                @include padding(0 0 80px);
                min-height:100%;
                
            }
            .project-authoring{
                overflow:auto;
            }
            .sidenav{
                &__header{
                    @include border-none(none);
                    @include margin-indv('right',0);
                    @include margin-indv('left',0);
                }
                &__footer{
                    @extend %position-absolute;
                    @include border-indv('top', 1px, solid, $dark);
                    @include padding(15px);
                    @include z-index(100);
                    @include bottom(0);
                    @include left(0);
                    @include bgcolor($white);
                    width: 100%;
                    .node-status{
                        em{
                            font-style: normal;
                            span{
                                @include border-radius(50%);
                                @include display(inline-block);
                                @include margin-all(0 5px);
                                @include position(relative);
                                @include top(1px);
                                border:1px solid rgba(0,0,0,.2);
                                width: 12px;
                                height: 12px;
                            }
                            &.in-progress{
                                span{
                                    @include bgcolor($warning); 
                                }
                            }
                            &.not-started{
                                span{
                                    @include bgcolor($danger);
                                }
                            }
                            &.completed{
                                span{
                                    @include bgcolor($success);
                                }
                            }
                        }
                    }

                }
            }
            .associations,
            .custom_metadata{
                @include padding(0);
            }
        }
        &.association-settings{
            width: 620px;
        }
    }  
}
