<div class="small-device-alert d-flex align-items-center">
    <p class="mb-0">Mobile view is not supported. Please view the ACMT web application at minimum 768 X 1024 pixel.</p>
</div>
<router-outlet></router-outlet>
