@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.tree-custom{

    .row-item{
        @include margin-all(0);
        @include padding(8px 0 5px 0);
        @include font-size(16);
            .select-all-child{
                @include left(0);
                @include top(8px);
            }
        &.active{
            //@include bgcolor($lighter);
            @include font-color($primary);
        }
        .btn{
            &-toggle{
                @include bgcolor(transparent);
                @include position(relative);
                @include top(-2px);
                &.open{
                    &:before{
                        @include bgcolor($primary);
                        @include font-color($white);
                        @include border-radius(50%);
                        @include border-all(1px, solid, $primary);
                        @include display(inline-block);
                        @include text-align(center);
                        line-height: 14px;
                        content:'-';
                        width: 16px;
                        height: 16px;
                    }
                }
                &.collapsed{
                    &:before{
                        @include bgcolor($white);
                        @include font-color($darkest);
                        @include border-all(1px, solid, $darkest);
                        @include border-radius(50%);
                        @include display(inline-block);
                        @include text-align(center);
                        line-height: 14px;
                        content:'+';
                        width: 16px;
                        height: 16px;
                    }
                }
                    
            }
        }
    }
    .last-child-node{
        @include margin-all(8px 19px 8px 7px);
        @include position(relative);
        
        &:before{
            @include bgcolor($primary);
            @include font-color($primary);
            @include border-radius(50%);
            @include display(inline-block);
            @include border-all(1px, solid, $primary);
            @include position(absolute);
            @include left(0);
            @include top(0);
            width: 5px;
            height: 5px;
            content:"";
        }
    }
    .tooltips{
        .content{
            &.expanded{
                width: 150px;
            }
        }
    }
}
