<div class="popup-boxes">
    <form ng-cloak>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}}</div>
        <div class="inner-modal-content tab-contents">
            <div class="group inputfrom" ng-show="formError['error']"> 
                <span class="highlight text-danger">{{formError['error']}}</span>
            </div>
            <div class="group inputfrom">      
                <input ng-model="tag_title" name="tag_title" type="text" class="form-control" placeholder="Tag" >
                <span class="highlight text-danger">{{formError['tag_title']}}</span>
                <span class="bar"></span>
            </div>
            <!--div class="group inputfrom">      
                <textarea ng-model="tag_description" name="tag_description" type="text" class="form-control" placeholder="Tag Description" rows="5"></textarea>
                <span class="highlight text-danger">{{formError['tag_description']}}</span>
                <span class="bar"></span>
            </div>            
            <div class="clearfix"></div-->
        </div>
        <div class="modal-footer">            
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button ng-show="showAdd" class="btn btn-primary" ng-click="add()">CONFIRM</button>
            <button ng-show="showEdit" class="btn btn-primary" ng-click="edit()">CONFIRM</button>
        </div>
    </form>
</div>