<style>
    .project_link{
        cursor: pointer;
        color: #337ab7;
        text-decoration: none;"
        }
        .gadget_preview_header{
        padding: 25px 15px !important;        
        }
        .gadget_preview_close {
        height: 25px !important;
        }
    </style>
    <div class="popup-boxes">
        <form ng-cloak>
            <div class="modal-header header-m">
                {{modalFormTile}}
                <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="sub-title">Tag Name: {{tag_title}}</div>
            <div class="inner-modal-content tab-contents">
                <div class="from-container">
                    <!--/*stucture modified for all pages*/-->
                    <div class="from-container-row">
                        <div class="pattern-list-container">
                            <table id="tagTableId" class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th width="25%">Object Name</th>
                                        <th width="15%">Object Type</th> 
                                        <th width="15%">Created at</th>
                                        <th width="15%">Project Name</th>
                                        <!--                                    <th width="15%">Page Name</th>-->
                                        <th width="15%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--tr ng-repeat="tag in tags"-->
                                    <tr dir-paginate="meatadata_object in tagMetadataObjects|itemsPerPage: itemsPerPage" total-items="total" current-page="currentPage" pagination-id="objectListId">
                                        <td>
                                            <span>{{meatadata_object.name}}</span>
                                        </td> 
                                        <td>
                                            <span ng-if="meatadata_object.object_type_name == 'Vtt'">Other</span>
                                            <span ng-if="meatadata_object.object_type_name != 'Vtt'">{{meatadata_object.object_type_name}}</span>
                                        </td>
                                        <td>{{meatadata_object.created_at}}</td>
                                        <td><div ng-show="!meatadata_object.no_project && !meatadata_object.is_global_project" class="ng-binding project_link" ng-click="redirctToProject(meatadata_object.project_id, meatadata_object.toc_creation_status, meatadata_object.usage_type);">{{meatadata_object.project_name}}</div></td>
                                        <!--                                    <td><div ng-show="meatadata_object.object_type_id==101" class="box-theme-title" ng-click="redirctToProject(meatadata_object.project_id, meatadata_object.toc_creation_status,meatadata_object.usage_type);">{{meatadata_object.page_name}}</div></td>-->
                                        <td>
                                            <span ng-show="meatadata_object.object_type_id == 101">
                                                <button type="button" class="btn btn-default" ng-click="previewContent('lg', meatadata_object.id);" ng-disabled="!meatadata_object.is_preview_enabled">Preview</button>
                                            </span>
                                            <span ng-show="[111, 102, 103, 104].indexOf(meatadata_object.object_type_id) != -1">
                                                <button type="button" class="btn btn-default" ng-click="previewAsset('lg', meatadata_object.preview_info)" ng-disabled="!meatadata_object.is_preview_enabled">Preview</button>
                                            </span>
                                            <span ng-show="meatadata_object.object_type_id == '' && meatadata_object.object_type_name == 'Assessment'">
                                                <button type="button" class="btn btn-default" ng-click="previewAssessment(meatadata_object.preview_info)" ng-disabled="!meatadata_object.is_preview_enabled">Preview</button>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr ng-show="showPagination">
                                        <td colspan="5">
                                            <!-- Pagination Starts Here -->
                                <dir-pagination-controls class="dir_pagination"
                                                         boundary-links="true" 
                                                         pagination-id="objectListId" 
                                                         on-page-change="pageChangeHandlerObject(newPageNumber)" 
                                                         template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                                </dir-pagination-controls>
                                <!-- Pagination Starts End -->
                                </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">            
                <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            </div>
        </form>
    </div>