<div ng-cloak>
    <div class="clearfix"></div>
    <div class="page-title">
        <div class="pull-right">
            <button ng-click="applyAdvancedSearch()" class="btn btn-primary">Search</button>
            <button ng-click="applyAdvancedClear()" class="btn btn-default">Clear</button>
            <button ng-click="toggleAdvanceSearch()" class="btn btn-default">Collapse</button>
        </div>
        <div class="pull-middle">
            Advanced Search
        </div>
        <div class="clearfix"></div>
    </div>
    <!--div class="adv-search" style="max-height: {{actualAdvanceSearchInnerHeight}}px;padding: 20px 0;overflow: auto;"-->
    <div class="adv-search" style="padding: 20px 0;">
        <div class="margin-bottom25">
            <div class="col-sm-6">
                <label class="form-fld-title">Title/Keyword</label>
                <div class="">
                    <input type="text" class="form-control" id="advancedAssessment_search.title" ng-model="advanced_search.title" aria-label="Text input with checkbox">
                </div>
            </div>
            <div class="col-sm-6">
                <label class="form-fld-title">Owner</label>
                <div class="input-group display-block">
                    <input type="hidden" aria-label="Text input with radio button" ui-select2="advanced_search.owner" ng-model="advanced_search.ownerValue">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-12">
            <div class="from-row-title">
                <label class="form-fld-title" for="">Metadata </label>
            </div>
        </div>

        <div class="form-group">
            <div class="clearfix">
                <div class="metad-data-cont col-sm-12">
                    <div class="metadata-container-block" style="padding-bottom: 20px;">
                        <div class="margin-bottom25">
                            <div class="key-value-block">
                                <div id="advancedAssessmentSearchKeyValuesAreaId"></div>
                            </div>
                            <div style="margin-top:30px;" class="">
                                <label class="form-fld-title" for="tag">Tag</label>
                                <!--<button type="button" class="ad-qtn qtn-information sprite pull-right" data-toggle="tooltip" data-placement="top" title="Tags">Tooltip on top</button>-->
                                <div class="input-group display-block">
                                    <input type="hidden" ui-select2="advanced_search.tag" ng-model="advanced_search.tagValue" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-sm-6">
                    <label class="form-fld-title">Taxonomy</label>
                    <div class="input-group">
                        <div ivh-treeview="advanced_search.taxonomy" ivh-treeview-twistie-expanded-tpl="tplFolderOpen" ivh-treeview-twistie-collapsed-tpl="tplFolderClose" ivh-treeview-twistie-leaf-tpl="tplLeaf"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<!--<button type="button" class="btn btn-default collapsed adv-btn-col" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Collapse </button>-->