<style>
  .collapsed{
    cursor: auto;
    text-decoration: none !important;
  }
  .switch > .active {
    font-weight: bold;
  }
  .switch > .inactive {
    font-weight: lighter;
  }
  .has-error > .error_show{
    display: block !important;
    font-weight: 100;
    color: #a94442;
  }
  .has-error + .error_show{
    display: block !important;
    font-weight: 100;
    color: #a94442;
  }
  .multiple-switch .switch {    width: auto;     display: inline-block;    vertical-align: middle;}
  .multiple-switch .switch-button-label{    padding: 0px 8px;}
  .multiple-switch .switch-button-background {    margin: 0px 1px;}
  .chice-deletes{
    position: absolute;
    top: 0;
    margin-top: 0;
    width: 40px;
    height: 100%;
    right: 0;
    border-radius: 0 4px 0 0;
    color: #ff1e12 !important;
    background: #f6f6f6;
    margin: 0px;
    border-left: 1px solid #eee;
    box-shadow: none !important;
  }
  .text-wrap{
    white-space: pre-wrap;
  }
  .sentence{
    border: 1px solid #eaeaea;
  }
  .sentence-block-text{
    height: 80px !important;
    margin-bottom: 5px;
  }
  .sentence-block{
    padding: 10px;
    background-color: #eaeaea;
  }
  .choice-box{
    padding: 10px;
  }
</style>
<div class="panel-group mcss-wrapper" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="collapsed" data-parent="#accordion" data-target="#collapseOne">
          QUESTION DETAILS
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">


        <div class="form-group">
          <label for="question_title">Question Title</label>
          <input id="question_title"  name="question_title" type="textarea" class="form-control requires" maxlength="255"/>

          <label class="error_show" style="display:none">Please enter the Question Title</label>
          <label class="pull-right"><span id="chars">255</span> characters remaining</label>
        </div>
        <div class="form-group">
          <label for="question_stem">Question Stem</label>
          <textarea id="question_stem"  name="question_stem" type="textarea" class="form-control requires text-wrap ckeditor" rows="1"></textarea>
          <label class="error_show" style="display:none">Please enter the Question Stem</label>
        </div>
        <div class="form-group">
          <label for="instruction_text">Instruction Text</label>
          <textarea id="instruction_text"  name="instruction_text" type="textarea" class="form-control requires text-wrap ckeditor" rows="1"></textarea>
          <label class="error_show" style="display:none">Please enter the Question Instruction text</label>
        </div>
        <div class="form-group">
          <div class="col-md-3">
            <div class="radio">
              <label><input type="radio" name="media" ng-model="media.type" value="no-media"> Without Media</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="radio">
              <label><input type="radio" name="media" ng-model="media.type" value="media"> With Media</label>
            </div>
          </div>
        </div>
        <dvi class="clearfix"></dvi>
        <div class="form-group" ng-show="ext_res_block">
          <div ng-hide="ext_res_title">
            <!--button class="btn btn-default btn-md" ng-click="addBrightCoveModal()" id="brightcove_button" ng-disabled="add_media_button">Add Brightcove Video</button>
            <span>- or -</span-->
            <button class="btn btn-default btn-md" ng-click="addAssestModal()" ng-disabled="add_media_button">Add Media from Assets</button>               
          </div>
          <dvi class="clearfix"></dvi>
          <div class="media col-md-3" ng-show='ext_res_title' style='border: 1px solid #ccc;padding: 5px;'>
            <div class="media-left">
              <a href="javascript:void(0);">
                <span ng-hide="ext_ico_block">
                  <img class="media-object" src="img/blank.jpg" alt="Image not Found" style="max-width: inherit !important;width:64px">
                </span>
                <span ng-show="ext_ico_block">
                  <img class="media-object" ng-src="{{ext_res_url}}" alt="Image not Found" style="max-width: inherit !important;width:64px">
                </span>

              </a>
            </div>
            <div class="media-body">
              <h5 class="media-heading"><span ng-bind-html="ext_res_title"></span></h5>
              {{ext_res_type}}
              <button type="button" class="btn chice-deletes" ng-click="deleteResource()">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <input type="hidden" id="ext_res_title" ng-model="ext_res_title">
          <input type="hidden" id="ext_res_type" ng-model="ext_res_type">
          <input type="hidden" id="ext_res_url" ng-model="ext_res_url">
          <input type="hidden" id="ext_res_title_id" ng-model="ext_res_title_id">
          <input type="hidden" id="media_type" ng-model="media_type">
          <input type="hidden" id="ext_res_height" ng-model="ext_res_height">
          <input type="hidden" id="ext_res_width" ng-model="ext_res_width">

        </div>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="collapsed" data-parent="#accordion" data-target="#collapseTwo">
          SENTENCES & ACTIVITIES
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body choice-body">


        <div class="row choice-point-block">
          <div class="col-sm-6">
            <button class="btn btn-primary" onclick="incontext.addSentence()">Add Sentences</button>
          </div>
          <div class="col-sm-6 text-right multiple-switch">
            <label>Multiple Responses:</label>
            <div class="switch">
              <span class="switch-button-label singel-ans">No</span>
              <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
              <label class="switch-button-background" for="cmn-toggle-1"> </label>
              <span class="switch-button-label multiple-ans">Yes</span>
              <div class="clear"></div>
            </div>
          </div>
        </div>


        <!-- Answer choice setting -->
        <div class="sentence" id="sentence_div_1">
          <div class="sentence-block">
            <label class="sentenceLabel">Sentence 1</label>
            <a href="javascipt:void(0)" class="deleteSentence" onclick="incontext.deleteSentence(1)" style="float: right;font-size: 20px;color: #d9534f;cursor: not-allowed;"><i class="fa fa-trash-o"></i></a>
            <textarea class="form-control requires sentence-block-text" id="sentence_1"></textarea>
            <label class='error_show' style='display:none'>Sentence should not be blank</label>
            <div class="choice-point-ANSWER"><label>Answer Choices</label> <a class="btn btn-default btn-add-block" id="add_choice" onclick="incontext.addChoice(1)"><i class="fa fa-plus"></i> Add</a></div>
          </div>
          <div class="clearfix"></div>
          <div class="ui-sortable choice-box choice-box_1" id="choice_sortable_1"> 
            <div class="choiceContainer ui-state-default choiceContainer_1" id="choiceContainer_1_1">
              <div class="well choice-well-section">
                <div id="ansChoice_1_1" class="">
                  <div class="ansChoiceQtn_inner">
                    <div class="form-group">
                      <label for="ansChoice_1_1" class="label-name-list">Choice 1</label>
                      <div class="input-group"> 
                        <span class="input-group-addon"> 
                          <input type="checkbox" id="assess_1_1_check" name="assess_1_check" class="assess_check">
                          <input type="radio" id="assess_1_1_radio" name="assess_1" class="assess_radio">
                        </span> 
                        <textarea name="choices_1" id="choices_1_1" class="form-control requires  text-wrap ckeditor" row="1"></textarea>
                      </div>
                      <label class="error_show" style="display:none">Choice should not be blank</label>
                    </div>
                    <div class="" id="show_option_1_1" style="display:none">

                      <div class="form-group row feedback_area">
                        <div class="col-sm-6">
                          <label for="individual_1_1_feedback" class="label-name-list">Choice 1 Correct Feedback</label>
                          <textarea name="individual_1_1_feedback" id="individual_1_1_feedback" class="form-control text-wrap ckeditor" rows="1"></textarea>
                        </div>
                        <div class="col-sm-6">
                          <label for="individual_1_1_incorrect_feedback" class="label-name-list">Choice 1 Incorrect Feedback</label>
                          <textarea name="individual_1_1_incorrect_feedback" id="individual_1_1_incorrect_feedback" class="form-control text-wrap ckeditor"  rows="1"></textarea>
                        </div>

                      </div>
                      <div class="form-group">
                        <label for="individual_1_1_score" class="label-name-list">Choice 1 Score</label>
                        <input id="individual_1_1_score"  name="individual_1_1_score" type="text" class="form-control individual_score"/>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <button type="button" class="btn chice-drag">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn chice-delete chice-delete_1" onclick="incontext.deleteChoice(1, 1)">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </div>
              <div class="form-group choice-optionselect">
                <a class="" id="option_button_1_1" onclick="incontext.toggleOption(1, 1)">
                  <i class="fa fa-ellipsis-h" aria-hidden="true"></i> 
                  <span class="display-inline advance-option">Advanced Options</span>
                </a>
              </div>
            </div>
            <div class="choiceContainer ui-state-default choiceContainer_1" id="choiceContainer_1_2">
              <div class="well choice-well-section">
                <div id="ansChoice_1_2" class="">
                  <div class="ansChoiceQtn_inner">
                    <div class="form-group">
                      <label for="ansChoice_1_2" class="label-name-list">Choice 2</label>
                      <div class="input-group">
                        <span class="input-group-addon">
                          <input type="checkbox" id="assess_1_2_check" name="assess_1_2_check" class="assess_check">
                          <input type="radio" id="assess_1_2_radio" name="assess_1" class="assess_radio">
                        </span>
                        <textarea name="choices_1_2" id="choices_1_2" class="form-control requires ckeditor"  rows="1"></textarea>
                      </div>
                      <label class="error_show" style="display:none">Choice should not be blank</label>

                    </div>
                    <div class="" id="show_option_1_2" style="display:none">
                      <div class="form-group row feedback_area">
                        <div class="col-sm-6">
                          <label for="individual_1_2_feedback" class="label-name-list">Choice 2 Correct Feedback</label>
                          <textarea name="individual_1_2_feedback" id="individual_1_2_feedback" class="form-control ckeditor"  rows="1"></textarea>
                        </div>
                        <div class="col-sm-6">
                          <label for="individual_1_2_incorrect_feedback" class="label-name-list">Choice 2 Incorrect Feedback</label>
                          <textarea name="individual_1_2_incorrect_feedback" id="individual_1_2_incorrect_feedback" class="form-control ckeditor"  rows="1"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="individual_1_2_score" class="label-name-list">Choice 2 Score</label>
                        <input id="individual_1_2_score"  name="individual_1_2_score" type="text" class="form-control individual_score" />
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <button type="button" class="btn chice-drag">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn chice-delete chice-delete_1" onclick="incontext.deleteChoice(1, 2)">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </div>
              <div class="form-group choice-optionselect"><a class="" id="option_button_1_2" onclick="incontext.toggleOption(1, 2)"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> <span class="display-inline advance-option">Advanced Options</span></a></div>
            </div>
            <div class="choiceContainer ui-state-default choiceContainer_1" id="choiceContainer_1_3">
              <div class="well choice-well-section">
                <div id="ansChoice_1_3" class="">
                  <div class="ansChoiceQtn_inner">
                    <div class="form-group">
                      <label for="ansChoice_1_3" class="label-name-list">Choice 3</label>
                      <div class="input-group">
                        <span class="input-group-addon">
                          <input type="checkbox" id="assess_1_3_check" name="assess_1_3_check" class="assess_check">
                          <input type="radio" id="assess_1_3_radio" name="assess_1" class="assess_radio">
                        </span>
                        <textarea name="choices_1_3" id="choices_1_3" class="form-control requires text-wrap ckeditor"  row="1"></textarea>
                      </div>
                      <label class="error_show" style="display:none">Choice should not be blank</label>
                    </div>
                    <div class="" id="show_option_1_3" style="display:none">
                      <div class="form-group row feedback_area">
                        <div class="col-sm-6">
                          <label for="individual_1_3_feedback" class="label-name-list">Choice 3 Correct Feedback</label>
                          <textarea name="individual_1_3_feedback" id="individual_1_3_feedback" class="form-control  text-wrap ckeditor"  rows="1"></textarea>
                        </div>
                        <div class="col-sm-6">
                          <label for="individual_1_3_incorrect_feedback" class="label-name-list">Choice 3 Incorrect Feedback</label>
                          <textarea name="individual_1_3_incorrect_feedback" id="individual_1_3_incorrect_feedback" class="form-control text-wrap ckeditor"  rows="1"></textarea>
                        </div>

                      </div>

                      <div class="form-group">
                        <label for="individual_1_3_score" class="label-name-list">Choice 3 Score</label>
                        <input id="individual_1_3_score"  name="individual_1_3_score" type="text" class="form-control individual_score" />
                      </div>
                    </div>
                    <div class="clearfix"></div>

                  </div>

                  <button type="button" class="btn chice-drag"><i class="fa fa-bars" aria-hidden="true"></i></button><button type="button" class="btn chice-delete chice-delete_1" onclick="incontext.deleteChoice(1, 3)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>

                </div>
              </div>
              <div class="form-group choice-optionselect"><a class="" id="option_button_1_3" onclick="incontext.toggleOption(1, 3)"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> <span class="display-inline advance-option">Advanced Options</span></a></div>
            </div>
          </div>
        </div>
        <div class="appendData" style="padding-top: 10px">

        </div>
      </div>
    </div>
  </div>

</div>
<script src="templates/assessment/in-context/js/getSetContent.js" ></script>