.custom{
    &-control{
        &-label{
            @include font-size(14);

            &:hover,
            &:focus{
                &::after{
                    @include border-all(1px, solid, $darkest);
                }
            }

            &:before{
                @include bgcolor($white);
            }
            &::after{
                @include border-all(1px, solid, $darker);
                transition: background-color .5s;
            }
        }

        &-input{
            &:focus{
                &+label{
                    &::before{
                        animation: ripple .5s ease-out;
                    }
                }
            }

            &:checked{
                &~.custom{
                    &-control{
                        &-label{
                            &::after{
                                @include bgcolor($primary);
                                @include border-none(none);
                            }
                        }
                    }
                }
            }
        }
    }

    &-checkbox{
        .custom{
            &-control{
                &-label{
                    &:before{
                        @include border-radius(0);
                    }

                    &::before,
                    &::after{
                        @include top(0);
                    }
                }
            }
        }
    }
}

@keyframes ripple {
  0% {
      @include opacity(1);
      transform: scale(0, 0);
  }
  20% {
      @include opacity(.5);
      transform: scale(1, 1);
  }
  100% {
      @include opacity(0);
      transform: scale(2, 2);
    }
}

textarea{
    resize: none
}
.custom-control-input:checked~.custom-control-label::before{
    @include bgcolor($primary);
    border-color:$primary;
}

input[type="search"]{
    &::-webkit-search-cancel-button{
        @include display(none);
    }
}

input{
    &::-ms-clear{
        @include display(none);
    }
}

