<div [attr.aria-labelledby]="'accordionA-'+i+level" *ngFor="let item of treeData;let i = index;">
  <div class="card-body p-0">
    <section id="accordionA-{{ i }}{{ level }}">
      <section class="card">
        <div class="card-header active"
          [ngClass]="(item.id===selectedNodeId?'activated':(viewLocation ==='public_review' && (item.hasComment === undefined) && (allCommented===false)) ?'dim':'')"
          id="{{ i }}{{ level }}" [style.padding-left]="calculatePadding(level)">
          <!-- Parent Node START -->
          <div *ngIf="item && item.children && item.children.length>0" class="row tree--view__header">
            <div class="" [ngClass]="viewLocation==='project_auth'?'col-10':'col pl-0'">
              <ul class="list-inline"
                [ngClass]="isAllNode===false?'':item.is_editable===1?'':viewLocation !=='taxonomy_builder'? 'dim':''">
                <!-- when item.id-->
                <a class="float-left" [ngClass]="item.id+'-atag'" role="button" data-toggle="collapse"
                  [class.cursor-deny]="(viewLocation ==='public_review' && (item.hasComment === undefined) && (allCommented===false))"
                  *ngIf=" item.id" data-target="#{{ item.id }}-{{ level }}-{{ viewLocation }}"
                  href="#{{ item.id }}-{{ level }}-{{ viewLocation }}" aria-expanded="false" id="{{ item.id }}-atag"
                  [attr.aria-controls]="item.id+'-'+level+'-'+viewLocation">
                </a>
                <div class="card-link">
                  <li class="list-inline-item">

                    <h2 class="mb-0 font-bold node-text" [ngClass]="{'is-parent':item.parent}">
                      <a href="javascript:void(0)" (click)="onNodeSelected(item)"
                        [ngClass]="item.isCommented && viewLocation ==='public_review' && showNoComment? 'dim':''"
                        [class.cursor-deny]="(viewLocation ==='public_review' && (item.hasComment === undefined) && (allCommented===false))"
                        *ngIf="viewLocation !='taxonomy_builder'">{{ item.human_coding_scheme }}
                        <span>{{ item.full_statement | slice:0:charLimit }}</span>
                        <span *ngIf="item.full_statement?.length>charLimit">...</span>
                        <!-- <img *ngIf="item.hasComment" src="assets/images/comment.gif" class="img-responsive" alt="Comment" /> -->
                      </a>
                    </h2>
                  </li>
                </div>

                <li class="list-inline-item node-text float-left" (click)="onNodeSelected(item)"
                  *ngIf="viewLocation =='taxonomy_builder'">
                  {{ item.currentIndex }}
                  <span contenteditable="true" *ngIf="item.parent || item.is_document"
                    (blur)="blurDocumentTitle(item,$event);" (keyup)="onKeyUp($event);"
                    (keypress)="onKeyPress(item,$event,'document');" (focus)="onFocus(item);onNodeSelected(item)"
                    aria-multiline="false" role="textbox" aria-label="Document title" tabindex="0">{{ item.document_title ? item.document_title
                    : item.title }}</span>
                  <span contenteditable="true" class="human-code" id="{{ item.id }}-span"
                    *ngIf="!item.parent && !item.is_document" (blur)="blurHumanCodingScheme(item,$event);"
                    (keyup)="onKeyUp($event);" (keypress)="onKeyPress(item,$event,'humanCodeScheme');"
                    (focus)="onFocus(item);onNodeSelected(item)" aria-multiline="false" role="textbox"
                    aria-label="Human coding scheme" tabindex="0">{{
                    item.human_coding_scheme }} </span>
                  <span *ngIf="!item.parent" aria-hidden="true" class="float-left"> : &nbsp;</span>
                  <span contenteditable="true" class="full-statement" *ngIf="!item.parent && !item.is_document"
                    (blur)="blurFullStatement(item,$event);" (keyup)="onKeyUp($event);"
                    (keypress)="onKeyPress(item,$event,'fullStatement');" (focus)="onFocus(item);onNodeSelected(item)"
                    aria-multiline="false" aria-required="true" role="textbox" aria-label="statement" tabindex="0">{{
                    item.full_statement }} </span>

                  <span class="controls">
                    <!-- <img src="assets/images/edit.gif" *ngIf="item.parent" (click)="editNode(item)" data-toggle="modal" data-target="#edit-taxonomy"  alt="" title="" class="img-fluid ic-edit" /> -->
                    <button class="btn btn-icon tooltip top lg position-relative d-inline-block" data-tooltip="Add new node" id="{{ item.id }}-add" *ngIf="isAddNode && (level!==levelLimit || levelLimit===-1)"
                      (click)="addNode(item)" [attr.aria-label]="'Add new node'">
                      <em class="fas fa-plus"></em>
                    </button>
                    <button class="btn btn-icon tooltip top lg position-relative d-inline-block" data-tooltip="Delete node" *ngIf="isDeleteNode && !item.parent" (click)="deleteNode(item)" [attr.aria-label]="'Delete node'"><em
                        class="icon-ico-garbage"></em>
                    </button>
                  </span>
                </li>

                <li class="list-inline-item float-right" *ngIf="viewLocation =='taxonomy_builder'">
                  <span *ngIf="item.template_tiltle">{{ item.template_tiltle }}</span>
                  <span *ngIf="(item.parent || item.is_document) && !item.template_tiltle">Document</span>
                  <div class="dropdown" *ngIf="!item.template_tiltle && (!item.parent && !item.is_document)">
                    <button class="btn btn-clear select-node dropdown-toggle p-0" type="button"
                      id="selectTaxonomyNodeType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                      <span *ngIf="!item.metadataType">Select Type</span>
                      <span *ngIf="item.metadataType">{{ item.metadataType }}</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="selectTaxonomyNodeType">
                      <div class="dropdown-overflow">
                        <a href="javascript:void(0);" value="item.metadataType" *ngIf="item.metadataType"
                          class="dropdown-item">{{
                          item.metadataType }}</a>
                        <a href="javascript:void(0);" *ngFor="let type of nodetypeList" [attr.value]="type.title"
                          (click)="selectMetaData(item,type.title,type.node_type_id)"
                          class="dropdown-item">{{ type.title }}</a>
                      </div>
                    </div>
                  </div>

                </li>

              </ul>
            </div>

            <div class="col-auto text-right micro-data">

              <ul class="list-inline "
                *ngIf="(item.is_editable===1 && isAllNode===true) ||(isAllNode===false && item.is_editable===1)">

                <li *ngIf="item.isCommented" class="list-inline-item node-comment"><img src="assets/images/ic_msg.png"
                    alt="Node has comment" class="img-fluid ic-edit" aria-label="Node has comment" /></li>
                <li *ngIf="!item.isCommented && showNoComment && allCommented && item.is_document === 0"
                  class="list-inline-item node-warning"><img src="assets/images/ic_warning.png" alt="Node has issue"
                    class="img-fluid ic-edit" /></li>
                <li *ngIf="item.compStatus===0" class="list-inline-item node-completed"><img
                    src="assets/images/ic_complete.png" alt="Node completed" class="img-fluid ic-edit"
                    aria-label="Node compliant" /></li>
                <li *ngIf="item.compStatus===1" class="list-inline-item node-completed"><img
                    src="assets/images/ic_not_complete.png" alt="Node completed" class="img-fluid ic-edit"
                    aria-label="Node partially compliant" aria-label="Node partially compliant" /></li>
                <li *ngIf="item.compStatus===2" class="list-inline-item node-completed"><img
                    src="assets/images/ic_not_started.png" alt="Node completed" class="img-fluid ic-edit"
                    aria-label="Node not compliant" /></li>
                <li class="list-inline-item node-edit">
                  <img src="assets/images/edit.gif" alt="Edit Node" class="img-fluid ic-edit" aria-label="Edit Node" />
                </li>
                <li class="list-inline-item node-add" *ngIf="isAddNode">
                  <button type="button" class="btn btn-icon tooltip top lg position-relative d-inline-block" data-tooltip="Add node" (click)="addNode(item)" [attr.aria-label]="'Add node'">
                    <em class="fas fa-plus"></em>
                  </button>
                </li>
                <li class="list-inline-item node-del" *ngIf="isDeleteNode && !item.parent">
                  <button type="button" class="btn btn-icon tooltip top lg position-relative d-inline-block" data-tooltip="Delete node" (click)="deleteNode(item)" [attr.aria-label]="'Delete Node'">
                    <em class="icon-ico-garbage"></em>
                  </button>
                </li>
                <li class="list-inline-item node-created text-overflow text-uppercase">
                  <a class="cursor-pointer">
                    <small>project 1 has been created</small>
                  </a>
                </li>
                <li class="list-inline-item node-strand text-overflow text-uppercase">
                  <a class="cursor-pointer" target="_self">
                    <small>strand</small>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Parent Node END -->
          <!-- Leaf Node START-->
          <div *ngIf="item && item.children && item.children.length==0" class="card-body card-body--last"
            [ngClass]="isAllNode===false?'':item.is_editable===1?'':viewLocation !=='taxonomy_builder'? 'dim':''">
            <div class="row">
              <div [ngClass]="treeType==='treeview'?'col-md-8':viewLocation==='project_auth'?'col-12':'col-md-12 pl-0'">
                <ul class="list-inline mb-0">

                  <li class="list-inline-item">
                    <h3 class="mb-0 node-text" [ngClass]="{'is-parent':item.parent}">
                      <a href="javascript:void(0)" (click)="onNodeSelected(item)"
                        [ngClass]="item.isCommented && viewLocation ==='public_review' && showNoComment? 'dim':''"
                        [class.cursor-deny]="viewLocation ==='public_review' && (item.hasComment === undefined) && (allCommented===false)"
                        *ngIf="viewLocation !='taxonomy_builder'">{{ item.human_coding_scheme }} {{ item.full_statement
                        | slice:0:charLimit }}
                        <span *ngIf="item.full_statement?.length>charLimit">...</span>
                        <!-- <img *ngIf="item.hasComment" src="assets/images/comment.gif" class="img-responsive" alt="Comment" /> -->
                      </a>
                      <span class="tree--builder-doctitle" (click)="onNodeSelected(item)"
                        *ngIf="viewLocation =='taxonomy_builder'">
                        {{ item.currentIndex }}
                        <span contenteditable="true" *ngIf="item.parent || item.is_document"
                          (blur)="blurDocumentTitle(item,$event);" (keyup)="onKeyUp($event);"
                          (keypress)="onKeyPress(item,$event,'document');" (focus)="onFocus(item);onNodeSelected(item)"
                          aria-multiline="false" aria-label="Document title" tabindex="0" role="textbox">{{ item.document_title
                          }}
                        </span>
                        <span contenteditable="true" class="human-code" id="{{ item.id }}-span"
                          *ngIf="!item.parent && !item.is_document" (blur)="blurHumanCodingScheme(item,$event);"
                          (keyup)="onKeyUp($event);" (keypress)="onKeyPress(item,$event,'humanCodeScheme');"
                          (focus)="onFocus(item);onNodeSelected(item)" aria-multiline="false" role="textbox"
                          aria-label="Human coding scheme" tabindex="0">{{
                          item.human_coding_scheme }}</span>
                        <span *ngIf="!item.parent && !item.is_document" aria-hidden="true" class="float-left"> : &nbsp;
                        </span>
                        <span contenteditable="true" class="full-statement" *ngIf="!item.parent"
                          (blur)="blurFullStatement(item,$event);" (keyup)="onKeyUp($event);"
                          (keypress)="onKeyPress(item,$event,'fullStatement');"
                          (focus)="onFocus(item);onNodeSelected(item)" aria-multiline="false" role="textbox"
                          aria-label="statement" tabindex="0" aria-required="true">{{
                          item.full_statement }}</span>

                        <span class="controls">
                          <!-- <img src="assets/images/edit.gif" *ngIf="item.parent" (click)="editNode(item)" data-toggle="modal" data-target="#edit-taxonomy"  alt="" title="" class="img-fluid ic-edit" /> -->
                          <button class="btn btn-icon tooltip top lg position-relative d-inline-block" data-tooltip="Add node" id="{{ item.id }}-add" *ngIf="isAddNode && (level!==levelLimit || levelLimit===-1)"
                            (click)="addNode(item)" [attr.aria-label]="'Add Node'">
                            <em class="fas fa-plus"></em>
                          </button>
                          <button class="btn btn-icon tooltip top lg position-relative d-inline-block" data-tooltip="Delete node" *ngIf="isDeleteNode && !item.parent" (click)="deleteNode(item)" [attr.aria-label]="'Delete Node'"><em
                              class="icon-ico-garbage"></em></button>
                        </span>
                      </span>
                    </h3>
                    <!-- </a> -->
                  </li>


                  <li class="list-inline-item float-right" *ngIf="viewLocation =='taxonomy_builder'">
                    <!-- <select class="custom-select" (change)="selectMetaData(item,$event.target.value)">                                     
                        <option value="item.metadataType" *ngIf="!item.metadataType">Select Type</option>
                        <option value="item.metadataType" *ngIf="item.metadataType">{{ item.metadataType }}</option>                                                      
                        <option *ngFor="let type of nodetypeList" [value]="type.title">{{ type.title }}</option>                                
                    </select> -->
                    <span *ngIf="item.template_tiltle">{{ item.template_tiltle }}</span>
                    <span *ngIf="(item.parent || item.is_document) && !item.template_tiltle">Document</span>
                    <div class="dropdown" *ngIf="!item.template_tiltle && (!item.parent && !item.is_document)">
                      <button class="btn btn-clear select-node dropdown-toggle p-0" type="button"
                        (focus)="onNodeSelected(item)" id="selectTaxonomyNodeType" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span *ngIf="!item.metadataType">Select Type</span>
                        <span *ngIf="item.metadataType">{{ item.metadataType }}</span>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="selectTaxonomyNodeType">
                        <div class="dropdown-overflow">
                          <a href="javascript:void(0);" value="item.metadataType" *ngIf="item.metadataType"
                            class="dropdown-item">{{
                            item.metadataType }}</a>
                          <a href="javascript:void(0);" *ngFor="let type of nodetypeList" [attr.value]="type.title"
                            (click)="selectMetaData(item,type.title,type.node_type_id)"
                            class="dropdown-item">{{ type.title }}</a>
                        </div>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>

              <div class="text-right micro-data" [ngClass]="treeType==='treeview'?'col-md-4':'col-auto'">

                <ul class="list-inline "
                  *ngIf="  (item.is_editable===1 && isAllNode===true) ||(isAllNode===false && item.is_editable===1)">
                  <li *ngIf="item.isCommented" class="list-inline-item node-comment"><img src="assets/images/ic_msg.png"
                      alt="Node has comment" class="img-fluid ic-edit" aria-label="Node has comment" /></li>
                  <li *ngIf="!item.isCommented && showNoComment && allCommented && item.is_document === 0"
                    class="list-inline-item node-warning"><img src="assets/images/ic_warning.png"
                      class="img-fluid ic-edit" alt="Node has issue" /></li>
                  <li *ngIf="item.compStatus===0" class="list-inline-item node-completed"><img
                      src="assets/images/ic_complete.png" alt="Node compliant" class="img-fluid ic-edit"
                      aria-label="Node compliant" /></li>
                  <li *ngIf="item.compStatus===1" class="list-inline-item node-completed"><img
                      src="assets/images/ic_not_complete.png" alt="Node partially compliant" class="img-fluid ic-edit"
                      aria-label="Node partially compliant" /></li>
                  <li *ngIf="item.compStatus===2" class="list-inline-item node-completed"><img
                      src="assets/images/ic_not_started.png" alt="Node not compliant" class="img-fluid ic-edit"
                      aria-label="Node not compliant" /></li>
                  <li class="list-inline-item node-edit">
                    <img src="assets/images/edit.gif" alt="" title="" class="img-fluid ic-edit" />
                  </li>
                  <li class="list-inline-item node-add" *ngIf="isAddNode">
                    <button type="button" class="btn btn-clear p-0" (click)="addNode(item)">
                      <img src="assets/images/plus.gif" alt="Add node" title="" class="img-fluid ic-edit" />
                    </button>
                  </li>
                  <li class="list-inline-item node-del" *ngIf="isDeleteNode && !item.parent">
                    <button type="button" class="btn btn-clear p-0" (click)="deleteNode(item)" aria-label="Delete"><em
                        class="icon-ico-garbage"></em></button>
                  </li>
                  <li class="list-inline-item node-created text-overflow text-uppercase">
                    <a class="cursor-pointer">
                      <small>project 1 has been created</small>
                    </a>
                  </li>
                  <li class="list-inline-item node-strand text-overflow text-uppercase">
                    <a class="cursor-pointer" target="_self">
                      <small>cluster</small>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Leaf Node END -->
          <!-- </ng-container> -->
        </div>

        <!-- START   -->
        <div *ngIf="item && item.children && item.children.length>0" id="{{ item.id }}-{{ level }}-{{ viewLocation }}"
          class="collapse" [attr.aria-labelledby]="item.id+'-'+level+'-'+viewLocation"
          [attr.data-parent]="'#'+item.id+'-'+level+'-'+viewLocation">
          <app-project-tree-accordian [showNoComment]="showNoComment" [treeData]="item.children" [level]="level+1"
            [levelLimit]="levelLimit" [selectedNodeId]="selectedNodeId" [viewLocation]="viewLocation"
            [treeType]="treeType" [isAllNode]="isAllNode" (addNodeEvent)="addNodeEventFun($event)"
            (deleteNodeEvent)="deleteNodeEventFun($event)" [allCommented]="allCommented"
            (human_coding_scheme)="setHumanCodingSchemeEvent($event);" (full_statement)="setFullStatementEvent($event);"
            (metadataType)="setMetadataTypeEvent($event);" [isAddNode]="isAddNode" [isDeleteNode]="isDeleteNode"
            (document_title)="setDocumentTitleEvent($event);" (nodeTypeIdEvent)="setNodeTypeIdEvent($event);"
            [allNodeTypeList]="nodetypeList" [nodetypeList]="nodetypeList"></app-project-tree-accordian>
        </div>
        <div *ngIf="item && item.children && item.children.length==0" id="{{ item.id }}-{{ level }}-{{ viewLocation }}"
          class="collapse" aria-labelledby="item.id+'-'+level+'-'+viewLocation"
          data-parent="'#'+item.id+'-'+level+'-'+viewLocation"
          [ngClass]="isAllNode===false?'':item.is_editable===1?'':'dim'">
          <div class="card-body card-body--last">
            <div class="row">
              <div [ngClass]="treeType==='treeview'?'col-md-8':'col-md-12'">
                <ul class="list-inline">
                  <a class="cursor-pointer" role="button" name="node">
                    <li class="list-inline-item">
                      <h4 class="mb-0 node-text">
                        <a href="javascript:void(0)" (click)="onNodeSelected(item)">{{ item.human_coding_scheme }} {{ item.full_statement
                          | slice:0:charLimit }}
                          <span *ngIf="item.full_statement?.length>charLimit">...</span>
                        </a>

                      </h4>
                    </li>
                  </a>
                </ul>
              </div>
              <div class="col-auto text-right micro-data" [ngClass]="treeType==='treeview'?'col-md-8':'col-md-12'">
                <ul class="list-inline "
                  *ngIf=" (item.is_editable===1 && isAllNode===true) ||(isAllNode===false && item.is_editable===1)">
                  <li class="list-inline-item node-edit">
                    <img src="assets/images/edit.gif" alt="" title="" class="img-fluid ic-edit" />
                  </li>
                  <li class="list-inline-item node-add" *ngIf="isAddNode">
                    <a (click)="addNode(item)" href="javascript:void(0);" aria-label="Add node"><img
                        src="assets/images/plus.gif" alt="add node" class="img-fluid ic-edit" /></a>
                  </li>
                  <li class="list-inline-item node-del" *ngIf="isDeleteNode">
                    <a href="javascript:void(0);" (click)="deleteNode(item)" aria-label="delete node"><em
                        class="icon-ico-garbage"></em></a>
                  </li>
                  <li class="list-inline-item node-created text-overflow text-uppercase">
                    <a class="cursor-pointer">
                      <small>project 1 has been created</small>
                    </a>
                  </li>
                  <li class="list-inline-item node-strand text-overflow text-uppercase">
                    <a class="cursor-pointer" target="_self">
                      <small>cluster</small>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end of card body -->

        </div>
        <!-- END -->
      </section>
    </section>
  </div>
  <!-- end of card body -->



</div>
