@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.select{
    &-node{
        @include font-size(14);
        @include font-color($secondary);
        max-width: 190px;
    }
}
