<!-- Add User Modal Starts -->
<app-modal [modalId]="'add-user'" [modalContentId]="'userContent'" [showCloseAlert]="form?.controls?.userFArray['controls'][currentIndex]?.valid && !validEmail &&
  ((action === UPDATE_ACTION) ? true : !addedUser[currentIndex]?.isAdded)" [modalSize]="'small'" (closeEvent)="onCancel()"
  (mouseLeaveEvent)="mouseLeave()">
  <modal-div id ="{{(action === UPDATE_ACTION) ? ' editUl' : 'addUl'}}" class="title-text">
    {{ (action === UPDATE_ACTION) ? "Edit User" : "Add New User" }}
  </modal-div>

  <modal-div class="body-content">
    <p class="modal--info-txt font-bold" id="userContent">Invite your team so that you can collaborate faster and better.
    </p>
    <form [formGroup]="form">
      <p>Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are required.</p>
      <div formArrayName="userFArray">
        <div class="row mb-2" *ngFor="let user of addedUser; let userIndex=index" [formGroupName]="userIndex">
          <div class="form-group col-lg-5 my-0">
            <label for="emailAddress" class="font-bold" id="emailAddressLabel" *ngIf="userIndex===0">Email Address <span class="mandatory" aria-hidden="true">*</span></label>
            <input id="emailAddress" type="text" [(ngModel)]="user.email_id" class="form-control font-bold" formControlName="email" [attr.disabled]="user.user_id"
              (keyup)="checkValidEmail($event, userIndex)">
            <div class="error--txt" *ngIf="form.controls.userFArray['controls'][userIndex]?.controls['email'].touched &&
              (form.controls.userFArray['controls'][userIndex]?.controls['email'].errors || user.emailExistsErr)">
              <div *ngIf="form.controls.userFArray['controls'][userIndex].controls['email'].hasError('required')" role="alert">
                <p class="font-bold m-0">Email Address Required</p>
              </div>

              <div *ngIf="form.controls.userFArray['controls'][userIndex].controls['email'].errors?.email" role="alert">
                <p class="font-bold m-0">Invalid Email</p>
              </div>

              <div *ngIf="user.emailExistsErr === true" role="alert">
                <p class="font-bold m-0">Email Already Exists</p>
              </div>
            </div>
          </div>

          <div class="form-group col-lg-6 pr-0 my-0" *ngIf="action === ADD_ACTION">
            <app-auto-complete [listingObj]="user.roleList" (selectedObject)="selectRole($event?.role_id, userIndex)" [selectType]="selectType"
              [uniqueId]="uniqueId" [index]="userIndex" [propName]="'name'" [autoCompleteTitle]="autoCompleteTitle" [disabled]="user.isAdded"
              [isLableShow]="userIndex===0" #autoComplete (clickOutside)="onClickedOutside($event, userIndex)">
            </app-auto-complete>

          </div>

          <div class="form-group col-lg-6 pr-0 my-0" *ngIf="action === UPDATE_ACTION">

            <app-auto-complete [listingObj]="user.roleList" (selectedObject)="selectRole($event?.role_id, userIndex)" [defaultSelection]="system_role"
              [selectType]="selectType" [uniqueId]="uniqueId" [index]="userIndex" [propName]="'name'" [autoCompleteTitle]="autoCompleteTitle"
              #autoComplete (clickOutside)="onClickedOutside($event, userIndex)">
            </app-auto-complete>

          </div>

          <div class="col-lg-1 text-right" [ngClass]="{'pt-1': (userIndex!==0), 'user-row-delete': (userIndex===0)}" *ngIf="action === ADD_ACTION">
            <button [attr.aria-label]="'Delete user'" id="deleteulBtn" class="btn btn-icon tooltip top top-right position-relative" data-tooltip="Delete user"
              [disabled]="submitLoader" (click)="deleteUserForm(userIndex)" [disabled]="!form?.controls?.userFArray['controls'][currentIndex]?.valid || validEmail || submitLoader"><em class="icon-ico-garbage"></em></button>
          </div>
          <div class="col-lg-12 mt-2" *ngIf="addedUser.length-1!==userIndex">
            <hr class="w-100 my-0">
          </div>
        </div>
      </div>
      <div class="text-right user-row-add">
        <button class="btn btn-clear text-underline" id="adduserul" *ngIf="action === ADD_ACTION" type="button" [disabled]="!form?.controls?.userFArray['controls'][currentIndex]?.valid || validEmail || submitLoader"
          (click)="addLocation='another';addUserForm()">
          <em class="fa fa-spinner fa-spin" *ngIf="submitLoader && addLocation==='another'"></em>
          {{(submitLoader && addLocation==='another') ? 'Adding' : 'Add another user'}}
        </button>
      </div>
    </form>
  </modal-div>

  <modal-div class="footer-buttons">
    <button type="button" id="crtUl" class="btn btn-primary btn-sm" *ngIf="action === ADD_ACTION" [disabled]="(addedUser[currentIndex]?.isAdded ? true : (!form?.controls?.userFArray['controls'][currentIndex]?.valid || validEmail)) || submitLoader"
      (click)="addLocation='create';onCreateBtnClick()">
      <em class="fa fa-spinner fa-spin" *ngIf="submitLoader && addLocation==='create'"></em>
      {{(submitLoader && addLocation==='create') ? 'Creating' : 'Create'}}</button>
    <button type="button" class="btn btn-primary btn-sm" id="uptulBtn" data-dismiss="modal" (click)="onSubmit(currentIndex)" *ngIf="action === UPDATE_ACTION"
      [disabled]="!form.valid">Update</button>
  </modal-div>
</app-modal>
<!-- Add User Modal Ends -->

<section class="row align-items-center" role="tabpanel">
  <button id="addBtnUl
  " class="btn btn-primary btn-sm ml-3 mt-2" data-toggle="modal" data-target="#add-user" #myname (click)="onEditUser(null)"
    *ngIf="createUserButton">Add New User<span class="sr-only">Opens in a new dialog</span></button>

  <app-data-table class="w-100" *ngIf="userListButton" [showMenu]="true" [tableCategory]="'User-Table'" [columnList]="listOfColumn"
    [dataSet]="userList" [optionList]="optionList" [roleStatusButton]="roleStatusButton" [dropdownItems]="statusList " (clickedStatus)="changeStatus($event.val, $event.id)"
    (clickedOption)="onOptionClicked($event)"></app-data-table>

</section>