@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.user-row {
  &-add {
    @include padding(0 42px 0 0)
  }

  &-delete {
    @include padding-indv('top', 33px)
  }
}
