.ripple {
  @extend %position-absolute;
  @include border-radius(50%);
  @include opacity(1);
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, .4);
  transform: scale(0);
}
.rippleEffect {
  animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    @include opacity(0);
    transform: scale(2);
  }
}
