@import "abstracts/variables";
@import "abstracts/mixins";

// .preloader {
//   &-backdrop {
//     @include left(0);
//     @include top(0);
//     @include z-index(999);
//     background-color: transparentize($color: $lighter, $amount: .3);
//   }
// }

.collapse{
    min-height: 200px;
    max-height: 430px;
    overflow-y: auto;
}
