<!-- Edit Taxonomy title Modal to set as public review -->
<app-modal [modalId]="'setPubLicReview'" [showCloseAlert]="form.dirty" [modalSize]="'small'" (closeEvent)="onCancel()">
  <modal-div class="title-text" id="CreatePublicReviewtitl">
    Create Public Review
  </modal-div>

  <modal-div class="body-content">
    <div class="row">
      <div class="col-12 p-0">
        <p class="pl-3 pt-3">Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are
          required.</p>
        <form [formGroup]="form">
          <div class="form-group col-lg-12 col-sm-12">
            <label for="taxonomyTitle" class="font-bold" id="taxonomyTitleLabel">Name <span class="mandatory" aria-hidden="true">*</span></label>
            <input type="text" class="form-control font-bold" formControlName="name" [(ngModel)]="taxonomyTitle" id="taxonomyTitle">
            <p class="form-text text-muted text-right">Not visible to the Public. Something for your reference only.</p>
          </div>

          <div class="form-inline">
            <div class="form-group col-lg-12 col-sm-12">
              <p class="w-100 mb-0 font-bold">Duration<span class="mandatory" aria-hidden="true">*</span></p>

              <div class="custom-control custom-radio custom-control-inline">
                <input id="with_end_date" checked="" class="custom-control-input" name="selectedDateType" type="radio" value="with_end_date"
                  formControlName="selectedDateType" [(ngModel)]="selectedDateType" (click)="onToggleOption()">
                <label class="custom-control-label font-bold" id="with_end_dateLabel" for="with_end_date">With End Date</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input id="without_end_date" checked="" class="custom-control-input" name="selectedDateType" type="radio" value="without_end_date"
                  formControlName="selectedDateType" [(ngModel)]="selectedDateType" (click)="onToggleOption()">
                <label class="custom-control-label font-bold" id="without_end_dateBtn" for="without_end_date">Without End Date</label>
              </div>

              <div class="date-picker">

                <!-- new date-time range picker starts -->
                <label for="setDateRange" id="setDateRangeLabel" class="example-input-wrapper sr-only">select date</label>
                <input id="setDateRange" class="form-control font-bold" [placeholder]="selectedDateType === 'with_end_date' ? 'Select Start date and End date' : 'Select Start date'"
                  [style.width]="'350px'" formControlName="dateRange" [(ngModel)]="dateTimeRange" date-format="yMd" [selectMode]="selectedDateType === 'with_end_date' ? 'range' : 'single'"
                  [showSecondsTimer]="true" [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1" (dateTimeChange)="getVal($event)">
                <owl-date-time #dtRange1></owl-date-time>
                <!-- new date-time range picker ends -->

              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </modal-div>

  <modal-div class="footer-buttons">
    <button type="button" class="btn btn-primary btn-sm" id="setTaxonomyForPublicReviewBtn" [disabled]="taxonomyTitle?.trim().length===0 
      || (startDate==='' || startDate===null || startDate===undefined)" (click)="setTaxonomyForPublicReview()" data-dismiss="modal">Set
      For Public Review</button>
  </modal-div>
</app-modal>
<!-- Edit Taxonomy title Modal to set as public review -->