<ng-container *ngIf="searchTrigger===false">

  <!-- <div class="row" id="taxonomyProtip">
    <div class="col-12">
      <app-protip [type]="type" *ngIf="showProtip"></app-protip>
    </div>
  </div> -->
  <div class="w-100 h-100 position-absolute preloader-backdrop"
    *ngIf="(!taxonomyData && currentTreeTab ==='detailview') || (taxonomyData && isSearching && currentTreeTab ==='detailview') && !isFirstTime">
    <app-preloader *ngIf="(!taxonomyData && currentTreeTab ==='detailview') || (taxonomyData && isSearching)"
      [loaderText]="isSearching ? (isFirstTime ? 'Initializing Data...': 'Searching...') : 'Loading Taxonomy...'"
      class="w-100 position-fixed preloader-backdrop">
    </app-preloader>
  </div>
  <div class="taxonomies-container project-authoring position-relative">

    <app-tab [tabItems]="tabItems" (tabSelectedEvent)="onTabSelected($event)" [currentTab]="currentTab"
      [showVersionBtn]="showVersionBtn" (loadVersionSummaryEvent)="callCompareVersion()"></app-tab>
    <!-- end of project filter section  -->

    <div class="tab-container d-flex align-items-center justify-content-between pb-3 px-3"
      *ngIf="taxonomyData && currentTab==='taxonomy'">

      <div class="col-auto px-0">
        <!--*ngIf="currentTreeTab==='detailview' || selectedTable !== 'node_type_table'"-->
        <app-tree-search [intializeCondition]="isFirstTime && isSearching" #treeSearch
          *ngIf="currentTreeTab==='detailview' || selectedTable !== 'node_type_table'"
          [filterCriteriaList]="filterCriteriaList" [treeData]="taxonomyData" (searchEvent)="captureSearchEvent($event)"
          (loaderEvent)="setLoaderEvent($event)"></app-tree-search>
      </div>

      <!-- viewtype toggle button starts -->
      <div class="col-auto px-0 d-flex">

        <!-- <button class="btn btn-icon font-1x tooltip top lg font-1x position-relative" [attr.aria-label]="'Configure Table'" data-tooltip="Configure Table"
          type="button" aria-expanded="false" aria-haspopup="true" data-reference="parent" data-toggle="dropdown">
          <em class="fas fa-cog"></em>
        </button> -->

        <!-- table configuration button starts -->
        <div class="dropdown d-inline-block" *ngIf="currentTreeTab ==='tableview' && canConfigureTableView">
          <button class="btn btn-icon font-1x tooltip top font-1x position-relative mr-1" id="conftableBtn"
            [attr.aria-label]="'Configure Table'" data-tooltip="Configure Table" type="button" aria-expanded="false"
            aria-haspopup="true" data-reference="parent" data-toggle="dropdown">
            <em class="fas fa-cog"></em>
          </button>

          <!-- drop-down STARTS -->
          <div class="dropdown-menu dropdown-menu-right p-0">
            <div class="p-2 dropdown-menu-scrollable">
              <ng-container *ngFor="let table of tableViewList">
                <button type="button" class="btn btn-clear dropdown-item" id="{{table.name}}"
                  *ngIf="checkValidity(table)" (click)="loadTable(table.code_name, false,true)"
                  [ngClass]="{'active':table.isActive}">{{table.name}}
                  Table View
                </button>

              </ng-container>
            </div>

            <div class="p-2 border-top">
              <button type="button" class="btn btn-clear dropdown-item" id="tableConfigModalBtn" data-toggle="modal"
                data-target="#tableConfigModal" (click)="openConfigurationPage()">Configure
                Table
              </button>
            </div>
          </div>
          <!-- drop-down ENDS -->
        </div>
        <!-- table configuration button ends -->

        <!-- for the subscription toggle button -->
        <button type="button" class="btn btn-clear" id="settingBtn" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <em class="fas fa-cog"></em>
        </button>
        <div id="settingDropdown" class="dropdown-menu dropdown-menu-right dropdown-setting"
          aria-labelledby="settingButton">
          <div class="col-12 d-flex justify-content-between p-0">
            <div class="col-auto p-0">
              <p class="font-bold mb-0" id="description">Subscribe
                <span class="w-100 d-block mb-0 text-dimed">Receive version notification</span></p>
            </div>
            <div class="col-auto p-0">
              <div class="custom-control custom-switch d-flex">
                <input type="checkbox" class="custom-control-input" id="notificationToggle">
                <label class="custom-control-label" aria-labelledby="description" for="notificationToggle">Off</label>
              </div>
            </div>
          </div>
        </div>
        <!-- end of subscription toggle button -->

        <button *ngIf="importCsvPermission && canEdit" class="btn btn-icon tooltip top font-1x position-relative mr-1"
          id="importTaxonomyModalBtn" [attr.aria-label]="'Update Taxonomy'" data-tooltip="Update Taxonomy" type="button"
          data-toggle="modal" data-target="#importTaxonomyModal" (click)="onImportTaxoClick()"><span
            class="sr-only">Opens in a new dialog</span>
          <em class="fas fa-file-import"></em>
        </button>

        <button
          *ngIf="currentTab === 'taxonomy' && currentTreeTab ==='tableview' && selectedTable === 'node_type_table' && currentDataSet"
          class="btn btn-icon tooltip top mr-1" id="exportTableBtn" data-tooltip="Export Table" (click)="exportTable()"
          [aria-label]="'Export table'">
          <em class="fas fa-download"></em>
        </button>


        <app-tree-tab (treeTabSelectedEvent)="onTreeTabSelected($event)" (exportTaxonomy)="onExportTaxonomy($event)"
          [showExport]="showExportButton" [currentTreeTab]="currentTreeTab" [canPublicReview]="canPublicReview"
          [viewLocation]="'taxonomydetail'" [treeTabItems]="treeTabItems">
        </app-tree-tab>
      </div>
      <!-- viewtype toggle button ends -->
    </div>

    <ng-container *ngIf="currentTreeTab !=='tableview'">
      <div id="taxonomyDataContainer" class="col-12 p-0" *ngIf="taxonomyData" role="tabpanel"
        [hidden]="currentTab!=='taxonomy'">

        <div id="treeViewContainer" class="d-flex w-100 h-100" *ngIf="currentTreeTab!=='graphview'">
          <as-split direction="horizontal" style="height:auto;">
            <as-split-area size="50" [minSize]="LEFT_MIN_SIZE" [maxSize]="LEFT_MAX_SIZE">
              <section id="treeDetailsView" class="pr-0 treeDetailsView"
                [ngClass]="currentTreeTab==='treeview'?'col-12':''"
                [ngStyle]="{'width': currentTreeTab!=='treeview' ? '100%' : '100%'}">

                <div id="accordion" class="col-12 pl-0"
                  [ngClass]="currentTreeTab==='treeview'?'tree--view tree--view__zoom':'tree--details'"
                  [ngStyle]="{'padding-right': currentTreeTab==='detailview' ? '0' : '15px'}">
                  <div class="pl-3">
                    <app-tree #tree [treeNodes]="taxonomyData.children" [viewLocation]="'taxonomydetail'"
                      [showComplaince]="true" [searchText]="searchText" [searchResultList]="searchResultList"
                      [isFilterApplied]="isFilterApplied" [selectedNodeId]="selectedTaxonomyId" [isReset]="isReset">
                    </app-tree>
                    <!-- <acmt-tree #tree [treeNodes]="taxonomyData.children"
                      (treeNodeSelectedEvent)="treeNodeSelectedEvent($event)" [viewLocation]="'taxonomydetail'"
                      [showComplaince]="true">
                    </acmt-tree> -->
                    <!-- <acmt-tree #tree [treeNodes]="taxonomyData.children" [selectedNodeId]="selectedTaxonomyId" (treeNodeSelectedEvent)="treeNodeSelectedEvent($event)"
                      [viewLocation]="'taxonomydetail'" [showComplaince]="true">
                    </acmt-tree> -->
                  </div>

                </div>
              </section>
            </as-split-area>
            <as-split-area size="50">
              <section id="right_container_id" class="col-12 pt-3 bg-lighter preview-panel overflowY-auto"
                [hidden]="currentTreeTab==='treeview'">

                <app-item-details #itemDetailsComponent [showUserFriendlyPage]="showUserFriendlyPage"
                  [isEditable]="isEditable" [viewLocation]="viewLocation" [view]="view" [showNodeType]="true"
                  [taxonomyData]="taxonomyData" [treeTaxonomyData]="taxonomyData" [showAssociation]="showAssocciation"
                  [showAdditionalMetadata]="showAddMetadatas" [showExemplar]="showExemplar"
                  [showDocument]="showAssocciation" [addedAdditionalMetadata]="itemAdditionalMetadata"
                  [itemExemplars]="itemExemplars" [itemAssets]="itemAssets" [itemAssociations]="itemAssociations"
                  [itemLinkedNodes]="itemLinkedNodes" [canPreview]="false" [isAllNode]="true"
                  [showNavigation]="showNavigation" (nextClickEvent)="onNextNavigationClick($event)"
                  (previousClickEvent)="onPreviousNavigationClick($event)">
                </app-item-details>
              </section>
            </as-split-area>
          </as-split>
        </div>

        <section class="row w-100 h-100" [hidden]="currentTreeTab!=='graphview'">
          <div class="col-12 text-center" id="tree_graph_container"></div>
        </section>
      </div>
    </ng-container>
    <section *ngIf="currentTab==='reports'" role="tabpanel">
      <app-taxonomy-compliance-report class="w-100" [taxonomyId]="taxonomyId" [taxonomyData]="taxonomyData"
        (loadReportEvent)="loadCoverageReport($event)">
      </app-taxonomy-compliance-report>
    </section>

    <section *ngIf="currentTab==='public review'" role="tabpanel">
      <app-public-review #appPublicReview [publicReviewPermission]="canPublicReview" [taxonomyId]="taxonomyId"
        (showProtipEvent)="changeProtipDisplay($event)"></app-public-review>
    </section>

    <section *ngIf="currentTab==='export' || currentTab==='publish'" role="tabpanel">
      <app-preloader *ngIf="exportLoading && currentTab==='export'" [loaderText]="'Exporting Taxonomy'"
        class="w-100 position-fixed preloader-backdrop"></app-preloader>
      <app-export-publish [option]="'Taxonomy'" [exportPermission]="showExportButton"
        [isCustomView]="(taxonomyData.children[0].custom_view_visibility === 1)" [currentTab]="currentTab"
        (exportEvent)="onExportTaxonomy($event)" [publishPermission]="canPublishTaxonomy"
        [canUnpublishTaxonomy]="canUnpublishTaxonomy" [taxonomyTitle]="taxonomyTitle" [taxonomyId]="taxonomyId"
        [exportCSV]="import_type===1?false:true" [adoptionStatus]="adoptionStatus" [publishStatus]="publishStatus"
        [taxonomyData]="taxonomyData">
      </app-export-publish>
    </section>

    <section *ngIf="currentTab==='comments'" role="tabpanel">
      <div class="row justify-content-center mx-0">
        <div class="col-md-12 sidenav px-0">
          <app-comment-list [itemID]="taxonomyId" [itemType]=1 [viewLocation]="'taxonomy'"></app-comment-list>
        </div>
      </div>
    </section>
    <section *ngIf="showJasperReport" [hidden]="currentTab!=='jasper report'" role="tabpanel">
      <div #element></div>
    </section>

    <ng-container>
      <div class="px-3 my-2">
        <div class="w-100 h-100 position-absolute preloader-backdrop"
          *ngIf="(isLoading || isSearching) && currentTreeTab ==='tableview' && !isFirstTime">
          <app-preloader *ngIf="(isLoading || isSearching) && currentTreeTab ==='tableview'"
            [loaderText]="isLoading ? 'Loading Table...' : (isFirstTime ? 'Initializing Data...': 'Searching...')"
            class="w-100 position-fixed preloader-backdrop">
          </app-preloader>
        </div>

        <app-tabular-tree-view #tabularView [showUserFriendlyPage]="showUserFriendlyPage"
          [itemComplianceReports]="itemComplianceReports" [listOfClass]="listOfClass" [dynamicClass]="dynamicClass"
          [listOfColumn]="listOfColumn" [isAllNode]="true"
          [showView]="currentTreeTab ==='tableview' && currentTab==='taxonomy' && selectedTable !== 'node_type_table' && !isLoading"
          [searchText]="searchText" [searchResultList]="searchResultList" [isFilterApplied]="isFilterApplied"
          [isReset]="isReset">
        </app-tabular-tree-view>

        <app-node-type-table-view #nodeTypeTableView
          *ngIf="currentTab === 'taxonomy' && currentTreeTab ==='tableview' && selectedTable === 'node_type_table' && currentDataSet"
          [headerData]="currentDataSet.taxonomy_list_setting" [treeData]="taxonomyData" [isCompatible]="isCompatible">
        </app-node-type-table-view>
      </div>
    </ng-container>

  </div>

  <app-modal [modalId]="'editTaxonomy'" [showCloseAlert]="titleForm.dirty" [modalSize]="'small'"
    (closeEvent)="onCancel()">
    <modal-div class="title-text" id="edittaxonomytitle">
      Edit Taxonomy Title
    </modal-div>

    <modal-div class="body-content">
      <div class="row">
        <div class="col-12 p-0">
          <p class="mb-0 px-3">Field marked with an asterisk (
            <span class="mandatory" aria-hidden="true">*</span>) is required.
          </p>
          <form [formGroup]="titleForm">
            <div class="form-group col-lg-12 col-sm-12">

              <label for="taxonomyTitle" class="font-bold" id="taxotitleLabel">Taxonomy Title
                <span class="mandatory" aria-hidden="true">*</span>
              </label>
              <app-text-editor [showCancel]="false" [showUpdateBtn]="false" [updateBtnText]="'Update Text'"
                [fieldValue]="taxonomyTitleHtml ? taxonomyTitleHtml : taxonomyTitle"
                (updateFieldOnChange)="updateTitleFromEditor($event);">
              </app-text-editor>

              <p class="form-text text-muted text-right">Use a name that is easy to recognize.</p>
            </div>
          </form>
        </div>
      </div>
    </modal-div>

    <modal-div class="footer-buttons">
      <button type="button" class="btn btn-primary btn-sm" [disabled]="taxonomyTitle?.trim().length===0"
        (click)="editTaxonomyName()" data-dismiss="modal">Update</button>
    </modal-div>
  </app-modal>

  <app-set-public-review-modal [taxonomyTitle]="taxonomyTitle" (setTaxonomyEvent)="setTaxonomyForPublicReview($event)"
    (modalCancelEvent)="onCancel()"></app-set-public-review-modal>


</ng-container>

<app-search-listing *ngIf="searchTrigger" [searchResult]="searchResult">
</app-search-listing>

<!-- table configuration modal STARTS -->
<app-modal [modalId]="'tableConfigModal'" [modalSize]="'big'" (closeEvent)="cancelChanges()">
  <modal-div class="title-text" id="configtabeltitle">
    Configure Table
  </modal-div>

  <modal-div class="body-content">
    <app-table-configuration #configTableRef [currentData]="currentDataSet" [location]="'detail'"
      [defaultColumnListData]="defaultColumnList" [additionalColumnList]="additionalColumnList"
      [canSetDefaultForAll]="canSetDefaultForAll" [defaultNodeTypeListData]="defaultNodeTypelist"
      [dropdownData]="dropdownData" [emitAddColEvent]="false" [currentTreeTab]="configureTab" [text]="'taxonomy'"
      (savetableColEvent)="updateListView($event)" (toggleColumnViewEvent)="toggleColumnView($event)"
      (enableSaveEvent)="checkSaveValidation($event)">
    </app-table-configuration>
  </modal-div>

  <modal-div class="footer-buttons">
    <button type="button" class="btn btn-primary btn-sm" id="saveBtntd" data-dismiss="modal" (click)="saveChanges()"
      [disabled]="!enableButton">Save</button>
  </modal-div>
</app-modal>
<!-- table configuration modal ENDS -->

<!-- Taxonomy Version Display Modal STARTS -->
<app-modal [modalId]="'versionModal'" [modalSize]="'big'" (closeEvent)="cancelChanges()">
  <modal-div class="title-text" id="configtabeltitle">
    <span class="d-block w-100 font-4x">
      {{taxonomyTitle}}
    </span>
  </modal-div>
  <modal-div class="body-content">
    <app-preloader *ngIf="showLoader" [loaderText]="'Getting comparison data . . .'"
      class="w-100 position-fixed preloader-backdrop"></app-preloader>
    <!-- <app-taxonomy-version *ngIf="!showLoader && comparisonId" [comparisonId]="comparisonId">
    </app-taxonomy-version> -->
    <taxonomy-version *ngIf="!showLoader && comparisonId" [comparisonId]="comparisonId" [domain]="'acmt-dev'">
    </taxonomy-version>
  </modal-div>
  <modal-div class=" footer-buttons">
    <button type="button" class="btn btn-primary btn-sm" id="saveBtntd" data-dismiss="modal"
      (click)="saveChanges()">Update</button>
  </modal-div>
</app-modal>
<!-- Taxonomy Version Display Modal ENDS -->

<!-- Import Taxonomy modal start -->
<app-taxonomy-csv-import-modal [documentId]="selectedTaxonomySourceId" (modalClosedEvent)="onImportModalClose()">
</app-taxonomy-csv-import-modal>
<!-- Import Taxonomy modal end -->
