﻿.drop-container{
    position: relative;
}

.drag-container{
    width:100%;
    height: 100%;
}

.drop-box{
  min-width: 130px;
  min-height:35px;
  display:inline-block;
  box-sizing : border-box;
  margin: 0;
  float: left;     border:2px dashed #ddd;
    border-radius: 4px;
}

[data-draggable]{
  display:inline-block;
  box-sizing : border-box;     margin: 3px 3px;     position:relative;
}

.drag-class{
    background-color:#4485f5;
    border-color:#d9534f;
}

.drop-hover-class-1{
    background-color: #ffef8e;

}
.drop-hover-class-2{
    background-color: #96ff98;
}

.drag-disable{
    cursor:not-allowed;
}

.drop-class-1{
    background-color: #4485f5;
}
.drop-class-2{
    z-index: 1000;
    white-space: nowrap;
    border-radius: 4px;
    background-color: #4485f5;
    min-width: 130px;
    color: #fff;
	margin:2px;
	border:1px solid #4485f5;
}

.drag-container.ui-droppable .drop-class-2{    
    background-color:transparent;
}
li[ng-repeat="item in droppableItems"] { margin:3px;     display: inline-block !important;}
.ui-draggable-dragging.drag-class{border-radius:3px; }
.ui-draggable-dragging.drag-class .option.drag{background-color: #4485f5 !important;
    border-color: #4485f5;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.3); border-radius:3px;}
.incorrect .drop-class-2   { background-color:#ffe8e8;    border: 1px solid #ffd1d1; color: #d60808; }
.correct .drop-class-2   { background-color: #e7ffe8;    border: 1px solid #bbfabe;color:#388E3C;}