<section class="pb-3 mt-4" [ngClass]="[(viewWorkFlow && workflowStageList.length > 0) || createWorkflowFlag || (editWorkflow && showStages)?'workflow':'',(searchTriggered) ? 'workflow-search-enabled':'']">
  <ng-container *ngIf="(!searchEnabled) || searchEnabled && workflowStageListSearchResult && workflowStageListSearchResult.length > 0">
    <div class="workflow__start position-relative" *ngIf="createWorkflowFlag || (editWorkflow && showStages)">
      <p class="text-center mb-0  text-uppercase timeline-start font-0x">start</p>
    </div>

    <app-create-workflow #createWorkflow *ngIf="createWorkflowFlag" (showStagesStatus)="showStagesStatus($event);" (updateProtipStatus)="updateProtipStatus($event)"
      (createWorkflowStatus)="createWorkflowStatus($event);" #createWorkflow [roles]="roles" [createNewWorkflow]="createNewWorkflow"
      (setWorkflowId)="setWorkflowId($event);" [workflowIdInput]="workflow_id" (workflowStageList)="setWorkflowStageList($event)"
      [stages]="workflowStageList" (editWorkflowStatus)="editWorkflowStatus($event);" [workflowStepName]="stage_name" [workflowDesc]="workflow_desciption"
      [selectedRoles]="roleData" [editStage]="editStage" [workflow_stage_id]="workflow_stage_id"></app-create-workflow>

    <!-- When Edit Mode-->
    <ng-container *ngIf="editWorkflow && !editStage">
      <div class="add-step-button"><button class="btn btn-primary btn-sm" id="addStageW" (click)="createWorkflowFlag=true;faqTitle='add_steps_workflow' ; createNewWorkflow=false; editWorkflow=false;showProtip=false;resetWorkflowStage();">Add
          Stage
        </button></div>
      <div class="vl row position-relative">
        <div dragula="workFlowListContainer" *ngIf="!searchEnabled" class="col-7" [(dragulaModel)]="workflowStageList" (dragulaModelChange)=onNodeRearranged($event);>
          <div class="workflow__step col-md-12" *ngFor="let row of workflowStageList;let rowIndex=index">
            <div class="row drag">
              <img src="assets/images/move.gif" class="img-fluid handle" alt="Move" />
              <div class="col-10 role" id="{{'editstagew_'+rowIndex}}">
                <h2 class="workflow__step--title font-bold font-4x mb-1">Stage {{rowIndex + 1}}</h2>
                <p class="mb-0 font-bold">
                  {{row?.stage_name}}
                </p>
                <p class="mb-2" *ngIf="row.stage_description">{{row.stage_description}}</p>
                <p class="role__value mb-2" *ngIf="row.roles">{{getRolesName(row.roles)}}</p>
              </div>

              <div class="col-2 text-right">
                <div class="row align-items-center">
                  <div class="col align-self-end px-0">
                    <button class="btn btn-clear p-0 tooltip top sm position-relative font-1x d-inline-block" id="{{'editworkFlowBtn_' + rowIndex}}" data-tooltip="Edit" [attr.aria-label]="'Edit Workflow'"
                      data-target="#edit-workflow-modal" #editworkFlowBtn (click)="editWorkFlowPopUp(row,rowIndex + 1);createWorkflowFlag=true; createNewWorkflow=false;editStage = true">
                      <em class="fas fa-pen"></em>
                    </button>

                    <span class="more-option dropdown" *ngIf="row && row?.workflow_code !== 'WPR00'">
                      <button class="btn btn-clear p-0 tooltip top position-relative d-inline-block" id="{{'editworkFlowDrd_' + rowIndex}}" data-tooltip="Configure" [attr.aria-label]="'Configure'"
                        aria-expanded="false" aria-haspopup="true" data-reference="parent" data-toggle="dropdown">
                        <em class="icon-icon-more-horiz icon-rotate-90">
                          <span class="sr-only sr-only-focusable">more option</span>
                        </em>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <button class="btn btn-clear btn-sm dropdown-item" id="detStagew" (click)="deleteStage(row)">Delete</button>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="searchEnabled" class="col-7">
          <div class="workflow__step col-md-12" *ngFor="let row of workflowStageListSearchResult;let rowIndex=index">
            <div class="row drag">
              <img src="assets/images/move.gif" class="img-fluid handle" alt="Move" />
              <div class="col-10 role">
                <h2 class="workflow__step--title font-bold font-4x mb-1">Step {{row.order}}</h2>
                <p class="mb-0 font-bold">
                  {{row?.stage_name}}
                </p>
                <p class="mb-2" *ngIf="row.stage_description">{{row.stage_description}}</p>
                <p class="role__value mb-2" *ngIf="row.roles">{{getRolesName(row.roles)}}</p>
              </div>

              <div class="col-2 text-right">
                <div class="row align-items-center">
                  <div class="col align-self-end px-0">
                    <button class="btn btn-clear p-0 tooltip top sm position-relative font-1x d-inline-block" data-tooltip="Edit" [attr.aria-label]="'Edit Workflow'"
                      data-target="#edit-workflow-modal" id="editworkFlowbtn" #editworkFlowBtn (click)="editWorkFlowPopUp(row,rowIndex + 1);createWorkflowFlag=true; createNewWorkflow=false;editStage = true">
                      <em class="fas fa-pen"></em>
                    </button>

                    <span class="more-option dropdown" *ngIf="row && row?.workflow_code !== 'WPR00'">
                      <button class="btn btn-clear p-0 tooltip top position-relative d-inline-block" id="deleteStepsBtn" data-tooltip="Configure" [attr.aria-label]="'Configure'"
                        aria-expanded="false" aria-haspopup="true" data-reference="parent" data-toggle="dropdown" aria-level="deleteSteps">
                        <em class="icon-icon-more-horiz icon-rotate-90">
                          <span class="sr-only sr-only-focusable">more option</span>
                        </em>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <button class="btn btn-clear btn-sm dropdown-item" id="detBtnw" (click)="deleteStage(row)">Delete</button>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-8 workflow-edit-footer" *ngIf="showStages">
        <div class="row">
          <div class="col-12 text-right">
            <button type="button" class="btn btn-cancel btn-md" id="cnlBtnw" (click)="saveWorkflow()">Cancel</button>
            <button type="button" class="btn btn-primary btn-md save" id="saveBtnw" (click)="saveWorkflow()">Done</button>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- End Of Edit Mode -->
    <div class="workflow__finish position-relative" *ngIf="createWorkflowFlag || (editWorkflow && showStages)">
      <p class="text-center mb-0  text-uppercase timeline-finish font-0x">finish</p>
    </div>
    <div class="row">
      <div class="col-7">
        <app-view-workflow *ngIf="viewWorkFlow" [workflowStageList]="workflowStageList"></app-view-workflow>
      </div>
    </div>

  </ng-container>
</section>

<!--Edit Workflow Modal -->
<app-modal [modalId]="'edit-workflow-modal'" [modalContentId]="'editRoleContent'" [showCloseAlert]="form.controls['workflow_stage'].dirty || form.controls['workflow_desc'].dirty"
  [modalSize]="'small'" (closeEvent)="onCancel()" (mouseLeaveEvent)="mouseLeave()">
  <modal-div class="title-text" id="editstagetitle">
    Edit Stage
  </modal-div>

  <modal-div class="body-content">
    <h3 id="editRoleContent" class="workflow__step--title font-4x font-bold">Step {{index}}</h3>
    <div class="row" *ngIf="roleList">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="form-group">
            <label for="stage_name" class="font-bold">Step Name</label>
            <span class="mandatory" aria-hidden="true">*</span>
            <input id="stage_name" class="form-control font-bold" [(ngModel)]="stage_name" formControlName="workflow_stage" (ngModelChange)="checkValidation()"
            />
          </div>
          <div class="form-group">
            <label for="workflow_desc" class="font-bold">Description</label>
            <textarea id="workflow_desc" class="form-control font-bold" [(ngModel)]="workflow_desciption" formControlName="workflow_desc"
              (ngModelChange)="checkValidation()"></textarea>
          </div>
          <div class="form-group">
            <label for="workflow_role" class="font-bold">Role</label>
            <select id="workflow_role" name="workflow_role" [ngModel]="selectedRole" class="custom-select" (change)="selectRole($event.target.value);selectedRole=$event.target.value"
              formControlName="workflow_role">
              <option value="null">Select Role</option>
              <option *ngFor="let data of roleList" [disabled]="data?.isSelected" [value]="data.role_id">
                {{data?.name}}</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <p class="mb-0">Field marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) is required.</p>
    <div class="data-collection-list">
      <div class="row show-data" *ngFor="let data of roleData;let index=index">
        <div class="col-lg-11 col-sm-11 font-bold">
          {{data?.name}} </div>
        <div class="col-lg-1 col-sm-1 text-right">
          <button class="btn btn-icon tooltip top lg position-relative" data-tooltip="Delete added role" (click)="deleteRole(index,data)"
            [attr.aria-label]="'Delete added role'">
            <em class="icon-ico-garbage delete-item"></em>
          </button>
        </div>
      </div>
    </div>

  </modal-div>



  <modal-div class="footer-buttons">
    <button class="btn btn-primary btn-sm" data-dismiss="modal" type="button" (click)="onUpdate($event,index)" [disabled]="!formValidation">{{buttonTitle}}</button>
  </modal-div>
</app-modal>

<div class="d-flex align-items-center justify-content-center">
  <div class="col-sm-10 col-md-9 col-lg-7 push-top-5rem">
    <app-protip *ngIf="showProtip && !viewWorkFlow" [type]="type"></app-protip>
  </div>
</div>