@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.workflow {
    &__step {
        @include border-indv('bottom', 1px, solid, $light);
        @include padding-all(0, 10px, 15px, 60px);
        @include margin(0, 0, 20px, 30px);

        &:before {
            @extend %position-absolute;
            @include border-radius(50%);
            @include border-all(2px, solid, $primary);
            @include left(-15px);
            @include top(4px);
            @include bgcolor($white);
            content: '';
            width: 30px;
            height: 30px;
        }

        &:after {
            @extend %position-absolute;
            @include border-radius(50%);
            @include bgcolor($primary);
            @include left(-5px);
            @include top(14px);
            content: '';
            width: 10px;
            height: 10px;
        }

        &:last-child {
            @include border-none(none);
        }

        &--title {
            @include font-color ($black);
            line-height: 1.125rem;
        }
    }
}
