@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.workflow {
  @include padding-indv('left', 70px);

  &:before {
    @extend %position-absolute;
    @include top(70px);
    @include bottom(100px);
    @include left(99px);
    @include border-indv('left', 1px, solid, $dark);
    content: '';
    transform: translate(-50%);
  }

  &__start {
    @include margin-indv('bottom', 30px);
  }

  &__finish {
    @include margin-indv('top', 30px);
  }

  .add {
    &-step {
      &-button {
        @include position(relative);
        @include margin-indv('left', 75px);
        @include padding-indv('left', 60px);
        width: 58.33%;

        .btn {
          @include position(absolute);
          @include right(0);
          @include top(-55px);
        }
      }
    }
  }

  .drag {
    @include position(relative);
    @include padding-indv('top', 10px);
    @include margin-all(0 -10px 0 -10px);

    div[class^='col-'] {
      @include padding-indv('left', 10px);
      @include padding-indv('right', 10px);
    }

    &:hover {
      @include bgcolor($lighter);
    }

    .handle {
      @include position(absolute);
      @include left(-20px);
      @include top(16px);
    }
  }
  &-search-enabled{
    &:before{
      @include top(110px);
    }
  }
}
