@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.timeline {
    &-start,
    &-finish {
        @include font-color($white);
        @include bgcolor($darkest);
        @include margin-indv('left', -8px);
        @include padding-all(6px, 15px, 5px, 15px);
        @include border-radius(15px);
        @include z-index(1);
        width: 78px;
    }
}
