<div class="popup-boxes" ng-cloak>
    <form>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}}</div>
        <div class="inner-modal-content tab-contents">
            <div class="group inputfrom">      
                <input ng-model="pattern_title" name="pattern_title" type="text" class="form-control" id="" placeholder="Name" >
                <span class="highlight text-danger">{{formError['pattern_title']}}</span>
                <span class="bar"></span> 
                <label>Name of Pattern</label>
            </div>
           
            <div class="group inputfrom" ng-show="pattern_id==''">
                <label for="exampleInputEmail1">Project Type <span  class="required" ng-if="project_id == ''">*</span></label>         
                <select ng-model="project_type" name="project_type" ng-options="types.name for types in project_types track by types.id " class="form-control" >
                    <option value="">Select type</option>
                </select>
                <span class="highlight text-danger">{{formError['project_type_id']}}</span>
            </div>
            <div class="group inputfrom">      
                <textarea ng-model="pattern_content" name="pattern_content" type="text" class="form-control" id="" placeholder="Content"  rows="5" style="resize: vertical;"></textarea>
                <span class="highlight text-danger">{{formError['pattern_content']}}</span>
                <span class="bar"></span>
                <label>Define Pattern</label>
            </div>
            <div class="group inputfrom">  


                <div class="input-group" ng-repeat="pattern_class in pattern_classes track by $index">
                    <input type="text" class="form-control" ng-model="pattern_class.value" name="pattern_class" type="text" placeholder="Class">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="addClass()">Add</button>
                        <button type="button" class="btn btn-default" ng-click="removeClass($index)">Remove</button>
                    </div>
                </div>




            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">            
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button ng-hide="showedit" class="btn btn-primary" ng-click="add()">CONFIRM</button>
            <button ng-show="showedit" class="btn btn-primary" ng-click="edit()">CONFIRM</button>
        </div>
    </form>
</div>
