<div class="container product-inner" ng-controller="global_pattern" ng-cloak>
  <div class="content">
    <div class="from-container">
      <!--/*stucture modified for all pages*/-->
      <div class="from-container-row">
        <div class="alert alert-danger" ng-if="!user_permissions['global_pattern.show.all'].grant">
          <center>Sorry! Access Prohibited!</center>
        </div>
        <div ng-if="user_permissions['global_pattern.show.all'].grant" class="pattern-list-container">
          <div class="page-title">Pattern Management
              <div class="pull-right">  
                  <button type="button" class="btn btn-primary" ng-click="addPatternForm('')">Create New Pattern</button>
              </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>


          <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
            <thead>
              <tr>
                <th width="30%" style="cursor: pointer;" ng-click="applySorting('title')">Name <span ng-show="currentOrderByField == 'title'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th>
                <th width="20%" style="cursor: pointer" ng-click="applySorting('project_type_id')">Project Type<span ng-show="currentOrderByField == 'project_type_id'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>
                <th width="20%" style="cursor: pointer;text-align: center;" ng-click="applySorting('status')">Status<span ng-show="currentOrderByField == 'status'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>
                <th width="30%">Actions</th>                                         
              </tr>
            </thead>
            <tbody>
              <!--tr ng-repeat="pattern in patternList"-->
              <tr dir-paginate="pattern in patternList | itemsPerPage: itemsPerPage" total-items="totalPatterns" current-page="currentPage" pagination-id="patternListId">
                <td>{{pattern.title| strLimit:20}}</td>
                <td>
                  <span ng-if="pattern.project_type_id == 1">PXE</span>
                  <span ng-if="pattern.project_type_id == 4">EDUPUB</span>
                  <span ng-if="pattern.project_type_id == 5">ONLINE COURSE</span>
                </td>
                <td>
                  <!--                                                    <button type="button" class="btn btn-default2" ng-click="changeStatus(pattern.id, pattern.project_id)" ng-show="project.project_permissions['pattern.active.inactive'].grant" >Active - {{get_status_name(pattern.status)}}</button>-->
                  <div class="switch" ng-if="user_permissions['pattern.active.inactive'].grant">
                    <span class="switch-button-label build" ng-class="{'active': pattern.status == 1000}">Inactive</span>
                    <input id="cmn-toggle-pattern-{{$index + 1}}" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-click="changeStatus(pattern.id)" ng-checked="pattern.status == 1001">
                    <label class="switch-button-background" for="cmn-toggle-pattern-{{$index + 1}}"> </label>
                    <span class="switch-button-label test" ng-class="{'active': pattern.status == 1001}">Active</span>
                    <div class="clear"></div>
                  </div>
                  <div class="switch" style="text-align:center" ng-if="!user_permissions['pattern.active.inactive'].grant">
                    {{(pattern.status==1000) ? 'Inactive' : 'Active'}}
                  </div>
                </td>
                <td>
                  <button type="button" class="btn btn-default2" ng-click="viewPattern('lg', pattern.id)" ng-disabled="preview_button">Preview</button> 
                  <button type="button" class="btn btn-default2" ng-click="editPattern('lg', pattern.id)">Edit</button>
                  <button type="button" class="btn btn-default2" ng-click="deleteGlobalPattern(pattern.id, pattern.project_id)">Delete</button> 
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <!-- Pagination Starts Here -->
            <dir-pagination-controls class="dir_pagination"
                                     boundary-links="true" 
                                     pagination-id="patternListId" 
                                     on-page-change="pageChangeHandlerPattern(newPageNumber)" 
                                     template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
            </dir-pagination-controls>
            <!-- Pagination Starts End -->
            </td>
            </tr>
            <tr ng-show="totalPatterns == 0">
              <td colspan="4">
                <div class="alert alert-danger" role="alert"><center>No Pattern Found!!!!</center></div>  
              </td>
            </tr>
            </tbody>
          </table>
          <div class="clearfix"></div>
        </div>

      </div>
      <!--/*//////stucture modified for all pages*/--> 
    </div>

  </div>
</div>