<style>
  .ajax-content{
    width:100%;
    height:100%;
    position:absolute;
    /*display:none;*/
  }
</style>
<div class="ajax-content" ng-cloak>
  <div class="overlay" ng-click="toggleShowMenuClass()"></div>
  <div class="main_container" ng-controller="pattern">  
    <!--HEADER STARTS HERE-->
    <div ng-include src="'templates/header.html'" class="header-container"></div>
    <!--HEADER ENDS HERE-->
    <div class="content-wrap">
      <!--SECTION STARTS HERE-->

      <section class="wrapper">
        <div class="page-title">
          <div class="pull-right">  
            <!--button type="button" class="btn btn-default" ng-click="backToDashBoard(toc_creation_status, project_id);" ><i class="fa fa-chevron-left"></i>Back to Dashboard</button-->
            <back-to-dashboard ng-show="project.id" project="project"></back-to-dashboard>
            <button type="button" class="btn btn-primary" ng-click="addPatternForm('')" ng-show="project.project_permissions['pattern.create'].grant">Create New Pattern</button>
          </div>
          <div class="pull-middle"> 
            {{project_name}}
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="container product-inner">
          <div class="content">
            <div class="from-container">
              <!--/*stucture modified for all pages*/-->

              <div class="from-container-row" ng-show="project.project_permissions && !project.project_permissions['pattern.show.all'].grant && applyPermission">
                <div class="pattern-list-container">
                  <div class="alert alert-danger" role="alert"><center>Sorry! Access Prohibited!</center></div> 
                </div>
              </div>
              <div class="from-container-row" ng-show="project.project_permissions['pattern.show.all'].grant && applyPermission">
                <div class="pattern-list-container">

                  <div class="page-title">Pattern Management

                    <div class="filter-area filter-button-area pull-right">
                      <div class="btn-group pull-right" data-toggle="buttons">
                        <label class="btn btn-default asset-filter" ng-model="pattern_local_global.local" ng-change="apply_filter()" btn-checkbox>
                          Local
                        </label>
                        <label class="btn btn-default asset-filter" ng-model="pattern_local_global.global" ng-change="apply_filter()" btn-checkbox>
                          Global
                        </label>
                      </div> 
                      <input type="text" class="form-control search-frm search-matadata-area" ng-keyup="do_search()" placeholder="Enter search term" name="search_text" ng-model="search_text">
                      <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>


                  <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                    <thead>
                      <tr>
                        <th width="45%" style="cursor: pointer;" ng-click="applySorting('title')">Name <span ng-show="currentOrderByField == 'title'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th>
                        <th width="12%" style="cursor: pointer;text-align: center;" ng-click="applySorting('status')">Status<span ng-show="currentOrderByField == 'status'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>
                        <th width="43%">Actions</th>                                                
                      </tr>
                    </thead>
                    <tbody>
                      <!--tr ng-repeat="pattern in patternList"-->
                      <tr dir-paginate="pattern in patternList | itemsPerPage: itemsPerPage" total-items="totalPatterns" current-page="currentPage" pagination-id="patternListId">
                        <td>{{pattern.title| strLimit:20}} <span class="type-code" ng-show="pattern.global == 1">GLOBAL</span></td>
                        <td>
                          <!--                                                    <button type="button" class="btn btn-default2" ng-click="changeStatus(pattern.id, pattern.project_id)" ng-show="project.project_permissions['pattern.active.inactive'].grant" >Active - {{get_status_name(pattern.status)}}</button>-->
                          <div class="switch" ng-show="project.project_permissions['pattern.active.inactive'].grant">
                            <span class="switch-button-label build" ng-class="{'active': pattern.status == 1000}">Inactive</span>
                            <input id="cmn-toggle-{{$index + 1}}" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-click="changeStatus(pattern.id, pattern.project_id)" ng-checked="pattern.status == 1001">
                            <label class="switch-button-background" for="cmn-toggle-{{$index + 1}}"> </label>
                            <span class="switch-button-label test" ng-class="{'active': pattern.status == 1001}">Active</span>
                            <div class="clear"></div>
                          </div>
                          <div class="switch" style="text-align:center" ng-show="!project.project_permissions['pattern.active.inactive'].grant">
                            {{(pattern.status==1000) ? 'Inactive' : 'Active'}}
                          </div>

                        </td>
                        <td><button type="button" class="btn btn-default2" ng-click="editPattern('', pattern.id)" ng-show="project.project_permissions['pattern.update'].grant" ng-disabled="edit_button">Edit</button> 
                          <button type="button" class="btn btn-default2" ng-click="viewPattern('lg', pattern.id)" ng-disabled="preview_button">Preview</button> 
                          <button type="button" class="btn btn-default2" ng-click="deletePattern(pattern.id, pattern.project_id)" ng-show="project.project_permissions['pattern.destroy'].grant">Delete</button> 
                          <!--<button type="button" class="btn btn-default2" ng-click="deletePattern(pattern.id, pattern.project_id)" ng-show="pattern.global && user_permissions['pattern.delete_global'].grant">Delete</button>-->
                          <button type="button" class="btn btn-default2" ng-click="changeAccess(pattern.id)" ng-show="pattern.global == 0 && project.project_permissions['pattern.set_global'].grant">Make Global</button>
                        </td>


                      </tr>
                      <tr>
                        <td colspan="3">
                          <!-- Pagination Starts Here -->
                    <dir-pagination-controls class="dir_pagination"
                                             boundary-links="true" 
                                             pagination-id="patternListId" 
                                             on-page-change="pageChangeHandlerPattern(newPageNumber)" 
                                             template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                    </dir-pagination-controls>
                    <!-- Pagination Starts End -->
                    </td>
                    </tr>
                    <tr ng-show="totalPatterns == 0">
                      <td colspan="3">
                        <div class="alert alert-danger" role="alert"><center>No Pattern Found!!!!</center></div>  
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="clearfix"></div>
                </div>

              </div>
              <!--/*//////stucture modified for all pages*/--> 
            </div>

          </div>
        </div>
        <div class="clearfix"></div>
      </section>
      <!--SECTION ENDS HERE-->
    </div>
    <!--FOOTER STARTS HERE-->
    <!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
    <!--FOOTER ENDS HERE-->

  </div>
  <div class="clearfix"></div>
</div>