<div class="popup-boxes" ng-cloak>
    <form>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}}</div>
        <div class="inner-modal-content tab-contents">
            <div class="group inputfrom" style="word-wrap: break-word;">                  
                {{pattern_title}}:
            </div>
            <div class="group inputfrom"> 
<!--                <pre>{{pattern_content}}</pre>-->
                <pattern-frame body="pattern_content" theme="project_theme"></pattern-frame>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Define Pattern</label>
            </div>
        	<div class="clearfix"></div>
        </div>
        <div class="modal-footer">            
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
        </div>
    </form>
</div>