@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.table{
    thead{
        th{
            @include position(sticky);
            @include bgcolor($white);
            @include font-size(16);
            @include top(0);
            border: none;
            background-clip: padding-box;
            
            &:after{
                @include border-indv('bottom', 1px, solid, $dark);
                @include display(flex);
                content: '';
            }

            &:not(:last-child){
                @include border-indv('right', 1px, solid, $dark);
            }

            p{
                @include padding(5px);
            }
        }

        .header{
            &:before{
                @include border-indv('top', 1px, solid, $dark);
                @include display(flex);
                content: '';
            }

            &__sub{
                @include top(36px);
            }
        }
    }

    tbody{
        td{
            @include border-indv('bottom', 1px, solid, $dark);

            &:not(:last-child){
                @include border-indv('right', 1px, solid, $dark);
            }
        }

        .data{
            &:not(:last-child){
                @include border-indv('bottom', 1px, solid, $dark);
            }
        }
    }
}

virtual-scroller {
    width: 950px;
    height: 900px;
  }
   
  my-custom-component {
    display: block;
    width: 100%;
    height: 30px;
  }
