<div class="popup-boxes" ng-cloak>
    <form novalidate>
        <div class="modal-header header-m">
            Update Template
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">You are trying to update the template</div>
        <div class="inner-modal-content tab-contents">
            <div class="group inputfrom">  
                <input ng-model="title" name="title" type="text" class="form-control" id="" placeholder="Name" required >
                <span class="highlight text-danger">{{formError['title']}}</span>
                <span class="bar"></span> 
                <label>Template Name</label>
            </div>      
        </div>
        <div class="clearfix"></div>        
        <div class="modal-footer">            
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button class="btn btn-primary" ng-click="edit()">CONFIRM</button>
        </div>
    </form>
</div>