<div class="container product-inner" ng-controller="global_template">
    <div class="content">
        <div class="from-container" ng-cloak>
            <!--/*stucture modified for all pages*/-->
            <div class="from-container-row" ng-show="!user_permissions['global_template.show.all'].grant">
                    <div class="alert alert-danger" role="alert"><center>Sorry! Access Prohibited!</center></div> 
            </div>

            <div class="from-container-row" ng-show="user_permissions['global_template.show.all'].grant">
                <div class="pattern-list-container">
                    <div class="from-container">
                        <div class="page-title">Template Management
                            <div class="pull-right">  
                                <button type="button" class="btn btn-primary" ng-click="addGlobalTemplateForm('')" >Create New Template</button>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="45%" style="cursor: pointer;" ng-click="applySorting('title')">Name <span ng-show="currentOrderByField == 'title'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>
                                    <th width="12%" style="cursor: pointer;text-align: center;" ng-click="applySorting('status')">Status<span ng-show="currentOrderByField == 'status'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>
                                    <th width="43%">Actions</th>                                                
                                </tr>
                            </thead>
                            <tbody>
                                <!--tr ng-repeat="template in templateList"-->
                                <tr dir-paginate="template in templateList | itemsPerPage: itemsPerPage" total-items="totalTemplates" current-page="currentPage" pagination-id="templateListId">
                                    <td>
                                        <a href="javascript:void(0);" title="{{template.title}}">{{template.title| strLimit:300}}</a><span ng-if="template.isLicenseExpired" ng-click="licenseNotification();" style="cursor:pointer;padding-left: 5px;" title="license has expired"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red"></i></span>
                                    </td>
                                    <td>
                                        <div class="switch">
                                            <span class="switch-button-label build" ng-class="{'active': template.status == 1000}">Inactive</span>
                                            <input id="cmn-toggle-template-{{$index + 1}}" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-click="changeStatus(template.id, project_id)" ng-checked="template.status == 1001">
                                            <label class="switch-button-background" for="cmn-toggle-template-{{$index + 1}}"> </label>
                                            <span class="switch-button-label test" ng-class="{'active': template.status == 1001}">Active</span>
                                            <div class="clear"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default2" ng-show="template.is_default == 0" ng-click="goToTemplateEditor(template)" >Content</button>
                                        <button type="button" class="btn btn-default2" ng-click="viewTemplate('lg', template.id)" >Preview</button>
                                        <button type="button" class="btn btn-default2" ng-show="template.is_default == 0" ng-click="editGlobalTemplateForm('', template)" >Edit</button>
                                        <button type="button" class="btn btn-default2" ng-show="template.is_default == 0" ng-click="deleteGlobalTemplate(template.id, template.project_id)" >Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <!-- Pagination Starts Here -->
                            <dir-pagination-controls class="dir_pagination"
                                                     boundary-links="true" 
                                                     pagination-id="templateListId" 
                                                     on-page-change="pageChangeHandlerTemplate(newPageNumber)" 
                                                     template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                            </dir-pagination-controls>
                            <!-- Pagination Starts End -->
                            </td>
                            </tr>
                            <tr ng-show="totalTemplates == 0">
                                <td colspan="3">
                                    <div class="alert alert-danger" role="alert"><center>No Template Found!!!!</center></div>  
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <!--/*//////stucture modified for all pages*/--> 
    </div>

</div>
</div>