<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="template">  
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title">
                    <div class="pull-right">  
                        <!--button type="button" class="btn btn-default" ng-click="backToDashBoard(toc_creation_status, project_id);" ><i class="fa fa-chevron-left"></i>Back to Dashboard</button-->
                        <back-to-dashboard ng-if="project.id" project="project"></back-to-dashboard>
                        <button type="button" class="btn btn-primary" ng-click="addTemplateForm('')" ng-show="project.project_permissions['template.create'].grant">Create New Template</button>

                    </div>
                    <div class="pull-middle"> 
                        {{project_name}}
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">
                            <!--/*stucture modified for all pages*/-->

                            <div class="from-container-row" ng-show="project.project_permissions && !project.project_permissions['template.show.all'].grant">
                                <div class="pattern-list-container">
                                    <div class="alert alert-danger" role="alert"><center>Sorry! Access Prohibited!</center></div> 
                                </div>
                            </div>
                            
                            <div class="from-container-row" ng-show="project.project_permissions['template.show.all'].grant">
                                <div class="pattern-list-container">

                                    <div class="page-title">Template Management

                                        <div class="filter-area filter-button-area pull-right">
                                            <div class="btn-group pull-right" data-toggle="buttons">                                            
                                                <label class="btn btn-default asset-filter" ng-model="template_local_global.local" ng-change="apply_filter()" btn-checkbox>
                                                    Local
                                                </label>
                                                <label class="btn btn-default asset-filter" ng-model="template_local_global.global" ng-change="apply_filter()" btn-checkbox>
                                                    Global
                                                </label>
                                            </div>  
                                            <input type="text" class="form-control search-frm search-matadata-area" ng-keyup="do_search()" placeholder="Enter search term" name="search_text" ng-model="search_text">
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th width="45%" style="cursor: pointer;" ng-click="applySorting('title')">Name <span ng-show="currentOrderByField == 'title'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>
                                                <th width="12%" style="cursor: pointer;text-align: center;" ng-click="applySorting('status')">Status<span ng-show="currentOrderByField == 'status'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>
                                                <th width="43%">Actions</th>                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--tr ng-repeat="template in templateList"-->
                                            <tr dir-paginate="template in templateList | itemsPerPage: itemsPerPage" total-items="totalTemplates" current-page="currentPage" pagination-id="templateListId">
                                                <td>{{template.title| strLimit:60}} <span class="type-code" ng-show="template.global == 1">GLOBAL</span><span ng-if="template.isLicenseExpired" ng-click="licenseNotification();" style="cursor:pointer;    padding-left: 5px;" title="license has expired"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red"></i></span></td>
                                                <td>
                                                    <!--                                                    <button type="button" class="btn btn-default2" ng-click="changeStatus(template.id, template.project_id)" ng-show="project.project_permissions['template.active.inactive'].grant" >Active - {{get_status_name(template.status)}}</button>-->
                                                    <div class="switch" ng-show="project.project_permissions['template.active.inactive'].grant">
                                                        <span class="switch-button-label build" ng-class="{
                                                                'active'
                                                                : template.status == 1000}">Inactive</span>
                                                        <input id="cmn-toggle-{{$index + 1}}" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-click="changeStatus(template.id)" ng-checked="template.status == 1001">
                                                        <label class="switch-button-background" for="cmn-toggle-{{$index + 1}}"> </label>
                                                        <span class="switch-button-label test" ng-class="{
                                                                'active'
                                                                : template.status == 1001}">Active</span>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div ng-show="!project.project_permissions['template.active.inactive'].grant">
                                                        {{template.status=='1001'?'Active':'Inactive'}}
                                                    </div>

                                                </td>
                                                <td>
                                                    <!--button type="button" class="btn btn-default2" ng-click="gotoEditor(template.id)" ng-show="((template.global == 1 && template.created_by == user_id) || (template.global != 1)) && project.project_permissions['template.update'].grant">Content</button-->
                                                    
                                                    <button type="button" class="btn btn-default2" ng-click="gotoEditor(template.id)" ng-show="project.project_permissions['template.update'].grant && template.is_default != 1">Content</button>
                                                    <button type="button" class="btn btn-default2" ng-click="viewTemplate('lg', template.id)" >Preview</button> 
                                                    <button type="button" class="btn btn-default2" ng-click="editTemplate('', template.id)" ng-show="project.project_permissions['template.update'].grant && template.is_default != 1">Edit</button>                                                       
                                                    <button type="button" class="btn btn-default2" ng-click="changeAccess(template.id)" ng-show="template.global == 0 && project.project_permissions['template.set_global'].grant && template.is_default!=1">Make Global</button>
                                                    <button type="button" class="btn btn-default2" ng-click="deleteTemplate(template.id, template.project_id)" ng-show="( project.project_permissions['template.destroy'].grant && template.is_default!=1)">Delete</button>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <!-- Pagination Starts Here -->
                                        <dir-pagination-controls class="dir_pagination"
                                                                 boundary-links="true" 
                                                                 pagination-id="templateListId" 
                                                                 on-page-change="pageChangeHandlerTemplate(newPageNumber)" 
                                                                 template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                                        </dir-pagination-controls>
                                        <!-- Pagination Starts End -->
                                        </td>
                                        </tr>
                                        <tr ng-show="totalTemplates == 0">
                                            <td colspan="3">
                                                <div class="alert alert-danger" role="alert"><center>No Template Found!!!!</center></div>  
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                            <!--/*//////stucture modified for all pages*/--> 
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
        <!--FOOTER STARTS HERE-->
        <!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>