<div class="popup-boxes" ng-cloak>
    <form novalidate>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}}</div>
        <div class="inner-modal-content tab-contents">
        	<div class="group inputfrom">  
            <input ng-model="title" name="title" type="text" class="form-control" id="" placeholder="Name" required >
            <span class="highlight text-danger">{{formError['title']}}</span>
            <span class="bar"></span> 
            <label>Name of Template</label>
        </div>
        <div ng-hide="true" class="group inputfrom">      
            <textarea ng-model="template" name="template" type="text" class="form-control" id="" placeholder="Content" required rows="5"></textarea>
            <span class="highlight text-danger">{{formError['template']}}</span>
            <span class="bar"></span>
            <label>Define Template</label>
        </div>
<!--        <div class="group inputfrom">  
            <div class="row" ng-repeat="template_class in template_classes track by $index">
                <div class="col-md-4"><input ng-model="template_class.value" name="template_class" type="text" class="form-control" id="" placeholder="Class" ></div> 
                <div class="col-md-4"><button class="btn btn-default" ng-click="addClass()">Add</button> <button class="btn btn-default" ng-click="removeClass($index)">Remove</button>
                </div>
            </div>-->
                       
        </div>
        <div class="clearfix"></div>        
        <div class="modal-footer">            
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button ng-hide="showedit" class="btn btn-primary" ng-click="add()">CONFIRM</button>
            <button ng-show="showedit" class="btn btn-primary" ng-click="edit()">CONFIRM</button>
        </div>
    </form>
</div>