.post-comments-open {
	-webkit-transform: translate(-220px, 0);
	-ms-transform: translate(-220px, 0);
	transform: translate(-220px, 0)
}
.commentable-section {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 30px
}
.post-comment {
	/*padding-bottom: 20px*/
}
.post-comment .marker {
	width: 20px;
	height: 18px;
	background: #DEDEDC;
	border-radius: 2px;
	text-decoration: none
}
.post-comment .marker span, .post-comment .marker:before {
	content: "+";
	position: absolute;
	width: 20px;
	height: 18px;
	line-height: 16px;
	font-size: 14px;
	color: #FFF;
	text-align: center
}
.post-comment .marker span {
	line-height: 20px;
	font-size: 12px
}
.post-comment .marker:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -7px;
	left: 5px;
	width: 0;
	border-width: 7px 8px 0 0;
	border-style: solid;
	border-color: #DEDEDC transparent
}
.post-comment .marker:hover, .post-comment.active .marker {
	background: #880e4f
}
.post-comment .marker:hover:after, .post-comment.active .marker:after {
	border-color: #880e4f transparent
}
.post-comment .comments-wrapper {
	padding:0px 0px 0px 0px;
}
.post-comment.active .comments-wrapper {
	-webkit-animation: fadein .2s;
	animation: fadein .2s
}
.post-comment.has-comments .comments-wrapper {  overflow: auto;}

.post-comment .comment-form, .post-comment ul.comments li {
	border: 1px solid #f2f2f0;
	border-left: 0;
	border-right: 0;
	padding:10px 10px 5px;
	margin-top: -1px
}
.post-comment .comment, .post-comment .comment-box {
	font-size: 14px;
	line-height: 18px
}
.post-comment .author-avatar {
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 10px
}
.post-comment .author-avatar img {
	width: 100%;
	height: 100%
}
.post-comment .right-of-avatar {
	float: left;
	width:220px ; cursor:default;
}
.post-comment .author-name {
	font-size: 13px;
	line-height: 16px;
	margin: 0 0 2px;
	font-weight: 700;
	text-decoration: none;
	color: #222; width: auto;
}
.post-comment a.author-name:hover {
	color: #444
}
.post-comment .action-link {
	color: #B3B3B1;
	font-size: 13px;
	text-decoration: none
}
.post-comment .action-link:hover {
	text-decoration: none
}
.post-comment .action-link.post .post {
	color: #89C794
}
.post-comment .action-link.post .post:hover {
	color: #468c54
}
.post-comment .action-link.cancel:hover, .post-comment .action-link.delete:hover {
	color: #57AD68
}
.post-comment .add-comment {
	color: #673AB7;
	font-size: 14px;
	line-height: 22px;
	padding: 0 8px;
	letter-spacing: .05em;
	text-decoration: none;
	margin-top: 0px
}
.post-comment .add-comment:before {
	content: "+";
	border: 2px solid #673AB7;
	border-radius: 100px;
	width: 23px;
	height: 23px;
	color: #673AB7;
	display: block;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	float: left;
	margin-right: 15px;
	letter-spacing: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.post-comment .add-comment:hover {
	text-decoration: none;
	color: #880e4f
}
.post-comment .add-comment:hover:before {
	border-color: #880e4f;
	color: #880e4f
}
.post-comment .comment-box {
	outline: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0
}
.post-comment .actions a {
	float: left
}
.post-comment .actions .cancel:before {
	content: '\00B7';
	color: #B3B3B1;
	padding: 0 5px
}

@media (max-width:768px) {
.post-comments-open {
	-webkit-transform: translate(-220px, 0);
	-ms-transform: translate(-220px, 0);
	transform: translate(-220px, 0)
}
.post-comment .comments-wrapper {
	width: 200px
}
.post-comment .right-of-avatar {
	width: 158px
}
.post-comment .marker {
	display: block
}
}
@-webkit-keyframes fadein {
from {
opacity:0
}
to {
opacity:1
}
}
@keyframes fadein {
from {
opacity:0
}
to {
opacity:1
}
}
.commentable-section {
	position: relative
}
.commentable-section:hover .post-comment .marker {
	display: block
}
.post-comment {
	position: relative;
}
.post-comment * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.post-comment .hide {
	display: none
}
.post-comment .marker {
	display: none;
	position: absolute;
	top: 4px;
	left: 5px;
	cursor: pointer
}
.post-comment .marker span {
	display: none
}
.post-comment.active .marker, .post-comment.has-comments .marker, .post-comment.has-comments ul.comments {
	display: block
}
.post-comment .add-comment {
	display: none
}
.post-comment.has-comments .add-comment, .post-comment.no-current-user .add-comment {
	display: block
}
.post-comment.no-current-user .add-comment {
	margin-top: 20px
}
.post-comment.has-comments .marker:before {
	content: ""
}
.post-comment.has-comments .marker span {
	display: block
}
.post-comment.has-comments .add-comment.hide, .post-comment.has-comments .comment-form {
	display: none
}
.post-comment .comments-wrapper {
	
}
.post-comment .comments {
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
	width: 100%
}
.post-comment .comments li {
	width: 100%;
	overflow: hidden
}
.post-comment .actions, .post-comment .comment, .post-comment .comment-box {
	margin: 0 0 5px; color:#6d6d6d; font-size:13px;
}
.post-comment .actions, .post-comment .delete {
	margin-left: 42px
}
.post-comment .add-comment.active {
	display: block
}
.post-comment .comment-form {
	/*overflow: hidden; */
margin-top: 10px;
}
.post-comment .comment-form.active, .post-comment.active .comments-wrapper {
	display: block
}

@media (max-width:768px) {
body {
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden
}
}
