body{}
.active{background-color: #E6E6E6}

*.highlight{border: 1px dashed #BDBDBD;}

*.highlight::before{border: 1px dashed #BDBDBD;font-size: 10px;padding-left: 5px;padding-right: 5px;color: #000;}
*.highlight::after{border: 1px dashed #BDBDBD;font-size: 10px;padding-left: 5px;padding-right: 5px;color: #000;}
h1.highlight::before{content: "H1"; position: absolute; right: 0px;}
h2.highlight::before{content: "H2"; position: absolute; right: 0px;}
ul.highlight::before{content: "UL"; position: absolute; right: 0px; margin-top: -15px;}
li.highlight::before{content: "LI"; position: absolute; right: 0px;}
p.highlight::before{content: "P"; position: absolute; right: 0px;}
span.highlight::after{content: "SPAN"; position: relative; right: 0px; top: -4px;}
a.highlight::after{content: "A"; position: relative; right: 0px; top: -4px;}
.sortableactive, .sortablehover{border: 1px solid}