body{ background: #fff !important;}
.collapsibleList li{
  /*    list-style-image:url('button.png');
      cursor:auto;*/
  list-style: none;
}

/*li.collapsibleListOpen{
    list-style-image:url('button-open.png');
    cursor:pointer;
    list-style: none;
}

li.collapsibleListClosed{
    list-style-image:url('button-closed.png');
    cursor:pointer;
    list-style: none;
}*/

li.collapsibleListClosed > ul {
  display: none;
}
li.collapsibleListOpen > ul {
  display: block;
}
button.cont_area_box{
  height: 20px;
  width: 20px;
  border: 1px solid #FFF;
  position: relative;
  top: 4px;
  left: 3px;
  cursor: pointer;
}
.collapsibleList li.collapsibleListClosed>.btn.btn_arrow{background-image:url('button.png'); background-repeat:no-repeat; border:0; background-color:transparent; background-position:7px 2px;}
.collapsibleList li.collapsibleListOpen>.btn.btn_arrow{background-image:url('button-open.png'); background-repeat:no-repeat; border:0; background-color:transparent; background-position:7px 2px;}

/*Css for commenting on the preview page*/
.iframeContainer{float: left;text-align: center;}
.comment-container{display: inline-block; width: 20px; height: 15px;background-color: yellowgreen; cursor: pointer;}
.ticketRaised{background-color:rgb(255, 240, 212) !important;}
#newCom{position: absolute;right: 0;top: 0px;}
.commentBtn{position: absolute;right: 0;}
.highlight{background-color:rgba(0,0,0,0.25);cursor: pointer;}
.highlightClicked{background-color: rgba(255,255,0,0.20);}
#preview-frame{max-width: 100%;border:0;}
.right-comment{ width:330px; float:right; border-left: 1px solid #f6f6f6;}
body{ width:auto !important ;}
.issue-no{ background:#f6f6f6; padding:10px 10px 10px; /*-webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.2);
box-shadow:1px 1px 1px rgba(0,0,0,0.2);*/}
.post-comment .delete{ float:right; text-decoration:underline;   }
.post-comment .blocker {margin-left: 42px; background-color:#d95450; border-radius:4px; border:1px solid #d95450; color:#fff; font-size:10px; text-transform:uppercase; padding:1px 5px;  display:block;  float:left; line-height:normal; margin-bottom:0; font-weight: normal;}
.post-comment .open {margin-left:5px; background-color:#fff; border-radius:4px; border:1px solid #dddddd; color:#868686 !important; font-size:10px; text-transform:uppercase;padding:1px 5px;  display:block;  float:left; line-height:normal; margin-bottom:0; font-weight: normal;}

.readytotest{ float:left; font-size:11px; border:1px solid #ddd; color: #868686; width:100px;}
.readytotest1{ float:left;font-size:11px; border:1px solid #ddd; color: #868686 ; width:75px;margin-right: 5px;}
.readytotest2{ float:left;font-size:11px; border:1px solid #ddd; color: #868686 ; width:75px;}
.submit-action .post, .submit-action .cancel{margin-right:5px; background-color:#fff; border-radius:20px; border:1px solid #dddddd; color:#868686; font-size:13px; text-transform:uppercase;padding:3px 10px;}
.submit-action{  padding-top:5px;}
/*.submit-action .active, .submit-action a:hover{ color:#0e7cb2;}
.cancel:hover, .post:hover{color:#0e7cb2 !important;}*/
.comment-box.right-of-avatar{ width:100%; border:0px solid #ddd; border-radius:0;}
.post-comment .submit-action.actions .cancel:before{ content:initial;}


.side-comment.active .marker, .side-comment.has-comments .marker, .side-comment.has-comments ul.comments {
  display: block;
}
.side-comment .marker {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.side-comment .marker {
  width: 20px;
  height: 18px;
  background: #DEDEDC;
  border-radius: 2px;
  text-decoration: none;
}
#newCom{ background:url(../img/cmt-icon.png) no-repeat 0 0 ; padding: 0;width: 26px;height: 26px;border: 0;border-radius: 0;text-indent: -999em;cursor: pointer;}
/*#newCom:hover{background:url(../img/cmt-iconh.png) no-repeat 0 0 ;}*/
#newCom.active{background:url(../img/cmt-iconh.png) no-repeat 0 0 ;}
.commentBtn{ background:url(../img/cmt-icon2.png) no-repeat 0 0 ; padding: 0;width: 26px;height: 26px;border: 0;border-radius: 0; position: absolute;
             right: 0;top: 0;text-overflow:ellipsis; white-space:nowrap; overflow:hidden; padding-bottom: 4px; color:#fff; text-align:center; font-size: 12px;cursor: pointer;}
/*.commentBtn:hover{background:url(../img/cmt-iconh2.png) no-repeat 0 0 ;}*/
.commentBtn.active{background:url(../img/cmt-iconh2.png) no-repeat 0 0 ;}
.commentBtn #newCom{ background:url(../img/cmt-icon3.png) no-repeat 0 0 ; padding: 0;width: 26px;height: 26px;border: 0;border-radius: 0; position: absolute;
                     right: 0;top: 50%;margin-top: -13px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; padding-bottom: 4px; color:#fff; text-align:center; font-size: 12px;}
.hideBtn{display: none;}
.commentBtn #newCom:hover{background:url(../img/cmt-icon3h.png) no-repeat 0 0 ;}
.review-button{}
.review-button .btn{ left:0; top:0; color:#000;   padding:0;   border-left: 1px solid #ddd;  border-right: 1px solid #ddd; border-radius:0; border-top: 0;
                     border-bottom: 0;}
.review-button .btn:hover, .review-button .btn:active, .review-button .btn.active, .review-button .btn:focus{ background:none;  box-shadow:none; color:#aaa;}
.review-value{ padding:10px 35px 9px 50px; position:relative;}
.review-button .glyphicon{ font-size:26px; position:absolute; width:27px; height:27px; margin-top:-13.5px; left:12px; top:50%; color:#673AB7;}
.rv-t-1{text-transform: uppercase;  font-family: 'Roboto Condensed', sans-serif; color:#000; font-size:14px; line-height:16px;}
.rv-t-2{text-transform: none;  font-family: 'Roboto Condensed', sans-serif; color:#666; font-size:13px;}
.dropdown-menu .review-value{ padding:10px 15px 9px 50px; position:relative; border-bottom:1px solid #ddd; cursor:pointer; }
.dropdown-menu .review-value:hover{ background:#eee;  }
.review-button .dropdown-menu{ width:100%; border-radius:0; margin: 0 !important;  padding: 0;}
.dropdown-menu .review-value .rv-t-1{ color:#555; }
.review-button .dropdown-menu .glyphicon{ color:#aaa;}
.action-link.labl{ 
  /*margin-left: 42px;*/
  margin-right:4px;
  border-radius: 4px;

  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  padding: 1px 5px;
  display: inline-block;
  float: left;
  line-height: normal;
  margin-bottom: 0;
  font-weight: normal; vertical-align:middle;}




.high{  background-color: #d95450;   border: 1px solid #d95450;}
.medium{background-color: #337ab7; border:1px solid #337ab7;}
.low{background-color: #777; border:1px solid #777;}
.inputComment .comment-form{ margin:0;}
.post-comment ul.comments{overflow: auto;}
.issue-no p{ float:right;}
#saveStatus{position: fixed; width: 100%;z-index: 5;text-align: center;background-color: #5cb85c; color:#fff; border: 0; font-weight: normal;   padding: 18px; border-radius: 0; }
.post-comment ul.comments.issueCreated{ max-height: inherit; overflow: inherit; box-shadow: none;}
.post-comment .author-date {  font-size: 11px;  line-height: 16px;  margin: 0 0 2px;  font-weight: 400;  text-decoration: none;  color: #222; float: right; text-align: right; width: auto;}
.post-comment .author-date .glyphicon-time{ margin: 1px 5px 0 0;}
.post-comment .author-date .glyphicon-time:before{position: relative;  top: 1px; color:#673AB7;}
.comments-wrapper, .post-comment{ height:  calc(100% - 48px); overflow: auto;}
.inputComment {  padding: 10px 0; -webkit-box-shadow:1px -1px 3px rgba(0,0,0,0.3);box-shadow:1px -1px 3px rgba(0,0,0,0.3);}
.inputComment .comment-form{  border-top:0px solid #f2f2f0; padding-top: 0;}
.inputComment .add-comment:before {  top: -1px;  position: relative;}
.post-comment .comment-form, .post-comment ul.comments li:last-child{ border-bottom: 0;}
.hideBtn{display: none !important;}
.comment-loader{position: absolute;right: 0px;height: 100%;width: 330px;overflow: hidden;z-index: 99;}
.comment-loader::before {content: "Loading...";color: #000;font-size: 16px;line-height: 41;text-align: center;padding-left: 157px;}
.status {
  margin-left: 5px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dddddd;
  color: #868686 !important;
  font-size: 10px;
  text-transform: uppercase;
  padding: 1px 5px;
  display: block;
  float: left;
  line-height: normal;
  margin-bottom: 0;
  font-weight: normal;
}

.lm-col-left .toc-btn > button{
  background-color: #fff !important;
}

.contPreview{
  background-color: #fff !important;
}
.expandToc{
  background-color: rgba(255, 255, 255, 0) !important;
}