.left-pane-tree{
    background-color: #EFEFEF;
    overflow: auto;
}
.btn.btn-default {
    border: 1px solid #C5CED5;
    border-radius: 0px;
    padding: 6px 7px 0px;
    position: absolute;
    top:50%; width:34px; height:34px; right:5px; margin-top:-17px; border-radius:3px;
}
.glyphicon.glyphicon-trash{
    position: relative;
    top: -1px;
    width: 15px;
    height: 19px;
    cursor: pointer; border:0; box-shadow:none; background:none !important;
}
.placeholder {
    outline: 1px dashed #4183C4;
    /*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: -1px;*/
}

.mjs-nestedSortable-error {
    background: #fbe3e4;
    border-color: transparent;
}

ol {
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

ol.sortable, ol.sortable ol {
    margin: 0 0 0 25px;
    padding: 0;
    list-style-type: none;
}

ol.sortable {
    margin: 4em 0;
}

.sortable li {
    margin: 0px 0 0 0;
    padding: 0; position:relative;
}

.sortable li div  {
    
    padding: 6px;
    margin: 0;
    cursor: move;
    
}

.sortable li.mjs-nestedSortable-branch div {
     white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;

}

.sortable li.mjs-nestedSortable-leaf div {
}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
    border-color: #999;
    background: #fafafa;
}

.disclose {
    cursor: pointer;
    width: 10px;
    display: none;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
    display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
    display: inline-block;
}

.sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
    content: '';border-left:5px solid #000;  border-right:5px solid transparent; border-top:5px solid transparent; border-bottom:5px solid transparent; display:block;
}

.sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before {
    content: ''; border-left:5px solid transparent;  border-right:5px solid transparent; border-top:5px solid #000; border-bottom:5px solid transparent; display:block;
}
ol{
    margin-top: 0;
    margin-bottom: 1em;
}
.sortable li.mjs-nestedSortable-branch > div > .disclose span{ width:5px; height:5px; border-radius:50%; display:block; position:absolute; left:5px; top:50%; margin-top:-2.5px; background-color:#000;}
