.node {
    circle {
        @extend .cursor-pointer;
        stroke: $primary;
        stroke-width: 1.5px;
    }
    
    text {
        @include font-size(12);
        pointer-events: none;
        text-anchor: middle;
    }
}

line {
    &.link {
        fill: none;
        stroke: $secondary;
        stroke-width: 1.5px;
    }
}
