@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.dashboard {
    &__useractivity {
        &__graph {
            @include border-all(1px, solid, $dark);
            @include border-radius(5px);
            @include box-shadow(1px, 3px, 10px, -1px, rgba(0, 0, 0, .1));

            &-left {
                @include bgcolor($lighter);
                @include padding-all(10px, 15px, 5px, 15px);
                @include border-indv('bottom', 1px, solid, $dark);
                @include border-radius-top(5px);
                @include border-radius-right(5px);
            }

            &-filter {
                .btn{
                    @include font-color($secondary);

                    &.active {
                        @include font-color($darkest-xxx);
                    }
                }
            }
        }
    }
    &__stat {
        &--title {
            @include padding(0 18%);
            line-height: 1rem;

            @media screen and (max-width: $xxlarge) {
                @include padding(0 12%);
            }
            @include media( "screen", "<maxLarge"){
                @include padding(0 5%);
            }
        }
    }
    &__block {
        &--header {
            @include border-indv('bottom', 1px, solid, $darker);
        }

        &--body {
            &-list {
                .avatar{
                   @include avatar(40px, 40px, 10px);
                }
                .small{
                    @include font-size(11);
                    @include font-color($secondary);
                }
            }
        }
    }

    &__top-contributors{
        div[class^='col-']{
            line-height: 1rem;
        }
    }
}

.btn__all-project,
.name-card__info {
    @include font-color($secondary);
}
