<ng-container *ngIf="loading">
  <app-preloader class="w-100 position-fixed preloader-backdrop" loaderText="Loading Dashboard"></app-preloader>
</ng-container>

<section [hidden]="loading" class="dashboard__useractivity position-relative mt-4 px-3"
  aria-label="User Activity Details">
  <h2 class="h2 font-5x font-bold" id="useractivitytitle">User Activity</h2>
  <div class="dashboard__useractivity__graph my-4 px-3">
    <div class="row">
      <div class="col-md-12 dashboard__useractivity__graph-left">
        <div class="row">
          <div class="col-sm-7 col-lg-8">
            <ul class="dashboard__useractivity__graph-filter list-unstyled mb-0 pt-2" role="tablist">
              <li class="d-inline-block pl-1 pr-4" role="tab">
                <button class="btn btn-clear font-bold p-0" (click)="onTabSelected('Day')" id="dayBtn"
                  [ngClass]="{'active':currentTab==='Day'}" [attr.aria-selected]="currentTab==='Day'">Day</button>
              </li>

              <li class="d-inline-block pl-1 pr-4" role="tab">
                <button class="btn btn-clear font-bold p-0" (click)="onTabSelected('Week')" id="weekBtn"
                  [ngClass]="{'active':currentTab==='Week'}" [attr.aria-selected]="currentTab==='Week'">Week</button>
              </li>

              <li class="d-inline-block pl-1 pr-4" role="tab">
                <button class="btn btn-clear font-bold p-0" (click)="onTabSelected('Month')" id="month"
                  [ngClass]="{'active':currentTab==='Month'}" [attr.aria-selected]="currentTab==='Month'">Month</button>
              </li>
            </ul>
          </div>

          <div class="col-sm-5 col-lg-4 date-picker">
            <my-date-range-picker name="mydaterange" selDateRange="10-09-2018 - 10-19-2018"
              [options]="dateRangePickerOptions" [(ngModel)]="dateModel" (dateRangeChanged)="onDateRangeChanged($event)"
              required></my-date-range-picker>
            <div class="filter-range font-3x text-uppercase">
            </div>
          </div>
        </div>
      </div>
      <section class="col-md-12 p-4" aria-live="polite" aria-atomic="true">
        <h3 class="h3 font-3x font-bold">Activity</h3>
        <div id="chart_container" class="chart-container position-relative font-0x">
        </div>
      </section>
    </div>
  </div>
</section>

<div [hidden]="loading" class="row dashboard__stat text-center mb-4 px-3" aria-label="Project Activity Details">
  <div class="col total" aria-live="polite" aria-atomic="true">
    <p class="dashboard__stat--counter font-13x font-light mb-0 p-2">{{ projects_created }}
      <span class="font-2x d-block w-100 dashboard__stat--title mt-3 font-bold text-uppercase" id="projcreate">Projects
        Created</span>
    </p>
  </div>

  <div class="col total" aria-live="polite" aria-atomic="true">
    <p class="dashboard__stat--counter font-13x font-light mb-0 p-2">{{ projects_deleted }}
      <span class="font-2x d-block w-100 dashboard__stat--title mt-3 font-bold mb-0 text-uppercase"
        id="projdelete">Projects
        Deleted</span>
    </p>
  </div>

  <div class="col total" aria-live="polite" aria-atomic="true">
    <p class="dashboard__stat--counter font-13x font-light mb-0 p-2">{{ taxonomy_nodes_added }}
      <span class="font-2x d-block w-100 dashboard__stat--title mt-3 font-bold mb-0 text-uppercase"
        id="taxo-node-added">Taxonomy nodes
        added</span>
    </p>
  </div>

  <div class="col total" aria-live="polite" aria-atomic="true">
    <p class="dashboard__stat--counter font-13x font-light mb-0 p-2">{{ taxonomy_nodes_removed }}
      <span class="font-2x d-block w-100 dashboard__stat--title mt-3 font-bold mb-0 text-uppercase"
        id="taxo-node-delete">Taxonomy nodes
        removed</span>
    </p>
  </div>
</div>

<!-- Dashboard Statistic end -->
<div [hidden]="loading" class="row mb-3 mx-0">
  <div class="col-md-5">
    <div class="dashboard__top-contributors dashboard__block" aria-live="polite" aria-atomic="true" role="table">
      <div class="dashboard__block--header mb-2 pb-1">
        <section class="d-flex w-100 justify-content-between align-items-center">
          <div class="col p-0">
            <h2 class="font-4x font-bold mb-0" id="topContributer">Top Contributors</h2>
          </div>

          <div class="col p-0 text-right">
            <div class="btn-group">
              <button aria-expanded="false" aria-haspopup="true" id="selectedProjectBtn"
                class="btn btn-clear btn-sm font-1x font-bold dropdown-toggle p-0 btn__all-project"
                data-toggle="dropdown" type="button">{{selectedProjectName}}</button>

              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-overflow">
                  <button class="btn btn-clear font-2x dropdown-item" [disabled]="selectedProjectId==='All'"
                    id="selectProjectIdBtn" (click)="selectProjectId('All', 'All Projects')">All Projects</button>
                  <button class="btn btn-clear font-2x dropdown-item"
                    id="{{proList.project_name.split(' ').join('')}}Btn" *ngFor="let proList of projectsList"
                    [disabled]="selectedProjectId===proList.project_id"
                    (click)="selectProjectId(proList.project_id, proList.project_name)">{{ proList.project_name }}</button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="dashboard__block--body" aria-labelledby="topContributer" role="rowgroup">
        <div class="d-flex w-100 dashboard__block--body-list justify-content-start align-items-center font-bold py-2"
          *ngFor="let row of top_contributor_list; let i = index" role="row">
          <div class="col-sm-6 pl-0" id="rowdiv_{{i}}" role="cell">
            <p class="mb-0 text-truncate">{{ row?.user_display_name }}</p>
            <p class="name-card__info font-1x mb-0 text-truncate">{{ row.projects_display_name }}</p>
          </div>
          <div class="col-sm-4 align-self-start small p-0" role="cell">
            <p class="mb-0 text-truncate">Time spent: {{ row?.total_time_spent_in_minutes }} mins
            </p>
          </div>
          <div class="col-sm-2 align-self-start small p-0" role="cell">
            <p class="mb-0 text-truncate">{{ row.total_action_count }} actions</p>
          </div>
        </div>
        <div *ngIf="top_contributor_list.length === 0" role="cell">
          <p class="mb-0">No data found</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Top Contributers end-->
</div>
<div [hidden]="loading" class="dashboard__activity dashboard__block px-3" aria-live="polite" aria-atomic="true"
  role="table">
  <div class="dashboard__block--header  mb-2 pb-1">
    <div class="row justify-content-between align-items-center">
      <section class="col">
        <h2 class="font-4x font-bold mb-0" id="dashboardActivity">Activity</h2>
      </section>
      <div class="col text-right">
        <div class="btn-group">
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard__block--body" aria-labelledby="dashboardActivity" role="rowgroup">
    <ng-container *ngFor="let item of activityLog | slice:0:10; ">
      <div class="row dashboard__block--body-list justify-content-start align-items-center py-2"
        *ngIf="item.display_activity_text.length>0" role="row">
        <div class="col-sm-12 font-bold align-self-center" role="cell">
          <p class="mb-0">
            {{ item.display_activity_text }}
          </p>
        </div>
      </div>
    </ng-container>
    <div class="row dashboard__block--body-list justify-content-start align-items-center py-2" *ngIf="noactivityMsg"
      role="row">
      <div class="col-sm-12 align-self-center" role="cell">
        <p class="mb-0">No activities</p>
      </div>
    </div>
  </div>
</div>
