@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.login{
    -webkit-transition: transform .45s cubic-bezier(0, 0, .21, 1);
    transition: transform .45s cubic-bezier(0, 0, .21, 1);

    &--heading{
        @include padding-indv('bottom', 4rem);

        &__register {
            @include padding-indv('bottom', 3rem);
        }
    }

    h1{
        @include font-size(32);
        @include font-weight(300);
        @include margin-indv('top', -3px);
    }

    .btn{
        &__login {
            @include padding(3% 15%);
        }
    }

    p,
    a{
        @include font-color($darkest-xx);
    }
 
    hr{
        border-top-color: $dark;
    }

    &--btn-set{
        @include padding-indv('top', 1.5rem);
        @include padding-indv('bottom', 1.5rem);
    }
}

.preloader{
    &-backdrop{
        @include left(0);
    }
}
