/*

Version 4/10/13. See #25366.

Source Sans Pro v1.038
		 8 styles
*/

@font-face {
	font-family: "Source Sans Pro";
	src: local("SourceSansPro-Light"),
		 url("sourcesanspro-light-webfont.svg") format("svg"),
		 url("sourcesanspro-light-webfont.woff") format("woff"),
		 url("SourceSansPro-Light.otf") format("opentype");
	font-weight: 300;
}

@font-face {
	font-family: "Source Sans Pro";
	src: local("SourceSansPro-LightIt"),
		 url("sourcesanspro-lightit-webfont.svg") format("svg"),
		 url("sourcesanspro-lightit-webfont.woff") format("woff"),
		 url("SourceSansPro-LightIt.otf") format("opentype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Source Sans Pro";
	src: local("SourceSansPro-Regular"),
		 url("sourcesanspro-regular-webfont.svg") format("svg"),
		 url("sourcesanspro-regular-webfont.woff") format("woff"),
		 url("SourceSansPro-Regular.otf") format("opentype");
	font-weight: 400;
}

@font-face {
	font-family: "Source Sans Pro";
	src: local("SourceSansPro-It"),
		 url("sourcesanspro-it-webfont.svg") format("svg"),
		 url("sourcesanspro-it-webfont.woff") format("woff"),
		 url("SourceSansPro-It.otf") format("opentype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Source Sans Pro";
	src: local("SourceSansPro-Semibold"),
		 url("sourcesanspro-semibold-webfont.svg") format("svg"),
		 url("sourcesanspro-semibold-webfont.woff") format("woff"),
		 url("SourceSansPro-Semibold.otf") format("opentype");
	font-weight: 600;
}

@font-face {
	font-family: "Source Sans Pro";
	src: local("SourceSansPro-SemiboldIt"),
		 url("sourcesanspro-semiboldit-webfont.svg") format("svg"),
		 url("sourcesanspro-semiboldit-webfont.woff") format("woff"),
		 url("SourceSansPro-SemiboldIt.otf") format("opentype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Source Sans Pro";
	src: local("SourceSansPro-Bold"),
		 url("sourcesanspro-bold-webfont.svg") format("svg"),
		 url("sourcesanspro-bold-webfont.woff") format("woff"),
		 url("SourceSansPro-Bold.otf") format("opentype");
	font-weight: 700;
}

@font-face {
	font-family: "Source Sans Pro";
	src: local("SourceSansPro-BoldIt"),
		 url("sourcesanspro-boldit-webfont.svg") format("svg"),
		 url("sourcesanspro-boldit-webfont.woff") format("woff"),
		 url("SourceSansPro-BoldIt.otf") format("opentype");
	font-weight: 700;
	font-style: italic;
}
