<!DOCTYPE html>
<html lang="en" ng-app="TemplatesApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
    <meta http-equiv="pragma" content="no-cache">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <title>.:: ACMT ::.</title>
    <script src="js/lang/en/_lang.js"></script>
    <script src="js/rule.js"></script>



        <!-- Optional theme ->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="css/style.css" type="text/css">-->
    <!--link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,500italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Hind:400,500,300,600,700' rel='stylesheet' type='text/css'>-->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,500,300|Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic,600italic,700italic' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
     <!-- <link rel="stylesheet" href="css/font-awesome.min.css">    -->

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="bower_components/select2/select2.css">
        <link rel="stylesheet" href="angular-ivh-treeview-master/dist/ivh-treeview.css">
        <link rel="stylesheet" href="angular-ivh-treeview-master/dist/ivh-treeview-theme-basic.css">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet" type="text/css" />
    <!-- <link href="css/bootstrap-theme.css" rel="stylesheet"> -->
        <link href="css/loading-bar.css" rel="stylesheet">
        <link href="css/sweetalert2.css" rel="stylesheet" type="text/css" />
    <link href="css/sidecomment/side-comments.min.css" rel="stylesheet" type="text/css" />
    <link href="css/sidecomment/default-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="css/sidecomment/basics.css" rel="stylesheet" type="text/css" />
    <link href="css/acmt_style.css" rel="stylesheet">

    <!-- link href="css/jquery-ui.css" rel="stylesheet" -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="lib/jquery.min.js"></script>
    <script src="lib/jquery-ui.min.js"></script>
    <!--        <script src="http://ckeditor.com/apps/ckeditor/4.1/ckeditor.js"></script>-->
    <script src="bower_components/select2/select2.js"></script>



</head>

<body class="{{showMenuClass}} {{fullScreen}}" resize>

    <!-- <div class="menu-wrap" data-level="1">
        <nav class="menu">
            <h2>Add a diary entry</h2>
            <div class="content-edit" contenteditable="true"></div>
            <button class="default-button">Save entry</button>
        </nav>
        <button class="close-button" id="close-button-sub" ng-click="toggleShowMenuClass()">Close Menu</button>
    </div> -->
    <header class=" navbar-fixed-top acmt-header" ng-cloak>
            <div class="container-fluid" ng-controller="header">
                    <div class="acmt-logo col-md-1 col-sm-1"><a href="#/dashboard"><span> ACMT</span></a></div>
                    <nav class="col-md-9 col-sm-9 nav_links">
                            <a href="#/dashboard" class="active_nav">Projects</a>
                            <a href="#/taxonomies">Taxonomies</a>
                            <a class="disabled">Metadata</a>
                            <a class="disabled">Workflows</a>
                            <a href="#/settings">Administration</a>                   
                        </nav>
                        <div class="col-md-2 col-sm-2 header_right_section">
                                <div class="col-md-5 col-sm-5 notifications"><i class="fa fa-bell fa-lg"></i><!--<span class="notification_count">2</span>--></div>
                                <!-- <div class="admn-menu col-md-3">
                                    <a href="#/settings">Admin</a>
                                </div> -->
                                <div class="col-md-6 col-sm-7 username">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <span>Hi {{user_name| capitalize_first}}</span><span><i class="fa fa-sort-desc"></i></span>
                                    </div>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#/profile">My Profile</a></li>
                                            <li><a href="#/logout">Log Out</a></li>
                                        </ul>
                                </div>
                        </div>
            </div>
        </header>
    <div ng-view style="height:100%"></div>

    <script src="js/service-end-point.js"></script>

    <script src="lib/angular.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script src="js/bootstrap.min.js"></script>

    <script src="bower_components/angular-ui-select2/src/select2.js"></script>
    <script src="angular-ivh-treeview-master/dist/ivh-treeview.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.compat.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <!--for-nav js-->
    <script src="js/classie.js"></script>
    <!--		<script src="js/main2.js"></script>-->
    <!--/for-nav js-->
    <script src="lib/angular-route.js"></script>
    <script src="js/jquery.ui.touch-punch.js"></script>
    <!--script src="https://rawgithub.com/angular-ui/ui-sortable/angular1.2/src/sortable.js"></script-->
    <script src="lib/sortable.js"></script>
    <script src="lib/angular-dragdrop.min.js"></script>
    <script src="lib/checklist-model.js"></script>
    <script src="lib/xml2json.js"></script>
    <script src="lib/loading-bar.js"></script>

    <script src="lib/angular-sanitize.js"></script>

    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>


    <script src="js/common/utilityService.js"></script>
    <script src="js/common/objectService.js"></script>
    <script src="js/common/sessionService.js"></script>
    <script src="js/common/tokenService.js"></script>
    <!-- START Use in ACMT -->
    <script src="js/login/loginController.js"></script>
    <script src="js/login/loginService.js"></script>
    <script src="js/dashboard/dashboardController.js"></script>
    <script src="js/dashboard/dashboardService.js"></script>
    <script src="js/project/projectController.js"></script>
    <script src="js/project/projectService.js"></script>
    <script src="js/project/cfController.js"></script>
    <script src="js/project/cfService.js"></script>
    <script src="js/project/projectimportController.js"></script>
    <!-- End Use in ACMT -->

    <script src="js/project/pdfImportController.js"></script>
    <script src="js/project/pdfImportService.js"></script>

    <script src="js/toc/tocNodeRuleService.js"></script>
    <script src="js/toc/tocEditController.js"></script>
    <script src="js/toc/pxeController.js"></script>
    <script src="js/toc/edupubController.js"></script>
    <script src="js/toc/courseController.js"></script>
    <script src="js/toc/lmController.js"></script>
    <script src="js/toc/vcController.js"></script>
    <script src="js/toc/globalContentController.js"></script>
    <script src="js/toc/globalContentLOController.js"></script>

    <script src="js/project_preview/projectPreviewController.js"></script>

    <script src="js/asset/assetController.js"></script>
    <script src="js/asset/globalRepoController.js"></script>
    <script src="js/asset/globalAssetController.js"></script>
    <script src="js/asset/assetService.js"></script>
    <!-- script src="js/asset/taxonomyService.js"></script -->
    <script src="js/asset/assetPreviewController.js"></script>

    <script src="js/acl/aclController.js"></script>
    <script src="js/acl/aclService.js"></script>
    <script src="js/toc/tocService.js" type="text/javascript"></script>
    <script src="js/widget/widgetController.js"></script>
    <script src="js/widget/widgetService.js"></script>
    <script src="js/widget/testHarnessController.js"></script>
    <script src="js/toc/tocContentController.js" type="text/javascript"></script>
    <!--        <script src="js/toc/expressEditorController.js" type="text/javascript"></script>-->
    <script src="js/header/headerController.js" type="text/javascript"></script>
    <script src="js/settings.js" type="text/javascript"></script>

    <script src="js/user/userController.js"></script>
    <script src="js/user/userService.js"></script>
    <!--<script>
            jQuery(document).ready(function () {
                resizeContent();
            });
            jQuery(window).resize(function () {
                resizeContent();
            });

            function  resizeContent() {
                var iBody = jQuery("#contentPreviewiframe").contents().find("body");
                var windowHeight = jQuery(window).innerHeight(),
                        headerHeight = jQuery("#testPreviewModalHeader").outerHeight(),
                        frameHeight = windowHeight - headerHeight,
                        parentFrameHeight = frameHeight - parseInt(jQuery("#testPreviewModalContent").css("padding-top")),
                        childFrameHeight = parentFrameHeight - parseInt(iBody.find(".from-container-row").css("padding-top")) - parseInt(iBody.find(".from-container-row").css("padding-bottom")),
                        tocHeight = childFrameHeight - parseInt(iBody.find(".navigator").css("height"));
                jQuery("#contentPreviewiframe").css("height", parentFrameHeight);
                jQuery("#testPreviewModalContent").height(frameHeight);
                iBody.find(".toccontent-container-cont").height(childFrameHeight);
                iBody.find(".toccontent-container").height(tocHeight - 10);
                iBody.find("#content_preview_iframe3").attr("height", childFrameHeight);
                iBody.find(".product-inner").height(parentFrameHeight);
            }
        </script>-->



    <!-- Nested tree-->
    <script src="js/toc/jquery.mjs.nestedSortable.js"></script>
    <!-- Chunk Upload -->
    <script src="lib/ng-flow-standalone.js" type="text/javascript"></script>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="js/bootstrap-tabdrop.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.2.js"></script>
    <script src="lib/sweetalert2.min.js" type="text/javascript"></script>
    <script src="js/common/SweetAlert.js" type="text/javascript"></script>
    <script src="js/pattern/patternController.js" type="text/javascript"></script>
    <script src="js/pattern/patternService.js" type="text/javascript"></script>
    <script src="js/profile/profileController.js" type="text/javascript"></script>
    <script src="js/profile/profileService.js" type="text/javascript"></script>
    <script src="js/glossary/glossaryController.js" type="text/javascript"></script>
    <script src="js/glossary/glossaryService.js" type="text/javascript"></script>
    <script src="js/plugin/flowpluginController.js" type="text/javascript"></script>
    <script src="js/comment/commentController.js" type="text/javascript"></script>
    <script src="js/comment/globalCommentController.js" type="text/javascript"></script>
    <script src="js/comment/commentService.js" type="text/javascript"></script>
    <script src="js/activity_log/activityLogController.js" type="text/javascript"></script>
    <script src="js/activity_log/activityLogService.js" type="text/javascript"></script>

    <script src="js/taxonomy/taxonomyController.js"></script>
    <script src="js/taxonomy/taxonomyAuthController.js"></script>
    <script src="js/taxonomy/taxonomyService.js"></script>
    <script src="js/tag/tagController.js"></script>
    <script src="js/tag/tagService.js"></script>
    <script src="js/element/elementController.js"></script>
    <script src="js/element/elementService.js"></script>

    <!--This is for asset usage statistics-->
    <script src="js/project/assetUsageController.js"></script>
    <script src="js/project/assetUsageService.js"></script>
    <script src="js/project/assetUsageMoreController.js"></script>
    <!--This is for asset usage statistics-->
    <script src="js/assessment/assessmentController.js" type="text/javascript"></script>
    <script src="js/assessment/assessmentService.js" type="text/javascript"></script>
    <script src="js/assessment/assessmentQuestionController.js" type="text/javascript"></script>

    <script src="js/dataset/datasetController.js" type="text/javascript"></script>
    <script src="js/dataset/datasetService.js" type="text/javascript"></script>
    <script src="js/dataset/datasetRecordController.js" type="text/javascript"></script>

    <script src="js/imagepopup/imagepopupController.js" type="text/javascript"></script>
    <script src="js/imagepopup/imagepopupService.js" type="text/javascript"></script>



    <script src="js/linkcheck/linkcheckController.js" type="text/javascript"></script>
    <script src="js/linkcheck/linkcheckService.js" type="text/javascript"></script>
    <!--<script src="simple_editor/js/lib/ckeditor.js"></script>-->

    <script src="lib/angular-utils-pagination/dirPagination.js"></script>

    <div class="modal fade bs-example-modal-lg get-media modalForProj" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header header-m ng-binding">

                </div>
                <div class="sub-title ng-binding"></div>
                <div class="modal-content-container"></div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal" ng-click="cancel()">CANCEL</button>
                    <button class="btn btn-primary cont">Continue</button>
                </div>
            </div>
        </div>
    </div>
    <script src="js/sidecomment/side-comments.min.js" type="text/javascript"></script>
    <script src="js/sidecomment/test_data.js" type="text/javascript"></script>
    <script src="lib/diff_match_patch.js" type="text/javascript"></script>
    <script src="js/compare/compareController.js" type="text/javascript"></script>
    <script src="js/compare/compareService.js" type="text/javascript"></script>
    <script src="js/template/templateController.js"></script>
    <script src="js/template/templateService.js"></script>
    <script src="js/key_value/keyValueController.js"></script>
    <script src="js/key_value/keyValueService.js"></script>
    <script src="js/activity_log/errorLogService.js" type="text/javascript"></script>
    <script src="js/activity_log/errorLogController.js" type="text/javascript"></script>
    <script src="js/search_replace/searchReplaceController.js" type="text/javascript"></script>
    <script src="js/metadata/metadata.js" type="text/javascript"></script>
    <script src="js/acmt_script.js" type="text/javascript"></script>
    <script>
        $(document).on('click', 'table#example th,.sortOption li', function () {
            headerText = $(this).text();
            $(".selectedAsset span").text(headerText);
            if ($("table#example span").hasClass("defaultSorted")) {
                $("span.defaultSorted").removeClass("glyphicon-arrow-down")
            }
        });
    </script>
    <script>            
                    $(document).ready(function(){
                       $('.nav_links a').click(function(){
                           $('.nav_links a').removeClass('active_nav');
                           $(this).addClass('active_nav');
                       });   
                           $('.dropdown-toggle').dropdown();
                   })
                   </script>

</body>

</html>