
img{ max-width:100%; height:auto;}
.clear{ padding:0; margin:0; height:0; line-height:0; width:0; clear:both;}
.sprite{ background:url(../img/sprite.png) no-repeat 0 0;}
.middle{ overflow:hidden !important;}
.left{ float:left !important;}
.right{ float:right !important;}
.left-navigation{ border:0; background:#1f2637; height:100%; overflow:hidden; float:left; box-shadow:inset -5px 0 20px rgba(0,0,0,0.4); width:85px; position:relative;}
.right-navigation{background:#1f2637; height:100%; float:right; width:287px; border:0; height: calc(100% - 0px);}
.logo-container{ width:100%; height:49px;  position:relative;  }
.logo{ width:44px; height:44px;  background-position:-3px -3px; position:absolute; margin-left:-22px; margin-top:-22px; left:50%; top:50%;  }

html, body{ height:100%; -webkit-tap-highlight-color: rgba(0,0,0,0);  -webkit-tap-highlight-color: transparent; }
.wrapper{ height:100%;}
.main-container{ height:100%;}
.content-wrapper{ height: calc(100% - 50px);}
/*.main-container{ margin-left:81px;}*/
.tools-nav{z-index: 1}
.menu-title{ font-size:10px; color:#4a4c54; text-transform:uppercase; text-align:center; padding:10px 0; border-top:#282f41 solid 1px; border-bottom:#141824 solid 1px; background:#181c29;}
.menu-block{ padding:12px 0; text-align:center; border-top:#282f41 solid 1px; border-bottom:#141824 solid 1px; font-size:10px; color:#4a4c54; text-transform:uppercase; text-align:center; cursor:pointer;}
.tab-name{ font-size:10px; line-height:16px; color:#a9aaae; margin:8px 0 0;}
.tab-icon{ height:32px; width:32px; margin:0 auto; border:2px solid #fff; padding:0; margin:0 auto !important; }
.header-container{ background:#fff; border-bottom:1px solid #d0dde3;   /*box-shadow: 0 1px 5px rgba(0,0,0,0.1);*/}
.template-title{ font-size:15px;color: #333333;font-weight: 300;padding: 13px 12px 10px;line-height: 30px; white-space: nowrap;text-overflow: ellipsis; z-index: -1;position:inherit !important; overflow:hidden;}
.template-title span{ color:#999999;}
.tools-toc{height: 49px;width: 49px;cursor: pointer;  position:relative; display:none;}
.tools-toc-icon{height: 49px;width: 49px;background-position: -350px -51px;cursor: pointer; position:relative; }

.tools-toc-icon.active, .tools-toc-icon:hover{background-position: -350px -1px;}
.switch{ width:auto;}
.switch-button-label.active, .switch-button-label:hover {color: #333333;}
.switch-button-label {color: #999999;}
.switch-button-label {float: left;font-size: 12px;cursor: pointer; padding:18px 8px; text-transform:uppercase;}
.switch-button-background {float: left;position: relative;background: #fff;border: 1px solid #ececec;margin:17px 1px;border-radius: 10px;cursor: pointer; height:16px; width:30px;}
.switch-button-button {position: absolute;left: -4px;top:-4px; height:25px; width:25px; background-position:-313px -14px; }
.switch-button-background.on{background: #0fa41d;border: 1px solid #fff;}

.tools-view-port{height: 49px;width: 49px;cursor: pointer; position:relative; }
.tools-view-icon{height: 49px;width: 49px;/*background-position: -250px -52px;*/ background-position: -250px -1px;cursor: pointer; position:relative; }
.tools-view-icon:hover{background-position: -250px -52px;}
.tools-view-port.active .tools-view-icon{background-position: -250px -1px;}
.tools-grid{height: 49px;width: 49px;background-position: -201px -51px;cursor: pointer; }

.tools-grid.active, .tools-grid:hover{background-position: -201px -1px;}

.tools-selectable{height: 49px;width: 49px;background-position: -151px -51px;cursor: pointer; }

.tools-selectable.active, .tools-selectable:hover{background-position: -151px -1px; }

.tools-redo{height: 49px;width: 49px;background-position:-102px -51px;cursor: pointer; }

.tools-redo.active, .tools-redo:hover{background-position:-102px -1px; }

.tools-undo{height: 49px;width: 49px;background-position:-51px -51px;cursor: pointer; }

.tools-save{cursor: pointer;position: relative; padding-top: 11px;margin-right: 5px;}

.tools-undo.active, .tools-undo:hover{background-position:-51px -1px; }

.tab-tools{ border-bottom:1px solid #353d51; background:#282f3f;   box-shadow:0 2px 5px rgba(0,0,0,0.4); position:relative;} 

.tabtools-settings{ width:72px; height:50px; cursor: pointer; background-position: -438px -52px; border-bottom:2px solid #282f3f !important; border:0; padding:0!important; margin:0!important;}

li.active .tabtools-settings, .nav-tabs li:hover .tabtools-settings, li:active .tabtools-settings{ background-position: -437px -0px; border-bottom:2px solid #15a4fa !important; background-color:transparent !important; border:0;}

.tabtools-write{ width:72px; height:50px; cursor: pointer; background-position:-39px -152px;  border-bottom:2px solid #282f3f !important; border:0; padding:0!important; margin:0!important;}

.tabtools-write:hover{ background-position:-39px -101px !important; border-bottom:2px solid #15a4fa !important; background-color:transparent !important; border:0;}
li.active .tabtools-write{ background-position:-38px -100px !important; border-bottom:2px solid #15a4fa !important; background-color:transparent !important; border:0;}


.tabtools-list{ width:72px; height:50px; cursor: pointer; background-position:-90px -151px; border-bottom:2px solid #282f3f !important; border:0 ; padding:0!important; margin:0!important;}

li:hover .tabtools-list{ background-position:-90px -100px; border-bottom:2px solid #15a4fa !important; background-color:transparent !important; border:0;}
li.active .tabtools-list{ background-position:-89px -99px; border-bottom:2px solid #15a4fa !important; background-color:transparent !important; border:0;}



.tabtools-folder{ width:71px; height:50px; cursor: pointer; background-position:-140px -151px; border-bottom:2px solid #282f3f !important; border:0 ; padding:0!important; margin:0!important;}

li:hover .tabtools-folder{ background-position:-140px -100px; border-bottom:2px solid #15a4fa !important; background-color:transparent !important; border:0;}
li.active .tabtools-folder{ background-position:-139px -99px; border-bottom:2px solid #15a4fa !important; background-color:transparent !important; border:0;}



.tab-container{ background:#1f2637; padding:12px 5px 10px 5px;}

.menu-listing{ padding:2px; background:#1a1f2d; margin-bottom:1px; }
.listing-title{ padding:8px 6px; color:#fff; font-size:12px;  text-transform:uppercase; position:relative; padding-right:30px; cursor:pointer;}
.listing-content{ border-top:1px solid #141824; display:none; color:#fff; font-size:12px; }
.listing-content-inner{ border-top:1px solid #212631; background:#252c3c; padding:8px; box-shadow:inset 0 2px 5px rgba(0,0,0,0.4); }
.content-block{ background:#303746; border:1px solid #1e2330; padding:4px;}

.block-set-close{ width:16px; height:18px; cursor:pointer; background-position:-267px -117px; float:left;  border-left:1px solid #0970cf; background-color:#0b86f7;  border-radius:0px 3px 3px 0px; float:left;}
.block-set-content{ font-size:12px; color:#fff; padding:3px 8px; background:#15a4fa; border-radius:3px 0 0 3px; float:left;}

.menu-listing.active .listing-content{ display:block;}

.menu-listing-arrow{ width:30px; height:30px; right:2px; top:50%; position:absolute; margin-top:-15px; background-position:-310px -161px; }
.listing-title.collapsed .menu-listing-arrow{/*background-position:-210px -161px; */background-position:-310px -111px;}

.wrapper .product_listing_page .panel-heading a.collapsed .plus {
    background-position: -188px -50px;
}

/*.menu-listing:hover */.menu-listing-arrow{background-position:-210px -161px;}
/*.menu-listing.active:hover .menu-listing-arrow{background-position:-210px -110px;}*/
.switch2{position:relative;}
.switch2 .switch-button-label {float: left;font-size: 12px;cursor: pointer; padding:18px 8px; text-transform:uppercase; position:relative;}
.switch2 .switch-button-background {float: left;position: relative;background: #525660;border: 1px solid #151925;margin:1px 1px;border-radius: 10px;cursor: pointer; height:8px; width:18px;}
.switch2 .switch-button-button {position: absolute;left: -8px;top: -7px; height:22px; width:25px; background-position:-363px -114px; }
.switch2 .switch-button-background.on{background: #0fa41d;border: 1px solid #fff;}
.switch2 .switch-button-background.on .switch-button-button{background-position:-363px -165px; }
.row-name{ width:70px; float:left;}
.select-option{ float:left; margin-right:10px;}
.radio-btn{float:left; width:16px; height:16px; margin-right:5px; background-position:-167px -365px; }
.option-name{ float:left;}
.row-name, .option-name{ color:#fff; font-size:12px; line-height:26px; text-align:left;}
.select-option.active .radio-btn{background-position:-167px -316px; }
.list-row{ margin-bottom:12px;}
.shorting-tools{ background:#1a1f2d; float:left; margin-left: 3px; position:relative;}
.shorting-input{ font-size:12px; background:#303746;  width:33px; height:28px; border:1px solid #1a1f2d; float:left; color:#fff; padding:4px; text-align:center; border-radius:0; box-shadow:none; box-sizing: border-box;}
.shorting-btn{ width:28px; height:28px; background-position:-412px -161px; border:0; cursor:row-resize;}
.shorting-btn.active, .shorting-btn:hover{background-position:-412px -110px;}

.shorting-panel .row-name{line-height: 28px; text-align: left;}
.Grid-panel .row-name{line-height: 22px; float:none; width:100%; margin-bottom:5px;}
.grid-panel-input{ border:1px solid #1e2330; background:#303746; border-radius:4px; padding:4px; float:left; color:#fff; text-align:center;  box-shadow:none; font-size:12px;   box-sizing: border-box; height:28px;}
.grid-btn{width:28px; height:28px; background-position:-461px -161px; border:0; float:left; cursor:col-resize;}

.grid-btn.active, .grid-btn:hover{background-position:-461px -110px;}

.slider_range_content { padding-bottom:30px;}
.slider-range {border-radius:5px;border: 0;margin: 0 ; background:#5c606c; border:1px solid #171c29; height:8px; position:relative;}
.slider-range-dis {background: #fcfcfc; height:8px; border-radius:5px; }
.slider-handle{position: absolute;left: -8px;top: -7px;height: 22px;width: 25px;background-position: -361px -114px; cursor:pointer;}
.devider-slider{ width:100%; position:absolute; left:0;}
.devider-slider-strick{ width:12%; height:4px; border-right:1px solid #5c606c; float:left; position:relative;}
.device-tools{ position:absolute; width:22px; height:22px; cursor:pointer; }
.device-tools.a{background-position:-65px -213px; top:3px;  right: -12px;}
.device-tools.b{background-position:-115px -213px; top:3px;  right: -12px;}
.device-tools.c{background-position:-165px -213px; top:3px;  right: -12px;}
.device-tools.d{background-position:-214px -213px; top:3px;  right: -12px;}
.device-tools.e{background-position:-265px -213px; top:3px;  right: -12px;}
.device-tools.f{background-position:-314px -213px; top:3px;  right: -12px;}
.device-tools.g{background-position:-365px -213px; top:3px;  right: -12px;}

.device-tools.a:hover, .device-tools.a.active{background-position:-65px -264px; }
.device-tools.b:hover, .device-tools.b.active{background-position:-115px -264px; }
.device-tools.c:hover, .device-tools.c.active{background-position:-165px -264px; }
.device-tools.d:hover, .device-tools.d.active{background-position:-214px -263px; }
.device-tools.e:hover, .device-tools.e.active{background-position:-265px -263px; }
.device-tools.f:hover, .device-tools.f.active{background-position:-314px -264px; }
.device-tools.g:hover, .device-tools.g.active{background-position:-365px -263px; }



.border-view-port{ border: 1px solid #676c77;border-top: 0;height: 4px;width: 21%;position: absolute;left:19%;top: 30px;}
.view-name-port{ background:#252c3c; width:15px; height:15px; font-size:8px; color:#fff; line-height:15px; position:absolute; left:50%; margin-left:-7.5px; margin-top:-3.5px; text-align:center;}
.border-view-port2{ border: 1px solid #676c77;border-top: 0;height: 4px;width: 21%;position: absolute;left: 43%;top: 30px;}
.border-view-port3{ border: 1px solid #676c77;border-top: 0;height: 4px;width: 21%;position: absolute;left: 68%;top: 30px;}
.upload-panel{ border-top:1px solid #141824; position:absolute; bottom:0; width:100%; left:0; background:#181d2b;}
.upload-panel-inner{ border-top:1px solid #282f41;}
.upload-icon{ width:30px; height:30px; background-position:-411px -61px; cursor:pointer; margin:0 auto;}
.upload-icon.active, .upload-icon:hover{  background-position:-411px -10px; }


.spilitter{ border-left:1px solid #bbced7;  width:8px; height:100%; position:absolute; right:0; cursor:col-resize; z-index:1;
            background: #bbced7; /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiY2VkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNGQ0ZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top,  #bbced7 0%, #c4d4db 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbced7), color-stop(100%,#c4d4db)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #bbced7 0%,#c4d4db 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #bbced7 0%,#c4d4db 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #bbced7 0%,#c4d4db 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #bbced7 0%,#c4d4db 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbced7', endColorstr='#c4d4db',GradientType=0 ); /* IE6-8 */
}
.main-content-area{ position:relative; padding-right:8px; height:100%; width: calc(100% - 287px); height: calc(100% - 0px);}
.spilter-icon{ position:absolute; top:50%; left:50%; width:8px; height:40px; background-position:-422px -205px; margin-left:-4px; margin-top:-20px;}

.content.container{ overflow: auto;padding:0px;overflow: scroll;overflow-x: hidden;overflow-y: auto; border:0; height:100%; background:#fff; box-shadow:0 0 50px rgba(0,0,0,.5); padding:5px;}
.main-content{ height:100%; padding:0; -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
               box-sizing: border-box;
}

.footer-navigation{
    position:absolute; bottom:0px;
    width:100%;
    border-top:1px solid #dddddd;	
    background: #f7f7f7; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2UzZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #e3e3e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7f7f7 0%,#e3e3e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7f7f7 0%,#e3e3e3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7f7f7 0%,#e3e3e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-8 */
}
.footer-navigation a{ border-right:1px solid #c1c1c1;  padding:10px 25px; display:block; float:left; font-size:10px; color:#333333; text-transform:uppercase;}
.footer-navigation li{display:block; float:left; border-right:1px solid #fff;}
.menu-block:hover .tab-name{color:#fff;}
.main-content .tools{ position:relative; display:inline-block;}
.tolltip-box{ background:#1f2637; border-radius:8px; padding:5px; position:absolute; width:250px; text-align:center; left:50%; margin-left:-125px; top:-100px;}
.tolltip-arrow{ width:30px; height:30px; background-position:-210px -363px; position:absolute; bottom: -19px; left:50%; margin-left:-15px;}
.tolltip-box .menu-block{display:inline-block; border-bottom:0; border-top:0; padding:5px 5px 0px; }
.tolltip-box .tab-name{ margin-top:3px;}
.tolltip-box.top-align{ top:28px;}
.tolltip-box.top-align .tolltip-arrow{  background-position:-262px -363px;top: -18px; }
.help-icon{ height:8px; width:8px; position:relative; margin-right:10px;}
.icon-help{cursor:pointer; width:18px; height:18px; border:#585c66 solid 1px; border-radius:3px; background-color:#393f4e; background-position:-467px -217px;position:absolute; margin-left:-9px; margin-top:-7px; left:50%; top:50%;}
.icon-help:hover, .icon-help.active{ background-color:#23262f; background-position:-467px -269px; }
.button{ background:#252c3c; padding:10px 15px; font-size:13px; color:#fff; border:2px solid #15a4fa; margin-bottom:5px; border-radius:20px; }
.tools-btn, .tools-btn2{ width:100%}
.button:hover, .button.active{ background:#15a4fa; border:2px solid #15a4fa; }


.properties{ text-align:center;}

.filled-input{ font-size:12px; background:#303746;  height:28px; border:1px solid #1a1f2d; float:left; color:#fff; padding:4px; text-align:left; border-radius:0; box-shadow:none; box-sizing: border-box; width:100%;}
.unique-tools{ overflow:hidden;}
.margin-bottom{ margin-bottom:0 !important;}
.image-loding-button{  margin-top:0px; margin-left:10px; margin-right:10px;}
.progress.image-loding-button{ position:relative; border-radius:20px;  background:#252c3c;  font-size:13px; color:#fff; border:2px solid #15a4fa; height:36px;}
.image-loding-button .progress-bar{ padding:8px 15px; box-shadow: inherit;}

.image-loding-button .sr-only { overflow:inherit; clip:inherit; left: 0;border: 0; width:100%; text-align:center; text-transform:uppercase;}
.uploaded-file-name{ margin-left:10px; margin-right:10px; margin-bottom:5px; padding:5px 0;}

.info-icon{ height:8px; width:8px; position:relative; margin-right:15px;}
.icon-info{cursor:pointer; width:18px; height:18px; border:#f70164 solid 1px; border-radius:50%; background-color:#1a1f2d; background-position:-66px -318px;position:absolute; margin-left:-9px; margin-top:-7px; left:50%; top:50%;}
.icon-info:hover, .icon-info.active{ background-color:#23262f; background-position:-66px -368px; }
.button2 {background: #1a1f2d;padding:6px 15px;font-size: 12px;color: #fff;border: 1px solid #3d4350;margin-bottom: 5px;border-radius:8px;  }
.button2:hover, .button2.active {background: #fff; border: 1px solid #fff; color:#000; }
.divider{ height:2px; margin-left:-8px; margin-right:-8px; border-top:#141824 1px solid;border-bottom:#2d3546 1px solid;}
.file-upload-details p{ font-size:12px; text-align:left; margin:0; line-height:18px;}
.image-thumb{ width:72px; height:52px; float:left; margin-right:8px;}
.file-upload-view{ padding:8px 0 8px 0;}
.inactive{ color:#81858e;}
.normal-row { padding:5px 0; margin-bottom:5px;}
.normal-row  .shorting-input{ width:auto; text-align:left; position:relative; line-height: 19px; white-space: nowrap;
                              text-overflow: ellipsis;
                              overflow: hidden;}
.variation-input{ position:absolute; left:0; top:0; line-height:28px; height:28px;  width:auto;  z-index:1; text-align:left;}
.input-dimention{ padding-right:28px; padding-left:5px;}

.dimention-h-w{ float:left;}
.dimentionheight-with{ margin-bottom:5px;}
.dimentionheight-with  .row-name{ width:20px;}
.dimentionheight-with .shorting-input{ width:64px;}

.margin-right10{margin-right:10px;}
.caption-tools-panel{ padding:5px 0;}

.caption-tools{ float:left; width:47%;}
.caption-tools .switch2{ padding:10px 0;}
.padding-left3{ padding-left:3px;}
.tabs-content ul{ border:1px solid #181c26; list-style:none;  margin-bottom: 5px;margin-right: -1px;margin-left: 0px;}
.tabs-content ul li.active a{ background:#1c2232; }
.tabs-content ul li a{ background:#282f3f; color:#fff; font-size:12px; padding:8px 7px 8px 8px; display:block; float:left; }
.tabs-content ul li a:hover{text-decoration:none;}
.margin-bottom5{ margin-bottom:5px;}
.tooltip-view{ background:#fff; border:1px solid #cfcfd9; border-radius:0 0 5px 5px; width:140px; left:50%; margin-left:-70px; top:50px;position:absolute; z-index:555; border-top:0; overflow:hidden;}
.desktop-view{}
.tooltip-view li{ padding:10px 10px; border-bottom:1px solid #e5e5e5; }
.tooltip-view ul{ list-style:none;} 
.tooltip-view li:hover, .tooltip-view li.active{ background:#f6f8f9;}

.tooltip-view li:last-child{ border:0;}
.desktop-view{ width:30px; height:30px; float:left; margin-right:10px; background-position:-260px -10px;}
.tooltip-view li:hover .desktop-view, .tooltip-view li.active .desktop-view { /*background-position:-260px -61px;*/}
.tablet-view{ width:30px; height:30px; float:left; margin-right:10px; background-position:-10px -160px;}
.tooltip-view li:hover .tablet-view, .tooltip-view li.active .tablet-view {/* background-position:-10px -211px;*/}
.small-tablet-view{ width:30px; height:30px; float:left; margin-right:10px; background-position:-10px -362px;}
.tooltip-view li:hover .small-tablet-view, .tooltip-view li.active .small-tablet-view {/* background-position:-10px -416px;*/}
.iphone5-view{ width:30px; height:30px; float:left; margin-right:10px; background-position:-60px -411px;}
.tooltip-view li:hover .iphone5-view, .tooltip-view li.active .iphone5-view {/* background-position:-111px -411px;*/}
.iphone-view{ width:30px; height:30px; float:left; margin-right:10px; background-position:-260px -411px;}
.tooltip-view li:hover .iphone-view, .tooltip-view li.active .iphone-view {/* background-position:-311px -411px;*/}
.view-text{ overflow:hidden; font-size:14px;}
.view-size{ display:block; clear:both; font-size:12px;}
.editor-panel{background:#f6f8f9; padding:10px 20px 5px; border-bottom:1px solid #d0dde3; position:relative; height:auto;}



.editor-tools-group {float: left;margin: 0 6px 5px 0;border: 1px solid #c6c6c6;border-bottom-color: #c6c6c6;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px; background: #fefefe; /* Old browsers */
                     /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                     background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                     background: -moz-linear-gradient(top,  #fefefe 0%, #f2f2f2 100%); /* FF3.6+ */
                     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
                     background: -webkit-linear-gradient(top,  #fefefe 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
                     background: -o-linear-gradient(top,  #fefefe 0%,#f2f2f2 100%); /* Opera 11.10+ */
                     background: -ms-linear-gradient(top,  #fefefe 0%,#f2f2f2 100%); /* IE10+ */
                     background: linear-gradient(to bottom,  #fefefe 0%,#f2f2f2 100%); /* W3C */
                     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
                     width:auto; height:auto;}
.editor_button {display: inline-block;padding: 4px 6px;outline: 0;cursor: default;float: left;border: 0; background:none; position:relative;  }
.editor-bold-icon .editor-button-icon {background:url(../img/icons.png) no-repeat 0 -32px ;}
.editor-button-icon {cursor: inherit;background-repeat: no-repeat;margin-top: 1px;width: 16px;height: 16px;float: left;display: inline-block;}

.editor_button.inactive:hover, .editor_button.inactive:focus, .editor_button.inactive:active, .editor_button.active:hover, .editor_button.active:focus, .editor_button.active:active, .editor_button:hover, .editor_button:focus, .editor_button:active, .editor-combo .editor-tools-group:focus, .editor-combo .editor-tools-group:active, .editor-combo .editor-tools-group:hover{background: #dfdfdf; /* Old browsers */
                                                                                                                                                                                                        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                                                                                                                                                                                                        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                                                                                                                                                                                                        background: -moz-linear-gradient(top,  #dfdfdf 0%, #f0f0f0 100%); /* FF3.6+ */
                                                                                                                                                                                                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
                                                                                                                                                                                                        background: -webkit-linear-gradient(top,  #dfdfdf 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
                                                                                                                                                                                                        background: -o-linear-gradient(top,  #dfdfdf 0%,#f0f0f0 100%); /* Opera 11.10+ */
                                                                                                                                                                                                        background: -ms-linear-gradient(top,  #dfdfdf 0%,#f0f0f0 100%); /* IE10+ */
                                                                                                                                                                                                        background: linear-gradient(to bottom,  #dfdfdf 0%,#f0f0f0 100%); /* W3C */
                                                                                                                                                                                                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-8 */
}
.editor_button:hover, .editor-combo .editor-tools-group {color: #699;text-decoration: underline;}
.editor_button.active {background: #d0dde3;}
.editor_button.inactive .editor-button-icon {opacity: .3;}

.editor-italic-icon .editor-button-icon {background: url(../img/icons.png) no-repeat 0 -64px ;}
.editor-underline-icon .editor-button-icon{background: url(../img/icons.png) no-repeat 0 -192px ;}
.editor-strike-icon .editor-button-icon {background: url(../img/icons.png) no-repeat 0 -96px ;}
.editor-subscript-icon .editor-button-icon {background: url(../img/icons.png) no-repeat 0 -128px;}
.editor-superscript-icon .editor-button-icon  {background: url(../img/icons.png) no-repeat 0 -160px ;}
.editor-remove-icon .editor-button-icon{background: url(../img/icons.png) no-repeat 0 -2208px ;}
.editor-toolbar-sep {float: left;background-color: rgba(0,0,0,.2);margin:0px 0px 0;height:25px;width: 1px;-webkit-box-shadow: 1px 0 1px rgba(255,255,255,.5);-moz-box-shadow: 1px 0 1px rgba(255,255,255,.5);box-shadow: 1px 0 1px rgba(255,255,255,.5);}

.editor-numberedlist-icon .editor-button-icon {background: url(../img/icons.png) no-repeat 0 -768px;}
.editor-bulletedlist-icon .editor-button-icon {background: url(../img/icons.png) no-repeat 0 -704px ;}
.editor-outdent-icon .editor-button-icon {background: url(../img/icons.png) no-repeat 0 -832px ;}
.editor-indent-icon .editor-button-icon  {background: url(../img/icons.png) no-repeat 0 -864px;}
.editor-blockquote-icon .editor-button-icon {background: url(../img/icons.png) no-repeat 0 -288px ;}
.editor-justifyLeft-icon .editor-button-icon{background: url(../img/icons.png) no-repeat 0 -1632px ;}
.editor-justifyRight-icon .editor-button-icon{background: url(../img/icons.png) no-repeat 0 -1664px ;}
.editor-justifyMiddle-icon .editor-button-icon{background: url(../img/icons.png) no-repeat 0 -1600px ;}
.editor-link-icon .editor-button-icon{background: url(../img/icons.png) no-repeat 0 -1760px ;}
.editor-createTable-icon .editor-button-icon{background: url(../img/icons.png) no-repeat 0 -2272px ;}
.editor-createTable-icon .caret, .editor_button .caret{margin-top: -2px;position: absolute;right: 10px;top: 50%;border-top: 4px solid #5a5a5a;border-bottom: 4px solid transparent;border-right: 4px solid transparent;border-left: 4px solid transparent;}
.editor-createTable-icon, .dropdown .editor_button { padding-right:26px; padding-bottom: 5px;}
.dropdown .editor_button:hover{ text-decoration:none; color:#666666; }
.editor-tools-group.dropdown .editor-createTable-icon{ padding: 4px 25px 4px 6px;}

.editor-combo{ float:left;}
.editor-combo-text { font-size:13px; line-height: 23px;padding-left: 10px;text-overflow: ellipsis;overflow: hidden;float: left;cursor: default;color: #474747;text-shadow: 0 1px 0 rgba(255,255,255,.5);width: 75px; padding:0; text-align:left;}
.editor-combo-arrow {cursor: default;display: inline-block;font-size: 0;height: 19px;line-height: 17px;margin: 1px 7px 1px;width: 5px;}
.editor-combo-icon {margin: 9px 0 0;float: left;height: 0;width: 0;font-size: 0;border-left: 3px solid transparent;border-right: 3px solid transparent;border-top: 3px solid #474747;}
.cke_combo_button {display: inline-block;float: left;margin: 0 6px 5px 0;border: 1px solid #c6c6c6;border-bottom-color: #979797;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px; background: #fff;
}



.style-tooltip{list-style-type: none;padding: 0;white-space: nowrap;position: absolute; visibility: visible;width: 150px;height: 130px;overflow: auto;background-color: #fff;border: 1px solid #c6c6c6;border-bottom-color: #999;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;} 
.style-tooltip h2{ font-size: 12px;font-weight: bold;white-space: nowrap;margin: 0;padding:2px 6px;color: #000;text-shadow: 0 1px 0 rgba(255,255,255,.75);border-bottom: 1px solid #b6b6b6;background: #d0dde3; text-transform:uppercase;}
.style-tooltip ul{list-style-type: none;       padding: 0;    white-space: nowrap;}
.style-tooltip li{margin: 0;padding-bottom: 1px;}
.style-tooltip li a{ padding: 5px 5px;display: block;color: inherit!important;text-decoration: none;overflow: hidden;text-overflow: ellipsis; border-bottom: 1px solid #e5e5e5; margin:0; }
.style-tooltip li:last-child a{ border-bottom:0;}
.style-tooltip li a:hover,.style-tooltip li a:focus,.style-tooltip li.active a{background: #f6f8f9; }
.carausal-panel .arrows{ width:40%;}
.carausal-panel .row-name{ width:60px;}
.carausal-panel .position{ width:auto;}
.position .shorting-input {width: 53px;}
.list-row.carausal-panel { margin:0;}
.carausal-panel.navigation .arrows{ width:35%;}
.animation-box{ background:#222939; border:1px solid #181c26; padding:0 5px; margin:0 -4px;}
.type .row-name{ width:35px;}
.delay .row-name{ width:40px;}
.type .shorting-input{ width:55px;}
.delay{ width:45%;}
.type{ width:55%;}
.padding-bottom0{ padding-bottom:0;}
.shorting-panel .row-no{ width:28px; text-align:center;}
.slide-labels .shorting-input{ width:175px;}

.close-btn {width: 28px;height: 28px;background-position:-112px -362px;border: 0;cursor:pointer;}
.close-btn.active, .close-btn:hover {background-position:-112px -312px;}

.slide-labels .normal-row {padding: 5px 0 0;}

.add-icon {height: 8px;width: 8px;position: relative;margin-right: 15px;}
.icon-add {cursor: pointer;width: 18px;height: 18px;border: #585c66 solid 1px;border-radius: 3px;background-color: #393f4e;background-position: -317px -318px;position: absolute;margin-left: -9px;margin-top: -7px;left: 50%;top: 50%;}
.icon-add:hover, .icon-add.active {background-color: #23262f;background-position:-317px -369px;}
.list-row .position-width85{ width:85px;}
.cmn-toggle {position: absolute;margin-left: -9999px;visibility: hidden;}
.cmn-toggle + label {  display: block;  position: relative;  cursor: pointer;  outline: none;  -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;}

input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {  display: block;  position: absolute;  top: 1px;  left: 1px;  bottom: 1px;  content: "";}
input.cmn-toggle-round + label:before {  right: 1px;  background-color: #f1f1f1;  -webkit-border-radius: 60px;  -moz-border-radius: 60px;  -ms-border-radius: 60px;  -o-border-radius: 60px;  border-radius: 60px; -webkit-transition: background 0.4s;  -moz-transition: background 0.4s;  -o-transition: background 0.4s;  transition: background 0.4s;}
input.cmn-toggle-round + label:after {  width:15px; height:15px; margin-top:-2px;  background-color: #fff;  -webkit-border-radius: 100%;  -moz-border-radius: 100%;  -ms-border-radius: 100%;  -o-border-radius: 100%;  border-radius: 100%;  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);  -webkit-transition: margin 0.4s;  -moz-transition: margin 0.4s;  -o-transition: margin 0.4s;  transition: margin 0.4s;}
input.cmn-toggle-round:checked + label:before {  background-color: #993399;}input.cmn-toggle-round:checked + label:after {  margin-left:12px;}
.switch2 input.cmn-toggle-round + label:after{ width:8px; height:8px;}
.switch2 input.cmn-toggle-round:checked + label:after {  margin-left:7px;}
.switch2 input.cmn-toggle-round + label:before{ background:none;}
.switch2 input.cmn-toggle-round:checked + label:before {  background-color: #8ce196;}
.left-menu-panel{height: calc(100% - 81px); overflow:auto;}
.tab-container{height: calc(100% - 50px); overflow:auto; width:287px;}
.tooltip-view{ display:none;}
.tools-view-port.active .tooltip-view{ display:block;}
#savecontainer{ float:left;}
.droptarget {min-height: 20px;max-height: 100%;width: 100%;position: relative;}
.props{ height:100%;}
#props-container, #props-layout{height:100%;}
.grid-class .btn {padding: 2px 12px 3px;}
.grid-class{margin: 0 6px 5px 0; float:left;}
.url-input-block{}
.url-input-block .form-control{ height: 28px;padding: 2px 12px;}
.url-input-block .btn {padding: 3px 12px 3px;}
.rightpanel .nav-tabs{ border:0; /*background:#1f2637;*/}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{ border:0;}
.leftpanel #trash {position: inherit;bottom: 0px;border:0; border-radius: 0; padding: 0; margin:0 auto; }
.savestuff{ text-align:center;}
.savestuff button{ margin-bottom:10px;}
.main-container{ float: left;
                 width: calc(100% - 85px);
                 height: 100%;
                 box-sizing: border-box;}
.left-menu-panel, .right-navigation, .header-container {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;    
    -o-user-select: none;
    user-select: none;          
}
.menu-listing.panel.panel-default{ border:0;}
#props-layout3, #accordion{ height:100%;}
.listing-content { height:calc(100%-50px);}
.nicescroll-rails>div{ background:#000 !important; border:0!important;}


.layout-selector > .row{ border:0; margin:0 !important;}
.layout-resize {width: 4px;height: 28px;background:url(../img/grid-img.png) no-repeat center center;border: 0;float: left;cursor: col-resize;}
.layout-resize:hover {background:url(../img/grid-img-hover.png) no-repeat center center;}
.layopts-col{border: 1px solid #1e2330;background: #303746;border-radius: 4px;padding: 4px;color: #fff;text-align: center;box-shadow: none;font-size: 12px;box-sizing: border-box;}
#divexample1.tab-container{ background:#1a1f2d;}
#props-container{border-top: 1px solid #212631; padding:8px;
                 background: #252c3c;box-shadow: inset 0 2px 5px rgba(0,0,0,0.4);}
.props .tab-container.tab-content{ padding:2px 0px 0px 0px;}
.layout-selector {margin: 5px 0 10px;}
.resize-container{height: calc(100% - 79px);overflow: auto; width: 100%;padding:0px;overflow: scroll;overflow-x: hidden;overflow-y: auto; background:url(../img/rezize-bg.jpg) repeat 0 0; border:0;}


.drag-item.menu-block.active{ border:0; background:#15a4fa; border-radius:5px; padding:11px 11px 8px 11px ; display:inline-block;}
.drag-item.menu-block.active .tab-name{ margin:5px 0 0 0; color:#fff;}
.Wide-Screen { margin:20px auto; width:1280px !important; height:800px!important; overflow:hidden; border-radius:10px;}
.ipad{ margin:20px auto; width:768px!important; height:1024px!important; overflow:hidden; border-radius:10px;}
.Small-Tablet { margin:20px auto; width:600px!important; height:800px!important; overflow:hidden; border-radius:10px;}
.iphone5{ margin:20px auto; width:320px!important; height:568px!important; overflow:hidden; border-radius:10px;}
.iphone{ margin:20px auto; width:320px!important; height:480px!important; overflow:hidden; border-radius:10px;}

.editor-tools-group.dropdown .dropdown-toggle{ border:0; position:relative; background:none;}
.editor-tools-group.dropdown .dropdown-toggle .caret{ margin-top: -2px;    position: absolute;    right: 10px;    top: 50%; border-top: 4px solid #5a5a5a;border-bottom: 4px solid transparent;border-right: 4px solid transparent;border-left: 4px solid transparent; }
.editor-tools-group.dropdown .dropdown-menu>li>a {display: block;padding: 3px 6px;}
.editor-paragraph-icon{ font-size:13px; padding:7px 6px;}
.paragraph{ font-size:14px; color:#2f3545 !important; font-weight:300 !important;}
.Blockquote{font-size:12px; color:#2f3545 !important; font-weight:300 !important;}
.Heading1{font-size:20px; color:#2f3545 !important; font-weight:700 !important;}
.Heading2{font-size:18px; color:#2f3545 !important; font-weight:700 !important;}
.dimention-w-m .row-name {width:60px;}
.dimention-w-m .shorting-input {width:66px;}
.list-row.dimention-w-m { margin:5px 0;}
.dimention-file{ width:100%;}
.header-container .switch.right label{ margin-bottom:0; font-size: 12px;} 
.back-btn{ width:30px; height:49px; background-position:-361px -297px;  border:0;}
.back-btn:hover{ background-position:-361px -349px; }
.lt-pan{ border-right:1px solid #e5e5e5; margin-right:5px;}
.glyphicon.glyphicon-refresh.reload{position: absolute;z-index: 9;top: 6px;left: 5px;width: 30px;height: 30px;border-radius: 3px;border: 0;}
.glyphicon.glyphicon-refresh.reload:after{ }
.elogo{ width:75px; height:53px; display:block; text-indent:-999em; background-position:-420px -326px;	}
/*Added*/
.cke_resizer_ltr{display: none;}
.form-group{margin-bottom: 0}
*.highlight{border: 1px dashed #BDBDBD;}

*.highlight::before{border: 1px dashed #BDBDBD;font-size: 10px;padding-left: 5px;padding-right: 5px;color: #000;}
*.highlight::after{border: 1px dashed #BDBDBD;font-size: 10px;padding-left: 5px;padding-right: 5px;color: #000;}
h1.highlight::before{content: "H1"; position: absolute; right: 0px;}
h2.highlight::before{content: "H2"; position: absolute; right: 0px;}
ul.highlight::before{content: "UL"; position: absolute; right: 0px; margin-top: -15px;}
li.highlight::before{content: "LI"; position: absolute; right: 0px;}
p.highlight::before{content: "P"; position: absolute; right: 0px;}
span.highlight::after{content: "SPAN"; position: relative; right: 0px; top: -4px;}
a.highlight::after{content: "A"; position: relative; right: 0px; top: -4px;}
.ui-state-highlight-left-pane{ 
    border-top: 2px solid #800080;
}
#cke__editor.cke .ui-state-highlight{ 
    /*border-top: 1px dashed #B6B6B6;*/
    height: 1px;
    background-color: #800080;
    border: 1px solid #800080;
    border-radius: 50px;
}

#cke__editor.cke .ui-state-highlight::before{
    content: "";
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #800080;
    position: absolute;
    left: -5px;
    margin-top: -7px;
}

#cke__editor.cke .ui-helper-class{
    border: 1px solid #888888;
    border-radius: 3px;
    box-shadow: 4px 4px 5px #888888;
    background-color: #fff;
}

.indicator{background-color: #B6B6B6 !important}

.pattern-helper{
    background-color: green;
    height: 32px;
    width: 32px;
    margin: 0 auto;
    border: 5px solid #FFF;
    border-radius: 5px;
}
.btn.btn-default {
    border-radius: 20px;
    padding: 6px 12px;
    position: relative;
    left: -15px;
    top: -2px;
}
/*Added*/
@media only screen and (-webkit-min-device-pixel-ratio: 2){
    .sprite{	background-image:url(../img/sprite_ratina.png) ; background-repeat:no-repeat; background-size:500px 500px; }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .sprite{	background-image:url(../img/sprite_ratina.png) ; background-repeat:no-repeat; background-size:500px 500px; }
}

.glossaryTerm{
    color: red;
    cursor: pointer;
}

.glossaryTerm div{
    position: absolute;
    border: 1px solid #000;
    z-index: 999;
    top: -75px;
    right: 0px;
}

#cke__editor.cke .ui-state-highlight div{
    background: #fff;
    position: absolute;
    right: 0px;
    top: -24px;
    border: 1px solid #000;
    border-radius: 0px;
}

#FetchMedia{
    position:absolute;top:100px;font-size:10px;
    left: 310px;
}
.sublist{
    counter-reset: item;
}
.sublist li {
    display: block;
    position: relative;
}
.sublist li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px; /* space between number and text */
}
.btn.btn-default.pull-left.btn_arrow{
    position: absolute;
    left: -18px;
    top: 4px;
}
#cke__editor.cke .ui-state-highlight>div{ background:#800080; padding:3px 5px 4px; font-size:10px; text-align:center; border:#800080 1px solid; color:#fff; right:-1px;}
#cke__editor.cke .title, #cke__editor.cke .subtitle{ background:none;}
.switch-box .ui-corner-all{ background:#fff; border:1px solid #ddd;}
.resizer-container>.switch-box {margin-top: 9px;}
.switch-box .ui-multiselect {padding:5px 0 5px 4px;}
#cke__editor.cke .chapter span{ background:none;}

.fullscreen .ui-widget-header {
    border: 1px solid #0d769f;
    background: #0d84b2 url(../img/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; border-radius:4px 4px 0 0;
}
.fullscreen .ui-multiselect-menu{ padding:0; border:0;}
.fullscreen .ui-multiselect-checkboxes li{ padding-right:0;}
.fullscreen .ui-corner-all.ui-state-hover{ border: 1px solid #0d84b2; font-size: 13px !important;
                                           background: #0c91c4 url(../img/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
                                           font-weight: bold;
                                           color: #fff; border-radius:0; cursor:pointer;}
.fullscreen .ui-multiselect-checkboxes label input{ margin-right:5px; top: 2px;}
.fullscreen .ui-multiselect.ui-widget.ui-state-default.ui-corner-all.ui-state-hover{ border-radius:4px;}
.fullscreen .ui-multiselect.ui-widget.ui-state-default.ui-corner-all.ui-state-active{ color:#0d84b2; font-size:14px !important;}
.fullscreen .ui-multiselect.ui-widget.ui-state-default.ui-corner-all.ui-state-active.ui-state-hover, .fullscreen .ui-multiselect.ui-widget.ui-state-default.ui-corner-all.ui-state-hover{ color:#fff;font-size:14px !important;}
.fullscreen .ui-multiselect-checkboxes label{ font-size:13px !important;}
.fullscreen .ui-corner-all.ui-state-hover .ui-icon{background-image: url(../img/ui-icons_ef8c08_256x240h.png);
                                                   background-position: -128px -16px;}
/*.iframe-setting{position: absolute;  text-align: right;  padding: 3px; background-color: rgba(0,0,0,0.05);}*/
.toolBoxLarge {
    padding: 5px;
    text-align: right;
    font-size: 12px;
    float: right;
    background: rgba(255,255,255,1);
    cursor: pointer;
    margin-left: 10px;
}

.toolBoxLarge .glyphicon {
    margin: 0 5px 0 0;
}
.iframe-setting {
    position: absolute;
    text-align: right;
    /*border: 1px solid #ddd;*/
    background-color: rgba(0,0,0,0.1);
    outline: 2px solid #673ab7;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    display: block;
}
.math-tex iframe{margin: 0 !important;}
div.converted{height: 150px; text-align: center; background-color:#fcfcfc; outline:1px solid #ddd; display:block;
              vertical-align: middle; overflow: hidden;}
/*div.gadget .showDetails{text-align: center;}*/
.cke_button__createticket .cke_button_icon {
    background-position: -15px -1087px !important;
}

.ui-draggable-dragging{z-index: 99999999;}
/* .cke_reset_all *{ z-index: 999999 !important;}*/
.modal{z-index: 1050; background-color: rgba(0,0,0,0.4);}
.btn.btn-default#FetchMedia{   padding: 10px 12px 9px;}
.url-link{ font-size:12px; color:#4285f4; font-weight:bold;}
.converted .lm-rochak{ /*padding-top:10px;*/ display: table-cell;height: 100%; width: 100%; vertical-align: middle;}
.lm-rochak .mode-text {
    margin: 0;
    line-height:8px;
}
.lm-rochak-out{ display: table; height: 100%; width: 100%; vertical-align: middle;}
.lm-rochak.width125{ font-size: 60%; line-height: 1.42857143;}
.lm-rochak.width125 .url-link{ font-size:inherit;}
.width125.lm-rochak>div{   font-size: 100%;  color: #888; margin-top: 1px;}
.clearfix {
    /*position: absolute;*/
}
#img_modal{
    z-index: 5;
}
#exwidgetModal{
    z-index: 4;
}
.profiling_el{
    position: absolute;
    width: 100%;
    background-color: #8f9ca2;
    z-index: 5;
    height: 30px;
    bottom: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.cfi_el{
     position: absolute;
    width: 100%;
    background-color: #8f9ca2;
    z-index: 5;
    height: 30px;
    bottom: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
/*.cfiLabel{
    content: attr(data-content);
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    font-weight: 800;
    margin-left: 10px;
    background: #4285f4;
    padding: 0 3px;
}*/

.tree_view {
    top: 0px;
    position: relative;
}
.profling_btn{
    border: 1px solid #fff;;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    /*background-color: #282f41;*/
    /*color: #fff;*/
    font-weight: 800;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    color: #fff;
}

[print~="true"]{
    /*    background-color: #77aaff;*/
}
[digital~="true"]{
    /*    background-color: #a47c48;*/
}
[disable~="true"]{
    /*    background-color: none;*/
}
/*.profling_btn.active{
    background-color: #fff;
    border: 1px solid #282f41;
    color: #000;
    opacity: 0.8;
}*/
.tree_view span.items{
    border: 1px solid transparent;
}
.tree_view span.items[active~="true"]{
    border: 1px solid #4682B4;
}

.split-view{
    width:60% !important;
}

.split-source-container {
    /*float: right;*/
    width: calc(100% - 60% + 25px);
    padding:0px;
    position: absolute;
    right: 0px;
    top: 41px;
    z-index:1;
}
#sourceVal *{     white-space: inherit;}

.split-source{
    height:100%;
    overflow:hidden;
    border: 0px solid #ddd;
    padding:0px;
}
.split-source pre{ border-radius:0;}
.source-container{
    overflow-y: auto;
    height: 100%;
    overflow-x: hidden;
}

#sourceVal .mark-me{
    color:#673AB7;
}

#sourceVal *{
    font-size: 13px !important;
    font-weight: normal !important;
    line-height: 1 !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    font-style: normal !important;
    text-decoration: inherit !important;
}
#sourceVal ul *{
    white-space: nowrap !important;
}
.cke_dialog .cke_dialog_tabs {
    height: 24px;
    display: inline-block;
    margin: 0;
    position: inherit;
    z-index: 2;
    left: 10px;
    padding: 10px 0px 0;
    background: #eaeaea;
    width: 100%;
}
.cke_dialog a.cke_dialog_tab{margin-left:3px;}
.cke_dialog_body .cke_dialog_contents{ margin:0;}
.cke_dialog_page_contents table{ width:auto;}
.cke_dialog fieldset {
    padding: 10px;
    border: 1px solid #eee;
    background: #f5f5f5;
}
.cke_dialog fieldset legend {  font-weight: 600;
                               font-size: 12px;
                               text-transform: uppercase;}
a.cke_dialog_ui_button span { 
    color: inherit;
    font-size: 13px;
    font-weight: normal;
    line-height: inherit;
    padding: inherit;
    font-family: "Source Sans Pro";
    background: #4285f4;
    border: #4285f4 1px solid;}
a.cke_dialog_ui_button:hover, a.cke_dialog_ui_button:focus, a.cke_dialog_ui_button:active, a.cke_dialog_ui_button.active {
    background: #4285f4 !important;
    border: #4285f4 1px solid !important;}

.cke_reset_all .cke_dialog textarea, .cke_reset_all .cke_dialog input[type="text"], .cke_reset_all .cke_dialog input[type="password"] {
    cursor: text;
    padding: 5px 6px;
}

span.items:after {
    content: attr(data-content);
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    font-weight: 800;
    margin-left: 10px;
}

.tree_view li span[data-content="print"], .tree_view li span[data-content="digital"]{
    background-color:#fff;
}
.tree_view li span[data-content="print"]{
    border:1px solid #4285f4 !important;
}

.tree_view li span[data-content="digital"]{
    border:1px solid #880e4f !important;
}
.tree_view li span[data-content="print"]:after{
    background:#4285f4;     padding: 0 3px;
}
.tree_view li span[data-content='CFI']:after{
    background:#4285f4;     padding: 0 3px;
}
.tree_view li span[data-content="digital"]:after{
    background:#880e4f;     padding: 0 3px;
}




.onoffswitch {
       position: relative;
    width: 55px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    float: right;
    margin-top: 4px;
    left:-43%;

}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 16px; padding: 0; line-height: 16px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #EEEEEE; color: #4285f4;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #EEEEEE; color: #880e4f;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 1px;
    background: #880e4f;
    position: absolute; top: 0; bottom: 0;
    right: 34px;
    border: 1px solid #880e4f; border-radius: 20px;
    transition: all 0.3s ease-in 0s; height: 18px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #4285f4; 
    border: 1px solid #4285f4;
}
#cfi_modalSave{
    display:none;
    padding: 0 3px;
    line-height: 1;
    background: #fff;
    height: 20px;
    color: #444;
    border: 0;
    float:right;
    font-size: 12px;
    margin-top: 1%;
}

/* Cfi Tree */
.tree ul {
    margin-left: 20px;
}

.tree li {
    list-style-type: none;
    margin:10px;
    position: relative;
    margin-top: 3px;
        margin-bottom: 0px;
            width: 150px;
}

.tree li::before {
   content: "";
    position: absolute;
    top: -2px;
    left: -5px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 0 0px;
    width: 5px;
    height: 15px;
}

.tree li::after {
        position: absolute;
    content: "";
    top: 12px;
    left: -5px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-radius: 0px 0 0 0;
    width: 5px;
    height: 100%;
}

.tree li:last-child::after  {
    display:none;
}

.tree li:last-child:before{
    border-radius: 0 0 0 5px;
}

ul.tree>li:first-child::before {
    display:none;
}

ul.tree>li:first-child::after {
    border-radius:5px 0 0 0;
}

.tree li a {
    border: 1px #ccc solid;
    border-radius: 5px;
    padding:2px 5px;
}

.tree li a:hover, .tree li a:hover+ul li a,
.tree li a:focus, .tree li a:focus+ul li a {
/*    //background: #ccc; color: #000; border: 1px solid #000;*/
}

.tree li a:hover+ul li::after, .tree li a:focus+ul li::after,
.tree li a:hover+ul li::before, .tree li a:focus+ul li::before 
.tree li a:hover+ul::before, .tree li a:focus+ul::before 
.tree li a:hover+ul ul::before, .tree li a:focus+ul ul::before{
/*    border-color:  #000; connector color on hover*/
}
  .tree .selected{
     background-color: #337ab7;
    color: white;
    border: 1px solid #337ab7;
    }
.ui-accordion-content-active{
height:auto !important;
}
#textContainer{
      margin-top: -1px;
      margin-left: 14px;
}
.cfiSave,.cancelSave,.addNewCfi,.cancelCreation{
    border-radius: 9%;
    background: #337ab7;
    color: white;
    margin-left: 69%;
    padding: 2px;
    border: none;
    font-size: 13px;
}

.tree{ padding-left: 0px;}
.tree ul{ margin-left: 0px;    padding-left: 1px;}
.tree li a {
     font-size: 10px;    color: #333;
}
.tree li a:hover, .cfiFooter button.cancelSave:hover, .cfiFooter i.fa:hover, .cfiAddingFooter button.cancelCreation:hover{
    text-decoration: none;
}
.cfiFooter button,.cfiAddingFooter button, .cfiFooter i.fa{ display:  inline-block; margin-left: 2px;font-size: 10px;    padding: 2px 5px;    border-radius: 4px;}
.cfiFooter button.cancelSave,.cancelCreation{ background-color: #fff; color: #000;border: 1px #ccc solid;margin-left: 5px;}
.cfiFooter .fa {
    font-size: 16px !important;
    cursor: pointer;
    margin-right: 5px;
    float: right;
}
.cfiFooter,.cfiAddingFooter{
   width: 100%;
    font-size: 11px; 
}

/*.cfiAddingFooter button{
     display:  inline-block; margin-left: 2px;font-size: 11px;
    background: #4285f4;
    color: white;
        padding-bottom: 10px;
          border: 1px #ccc solid;
   
}*/

.cfi_view h3{background: #f6f8f8;color: #999; border-radius: 0px;font-family: 'Source Sans Pro';font-size: 13px;}
.cfi_view h3.ui-state-active{
    background: #fff;
    color: #333;
}
.cfi_view h3 span{color: #58666e;}
.disabledCls{
   cursor: not-allowed !important;
   background: darkgrey !important;
    
}

.ui-accordion-content-active{    padding-left: 10px !important;  padding-right: 0px !important;}
.ui-widget-content{ background-color: #fff;}
.ui-accordion-content-active .tree {
    margin-left: -10px;
        margin-top: 10px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .cfiList{
    border: 1px solid #ddd;
    font-weight: normal;
    
}

.cfiList:hover{color: #333;}

.cfiname{ margin-right:  10px;font-family: 'Source Sans Pro';}
.cfiname input{ border-radius: 0px;height: 27px; font-family: 'Source Sans Pro';}
.cfiname input:focus {
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-state-default .ui-icon {
    background-image: none;
}
.ui-accordion .ui-accordion-icons {
    padding-left: 1em;
}
.ui-accordion .ui-accordion-header {
    margin-top: -1px;
}
.ui-accordion .ui-accordion-content {
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    padding-top: 2px;
}

.cfiname label {
    font-size: 13px;
    color: #222;
    font-weight: bold;
}

#questionSelector {
    text-transform: none;
    font-size: 15px;
}