html {
    overflow: hidden;
}

html {
    /*  background: url(../img/bg_pattern_r1.png);*/
    height: 100%;
}


strong {
    font-weight: bold;
}

.get-started {
    margin: 20px 0;
    color: #666;
    font-size: 11px;
    text-align: center;
}

.get-started a {
    color: #666;
}

#wysihtml5-editor-toolbar {
    position: relative;
    /*left: 135px;
    top: 4px;*/
}
.wysihtml5-sandbox{ /*height:300px !important;*/ overflow:auto;}
/*header {
  display: block;
  border-radius:0;
  width: 840px;
  background: #282f3f;
  position: relative;
  z-index: 1;
  text-align: center;
  
  font-size: 0;
  text-align: center;
height: 40px; padding:5px;
}*/

.label{
    color: #000;
}

.number{
    color: #000;
}
.commands {
    /* border-left: 1px solid #ddd;*/
    display: inline-block;
}

[data-wysihtml5-command],
[data-wysihtml5-action],
.fore-color {
    position: relative;display: inline-block;
    /* border-right: 1px solid #ddd;
     border-left: 1px solid #fff;
     list-style: none;
     font-size: 12px;
     
     cursor: pointer;
    height: 40px;
     width: 68px;*/
}

[data-wysihtml5-command]::after,
[data-wysihtml5-action]::after,
.fore-color::after {
    content: "";
    /*background-image: url(../img/spr_toolbar_icons_r1.png);
    background-repeat: no-repeat;*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/*[data-wysihtml5-command]:hover,
[data-wysihtml5-action]:hover,
.fore-color:hover {
  background-image: linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
  background-image: -o-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
}
[data-wysihtml5-command="bold"], [data-wysihtml5-command="italic"], [data-wysihtml5-command="insertUnorderedList"], [data-wysihtml5-command="insertOrderedList"]{
 width:40px;
}*/
[data-wysihtml5-command="bold"]::after {
    background-position: 8px center;
}

[data-wysihtml5-command="italic"]::after {
    background-position: -64px center;
}

[data-wysihtml5-command="insertUnorderedList"]::after {
    background-position: -133px center;
}

[data-wysihtml5-command="insertOrderedList"]::after {
    background-position: -215px center;
}

[data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h1"]::after {
    background-position: -344px center;
}

[data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h2"]::after {
    background-position: -428px center;
}

[data-wysihtml5-command="createLink"]::after {
    background-position: -271px center;
}

[data-wysihtml5-command="insertImage"]::after {
    background-position: -513px center;
}
.fore-color{ width:105px; position:relative;}
.fore-color .caret{ position:absolute;top: 11px;right: 8px;}
.fore-color::after {
    /*background-position: -741px center;*/
    background-position: 0 0;
    content: "Format";
    line-height:26px;
    background: none;
    font-size: 13px;
    font-weight: 400; text-align:left; padding-left:5px;
}
.class .fore-color::after{ content: "Class";}

[data-wysihtml5-command="insertSpeech"]::after {
    background-position: -596px center;
}

[data-wysihtml5-action="change_view"]::after {
    background-position: -670px center;
}

.fore-color ul {
    display: none;
    position: absolute;
    z-index: 2;
    top:25px;
    right: -1px;
    left: -1px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: hidden; border-radius:3px;
}

.fore-color li {
    display: block;
    margin:0px;
    width: 50px;
    border: 0;
    height:25px;
    position: relative; padding:3px; width:100%;
    left: 0px; font-size:13px; border-bottom:1px solid #ccc; text-align:left;
    cursor: pointer;
}
.fore-color li:hover{background:#efefef;}
.fore-color li:last-child{ border-bottom:0;}

.fore-color li::after {
    display: none;
}

.fore-color:hover ul {
    display: block;
}

.fore-color [data-wysihtml5-command-value="silver"] {
    background: silver !important;
}


.fore-color [data-wysihtml5-command-value="gray"] {
    background: gray !important;
}

.fore-color [data-wysihtml5-command-value="maroon"] {
    background: maroon !important;
}

.fore-color [data-wysihtml5-command-value="red"] {
    background: red !important;
}

.fore-color [data-wysihtml5-command-value="purple"] {
    background: purple !important;
}

.fore-color [data-wysihtml5-command-value="green"] {
    background: green !important;
}

.fore-color [data-wysihtml5-command-value="olive"] {
    background: olive !important;
}

.fore-color [data-wysihtml5-command-value="navy"] {
    background: navy !important;
}

.fore-color [data-wysihtml5-command-value="blue"] {
    background: blue !important;
}

.fore-color .wysihtml5-command-active {
    outline: 1px solid #666;
    outline-offset: 1px;
}

.wysihtml5-commands-disabled .fore-color ul {
    display: none;
}

.wysihtml5-action-active,
.wysihtml5-command-active {
    background: #738892;
    border: 1px solid #3d525c;
}

.wysihtml5-commands-disabled [data-wysihtml5-command],
.wysihtml5-commands-disabled .fore-color {
    opacity: 0.4;
    cursor: default;
    background-image: none !important;
}

[data-wysihtml5-dialog] {
    color: #333;
    font-size: 14px;
    text-align: left;
    border-radius: 4px;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 5px 10px;
    background: #FFFBE0;
    position: absolute;
    width: 810px;
    text-align: center;
    top: 45px;
    z-index: 1;
}

[data-wysihtml5-dialog] input {
    color: #333;
    border: 1px solid #ccc;
    padding: 3px;
    width: 300px;
}

[data-wysihtml5-dialog] input:focus {
    outline: 0;
    border: 1px solid #666;
}

[data-wysihtml5-dialog-action] {
    padding: 4px;
    color: #fff;
    cursor: pointer;
}

[data-wysihtml5-dialog-action="save"] {
    background: #007200;
}

[data-wysihtml5-dialog-action="cancel"] {
    background: #999;
}

section.middle-pane{
    z-index: 0;
    /*width: 730px;*/
}

section.left-pane{
    /*position: absolute;
          width: 260px;
          height: 600px;
      left: 0px;
    top: 50px;
    bottom: 0;*/
    white-space: pre;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;
    word-wrap: break-word;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    outline: 0;
    overflow: auto;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none; 
}

section.left-pane span{
    position: absolute;
    left: 0px;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    height: 18px;
    top: 5px;
    line-height: .5;
    z-index: 10;
}

section.left-pane button{
    height: 18px;
    width: 23px;
    position: relative;
    right:0px;
    font-size: 10px;
    border-radius: 5px !important;
}
section.left-pane button.btn_remove{right: -5px !important; left:inherit !important; z-index: 11;}

section.left-pane ul, section.left-pane ol, section.left-pane li{
    margin-left:0;  line-height: 0;padding: 10px 0 3px 3px; position: relative; 
}

section.left-pane > ul{
    margin-left: 10px;
}
section.left-pane > ul ul{
    padding-left:3px;
}

section.left-pane span:hover{
    font-weight: 500;
    cursor: pointer
}
section.left-pane span.hover{
    font-weight: 500;
    cursor: pointer
}

textarea {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background: transparent;
    height: 100%;
    border: 0;
    resize: none;
    white-space: pre;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;
    word-wrap: break-word;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}

textarea.textmode{
    background-color: #282F3F;
    color: #FFF;
    padding-right: 15px;
    word-break: break-word; border-radius:0;
}
textarea:focus {

}

a.fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
li.block{
    /*position: relative;
    right: 20px;
    top: -11px;*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li.block::after {
    content: "Block";
    font-size: 18px;
    font-weight: 800;
    /*position: relative;
    top: -34px;
    left: -338px;
    cursor: pointer*/
}
.activated{
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.2);
    background: #EEE !important;
}

/*============##############  Editor css Start    ############ ================*/
#wysihtml5-editor-toolbar ul.format {padding: 0;margin-top: 2px;}
#wysihtml5-editor-toolbar ul.class{padding: 0;margin-top: 2px;}
.commands.block-text .block{ background:#fff; border-radius:3px; height:26px; font-size:13px; padding:0px 5px}
.commands.block-text li.block::after{ font-size:13px; font-weight:700; line-height:32px;}
.divider{ width:1px ; height:26px !important; margin:0 10px !important; float:left;}
.divider span{ width:1px ; height:21px; margin:5px 0; background:#646873; display:block;}
#wysihtml5-editor-toolbar ul.commands{ margin:0px 0 0 0 !important; padding:0; }
#wysihtml5-editor-toolbar .editor-tools-block{ display:block; margin-right:5px; float:left;}
#wysihtml5-editor-toolbar ul { padding:0; margin-bottom:0;}
.wysihtml5-sandbox{ box-shadow:none !important; background:#fff;}
.cke_ltr .icons{ background:url(../img/icons.png) no-repeat 0 0 !important;}
.editor-tools-block { padding:0px;}
.fore-color{ color:#333333; border:1px solid #fff; background:#fff; height:26px; border-radius:4px; font-size:13px;}

.editor-container5 .left-pane > ul{ padding:10px; margin-top: 30px;}
.editor-container5 .left-pane{ padding:0; background:#eee; border-right: 1px solid #ddd; border-radius:0; overflow: auto}
.editor-container5 .middle-pane{ padding-left:0; padding-right: 0; /* margin-top: -25px; */}
.editor-container5 .right-pane{/* border: 1px solid; */background: #eee;border-left: 1px solid #ddd; -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none; position:relative; padding: 0;}
.editor-container5 .right-pane> *{ /*border: 1px dashed;  display: inline-block;  padding: 3px; position: absolute;  cursor: all-scroll; top: 10px;  text-align: center; margin-left: -16px; margin-top: 3px*/}
.editor-container5 .middle-pane .iframeOverlay{background-color:#fff;position:absolute;top:50px;color:#000;overflow:auto;padding:10px;font-family:initial;font-size:14px;padding-left:12px;padding-top:3px;};

.ui-state-highlight { background-color: #000 }
.fixed-layout .editor-tools-block { -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);	box-shadow: 0 1px 2px rgba(0,0,0,0.4);}
.editor-btn {display: inline-block;padding: 4px 4px;outline: 0;cursor: default;float: left;  position:relative; margin:0 2px; /*background:#282f3f;*/ border:1px solid #282f3f; border-radius:3px;  cursor:pointer;  min-height:31px;	}
.cke_button_icon {cursor: inherit;background-repeat: no-repeat;width:20px;height:20px;float: left;display: inline-block;}
.editor-btn.active{background:#738892; border:1px solid #3d525c;}
.editor-btn:hover{background:#738892; border:1px solid #3d525c;}
.editor-btn-sep {float: left;background-color:#7c8e96;margin:2px 10px;height: 27px;width: 1px;}

.cke_button__bold .cke_button_icon{background-position:-15px 3px !important;}
.cke_button__italic .cke_button_icon{background-position:-15px -35px !important;}
.cke_button__underline .cke_button_icon{background-position:-15px -76px!important;}
.cke_button__strike .cke_button_icon{background-position:-15px -114px !important;}
.cke_button__link  .cke_button_icon{background-position:-15px -162px !important;}
.cke_button__blockquote .cke_button_icon{background-position:-15px -205px !important;}
.cke_button__image .cke_button_icon{background-position:-15px -252px !important;}
.cke_button__source .cke_button_icon{background-position:-15px -296px !important;}
.cke_button__bulletedlist .cke_button_icon{background-position:-15px -341px !important;}
.cke_button__numberedlist .cke_button_icon{background-position:-15px -388px !important;}

.cke_button__maximize.cke_button_on .cke_button_icon{background-position:-15px -798px !important;}
.cke_button__maximize.cke_button_off .cke_button_icon{background-position:-15px -848px !important;}
.cke_button__superscript .cke_button_icon{background-position:-15px -895px !important;}
.cke_button__subscript .cke_button_icon{background-position:-15px -931px !important;}
.cke_button__table .cke_button_icon{background-position:-15px -970px !important;}
.cke_button__undo .cke_button_icon{background-position:-15px -616px !important;}
.cke_button__redo .cke_button_icon{background-position:-15px -661px !important;}

.cke_button__outdent .cke_button_icon{background-position:-15px -707px !important;}
.cke_button__indent .cke_button_icon{background-position:-15px -751px !important;}
.cke_button__justifyleft .cke_button_icon{background-position:-15px -526px !important;}
.cke_button__justifycenter .cke_button_icon{background-position:-15px -480px !important;}
.cke_button__justifyright .cke_button_icon{background-position:-15px -571px !important;}
.cke_button__justifyblock .cke_button_icon{background-position:-15px -433px !important;}
.cke_button__location .cke_button_icon{background-position:-15px -1011px !important;}

.cke_button__mathjax .cke_button_icon{background-position:-15px -1049px !important;}




.cke_button__bold.cke_button_on .cke_button_icon{background-position:-66px 3px !important;}
.cke_button__italic.cke_button_on .cke_button_icon{background-position:-66px -35px !important;}
.cke_button__underline.cke_button_on .cke_button_icon{background-position:-66px -76px!important;}
.cke_button__strike.cke_button_on .cke_button_icon{background-position:-66px -114px !important;}
.cke_button__link.cke_button_on  .cke_button_icon{background-position:-66px -162px !important;}
.cke_button__blockquote.cke_button_on .cke_button_icon{background-position:-66px -205px !important;}
.cke_button__image.cke_button_on .cke_button_icon{background-position:-66px -252px !important;}
.cke_button__source.cke_button_on .cke_button_icon{background-position:-66px -296px !important;}
.cke_button__bulletedlist.cke_button_on .cke_button_icon{background-position:-66px -341px !important;}
.cke_button__numberedlist.cke_button_on .cke_button_icon{background-position:-66px -388px !important;}

.cke_button__superscript.cke_button_on .cke_button_icon{background-position:-66px -895px !important;}
.cke_button__subscript.cke_button_on .cke_button_icon{background-position:-66px -931px !important;}
.cke_button__table.cke_button_on .cke_button_icon{background-position:-66px -970px !important;}
.cke_button__undo.cke_button_on .cke_button_icon{background-position:-66px -616px !important;}
.cke_button__redo.cke_button_on .cke_button_icon{background-position:-66px -661px !important;}

.cke_button__outdent.cke_button_on .cke_button_icon{background-position:-66px -706px !important;}
.cke_button__indent.cke_button_on .cke_button_icon{background-position:-66px -751px !important;}
.cke_button__justifyleft.cke_button_on .cke_button_icon{background-position:-66px -526px !important;}
.cke_button__justifycenter.cke_button_on .cke_button_icon{background-position:-66px -480px !important;}
.cke_button__justifyright.cke_button_on .cke_button_icon{background-position:-66px -571px !important;}
.cke_button__justifyblock.cke_button_on .cke_button_icon{background-position:-66px -433px !important;}
.cke_button__location.cke_button_on .cke_button_icon{background-position:-66px -1011px !important;}

.cke_button__location.cke_button_off .cke_button_icon{background-position:-65px -1011px !important;}

.cke_button__mathjax.cke_button_on .cke_button_icon{background-position:-66px -1049px !important;}


.editor-alignjustyfy-icon .cke_button_icon{background-position:-15px -432px !important;}
.editor-aligncenter-icon .cke_button_icon{background-position:-15px -479px !important;}
.editor-alignleft-icon .cke_button_icon{background-position:-15px -525px !important;}
.editor-alignright-icon .cke_button_icon{background-position:-15px -570px !important;}
.editor-undo-icon .cke_button_icon{background-position:-15px -616px !important;}
.editor-redo-icon .cke_button_icon{background-position:-15px -661px !important;}
.editor-aside-icon .cke_button_icon{background-position:-15px -706px !important;}
.editor-sidebar-icon .cke_button_icon{background-position:-15px -750px !important;}

.fullscreen.wysihtml5-supported .from-container-row .row>.form-group{ margin:0;}


.resizer-container{ padding:0 15px; box-shadow: 0 1px 5px rgba(0,0,0,0.1); position: relative;z-index: 2; border-bottom: 1px solid #d0dde3; }
.switch-box .btn-group:after {background: #6b6b6b;height: 2px;content: "";display: block;margin: 7px 8px;border-bottom: 1px solid #999999;}
.switch-box {margin-top:17px;margin-right: 20px;margin-left:2px; position: relative;text-align: right;}
.switch-box .btn:active, .switch-box .btn.active {outline: 0;-webkit-box-shadow:none;box-shadow:none;}
.switch-box .btn-group {border: 1px solid #cdd3d2;border-radius: 20px;height: 18px;}
.switch-box .btn-group .btn.btn-primary {background: none;font-size: 11px;color: #999999;text-transform: uppercase;padding: 0px 6px;position: relative;background: none !important;height: 16px; border:0;}
.active.build .icon_bullet {background-position: -9px -470px;width: 25px;height: 25px;margin-top: -11.5px;margin-left: -10.5px;color: #000;}
.build .icon_bullet {width: 6px;height: 6px;position: absolute;background-position: -95px -477px;left: 6px;top: 50%;margin-top: 0px;margin-top: -3px;}

.switch-box .btn-group .btn.btn-primary.active span {color: #000;}
.switch-box .btn-group .btn.btn-primary.build span {position: relative;top: -20px;left: -15px;}
.switch-box .btn-group .btn.btn-primary span {position: relative;top: -20px; font-size:11px;}
.switch-box label {font-size: 12px !important;text-transform: uppercase;font-weight: 400;}
.buildplustest .icon_bullet {width: 6px;height: 6px;position: absolute;background-position: -95px -477px;left: 50%;top: 50%;margin-top: -3px;margin-left: -3px;}
.test .icon_bullet {width: 6px;height: 6px;position: absolute;background-position: -95px -477px;right: 6px;top: 50%;margin-top: 0px;margin-top: -3px;}
.switch-box .btn-group .btn.btn-primary.test span {position: relative;top: -20px;right: -15px;}
.active.buildplustest .icon_bullet {background-position:-9px -470px;width: 25px;height: 25px;margin-top: -11.5px;margin-left: -14.5px;color: #000;}
.active.test .icon_bullet {background-position:-9px -470px;width: 25px;height: 25px;margin-top: -11.5px;margin-right: -10.5px;color: #000;}



.resize-view { }
.resize-view ul {list-style: none; padding:0; margin:0;}
.resize-view li {padding:5px 5px;border-right: 1px solid #e5e5e5;float:left;}
.resize-view li:last-child {border-right: 0px solid #e5e5e5;}
.resize-view li.active {
    border-bottom: 2px solid #800080;
}
.resize-view .desktop-view {width:40px;height:40px;float: left;margin-right: 0px;background-position:-255px -5px; cursor:pointer;}
.resize-view .tablet-view {width:40px;height:40px;float: left;margin-right: 0px;background-position:-5px -155px; cursor:pointer;}
.resize-view .small-tablet-view {width:40px;height:40px;float: left;margin-right: 0px;background-position:-6px -357px; cursor:pointer;}
.resize-view .iphone5-view {width:40px;height:40px;float: left;margin-right: 0px;background-position:-55px -406px; cursor:pointer;}

.resizer-content{ padding:15px 0;}


/*============##############  Editor css End    ############ ================*/

#wysihtml5-editor-toolbar  .editor-tools-block.right-button{ margin-right:20px;}

.editor-container5 .middle-pane .iframeOverlay header{background: none}

.hideElm{display: none!important}

.ToBeOccupied{
    height: 50px;
    border: 1px dashed;
    width: 100%;
    opacity: 1 !important;
}
.from-container-row .editor-container5 >.row{ background:#fff; padding:0;}
.cke_chrome{border:0; box-shadow:none;}
.cke_bottom{/* display:none;*/}
.cke_top{ background:#1f2637; border:1px solid #1a1e26; box-shadow:none;}
.cke_bottom{border-top: 1px solid rgba(0,0,0,0.3);box-shadow: none;
            background: rgba(0,0,0,0.7);}
.cke_path_item, .cke_path_empty{
    display: inline-block;
    float: left;
    padding: 3px 4px;
    margin-right: 2px;
    cursor: default;
    text-decoration: none;
    outline: 0;
    border: 0;
    color: #FFF;
    font-weight: 400;
    font-size: 13px;
    text-shadow: none;
}

.right-pane .menu-block { border-left: 0 none;
                          border-bottom:0px solid #141824;
                          border-top:0px solid #282f41;
                          color: #4a4c54;
                          cursor: move;
                          font-size: 10px;
                          padding:8px 0 5px 0;
                          text-align: center;
                          text-transform: uppercase;   border-right:0; background: rgba(0,0,0,1); margin:4px auto ;
                          width: 95px; border-radius:3px; text-align: left; padding-left:14px; position:relative;
}
.right-pane .tab-name{ background:none;  word-wrap: break-word;  padding-right:0; padding-left:5px; margin:0px 0 0 0; line-height: 13px; width: 80px;}
.right-pane .menu-block .glyphicon.glyphicon-th{ width:10px; height:10px; position:absolute; left:5px; top:50%; margin-top:-5px;}
.cke_toolgroup{ background:none; border:0;}
.cke_combo__styles .cke_combo_button, .cke_combo__format .cke_combo_button{ background:#fff; border:0; box-shadow:none;}
.cke_combo_off a.cke_combo_button:active, .cke_combo_on a.cke_combo_button, .cke_combo_off a.cke_combo_button:focus, .cke_combo_off a.cke_combo_button:focus{ box-shadow:none  !important; border:0; background:#fff !important;}
.cke_button {

    position: relative;

}
.cke_toolgroup{ box-shadow:none;}
.cke_button:hover{ background: none !important; border: 0px solid #3d525c; box-shadow:none !important;}
.cke_button_on{ box-shadow:none; background:none;}
.cke_combo_button {margin: 0 6px 3px 0 !important;}
.cke_combo_text {line-height: 28px;}
.cke_combo_open {margin: 2px 7px 1px;}
.view-wrapper{-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);box-shadow: 0 0 10px rgba(0,0,0,0.2); margin: 0 auto;overflow-y: auto;/*overflow-x: hidden;height: 98%; padding: 10px*/}
button .glyphicon:before{font-size: 12px;
                         position: relative;
                         left: -6px;
                         top: -5px;}
.devider{border-bottom: 1px solid #141824;border-top: 1px solid #282f41; height:1px; display:block; width:100%;}
.right-pane .tab-icon {height:14px;width:14px;margin: 0 auto;border: 2px solid #fff;padding: 0;margin: 0 auto !important; display:none;}
.right-pane .ui-draggable.ui-draggable-dragging .tab-name{ color:#fff; opacity:1; }
.right-pane .ui-draggable.ui-draggable-dragging{ background:#319e57;-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);box-shadow: 0 0 5px 0 rgba(0,0,0,0.4); height:50px !important; width:110px !important; padding:0px !important;  }
.right-pane .ui-draggable.ui-draggable-dragging .tab-icon{ display:none;}
.right-pane .ui-draggable.ui-draggable-dragging .tab-name{ margin:0; padding:0; height:50px; width:110px; display:table-cell; vertical-align:middle; padding-left:18px;}
/*Do not modified this part of css Start */
.view-wrapper *{ 
    background:inherit; 
    /*border:inherit;*/ 
    box-shadow:none; 
    position:inherit; 
    /*padding:0; 
    margin:0; */
    line-height:inherit;
    font-size:inherit;
    font-weight: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    vertical-align: inherit;
    border-radius:inherit; font-family:inherit; box-sizing:inherit;
}


.view-wrapper article, .view-wrapper aside, .view-wrapper details, .view-wrapper figcaption, .view-wrapper figure, .view-wrapper footer, .view-wrapper header, .view-wrapper hgroup, .view-wrapper main, .view-wrapper nav, .view-wrapper section, .view-wrapper summary{display:block}
.view-wrapper audio, .view-wrapper canvas, .view-wrapper progress, .view-wrapper video{display:inline-block;vertical-align:baseline}
.view-wrapper a{background:transparent}
.view-wrapper a:active, .view-wrapper a:hover{outline:0}
.view-wrapper abbr[title]{border-bottom:1px dotted}
.view-wrapper b, .view-wrapper strong{font-weight:bold}
.view-wrapper dfn{font-style:italic}
.view-wrapper h1{font-size:2em;margin:0.67em 0}
.view-wrapper mark{background:#ff0;color:#000}
.view-wrapper small{font-size:80%}
.view-wrapper sub, .view-wrapper sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
.view-wrapper sup{top:-0.5em}
.view-wrapper sub{bottom:-0.25em}
.view-wrapper img{border:0}
.view-wrapper figure{margin:1em 40px}
.view-wrapper hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
.view-wrapper button, .view-wrapper input, .view-wrapper optgroup, .view-wrapper select, .view-wrapper textarea{color:inherit;font:inherit;margin:0}
.view-wrapper button{overflow:visible}
.view-wrapper button, .view-wrapper select{text-transform:none}
.view-wrapper button, .view-wrapper input[type="button"], .view-wrapper input[type="reset"], .view-wrapper input[type="submit"]{-webkit-appearance:button;cursor:pointer}
.view-wrapper button[disabled],  .view-wrapper input[disabled]{cursor:default}
.view-wrapper button::-moz-focus-inner, .view-wrapper input::-moz-focus-inner{border:0;padding:0}
.view-wrapper input{line-height:normal}
.view-wrapper input[type="checkbox"], .view-wrapper input[type="radio"]{box-sizing:border-box;padding:0}
.view-wrapper input[type="number"]::-webkit-inner-spin-button, .view-wrapper input[type="number"]::-webkit-outer-spin-button{height:auto}
.view-wrapper input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
.view-wrapper input[type="search"]::-webkit-search-cancel-button, .view-wrapper input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
.view-wrapper fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
.view-wrapper legend{border:0;padding:0}
.view-wrapper textarea{overflow:auto}
.view-wrapper optgroup{font-weight:bold}
.view-wrapper table{border-collapse:collapse;border-spacing:0}
.view-wrapper td, .view-wrapper th{padding:0;min-width: 20px;}
.view-wrapper *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.view-wrapper *:before, .view-wrapper *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.view-wrapper {font-size:1.3em;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.view-wrapper{font-family:sans-serif;font-size:1.1em;line-height:1.42857143;color:#333;background-color:#fff;overflow: auto; border: 0}
.view-wrapper input, .view-wrapper button, .view-wrapper select, .view-wrapper textarea{font-family:inherit;font-size:inherit;line-height:inherit}
.view-wrapper a{color:#428bca;text-decoration:none}
.view-wrapper a:hover, .view-wrapper a:focus{color:#319e57;text-decoration:underline}
.view-wrapper a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.view-wrapper figure{margin:0}
.view-wrapper img{vertical-align:middle}
.view-wrapper hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}
.view-wrapper h1, .view-wrapper h2, .view-wrapper h3, .view-wrapper h4, .view-wrapper h5, .view-wrapper h6, .view-wrapper .h1, .view-wrapper .h2, .view-wrapper .h3, .view-wrapper .h4, .view-wrapper .h5, .view-wrapper .h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}
.view-wrapper h1 small, .view-wrapper h2 small, .view-wrapper h3 small, .view-wrapper h4 small, .view-wrapper h5 small, .view-wrapper h6 small, .view-wrapper .h1 small, .view-wrapper .h2 small, .view-wrapper .h3 small, .view-wrapper .h4 small, .view-wrapper .h5 small, .view-wrapper .h6 small, .view-wrapper h1 .small, .view-wrapper h2 .small, .view-wrapper h3 .small, .view-wrapper h4 .small, .view-wrapper h5 .small, .view-wrapper h6 .small, .view-wrapper .h1 .small, .view-wrapper .h2 .small, .view-wrapper .h3 .small, .view-wrapper .h4 .small, .view-wrapper .h5 .small, .view-wrapper .h6 .small{font-weight:normal;line-height:1;color:#999}
.view-wrapper h1, .view-wrapper .h1, .view-wrapper h2, .view-wrapper .h2, .view-wrapper h3, .view-wrapper .h3{margin-top:20px;margin-bottom:10px}
.view-wrapper h1 small, .view-wrapper .h1 small, .view-wrapper h2 small, .view-wrapper .h2 small, .view-wrapper h3 small, .view-wrapper .h3 small, .view-wrapper h1 .small, .view-wrapper .h1 .small, .view-wrapper h2 .small, .view-wrapper .h2 .small, .view-wrapper h3 .small, .view-wrapper .h3 .small{font-size:65%;}
.view-wrapper h4, .view-wrapper .h4, .view-wrapper h5, .view-wrapper .h5, .view-wrapper h6, .view-wrapper .h6{margin-top:10px;margin-bottom:10px}
.view-wrapper h4 small, .view-wrapper .h4 small, .view-wrapper h5 small, .view-wrapper .h5 small, .view-wrapper h6 small, .view-wrapper .h6 small, .view-wrapper h4 .small, .view-wrapper .h4 .small, .view-wrapper h5 .small, .view-wrapper .h5 .small, .view-wrapper h6 .small, .view-wrapper .h6 .small{font-size:75%}
.view-wrapper h1, .view-wrapper .h1{font-size:2em;}
.view-wrapper h2, .view-wrapper .h2{font-size:1.8em;}
.view-wrapper h3, .view-wrapper .h3{font-size:1.6em;}
.view-wrapper h4, .view-wrapper .h4{font-size:1.4em;}
.view-wrapper h5, .view-wrapper .h5{font-size:1.3em;}
.view-wrapper h6, .view-wrapper .h6{font-size:1.3em;}
.view-wrapper p .strong{ color:#a3a3a4;}
.view-wrapper p{margin:0 0 10px;}
.view-wrapper a .strong {color: #319e57;text-decoration: none;}
.view-wrapper ul, .view-wrapper ol {margin-top: 0;margin-bottom: 10px;}








/*===============================*/


.cke_wysiwyg_div *{ 
    background:inherit; 
    /*border:inherit;*/ 
    box-shadow:none; 
    position:inherit; 
    /*padding:0; 
    margin:0; */
    line-height:inherit;
    font-size:inherit;
    font-weight: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    vertical-align: inherit;
    border-radius:inherit; font-family:inherit; box-sizing:inherit;
}


.cke_wysiwyg_div article, .cke_wysiwyg_div aside, .cke_wysiwyg_div details, .cke_wysiwyg_div figcaption, .cke_wysiwyg_div figure, .cke_wysiwyg_div footer, .cke_wysiwyg_div header, .cke_wysiwyg_div hgroup, .cke_wysiwyg_div main, .cke_wysiwyg_div nav, .cke_wysiwyg_div section, .cke_wysiwyg_div summary{display:block}
.cke_wysiwyg_div audio, .cke_wysiwyg_div canvas, .cke_wysiwyg_div progress, .cke_wysiwyg_div video{display:inline-block;vertical-align:baseline}
.cke_wysiwyg_div a{background:transparent}
.cke_wysiwyg_div a:active, .cke_wysiwyg_div a:hover{outline:0}
.cke_wysiwyg_div abbr[title]{border-bottom:1px dotted}
.cke_wysiwyg_div b, .cke_wysiwyg_div strong{font-weight:bold}
.cke_wysiwyg_div dfn{font-style:italic}
.cke_wysiwyg_div h1{font-size:2em;margin:0.67em 0}
.cke_wysiwyg_div mark{background:#ff0;color:#000}
.cke_wysiwyg_div small{font-size:80%}
.cke_wysiwyg_div sub, .cke_wysiwyg_div sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
.cke_wysiwyg_div sup{top:-0.5em}
.cke_wysiwyg_div sub{bottom:-0.25em}
.cke_wysiwyg_div img{border:0; z-index: 1;}
.cke_wysiwyg_div figure{margin:1em 40px}
.cke_wysiwyg_div hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
.cke_wysiwyg_div button, .cke_wysiwyg_div input, .cke_wysiwyg_div optgroup, .cke_wysiwyg_div select, .cke_wysiwyg_div textarea{color:inherit;font:inherit;margin:0}
.cke_wysiwyg_div button{overflow:visible}
.cke_wysiwyg_div button, .cke_wysiwyg_div select{text-transform:none}
.cke_wysiwyg_div button, .cke_wysiwyg_div input[type="button"], .cke_wysiwyg_div input[type="reset"], .cke_wysiwyg_div input[type="submit"]{-webkit-appearance:button;cursor:pointer}
.cke_wysiwyg_div button[disabled],  .cke_wysiwyg_div input[disabled]{cursor:default}
.cke_wysiwyg_div button::-moz-focus-inner, .cke_wysiwyg_div input::-moz-focus-inner{border:0;padding:0}
.cke_wysiwyg_div input{line-height:normal}
.cke_wysiwyg_div input[type="checkbox"], .cke_wysiwyg_div input[type="radio"]{box-sizing:border-box;padding:0}
.cke_wysiwyg_div input[type="number"]::-webkit-inner-spin-button, .cke_wysiwyg_div input[type="number"]::-webkit-outer-spin-button{height:auto}
.cke_wysiwyg_div input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
.cke_wysiwyg_div input[type="search"]::-webkit-search-cancel-button, .cke_wysiwyg_div input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
.cke_wysiwyg_div fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
.cke_wysiwyg_div legend{border:0;padding:0}
.cke_wysiwyg_div textarea{overflow:auto}
.cke_wysiwyg_div optgroup{font-weight:bold}
.cke_wysiwyg_div table{border-collapse:collapse;border-spacing:0}
.cke_wysiwyg_div td, .cke_wysiwyg_div th{padding:0; min-width: 20px;}
.cke_wysiwyg_div th{font-weight: bold;}
.cke_wysiwyg_div *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.cke_wysiwyg_div *:before, .cke_wysiwyg_div *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.cke_wysiwyg_div {font-size:1.3em;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.cke_wysiwyg_div{font-family:sans-serif;font-size:1.1em;line-height:1.42857143;color:#333;background-color:#fff}
.cke_wysiwyg_div input, .cke_wysiwyg_div button, .cke_wysiwyg_div select, .cke_wysiwyg_div textarea{font-family:inherit;font-size:inherit;line-height:inherit}
.cke_wysiwyg_div a{color:#428bca;text-decoration:none}
.cke_wysiwyg_div a:hover, .cke_wysiwyg_div a:focus{color:#319e57;text-decoration:underline}
.cke_wysiwyg_div a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.cke_wysiwyg_div figure{margin:0}
.cke_wysiwyg_div img{vertical-align:middle}
.cke_wysiwyg_div hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}
.cke_wysiwyg_div h1, .cke_wysiwyg_div h2, .cke_wysiwyg_div h3, .cke_wysiwyg_div h4, .cke_wysiwyg_div h5, .cke_wysiwyg_div h6, .cke_wysiwyg_div .h1, .cke_wysiwyg_div .h2, .cke_wysiwyg_div .h3, .cke_wysiwyg_div .h4, .cke_wysiwyg_div .h5, .cke_wysiwyg_div .h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}
.cke_wysiwyg_div h1 small, .cke_wysiwyg_div h2 small, .cke_wysiwyg_div h3 small, .cke_wysiwyg_div h4 small, .cke_wysiwyg_div h5 small, .cke_wysiwyg_div h6 small, .cke_wysiwyg_div .h1 small, .cke_wysiwyg_div .h2 small, .cke_wysiwyg_div .h3 small, .cke_wysiwyg_div .h4 small, .cke_wysiwyg_div .h5 small, .cke_wysiwyg_div .h6 small, .cke_wysiwyg_div h1 .small, .cke_wysiwyg_div h2 .small, .cke_wysiwyg_div h3 .small, .cke_wysiwyg_div h4 .small, .cke_wysiwyg_div h5 .small, .cke_wysiwyg_div h6 .small, .cke_wysiwyg_div .h1 .small, .cke_wysiwyg_div .h2 .small, .cke_wysiwyg_div .h3 .small, .cke_wysiwyg_div .h4 .small, .cke_wysiwyg_div .h5 .small, .cke_wysiwyg_div .h6 .small{font-weight:normal;line-height:1;color:#999}
.cke_wysiwyg_div h1, .cke_wysiwyg_div .h1, .cke_wysiwyg_div h2, .cke_wysiwyg_div .h2, .cke_wysiwyg_div h3, .cke_wysiwyg_div .h3{margin-top:20px;margin-bottom:10px}
.cke_wysiwyg_div h1 small, .cke_wysiwyg_div .h1 small, .cke_wysiwyg_div h2 small, .cke_wysiwyg_div .h2 small, .cke_wysiwyg_div h3 small, .cke_wysiwyg_div .h3 small, .cke_wysiwyg_div h1 .small, .cke_wysiwyg_div .h1 .small, .cke_wysiwyg_div h2 .small, .cke_wysiwyg_div .h2 .small, .cke_wysiwyg_div h3 .small, .cke_wysiwyg_div .h3 .small{font-size:65%;}
.cke_wysiwyg_div h4, .cke_wysiwyg_div .h4, .cke_wysiwyg_div h5, .cke_wysiwyg_div .h5, .cke_wysiwyg_div h6, .cke_wysiwyg_div .h6{margin-top:10px;margin-bottom:10px}
.cke_wysiwyg_div h4 small, .cke_wysiwyg_div .h4 small, .cke_wysiwyg_div h5 small, .cke_wysiwyg_div .h5 small, .cke_wysiwyg_div h6 small, .cke_wysiwyg_div .h6 small, .cke_wysiwyg_div h4 .small, .cke_wysiwyg_div .h4 .small, .cke_wysiwyg_div h5 .small, .cke_wysiwyg_div .h5 .small, .cke_wysiwyg_div h6 .small, .cke_wysiwyg_div .h6 .small{font-size:75%}
.cke_wysiwyg_div h1, .cke_wysiwyg_div .h1{font-size:1.2em;}
.cke_wysiwyg_div h2, .cke_wysiwyg_div .h2{font-size:1.1em;}
.cke_wysiwyg_div h3, .cke_wysiwyg_div .h3{font-size:1.1em;}
.cke_wysiwyg_div h4, .cke_wysiwyg_div .h4{font-size:1.1em;}
.cke_wysiwyg_div h5, .cke_wysiwyg_div .h5{font-size:1.1em;}
.cke_wysiwyg_div h6, .cke_wysiwyg_div .h6{font-size:1.1em;}
/*.cke_wysiwyg_div p .strong{ color:#a3a3a4;}*/
.cke_wysiwyg_div p{margin:0 0 10px;}
/*.cke_wysiwyg_div a .strong {color: #319e57;text-decoration: none;}*/
.cke_wysiwyg_div ul, .cke_wysiwyg_div ol {margin-top: 0;margin-bottom: 10px;}


#assetsOverlay{width: 100%;position: absolute; display:none; background-color: rgba(255,255,255,0.5);left:0px;height: 100%;top:0px; padding: 10px;}
.assetWrapper{border: 1px solid #000;float: left; height: 90px; width: 90px; border-radius: 4px;}
.assetImg{width: 120px;height: 120px;max-width: inherit;}
.sliderArrows{    position: absolute;    bottom: 0px; background:rgba(0,0,0,0.4); width:100%; text-align:center;}
#prevArrow, #nextArrow{ width:30px; height:30px; display:inline-block; border: none;}
#prevArrow{ background-position:-124px -459px; text-indent:-999em;  }
#nextArrow{ background-position:-162px -459px; text-indent:-999em;  }
.editor-main-panel.row{ margin:0;}
.editor-main-panel.row .test-pane{ margin:0; padding:20px 0; overflow: auto;   text-align: center;}
/*css for placing button to change the video URL*/
.vidBtn{
    position: absolute;
    left: 5px;
    z-index: 1;
}
.custom-tooltip-styling{
    height: 50px;
}

/*.cke_wysiwyg_div table{
    border: 1px solid #000 !important;
}*/
/*Do not modified this part of css End */

.modal.get-media{ position:fixed !important;}


.cke_reset_all .modal.get-media {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.cke_reset_all .modal.get-media .modal-dialog {
    width: 900px; position:relative;
    margin: 30px auto;
}
.cke_reset_all .modal.get-media .modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    background-clip: padding-box;
    outline: none;
}

.cke_reset_all .modal.get-media .modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee; min-height: 16.42857143px; background: #3f51b5;
    color: #fff;
    font-size: 26px;
} 

.cke_reset_all .modal.get-media .sub-title {
    background: #efefef;
    border-bottom: 1px solid #e5e5e5;
    padding: 7px 15px;
}
.cke_reset_all .modal.get-media .modal-content-container {
    padding: 20px 15px 0px;
}

.cke_reset_all .modal.get-media .header-m .close {
    width: 35px;
    height: 35px;
    color: #fff;
    opacity: 1;
    font-size: 26px;
    margin-top: -2px;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
.cke_reset_all .modal.get-media .close:hover, .cke_reset_all .modal.get-media .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity=50);
}
.cke_reset_all .modal.get-media .modal-footer {
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}


.cke_reset_all .modal.get-media .btn.btn-warning {
    background: #fff;
    color: #999999;
    border: 1px solid #999999;
    border-radius: 20px;
    padding: 6px 20px;
    text-transform: uppercase;
}
.cke_reset_all .modal.get-media .btn {
    -webkit-transition: ease-in-out .15s;
    -o-transition: ease-in-out .15s;
    transition: ease-in-out .15s;
}
.cke_reset_all .modal.get-media .btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.cke_reset_all .modal.get-media .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cke_reset_all .modal.get-media .modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.cke_reset_all .modal.get-media  .btn-primary {
    background: #880e4f;
    border: 1px solid #880e4f;
    border-radius: 20px;
    padding: 6px 20px 4px;
    text-transform: uppercase; color:#fff;
}
.cke_reset_all .modal.get-media .modal-content-container {
    padding: 20px 15px 0px;
}


.cke_reset_all .modal.get-media .box-theme:hover {
    border: 1px solid #3f51b5;
    background: #fff;
    cursor: pointer;
}
.cke_reset_all .modal.get-media .box-theme {
    display: inline-block;
    max-width: 200px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0 4px 5px -3px rgba(0,0,0,0.2);
    box-shadow: 0 4px 5px -3px rgba(0,0,0,0.2);
    position: relative;
}

.cke_reset_all .modal.get-media .overlay {
    display: none;
}
.cke_reset_all .modal.get-media .modal-content-container .box-theme:hover .images-select {
    display: block;
}
.cke_reset_all .modal.get-media .images-select {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 55;
    display: block;
}
.cke_reset_all .modal.get-media .images-select input[type=checkbox] {
    display: none;
}
.cke_reset_all .modal.get-media .images-select .check-box {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
}




/*----------- Start css add on 15.12.2014 for package droppable.-----------*/

.cke_reset_all .modal.get-media .modal-content-container{ padding:20px 15px 0px;max-height: 275px;overflow: auto;}
.cke_reset_all .modal.get-media .modal-content-container .box-theme-title{ text-align:center; margin-bottom:20px; font-size: 14px;}
.cke_reset_all .modal.get-media .modal-header {padding: 9px 15px;border-bottom: 1px solid #eee;}
.cke_reset_all .modal.get-media .modal-header h3 {margin: 0;line-height: 30px;}
.cke_reset_all .modal.get-media .modal-content-container .box-theme:hover .images-select{ display:block;}
.cke_reset_all .modal.get-media .box-theme.active .overlay{ display:block; height:100%; width:100%; background:rgba(0,0,0,0.3); position:absolute; left:0; top:0; border-radius:5px;}
/* Checkmark style starts */
@-moz-keyframes selectbxbtm {  0% { height: 0;} 100% { height:10px;}}
@-webkit-keyframes selectbxbtm {  0% { height: 0;} 100% { height:10px;}}
@keyframes selectbxbtm {  0% { height: 0;} 100% { height:10px;}}
@keyframes selectbxtop {  0% { height: 0;} 50% { height: 0;} 100% { height:20px;}}
@-webkit-keyframes selectbxtop {  0% { height: 0;} 50% { height: 0;} 100% { height:20px;}}
@-moz-keyframes selectbxtop {  0% { height: 0;} 50% { height: 0;} 100% { height:20px;}}
.cke_reset_all .modal.get-media .images-select{ width:20px; height:20px; position:absolute; left:50%; top:50%; margin-left:-10px; margin-top:-10px; z-index:55; display:block;}
.cke_reset_all .modal.get-media .images-select input[type=checkbox] { display: none; }

.cke_reset_all .modal.get-media .images-select .check-box {  height:20px;  width:20px;  background-color: transparent;  border:2px solid transparent;  border-radius: 5px;  position: relative;  display: inline-block;  -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;  box-sizing: border-box;  -moz-transition: border-color ease 0.2s;  -o-transition: border-color ease 0.2s;  -webkit-transition: border-color ease 0.2s;  transition: border-color ease 0.2s;  cursor: pointer;}

.cke_reset_all .modal.get-media .images-select .check-box::before, .cke_reset_all .modal.get-media .images-select .check-box::after {  -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;  box-sizing: border-box;  position: absolute;  height: 0;  width:3px;  background-color: #34b93d;  display: inline-block;  -moz-transform-origin: left top;  -ms-transform-origin: left top;  -o-transform-origin: left top;  -webkit-transform-origin: left top;  transform-origin: left top;  border-radius: 5px; content: ' ';  -webkit-transition: opacity ease .5;  -moz-transition: opacity ease .5;  transition: opacity ease .5;}

.cke_reset_all .modal.get-media .images-select  .check-box::before {  top:13px;  left:8px;  -moz-transform: rotate(-135deg);  -ms-transform: rotate(-135deg);  -o-transform: rotate(-135deg);  -webkit-transform: rotate(-135deg);  transform: rotate(-135deg);}
.cke_reset_all .modal.get-media .images-select .check-box::after {  top:6px;  left:1px;  -moz-transform: rotate(-45deg);  -ms-transform: rotate(-45deg);  -o-transform: rotate(-45deg);  -webkit-transform: rotate(-45deg);  transform: rotate(-45deg);}

.cke_reset_all .modal.get-media .box-theme.active .images-select .check-box.checked { border-color: #34b93d; background: #fff; }
.cke_reset_all .modal.get-media .box-theme.active .images-select .check-box.checked::after {  height:25px;  -moz-animation: selectbxbtm 0.2s ease 0s forwards;  -o-animation: selectbxbtm 0.2s ease 0s forwards;  -webkit-animation: selectbxbtm 0.2s ease 0s forwards;  animation: selectbxbtm 0.2s ease 0s forwards;}
.cke_reset_all .modal.get-media .box-theme.active .images-select  .check-box.checked::before {  height:40px;  -moz-animation: selectbxtop 0.4s ease 0s forwards;  -o-animation: selectbxtop 0.4s ease 0s forwards;  -webkit-animation: selectbxtop 0.4s ease 0s forwards;  animation: selectbxtop 0.4s ease 0s forwards;}




.cke_reset_all .modal.get-media .row {
    margin-left: -15px;
    margin-right: -15px;
}
.cke_reset_all .modal.get-media .col-xs-1, .cke_reset_all .modal.get-media .col-sm-1, .cke_reset_all .modal.get-media .col-md-1, .cke_reset_all .modal.get-media .col-lg-1, .cke_reset_all .modal.get-media .col-xs-2, .cke_reset_all .modal.get-media .col-sm-2, .cke_reset_all .modal.get-media .col-md-2, .cke_reset_all .modal.get-media .col-lg-2, .cke_reset_all .modal.get-media .col-xs-3, .cke_reset_all .modal.get-media .col-sm-3, .cke_reset_all .modal.get-media .col-md-3, .cke_reset_all .modal.get-media .col-lg-3, .cke_reset_all .modal.get-media .col-xs-4, .cke_reset_all .modal.get-media .col-sm-4, .cke_reset_all .modal.get-media .col-md-4, .cke_reset_all .modal.get-media .col-lg-4, .cke_reset_all .modal.get-media .col-xs-5, .cke_reset_all .modal.get-media .col-sm-5, .cke_reset_all .modal.get-media .col-md-5, .cke_reset_all .modal.get-media .col-lg-5, .cke_reset_all .modal.get-media .col-xs-6, .cke_reset_all .modal.get-media .col-sm-6, .cke_reset_all .modal.get-media .col-md-6, .cke_reset_all .modal.get-media .col-lg-6, .cke_reset_all .modal.get-media .col-xs-7, .cke_reset_all .modal.get-media .col-sm-7, .cke_reset_all .modal.get-media .col-md-7, .cke_reset_all .modal.get-media .col-lg-7, .cke_reset_all .modal.get-media .col-xs-8, .cke_reset_all .modal.get-media .col-sm-8, .cke_reset_all .modal.get-media .col-md-8, .cke_reset_all .modal.get-media .col-lg-8, .cke_reset_all .modal.get-media .col-xs-9, .cke_reset_all .modal.get-media .col-sm-9, .cke_reset_all .modal.get-media .col-md-9, .cke_reset_all .modal.get-media .col-lg-9, .cke_reset_all .modal.get-media .col-xs-10, .cke_reset_all .modal.get-media .col-sm-10, .cke_reset_all .modal.get-media .col-md-10, .cke_reset_all .modal.get-media .col-lg-10, .cke_reset_all .modal.get-media .col-xs-11, .cke_reset_all .modal.get-media .col-sm-11, .cke_reset_all .modal.get-media .col-md-11, .cke_reset_all .modal.get-media .col-lg-11, .cke_reset_all .modal.get-media .col-xs-12, .cke_reset_all .modal.get-media .col-sm-12, .cke_reset_all .modal.get-media .col-md-12, .cke_reset_all .modal.get-media .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 14px;
    padding-right: 14px;
}
.cke_reset_all .modal.get-media .col-xs-1, .cke_reset_all .modal.get-media .col-xs-2, .cke_reset_all .modal.get-media .col-xs-3, .cke_reset_all .modal.get-media .col-xs-4, .cke_reset_all .modal.get-media .col-xs-5, .cke_reset_all .modal.get-media .col-xs-6, .cke_reset_all .modal.get-media .col-xs-7, .cke_reset_all .modal.get-media .col-xs-8, .cke_reset_all .modal.get-media .col-xs-9, .cke_reset_all .modal.get-media .col-xs-10, .cke_reset_all .modal.get-media .col-xs-11, .cke_reset_all .modal.get-media .col-xs-12 {
    float: left;
}
.cke_reset_all .modal.get-media .col-xs-12 {
    width: 100%;
}
.cke_reset_all .modal.get-media .col-xs-11 {
    width: 91.66666667%;
}
.cke_reset_all .modal.get-media .col-xs-10 {
    width: 83.33333333%;
}
.cke_reset_all .modal.get-media .col-xs-9 {
    width: 75%;
}
.cke_reset_all .modal.get-media .col-xs-8 {
    width: 66.66666667%;
}
.cke_reset_all .modal.get-media .col-xs-7 {
    width: 58.33333333%;
}
.cke_reset_all .modal.get-media .col-xs-6 {
    width: 50%;
}
.cke_reset_all .modal.get-media .col-xs-5 {
    width: 41.66666667%;
}
.cke_reset_all .modal.get-media .col-xs-4 {
    width: 33.33333333%;
}
.cke_reset_all .modal.get-media .col-xs-3 {
    width: 25%;
}
.cke_reset_all .modal.get-media .col-xs-2 {
    width: 16.66666667%;
}
.cke_reset_all .modal.get-media .col-xs-1 {
    width: 8.33333333%;
}
.cke_reset_all .modal.get-media .col-xs-pull-12 {
    right: 100%;
}
.cke_reset_all .modal.get-media .col-xs-pull-11 {
    right: 91.66666667%;
}
.cke_reset_all .modal.get-media .col-xs-pull-10 {
    right: 83.33333333%;
}
.cke_reset_all .modal.get-media .col-xs-pull-9 {
    right: 75%;
}
.cke_reset_all .modal.get-media .col-xs-pull-8 {
    right: 66.66666667%;
}
.cke_reset_all .modal.get-media .col-xs-pull-7 {
    right: 58.33333333%;
}
.cke_reset_all .modal.get-media .col-xs-pull-6 {
    right: 50%;
}
.cke_reset_all .modal.get-media .col-xs-pull-5 {
    right: 41.66666667%;
}
.cke_reset_all .modal.get-media .col-xs-pull-4 {
    right: 33.33333333%;
}
.cke_reset_all .modal.get-media .col-xs-pull-3 {
    right: 25%;
}
.cke_reset_all .modal.get-media .col-xs-pull-2 {
    right: 16.66666667%;
}
.cke_reset_all .modal.get-media .col-xs-pull-1 {
    right: 8.33333333%;
}
.cke_reset_all .modal.get-media .col-xs-pull-0 {
    right: 0%;
}
.cke_reset_all .modal.get-media .col-xs-push-12 {
    left: 100%;
}
.cke_reset_all .modal.get-media .col-xs-push-11 {
    left: 91.66666667%;
}
.cke_reset_all .modal.get-media .col-xs-push-10 {
    left: 83.33333333%;
}
.cke_reset_all .modal.get-media .col-xs-push-9 {
    left: 75%;
}
.cke_reset_all .modal.get-media .col-xs-push-8 {
    left: 66.66666667%;
}
.cke_reset_all .modal.get-media .col-xs-push-7 {
    left: 58.33333333%;
}
.cke_reset_all .modal.get-media .col-xs-push-6 {
    left: 50%;
}
.cke_reset_all .modal.get-media .col-xs-push-5 {
    left: 41.66666667%;
}
.cke_reset_all .modal.get-media .col-xs-push-4 {
    left: 33.33333333%;
}
.cke_reset_all .modal.get-media .col-xs-push-3 {
    left: 25%;
}
.cke_reset_all .modal.get-media .col-xs-push-2 {
    left: 16.66666667%;
}
.cke_reset_all .modal.get-media .col-xs-push-1 {
    left: 8.33333333%;
}
.cke_reset_all .modal.get-media .col-xs-push-0 {
    left: 0%;
}
.cke_reset_all .modal.get-media .col-xs-offset-12 {
    margin-left: 100%;
}
.cke_reset_all .modal.get-media .col-xs-offset-11 {
    margin-left: 91.66666667%;
}
.cke_reset_all .modal.get-media .col-xs-offset-10 {
    margin-left: 83.33333333%;
}
.cke_reset_all .modal.get-media .col-xs-offset-9 {
    margin-left: 75%;
}
.cke_reset_all .modal.get-media .col-xs-offset-8 {
    margin-left: 66.66666667%;
}
.cke_reset_all .modal.get-media .col-xs-offset-7 {
    margin-left: 58.33333333%;
}
.cke_reset_all .modal.get-media .col-xs-offset-6 {
    margin-left: 50%;
}
.cke_reset_all .modal.get-media .col-xs-offset-5 {
    margin-left: 41.66666667%;
}
.cke_reset_all .modal.get-media .col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.cke_reset_all .modal.get-media .col-xs-offset-3 {
    margin-left: 25%;
}
.cke_reset_all .modal.get-media .col-xs-offset-2 {
    margin-left: 16.66666667%;
}
.cke_reset_all .modal.get-media .col-xs-offset-1 {
    margin-left: 8.33333333%;
}
.cke_reset_all .modal.get-media .col-xs-offset-0 {
    margin-left: 0%;
}
@media (min-width: 768px) {
    .cke_reset_all .modal.get-media .col-sm-1, .cke_reset_all .modal.get-media .col-sm-2,.cke_reset_all .modal.get-media .col-sm-3, .cke_reset_all .modal.get-media .col-sm-4, .cke_reset_all .modal.get-media .col-sm-5, .cke_reset_all .modal.get-media .col-sm-6, .cke_reset_all .modal.get-media .col-sm-7, .cke_reset_all .modal.get-media .col-sm-8, .cke_reset_all .modal.get-media .col-sm-9, .cke_reset_all .modal.get-media .col-sm-10, .cke_reset_all .modal.get-media .col-sm-11, .cke_reset_all .modal.get-media .col-sm-12 {
        float: left;
    }
    .cke_reset_all .modal.get-media .col-sm-12 {
        width: 100%;
    }
    .cke_reset_all .modal.get-media .col-sm-11 {
        width: 91.66666667%;
    }
    .cke_reset_all .modal.get-media .col-sm-10 {
        width: 83.33333333%;
    }
    .cke_reset_all .modal.get-media .col-sm-9 {
        width: 75%;
    }
    .cke_reset_all .modal.get-media .col-sm-8 {
        width: 66.66666667%;
    }
    .cke_reset_all .modal.get-media .col-sm-7 {
        width: 58.33333333%;
    }
    .cke_reset_all .modal.get-media .col-sm-6 {
        width: 50%;
    }
    .cke_reset_all .modal.get-media .col-sm-5 {
        width: 41.66666667%;
    }
    .cke_reset_all .modal.get-media .col-sm-4 {
        width: 33.33333333%;
    }
    .cke_reset_all .modal.get-media .col-sm-3 {
        width: 25%;
    }
    .cke_reset_all .modal.get-media .col-sm-2 {
        width: 16.66666667%;
    }
    .cke_reset_all .modal.get-media .col-sm-1 {
        width: 8.33333333%;
    }
    .cke_reset_all .modal.get-media .col-sm-pull-12 {
        right: 100%;
    }
    .cke_reset_all .modal.get-media .col-sm-pull-11 {
        right: 91.66666667%;
    }
    .cke_reset_all .modal.get-media .col-sm-pull-10 {
        right: 83.33333333%;
    }
    .cke_reset_all .modal.get-media .col-sm-pull-9 {
        right: 75%;
    }
    .cke_reset_all .modal.get-media .col-sm-pull-8 {
        right: 66.66666667%;
    }
    .cke_reset_all .modal.get-media .col-sm-pull-7 {
        right: 58.33333333%;
    }
    .cke_reset_all .modal.get-media .col-sm-pull-6 {
        right: 50%;
    }
    .cke_reset_all .modal.get-media .col-sm-pull-5 {
        right: 41.66666667%;
    }
    .cke_reset_all .modal.get-media .col-sm-pull-4 {
        right: 33.33333333%;
    }
    .cke_reset_all .modal.get-media .col-sm-pull-3 {
        right: 25%;
    }
    .cke_reset_all .modal.get-media .col-sm-pull-2 {
        right: 16.66666667%;
    }
    .cke_reset_all .modal.get-media .col-sm-pull-1 {
        right: 8.33333333%;
    }
    .cke_reset_all .modal.get-media .col-sm-pull-0 {
        right: 0%;
    }
    .cke_reset_all .modal.get-media .col-sm-push-12 {
        left: 100%;
    }
    .cke_reset_all .modal.get-media .col-sm-push-11 {
        left: 91.66666667%;
    }
    .cke_reset_all .modal.get-media .col-sm-push-10 {
        left: 83.33333333%;
    }
    .cke_reset_all .modal.get-media .col-sm-push-9 {
        left: 75%;
    }
    .cke_reset_all .modal.get-media .col-sm-push-8 {
        left: 66.66666667%;
    }
    .cke_reset_all .modal.get-media .col-sm-push-7 {
        left: 58.33333333%;
    }
    .cke_reset_all .modal.get-media .col-sm-push-6 {
        left: 50%;
    }
    .cke_reset_all .modal.get-media .col-sm-push-5 {
        left: 41.66666667%;
    }
    .cke_reset_all .modal.get-media .col-sm-push-4 {
        left: 33.33333333%;
    }
    .cke_reset_all .modal.get-media .col-sm-push-3 {
        left: 25%;
    }
    .cke_reset_all .modal.get-media .col-sm-push-2 {
        left: 16.66666667%;
    }
    .cke_reset_all .modal.get-media .col-sm-push-1 {
        left: 8.33333333%;
    }
    .cke_reset_all .modal.get-media .col-sm-push-0 {
        left: 0%;
    }
    .cke_reset_all .modal.get-media .col-sm-offset-12 {
        margin-left: 100%;
    }
    .cke_reset_all .modal.get-media .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .cke_reset_all .modal.get-media .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .cke_reset_all .modal.get-media .col-sm-offset-9 {
        margin-left: 75%;
    }
    .cke_reset_all .modal.get-media .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .cke_reset_all .modal.get-media .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .cke_reset_all .modal.get-media .col-sm-offset-6 {
        margin-left: 50%;
    }
    .cke_reset_all .modal.get-media .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .cke_reset_all .modal.get-media .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .cke_reset_all .modal.get-media .col-sm-offset-3 {
        margin-left: 25%;
    }
    .cke_reset_all .modal.get-media .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .cke_reset_all .modal.get-media .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .cke_reset_all .modal.get-media .col-sm-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 992px) {
    .cke_reset_all .modal.get-media .col-md-1, .cke_reset_all .modal.get-media .col-md-2, .cke_reset_all .modal.get-media .col-md-3, .cke_reset_all .modal.get-media .col-md-4, .cke_reset_all .modal.get-media .col-md-5, .cke_reset_all .modal.get-media .col-md-6, .cke_reset_all .modal.get-media .col-md-7, .cke_reset_all .modal.get-media .col-md-8, .cke_reset_all .modal.get-media .col-md-9, .cke_reset_all .modal.get-media .col-md-10, .cke_reset_all .modal.get-media .col-md-11, .cke_reset_all .modal.get-media .col-md-12 {
        float: left;
    }
    .cke_reset_all .modal.get-media .col-md-12 {
        width: 100%;
    }
    .cke_reset_all .modal.get-media .col-md-11 {
        width: 91.66666667%;
    }
    .cke_reset_all .modal.get-media .col-md-10 {
        width: 83.33333333%;
    }
    .cke_reset_all .modal.get-media .col-md-9 {
        width: 75%;
    }
    .cke_reset_all .modal.get-media .col-md-8 {
        width: 66.66666667%;
    }
    .cke_reset_all .modal.get-media .col-md-7 {
        width: 58.33333333%;
    }
    .cke_reset_all .modal.get-media .col-md-6 {
        width: 50%;
    }
    .cke_reset_all .modal.get-media .col-md-5 {
        width: 41.66666667%;
    }
    .cke_reset_all .modal.get-media .col-md-4 {
        width: 33.33333333%;
    }
    .cke_reset_all .modal.get-media .col-md-3 {
        width: 25%;
    }
    .cke_reset_all .modal.get-media .col-md-2 {
        width: 16.66666667%;
    }
    .cke_reset_all .modal.get-media .col-md-1 {
        width: 8.33333333%;
    }
    .cke_reset_all .modal.get-media .col-md-pull-12 {
        right: 100%;
    }
    .cke_reset_all .modal.get-media .col-md-pull-11 {
        right: 91.66666667%;
    }
    .cke_reset_all .modal.get-media .col-md-pull-10 {
        right: 83.33333333%;
    }
    .cke_reset_all .modal.get-media .col-md-pull-9 {
        right: 75%;
    }
    .cke_reset_all .modal.get-media .col-md-pull-8 {
        right: 66.66666667%;
    }
    .cke_reset_all .modal.get-media .col-md-pull-7 {
        right: 58.33333333%;
    }
    .cke_reset_all .modal.get-media .col-md-pull-6 {
        right: 50%;
    }
    .cke_reset_all .modal.get-media .col-md-pull-5 {
        right: 41.66666667%;
    }
    .cke_reset_all .modal.get-media .col-md-pull-4 {
        right: 33.33333333%;
    }
    .cke_reset_all .modal.get-media .col-md-pull-3 {
        right: 25%;
    }
    .cke_reset_all .modal.get-media .col-md-pull-2 {
        right: 16.66666667%;
    }
    .cke_reset_all .modal.get-media .col-md-pull-1 {
        right: 8.33333333%;
    }
    .cke_reset_all .modal.get-media .col-md-pull-0 {
        right: 0%;
    }
    .cke_reset_all .modal.get-media .col-md-push-12 {
        left: 100%;
    }
    .cke_reset_all .modal.get-media .col-md-push-11 {
        left: 91.66666667%;
    }
    .cke_reset_all .modal.get-media .col-md-push-10 {
        left: 83.33333333%;
    }
    .cke_reset_all .modal.get-media .col-md-push-9 {
        left: 75%;
    }
    .cke_reset_all .modal.get-media .col-md-push-8 {
        left: 66.66666667%;
    }
    .cke_reset_all .modal.get-media .col-md-push-7 {
        left: 58.33333333%;
    }
    .cke_reset_all .modal.get-media .col-md-push-6 {
        left: 50%;
    }
    .cke_reset_all .modal.get-media .col-md-push-5 {
        left: 41.66666667%;
    }
    .cke_reset_all .modal.get-media .col-md-push-4 {
        left: 33.33333333%;
    }
    .cke_reset_all .modal.get-media .col-md-push-3 {
        left: 25%;
    }
    .cke_reset_all .modal.get-media .col-md-push-2 {
        left: 16.66666667%;
    }
    .cke_reset_all .modal.get-media .col-md-push-1 {
        left: 8.33333333%;
    }
    .cke_reset_all .modal.get-media .col-md-push-0 {
        left: 0%;
    }
    .cke_reset_all .modal.get-media .col-md-offset-12 {
        margin-left: 100%;
    }
    .cke_reset_all .modal.get-media .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .cke_reset_all .modal.get-media .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .cke_reset_all .modal.get-media .col-md-offset-9 {
        margin-left: 75%;
    }
    .cke_reset_all .modal.get-media .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .cke_reset_all .modal.get-media .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .cke_reset_all .modal.get-media .col-md-offset-6 {
        margin-left: 50%;
    }
    .cke_reset_all .modal.get-media .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .cke_reset_all .modal.get-media .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .cke_reset_all .modal.get-media .col-md-offset-3 {
        margin-left: 25%;
    }
    .cke_reset_all .modal.get-media .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .cke_reset_all .modal.get-media .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .cke_reset_all .modal.get-media .col-md-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 1200px) {
    .cke_reset_all .modal.get-media .col-lg-1, .cke_reset_all .modal.get-media .col-lg-2, .cke_reset_all .modal.get-media .col-lg-3, .cke_reset_all .modal.get-media .col-lg-4, .cke_reset_all .modal.get-media .col-lg-5, .cke_reset_all .modal.get-media .col-lg-6, .cke_reset_all .modal.get-media .col-lg-7, .cke_reset_all .modal.get-media .col-lg-8, .cke_reset_all .modal.get-media .col-lg-9, .cke_reset_all .modal.get-media .col-lg-10, .cke_reset_all .modal.get-media .col-lg-11, .cke_reset_all .modal.get-media .col-lg-12 {
        float: left;
    }
    .cke_reset_all .modal.get-media .col-lg-12 {
        width: 100%;
    }
    .cke_reset_all .modal.get-media .col-lg-11 {
        width: 91.66666667%;
    }
    .cke_reset_all .modal.get-media .col-lg-10 {
        width: 83.33333333%;
    }
    .cke_reset_all .modal.get-media .col-lg-9 {
        width: 75%;
    }
    .cke_reset_all .modal.get-media .col-lg-8 {
        width: 66.66666667%;
    }
    .cke_reset_all .modal.get-media .col-lg-7 {
        width: 58.33333333%;
    }
    .cke_reset_all .modal.get-media .col-lg-6 {
        width: 50%;
    }
    .cke_reset_all .modal.get-media .col-lg-5 {
        width: 41.66666667%;
    }
    .cke_reset_all .modal.get-media .col-lg-4 {
        width: 33.33333333%;
    }
    .cke_reset_all .modal.get-media .col-lg-3 {
        width: 25%;
    }
    .cke_reset_all .modal.get-media .col-lg-2 {
        width: 16.66666667%;
    }
    .cke_reset_all .modal.get-media .col-lg-1 {
        width: 8.33333333%;
    }
    .cke_reset_all .modal.get-media .col-lg-pull-12 {
        right: 100%;
    }
    .cke_reset_all .modal.get-media .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .cke_reset_all .modal.get-media .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .cke_reset_all .modal.get-media .col-lg-pull-9 {
        right: 75%;
    }
    .cke_reset_all .modal.get-media .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .cke_reset_all .modal.get-media .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .cke_reset_all .modal.get-media .col-lg-pull-6 {
        right: 50%;
    }
    .cke_reset_all .modal.get-media .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .cke_reset_all .modal.get-media .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .cke_reset_all .modal.get-media .col-lg-pull-3 {
        right: 25%;
    }
    .cke_reset_all .modal.get-media .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .cke_reset_all .modal.get-media .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .cke_reset_all .modal.get-media .col-lg-pull-0 {
        right: 0%;
    }
    .cke_reset_all .modal.get-media .col-lg-push-12 {
        left: 100%;
    }
    .cke_reset_all .modal.get-media .col-lg-push-11 {
        left: 91.66666667%;
    }
    .cke_reset_all .modal.get-media .col-lg-push-10 {
        left: 83.33333333%;
    }
    .cke_reset_all .modal.get-media .col-lg-push-9 {
        left: 75%;
    }
    .cke_reset_all .modal.get-media .col-lg-push-8 {
        left: 66.66666667%;
    }
    .cke_reset_all .modal.get-media .col-lg-push-7 {
        left: 58.33333333%;
    }
    .cke_reset_all .modal.get-media .col-lg-push-6 {
        left: 50%;
    }
    .cke_reset_all .modal.get-media .col-lg-push-5 {
        left: 41.66666667%;
    }
    .cke_reset_all .modal.get-media .col-lg-push-4 {
        left: 33.33333333%;
    }
    .cke_reset_all .modal.get-media .col-lg-push-3 {
        left: 25%;
    }
    .cke_reset_all .modal.get-media .col-lg-push-2 {
        left: 16.66666667%;
    }
    .cke_reset_all .modal.get-media .col-lg-push-1 {
        left: 8.33333333%;
    }
    .cke_reset_all .modal.get-media .col-lg-push-0 {
        left: 0%;
    }
    .cke_reset_all .modal.get-media .col-lg-offset-12 {
        margin-left: 100%;
    }
    .cke_reset_all .modal.get-media .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .cke_reset_all .modal.get-media .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .cke_reset_all .modal.get-media .col-lg-offset-9 {
        margin-left: 75%;
    }
    .cke_reset_all .modal.get-media .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .cke_reset_all .modal.get-media .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .cke_reset_all .modal.get-media .col-lg-offset-6 {
        margin-left: 50%;
    }
    .cke_reset_all .modal.get-media .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .cke_reset_all .modal.get-media .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .cke_reset_all .modal.get-media .col-lg-offset-3 {
        margin-left: 25%;
    }
    .cke_reset_all .modal.get-media .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .cke_reset_all .modal.get-media .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .cke_reset_all .modal.get-media .col-lg-offset-0 {
        margin-left: 0%;
    }
}

.sweet-overlay,.sweet-alert{
    z-index: 999999999;
}

.modalForProj{
    z-index: 500000;
}
.modal-content-container .modal-tabs .nav.nav-tabs{background: #efefef;border-bottom: 1px solid #e5e5e5;padding: 0 0 0 15px;}
.modal-content-container .modal-tabs .nav-tabs>li>a{ border:0; border-bottom:3px solid transparent; color:#666666; font-size:14px; text-transform:uppercase; }
.modal-content-container .modal-tabs .nav-tabs>li.active>a{ border:0; border-bottom:3px solid #880e4f; color:#880e4f;}
.modal-content-container .modal-tabs .nav-tabs>li.active>a, .modal-content-container .modal-tabs .nav-tabs>li.active>a:hover, .modal-content-container .modal-tabs .nav-tabs>li.active>a:focus{ background:none}
.modal-content-container .modal-tabs .tab-content{padding:15px;}
.modal-content-container.modal-popup{ padding:0; background: #fff;}
.modal-content-container.modal-popup .sub-title{ display:none;}
.highlight_on_drop{border: 1px dashed #BDBDBD;}
.panel-refresh-reload{ height: 41px;
                       background: #fff;
                       position: absolute;
                       z-index: 1;
                       border-bottom: 1px solid #ddd;}
.cke_dialog_title{background: #3f51b5;
                  color: #fff;
                  font-size: 26px;
                  border-radius: 6px 6px 0 0; padding: 20px 15px;
                  border-bottom: 1px solid #eee; font-weight:normal; box-shadow:none;}
.cke_dialog_body{ border:0; background:none;	}
.cke_ltr .cke_dialog_close_button {
    right: 15px;
    top: 25px;
}

.cke_dialog_footer{
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5; background: #fff;
    margin: 0;
    border-radius: 0 0 6px 6px;  outline:0px solid #bfbfbf; }
.cke_dialog_background_cover{background-color: rgba(0,0,0,0.8) !important;}
a.cke_dialog_ui_button{background: #673AB7;
                       border: 1px solid #673AB7;
                       border-radius: 20px;
                       padding: 6px 20px 6px;
                       text-transform: uppercase; color:#fff;
                       font-family: 'Roboto Condensed', sans-serif; box-shadow:none; outline:none;}
a.cke_dialog_ui_button:hover, a.cke_dialog_ui_button:focus, a.cke_dialog_ui_button:active, a.cke_dialog_ui_button.active{
    color: #fff;
    background: #156dc2 !important;
    border-color: #156dc2 !important; border-width:1px;
    border-radius: 20px;
    padding: 6px 20px 6px;
    text-transform: uppercase; box-shadow:none; text-decoration:none; outline:none;
}
.cke_dialog_footer_buttons a.cke_dialog_ui_button span{  color: inherit;
                                                         font-size: 14px;
                                                         font-weight: normal;
                                                         line-height: inherit;
                                                         padding:inherit;   font-family: 'Roboto Condensed', sans-serif;}
.btn.btn-default.pull-left.btn_arrow{ box-shadow:none;}
section.left-pane li li{padding: 10px 0 7px 3px;}
.cke_button__source_label{ display:none;}
.editor-container5 .right-pane .panel-refresh-reload{height: 41px;
                                                     background: #fff;
                                                     position: relative;
                                                     z-index: 1;
                                                     border-bottom: 1px solid #ddd;
                                                     width: 100%;
                                                     text-align: center;
                                                     line-height: 40px;}
table.cke_dialog_contents{width: 100%}
table.cke_dialog.cke_browser_webkit.cke_ltr.cke_single_page .cke_dialog_title {
    font-size: 21px;
    text-shadow: none;
}

#link>.dropdown-menu{
    position: relative;
}

.showOptions .chapName{
    width: 140px;
    float: left;
    margin: 15px 0px 15px 15px;
    cursor: pointer; border:2px solid transparent;
}
.dropdown.link-dropdown .btn.btn-default{ left:inherit; top:inherit; border-bottom:1px solid #b2b2b2 !important; border:0; border-radius:0; color:#666666; padding-left:2px;}
.dropdown.link-dropdown .btn.btn-default .caret{ border-top: 4px solid #000;border-right: 4px solid transparent;border-left: 4px solid transparent; border-bottom: 4px solid transparent; }
.dropdown.link-dropdown .btn.btn-default:hover, .dropdown.link-dropdown .btn.btn-default:focus{box-shadow:none; background-color:transparent;}
.modal-content-container .tab-content.advanced-tab{ padding:15px 0 0;}
.modal-content-container .dropdown.link-dropdown{ margin:0 15px 15px;}
.showOptions{background:#efefef;}
.chapter-title{ padding:8px; font-size:15px; color:#666; background-color:#ffffff; border-bottom:1px solid #dedede;}
.chapter-details{ padding:5px 8px; font-size:13px; color:#666;background-color:#f9f9f9;}
.showOptions .chapName.active{ border:2px solid #880e4f;}
#video_thumb{max-height: 160px;
             overflow: auto;}
.addPattern{padding: 5px;
            background-color: transparent;
            top: 3px;
            border: none;
            color: #fff;}
.iframe-container{display: inline-block;
                  border: 1px solid #ddd;
                  position: relative;}
.iframe-container iframe{border: none; background-color: #fff; padding:0 30px 0 0}
.cke_top.cke_reset_all{ overflow:inherit;}
.dropdown.meta-dropdown{ position:relative; float:left;}
.dropdown.meta-dropdown.open .dropdown-menu{ position:absolute; left:0; background:#fff;}
.cke_contents.cke_reset{ width:100%;}
.dropdown.meta-dropdown .btn.btn-default{ left: 0;top: 0;border-radius: 4px;padding: 5px 12px 5px;width: auto;background: #777;color: #fff;border: 1px solid #000; text-transform: none;}
.dropdown.meta-dropdown .dropdown-menu>li:first-child>a:hover, .dropdown-menu>li:first-child>a:focus{ border-radius:4px 4px 0 0;}
.dropdown.meta-dropdown .dropdown-menu>li:last-child>a:hover, .dropdown-menu>li:last-child>a:focus{ border-radius: 0 0 4px 4px;}
.dropdown.meta-dropdown .btn.btn-default .caret{ position:inherit !important; display: inline-block !important;
                                                 width: 0 !important;
                                                 height: 0 !important;
                                                 margin-left: 2px !important;
                                                 vertical-align: middle!important;
                                                 border-top: 4px solid #fff!important;
                                                 border-right: 4px solid transparent !important;
                                                 border-left: 4px solid transparent !important; border-bottom: 4px solid transparent !important; right:0; margin-top: 0px;}
.dropdown.meta-dropdown{font-family: 'Roboto', sans-serif !important;}
.dropdown.meta-dropdown .checkbox{ margin:0 !important;}
.dropdown.meta-dropdown .dropdown-menu>li>a {padding:6px 10px !important;}
.dropdown.meta-dropdown .dropdown-menu>li>a input[type="radio"], .dropdown.meta-dropdown .dropdown-menu>li>a input[type="checkbox"] {margin: 0px 5px 0 0;}
.dropdown.meta-dropdown .radio, .dropdown.meta-dropdown .checkbox { min-height:inherit;}

.iframe-container:after{ display:none; height:33px; width:22px; position:absolute; right:5px; top:22px; margin-top:-16.5px; background:url(../img/edit-link.png) no-repeat 0 0 !important; content:""; cursor: pointer;}
.iframe-container:hover:after{background:url(../img/edit-link.png) no-repeat 0 -51px !important; display:block;}
.cke_reset_all textarea, .cke_reset_all input[type="text"], .cke_reset_all input[type="password"] {  cursor: text;   padding: 9px 6px;}
select.cke_dialog_ui_input_select {  padding: 8px 3px 8px 6px;   height: auto;}
.cke_dialog .ImagePreviewBox{ border:1px solid #ddd;  overflow:auto;}
#FetchMedia {  top: 112px !important;}
a.cke_dialog_ui_button { text-transform: uppercase;  font-family: 'Roboto Condensed', sans-serif;   line-height: 1.42857143;}
a.cke_dialog_ui_button_ok span {  text-shadow: inherit; padding:0  !important;}
a.cke_dialog_ui_button span {  text-shadow: inherit;  padding: 0 !important;}
.cke_dialog_ui_labeled_label, .cke_dialog_ui_html{ font-size:14px; margin-bottom:5px !important; display:inline-block !important;}
.video_wrapper{ display:inline-block; position:relative;   border: 1px solid #ddd;}
.video_wrapper:after{ display:none; height:33px; width:22px; position:absolute; right:5px; top:22px; margin-top:-16.5px; background:url(../img/edit-link.png) no-repeat 0 0 !important; content:""; cursor: pointer; z-index:5;}
.video_wrapper:hover:after{background:url(../img/edit-link.png) no-repeat 0 -51px !important; display:block;}
.video_wrapper video{ padding:0 0px 0 0; position:relative; z-index:2;}

.cke_widget_wrapper:hover>.cke_widget_drag_handler_container {
    height: 20px; width: 20px;
    transition: none;
    display: block;
    background-color: #107aca!important;
    background-image: url(../img/handle.png) !important;
    background-repeat: no-repeat !important;
    background-position: 2px 3px !important;   top: -20px !important;


}
.cke_widget_drag_handler_container {
    position: absolute;
    width: 15px;
    height: 0;
    left: -9999px;
    opacity: 0.75;
    transition: height 0s 0.2s;
    line-height: 0;
    top: -15px;
    left: 0px; display: none;
}
img.cke_widget_drag_handler {
    cursor: move !important;
    width: 15px !important;
    height: 15px !important;
    display: inline-block !important;
}
.cke_widget_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.highlightSelected{outline: 1px solid #800080;position: relative;background-color: rgba(128,0,128,0.05)!important;   display: block;}
.descOfTarget,.toolBox{position: absolute;border: 1px solid #800080;color: rgb(255, 255, 255);background-color: rgb(128, 0, 128)!important; min-width: 22px;border-radius: 4px;text-align: center;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 10px;line-height: 1.42857143;padding: 3px;z-index: 999999;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;}
/*.descOfTarget{white-space: nowrap;margin: 0;top: -22px;left: 0px;}*/
.descOfTarget {
    white-space: nowrap;
    margin: 0;
    top: -25px;
    left: 42px;
}
/*.toolBox{height: 25px;right: 0px;bottom: -25px;}*/
.toolBox {
    height: 22px;
    right: 0px;
    top: -25px;
    left: 16px;
    width: 0;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-trash:before {
    content: "\e020";
    cursor: pointer;
}
.leftTreeLoader{
    position: absolute;
    top: 55px;
    background-color: rgb(128, 0, 128)!important;
    z-index: 9999;
    opacity: 0.8;
    color: #fff;
    font-size: 14px;
}

.leftTreeLoader span{
    position: relative;
    top: 50%;
    left: 24%;
}