@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.sidebar {
  @include bgcolor($navbar-bg);
  @include border-indv('right', 1px, solid, transparent);
  max-width: 180px;
  transition: all ease-in-out .2s;

  &:hover,
  &:focus{
    @include border-indv('right', 1px, solid, $dark);
    transition: all ease-in-out .2s;
  }

  @include media("screen", ">minMedium") {
    @include top(0);
    @include bottom(0);
    @include left(0);
    @include position(fixed);
    @include z-index(100);
  }

  @include media("screen", "<maxLarge") {
    @include position(absolute);
    height: 100%;
    transition: all ease-in-out .2s;
  }

  &.show {
    @include position(absolute);
    @include z-index(11);
    @include left(0);
    transition: all ease-in-out .3s;
  }

  &.hide {
    @include position(absolute);
    @include z-index(1);
    @include left(-300px);
    transition: all ease-in-out .3s;
  }

  &.focus-nav {
    @include border-indv('right', 1px, solid, $primary);
    transition: all ease-in-out .2s;
  }

  &-sticky {
    @extend %position-relative;
    @include top(0);
    @include padding-indv('top', .5rem);
    overflow-x: hidden;
    overflow-y: auto; // Scrollable contents if viewport is shorter than content.

    @supports ((position: -webkit-sticky) or (position: sticky)) {
      @include position(-webkit-sticky);
      @include position(sticky);
    }
  }

  .nav {
    @include margin-indv('top', 23px);
    @include padding(0 3px);

    &-link {
      @include font-color($secondary);
      @include font-size(15);
      line-height: 20px;

      &:hover,
      &:focus,
      &:active,
      &.active {
        @include font-color($primary);
      }

      &.disabled {
        @extend .cursor-deny;
        @include font-color($darkest);
        pointer-events: none;

        &:hover,
        &:focus,
        &:active {
          @include font-color($darker);
        }
      }

      .icon {
        &-ico {
          &-expand {
            @include font-size(8);
            @include margin-indv('top', 5px);
          }

          &-collapse {
            @include font-size(13);
            @include margin-indv('top', 3px);
          }
        }
      }
    }
  }

  .navbar {
    &-brand {
      @include bgcolor(inherit);
      @include padding-all(1.5rem, 0, 0, 1rem);
      box-shadow: inherit;
    }

    &-toggler {
      @include media("screen", ">minMedium") {
        @include display(none);
      }
    }
  }

  .admin-sub-menu {
    @include padding-indv('left', 15px);
    @include margin-indv('top', 0);
  }

  .bottom-menu {
    @include font-color($secondary);
    @include bgcolor($lightest);
    @include border-indv('top', 1px, solid, fade-out($black, .9));

    @include media("screen", ">minMedium") {
      @include position($absolute);
      @include bottom(0);
    }

    a {
      @extend %position-relative;
    }

    .dropdown {
      &--guides {
        @include padding-indv('bottom', 1.5rem);

        a {
          &.btn-guides {
            @include font-size(15);
            line-height: 20px;
          }
        }

        .dropdown-menu {
          @include box-shadow-dropdown;
          @include border-radius(4px);
          @include border-all(1px, solid, rgba(0, 0, 0, .10));

          .media {
            &-body {
              h5 {
                @extend %font-weight-semi-bold;
                @include font-size(18);
                @include margin-indv('bottom', 0);
              }

              span {
                @include font-size(12);
                @include margin-indv('bottom', 0);
              }
            }

            .dropdown-item {
              @include padding-indv('bottom', 0);
            }
          }
        }
      }
    }

    &--profile {
      @include padding(15px);
      .user-avatar{
        @include border-all(1px, solid, $dark);
        @include border-radius(50%);
        @include text-align(center);
        @include bgcolor($white);
        line-height: 30px;
        width: 30px;
        height: 30px;
      }

      .dropdown {
        &-menu {
          @include margin-indv('bottom', 10px);
        }

        .dropdown-toggle {
          @include font-size(13);
          max-width: 115px;

          &::after {
            @include position(absolute);
            @include top(12px);
            @include right(5px);
            @include font-color($darkest-x);
            vertical-align: .1em;
          }
        }
      }
    }
  }

  .notify {
    @include padding-indv('left', 20px);

    &-on {
      @extend %position-absolute;
      @include bgcolor($notify);
      @include border-radius(50%);
      @include margin-indv('right', 0);
      @include top(7px);
      @include right(3px);
      width: 5px;
      height: 5px;
    }
  }
}

.toggle {
  @include top(24px);
  @include border-radius(50%);
  @include z-index(100);
  height: 29px;
  width: 29px;
  transition: all ease-in-out .2s;

  &[aria-expanded="true"]{
    @include left(166px);
    @include bgcolor($darker);
    opacity: 0;

    &:hover,
    &:focus {
      @include bgcolor($primary);
      transition: all ease-in-out .2s;
      opacity: 1;
    }

    span::before{
      @include font-color($white);
      @include font-size(12);
      @include margin-indv('left', 5px);
      font-family: $icon-font;
      content: '\e900';
      transform: scaleX(-1);
    }

    &.show-btn {
      transition: all ease-in-out .2s;
      opacity: 1;
    }
  }

  &[aria-expanded="false"]{
    @include left(10px);

    @include media("screen", "<maxLarge") {
      @include display(block);
    }

    &:hover,
    &:focus{
      @include bgcolor($primary);
      transition: all ease-in-out .2s;

      span::before{
        background-image: url('../../assets/images/bars-solid-white.svg');
      }
    }

    span{
      &::before{
        @include margin-indv('left', 2px);
        content: "";
        background-image: url('../../assets/images/bars-solid.svg');
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
      }
    }
  }
}

.partner-name {
  @include media("screen", "<maxXxxlarge") {
    @include font-size(11);
  }
}

.dropdown {
  &-menu {
    &.inverse-bg {
      @include bgcolor($white);
      @include box-shadow-dropdown;
      @include border-all(1px, solid, $dark);
      overflow-y: auto;
      max-height: 295px;
      width: 220px;

      &:after {
        @include border-none(none);
      }

      .dropdown-item {
        @include padding(.25rem);
      }

      a {
        @include font-color($darkest-x);
        white-space: pre-wrap;
        line-height: 1rem;

        &:hover,
        &:focus,
        &.active {
          @include font-color($primary);
          @include bgcolor(transparent);
        }

        &.active {
          cursor: not-allowed;
        }
      }
    }
  }
}
