<section class="sidebar p-0" [ngClass]="{'show':showNav, 'hide':!showNav, 'focus-nav':hovered}" id="mainNav"
  tabindex="-1" (mouseover)="focustoggleBtn(true)" (focus)="focustoggleBtn(true)" (mouseout)="focustoggleBtn(false)"
  (blur)="focustoggleBtn(false)">

  <header class="d-flex justify-content-start align-items-center flex-wrap p-0 position-relative" id="head">
    <button type="button" class="btn btn-clear skip-main position-absolute" id="skipBtn" (click)="skipToMain()">Skip to
      main content
    </button>
    <button class="navbar-brand logo mr-0 btn btn-clear" id="gotohomepageBtn" (click)="goToHomePage()">
      <img src="assets/images/logo.svg#logo" alt="ACMT Logo" />
    </button>
    <ng-container *ngIf="organizations.length > 1">
      <app-auto-complete [listingObj]="organizations" (selectedObject)="setOrganization($event)"
        [selectType]="selectType" [uniqueId]="uniqueId" [propName]="'organization_name'"
        [defaultSelection]="selectedOrg" [autoCompleteTitle]="autoCompleteTitle" [isMandatory]="false"
        [isLableShow]="false" [showSelectionInput]="false" #autoComplete (clickOutside)="onClickedOutsideList($event)">
      </app-auto-complete>
    </ng-container>


    <div class="row m-0 w-100">
      <div class="col-12 partner-name">
        <p class="mb-0 font-bold">{{orgName}}</p>
      </div>
    </div>
  </header>


  <nav class="collapse navbar-collapse d-md-block" id="navbarCollapse" aria-label="Global">
    <div class="sidebar-sticky" [ngStyle]="{'height':getNavHeight()}">
      <ul class="nav flex-column">
        <li class="nav-item" *ngFor="let item of navBarItems">
          <ng-container *ngIf="checkPermission(item.name)">
            <a class="nav-link font-semibold" *ngIf="item.path!=='NA'" [ngClass]="currentItem===item.name?'active':''"
              [routerLink]="[item.path]" (click)="onNavItemSelected(item.name)" target="_self"
              id="{{'nav_item_'+item.name}}">{{ item.name }}
              <span class="sr-only sr-only-focusable" *ngIf='currentItem===item.name'>current page</span>
            </a>
          </ng-container>

          <button type="button" class="btn btn-clear w-100 text-left nav-link font-semibold"
            *ngIf=" item.path==='NA' && checkAdministration(item)" [ngClass]="currentItem===item.name?'active':''"
            (click)="onItemClick(item)" aria-expanded="false" [attr.aria-expanded]="item?.isExpanded"
            aria-haspopup="true">{{ item.name }}
            <em *ngIf="(item.children && item.children.length>0)" class="float-right"
              [ngClass]="item.isExpanded ? 'icon-ico-expand' : 'icon-ico-collapse'"></em>
          </button>

          <ul class="nav flex-column admin-sub-menu" *ngIf="item.isExpanded &&item.children.length>0">
            <li class="nav-item" *ngFor="let subItem of item.children">
              <ng-container *ngIf="checkPermission(subItem.name)">
                <a class="nav-link font-semibold" *ngIf="subItem.path!=='NA'"
                  [ngClass]="currentItem===subItem.name?'active':''"
                  [routerLink]="[subItem.path!=='NA'?subItem.path:'']" (click)="onNavItemSelected(item.name)"
                  [attr.disabled]="!subItem.active" target="_self"
                  id="{{'subnav_item_'+subItem.name}}">{{ subItem.name }}
                  <span class="sr-only sr-only-focusable" *ngIf='currentItem===subItem.name'>current page
                  </span>
                </a>
              </ng-container>
              <button type="button" class="btn btn-clear w-100 text-left nav-link disabled" *ngIf="subItem.path==='NA'"
                [ngClass]="currentItem===subItem.name?'active':''" [attr.disabled]="!subItem.active">{{ subItem.name }}
              </button>
            </li>
          </ul>

        </li>

      </ul>
    </div>
  </nav>

  <footer class="container bottom-menu" id="foot">
    <div class="row align-items-center">
      <div class="col-6 px-2 notify d-flex justify-content-center align-items-center">
        <button type="button" *ngIf="checkPermission('Notifications')"
          class="d-inline-block btn btn-alert tooltip top font-3x position-relative" [attr.aria-label]="'Notification '"
          data-tooltip="Notification" (click)="notifications();">
          <em class="far fa-bell"
            [ngClass]="(pending && pending.length > 0 || notifyCount > 0) ?'animate__animated animate__swing animate__delay-3s animate__infinite':''"></em>
          <span class="notify-on" aria-live="polite" aria-atomic="true" aria-label="you have unread notifications"
            tabindex="0" *ngIf="(pending && pending.length > 0 || notifyCount > 0)">
          </span>
        </button>
      </div>
      <div class="col-6 bottom-menu--profile" [ngClass]="checkPermission('Notifications') ?'border-left':''">
        <div class="dropdown dropup">
          <button class="dropdown-toggle ml-1 font-bold p-0 d-inline-block user-avatar text-uppercase"
            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            [attr.aria-label]="'Logged in as '+userName+', select to get logout option'">{{nameInitials}}</button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <button class="dropdown-item btn" id="myprofileBtn" (click)="onUserProfileClick()">My Profile</button>
            <button class="dropdown-item btn" id="logoutBtn" [routerLink]="['/']" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>

    </div>
  </footer>
</section>

<button id="toggleBtn" type="button" class="btn btn-icon toggle position-absolute tooltip right font-1x"
  [ngClass]="{'show-btn': btnFocused}" aria-label="Toggle Menu" aria-controls="mainNav"
  [attr.aria-expanded]="showNav?true:false" data-tooltip="Show/Hide Menu" data-target="#mainNav"
  (mouseover)="focusNavBar(true)" (focus)="focusNavBar(true)" (mouseout)="focusNavBar(false)"
  (blur)="focusNavBar(false)" (click)="toggleSideBar()">
  <span class="d-flex"></span>
</button>
