@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.skip{
    &-main {
        left:-999px;
        top:auto;
        overflow:hidden;
        z-index:-999;            

        &:focus,
        &:active{
            @include font-size(16);
            @include font-color($white);
            @include bgcolor($black);
            @include border-radius(5px);
            @include margin-all(10px 0 0 10px);
            @include padding(5px 25px);
            left: auto;
            top: auto;
            overflow:auto;
            z-index: 999;
        }
        @include media( "screen", "<maxLarge"){
            &:focus,
            &:active{
                @include left(230px);
                width:200px;
            }
        }
    }
}
