@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";


.accordion{
    @include box-shadow(0, 2px, 12px, 0, rgba(0, 0, 0, 0.1));
    
    .associations{
        &_type{
            &_inner{
                @include margin-all(0 -9px);
            }
            &_destination{
                @include margin-all(0 -9px);
                @include border-indv('bottom', 1px, solid, $darker);
            }
        }
    }
    .add{
        @include bgcolor($dark);
        @include border-radius(50%);
        width: 22px;
        height: 22px;
        em{
            @include position(relative);
            @include top(-6px);
            @include font-size(12);
        }
    }

    .title{
        @include font-size(16);
    }
    // .arrow-toggle{
    //     &[aria-expanded=true],
    //     &[aria-expanded=false]{
    //         &:after{
    //             font-family: $icon-font;
    //         }
    //     }

    //     &[aria-expanded=true]{
    //         &:after{
    //             content: '\e903';
    //             @include font-size(8);
    //         }
    //     }

    //     &[aria-expanded=false]{
    //         &:after{
    //             content: '\e900';
    //             @include font-size(14);
    //         }
    //     }
    // }


    .card{
        border-color: $light;
        @include border-indv('top', 4px, solid, $lighter);

        &-header{
            @include bgcolor($tertiary);
            @include border-none(none); 
            @include margin-indv('bottom',0);
            @include position(relative);
            &:after{
                @include font-size(8);
                @include position(relative);
                @include right(10px);
                @include top(0);
                @include font-color($primary);
                font-family: $icon-font;
                content: '\e903';
                transform: rotate(180deg);
            }
            &.collapsed{
                &:after{
                    @include font-color($darkest-x);
                    transform: rotate(360deg);
                }
            }
        }

        &.active{
            @include border-indv('top', 4px, solid, $primary);
            @include box-shadow(0, 0, 8px, 0, rgba(0, 0, 0, .10));
            @include border-radius(3px);
    
            .arrow-toggle{
                @include font-color($primary);
            }
    
            .card{
                &-header{
                    @include bgcolor($white);
                }
            }
        }
    }
    
}