@charset "utf-8";
/* CSS Document */
html,body{height:100%}
body{
	font-family: 'Source Sans Pro', sans-serif;
	background:#ebeff2;
}
header{
    box-shadow: 0 0 8px rgba(0,0,0,.4);
	background:#fff;
}
header div.logo{
	background: #3e50b4;
	padding:5px 10px;
	text-align:left
}
header div{
	text-align:center;

}
header div h1.title{
	font-weight:300;
}
header div div{
	color:#666;
	padding-bottom:5px
}
.ace{
	background:url(images/logo.png) no-repeat;
	width:138px;
	height:51px;
	margin:0;
}
.box{
  background:#fff;
  position:relative;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  margin:20px;
  overflow:hidden;
  padding:0 5px;
     height: calc(100% - 195px);
}
.sidebar{
  position: relative;
  z-index: 2;
  top: 0;
  height: 100%;
  bottom: 0;
  width: 245px;
  margin-right: 5px;
  background: #fff;
 /* transform: translate3d(-235px, 0, 0);*/
  transition: all 0.2s ease-in-out;
}
.sidebar .toc{
  overflow: hidden;
  overflow-y: scroll;
}
.sidebar.open{
	transform: translate3d(0, 0, 0);
}
.sidebar button{
  position: absolute;
  right: -52px;
  top: 25px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #e0e0e0 /*url(../images/sprite.png) -494px 11px*/;
  border: 0;
  outline: none;
}
.sidebar button:hover{
	background-color:#ddd;
	transition: 0.3s all ease;
}
.sidebar button.active{
	background-color:#eee;
	  background-position: -567px 10px;
}
	
.sidebar h1{
color: #3e50b4;
    font-size: 15px;
    padding: 15px 5px 10px;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    border-bottom: 3px solid #3e50b4;
}
.sidebar div{
	overflow:hidden
}
.sidebar div div{
    padding: 5px;
    box-shadow: 0 2px 1px rgba(0,0,0,.1);
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 18px;
	color:#3e50b4
}
.sidebar a{
  display: block;
  padding: 8px;
  position: relative;
  color:#444;
  border-bottom:1px solid #eee;
  cursor:pointer;
  
 }
.sidebar a:hover{
	text-decoration:none;
}
.sidebar a.active{
	background:#ffffff;
}
.sidebar a.selected
{
	background:#f6f6f6;
	font-weight: bold;
}
/*.sidebar a:before{
  content: "";
  width: 1px;
  background-color: #d6dae1;
  position: absolute;
  top: 23px;
  bottom: -15px;
  font-size: 10px;
  left: 18px;
}

.sidebar>a:last-child:before{
	display:none
}*/
.sidebar a:after{
  content: "\f105";
  font-family: FontAwesome;
  width: 10px;
  position: absolute;
  top: 12px;
  font-size: 10px;
  right: 14px;
  height: 13px;
  color:#888;
  font-weight: bold;
}
.sidebar a.active:after{
	content:"\f054";
	color:#3e50b4;
}
.content-pane{
/*  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
*/  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size:18px;
   
}
.content-pane.open{
	width:calc(100% - 250px);
/*	transform: translate3d(225px, 0, 0);
*/	transition: all 0.2s ease-in-out;
}
.content-pane .content{
/*	max-width:650px;
*/	margin:0 auto;
 	margin-top: 17px;

}
.content-pane .content h1{
	font-size:26px;	
	color:#007099;
	border-bottom:1px solid #eee;
	padding:0; margin:0;
	line-height:50px;
	text-transform:uppercase;
	font-weight:700;
	margin-bottom:18px;
}
.aside{
  background: #fff;
  padding: 20px;
  margin: 9px 0;
  border-radius: 5px;
  padding-left: 50px;
  position: relative;
  border:1px solid #f2e6d3;
}

.pos{
  display: inline-block;
  padding-top: 10px;
  vertical-align: top;
}
aside,.content-pane{float:left}
@media(max-width:999px){
.box, aside, .content-pane{float:none;height:auto; width:100%;}
.sidebar, .content-pane.open{
    width: 100%;
	margin-right:0
}

body{
background:#FFFFFF}	
.box{margin:10px 0 0 0; box-shadow:none}



/*.content-pane .content {
	margin-top:60px
}
.sidebar{
  box-shadow: 3px 0 10px rgba(0,0,0,.3);
}
.content-pane.open {
  width: 100%;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
}*/
}
::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: #ebebeb;
    overflow: visible;
}
::-webkit-scrollbar-corner {
    display: none;
    background: #f5f5f5;
}

::-webkit-scrollbar-button {
    display: none;
    height:0;
    width: 0;
}

::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment             {
    display: block;
}

::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

::-webkit-scrollbar-track {
    -moz-background-clip: border;
    -webkit-background-clip: border;
    background-clip: padding-box;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal {
    border-left-width: 0;
    border-right-width: 0;
}

::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
    border-style: solid;
    border-color: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    background-clip: padding-box;
    background-color: rgba(0,0,0,.2);
    min-height: 28px;
    padding-top: 100px;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    background-color: rgba(0,0,0,.4);
}

::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.35);
    background-color: rgba(0,0,0,.5);
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    border-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}