<div class="table-responsive" id="metadataTableContainer">
  <div role="table" class="table-view border border-top-0" [style.width]="tabelWidth+'px'" [style.min-width]="'100%'"
    *ngIf="showView">
    <ng-container>
      <!-- outer node -->
      <div class="table-view-header" *ngIf="dataReceived" role="rowgroup">
        <div id="tablePanel" class="thead d-flex justify-content-between flex-nowrap border-bottom" role="row">
          <div class="th d-flex px-1" role="columnheader" *ngFor="let column of listOfColumn" [ngClass]="column.class"
            [style.min-width]="column.width+'px'" [style.width]="column.width+'px'"
            [style.max-width]="column.width+'px'">
            <p class="font-bold h-text mb-1 pt-1">{{column.name ? column.name : column.display_name}}</p>
          </div>
        </div>
      </div>

      <ng-template #branch let-items>

        <div *ngFor="let item of items">
          <ng-container *ngTemplateOutlet="leaf; context: {item: item}"></ng-container>
        </div>

      </ng-template>

      <!-- leaf node -->


      <ng-template let-item="item" #leaf>

        <div class="card">
          <div class="card-header p-0 border-0" *ngIf="isFilterApplied ? item.isSearchResult : true">


            <div class="tbody">
              <div class="row mx-0 tr justify-content-between flex-nowrap border-bottom" role="row" *ngIf="item"
                [class.active]="clicked === item.id" [ngClass]="{'mark':item.isHighlighted}">
                <div role="rowheader" class="d-flex align-items-start td px-1" id="{{column.internal_name}}"
                  *ngFor="let column of listOfColumn; let columnIndex = index" [ngClass]="column.class"
                  [style.min-width]="column.width+'px'" [style.width]="column.width+'px'"
                  [style.max-width]="column.width+'px'">
                  <ng-container *ngIf="columnIndex === 0">
                    <div [style.padding-left]="calculatePadding(item.level)">
                      <ng-container *ngIf="item.children?.length!==0">
                        <button class="btn btn-toggle"
                          *ngIf="isFilterApplied ? (item.children?.length && checkVisibility(item.children)) : true"
                          [ngClass]="[item.expand?'':'collapsed']" (click)="item.expand = !item.expand"
                          [attr.aria-label]="('click to ' + (item.expand ? 'collapse ' : 'expand ') + 'node ' + item[column.propName])">
                        </button>
                      </ng-container>

                      <span *ngIf="item.children?.length===0" class="last-node float-left pl-0" id="{{ item.id }}-atag">
                      </span>
                    </div>
                  </ng-container>
                  <div *ngIf="column.propName==='full_statement'"
                    class="w-100 d-flex justify-content-start align-items-start overflow-x">

                    <button id="{{item.id}}-{{'node'}}" *ngIf="!item.isOrphanLabel" class="btn btn-node w-95 pl-0"
                      (click)="openDetails(item,false);" (click)="clicked = item.id"
                      [attr.aria-pressed]="clicked === item.id"
                      [attr.aria-label]="'node- ' + item[column.propName] + ((clicked === item.id) ? '': ', click to get node details')">
                      <!-- {{item[column.propName]?(item[column.propName]| slice:0:charLimit): item.is_document?'Title is empty':'Full Statement is empty'}} -->
                      <div [mathJax]="item.is_document === 1 ? (item['title_html'] ? item['title_html'] : item['title']) :
                        (item[column.propName+'_html'] ? item[column.propName+'_html'] : item[column.propName])"
                        class="tree-long-field w-100 pt-3"></div>
                      <!-- <span *ngIf="item[column.propName] && item[column.propName].length>charLimit">...</span> -->
                    </button>
                    <p class="font-3x mb-0" id="{{item.id}}-{{'node'}}" *ngIf="item.isOrphanLabel">
                      {{item[column.propName+'_html'] ? item[column.propName+'_html'] : item[column.propName]}}
                    </p>

                    <ng-container *ngIf="column.propName==='compStatus'">
                      <ul class="list-inline mb-0 text-right mr-2">
                        <li class="list-inline-item"
                          *ngIf="assignedToMe === 'all' &&  item.open_comment_count > 0 && showComments">
                          <img alt="Node has comment" aria-label="Node has comment" class="img-fluid ic-edit"
                            src="assets/images/ic_msg.png">
                        </li>

                        <li class="list-inline-item"
                          *ngIf="assignedToMe === 'assignedToMe' && item.isCommented === true  && showComments">
                          <img alt="Node has comment" aria-label="Node has comment" class="img-fluid ic-edit"
                            src="assets/images/ic_msg.png">
                        </li>


                        <!-- <li class="list-inline-item" *ngIf="column.propName==='compStatus' && item[column.propName] === 0">
                        <img alt="Node has some issue" class="img-fluid" src="assets/images/ic_warning.png">
                      </li> -->
                        <li class="list-inline-item tooltip left position-relative" [attr.aria-label]="'Node compliant'"
                          data-tooltip="Node compliant"
                          *ngIf="column.propName==='compStatus' && item[column.propName] === 0">
                          <img alt="Node compliant" class="img-fluid" src="assets/images/ic_complete.png">
                        </li>
                        <li class="list-inline-item tooltip left position-relative"
                          [attr.aria-label]="'Node partially compliant'" data-tooltip="Node partially compliant"
                          *ngIf="column.propName==='compStatus' && item[column.propName] === 1">
                          <img alt="Node partially compliant" class="img-fluid" src="assets/images/ic_not_complete.png">
                        </li>
                        <li class="list-inline-item tooltip left position-relative"
                          [attr.aria-label]="'Node not compliant'" data-tooltip="Node not compliant"
                          *ngIf="column.propName==='compStatus' && item[column.propName] === 2">
                          <img alt="Node not compliant" class="img-fluid" src="assets/images/ic_not_started.png">
                        </li>
                      </ul>
                    </ng-container>

                    <ng-container *ngIf="column.propName==='edit' && !item.isOrphanLabel">
                      <button [disabled]="!isEditable"
                        class="btn btn-icon btn-edit tooltip left sm font-1x position-relative"
                        [attr.aria-label]="'Edit'" data-tooltip="Edit"
                        (click)="openDetails(item,true);clicked = item.id;" [attr.aria-pressed]="clicked === item.id"
                        id="{{item.id}}-{{'editnode'}}">
                        <em class="fas fa-pen"></em>
                      </button>
                    </ng-container>

                  </div>



                  <p class="mb-0 text-wrapped-all"
                    [mathJax]="item[column.propName + '_html'] ? item[column.propName + '_html']: item[column.propName]"
                    *ngIf="column.propName!=='full_statement' && column.propName !=='compStatus' && column.propName !=='human_coding_scheme'">
                  </p>

                  <p class="mb-0" *ngIf="column.propName ==='human_coding_scheme'">
                    {{item[column.propName] | slice:0:charLimit}}
                    <span
                      *ngIf="item[column.propName] && item[column.propName].length>charLimit && column.propName ==='human_coding_scheme'">...</span>
                  </p>

                  <ng-container *ngIf="column.propName==='compStatus'">
                    <ul class="list-inline mb-0 text-right mr-2">
                      <li class="list-inline-item tooltip top lg position-relative"
                        [attr.aria-label]="'Node has comment'" data-tooltip="Node has comment"
                        *ngIf="assignedToMe === 'all' &&  item.open_comment_count > 0 && showComments">
                        <img alt="Node has comment" class="img-fluid ic-edit" src="assets/images/ic_msg.png">
                      </li>

                      <li class="list-inline-item tooltip top lg position-relative"
                        [attr.aria-label]="'Node has comment'" data-tooltip="Node has comment"
                        *ngIf="assignedToMe === 'assignedToMe' && item.isCommented === true  && showComments">
                        <img alt="Node has comment" class="img-fluid ic-edit" src="assets/images/ic_msg.png">
                      </li>


                      <!-- <li class="list-inline-item" *ngIf="column.propName==='compStatus' && item[column.propName] === 0">
                      <img alt="Node has some issue" class="img-fluid" src="assets/images/ic_warning.png">
                    </li> -->
                      <li class="list-inline-item tooltip left position-relative" [attr.aria-label]="'Node compliant'"
                        data-tooltip="Node compliant"
                        *ngIf="column.propName==='compStatus' && item[column.propName] === 0">
                        <img alt="Node compliant" class="img-fluid" src="assets/images/ic_complete.png">
                      </li>
                      <li class="list-inline-item tooltip left position-relative"
                        [attr.aria-label]="'Node partially compliant'" data-tooltip="Node partially compliant"
                        *ngIf="column.propName==='compStatus' && item[column.propName] === 1">
                        <img alt="Node partially compliant" class="img-fluid" src="assets/images/ic_not_complete.png">
                      </li>
                      <li class="list-inline-item tooltip left position-relative"
                        [attr.aria-label]="'Node not compliant'" data-tooltip="Node not compliant"
                        *ngIf="column.propName==='compStatus' && item[column.propName] === 2">
                        <img alt="Node not compliant" class="img-fluid" src="assets/images/ic_not_started.png">
                      </li>
                    </ul>
                  </ng-container>

                  <ng-container *ngIf="column.propName==='edit' && !item.isOrphanLabel">
                    <button id="{{item.id}}-{{'editnode'}}" [disabled]="!isEditable"
                      class="btn btn-icon btn-edit tooltip left sm font-1x position-relative" [attr.aria-label]="'Edit'"
                      data-tooltip="Edit" [attr.aria-pressed]="clicked === item.id"
                      (click)="openDetails(item,true);clicked = item.id;">
                      <em class="fas fa-pen"></em>
                    </button>
                  </ng-container>

                </div>



              </div>
            </div>
          </div>


          <div id="{{item.id}}" aria-labelledby="headingOne">
            <div class="card-body">
              <div class="tbody"
                *ngIf="(item['itemExemplars'] && item['itemExemplars'].length>0) || (item['itemAssets'] && item['itemAssets'].length>0) || (item['itemAssociations'] && item['itemAssociations'].length>1) ">
                <div class="row mx-0 tr justify-content-between">
                  <div class="{{dynamicClass}}" [style.padding-left]="calculatePadding(item.level)">

                    <div class="associated">

                      <ng-container *ngIf="item['itemAssociations'] && item['itemAssociations'].length > 1">

                        <ng-container *ngFor="let item of item['itemAssociations'];let $index = index">
                          <ng-container *ngIf="item.association_type.display_name !=='isChildOf'">

                            <p class="mb-1 associated-destination"
                              *ngIf="item && ((item.destination_node.human_coding_scheme && item.destination_node.human_coding_scheme.length >0) ||
                                (item.destination_node.full_statement && item.destination_node.full_statement.length >0))">
                              <span class="icon">
                                <img alt="attachment icon" class="img-fluid" src="assets/images/attachment-icon.png">
                              </span>
                              <span class="human_coding font-bold"
                                *ngIf="item.destination_node.human_coding_scheme && item.destination_node.human_coding_scheme.length >0">
                                {{item.destination_node.human_coding_scheme | slice:0:charLimit}}:</span>
                              <span
                                *ngIf="item.destination_node.human_coding_scheme && item.destination_node.human_coding_scheme.length>charLimit">...</span>
                              <span class="full_statement"
                                *ngIf="item.destination_node.full_statement && item.destination_node.full_statement.length >0">
                                {{item.destination_node.full_statement | slice:0:charLimit}}</span>
                              <span
                                *ngIf="item.destination_node.full_statement && item.destination_node.full_statement.length>charLimit">...</span>
                            </p>

                          </ng-container>

                        </ng-container>
                      </ng-container>

                      <!-- Association end -->

                      <div>
                        <ng-container *ngIf="item['itemExemplars'] && item['itemExemplars'].length>0">

                          <div *ngFor="let exemplar of item['itemExemplars'];let $index=index">
                            <ng-container *ngIf="exemplar['has_asset'] === 1">
                              <span class="associated-file">
                                <span class="icon">
                                  <img alt="attachment icon" class="img-fluid" src="assets/images/attachment-icon.png">
                                </span>
                                <a href="{{exemplar.external_url}}" target="_blank" aria-label="Click to preview asset"
                                  class="text-link">
                                  {{exemplar['asset_file_name'].substr(0,exemplar['asset_file_name'].lastIndexOf('.'))| slice:0:filenameCharlmt}}
                                  <span
                                    *ngIf="exemplar['asset_file_name'].substr(0,exemplar['asset_file_name'].lastIndexOf('.')).length>filenameCharlmt">...</span>.{{exemplar['asset_file_name'].substr(exemplar['asset_file_name'].lastIndexOf('.')
                                  + 1)}}</a></span>

                            </ng-container>
                            <ng-container *ngIf="exemplar['has_asset'] === 0">
                              <span class="associated-file text-truncate">
                                <span class="icon">
                                  <img alt="attachment icon" class="img-fluid" src="assets/images/attachment-icon.png">
                                </span>
                                <a href="{{exemplar.external_url}}" class="text-link" target="_blank"
                                  aria-label="Click to preview the URL">{{exemplar['external_download_url']}}</a></span>
                            </ng-container>

                          </div>

                        </ng-container>
                      </div>
                      <!-- Exemplar end -->
                      <div>
                        <ng-container *ngFor="let asset of item['itemAssets'];let $index=index">
                          <span class="associated-file">
                            <span class="icon">
                              <img alt="attachment icon" class="img-fluid" src="assets/images/attachment-icon.png">
                            </span>
                            <a href="{{asset.preview_url}}" target="_blank" aria-label="Click to preview asset"
                              class="text-link">
                              {{asset['asset_file_name'].substr(0,asset['asset_file_name'].lastIndexOf('.'))| slice:0:filenameCharlmt}}<span
                                *ngIf="asset['asset_file_name'].substr(0,asset['asset_file_name'].lastIndexOf('.')).length>filenameCharlmt">...</span>.{{asset['asset_file_name'].substr(asset['asset_file_name'].lastIndexOf('.')
                              + 1)}}</a></span>

                        </ng-container>
                      </div>
                      <!-- Document End-->
                    </div>
                  </div>
                  <div *ngFor="let class of listOfClass" [ngClass]="class.class"></div>

                </div>
              </div>

              <div *ngIf="item.children && item.expand">

                <ng-container *ngTemplateOutlet="branch; context: { $implicit : item.children}"></ng-container>

              </div>

            </div>
          </div>
        </div>

      </ng-template>


      <ng-container *ngTemplateOutlet="branch; context:{ $implicit: items}">
      </ng-container>





      <app-tabular-tree-side-pane #tabularTreeSidePaneComponent [showUserFriendlyPage]="showUserFriendlyPage"
        [isAllNode]="isAllNode" [taxonomyData]="rawTreeData"
        (nextClickEvent)="onNextNavigationClick($event);clicked = $event.node.id" [showNavigation]="showNavigation"
        [selectedNode]="selectedNode"
        (previousClickEvent)="onPreviousNavigationClick($event); clicked = $event.node.id">

      </app-tabular-tree-side-pane>


      <!-- <div class="preloader" *ngIf="!dataReceived">
        <div class="lines">
          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
  
        <div class="loading-text">
          <p class="mb-0">Loading Table</p>
        </div>
      </div> -->
      <app-preloader *ngIf="!dataReceived" [loaderText]="'Loading Table..'" class="w-100 position-fixed preloader-backdrop"></app-preloader>
    </ng-container>
  </div>
</div>
