﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{imageUrl}}/favicon.ico" type="image/x-icon">
    <title>ACE</title>

    <link href="Css/Css.min.css" rel="stylesheet" />
    <script src="Scripts/script.min.js" type="text/javascript"></script>
    <script src="Scripts/application.js" type="text/javascript"></script>
	<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML-full"></script>
</head>
<body class="">
    <div class="wrapper" ng-app="ACEApp" ng-controller="AssessmentEngineCtrl">
        <div class="loadermain loaded hide" data-loading id="loader">
            <div class='loader'>
                <div class="loader-inner line-scale-pulse-out-rapid">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="main-controler">
            <!-- START HEADER BLOCK -->
            <!--<header class="header-main" ng-show="headerview">-->
            <header class="header">
                <div class="clearfix"></div>
            </header>

            <!-- END HEADER BLOCK -->

            <section class="container-main">
                <div ng-include="'Quiz.html'" class="content-main-wrapper"></div>
                <div class="clearfix"></div>
            </section>
        </div><!--controller-->
    </div><!--my app-->
</body>
</html>