//variable declarations
$white:    #fff !default;
$gray-100: #f7f9fa !default;    // * sidebar
$gray-200: #f4f5f7 !default;    // * for the buttons
$gray-300: #eee !default;       // * border
$gray-400: #ddd !default;       // * hr
$gray-500: #ccc !default;       // * form border
$gray-600: #72809a !default;    // * next arrow
$gray-700: #42526e !default;    // * bell, dropdown arrow, navbar text
$gray-800: #333 !default;       // * for the link
$gray-900: #212529 !default;
$gray-1000: #40526c !default;    // for the menu dropdown
$black:    #000 !default;


//$blue:    #006eff !default;     // * brand blue
$blue:    #3d5afe !default;     // * brand blue
$green:   #3ea408  !default;    // * brand green
$pink:    #d81b60 !default;     // * brand pink
$red:     #dc3545 !default;
$yellow:  #fae849 !default;
$orange:  #CC7401 !default;

//variables assigned to another variables 
//so that they can be easily changed with new variables as per project theme
$primary:       $blue !default;
$secondary:     $gray-700 !default;
$tertiary:      $gray-200 !default;
$success:       $green !default;
$danger:        $red !default;
$notify:        $pink !default;
$warning:       $yellow !default;
$info:          $orange !default;

$light:         $gray-300 !default;
$lighter:       $gray-200 !default;
$lightest:      $gray-100 !default;

$dark:          $gray-400 !default;
$darker:        $gray-500 !default;
$darkest:       $gray-600 !default;
$darkest-x:     $gray-700 !default;
$darkest-xx:    $gray-800 !default;
$darkest-xxx:   $gray-900 !default;
$darkest-xxxx:  $gray-1000 !default;

$navbar-bg:     $lightest !default;

$walkthrough-alpha: rgba(66, 82, 110, .24);

$relative:  relative;
$absolute:  absolute;
$fixed:  fixed;
$transparent: transparent;

$base-font: 'Nunito', sans-serif;
$icon-font: 'icomoon';
