@import "abstracts/variables";
@import "abstracts/mixins";

.file {
  &-uploaded {
    &-row {
      @extend %box-shadown-transition;
      @include padding(15px 0);
      @include margin-indv('bottom', 10px);
      @include border-all(1px, solid, $white);
      .file-type{
        @include margin-indv('bottom', 0);
        // min-width: 100%;
      }

      &:hover,
      &:focus,
      &:active {
        @include box-shadow-dropdown;
        @include border-all(1px, solid, $light);
      }
    }

    .error {
      border-bottom-color: $notify;

      &--msg {
        @include font-color($notify);
        word-break: break-word;
      }
    }

    .btn {
      &-clear {
        &:disabled {
          @extend .cursor-not-allowed;
          @include bgcolor(transparent);
          opacity: .6;

          &:hover {
            @include bgcolor(transparent);
          }
        }
      }
    }
  }

  &-type {
    @include bgcolor($tertiary);
    @include border-radius(4px);
    @include padding(1rem 0);
    @include margin-indv('bottom', 10px);
    @include border-all(1px, solid, $darkest);

    p {
      @include margin-indv('bottom', 0);
    }
  }

  &-info {
    p {
      @include margin-indv('bottom', 5px);
    }

    ul {
      li {
        @extend %font-weight-regular;
        @include font-color($darkest);
        @include font-size(13);
      }
    }
  }

  &-name{
    min-width: 400px;
    max-width: 400px;
  }
}

.upload-file {
  &:disabled {
    @extend .cursor-not-allowed;
    @include bgcolor(transparent);

    &:hover {
      @include bgcolor(transparent);
    }
  }
}

.preloader{
  &-backdrop{
    height: inherit;
  }
}
