<section class="row justify-content-between align-items-center taxonomies-creation">
  <div class="col-9">
    <h3 class="font-bold" *ngIf="viewLocation === TAXO_LIST_LOCATION">How would you import files?</h3>
  </div>

  <div class="col-3 text-right step--count">
    <p class="mb-0 font-bold">Step {{currentStep+1}} of {{totalStepLength}}</p>
  </div>

  <div class="col" *ngIf="viewLocation === TAXO_LIST_LOCATION">
    <p>Select the correct option below and click on "Continue"</p>
  </div>

  <div class="col-12">
    <form [formGroup]="form">
      <p>Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are required.
      </p>
      <div class="form-row form-group" *ngIf="viewLocation === TAXO_LIST_LOCATION">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" value="Desktop" id="customRadioInline1" formControlName="selectUploadType"
            [(ngModel)]="selectedUploadType" name="selectUploadType" class="custom-control-input" [checked]=""
            (change)="onUploadTypeSelected($event.target.value)"
            [attr.disabled]="uploadDisabled || isImportLoader ? true : null">
          <label class="custom-control-label font-bold" for="customRadioInline1">Upload file from desktop</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" value="URL" id="customRadioInline2" formControlName="selectUploadType"
            [(ngModel)]="selectedUploadType" name="selectUploadType" class="custom-control-input" [checked]=""
            (change)="onUploadTypeSelected($event.target.value)"
            [attr.disabled]="uploadDisabled || isImportLoader ? true : null">
          <label class="custom-control-label font-bold" for="customRadioInline2">Upload from URL</label>
        </div>
      </div>

      <section id="fromDesktop" *ngIf="selectedUploadType==='Desktop'">
        <div class="form-row form-group" *ngIf="viewLocation === TAXO_LIST_LOCATION">

          <label for="caseJson" class="font-bold">Select file type <span class="mandatory"
              aria-hidden="true">*</span></label>
          <div class="d-flex align-items-center w-100 justify-content-start">
            <select id="caseJson" class="custom-select" formControlName="fileType" [(ngModel)]="selectedFileType"
              (change)="onFileTypeSelected()" [attr.disabled]="uploadDisabled || isImportLoader ? true : null">
              <option [ngValue]="jsonType" [disabled]="selectedFileType===jsonType">{{jsonType}}</option>
              <option [ngValue]="csvType" [disabled]="selectedFileType===csvType">{{csvType}}</option>
            </select>
            <button [disabled]="isImportLoader" class="btn btn-icon tooltip top lg" data-tooltip="Download Sample CSV"
              *ngIf="selectedFileType === csvType" (click)="downloadSample($event)"><em class="fas fa-download"
                [aria-label]="'Download Sample CSV'"></em></button>
          </div>
        </div>
        <div class="form-group upload-container">
          <label for="uploadFileForTaxo" class="font-bold" id="uploadFileLabel">
            {{(viewLocation === TAXO_DETAIL_LOCATION) ? 'Upload CSV file to import' : 'Upload files'}} <span
              class="mandatory" aria-hidden="true">*</span></label>
          <div>
            <button class="btn btn-clear upload-file pb-0" [disabled]="uploadDisabled || isImportLoader"
              onclick="document.getElementById('uploadFileForTaxo').click()" (click)="activateSession();">Click here
              <span> to upload {{(viewLocation === TAXO_DETAIL_LOCATION)
                ? 'the CSV file' : 'files'}}</span>
            </button>
            <p class="form-control-file cursor-pointer" name="casefile" accept="" (change)="onFilesSelection()">
              <input #fileInput type="file" id="uploadFileForTaxo" tabindex="-1"
                [multiple]="selectedFileType===jsonType || selectedFileType===csvType"
                aria-labelledby="uploadFileLabel projectDocumentsHelp">
            </p>
          </div>
          <p id="projectDocumentsHelp" class="form-text text-muted text-right form-text__upload mb-0">
            {{selectedFileType}} files that will import taxonomy for you to work on.</p>
        </div>
      </section>

      <section id="fromURL" *ngIf="selectedUploadType==='URL'">
        <div class="form-group">
          <label for="server" class="font-bold w-100">Select Server <span class="mandatory"
              aria-hidden="true">*</span></label>
          <app-auto-complete [listingObj]="serverList" (selectedObject)="selectedServer=$event;getServerTaxonomyList()"
            [selectType]="'single'" [uniqueId]="'linked_server_id'" [propName]="'linked_name'" [isLableShow]="false"
            [autoCompleteTitle]="'Server'" [disabled]="uploadDisabled || disableServer"
            [showSpinner]="loadingServerList" #autoCompleteServer (clickOutside)="onClickedOutside($event, 'server')">
          </app-auto-complete>
        </div>

        <div class="form-group">
          <label for="server" class="font-bold w-100">Select Taxonomy <span class="mandatory"
              aria-hidden="true">*</span></label>
          <app-auto-complete [listingObj]="taxonomyList" (selectedObject)="onTaxonomySelected(false, $event)"
            [selectType]="'multi'" [uniqueId]="'document_id'" [propName]="'taxonomy_name'" [isLableShow]="false"
            [clearArray]="true"
            [disabled]="((selectedServer && !serverTaxonomyLoading) && !uploadDisabled) ? false : true"
            [showSpinner]="serverTaxonomyLoading" [autoCompleteTitle]="'Taxonomy'"
            [showValidMsg]="selectedFiles.length<1" #autoCompleteTaxoUrl
            (clickOutside)="onClickedOutside($event, 'taxonomy')">
          </app-auto-complete>

        </div>
      </section>



      <!-- Loader screen for uploading -->
      <div class="d-flex col-12 p-0 uploader-loading">
        <ng-container *ngIf="uploadDisabled">
          <app-preloader [loaderText]="'Processing..'" class="w-100 position-absolute preloader-backdrop">
          </app-preloader>
        </ng-container>

        <ng-container *ngIf="selectedFileType === csvType ? loadingCSV : isImportLoader">
          <app-preloader [loaderText]="'Importing Taxonomy..'" class="w-100 position-absolute preloader-backdrop">
          </app-preloader>
        </ng-container>

        <app-uploading-list class="w-100" [uploadList]="selectedFiles" [isUploading]="uploadDisabled"
          [isImportLoader]="isImportLoader" [showSubscribeBtn]="selectedUploadType==='URL'"
          (importTypeEvent)="onImportTypeSelected($event)" (deleteEvent)="onFileDeleted($event)"
          [hideImportOptions]="csvUpdateOnly">
        </app-uploading-list>
      </div>
      <!-- Uploaded files list end -->

    </form>
  </div>
</section>
