@import "../../../assets/scss/abstracts/variables";
@import "../../../assets/scss/abstracts/mixins";
@import "../../../assets/scss/abstracts/bp";
@import "../../../assets/scss/component/search";
@import "../../../assets/scss/component/form";
// @import "../../../assets/scss/component/dropdown";

.search{
    &-clear{
        @include top(4px);
        @include right(9px);
        @include z-index(2);
    }

    &-inputfield{
        @include border-radii(4px, 4px, 0, 0);
        @include border-none(none);
        @include border-indv('bottom', 1px, solid, $darker);
        @include z-index(1);
    }

    &__options{
        @include bgcolor($lightest);

        .btn{
            @include font-color(15);
            padding: 0.25rem 0.9rem;
        }
    }

    &-icon{
        @include z-index(2);
    }
}

.dropdown{
    &-menu{
        width: 19.5rem;
        &.lang-selector{
            @include right(-315px);
            @include top(-165px);
            min-width: 260px;
        }

        &-right{
            @include right(0);
        }

        .btn{
            &-cancel,
            &-clear{
                &:hover,
                &:focus{
                    @include bgcolor(transparent);
                }
            }
        }
    }

    .filter{
        @include font-size(10);
        @include font-color($primary);
        @include padding(5px);
        @include padding-indv('bottom', 3px);
        @include border-none(none);
        transition: visibility .5s, opacity .5s linear;
        opacity: 0;

        &-button{
            @include position(relative);
            @include top(-2px);
        }

        &.tooltip {
            width: 22px;
            height: 22px;

            &.top {
              &:after {
                @include left (-160%);
              }
            }
          }

        &:hover,
        &:focus,
        &.active{
            @extend %transition-fade-active;
        }

        .fa-filter{
            width: 10px;
        }

        &--icon{
            &:hover,
            &:focus {
                fill: $primary;
            }
        }
    }
}

.select-node{
    &.custom-select{
        @include padding(.275rem 1.75rem .175rem .375rem);
        height: 30px;

        @include media( "screen", ">minXxxlarge"){
            min-width: 103px;
        }

        @include media( "screen", "<maxXxxlarge"){
            max-width: 75px;
        } 

        &.lg-custom-select{
            height: 38px;
            @include media( "screen", ">minXxxlarge"){
                min-width: 100%;
            }
            @include media( "screen", "<maxXxxlarge"){
                min-width: 100%;
            }
        }
    }
}

.trimmed {
    max-width: 9rem;
}
