<section class="row align-items-center" role="tabpanel" *ngIf="!selectCreateBlock">
  <ul class="list-inline d-flex mb-0 ml-3 mt-2">
    <li class="list-inline-item">
      <button *ngIf="homePageBlocksPermission" class="btn btn-primary btn-sm" id="crtNblk"
        (click)="selectCreateBlock = true;onCancel();enableControls('create');">Create
        New Block</button>
    </li>
    <li>
      <button *ngIf="homePageBlocksPermission" class="btn btn-clear btn-sm text-underline" id="reorderHb" data-toggle="modal"
        data-target="#reOrderHomePageBlocks" (click)="enableUpdate = false;">Reorder</button>
    </li>
  </ul>

  <app-data-table [defaultSortBy]="'preventSort'" [tableCategory]="'homepage-block'" [showMenu]="true" class="w-100"
    [columnList]="listOfColumn" [dataSet]="homePageBlocksList" [optionList]="optionList" [dropdownItems]="statusList"
    [showLoader]="hpBlockLoader" (clickedOption)="onOptionClicked($event)"
    (clickedStatus)="changeStatus($event.val, $event.id)"></app-data-table>
</section>

<ng-container *ngIf="selectCreateBlock">
  <div class="col-8 p-0">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="homePageBlockName" class="font-bold" id="homePageBlockNameLabel">Name</label>
        <input id="homePageBlockName" class="form-control font-bold" [(ngModel)]="homePageBlockName"
          formControlName="homePageBlockName" (keyup)="checkValidation()" />
        <div
          *ngIf="form.controls['homePageBlockName'].hasError('required') && form.controls['homePageBlockName'].touched"
          class="error--txt" role="alert">
          <p class="font-bold m-0">Title is required</p>
        </div>
      </div>
    </form>
    <app-ngx-editor [placeholder]="'Enter text here...'" (keyup)="checkDescValidation();"
      (ngModelChange)="checkDescValidation();" [config]="editorConfig" [spellcheck]="true" (keyup)="getEditorData();"
      [(ngModel)]="editorContent"></app-ngx-editor>
    <div class="col-12 text-right pr-0 mt-3">
      <button class="btn btn-clear" id="cnlBtnHb" type="button" (click)="onCancel();selectCreateBlock = false">Cancel</button>
      <button class="btn btn-primary btn-sm" id="cfmBtnHb" type="button" (click)="selectCreateBlock= false;createHomePageBlock()"
        *ngIf="enableCreateButton" [disabled]="!form.valid || !valid">Confirm</button>

      <button class="btn btn-primary btn-sm" id="uptBtnHb" type="button" (click)="selectCreateBlock= false;updateHomePageBlock()"
        *ngIf="enableUpdateButton" [disabled]="!form.valid || !valid">Update</button>

    </div>
  </div>

</ng-container>



<!-- Add Node Template Set Modal Starts -->
<app-modal [modalId]="'reOrderHomePageBlocks'" [showCloseAlert]="enableUpdate" [modalSize]="'big'"
  (closeEvent)="onCancel();getHomePageBlocks();">
  <modal-div class="title-text" id="reordernotestitle">
    Reorder Notes
  </modal-div>

  <modal-div class="body-content">
    <div class="row justify-content-center">
      <div class="col-md-11 col-lg-10 col-xl-8 node-template-creation">
        <div dragula="homePageBlocksListForDrag" [(dragulaModel)]="homePageBlocksListForDrag"
          (dragulaModelChange)=onNodeRearranged(); role="list" aria-live="polite" aria-atomic="true">
          <div *ngFor="let node of homePageBlocksListForDrag;let i = index" class="row node-type drag" role="listitem">
            <div class="col-10">{{ node.title }}</div>
            <div class="col-10 hide-content" [innerHtml]="node.description"></div>
            <div class="col-2 text-right">
              <div class="row align-items-center">
                <div class="col align-self-end">
                  <img src="assets/images/move.gif" class="img-fluid handle" alt="Move" />
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </modal-div>

  <modal-div class="footer-buttons">
    <button type="button" class="btn btn-primary btn-lg float-right" id="uptnodetempHb" (click)="reorderNotes()" data-dismiss="modal"
      [disabled]="!enableUpdate">Update</button>
  </modal-div>
</app-modal>
<!-- Add Node Template Set Modal Ends -->
