@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.draggable-table{
    .drag{
        &:hover{
            @include bgcolor($lighter);

            .move,
            .remove{
                @include display(block);
                @include font-color($black);
                opacity: 1;
            }
        }

        .move{
            @include display(none);
            @include margin-indv('top', 2px);
            @include margin-indv('left', 6px);
            @include left(0);
        }

        .remove{
            @include display(none);
            @include margin-indv('right', 6px);
            @include right(0);
        }
    }

    .added{
        @include bgcolor(fade-out($warning, .4));
        transition: background-color 3000ms;
    }
      
    .hide {
        transition: background-color 1000ms;
    }
}

.taxonomy-selector{
    min-height: 90px;
}

.badge-secondary{
    @include bgcolor($dark);
    @include font-color($black);
    @include font-weight(400);
}
