<div class="file-uploaded" *ngIf="uploadList.length>0">
  <!-- start of loop -->
  <ng-container *ngFor="let item of uploadList; let i = index;">
    <div class="mb-2 col-12 p-0" [ngClass]="{'border-bottom': (i !== (uploadList.length-1))}">
      <div class="file-uploaded-row w-100 d-flex justify-content-center align-items-top">

        <div class="col-2" *ngIf="item.typeName">
          <p class="file-type text-center mb-0" id="{{item.typeName}}label">
            {{item.typeName}}</p>
        </div>

        <div class="col p-0 file-info" id="{{item.name}}file">
          <p class="file-name font-bold text-truncate">{{item.name}}</p>
          <ng-container *ngIf="item.size">
            <p class="mb-0">File size: {{ formatBytes(item.size)}}</p>
            <ng-container *ngIf="item.uploadStatus!==UPLOAD_NOT_STARTED && !item.hasError">
              <p class="mb-0">Uploaded:
                {{item.uploadProgress}}%</p>
            </ng-container>
          </ng-container>
          <div class="w-100 d-block" role="alert" aria-live="polite" aria-atomic="true">
            <p class="error--msg" *ngIf="item.message">
              {{item.message}}</p>
          </div>
        </div>

        <div class="col-auto d-flex align-items-center" *ngIf="showDeleteButton && item.showDelete">
          <button type="button" class="btn btn-clear tooltip top lg position-relative border-0 p-0"
            id="DeluploadedfileBtn" data-tooltip="Delete uploaded file" [attr.aria-label]="'Delete uploaded file'"
            (click)="removeFile(i)" [disabled]="isUploading">
            <img src="assets/images/bin.gif" alt="Delete uploaded file" class="img-fluid" /></button>
        </div>
      </div>

      <div class="form-row" *ngIf="item.importOptions.length > 0" [hidden]="hideImportOptions || item.hide">
        <label for="{{'importType'+i}}" id="{{'ImporttypeLabel-'+i}}" class="font-bold">Import type</label>
        <select *ngIf="item.uploadStatus===UPLOAD_NOT_STARTED" id="{{'importType'+i}}" class="custom-select import-type"
          [(ngModel)]="item.importType" (change)="onImportTypeChange(item?.id)" [disabled]="isImportLoader">
          <option [ngValue]="null">Select option for upload</option>
          <option *ngFor="let type of item.importOptions" [ngValue]="type.value">{{type.name}}</option>
        </select>
        <select *ngIf="item.uploadStatus===UPLOAD_IN_PROGRESS" id="{{'importType'+i}}" class="custom-select import-type"
          [(ngModel)]="item.importType" [attr.disabled]="true">
          <option *ngFor="let type of item.importOptions" [ngValue]="type.value">{{type.name}}</option>
        </select>
        <label for="importType" id="{{'importTyLabel'+i}}" class="font-bold mt-2">Note: Taxonomies imported with option
          "{{importNoChangesText}}" cannot be edited.</label>
      </div>

      <div class="col-5 d-flex justify-content-between p-0 mt-3"
        *ngIf="showSubscribeBtn && (item.importType === 1 || item.importType === 3)">
        <div class="col-auto p-0">
          <p class="font-bold mb-0" id="description">Subscribe
            <span class="w-100 d-block mb-0 text-dimed">Receive version notification</span></p>
        </div>
        <div class="col-auto p-0">
          <div class="custom-control custom-switch d-flex">
            <input type="checkbox" class="custom-control-input" id="notificationToggle_{{i}}"
              [(ngModel)]="item.subscription">
            <label class="custom-control-label" aria-labelledby="description" for="notificationToggle_{{i}}">
              {{item.subscription ? 'ON' : 'OFF'}} </label>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- end of loop -->
</div>
