@import "abstracts/variables";
@import "abstracts/mixins";

.profile{
    &-image{
        @include bgcolor($light);
        width: 135px;
        height: 135px;

        img{
            width: 72px;
            height: 72px;
        }
    }

    &-signature{
        @include font-size(60);
        @include font-color($darkest-x);
    }

    &-name{
        @include font-size(18);
        @include font-color($black);
    }

    &-email,
    &-role{
        @include font-size(13);
        @include font-color($darkest);
    }
    
}

