<div class="row justify-content-center">
  <section class="col mt-3 profile text-center">
    <app-preloader [loaderText]="'Loading profile..'" *ngIf="profileLoading" class="w-100 position-fixed preloader-backdrop"></app-preloader>
    <ng-container *ngIf="!profileLoading && userProfileObj">
      <div class="row justify-content-center mb-3">
        <div class="d-flex align-items-center justify-content-center rounded-circle profile-image">
          <h2 class="profile-signature font-bold">{{userProfileObj.initialNames}}</h2>
          <!-- <img src="assets/images/profile.png" class="img-fluid rounded-circle" alt="name of the person" /> -->
        </div>
      </div>

      <h3 class="profile-name font-bold">{{userProfileObj.first_name + ' ' + userProfileObj.last_name}}</h3>
      <p class="profile-email m-0">{{userProfileObj.email}}</p>
      <!-- <p class="profile-role mt-2">Admin</p> -->

      <div class="col align-self-center">
        <button type="button" class="btn btn-clear text-underline" data-toggle="modal" [attr.data-target]="'#editProfile'" id="editProfileBtn" (click)="onEditBtnClick()">Edit
          Profile<span class="sr-only">Opens in a new dialog</span>
        </button>
        <button type="button" class="btn btn-clear text-underline" data-toggle="modal" [attr.data-target]="'#changePassword'" id="changePasswordBtn" (click)="onChangePasswordBtnClick()">Change
          Password<span class="sr-only">Opens in a new dialog</span>
        </button>
      </div>
    </ng-container>
  </section>
</div>

<app-modal [modalId]="'editProfile'" [showCloseAlert]="profileForm.dirty" [modalSize]="'small'" (closeEvent)="onCancel($event);">
  <modal-div class="title-text" id="editprofiltitle"> 
    Edit Profile
  </modal-div>

  <modal-div class="body-content">
    <section class="row justify-content-center">
      <div #formPanel id="user-profile" class="col-12">
        <p class="mt-3">Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are required.
        </p>
        <div class="row p-0">
          <form [formGroup]="profileForm" class="w-100">
            <div class="form-group col-12">
              <label for="first_name" id="first_nameLabel" class="font-bold">First Name
                <span aria-hidden="true" class="mandatory">*</span>
              </label>
              <input type="text" class="form-control font-bold" name="first_name" id="first_name" formControlName="firstName" [(ngModel)]="firstName">
              <div class="error--txt" *ngIf="profileForm.controls['firstName'].errors && profileForm.controls['firstName'].touched">
                <div *ngIf="profileForm.controls['firstName'].hasError('required') || profileForm.controls['firstName'].hasError('whitespace')"
                  role="alert">
                  <p class="font-bold m-0">First name required</p>
                </div>
              </div>
            </div>

            <div class="form-group col-12">
              <label for="last_name" id="last_nameLabel" class="font-bold">Last Name
                <span aria-hidden="true" class="mandatory">*</span>
              </label>
              <input type="text" class="form-control font-bold" name="last_name" id="last_name" formControlName="lastName" [(ngModel)]="lastName">
              <div class="error--txt" *ngIf="profileForm.controls['lastName'].errors && profileForm.controls['lastName'].touched">
                <div *ngIf="profileForm.controls['lastName'].hasError('required') || profileForm.controls['lastName'].hasError('whitespace')"
                  role="alert">
                  <p class="font-bold m-0">Last name required</p>
                </div>
              </div>
            </div>

            <div class="form-group col-12">
              <label for="emailInputId" id="emailInputIdLabel" class="font-bold">Email</label>
              <input type="text" class="form-control font-bold" name="emailInputId" id="emailInputId" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
                readonly="true">
            </div>

            <div class="form-group col-12 my-0">
              <div class="row">
                <div class="col-6">
                  <label for="academicRole" id="academicRoleLabel" class="font-bold">Academic Role</label>
                  <select class="custom-select" formControlName="userType" id="userTypeBtn" [(ngModel)]="userType" (change)="onDropdownclick();userType=$event.target.value">
                    <option value="" [hidden]="true">Roles</option>
                    <option [ngValue]="item" id="{{item.option.split(' ').join('')}}Btn" *ngFor="let item of dropdownItemsRoles">{{ item.option }}</option>
                  </select>
                </div>
                <!-- <div class="col-8" *ngIf="userType == TEACHER_TYPE"> -->
                <div class="col-12 mt-3" *ngIf="typeOfuser == 'TEACHER_TYPE'">
                  <div class="row">
                    <div class="col-auto">
                      <p class="font-bold mb-2" id="levelsTaught">Grade Levels Taught</p>
                      <div class="d-flex justify-content-start pt-2">
                        <div class="mr-2" *ngFor="let level of grades">
                          <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" aria-describedby="levelsTaught" type="checkbox" id="{{level.value}}" [checked]="level.checked"
                              value="{{level.value}}" (click)="level.checked=!level.checked;onCheckboxClick(GRADE_LEVEL_TYPE)">
                            <label class="custom-control-label font-bold" id="{{level.name.split(' ').join('')}}" for="{{level.value}}">{{level.name}}</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-auto">
                      <p class="font-bold mb-2" id="worldLanguages">World Languages:</p>
                      <div class="d-flex justify-content-start pt-2">
                        <div class="mr-2" *ngFor="let sub of subjects">
                          <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" aria-describedby="worldLanguages" type="checkbox" id="{{sub.value}}" [checked]="sub.checked"
                              value="{{sub.value}}" (click)="sub.checked=!sub.checked;onCheckboxClick(SUBJECT_TYPE)">
                            <label class="custom-control-label font-bold" id="{{sub.name.split(' ').join('')}}label" for="{{sub.value}}">{{sub.name}}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <!-- <div class="d-flex justify-content-start">
                  <p class="mb-0 font-bold" id="k12">Are you a K-12 teacher?</p>
                  <div class="pl-4">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input class="custom-control-input" id="teacherYes" aria-describedby="k12" name="userType"
                        type="radio" [value]="TEACHER_TYPE" formControlName="userType" [(ngModel)]="userType"
                        (change)="onRadioBtnClick()">
                      <label class="custom-control-label font-bold" for="teacherYes">Yes</label>
                    </div>
                  </div>
                </div>

                <div class="pb-2" *ngIf="userType == TEACHER_TYPE">
                  <div class="d-flex justify-content-start">
                    <p class="font-bold mb-2" id="levelsTaught">Grade Levels Taught</p>
                    <div class="d-flex justify-content-start">
                      <div class="pl-4" *ngFor="let level of grades">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" aria-describedby="levelsTaught" type="checkbox"
                            id="{{level.value}}" [checked]="level.checked" value="{{level.value}}"
                            (click)="level.checked=!level.checked;onCheckboxClick(GRADE_LEVEL_TYPE)">
                          <label class="custom-control-label font-bold" for="{{level.value}}">{{level.name}}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <p class="mb-0 font-bold">Subject Areas Taught</p>
                  <div class="d-flex justify-content-start">
                    <p class="font-bold mb-0" id="worldLanguages">World Languages:</p>
                    <div class="d-flex justify-content-start">
                      <div class="pl-4" *ngFor="let sub of subjects">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" aria-describedby="worldLanguages" type="checkbox"
                            id="{{sub.value}}" [checked]="sub.checked" value="{{sub.value}}"
                            (click)="sub.checked=!sub.checked;onCheckboxClick(SUBJECT_TYPE)">
                          <label class="custom-control-label font-bold" for="{{sub.value}}">{{sub.name}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="d-flex justify-content-start pt-2">
                  <p class="mb-0 font-bold" id="K12Admin">Are you a K-12 administrator?</p>
                  <div class="pl-4">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input class="custom-control-input" id="K12adminYes" aria-describedby="K12Admin" name="userType"
                        type="radio" [value]="ADMINISTRATOR_TYPE" formControlName="userType" [(ngMode)]="userType"
                        (change)="onRadioBtnClick()">
                      <label class="custom-control-label font-bold" for="K12adminYes">Yes</label>
                    </div>
                  </div>

                </div>

                <div class="d-flex justify-content-start pt-2">
                  <p class="mb-0 font-bold" id="higherEducation">Do you work in Higher Education?</p>
                  <div class="pl-4">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input class="custom-control-input" id="workHEyes" aria-describedby="higherEducation"
                        name="userType" type="radio" [value]="HIGHER_EDUCATION_TYPE" formControlName="userType"
                        [(ngModel)]="userType" (change)="onRadioBtnClick()">
                      <label class="custom-control-label font-bold" for="workHEyes">Yes</label>
                    </div>
                  </div>
                </div> -->

                <div class="pt-3">
                  <div class="d-flex justify-content-start align-items-center"> 
                    <p class="mb-0 font-bold" id="lang">Languages taught in your district or institution</p>
                    <app-multi-select-dropdown [data]="languages" [viewLocation]="'profile'" [dropdownSettings]="dropdownSettings" [isOpenDropdown]="true"
                    [isAllselect]="true" (SelectEvent)="onCheckboxClickOption($event,LANGUAGE_TYPE)">
                    </app-multi-select-dropdown>
                  </div>
                  
                  <div class="d-flex flex-wrap justify-content-start align-items-start mt-2">
                    <div class="mr-2 lang-chip d-flex justify-content-start align-items-center" *ngFor="let selectedLang of selectedLangs">
                      <p class="mb-0">{{selectedLang.label}}</p>
                      <!-- <button class="btn btn-sm btn-icon p-0 font-1x"><em class="fas fa-times"></em></button> -->
                    </div>
                    
                  </div>
                  <div *ngIf="showOtherLang">
                    <label class="font-bold" for="other-lang">Other (enter languages here)</label>
                    <input id="other-lang-field" aria-label="Enter languages here" class="form-control font-bold mt-2" [(ngModel)]="otherLanguage"
                      formControlName="otherLang" name="other-lang" type="text" (keyup)="checkValidation();" (blur)="checkValidation();">
                    <div class="error--txt" *ngIf="showErrorMsg">
                      <div *ngIf="showErrorMsg" role="alert">
                        <p class="font-bold m-0">Other language required</p>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row pt-1">
                    <div class="col-sm-4" *ngFor="let lang of languages">
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" aria-describedby="lang" id="{{lang.name}}"
                          [checked]="lang.checked" type="checkbox" value="{{lang.value}}"
                          (click)="lang.checked=!lang.checked;onCheckboxClick(LANGUAGE_TYPE)">
                        <label class="custom-control-label font-bold" for="{{lang.name}}">{{lang.name}}</label>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="other-lang" type="checkbox" [checked]="showOtherLang"
                          (change)="showOtherLang=$event.target.checked;onOthrLangCheck()">
                        <label class="custom-control-label font-bold" for="other-lang">Other (enter languages
                          here)</label>
                      </div>
                      <input [hidden]="!showOtherLang" id="other-lang-field" aria-label="Enter languages here"
                        class="form-control font-bold mt-2" [(ngModel)]="otherLanguage" formControlName="otherLang"
                        name="other-lang" type="text">
                      <div class="error--txt"
                        *ngIf="profileForm.controls['otherLang'].errors && profileForm.controls['otherLang'].touched">
                        <div
                          *ngIf="profileForm.controls['otherLang'].hasError('required') || profileForm.controls['otherLang'].hasError('whitespace')"
                          role="alert">
                          <p class="font-bold m-0">Other language required</p>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </section>
  </modal-div>

  <modal-div class="footer-buttons">
    <button aria-label="Click to save your profile" class="btn btn-primary" id="editProfileBtn" (click)="editProfile()" [disabled]="(!profileForm.valid || profileUpdateLoading) || !valid">
      <em class="fa fa-spinner fa-spin" *ngIf="profileUpdateLoading"></em>
      {{profileUpdateLoading ? 'Updating' : 'Update'}}</button>
  </modal-div>
</app-modal>

<app-modal [modalId]="'changePassword'" [showCloseAlert]="chngPassForm.dirty" [modalSize]="'small'" (closeEvent)="onCancel($event);">
  <modal-div class="title-text" id="chngpasswordtitle">
    Change Password
  </modal-div>

  <modal-div class="body-content">
    <section class="row justify-content-center">
      <div class="col-12" aria-label="Change password section">
        <p class="mt-3">Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are required.
        </p>
        <div class="row p-0">
          <form [formGroup]="chngPassForm" class="col p-0">
            <div class="form-group col-12">
              <label for="curr_pass" class="font-bold" id="curr_passLabel">Current Password
                <span aria-hidden="true" class="mandatory">*</span>
              </label>
              <input type="password" class="form-control font-bold" name="curr_pass" id="curr_pass" formControlName="currentPass" autocomplete="off"
                [(ngModel)]="password" (keydown.space)="$event.preventDefault();">
              <div class="error--txt" *ngIf="chngPassForm['controls']?.currentPass.errors && chngPassForm['controls']?.currentPass.touched">
                <div *ngIf="chngPassForm['controls'].currentPass.hasError('required') || chngPassForm['controls'].currentPass.hasError('whitespace')"
                  role="alert">
                  <p class="font-bold m-0">Current password required</p>
                </div>
              </div>
            </div>

            <div class="form-group col-12" formGroupName="passwords">
              <div class="form-group">
                <label for="new_pass" class="font-bold" id="new_passLabel">New Password
                  <span aria-hidden="true" class="mandatory">*</span>
                </label>
                <input type="password" class="form-control font-bold" name="new_pass" id="new_pass" formControlName="newPass" autocomplete="off"
                  [(ngModel)]="newPassword" (keydown.space)="$event.preventDefault();">
                <div class="error--txt" *ngIf="chngPassForm['controls']?.passwords['controls']?.newPass.errors && chngPassForm['controls']?.passwords['controls']?.newPass.touched">
                  <div role="alert">
                    <p *ngIf="chngPassForm['controls'].passwords['controls'].newPass.hasError('required')" class="font-bold m-0">New
                      password required</p>
                    <p *ngIf="chngPassForm['controls'].passwords['controls'].newPass.hasError('minlength')" class="font-bold m-0">Password
                      must be minimum of 8 characters</p>
                    <p *ngIf="chngPassForm['controls'].passwords['controls'].newPass.hasError('maxlength')" class="font-bold m-0">Password
                      must be maximum of 12 characters</p>
                    <p *ngIf="chngPassForm['controls'].passwords['controls'].newPass.hasError('pattern')" class="font-bold m-0">Password
                      must contain a mixture of uppercase and lowercase letters, numbers and symbols</p>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="confNewPass" class="font-bold" id="confNewPassLabel">Confirm New Password
                  <span aria-hidden="true" class="mandatory">*</span>
                </label>
                <input type="password" class="form-control font-bold" name="confNewPass" id="confNewPass" formControlName="confNewPass" autocomplete="off"
                  [(ngModel)]="confPassword" (keydown.space)="$event.preventDefault();">
                <div class="error--txt" *ngIf="chngPassForm['controls']?.passwords['controls']?.confNewPass.touched">
                  <div role="alert">
                    <p class="font-bold m-0" *ngIf="chngPassForm['controls'].passwords['controls'].confNewPass.hasError('required') || chngPassForm['controls'].passwords['controls'].confNewPass.hasError('whitespace')">
                      Confirm password required</p>
                    <p class="font-bold m-0" *ngIf="chngPassForm['controls'].passwords.hasError('mismatch')">Password do
                      not match
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </section>
  </modal-div>

  <modal-div class="footer-buttons">
    <button aria-label="Click to save new password" class="btn btn-primary" id="editPasswordBtn" (click)="editPassword()" [disabled]="!chngPassForm.valid || profileUpdateLoading">
      <em class="fa fa-spinner fa-spin" *ngIf="profileUpdateLoading"></em>
      {{profileUpdateLoading ? 'Updating' : 'Update'}}</button>
  </modal-div>
</app-modal>