@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.add-more{
    &__option{
        @include z-index(3);
        @include top(50%);
        @include left(50%);
        @include margin-indv('top', -15px);
        @include margin-indv('left', -248px);
        width: 300px;

        @include media( "screen", ">minXxxlarge"){
            @include margin-indv('left', -178px);
        }
    }
}
