/* 
Theme Name:		 twentysixteen-child
Theme URI:		 http://childtheme-generator.com/
Description:	 twentysixteen-child is a child theme of Twenty Sixteen, created by ChildTheme-Generator.com
Author:			 kamal asawara
Author URI:		 http://childtheme-generator.com/
Template:		 twentysixteen
Version:		 1.0.0
Text Domain:	 twentysixteen-child
*/


/*
    Add your custom styles here
*/

@media screen and (min-width: 56.875em){
    .page-class {   
    
    width: 100%;
}

.active-article{ color: brown;  }

.epkb-doc-search-container{display: none;}
}