@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.ff{
    height: auto;

    .h2{
        @include font-size(24);
    }

    .archive{
        &--list{
            &:not(:last-child){
                @include border-indv('bottom', 1px, solid, $dark);
            }
        }

        .h2{
        //    @include font-color($primary);
           @include border-indv('bottom', 2px, solid, $black);
        }

        .h3{
            @include font-size(18);
            @include font-color($primary);
        }
    }

    .panel{
        &-left,
        &-right{
            @extend %position-fixed;
            overflow: auto;
        }

        &-left{
            @include left(0);
            @include padding-indv('top', 20px);
        }

        &-right{
            @include right(0);
            @include bgcolor($lighter);
            @include border-indv('left', 1px, solid, $light);
            box-shadow: inset 0px 0 3px 0 rgba(0,0,0,0.1);
        }
    }

    &-accordion{
        &.project{
            &-authoring {
                .accordion {
                    .card-header{
                        @include bgcolor($white);
                    }
                }
            }
        }
    }
}
