@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.association-search-list{
    .btn-icon{
        @include font-size(12);
        @include font-color($darkest-xxxx);
    }
}

// Individuals node details
.individual-nodedetails{
    &-row{
        &-title{
            @include font-size(18);
        }
    }
    &-item{
        @include border-all(1px, solid, $dark);
        @include border-indv("top", 2px, solid, $darkest-x);
        .row{
            @include padding(15px 0);
            @include border-indv('bottom', 1px, solid, $dark);
            &:last-child{
                @include border-none(none);
            }
        }
    }
}

.search{
    &-icon{
      @include float(left);
      
      img{
        width: 16px;
        height: 16px;
      }
    }
    
    &-field{
      @include margin-indv(left,30px);
      @include border-indv('bottom', 1px, solid, $darker);
      width: 0;
      -webkit-transition: width .2s ease-in-out;
      transition: width .2s ease-in-out;

      &.show-search{
        width: 160px;
      }
      
      input[type=text] {
        @include font-size(16);
        @include border-none(none);
        @include padding(0);
        width: 100%;
        box-sizing: border-box;
      }
    }
  }

.delete-multiselect{
    @include top(-3px);
    @include right(-20px);
}
.association-multiselect{
    .delete-multiselect{
        @include top(2px);
    }
}