@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.association-preset{
    &-left{
        overflow-y: auto;
        overflow-x: hidden;
        ul{
            li{
                @include border-indv('bottom', 1px, solid, $dark);
                @include padding(5px);
                .btn-clear{
                    @include font-color($black);
                }
                &:hover,
                &.active{
                    @include bgcolor($lightest);
                }
                &.active{
                    .btn-clear{
                        @extend .font-bold;
                        @include font-color($black); 
                    }
                }
            }
        }
    }
    &-right{
        @include padding(15px 15px 15px 30px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}