<section class="row align-items-center" role="tabpanel" id="preset-btn-section">
  <div class="px-3 mt-2">
    <button class="btn btn-primary btn-sm" id="addassociationpreseBtn" data-toggle="modal" *ngIf="createPermission" data-target="#asso-preset-modal" (click)="onCreateBtnClick()">Create
      Association Preset<span class="sr-only">Opens in a new dialog</span>
    </button>
  </div>
</section>

<div class="border-top mt-3 association-preset">
  <div class="row" *ngIf="presetLoading">
    <div class="col-12">
      <app-preloader [loaderText]="'Loading data..'" class="w-100 position-fixed preloader-backdrop"></app-preloader>
    </div>
  </div>
  <div class="row" *ngIf="!presetLoading">
    <div class="col-12 text-center p-10 mt-4" *ngIf="associationPresets.length<1">
      <p class="mb-0">No data found.</p>
    </div>
    <ng-container *ngIf="associationPresets.length>0">
      <div class="col-5 border-right association-preset-left pr-0" id="association-preset-left">
        <ul class="list-unstyled">
          <li [ngClass]="{'active': (preset.id===selectedPreset?.id)}" *ngFor="let preset of associationPresets;">
            <button type="button" class="btn btn-clear" id="{{preset.title.split(' ').join('')}}Btn" (click)="onPresetActionSelect(preset, VIEW_ACTION)">{{preset.title}}</button>
          </li>
        </ul>
      </div>
      <div class="col-7 association-preset-right" id="association-preset-right">
        <p *ngIf="!selectedPreset">Please select one preset to see details</p>
        <ng-container *ngIf="selectedPreset">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-0">{{selectedPreset.title}}</h2>
            <div class="association-preset-actions d-flex justify-content-end">
              <button class="btn btn-icon tooltip bottom font-1x sm position-relative mr-2" id="editPermissionBtn" [attr.aria-label]="'Edit'" data-tooltip="Edit"
                data-toggle="modal" data-target="#asso-preset-modal" (click)="onPresetActionSelect(selectedPreset, EDIT_ACTION)"
                *ngIf="editPermission">
                <span class="sr-only">Opens in a new dialog</span>
                <em class="fas fa-pen"></em>
              </button>
              <button class="btn btn-icon tooltip bottom bottom-right position-relative" id="deletePermissionBtn" [attr.aria-label]="'Delete'" data-tooltip="Delete"
                (click)="onPresetActionSelect(selectedPreset, DELETE_ACTION)" *ngIf="deletePermission">
                <em class="icon-ico-garbage"></em>
              </button>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12" id="sourcetaxotype">
              <p class="font-bold mb-0">Source Taxonomy Type</p>
              <p class="text-wrapped">{{selectedPreset.source_document_name}}</p>
            </div>
            <div class="col-12" id="assotaxotype">
              <p class="font-bold mb-0">Association Taxonomy Type</p>
              <p class="text-wrapped">{{selectedPreset.destination_document_name}}</p>
            </div>
            <div class="col-12" id="assotype">
              <p class="font-bold mb-0">Association Type</p>
              <p class="text-wrapped">{{selectedPreset.item_association_name}}</p>
            </div>
            <div class="col-12" id="metadata">
              <p class="font-bold mb-0">Metadata</p>
              <p class="text-wrapped">{{selectedPreset.metadataValues}}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<!-- Create/Edit association presets modal -->
<app-modal [modalId]="'asso-preset-modal'" [showCloseAlert]="false" [modalSize]="operation!==VIEW_ACTION ? 'big' : 'small'"
  [showFooter]="operation!==VIEW_ACTION" (closeEvent)="onCancel()">
  <modal-div class="title-text" id="associationpresettitle">
    {{operation | titlecase}} Association Preset
  </modal-div>

  <modal-div class="body-content">
    <!-- Create/update view starts -->
    <div class="d-flex justify-content-center" *ngIf="assoPresetForm && (operation !== VIEW_ACTION)">
      <div id="association-preset" class="col-md-11 col-lg-10 col-xl-8">
        <p class="mt-3 px-3">Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are required.
        </p>
        <form [formGroup]="assoPresetForm">
          <div class="form-group col-12">
            <label for="presetName" id="presetNameLabel" class="font-bold">Name <span class="mandatory" aria-hidden="true">*</span></label>
            <input id="presetName" type="text" [(ngModel)]="presetName" formControlName="presetName" class="form-control font-bold">
            <div *ngIf="assoPresetForm.controls['presetName'].errors && assoPresetForm.controls['presetName'].touched" class="error--txt"
              role="alert">
              <p class="font-bold m-0" *ngIf="assoPresetForm.controls['presetName'].hasError('required')">
                Association preset name required.</p>
            </div>
          </div>
          <div class="form-group col-12">
            <label for="srcTaxoType" id="srcTaxoTypeLabel" class="font-bold">Source Taxonomy Type <span class="mandatory" aria-hidden="true">*</span></label>
            <select class="custom-select form-control" id="srcTaxoType" [(ngModel)]="sTaxonomyType" formControlName="sTaxoType">
              <option [ngValue]="null">Select</option>
              <option [ngValue]="val" [disabled]="assoPresetForm.controls['sTaxoType'].value===val" id="{{val.label.split(' ').join('')}}Btn" *ngFor="let val of taxonomyTypes">{{
                val.label }}</option>
            </select>
            <div *ngIf="assoPresetForm.controls['sTaxoType'].errors && assoPresetForm.controls['sTaxoType'].touched" class="error--txt"
              role="alert">
              <p class="font-bold m-0" *ngIf="assoPresetForm.controls['sTaxoType'].hasError('required')">
                Source taxonomy type required.</p>
            </div>
          </div>
          <div class="form-group col-12">
            <label for="assoTaxoType" id="assoTaxoTypelabel" class="font-bold">Association Taxonomy Type <span class="mandatory" aria-hidden="true">*</span></label>
            <select class="custom-select form-control" id="assoTaxoType" [(ngModel)]="aTaxonomyType" formControlName="aTaxoType">
              <option [ngValue]="null">Select</option>
              <option [ngValue]="val" [disabled]="assoPresetForm.controls['aTaxoType'].value===val" id="{{val.label.split(' ').join('')}}Btn" *ngFor="let val of taxonomyTypes">{{
                val.label }}</option>
            </select>
            <div *ngIf="assoPresetForm.controls['aTaxoType'].errors && assoPresetForm.controls['aTaxoType'].touched" class="error--txt"
              role="alert">
              <p class="font-bold m-0" *ngIf="assoPresetForm.controls['aTaxoType'].hasError('required')">
                Association taxonomy type required.</p>
            </div>
          </div>
          <div class="form-group col-12">

            <app-auto-complete [listingObj]="associationTypes" (selectedObject)="onAssoTypeSelect($event)" [selectType]="'single'" [uniqueId]="'type_id'"
              [propName]="'display_name'" [autoCompleteTitle]="'Association Type'" [defaultSelection]="assoType" #autoCompleteAsso
              (clickOutside)="onClickedOutside($event, 'autoCompleteAsso')">
            </app-auto-complete>

          </div>
          <div class="form-group col-12">

            <app-auto-complete [listingObj]="metadataList" (selectedObject)="onMetadataSelect($event)" [selectType]="'multi'" [uniqueId]="'metadata_id'"
              [propName]="'name'" [clearArray]='true' [autoCompleteTitle]="'Metadata'" #autoCompleteMeta [showValidMsg]="selectedMetadata.length<1"
              [defaultSelection]="selectedMetadata" (clickOutside)="onClickedOutside($event, 'autoCompleteMeta')">
            </app-auto-complete>

          </div>
          <div class="form-group col-12" *ngIf="selectedMetadata.length < 1">
            <p class="mb-0">No metadata added yet.</p>
          </div>
          <div class="metadata-set-list-selected px-3" *ngIf="selectedMetadata.length > 0">
            <div class="metadata-set-list-selected-header" hidden>
              <div class="form-row">
                <div class="col-8 font-bold"></div>
                <div class="col-3 text-center">
                  <span>Mandatory</span>
                </div>
                <div class="col-1 text-right">

                </div>
              </div>
            </div>
            <ul class="list-unstyled metadata-set-list-selected-body p-0" dragula="selectedMetadata" [(dragulaModel)]="selectedMetadata"
              (dragulaModelChange)=onNodeRearranged($event);>
              <li class="form-row drag position-relative" *ngFor="let data of selectedMetadata;let index=index">
                <ul class="list-unstyled d-flex w-100">
                  <li class="col-8 font-bold"> {{data.name}} <span class="text-uppercase" *ngIf="data.is_custom===0" aria-label="case">Case</span></li>
                  <li class="col-3 text-center custom-control custom-checkbox">
                    <input type="checkbox" [checked]='data.is_mandatory === 1' class="custom-control-input" id="{{data.metadata_id}}-mandatoryCheck"
                      (click)="data.is_mandatory=(data.is_mandatory===0 ? 1 :0);onNodeRearranged($event)">
                    <label class="custom-control-label" id="{{data.metadata_id}}Label" for="{{data.metadata_id}}-mandatoryCheck"></label>
                  </li>
                  <li class="col-1 text-right">
                    <button class="btn btn-icon tooltip top lg position-relative" id="deleteMetadataBtn" [attr.aria-label]="'Delete metadata'" data-tooltip="Delete metadata"
                      (click)="deleteMetadata(index,data)">
                      <em class="icon-ico-garbage"></em>
                    </button>
                  </li>
                </ul>
              </li>

            </ul>
          </div>
        </form>
      </div>
    </div>
    <!-- Create/update view ends -->

    <!-- Readonly view starts -->
    <div class="row" *ngIf="operation === VIEW_ACTION && selectedPreset">
      <div class="col-12" id="nameid">
        <p class="font-bold mb-0">Name</p>
        <p class="text-wrapped">{{selectedPreset.title}}</p>
      </div>
      <div class="col-12" id="sourcetaxotypeid">
        <p class="font-bold mb-0">Source Taxonomy Type</p>
        <p class="text-wrapped">{{selectedPreset.source_document_name}}</p>
      </div>
      <div class="col-12" id="assoctaxotypeid">
        <p class="font-bold mb-0">Association Taxonomy Type</p>
        <p class="text-wrapped">{{selectedPreset.destination_document_name}}</p>
      </div>
      <div class="col-12" id="assotypeid">
        <p class="font-bold mb-0">Association Type</p>
        <p class="text-wrapped">{{selectedPreset.item_association_name}}</p>
      </div>
      <div class="col-12" id="metadataid">
        <p class="font-bold mb-0">Metadata</p>
        <p class="text-wrapped">{{selectedPreset.metadataValues}}</p>
      </div>
    </div>
    <!-- Readonly view ends -->
  </modal-div>

  <modal-div class="footer-buttons">
    <button type="button" class="btn btn-primary btn-lg" id="assoPresetActionBtn" (click)="false" [disabled]="!assoPresetForm.valid || actionLoading"
      (click)="assoPresetAction()">
      <em class="fa fa-spinner fa-spin" *ngIf="actionLoading"></em> {{operation | titlecase}}
    </button>
  </modal-div>
</app-modal>