@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.report{
    &-left{
        @include float(left);
        @include padding-indv('left', 10px);
        width:50%;

        .data-table{
            .tbody{
                .tr{
                    @include padding-indv('left', 30px);

                    &.active{
                        @include bgcolor($lightest);

                        a{
                            @include font-color($primary);
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    &-right{
        @include border-indv('top', 1px, solid, $light);
        @include right(-30px);
        @include top(56px);
        @include bgcolor($lightest);
        @include padding(25px);
        overflow-x:hidden;
        overflow-y:auto;
        width:54%;

        @include media( "screen", "<maxXxxlarge"){  
            width:54.5%;
        }

        @include media( "screen", "<maxLarge"){  
            width:55%;
        }
    }

    &-form{
        @include bgcolor($white);
        @include padding(20px);
        @include box-shadow(0, 2px, 12px, 0, rgba(0, 0, 0, 0.1));
    }
}
