<app-preloader [loaderText]="'Loading Report List..'" *ngIf="loadingReportList"
  class="w-100 position-fixed preloader-backdrop"></app-preloader>
<div class="col-12 report-container position-relative" *ngIf="!loadingReportList">
  <ng-container *ngIf="reportList.length < 1">
    <p>No Jasper Report found!</p>
  </ng-container>
  <ng-container *ngIf="reportList.length > 0">
    <div class="report-left">
      <app-data-table [showMenu]="false" class="w-100" [tableCategory]="'report'" [columnList]="listOfColumn"
        [dataSet]="reportList" [sortRequired]="false" [defaultSortBy]="listOfColumn[0]" [viewLocation]="'report'"
        [selectedData]="selectedReport" (linkClicked)="onReportSelected($event)"></app-data-table>
    </div>
    <div class="report-right position-absolute" *ngIf="selectedReport">

      <form [formGroup]="reportForm">
        <div class="report-form">
          <ng-container *ngFor="let controls of formDetails; let i = index;">
            <div class="form-group">
              <label for="{{controls.internalName}}" class="font-bold">{{controls.label}} <span class="mandatory"
                  aria-hidden="true">*</span></label>

              <!-- Date picker-->
              <div class="date-picker" *ngIf="controls.fieldType===1">
                <my-date-picker id="{{controls.internalName}}" *ngIf="controls.internalName==='from_date'"
                  [options]="myDatePickerOptionsStartDate" (dateChanged)="onStartDateChanged($event);"
                  formControlName="{{controls.internalName}}"></my-date-picker>
                <my-date-picker id="{{controls.internalName}}" *ngIf="controls.internalName==='to_date'"
                  [options]="myDatePickerOptionsEndDate" formControlName="{{controls.internalName}}"></my-date-picker>
              </div>
              <!-- Date picker end-->

              <!-- Multiselect for source taxonomy -->
              <ng-container
                *ngIf="controls.fieldType===4 && draftTaxonomyList && controls.internalName==='source_document_id'">
                <app-auto-complete [listingObj]="draftTaxonomyList"
                  (selectedObject)="updateValueFromAutocomplete($event, controls)" #autoComplete [isMandatory]="true"
                  [disableOption]="true" [selectType]="'multi'" [uniqueId]="'document_id'" [propName]="'title'"
                  [isLableShow]="false" [autoCompleteTitle]="'Source Taxonomy'"
                  (clickOutside)="onClickedOutside($event)">
                </app-auto-complete>
              </ng-container>
              <!-- Multiselect for source taxonomy end -->

              <!-- Select option input (excluding single select for source taxonomy)-->
              <ng-container *ngIf="controls.fieldType===2 || controls.fieldType===3 || (controls.fieldType===4 && (controls.internalName!=='source_document_id'))
                || controls.fieldType===5">
                <select class="custom-select form-control" id="{{controls.internalName}}"
                  formControlName="{{controls.internalName}}">
                  <option [ngValue]="null">Select</option>
                  <!-- File Format List (fieldType=2) -->
                  <ng-container *ngIf="controls.fieldType===2">
                    <option [ngValue]="val" [disabled]="reportForm.controls[controls.internalName].value===val"
                      *ngFor="let val of formatList">{{ val }}</option>
                  </ng-container>

                  <!-- Public Review Taxonomy List (fieldType=3) -->
                  <ng-container *ngIf="controls.fieldType===3">
                    <option [ngValue]="val" *ngFor="let val of publicReviewTaxonomyList"
                      [disabled]="reportForm.controls[controls.internalName].value?.document_id===val?.document_id">
                      {{ val?.taxonomy_name }}
                    </option>
                  </ng-container>

                  <!-- Draft Taxonomy List (fieldType=4) -->
                  <ng-container *ngIf="(controls.fieldType===4) && (controls.internalName!=='source_document_id')">
                    <option [ngValue]="val" *ngFor="let val of draftTaxonomyList"
                      [disabled]="reportForm.controls[controls.internalName].value?.document_id===val?.document_id">
                      {{ val?.title }}</option>
                  </ng-container>

                  <!-- All Taxonomy List (fieldType=5) -->
                  <ng-container *ngIf="controls.fieldType===5">
                    <option [ngValue]="val" *ngFor="let val of allTaxonomyList"
                      [disabled]="reportForm.controls[controls.internalName].value?.document_id===val?.document_id">
                      {{ val?.title }}</option>
                  </ng-container>
                </select>
              </ng-container>
              <!-- Select option input end-->
            </div>
          </ng-container>
          <p class="mb-0">Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are
            required.</p>
        </div>

        <div class="text-center mt-4">
          <button type="button" [disabled]="!reportForm.valid || downloadLoader" class="btn btn-primary"
            (click)="onFormSubmit()">
            <em class="fa fa-spinner fa-spin" *ngIf="downloadLoader"></em>
            {{downloadLoader ? 'Downloading report' : 'Download'}}
          </button>
        </div>
      </form>
    </div>
  </ng-container>
</div>
