<div class="admin-user-listing">

  <!-- Add Role Modal Starts -->
  <app-modal [modalId]="'add-role'" [modalContentId]="'addExemplarContent'" [showCloseAlert]="form.dirty"
    [modalSize]="'small'" (closeEvent)="onCancel()" (mouseLeaveEvent)="mouseLeave()">
    <modal-div class="title-text" id="newroletitle">
      {{ role.role_id ? "Edit Role" : "Add New Role" }}
    </modal-div>

    <modal-div class="body-content">
      <div class="row">
        <div class="form-group col-lg-12 col-sm-12">
          <p class="modal--info-txt font-bold" id="addRoleContent">Add a role and use it for your team</p>
          <p>Field marked with an asterisk (
            <span class="mandatory" aria-hidden="true">*</span>) is required.</p>
          <label for="roleName" class="font-bold" id="roleNameLabel">Role Name
            <span class="mandatory" aria-hidden="true">*</span>
          </label>
          <input type="text" id="roleName" required [(ngModel)]="role.name" [formControl]="form.controls['rolename']"
            class="form-control font-bold" aria-labelledby="roleNameLabel roleNameHelp">
          <div *ngIf="form.controls['rolename'].hasError('required') && form.controls['rolename'].touched"
            class="error--txt" role="alert">
            <p class="font-bold m-0">Role Name Required</p>
          </div>
          <div
            *ngIf="form.controls['rolename'].hasError('required') && form.controls['rolename'].touched && form.controls['rolename'].valid"
            class="error--txt" role="alert">
            <p class="font-bold m-0">Role Name Required</p>
          </div>
          <p class="form-text text-muted text-right" id="roleNameHelp">Use a name that is easy to recognize. Example -
            Reviewer or Author</p>
        </div>

        <div class="form-group col-lg-12 col-sm-12">
          <label for="roleDescription" class="font-bold" id="roleDescriptionLabel">Role Description </label>
          <textarea class="form-control font-bold" [(ngModel)]="role.description"
            [formControl]="form.controls['description']" id="roleDescription" rows="3" placeholder=""
            aria-labelledby="roleDescriptionLabel roleDescriptionHelp"></textarea>
          <p class="form-text text-muted text-right" id="roleDescriptionHelp">Add a description that briefly explains
            the role responsibility.</p>
        </div>

      </div>
    </modal-div>

    <modal-div class="footer-buttons">
      <button type="button" class="btn btn-primary btn-sm" id="crtBtnrm" (click)="onSubmit()" data-dismiss="modal"
        *ngIf="!role.role_id" [disabled]="!form.valid">Create</button>
      <button type="button" class="btn btn-primary btn-sm" id="updtBtnrm" (click)="onSubmit()" data-dismiss="modal"
        *ngIf="role.role_id" [disabled]="!form.valid">Update</button>
    </modal-div>
  </app-modal>
  <!-- Add Role Modal Ends -->

  <div id="roleTabel" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <div class="container-fluid align-tabs">
      <app-tab [tabItems]='tabItems' (tabSelectedEvent)="onTabSelected($event)" [currentTab]="currentTab"></app-tab>

      <section role="tabpanel" *ngIf="currentTab==='users' && userListCount">
        <app-user-listing (userListEvent)="onGetUserList($event)"></app-user-listing>
      </section>

      <section role="tabpanel" *ngIf="currentTab==='roles' &&  listRoleButton" class="row align-items-center">
        <app-preloader *ngIf="!listRoleButton" [loaderText]="'Loading Users..'" class="w-100 position-fixed preloader-backdrop"></app-preloader>

        <ng-container *ngIf="showBtn && createRoleButton">
          <button id="roleBtn" class="btn btn-primary btn-sm ml-3 mt-2" data-toggle="modal" data-target="#add-role" #myname
            (click)="onEditUser(null)">Create New Role<span class="sr-only">Opens in a new dialog</span></button>
        </ng-container>
        <ng-container *ngIf="showBtn && !createRoleButton">
          <button data-toggle="modal" style="width:0px;height:0px;" data-target="#add-role" #myname
            (click)="onEditUser(null)" [hidden]="true"><span class="sr-only">Opens in a new dialog</span></button>
        </ng-container>

        <!-- // ----------------for Common Data table----------------- // -->

        <app-data-table class="w-100" [showMenu]="true" *ngIf="listRoleButton" [tableCategory]="'Role'"
          [columnList]="listOfColumn" [dataSet]="roleList" [optionList]="optionList"
          [roleStatusButton]="roleStatusButton" [dropdownItems]="statusList "
          (clickedStatus)="changeStatus($event.val, $event.id)" (clickedOption)="onOptionClicked($event)">
        </app-data-table>

      </section>
      <!-- end of project filter section  -->
    </div>
    <!-- end of container-fluid -->
  </div>
  <!-- end of justify-content -->

</div>
