<app-toast-message [justAfterLogin]="false">
</app-toast-message>

<main class="container-fluid p-0 h-100">

  <!-- start of the register section -->
  <section class="row justify-content-center d-flex align-items-center"
    [ngClass]="{'h-100': (formPanel && getheight()) || success || isAlradyregister}">
    <div #formPanel *ngIf="isRegister" id="register" class="col-7 col-md-7 col-lg-5 col-xl-4 login-container"
      aria-label="Registration section">

      <div class="row logo login--heading login--heading__register">
        <div class="col-12">
          <h1 class="float-left" id="registertitle">Register</h1>
          <img src="assets/images/logo.svg#logo" alt="ACMT Logo" class="float-right" />
        </div>
      </div>
      <p class="mt-3">Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are required.
      </p>
      <div class="row p-0">
        <div class="form-group col-12 my-0">
          <label for="first_name" tabindex="-1" class="font-bold" id="first_nameLabel">First Name
            <span aria-hidden="true" class="mandatory">*</span>
          </label>
          <input type="text" class="form-control font-bold" name="first_name" id="first_name"
            [formControl]="form.controls['username']" aria-required="true" [(ngModel)]="username"
            (keyup)="checkValidation();">
          <div class="error--txt">
            <div *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched"
              role="alert">
              <p class="font-bold m-0">First Name Required</p>
            </div>
          </div>
        </div>

        <div class="form-group col-12 my-0">
          <label for="last_name" tabindex="-1" class="font-bold" id="last_nameLabel">Last Name
            <span aria-hidden="true" class="mandatory">*</span>
          </label>
          <input type="text" class="form-control font-bold" name="last_name" id="last_name"
            [formControl]="form.controls['username_last']" aria-required="true" [(ngModel)]="username_last"
            (keyup)="checkValidation();">
          <div class="error--txt">
            <div *ngIf="form.controls['username_last'].hasError('required') && form.controls['username_last'].touched"
              role="alert">
              <p class="font-bold m-0">Last Name Required</p>
            </div>
          </div>
        </div>

        <div class="form-group col-12">
          <label for="emailInputId" tabindex="-1" class="font-bold" id="emailInputIdLabel">Work Email
            <span aria-hidden="true" class="mandatory">*</span>
          </label>
          <input #emailInput type="text" class="form-control font-bold" name="emailInputId" id="emailInputId"
            [formControl]="form.controls['email']" aria-required="true" [(ngModel)]="email"
            [attr.disabled]="disableEmail? 'true' : null">
          <div class="error--txt">
            <div role="alert">
              <p *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
                class="font-bold m-0">Email
                is Required</p>
              <p *ngIf="form.controls['email'].touched && form.controls['email'].hasError('pattern')"
                class="font-bold m-0">Please
                enter a valid Email.</p>
            </div>
          </div>
        </div>

        <div class="form-group col-12 my-0">
          <label for="password" tabindex="-1" class="font-bold" id="passwordLabel">Password
            <span aria-hidden="true" class="mandatory">*</span>
          </label>
          <input type="password" [(ngModel)]="passwordEnt" class="form-control font-bold" name="password" id="password"
            [formControl]="form.controls['password']" aria-required="true" (click)="click()"
            (keydown.space)="$event.preventDefault();" (keyup)="repasswordEntered($event.target.value);">
          <!-- <small *ngIf="form.controls['password'].touched && form.controls['password'].invalid" class="error error--txt float-left">Password must be alphanumeric and minimum of 8 characters.</small> -->
          <!-- <small *ngIf="form.controls['password'].touched && form.controls['password'].invalid" class="error error--txt float-left">Password must be minimum of 8 characters.</small> -->
          <div class="error--txt">
            <div role="alert">
              <p *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched"
                class="font-bold m-0">Password
                is Required</p>
              <p *ngIf="form.controls['password'].touched && form.controls['password'].hasError('minlength')"
                class="font-bold m-0">Password
                must be minimum of 8 characters</p>
              <p *ngIf="form.controls['password'].touched && form.controls['password'].hasError('maxlength')"
                class="font-bold m-0">Password
                must be maximum of 12 characters</p>
              <p *ngIf="form.controls['password'].touched && form.controls['password'].hasError('pattern')"
                class="font-bold m-0">Password
                must contain a mixture of uppercase and lowercase letters, numbers and symbols
              </p>
            </div>
          </div>
          <!-- <small *ngIf="invalidPassword" class="error error--txt float-left">Password must contain a mixture of uppercase and lowercase letters , numbers and symbols.</small> -->
        </div>

        <div class="form-group col-12 my-0">
          <label for="confirmPassword" tabindex="-1" class="font-bold" id="confirmPasswordLabel">Confirm Password
            <span aria-hidden="true" class="mandatory">*</span>
          </label>
          <input type="password" [(ngModel)]="repasswordEnt" (keyup)="repasswordEntered($event.target.value)"
            class="form-control font-bold" aria-required="true" name="confirmPassword" id="confirmPassword"
            [formControl]="form.controls['cpassword']" (click)="click()" (keydown.space)="$event.preventDefault();">
          <div class="error--txt">
            <div>
              <p *ngIf="form.controls['cpassword'].hasError('required') && form.controls['cpassword'].touched "
                class="font-bold m-0" role="alert">You
                must include confirm password</p>
              <p *ngIf="form.controls['cpassword'].touched && !match" class="font-bold m-0" role="alert">Passwords do
                not match</p>
            </div>
          </div>
          <!-- <small *ngIf="form.controls['cpassword'].errors?.equalTo && form.controls['cpassword'].touched" class="error error--txt float-left">Passwords do not match.</small> -->
        </div>

        <div class="form-group col-12 my-0" *ngIf="tocken === undefined">
          <h2 class="font-bold title-sub">Optional Information</h2>
          <div>
            <div class="d-flex justify-content-start">
              <p class="mb-0 font-bold" id="k12">Are you a K-12 teacher?</p>
              <div class="pl-4">
                <div class="custom-control custom-radio custom-control-inline">
                  <input class="custom-control-input" id="teacherYes" aria-describedby="k12" name="customRadioInline"
                    type="radio" value="1" [(ngModel)]="checkRadio"
                    (click)="radioOptionSelected($event.target.value, 'teacher')">
                  <label class="custom-control-label font-bold" for="teacherYes">Yes</label>
                </div>
              </div>
            </div>

            <div class="pb-2" *ngIf="checkRadio === '1'">
              <div class="d-flex justify-content-start">
                <p class="font-bold mb-2" id="levelsTaught">Grade Levels Taught</p>
                <div class="d-flex justify-content-start">
                  <div class="pl-4" *ngFor="let level of gradeLevelList">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" aria-describedby="levelsTaught" type="checkbox"
                        id="{{level.value}}" [checked]="level.checked" value="{{level.value}}"
                        (click)="checkboxSelected(level, 'grade')">
                      <label class="custom-control-label font-bold" id="{{level.value.split(' ').join('')}}label"
                        for="{{level.value}}">{{level.name}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <p class="mb-0 font-bold">Subject Areas Taught</p>
              <div class="d-flex justify-content-start">
                <p class="font-bold mb-0" id="worldLanguages">World Languages:</p>
                <div class="d-flex justify-content-start">
                  <div class="pl-4" *ngFor="let sub of subjectAreas">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" aria-describedby="worldLanguages" type="checkbox"
                        id="{{sub.value}}" [checked]="sub.checked" value="{{sub.value}}"
                        (click)="checkboxSelected(sub, 'subject')">
                      <label class="custom-control-label font-bold" id="{{sub.name.split(' ').join('')}}Label"
                        for="{{sub.value}}">{{sub.name}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="d-flex justify-content-start pt-2">
              <p class="mb-0 font-bold" id="K12Admin">Are you a K-12 administrator?</p>
              <div class="pl-4">
                <div class="custom-control custom-radio custom-control-inline">
                  <input class="custom-control-input" id="K12adminYes" aria-describedby="K12Admin"
                    name="customRadioInline" type="radio" value="2" [(ngModel)]="checkRadio"
                    (click)="radioOptionSelected($event.target.value, 'teacher')">
                  <label class="custom-control-label font-bold" id="K12adminYesLabel" for="K12adminYes">Yes</label>
                </div>
              </div>

            </div>

            <div class="d-flex justify-content-start pt-2">
              <p class="mb-0 font-bold" id="higherEducation">Do you work in Higher Education?</p>
              <div class="pl-4">
                <div class="custom-control custom-radio custom-control-inline">
                  <input class="custom-control-input" id="workHEyes" aria-describedby="higherEducation"
                    name="customRadioInline" type="radio" value="3" [(ngModel)]="checkRadio"
                    (click)="radioOptionSelected($event.target.value, 'teacher')">
                  <label class="custom-control-label font-bold" id="workHEyesLabel" for="workHEyes">Yes</label>
                </div>
              </div>
            </div>

            <div class="pt-2">
              <p class="mb-0 font-bold" id="lang">Select all languages taught in your district or institution</p>
              <div class="row pt-1">
                <!-- <div class="col-sm-4" *ngFor="let lang of languageList">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" aria-describedby="lang" id="{{lang.name}}" [checked]="lang.checked" type="checkbox" value="{{lang.value}}"
                      (click)="checkboxSelected(lang, 'language')">
                    <label class="custom-control-label font-bold" for="{{lang.name}}">{{lang.name}}</label>
                  </div>
                </div> -->
                <div class="col-sm-4" *ngFor="let lang of languagesList">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" aria-describedby="lang" id="{{lang.label}}"
                      [checked]="lang.checked" type="checkbox" value="{{lang.value}}"
                      (click)="checkboxSelected(lang, 'language')">
                    <label class="custom-control-label font-bold" id="{{lang.label}}"
                      for="{{lang.label}}">{{lang.label}}</label>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="other-lang" type="checkbox"
                      (change)="toggleEditable($event.target)">
                    <label class="custom-control-label font-bold" id="other-langLabel" for="other-lang">Other (enter
                      languages here)</label>
                  </div>
                  <div *ngIf="showTextBox">
                    <label for="otherlang" class="custom-control" 
                      class="font-bold">Other Languages</label>
                    <input id="otherlang" class="form-control font-bold mt-2" [(ngModel)]="otherLangs"
                      aria-required="true" name="other-lang" type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-3">
          <re-captcha (resolved)="resolved($event)" siteKey="{{siteKey}}"></re-captcha>
        </div>
      </div>
      <div class="row align-items-center login--btn-set">
        <div class="col">
          <button aria-label="Register your account" class="btn btn-primary btn__login" id="onRegisterBtn"
            (click)="onRegister()" [disabled]="!form.valid || !match || !captchaValidate || !valid ">Register</button>
        </div>
        <div class="col text-right">
          <p class="font-bold mb-0">
            <button class="btn text-underline btn-link-text" id="goToLoginBtn" (click)="goToLogin()"
              target="_self">Click
              to go back to Login!
            </button>
          </p>
        </div>
      </div>

    </div>

    <div id="success" class="col-7 col-md-7 col-lg-5 col-xl-4 login-container" *ngIf="success">
      <div class="row logo login--heading login--heading__register">
        <div class="col-12">
          <h1 aria-level="1" class="float-left">Registration Complete!</h1>
          <img src="assets/images/logo.svg#logo" alt="ACMT Logo" class="float-right" />
        </div>
        <div class="col-12 mt-5">
          <!-- <p>We have sent you a confirmation email to the added email address. Kindly verify your email address.</p> -->
          <p>You have successfully created your account!</p>
          <p>To begin using ACMT you will need to activate your account via the email we have just sent to your address.
          </p>
          <p>
            <button class="btn btn-primary btn__login" id="okBtn" (click)="goToLogin()">OK</button>
          </p>
        </div>
      </div>
    </div>
    <div id="isAlradyregister" class="col-7 col-md-7 col-lg-5 col-xl-4 login-container" *ngIf="isAlradyregister">
      <div class="row logo login--heading login--heading__register">
        <div class="col-12">
          <h1 aria-level="1" class="float-left">Registration Already Done!</h1>
          <img src="assets/images/logo.svg#logo" alt="ACMT Logo" class="float-right" />
        </div>
        <div class="col-12 mt-5">
          <p class="font-bold">
            You are already registered to "ACMT". You can login using the previously set user I'd and password.
          </p>
          <p>
            <button class="btn btn-primary btn__login" (click)="goToLogin()">Done</button>
          </p>
        </div>
      </div>
    </div>
  </section>


</main>
