<style>
  .disableArea{
    pointer-events: none;
    opacity: 0.7;
  }
</style>
<div class="popup-boxes" ng-cloak>
    <form novalidate>
        <div class="modal-header header-m" ng-class="{gadget_preview_header:object_type_name == 'widget'}">
            {{modalFormTitle}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" ng-class="{gadget_preview_close:object_type_name == 'widget'}"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <!--div class="sub-title">
            Enter repo id<input type="text" ng-model="widgetRepoId" />  
            <button class="btn btn-default" ng-click="setRepoId()">Go</button>  
        </div-->
        <div class="inner-modal-content tab-contents">
            <ul class="nav nav-tabs">
                <li class="active"><a data-target="#DETAILS" data-toggle="tab">DETAILS</a></li>
                <li><a data-target="#METADATA" data-toggle="tab">METADATA</a></li>
            </ul>
            <div class="tab-content">
                <div id="DETAILS" class="tab-pane fade in active">
                    <div ng-show="showDetails"  class="panel-body">
                        <div ng-if="object_type_name == 'widget'">
                            <widget-preview-frame object_id="object_id" project_id="project_id"></widget-preview-frame>
                        </div>
                        <div ng-if="object_type_name != 'widget'" class="info-block-panel general">
                            <div class="info-img-panel">
                                <div class="info-imbx">
                                    <img id="img1" ng-if="object_type_name == 'image'" ng-src="{{asset_location}}{{ts_hash}}" alt="{{original_name}}">
                                    <img ng-if="object_type_name == 'video'" ng-src="./images/default-video.jpg" alt="{{original_name}}">
                                    <img ng-if="object_type_name == 'other'" ng-src="./images/default-doc.png" alt="{{original_name}}">
                                </div>
                                <div class="info-img-dt">
                                    <p><strong>Name:</strong> <span title="{{asset_org_name}}">{{asset_org_name|strLimit:70}}</span></p>
                                </div>
                                <div class="info-img-dt">
                                    <p><strong>Type:</strong> {{object_type_name}}</p>
                                </div>
                            </div>
                        </div>
                        <!--<div class="clearfix label-tt">Title</div>-->
                        <input type="text" class="form-control" placeholder="title" ng-model="update_form.title" ng-if="displayOption"/>
                        <br>
                        <input style="padding: 0;" file-model="formdata.asset_file" name="assetFile" type="file" class="" placeholder="Cover" ng-if="displayOption">
                        <span style="font-size: 12px;padding-top: 10px;display: block;">* File extension should be same for replacing.</span>
                    </div>
                </div>
                <div id="METADATA" class="tab-pane fade">
                    <div ng-if="displayOption && !applyMetadata" style="margin-top: 20px;">
                        <center>Sorry! Access Prohibited! You can't apply Metadata.</center>
                    </div>
                    <div ng-if="applyMetadata || !displayOption">
                        <div class="group inputfrom">
                            <div class="clearfix label-tt">Key Value</div>
                            <div id="keyValuesAreaId" ng-class="{'disableArea': !displayOption}"></div>
                            <span id="errorKeyValue" class="highlight text-danger">{{formError['duplicate_value']}}</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="group inputfrom"> 
                            <div class="clearfix label-tt">Tags</div>
<!--                            <div class="pull-right" title="Help"><i class="fa fa-question-circle"></i></div>-->
<input type="hidden" style="width: 100%;height: 34px;border-radius: 4px;" ui-select2="tag" ng-model="update_form.tagValue" ng-disabled="!displayOption"/>
                        </div>
                        <div class="group inputfrom"> 
                            <div class="clearfix label-tt">Taxonomy</div>
                            <!--pre>{{taxonomy|json}}</pre-->
<!--                            <div class="pull-right" title="Help"><i class="fa fa-question-circle"></i></div>-->
                            <div ivh-treeview="taxonomy" ivh-treeview-twistie-expanded-tpl="tplFolderOpen" ivh-treeview-twistie-collapsed-tpl="tplFolderClose" ivh-treeview-twistie-leaf-tpl="tplLeaf" id="taxonomyStatus" ng-class="{'disableArea': !displayOption}"></div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">            
            <button class="btn btn-default" ng-click="cancel()">Close</button>
            <button class="btn btn-primary metadata_save_button" ng-click="saveMetadata()" ng-if="displayOption">Save</button>
        </div>
    </form>
</div>