<div class="popup-boxes" ng-cloak>
    <form name="taxonomy_form">
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}} {{taxonomy_text}}</div>  
        <div class="inner-modal-content tab-contents">      
        <div class="group inputfrom">          
            <div class="toc-panel-container" ng-show="taxonomyModal.children.length>0" >
                <div class="live" style="overflow: auto !important;height:200px;">
                    <ol ui-nested-sortable="{
                        listType: 'ol',
                        items: 'li',    
                        doNotClear: true,
                        placeholder: 'ui-state-highlight',
                        forcePlaceholderSize: true,
                        toleranceElement: '> div',
                        disabled:true
                        }" ui-nested-sortable-stop="update($event, $ui)" class="sortable">
                        <li ya-tree="childModal in taxonomyModal.children at ol" ng-class="{minimized:childModal.minimized}" item="{{childModal}}">        
                            <div>
                                <div class="lirow">
                                    <button class="toggle" ng-click="toggleMinimizedModal(childModal)" ng-switch on="childModal.minimized" ><span ng-switch-when="true" title="Expand"><span class="glyphicon glyphicon-expand"></span></span><span ng-switch-default title="Collapse">
                                            <span class="glyphicon glyphicon-collapse-down"></span>
                                        </span>
                                    </button>

                                    <span ng-click="set_taxonomy(childModal.id,childModal.title)">
                                        {{childModal.title}}                              
                                    </span>
                                </div>
                            </div>
                            <ol ng-class="{pregnant:childModal.children.length}"></ol>
                        </li>
                    </ol> 
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer">            
            <button class="btn btn-warning" ng-click="cancel()">CANCEL</button>
            <button ng-hide="showedit" class="btn btn-primary" ng-click="add()">CONFIRM</button>            
        </div>
    </form>
</div>  