<div class="right-panel-navpanel col-md-3" flow-transfers flow-file-success="getAssets()" ng-cloak>
    <div class="page-title">Edit Info<button class="close right-slide" type="button"><span class="cross-icon sprite3"></span></button></div>
    <div style="height: 460px;">
    <form name="asset_form">
        <div class="right-panel-ct">
            <div class="info-block-panel">
                <div class="info-img-panel">
                    <div class="info-imbx"><img src="{{formData.asset_location}}" alt=""/></div>
                    <div class="info-img-dt">
                        <p><strong>Name:</strong> {{formData.asset_org_name}}</p>
                        <p><strong>Resolutions:</strong> XS   S   M   L   XL    |    <strong>Size:</strong> {{formData.asset_size| bytes}}</p>
                    </div>
                </div>
                <div class="border"></div>

                <div class="info-block-details">
                    <div class="info-row">
                        <label class="lebel1">Name:</label>
                        <div class="info-row-input"><input ng-model="formData.asset_org_name" name="asset_org_name" type="text" class="row-input"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="info-row">
                        <label class="lebel1">Type:</label>
                        <div class="info-row-input"><input ng-model="formData.asset_type" name="asset_type" type="text" class="row-input"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="info-row">
                        <label class="lebel2">Dimensions:</label>
                        <div class="info-row-input"><input ng-model="formData.asset_height" name="asset_height" type="text" class="row-input2"><span class="pull-left into-icon">X</span> <input ng-model="formData.asset_width" name="asset_width" type="text" class="row-input2"></div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="info-row">
                        <label class="lebel1">Size:</label>
                        <div class="info-row-input"><input ng-model="formData.asset_size" name="asset_size" type="text" class="row-input"></div>
                        <div class="clearfix"></div>
                    </div>
<!--                    <div class="info-row">
                        <label class="lebel2">Date Added:</label>
                        <button type="button" class="date-picker sprite3"></button>
                        <div class="info-row-input"><input type="text" class="row-input"></div>
                    </div>
                    <div class="info-row">
                        <label class="lebel2">Date Modified:</label>
                        <button type="button" class="date-picker sprite3"></button>
                        <div class="info-row-input"><input type="text" class="row-input"></div>
                    </div>-->
                </div>

            </div>

            <div class="clearfix"></div>
        </div>

        <div class="info-footer-option">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="edit(formData.id, asset_form)" ng-show="project.project_permissions['asset.update'].grant">Save</button>
        </div>
    </form>
    </div>
    <div class="clearfix"></div>
</div>









<!--<div class="page-title">Edit Info <button class="close right-slide" type="button"><span class="cross-icon sprite3"></span></button></div>
<div class="right-panel-ct" flow-transfers flow-file-success="getAssets()">    
    <form name="asset_form">
        <centre><img src="http://localhost:8081/asset/{{formData.name}}"></centre>
        <hr>
        <div class="group inputfrom">      
            <span class="col-md-2"><label>Name</label></span>
            <span class="col-md-10"><input ng-model="formData.asset_org_name" name="asset_org_name" type="text" class="form-control" id="" placeholder="Name" required></span>            
        </div>
        <div class="clearfix"></div>
        <div class="group inputfrom">      
            <span class="col-md-2"><label>Type</label></span>
            <span class="col-md-10"><input ng-model="formData.asset_type" name="asset_type" type="text" class="form-control" id="" placeholder="Type" required></span>                          
        </div>
        <div class="clearfix"></div>
        <div class="group inputfrom">      
            <span class="col-md-3"><label>Dimension</label></span>
            <span class="col-md-3"><input ng-model="formData.asset_height" name="asset_height" type="text" class="form-control" id="" placeholder="H" required></span>          <span class="col-md-2">X</span>
            <span class="col-md-4"><input ng-model="formData.asset_width" name="asset_width" type="text" class="form-control" id="" placeholder="W" required></span>          
        </div>
        <div class="clearfix"></div>
        <div class="group inputfrom">      
            <span class="col-md-2"><label>Size</label></span>
            <span class="col-md-10"><input ng-model="formData.asset_size" name="asset_size" type="text" class="form-control" id="" placeholder="Size" required></span>                          
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer">            
            <button class="btn btn-warning" ng-click="cancel()">CANCEL</button>
            <button class="btn btn-primary" ng-click="edit(formData.id, asset_form)">SAVE</button>
        </div>
    </form>


    <div class="clearfix"></div>
</div>-->
<div class="clearfix"></div>

<script>
    $(document).ready(function () {
        $('.nav-tabs').tabdrop();
    });

    $('ul.dropdown-menu').on('click', function (event) {
        event.stopPropagation();
    });

    $('.right-slide').click(function () {
        $('.right-panel-navpanel').hide();
        $('.listing-view-content').removeClass('listing-view-content col-md-6').addClass('listing-view-content col-md-9');

    });

    $('.filter-panel').click(function () {
        $('.right-panel-navpanel').show();
        $('.listing-view-content').removeClass('listing-view-content col-md-9').addClass('listing-view-content col-md-6');

    });

</script>