<div class="right-panel-navpanel col-md-3" ng-cloak>
    <div class="page-title">Filter<button class="close right-slide" type="button"><span class="cross-icon sprite3"></span></button></div>
    <div style="height: {{assetSidepanelHeight}}px;overflow: auto;">
        <form name="asset_form">
            <div class="right-panel-ct">
                <div class="info-block-panel">
                    <div class="info-block-details">
                        <div class="info-row">
                            <label class="lebel1">Name:</label>
                            <div class="info-row-input"><input ng-model="formData.asset_org_name" name="asset_org_name" type="text" class="row-input"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="info-row">
                            <label class="lebel1">Type:</label>
                            <div class="info-row-input">
                                <select ng-model="formData.asset_type" name="asset_type" class="row-input">
                                    <option value="">Asset Type</option>
                                    <option value="{{key}}" ng-repeat="(key, value)  in mimes">{{key}} - {{value}}</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="info-row">
                            <div>
                                <label class="lebel1">Size(KB)</label>
                            </div>
                            <div class="info-row-input">
                                <input ng-model="formData.asset_size" type="range" name="points" min="0" max="10000" step="100" ng-value="0" class="row-input">
                                {{formData.asset_size}}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>               
            </div>
        </form>
    </div>
    <div class="clearfix"></div>
    <div class="info-footer-option">
        <button type="reset" class="btn btn-default"  ng-click="reset()">RESET</button>
        <button type="button" class="btn btn-primary" ng-click="filter(formData)" >FILTER</button>
    </div>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<script>
    $(document).ready(function () {
        $('.nav-tabs').tabdrop();
    });

    $('ul.dropdown-menu').on('click', function (event) {
        event.stopPropagation();
    });

    $('.right-slide').click(function () {
        $('.right-panel-navpanel').hide();
        $('.listing-view-content').removeClass('listing-view-content col-md-9').addClass('listing-view-content col-md-12');

    });

    $('.filter-panel').click(function () {
        $('.right-panel-navpanel').show();
        $('.listing-view-content').removeClass('listing-view-content col-md-12').addClass('listing-view-content col-md-9');

    });

</script>