<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="main_container" ng-controller="global_repo" ng-cloak>
    <!--HEADER STARTS HERE-->
    <div ng-include src="'templates/header.html'" class="header-container"></div>
    <!--HEADER ENDS HERE-->

    <!--SECTION STARTS HERE-->
    <section class="wrapper">
        <div class="page-title" ng-show="!advanced_search.isCollapsed">
            <div ng-if="!advanced_search.enableSearch">
                <div class="pull-middle"> 
                    Global Repository
                </div>
            </div>
            <div ng-if="advanced_search.enableSearch">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="clearSearch()"><i class="fa fa-chevron-left"></i> Back</button>
                </div>
                <div class="pull-middle"> 
                    {{advanced_search.heading}}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div ng-show="advanced_search.isCollapsed">
            <div class="advance-container">
                <div ng-include src="'templates/asset/advanced_search.html'"></div>  
            </div>
        </div>
        <div class="container product-inner setting-page" ng-show="!advanced_search.isCollapsed">
            
            <div class="content">
                
                <div class="from-container-row" ng-show="user_permissions['global_repo.show.link'].grant">             
                    <ul class="nav nav-tabs">
                        <li ng-show="showAsset" class="active"><a data-target="#ASSETS" data-toggle="tab">Assets</a></li>
                        <li ng-show="showContent"><a data-target="#ContentObject" data-toggle="tab">Content Objects</a></li>
                        <li ng-show="showPattern"><a data-target="#PATTERNS" data-toggle="tab">Patterns</a></li>
                        <li ng-show="showTemplate"><a data-target="#TEMPLATES" data-toggle="tab">Templates</a></li>
                        <li ng-show="showAssessment"><a data-target="#ASSESSMENTS" data-toggle="tab">Assessments</a></li>
                    </ul>
                    <div class="tab-content">
                        <div ng-show="showAsset" id="ASSETS" class="tab-pane fade in active">
                            <div  flow-init="{target: 'api/v1/asset'}">
                                <div ng-include src="'templates/asset/globalList.html'"></div>
                            </div>
                        </div>
                        <div ng-show="showContent" id="ContentObject" class="tab-pane fade">
                            <div flow-init="{target: 'api/v1/asset'}">
                                <div ng-include src="'templates/toc/globalList.html'"></div>
                            </div>
                        </div>
                        <div ng-show="showPattern" id="PATTERNS" class="tab-pane fade">
                            <div ng-include src="'templates/pattern/globalList.html'"></div>
                        </div>
                        <div ng-show="showTemplate" id="TEMPLATES" class="tab-pane fade">
                            <div ng-include src="'templates/template/globalList.html'"></div>
                        </div>
                        <div ng-show="showAssessment" id="ASSESSMENTS" class="tab-pane fade">
                            <div ng-include src="'templates/assessment/globalList.html'"></div>
                        </div>
                    </div>                    
                    <div ng-show="showAccess" id="ACCESS" class="alert alert-danger" role="alert">
                        <center>Sorry!Access Prohibited!</center>
                    </div>
                </div>

                <div class="from-container-row" ng-show="!user_permissions['global_repo.show.link'].grant">
                    <div class="pattern-list-container">
                        <div class="alert alert-danger" role="alert"><center>Sorry! Access Prohibited!</center></div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!--SECTION ENDS HERE-->

    <!--FOOTER STARTS HERE-->
    <div ng-include src="'templates/footer.html'" class="footer-container"></div>
    <!--FOOTER ENDS HERE-->

</div>

