<script>
    filter_open = true;
    sort_by=true;
    function filterOpen() {
        $(".multiselect").slideDown();
        filter_open = false;
    }
    function filterClose() {
        $(".multiselect").slideUp();
        filter_open = true;
    }

    $(".assetFilter").click(function (event) {
        if (filter_open) {
            filterOpen();
            sortClose();
        }
        else {
            filterClose();
        }


    });

    function sortOpen() {
        $(".sortOption").slideDown();
          sort_by=false;
    }
    function sortClose() {
         $(".sortOption").slideUp();
            sort_by=true;
    }

    $(".selectedAsset").click(function(){
        if( sort_by){
          sortOpen();
          filterClose();
        }
        else{
            sortClose();
        }
        
    });


    
    $(".sortOption li").click(function(){
        selectedOption=$(this).text();
        $(".sortOption").slideUp();
        sort_by=true;
        sortedOption=$(".selectedAsset span").text(selectedOption);
    });

    $(document).click(function () {
        filterClose();
        sortClose();
    });
    $(".assetFilter,.multiselect,.selectedAsset").click(function (event) {
        event.stopImmediatePropagation();
    });

    var assetCtrlSel = 'div[ng-controller=global_asset]';

    $(".multiselect li").click(function () {
        options=$(".multiselect li");
        var elm = $(this);
        // if all type checked
        if (elm.hasClass("allType")) {
            $(".multiselect li").find("i").remove();
            $(".multiselect li").removeClass("active");
        }
        
        if ((!(elm.hasClass("allType"))) && (elm.find("i").length)) {
            if($(".multiselect li.active").length==1){
                return false;
            }
            else{
                 elm.find("i").remove();
                 $(this).removeClass('active');
            }
           
        }
        else {
            elm.find("span.checkedIcon").append("<i class='fa fa-check'></i>");
            $(this).addClass('active');
            if (!(elm.hasClass("allType"))) {
                $(".multiselect li.allType").find("i").remove();
                $(".multiselect li.allType").removeClass("active");
            }
        }

        // check all filter are checked
        if (!elm.hasClass("allType") && $(".multiselect li.active").length == 5) {
            $(".multiselect li").find("i").remove();
            $(".multiselect li").removeClass("active");
            $(".multiselect li.allType").find("span.checkedIcon").append("<i class='fa fa-check'></i>");
            $(".multiselect li.allType").addClass('active');
        }
        // apply filter
        angular.element(assetCtrlSel).scope().apply_filter();
    });

    value = $("ul.filterOptions li");
    $("ul.filterOptions li").on('click', function () {
        text = $(this).text();
        text2 = $(".assetFilter span").text();
        
        if (text2.indexOf(text) > -1) {
            $(".assetFilter span").text($(".assetFilter span").text().replace(text + ",", ""));
            $(".assetFilter span").text($(".assetFilter span").text().replace("," + text, ""));
        }
        else {
            if (text.toLowerCase() == "all type") {
                $(".assetFilter span").text($(".assetFilter span").text().replace(text2, "All Type"));
            }
            else if (text2.toLowerCase().indexOf("all type") > -1) {
                $(".assetFilter span").text($(".assetFilter span").text().replace(text2, text));
                $(".allType").find("i").remove();

            }
            else {
                $(".assetFilter span").append("," + text);
                text2 = $(".assetFilter span").text().toLowerCase();
               if($("li.allType").hasClass("active")){
                    $(".assetFilter span").text("All Type");
                }
            }

        }

    });
</script>
<div class="container product-inner"  ng-controller="global_asset" ng-cloak>
    <div class="from-container" ng-show="!user_permissions['global_asset.show.all'].grant">
        <div class="from-container-row">
            <div class="alert alert-danger" role="alert"><center>Sorry! Access Prohibited!</center></div> 
        </div>
    </div>
    <div class="from-container" ng-show="user_permissions['global_asset.show.all'].grant">
        <!--/*stucture modified for all pages*/-->
        <div class="from-container-row">
            <div class="pattern-list-container">                 
                <div class="page-title">Asset Management (Total: {{totalAssets}})
                    <button ng-if="user_permissions['global_asset.upload'].grant" type="button" flow-btn class="btn btn-primary pull-right" style="margin-left: 10px;">Upload Assets</button>

                    <span ng-click="changeView(2);" title="List View" class="list-panel" ng-class="{active: viewMode == 2}">
                       <a href="javascript:void(0);"><i class="fa fa-list"></i></a>
                    </span>
                    <span ng-click="changeView(1);" title="Grid View" class="grid-panel" ng-class="{active: viewMode == 1}">
                        <a href="javascript:void(0);"><i class="fa fa-th"></i></a>
                    </span>

                    <div class="filter-area filter-button-area pull-right">
                        <div class="btn-group pull-right" data-toggle="buttons">
                           <div class="multiselectParent">
                            <div class="btn-group btn btn-default assetFilter" data-toggle="buttons"><span>All Type</span><i class="fa fa-sort-desc sort"></i></div>
                                <div class="multiselect">
                                    <ul class="filterOptions col-md-12">
                                        <li class="allType asset-filter asset-filter-types active col-md-12"><span class="checkedIcon col-md-1 paddingZero"><i class='fa fa-check'></i></span><span class="col-md-8 paddingZero">All Type</span></li>
                                        <li class="asset-filter asset-filter-types col-md-12"><span class="checkedIcon col-md-1 paddingZero"></span><span class="col-md-8 paddingZero">Audio</span></li>
                                        <li class="asset-filter asset-filter-types col-md-12"><span class="checkedIcon col-md-1 paddingZero"></span><span class="col-md-8 paddingZero">Video</span></li>
                                        <li class="asset-filter asset-filter-types col-md-12"><span class="checkedIcon col-md-1 paddingZero"></span><span class="col-md-8 paddingZero">Image</span></li>
                                        <li class="asset-filter asset-filter-types col-md-12"><span class="checkedIcon col-md-1 paddingZero"></span><span class="col-md-8 paddingZero">Gadget</span></li>
                                        <li class="asset-filter asset-filter-types col-md-12"><span class="checkedIcon col-md-1 paddingZero"></span><span class="col-md-8 paddingZero">Other</span></li>
                                    </ul>
                                </div>
                        </div>
                        </div>
                        <!--<input type="text" class="form-control search-frm search-matadata-area" ng-keyup="do_search()" placeholder="Enter search term" name="search_text" ng-model="search_text">-->
                        <div class="clearfix"></div>
                    </div>
                    <!--HTML for Sort starts-->
                    <div class="pull-right sortingAsset" ng-hide="viewMode == 2 || removeErrors==0">
                        <label for="sortAsset">Sort by</label>
                        <div class="selectedAsset btn-group btn btn-default"><span>Updated</span><i class="fa fa-sort-desc assetSortIcon"></i></div>
                        <ul class="sortOption">
                            <li ng-click="assetSorting('object_metadata.original_name')">Name</li>
                            <li ng-click="assetSorting('objects.updated_at')">Updated</li>
                            <li ng-click="assetSorting('object_metadata.file_size')">Size</li>
                            <li ng-click="assetSorting('objects.object_type_id')">File Type</li>
                            <li ng-click="assetSorting('usage_count')">Usage</li>
                        </ul>
                    </div>
                     <!--HTML for Sort ends-->
                  </div>

            </div>

            <div ng-show="viewMode == 2" style="height: {{actualAssetListHeight}}px;overflow: auto;" class="lists-view-asstes" flow-drop flow-drop-enabled="user_permissions['global_asset.upload'].grant">
                <div class="from-container-row" style="background-color: #FFFFFF;">
                    <div class="tab-content">
                        <div ng-show="is_local_global_list == 'local'" id="local_list">
                            <div ng-include src="'templates/global_repo/list_asset.html'"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div ng-if="!removeErrors" style="height: {{actualAssetListHeight}}px;background-color: #FFFFFF;">
                        <div class="clearfix"></div>
                        <div class="alert alert-danger" role="alert"><center>No Asset Found!!!!</center></div> 
                    </div>
                </div>
            </div>
            <div ng-show="viewMode == 1" class="grid-view-asstes" style="height: {{actualAssetListHeight}}px;overflow: auto;" flow-drop flow-drop-enabled="user_permissions['global_asset.upload'].grant">
                <div class="from-container-row">
                    <div class="tab-content">
                        <div ng-show="is_local_global_list == 'local'" id="local_grid">
                            <div ng-include src="'templates/global_repo/grid_asset.html'"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div ng-if="!removeErrors" style="height: {{actualAssetListHeight}}px;background-color: #FFFFFF;">
                        <div class="clearfix"></div>
                        <div class="alert alert-danger" role="alert"><center>No Asset Found!!!!</center></div> 
                    </div>
                </div>                                    
            </div>                                
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- Asset filter starts-->
    <div ng-include src="'templates/asset/filter_asset.html'" ng-show="filterbox"></div>
    <!-- Asset filter ends-->

    <!-- Asset edit starts-->
    <div ng-include src="'templates/asset/edit_asset.html'" ng-show="editbox"></div>
    <!-- Asset edit ends-->

    <!-- Asset edit starts-->
    <div ng-include src="'templates/asset/view_asset.html'" ng-show="viewbox"></div>
    <!-- Asset edit ends-->

    <!-- Asset Upload Popup starts-->                        
    <div ng-include src="'templates/asset/asset_upload_popup.html'" ng-show="$flow.files.length" ></div>
    <!-- Asset Upload Popup ends-->                            
    <div class="clearfix"></div>
</div>

