<div class="wrapper-row" ng-if="totalAssets" ng-cloak>
    <!--div class="theme-box-col" ng-repeat="asset in assets.data"-->
    <label ng-show="showCheckAll"><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()"> All</label>
    <button type="button" ng-show="showMakeGlobal && project.project_permissions['asset.set_global'].grant" class="btn btn-default" ng-click="changeAccess(0, 1)">Make Global</button>
    <div dir-paginate="asset in assets | itemsPerPage: itemsPerPage|orderBy:orderByField:reverseSort track by $index" total-items="totalAssets" current-page="currentPage" pagination-id="assetGridId" id="asset_{{asset.id + viewMode}}">
        <div class="col-md-3 col-sm-4 prod-block" ng-if="asset.id">
            <div class="theme-box-col">
                <div class="box-theme">
                    <div class="panel-heading text-center input-wrap" style="min-height: 25px;"><input type="checkbox" ng-show="!asset.is_global" ng-model="asset.Selected" ng-change="selectOption(asset.id)" class="checkbox object" ></div>
                    <div class="box-img-out" ng-click="previewAsset('', asset.id, 'Asset Preview')" style="height: 144px !important">
                        <div class="block-img" style="max-height: 144px !important;display: block !important;">
                            <div style="max-width:200px;">
                                <img id="img1" ng-if="asset.object_type_name == 'image'" ng-src="{{asset.asset_location}}{{ts_hash}}" alt="{{asset.original_name}}">
                                <img ng-if="asset.object_type_name == 'video'" ng-src="./images/default-video.jpg" alt="{{asset.original_name}}">   
                                <img ng-if="asset.object_type_name == 'widget'" ng-src="./images/default-widget.png" alt="Widget" > 
                                <img ng-if="asset.object_type_name == 'other'" ng-src="./images/default-doc.png" alt="Other" > 
                            </div>
                            <div ng-show="asset.is_global" class="type assets"><span class="type-code ng-binding">GLOBAL</span></div>
                        </div></div>
                    <div class="box-theme-title" ng-click="previewAsset('', asset.id, 'Asset Preview')">{{asset.title}}</div>
                    <div class="list-create-name">File Name: {{asset.original_name}}</div>
                    <div class="list-create-name">File Type: {{ mimes[asset.mimetype] == 'widget' ? 'gadget' : mimes[asset.mimetype] | capitalize_first }}</div>
                    <div class="list-create-name">Updated: {{formatDate(asset.updated_at) | date:'MM/dd/yyyy HH:mm:ss'}}</div>
                    <div class="list-create-name">File Size: 
                        <span ng-if="asset.file_size">{{asset.file_size| bytes}}</span>
                        <span ng-if="!asset.file_size">N/A</span> 
                    </div>
                    <div class="theme-comments-control">
                        <!--<button type="button" class="book-toc-icon pull-left" ng-click="editAsset(asset.id)">
<i class="fa fa-edit"></i>
</button>-->                        
                        <!--                        <button type="button" class="book-toc-icon pull-left" ng-click="previewAsset('', asset.id, 'Asset Preview')" title="Preview">
                                                    <i class="fa fa-eye"></i>
                                                </button>-->
                        <button type="button" ng-show="asset.is_global == 0 && project.project_permissions['asset.set_global'].grant" class="book-toc-icon pull-left" ng-click="changeAccess(asset.id, 0)" title="Make Global">
                            <i class="glyphicon glyphicon-globe"></i>
                        </button>      
                        <button type="button" class="book-toc-icon pull-left" ng-show="!asset.is_global && project.project_permissions['asset.update'].grant" ng-click="previewAsset('', asset.id, 'Update Asset', 1)" title="Update">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="book-toc-icon pull-left" ng-show="asset.is_global && user_permissions['global_asset.update'].grant" ng-click="previewAsset('', asset.id, 'Update Asset', 1)" title="Update">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        <div ng-if="show_directive">
                         <license-validity asset-id="asset.id" entity_type="'ASSET'"></license-validity>
                         <!--<asset-usage-count class="pull-right" asset-id="asset.id" template-mode="1" action="'ASSET'" style="padding-top: 8px;"></asset-usage-count>-->
                        </div>
                        <button type="button" class="book-toc-icon pull-right" ng-click="deleteAsset(asset.id, project_id, currentPage)" ng-show="project.project_permissions['asset.delete'].grant && !asset.is_global" title="Remove">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button type="button" class="book-toc-icon pull-right" ng-click="deleteGlobalAsset(asset.id, project_id, currentPage)" ng-show="project.project_permissions['asset.delete'].grant && asset.is_global" title="Remove">
                            <i class="fa fa-trash"></i>
                        </button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Pagination Starts Here -->
    <dir-pagination-controls class="dir_pagination"
                             boundary-links="true" 
                             pagination-id="assetListId" 
                             on-page-change="pageChangeHandlerAsset(newPageNumber)" 
                             template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
    </dir-pagination-controls>
    <!-- Pagination Starts End -->
</div>