
<div class="wrapper-row" ng-if="totalAssets" ng-cloak>
    <button ng-show="showMakeGlobal && project.project_permissions['asset.set_global'].grant" type="button" class="btn btn-default" ng-click="changeAccess(0, 1)">Make Global</button>
    <table id="example" class="display assesment-data" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th width="2%" colspan="2" align="left" style="text-align:left;"><label ng-show="showCheckAll"><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()"> All</label></th>
                <th width="22%" style="cursor: pointer;" ng-click="applySorting('object_metadata.original_name')">Name <span ng-show="currentOrderByField == 'object_metadata.original_name'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th>
                <th width="12%" style="cursor: pointer;" ng-click="applySorting('objects.object_type_id')">File Type <span ng-show="currentOrderByField == 'objects.object_type_id'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th> 
                <!--<th width="20%" style="cursor: pointer;" ng-click="applySorting('object_metadata.name')">Title <span ng-show="currentOrderByField == 'object_metadata.name'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th> -->
                <th width="22%" style="cursor: pointer;" ng-click="applySorting('objects.updated_at')">Updated<span class="glyphicon  glyphicon-arrow-down defaultSorted"></span><span ng-show="currentOrderByField == 'objects.updated_at'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th>
                <th width="12%" style="cursor: pointer;" ng-click="applySorting('object_metadata.file_size')">File Size <span ng-show="currentOrderByField == 'object_metadata.file_size'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th>
                <th width="30%">Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr dir-paginate="asset in assets | itemsPerPage: itemsPerPage|orderBy:orderByField:reverseSort track by $index" total-items="totalAssets" current-page="currentPage" pagination-id="assetListId" id="asset_{{asset.id + viewMode}}">
                <td><input type="checkbox" ng-show="asset.is_global == 0" ng-model="asset.Selected" ng-change="selectOption(asset.id)" class="checkbox object" ></td>
                <td><div class="theme-col-1 prod-block">
                        <div class="theme-box-col">
                            <div class="box-theme">
                                <div class="box-img-out" ng-click="previewAsset('', asset.id, 'Asset Preview')">
                                    <div class="block-img"> 
                                        <div style="max-width:100px;">
                                            <img id="img1" ng-if="asset.object_type_name == 'image'" ng-src="{{asset.asset_location}}{{ts_hash}}" alt="{{asset.original_name}}">
                                            <img ng-if="asset.object_type_name == 'video'" ng-src="./images/default-video.jpg" alt="{{asset.original_name}}">          
                                            <img ng-if="asset.object_type_name == 'audio'" ng-src="./images/default-video.jpg" alt="{{asset.original_name}}">   
                                            <img ng-if="asset.object_type_name == 'widget'" ng-src="./images/default-widget.png" alt="Widget">    
                                            <img ng-if="asset.object_type_name == 'other'" ng-src="./images/default-doc.png" alt="Other">
                                        </div>
                                        <div ng-show="asset.is_global" class="type assets"><span class="type-code ng-binding">GLOBAL</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>                                            
                <td class="text-left"><!--{{asset.taxonomy_title}}--> <div class="box-theme-title">{{asset.original_name}}</div><div ng-if="show_directive">
                         <license-validity asset-id="asset.id" entity_type="'ASSET'"></license-validity>
                        </div></td>
                <td>{{ mimes[asset.mimetype] == 'widget' ? 'gadget' : mimes[asset.mimetype] | capitalize_first }}</td>
                <!--<td>{{asset.title}}</td>-->
                <td>{{formatDate(asset.updated_at) | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                <td> 
                    <span ng-if="asset.file_size">{{asset.file_size| bytes}}</span>
                    <span ng-if="!asset.file_size">N/A</span></td>
                <td class="shorting_button">
                    <button type="button" class="btn btn-default" ng-click="previewAsset('', asset.id, 'Update Asset', 1)" ng-show="!asset.is_global && project.project_permissions['asset.update'].grant">Update</button>
                    <button type="button" class="btn btn-default" ng-click="previewAsset('', asset.id, 'Update Asset', 1)" ng-show="asset.is_global && user_permissions['global_asset.update'].grant">Update</button>
                    <!--<button type="button" class="btn btn-default" ng-click="previewAsset('', asset.id, 'Asset Preview')">View</button>-->
                    <button ng-show="asset.is_global == 0 && project.project_permissions['asset.set_global'].grant" type="button" class="btn btn-default" ng-click="changeAccess(asset.id, 0)">
                        Make Global
                    </button>
                    <button type="button" class="btn btn-default" ng-click="deleteAsset(asset.id, project_id, currentPage)" ng-show="project.project_permissions['asset.delete'].grant && !asset.is_global">Delete</button>
                    <button type="button" class="btn btn-default" ng-click="deleteGlobalAsset(asset.id, project_id, currentPage)" ng-show="project.project_permissions['asset.delete'].grant && asset.is_global">Delete</button>
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <!-- Pagination Starts Here -->
        <dir-pagination-controls class="dir_pagination"
                                 boundary-links="true" 
                                 pagination-id="assetListId" 
                                 on-page-change="pageChangeHandlerAsset(newPageNumber)" 
                                 template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
        </dir-pagination-controls>
        <!-- Pagination Starts End -->
        </td>
        </tr>
        </tbody>
    </table>
    <div class="clearfix"></div>
</div>