<script>
    filter_open = true;
    sort_by=true;
    function filterOpen() {
        $(".multiselect").slideDown();
        filter_open = false;
    }
    function filterClose() {
        $(".multiselect").slideUp();
        filter_open = true;
    }

    $(".assetFilter").click(function (event) {
        if (filter_open) {
            filterOpen();
            sortClose();
        }
        else {
            filterClose();
        }


    });

    function sortOpen() {
        $(".sortOption").slideDown();
          sort_by=false;
    }
    function sortClose() {
         $(".sortOption").slideUp();
            sort_by=true;
    }

    $(".selectedAsset").click(function(){
        if( sort_by){
          sortOpen();
          filterClose();
        }
        else{
            sortClose();
        }
        
    });


    
    $(".sortOption li").click(function(){
        selectedOption=$(this).text();
        $(".sortOption").slideUp();
        sort_by=true;
        sortedOption=$(".selectedAsset span").text(selectedOption);
    });

    $(document).click(function () {
        filterClose();
        sortClose();
    });
    $(".assetFilter,.multiselect,.selectedAsset").click(function (event) {
        event.stopImmediatePropagation();
    });

    var assetCtrlSel = 'div[ng-controller=asset]';

    $(".multiselect li").click(function () {
        options=$(".multiselect li");
        var elm = $(this);
        // if all type checked
        if (elm.hasClass("allType")) {
            $(".multiselect li").find("i").remove();
            $(".multiselect li").removeClass("active");
        }
        
        if ((!(elm.hasClass("allType"))) && (elm.find("i").length)) {
            if($(".multiselect li.active").length==1){
                return false;
            }
            else{
                 elm.find("i").remove();
                 $(this).removeClass('active');
            }
           
        }
        else {
            elm.find("span.checkedIcon").append("<i class='fa fa-check'></i>");
            $(this).addClass('active');
            if (!(elm.hasClass("allType"))) {
                $(".multiselect li.allType").find("i").remove();
                $(".multiselect li.allType").removeClass("active");
            }
        }

        // check all filter are checked
        if (!elm.hasClass("allType") && $(".multiselect li.active").length == 5) {
            $(".multiselect li").find("i").remove();
            $(".multiselect li").removeClass("active");
            $(".multiselect li.allType").find("span.checkedIcon").append("<i class='fa fa-check'></i>");
            $(".multiselect li.allType").addClass('active');
        }
        // apply filter
        angular.element(assetCtrlSel).scope().apply_filter();
    });

    value = $("ul.filterOptions li");
    $("ul.filterOptions li").on('click', function () {
        text = $(this).text();
        text2 = $(".assetFilter span").text();
        
        if (text2.indexOf(text) > -1) {
            $(".assetFilter span").text($(".assetFilter span").text().replace(text + ",", ""));
            $(".assetFilter span").text($(".assetFilter span").text().replace("," + text, ""));
        }
        else {
            if (text.toLowerCase() == "all type") {
                $(".assetFilter span").text($(".assetFilter span").text().replace(text2, "All Type"));
            }
            else if (text2.toLowerCase().indexOf("all type") > -1) {
                $(".assetFilter span").text($(".assetFilter span").text().replace(text2, text));
                $(".allType").find("i").remove();

            }
            else {
                $(".assetFilter span").append("," + text);
                text2 = $(".assetFilter span").text().toLowerCase();
               if($("li.allType").hasClass("active")){
                    $(".assetFilter span").text("All Type");
                }
            }

        }

    });
</script>
<div class="ajax-content" flow-init="{target: 'api/v1/asset'}" style="overflow:hidden;">
    <div class="main_container" ng-controller="asset" ng-cloak>
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->
        <div class="clearfix"></div>
        <section class="wrapper" flow-drop flow-drop-enabled="project.project_permissions['asset.upload'].grant && disable_upload">
            <div class="content-wrap">
                <!--SECTION STARTS HERE-->
                <div class="page-title" ng-show="!advanced_search.isCollapsed">
                    <div ng-if="!advanced_search.enableSearch">
                        <div class="pull-right">
                            <div class="pull-left">
                                <span ng-click="changeView(2);"  title="List View" class="list-panel" ng-class="{
                                            active: viewMode == 2
                                        }"><a href="javascript:void(0);"><i class="fa fa-list"></i></a></span> 
                                <span ng-click="changeView(1);" title="Grid View" class="grid-panel" ng-class="{
                                                    active: viewMode == 1
                                                }"><a href="javascript:void(0);"><i class="fa fa-th"></i></a>
                                </span>
                        </div>

                            <back-to-dashboard ng-if="project.id" project="project"></back-to-dashboard>
                            <!--button type="button" class="btn btn-default" ng-click="backToDashBoard(toc_creation_status, project_id);"><i class="fa fa-chevron-left"></i>Back to Dashboard</button-->
                            <!--button type="button" class="btn btn-primary" data-toggle="dropdown" ng-click="openTaxonomyModal('')" ng-show="user_permissions['taxonomy.create'].grant">Create Taxonomy</button-->
                            <button type="button" class="btn btn-primary" flow-btn ng-show="project.project_permissions['asset.upload'].grant">Upload Assets</button>
                        </div>
                        <div class="pull-middle">
                            {{project_name}}
                        </div>
                    </div>
                    <div ng-if="advanced_search.enableSearch">
                        <div class="pull-right">
                            <div class="pull-left">
                                <span ng-click="changeView(2);" title="List View" class="list-panel" ng-class="{
                                            active: viewMode == 2
                                        }">
                                    <a href="javascript:void(0);"><i class="fa fa-list"></i></a>
                                </span> 
                                <span ng-click="changeView(1);" title="Grid View" class="grid-panel" ng-class="{
                                                active: viewMode == 1
                                            }">
                                    <a href="javascript:void(0);"><i class="fa fa-th"></i></a>
                                </span>
                            </div>
                            <button type="button" class="btn btn-default" ng-click="clearSearch()"><i class="fa fa-chevron-left"></i> Back</button>
                        </div>
                        <div class="pull-middle">
                            {{advanced_search.heading}}
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div ng-show="advanced_search.isCollapsed">
                    <div class="advance-container">
                        <div ng-include src="'templates/asset/advanced_search.html'"></div>
                    </div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <div class="listing-view-content asset-management-view col-md-12">
                            <!-- ng-class="{true: 'col-md-6', false: 'col-md-9'}[$flow.files.length > 0]"-->
                            <div class="listing-page-wrapper-inner">

                                <div class="view-panel">
                                    <div class="page-title">Asset Management
                                        <div class="filter-area filter-button-area pull-right">

                                            <div class="pull-left sortingAsset localAssetSort" ng-hide="viewMode == 2 || removeErrors==0">
                                                <label for="sortAsset">Sort by</label>
                                                <div class="selectedAsset btn-group btn btn-default"><span>Updated</span><i class="fa fa-sort-desc assetSortIcon"></i></div>
                                                <ul class="sortOption">
                                                    <li ng-click="assetSorting('object_metadata.original_name')">Name</li>
                                                    <li ng-click="assetSorting('objects.updated_at')">Updated</li>
                                                    <li ng-click="assetSorting('object_metadata.file_size')">Size</li>
                                                    <li ng-click="assetSorting('objects.object_type_id')">File Type</li>
                                                </ul>
                                            </div>

                                            <!--Multiselect dropdown-->
                                            <div class="pull-left multiselectParent">
                                                <div class="btn-group btn btn-default assetFilter" data-toggle="buttons"><span>All Type</span><i class="fa fa-sort-desc sort"></i></div>
                                                <div class="multiselect">
                                                    <ul class="filterOptions col-md-12">
                                                        <li class="allType asset-filter asset-filter-types active col-md-12"><span class="checkedIcon col-md-1 paddingZero"><i class='fa fa-check'></i></span><span class="col-md-8 paddingZero">All Type</span></li>
                                                        <li class="asset-filter asset-filter-types col-md-12"><span class="checkedIcon col-md-1 paddingZero"></span><span class="col-md-8 paddingZero">Audio</span></li>
                                                        <li class="asset-filter asset-filter-types col-md-12"><span class="checkedIcon col-md-1 paddingZero"></span><span class="col-md-8 paddingZero">Video</span></li>
                                                        <li class="asset-filter asset-filter-types col-md-12"><span class="checkedIcon col-md-1 paddingZero"></span><span class="col-md-8 paddingZero">Image</span></li>
                                                        <li class="asset-filter asset-filter-types col-md-12"><span class="checkedIcon col-md-1 paddingZero"></span><span class="col-md-8 paddingZero">Gadget</span></li>
                                                        <li class="asset-filter asset-filter-types col-md-12"><span class="checkedIcon col-md-1 paddingZero"></span><span class="col-md-8 paddingZero">Other</span></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="btn-group pull-left" data-toggle="buttons">
                                                <label class="btn btn-default asset-filter asset-filter-access" ng-model="asset_local_global.local" ng-change="apply_filter()"
                                                    btn-checkbox>
                                                    Local
                                                </label>
                                                <label class="btn btn-default asset-filter asset-filter-access" ng-model="asset_local_global.global" ng-change="apply_filter()"
                                                    btn-checkbox>
                                                    Global
                                                </label>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                </div>

                                <div ng-show="viewMode == 2" style="height: {{actualAssetListHeight}}px;overflow: auto;" class="lists-view-asstes">
                                    <div class="from-container-row" ng-show="project.project_permissions && !project.project_permissions['asset.show.all'].grant">
                                        <div class="pattern-list-container">
                                            <div class="alert alert-danger" role="alert">
                                                <center>Sorry! Access Prohibited!</center>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="from-container-row" style="background-color: #FFFFFF;" ng-show="project.project_permissions['asset.show.all'].grant">
                                        <div class="tab-content">
                                            <div ng-show="is_local_global_list == 'local'" id="local_list">
                                                <div ng-include src="'templates/asset/list_asset.html'"></div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div ng-if="removeErrors == 0" style="height: {{actualAssetListHeight}}px;background-color: #FFFFFF;">
                                            <div class="clearfix"></div>
                                            <div class="alert alert-danger" role="alert">
                                                <center>No Asset Found!!!!</center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="viewMode == 1" class="grid-view-asstes" style="height: {{actualAssetListHeight}}px;overflow: auto;">
                                    <div class="from-container-row" ng-show="project.project_permissions && !project.project_permissions['asset.show.all'].grant">
                                        <div class="pattern-list-container">
                                            <div class="alert alert-danger" role="alert">
                                                <center>Sorry! Access Prohibited!</center>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="from-container-row" ng-show="project.project_permissions['asset.show.all'].grant">
                                        <div class="tab-content">
                                            <div ng-show="is_local_global_list == 'local'" id="local_grid">
                                                <div ng-include src="'templates/asset/grid_asset.html'"></div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div ng-if="removeErrors == 0" style="height: {{actualAssetListHeight}}px;background-color: #FFFFFF;">
                                            <div class="clearfix"></div>
                                            <div class="alert alert-danger" role="alert">
                                                <center>No Asset Found!!!!</center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- Asset filter starts-->
                    <div ng-include src="'templates/asset/filter_asset.html'" ng-show="filterbox"></div>
                    <!-- Asset filter ends-->

                    <!-- Asset edit starts-->
                    <div ng-include src="'templates/asset/edit_asset.html'" ng-show="editbox"></div>
                    <!-- Asset edit ends-->

                    <!-- Asset edit starts-->
                    <div ng-include src="'templates/asset/view_asset.html'" ng-show="viewbox"></div>
                    <!-- Asset edit ends-->

                    <!-- Asset Upload Popup starts-->
                    <div ng-include src="'templates/asset/asset_upload_popup.html'" ng-show="$flow.files.length"></div>
                    <!-- Asset Upload Popup ends-->

                    <div class="clearfix"></div>
                </div>

            </div>
            <div class="clearfix"></div>
        </section>
        <!--SECTION ENDS HERE-->
    </div>

    <!--FOOTER STARTS HERE-->
    <div ng-include src="'templates/footer.html'" class="footer-container"></div>
    <!--FOOTER ENDS HERE-->

    <div class="clearfix"></div>

</div>
<script>
        $(document).ready(function () {
            $('.nav-tabs').tabdrop();
        });
        $('ul.dropdown-menu').on('click', function (event) {
            event.stopPropagation();
        });
        $('.right-slide').click(function () {
            $('.right-panel-navpanel').hide();
            $('.listing-view-content').removeClass('listing-view-content col-md-9').addClass('listing-view-content col-md-12');
        });
        $('.filter-panel').click(function () {
            $('.right-panel-navpanel').show();
            $('.listing-view-content').removeClass('listing-view-content col-md-12').addClass('listing-view-content col-md-9');
        });

</script>