<div class="popup-boxes" ng-cloak>
    <form name="taxonomy_form">
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}}</div>  
         <div class="inner-modal-content tab-contents">
        <div class="group inputfrom">              
            <div class="toc-panel-container" ng-show="taxonomyModal.children.length > 0" >
                <div class="live" style="overflow: auto !important;height:200px;">
                    <ol ui-nested-sortable="{
                        listType: 'ol',
                        items: 'li',    
                        doNotClear: true,
                        placeholder: 'ui-state-highlight',
                        forcePlaceholderSize: true,
                        toleranceElement: '> div',
                        disabled:true
                        }" ui-nested-sortable-stop="update($event, $ui)" class="sortable">
                        <li ya-tree="childModal in taxonomyModal.children at ol" ng-class="{minimized:childModal.minimized}" item="{{childModal}}">        
                            <div>
                                <div class="lirow">
                                    <button class="toggle" ng-click="toggleMinimizedModal(childModal)" ng-switch on="childModal.minimized" ><span ng-switch-when="true" title="Expand"><span class="glyphicon glyphicon-expand"></span></span><span ng-switch-default title="Collapse">
                                            <span class="glyphicon glyphicon-collapse-down"></span>
                                        </span>
                                    </button>

                                    <span ng-init="taxonomy_form_id = childModal.id">
                                        {{childModal.title}}                              
                                    </span>   

                                    <span class="dropdown toc-plus" on-toggle="toggled(open)">                                                    
                                        <button class="btn btn-default btn-sm dropdown-toggle" ><span class="glyphicon glyphicon-plus-sign"></span></button>
                                        <div class="dropdown-menu">
                                            <div><a href="javascript:void(0);" tooltip-html-unsafe="Add Parent" ng-click="addTaxonomyForm('0', childModal.id)">Add Parent</a></div>
                                            <div class="last"><a href="javascript:void(0);" tooltip-html-unsafe="Add Child" ng-click="addTaxonomyForm(childModal.id, childModal.id)">Add Child</a></div>
                                        </div>  
                                    </span>

                                    <div ng-show="taxonomy_form_id == taxonomy_parent_id" >                                        
                                        <input type="text" ng-show="taxonomy_form_id == taxonomy_parent_id" ng-model="taxonomy_text" name="taxonomy_text" ng-keyup="setValue(taxonomy_text)" >                            </div>

                                </div>
                            </div>
                            <ol ng-class="{pregnant:childModal.children.length}"></ol>
                        </li>
                    </ol> 
                </div>
            </div>
            <div ng-show="taxonomyModal.children.length <= 0">
                <input type="text" ng-model="taxonomy_text" name="taxonomy_text" ng-keyup="setValue(taxonomy_text)" >    
            </div>   
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer">            
            <button class="btn btn-warning" ng-click="cancel()">CANCEL</button>
            <button ng-hide="showedit" class="btn btn-primary" ng-click="add()">CONFIRM</button>
            <!--button ng-show="showedit" class="btn btn-primary" ng-click="edit()">CONFIRM2</button-->
        </div>
    </form>
</div>  