<div class="live" ng-cloak>
    <ol ui-nested-sortable="{
        listType: 'ol',
        items: 'li',    
        doNotClear: true,
        placeholder: 'ui-state-highlight',
        forcePlaceholderSize: true,
        toleranceElement: '> div',
        disabled:true
        }" ui-nested-sortable-stop="update($event, $ui)" class="sortable">
        <li ya-tree="child in taxonomy.children at ol" ng-class="{minimized:child.minimized}" item="{{child}}">        
            <div>
                <div class="lirow" ng-class="child.id==taxonomy_id?'lirow_selected':''">
                    <button class="toggle" ng-click="toggleMinimized(child)" ng-switch on="child.minimized" ><span ng-switch-when="true" title="Expand"><span class="glyphicon glyphicon-expand"></span></span><span ng-switch-default title="Collapse">
                            <span class="glyphicon glyphicon-collapse-down"></span>
                        </span>
                    </button>

                    <span ng-click='setTaxonmonyTitle(child.id,child.title)'>
                        {{child.title}}
                    </span>                                              

                </div>
            </div>
            <ol ng-class="{pregnant:child.children.length}"></ol>
        </li>
    </ol> 
</div>
<style>
    [ng-cloak] {
        display: none;
    }
    * {
        box-sizing: border-box
    }
    .live ol {
        margin:4px 0;
        border: 0 none transparent;
        padding: 0;
        background:#eee;
    }
    .live li {
        list-style:none;
        /*        margin: 1px;
                border: 1px solid #ddd;*/
        padding: 8px 8px 4px 20px;
        background: #fff;
    }
    .live .ui-sortable li{
        cursor: pointer;
    }
    .live input, .live .shadow input {
        margin: 0;
        border: 1px solid #ddd;
        padding: 1px;
        font: inherit;
        font-weight: bold;
        /*height:2em;*/
    }
    .live .ui-state-highlight {
        border: 1px solid #fc0;
        background: #ffe;
    }
    .live, .shadow {
        float: left;
        /*        width: 45%;*/
        margin-right: 5%;
    }
    .live .shadow {
        opacity: 0.7;
    }
    .live .debug {
        clear: both;
    }
    .live .debug textarea {
        width: 100%;
        height: 40em;
        font: 10px/13px monospace;
    }
    .live textarea, .live input {
        outline: none;
    }
    .live .pregnant {
        /*border: 1px solid #ddd;*/
    }
    .live .bg0 {
        background:#fcc;
    }
    .live .bg1 {
        background:#ffc;
    }
    .live .bg2 {
        background:#cfc;
    }
    .live .bg3 {
        background:#cff;
    }
    .live .bg4 {
        background:#ccf;
    }
    .live .bg5 {
        background:#fcf;
    }
    .live .minimized > ol > li {
        display:none;
    }
    .live .minimized > ol {
        border: 0 none transparent;
    }
    .live .toggle {
        border: 0 none transparent;
        background:transparent;
        width:2em;
        color:#aaa;
    }
    .live button {
        cursor: pointer
    }
    .lirow{
        background-color: none;
    }
    .lirow:hover{
        background-color: #ebedf7;
    }
    .lirow_selected{
        background-color: #ebedf7;
    }
</style>