<div class="right-panel-navpanel col-md-3">
    <div class="page-title">General Info <button class="close right-slide" type="button"><span class="cross-icon sprite3"></span></button></div>
    <div class="right-panel-ct" style="height: 492px;overflow: auto;" ng-cloak>
        <div class="info-block-panel general">
            <div class="info-img-panel">
                <div class="info-imbx">
                    <img id="img1" ng-if="formData.object_type_name == 'image'" ng-src="{{formData.asset_location}}" alt="{{formData.original_name}}">
                    <img ng-if="formData.object_type_name == 'video'" ng-src="./images/default-video.jpg" alt="{{formData.original_name}}"</div>
                <div class="info-img-dt">
                    <p><strong>Name:</strong> {{formData.asset_org_name}}</p>
                    <!--p><strong>Resolutions:</strong> XS   S   M   L   XL    |    <strong>Size:</strong> {{formData.asset_size| bytes}}</p-->
                </div>
                <div class="info-img-dt">
                    <p><strong>Type</strong> {{formData.object_type_name}}</p>
                </div>
            </div>
            <div class="border"></div>

            <div class="info-block-details">
                <!--div class="info-row">
                    <label class="lebel1">Name:</label>
                    <div class="info-row-input"><label class="lebel1">{{formData.asset_org_name}}</label></div>
                    <div class="clearfix"></div>
                </div-->
                <!--div class="info-row">
                    <label class="lebel1">Type:</label>
                    <div class="info-row-input"><label class="lebel1">{{formData.object_type_name}}</label></div>
                    <div class="clearfix"></div>
                </div-->
                <!--div class="info-row">
                    <label class="lebel2">Dimensions:</label>
                    <div class="info-row-input"><label class="lebel1">{{formData.asset_height}}</label><span class="pull-left into-icon">X</span> <label class="lebel1">{{formData.asset_width}}</label></div>
                    <div class="clearfix"></div>
                </div>

                <div class="info-row">
                    <label class="lebel1">Size:</label>
                    <div class="info-row-input"><label class="lebel1">{{formData.asset_size}}</label></div>
                    <div class="clearfix"></div>
                </div-->
                <!--div class="info-row">
                    <label class="lebel2">Date Added:</label>
                    <button type="button" class="date-picker sprite3"></button>
                    <div class="info-row-input"><label class="lebel1">{{formData.created_at}}</label></div>
                    <div class="clearfix"></div>
                </div-->
                <!--div class="info-row">
                    <label class="lebel2">Date Modified:</label>
                    <button type="button" class="date-picker sprite3"></button>
                    <div class="info-row-input"><label class="lebel1">{{formData.modified_date}}</label></div>
                    <div class="clearfix"></div>
                </div-->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="info-footer-option">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <!--        <button type="button" class="btn btn-primary">Save</button>-->
    </div>
</div>

<div class="clearfix"></div>

<script>
    $(document).ready(function () {
        $('.nav-tabs').tabdrop();
    });

    $('ul.dropdown-menu').on('click', function (event) {
        event.stopPropagation();
    });

    $('.right-slide').click(function () {
        $('.right-panel-navpanel').hide();
        $('.listing-view-content').removeClass('listing-view-content col-md-9').addClass('listing-view-content col-md-12');

    });

    $('.filter-panel').click(function () {
        $('.right-panel-navpanel').show();
        $('.listing-view-content').removeClass('listing-view-content col-md-12').addClass('listing-view-content col-md-9');

    });

</script>