<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="key_value"> 
        <!--HEADER STARTS HERE-->
        <!--<div ng-include src="'templates/header.html'" class="header-container"></div>-->
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title5"><h4 class="title pull-left">Key Value Management</h4>
                    <div class="pull-right">
                        <input type="text" class="form-control search-frm search-matadata-area" ng-keyup="do_search()" placeholder="Enter search term" name="search_text" ng-model="search_text">
                        <button type="button" class="btn btn-primary" ng-click="openKeyValueAddModal('')" ng-show="user_permissions['key_value.create'].grant" ng-disabled="create_button">Create New Key Value</button>
                    </div>                   

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <div ng-if="total == 0 && user_permissions['key_value.show.all'].grant">
                            <div class="alert alert-danger" role="alert"><center>No Key Value Found!!!!</center></div>                     
                        </div>
                        <div ng-if="total && user_permissions['key_value.show.all'].grant">
                            <div class="from-container">
                                <!--/*stucture modified for all pages*/-->
                                <div class="from-container-row">
                                    <div class="pattern-list-container">
                                        <table id="keyValueTableId" class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th width="15%" style="cursor: pointer;" ng-click="applySorting('key_name')">Key <span ng-show="currentOrderByField == 'key_name'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th>
                                                    <th width="20%">Value</th>
                                                    <th width="15%" style="cursor: pointer;" ng-click="applySorting('key_type')">Key Type <span ng-show="currentOrderByField == 'key_type'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th>
                                                    <th width="10%" style="cursor: pointer;" ng-click="applySorting('usage_count')">Usage <span ng-show="currentOrderByField == 'usage_count'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th>
                                                    <th width="20%" style="cursor: pointer;" ng-click="applySorting('status')">Status <span ng-show="currentOrderByField == 'status'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th>
                                                    <th width="20%">Actions</th>                                       
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="key in keys | itemsPerPage: itemsPerPage" total-items="total" current-page="currentPage" pagination-id="KeyValueListId">
                                                    <td>{{key.key_name}}</td>
                                                    <td>
                                                        <div ng-if="key.key_type != 'select_list'">
                                                            <span>N/A</span>
                                                        </div>
                                                        <div ng-if="key.key_type == 'select_list'">
                                                            <select ng-model="key_value[key.id]" class="key-values">
                                                                <option value="">List Of Values</option>
                                                                <option ng-repeat="value in key.values" value="{{value.value_id}}" title="{{value.value}}">{{value.value | strLimit:40}}({{value.usage_count}})</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span>{{key.key_type | underscoreless | capitalize_first}}</span>
                                                    </td>                                                  
                                                    <td>                                                    
                                                        <span ng-show="key.usage_count > 0" style="cursor: pointer;" id="key_{{key.id}}" ng-click="openKeyUsageModal('lg', key.id)">{{key.usage_count}}</span>
                                                        <span ng-show="key.usage_count == 0" id="tag_{{tag.id}}">{{key.usage_count}}</span>
                                                    </td>
                                                    <td ng-if="user_permissions['key_value.active.inactive'].grant && !(key.key_name=='License Type' || key.key_name=='License Valid Till')">                                                       
                                                        <span class="switch-button-label build" ng-class="{
                                                            'active'
                                                            : key.status == 1000}">Inactive</span>
                                                        <input id="key-value-{{$index + 1}}" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-click="changeStatus(key.id)" ng-checked="key.status == 1001">
                                                        <label class="switch-button-background" for="key-value-{{$index + 1}}"> </label>
                                                        <span class="switch-button-label test" ng-class="{
                                                            'active'
                                                            : key.status == 1001}">Active</span>
                                                        <div class="clear"></div>
                                                    </td>
                                                    <td ng-if="!user_permissions['key_value.active.inactive'].grant && !(key.key_name=='License Type' || key.key_name=='License Valid Till')">
                                                        {{(key.status==1000 ? 'Inactive' : 'Active')}}
                                                    </td>
                                                    <td ng-if="key.key_name=='License Type' || key.key_name=='License Valid Till'"></td>
                                                    <td><button type="button" class="btn btn-default2" ng-click="openKeyValueEditModal('', key.id)" ng-show="user_permissions['key_value.update'].grant && !(key.key_name=='License Type' || key.key_name=='License Valid Till')" ng-disabled="edit_button">Edit</button>
                                                        <button type="button" class="btn btn-default2" ng-disabled="key.usage_count" ng-click="deleteKeyValue(key.id, currentPage)" ng-show="user_permissions['key_value.delete'].grant && !(key.key_name=='License Type' || key.key_name=='License Valid Till')">Delete</button>                                         
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6">
                                                        <!-- Pagination Starts Here -->
                                            <dir-pagination-controls class="dir_pagination"
                                                                     boundary-links="true" 
                                                                     pagination-id="KeyValueListId"
                                                                     on-page-change="pageChangeHandlerKayValue(newPageNumber)"
                                                                     template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                    
                                            </dir-pagination-controls>
                                            <!-- Pagination Starts End -->
                                            </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                                <!--/*//////stucture modified for all pages*/--> 
                            </div>
                        </div>
                        <div class="live" ng-show="!user_permissions['key_value.show.all'].grant">
                            Sorry! Access Prohibited!
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
        <!--FOOTER STARTS HERE-->
        <!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>


<style>
    [ng-cloak] {
        display: none;
    }
    * {
        box-sizing: border-box
    }
    .live ol {
        margin:4px 0;
        border: 0 none transparent;
        padding: 0;
        background:#eee;        
    }
    .live li {
        list-style:none;
        /*        margin: 1px;
                border: 1px solid #ddd;*/
        padding: 8px 8px 4px 20px;
        background: #fff;
    }
    .live .ui-sortable li{
        cursor: pointer;
    }
    .live input, .live .shadow input {
        margin: 0;
        border: 1px solid #ddd;
        padding: 1px;
        font: inherit;
        font-weight: bold;
        height:2em;
    }
    .live .ui-state-highlight {
        border: 1px solid #fc0;
        background: #ffe;
    }
    .live, .shadow {
        float: left;
        /*        width: 45%;*/
        margin-right: 5%;
    }
    .live .shadow {
        opacity: 0.7;
    }
    .live .debug {
        clear: both;
    }
    .live .debug textarea {
        width: 100%;
        height: 40em;
        font: 10px/13px monospace;
    }
    .live textarea, .live input {
        outline: none;
    }
    .live .pregnant {
        /*border: 1px solid #ddd;*/
    }
    .live .bg0 {
        background:#fcc;
    }
    .live .bg1 {
        background:#ffc;
    }
    .live .bg2 {
        background:#cfc;
    }
    .live .bg3 {
        background:#cff;
    }
    .live .bg4 {
        background:#ccf;
    }
    .live .bg5 {
        background:#fcf;
    }
    .live .minimized > ol > li {
        display:none;
    }
    .live .minimized > ol {
        border: 0 none transparent;
    }
    .live .toggle {
        border: 0 none transparent;
        background:transparent;
        width:2em;
        color:#aaa;
    }
    .live button {
        cursor: pointer
    }
    .lirow{
        background-color: none;
    }
    .lirow:hover{
        background-color: #ebedf7;
    }
    .lirow_selected{
        background-color: #ebedf7;
    }
</style>