<div class="popup-boxes" ng-cloak>
    <form>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}}</div>
        <div class="inner-modal-content tab-contents">
            
            <div class="group inputfrom" ng-show="formError['error']"> 
                <span class="highlight text-danger">{{formError['error']}}</span>
            </div>
            
            <div class="group inputfrom">      
                <input ng-model="key_name" name="key_name" type="text" class="form-control" placeholder="Key" >
                <span class="highlight text-danger">{{formError['key_name']}}</span>
                <span class="bar"></span>
            </div> 

            <div class="group inputfrom" ng-show="showAdd"> 
                <span><strong>Value Input Type</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="key_type" ng-model="key_type" value="text_entry">&nbsp;&nbsp; Text
                &nbsp;&nbsp;<input type="radio" name="key_type" ng-model="key_type" value="select_list">&nbsp;&nbsp; Select
                &nbsp;&nbsp;<input type="radio" name="key_type" ng-model="key_type" value="date_entry">&nbsp;&nbsp; Date
                &nbsp;&nbsp;<input type="radio" name="key_type" ng-model="key_type" value="time_entry">&nbsp;&nbsp; Time
                &nbsp;&nbsp;<input type="radio" name="key_type" ng-model="key_type" value="number_entry">&nbsp;&nbsp; Number
                <span class="bar"></span>
            </div>

            <div ng-show="key_type == 'select_list'">
                <div class="group inputfrom">      
                    <div class="input-group">
                        <input ng-model="value" name="value" type="text" class="form-control" placeholder="Value">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="addValue()">Add</button>
                        </span>
                    </div><!-- /input-group -->
                    <span class="highlight text-danger">{{formError['value']}}</span>
                    <div class="clearfix"></div>
                    <div class="from-container">
                        <table style="width: 100%;" class="pattern-list-table" id="keyValuesArea">
                            <tbody>
                                <tr ng-repeat="select_value in select_values">
                                    <td><div class="select-value" title="{{select_value.value}}">{{select_value.value | strLimit:40}}</div></td>
                                    <td>(Usage: {{select_value.uses}})</td>
                                    <td>
                                        <button type="button" class="btn btn-default2 value-edit" ng-click="editSelectValue($event, select_value.value)">Edit</button>
                                        <button type="button" class="btn btn-default2" ng-disabled="select_value.uses" ng-click="removeSelectValue(select_value.value)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <span class="bar"></span>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">        
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button ng-show="showAdd" class="btn btn-primary" ng-click="add()">CONFIRM</button>
            <button ng-show="showEdit" class="btn btn-primary" ng-click="edit()">CONFIRM</button>
        </div>
    </form>
</div>