<!--ADD ASSOCIATION MODAL STARTS-->
<app-modal [modalId]="'add-association'" [modalContentId]="'addAssoContent'" [showCloseAlert]="form.dirty" [showDoneBtn]="true"
  [modalSize]="'big'" (closeEvent)="onCancel();closeModal();">
  <modal-div class="title-text">
    View Association
  </modal-div>

  <modal-div class="body-content">
    <p class="mt-3">Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are required.
    </p>
    <p class="modal--info-txt font-bold" id="addAssoContent">You are adding associations for the following node.</p>
    <div class="jumbotron mx-0 row align-items-top justify-content-between align-items-start" *ngIf="associationNode">
      <div class="d-flex col-10">
        <p class="col-max-1 text-wrapped font-bold mb-0">{{ associationNode.human_coding_scheme }}</p>
        <p class="col-11 text-wrapped mb-0">{{ associationNode.full_statement }}</p>
      </div>
      <div class="node-navigate col-auto d-flex justify-content-between align-items-start" *ngIf="showNavigation">
        <button class="btn btn-clear tooltip top font-1x position-relative" [attr.aria-label]="'Previous node'" data-tooltip="Previous node" [disabled]="(associationNode?.id === firstItemNode?.id)" (click)="onTreeNavigatePreviousClick()">
          <em class="icon-ico-prev-arrow"></em>
        </button>

        <button class="btn btn-clear tooltip top font-1x position-relative" [attr.aria-label]="'Next node'" data-tooltip="Next node" [disabled]="(associationNode?.id === lastNode?.id)" (click)="onTreeNavigateNextClick()">
          <em class="icon-ico-next-arrow"></em>
        </button>

        <span class="preview-panel--nav-helper text-uppercase text-center">navigate</span>
      </div>
    </div>
    <section class="container-fluid position-relative">
      <ng-container *ngIf="nodeLoading">
        <div class="position-absolute w-100 h-100 assciation-overlay d-block"></div>
        <app-preloader *ngIf="nodeLoading" [loaderText]="'Loading node'" class="w-100 position-fixed preloader-backdrop"></app-preloader>

      </ng-container>

      <section class="row justify-content-between">
        <section class="col-md-7 ">
          <form [formGroup]="form">
            <div class="row">
              <div class="form-group col-lg-6">
                <app-auto-complete [listingObj]="associationTypes" (selectedObject)="selectedAssociationType=$event;onTypeSelected($event)"
                  [selectType]="selectType" [uniqueId]="'type_id'" [propName]="'display_name'" [autoCompleteTitle]="'Association Type'"
                  #autoCompleteAsso (clickOutside)="onClickedOutside($event, 'autoCompleteAsso')">
                </app-auto-complete>
                <p id="associationTypeHelp" class="form-text text-muted text-right">Select the association type that you'd
                  want to make.</p>
              </div>
              <div class="form-group col-lg-6">
                <app-auto-complete [listingObj]="taxonomyList" (selectedObject)="updateSelectedObject($event)" [selectType]="selectType"
                  [uniqueId]="uniqueId" [propName]="'title'" [autoCompleteTitle]="autoCompleteTitle" #autoCompleteTaxo (clickOutside)="onClickedOutside($event, 'autoCompleteTaxo')">
                </app-auto-complete>
                <p id="associatedtaxonomyHelp" class="form-text text-muted text-right">Taxonomy with you'd want to associate
                  this node.</p>
              </div>
            </div>
            <div class="jumbotron jumbotron-thin mx-0 mb-3">
              <div class="d-flex col-12">
                <p class="mb-0">Did you know! This node has {{associationList.length}} associations <button class="btn btn-clear text-link text-underline"
                    data-toggle="modal" data-target="#viewAssociationlist" (click)="onCancel();">View all associations<span class="sr-only">Opens in a new dialog</span></button></p>
              </div>
            </div>
            <div class="form-group">
              <label for="associationDescription" class="font-bold">Association Detail</label>
              <input class="form-control" id="associationDescription" [(ngModel)]="description" formControlName="form_description" />
              <!-- <small class="form-text text-muted text-right" id="associationDescriptionHelp">A description that
                  explains what this association is all about.</small> -->
            </div>
            <div class="form-group">
              <label for="accordion" class="font-bold" id="associatedNodeLabel">Select Node(s) for Association
                <span class="mandatory" aria-hidden="true">*</span></label>

              <!--Taxonomy Tree START -->
              <div class="preview-box" aria-required="true" aria-labelledby="associatedNodeLabel associatedNodeHelp">
                <section id="accordion" class="col-12 pr-0" *ngIf="taxonomyData">

                  <!-- <app-tree-accordian [treeData]="taxonomyData.children" [level]="1" [viewLocation]="'project_association'"></app-tree-accordian> -->

                  <app-tree #tree [treeNodes]="taxonomyData.children" [viewLocation]="'taxonomydetail'" [showComplaince]="false">
                  </app-tree>

                  <app-preloader *ngIf="!dataloaded" [loaderText]="'Loading Data..'" class="w-100 position-fixed preloader-backdrop">
                  </app-preloader>

                </section>
              </div>
              <!--Taxonomy Tree END -->

              <p id="associatedNodeHelp" class="form-text text-muted text-right">Node that you'd want to make association
                with.
              </p>

            </div>

          </form>
          <p class="mt-4 mb-0"><button type="button" class="btn btn-primary" [disabled]="(formValid===false) || (associationNode?.is_document === 1)"
              (click)="onCreateAssociation()">Add Association</button></p>
        </section>
        <aside class="col-md-4 file-panel">

          <div class="row">
            <div class="col-12 file-panel-header">
              <h3 class="mb-0 font-bold">Associations</h3>
            </div>
            <div *ngIf="showText" class="d-flex col-12 exemplar-listing">
              <div class="col-12 text-wrapped px-0 animate__animated animate__fadeIn animate__delay-2s">
                <p class="title font-bold mb-0">{{listEnding.title}}</p>
              </div>
            </div>
            <div class="d-flex col-12 exemplar-listing" *ngFor="let item of associationList ; let $index=index ">

              <div class="col-11 px-0 text-wrapped" *ngIf="item">
                <p class="title font-bold mb-0">
                  {{item.association_type_name ? item.association_type_name : item.association_type.display_name}}
                </p>
                <p class="mb-0" *ngIf="item && item.destination_node && item.destination_node.document && item.destination_node.document.document_title">
                  {{item.destination_node.document.document_title}}</p>
                <p class="mb-0">{{item.title ? item.title : item.destination_node.full_statement}}</p>
              </div>
              <div class="col-1 px-0 text-right">
                <button type="button" class="btn btn-icon tooltip top position-relative d-inline-block" data-tooltip="Delete Association" (click)="deleteAssociation(item)" [attr.aria-label]="'Delete Association'">
                  <em class="icon-ico-garbage"></em>
                </button>
              </div>
            </div>

          </div>


        </aside>
      </section>
    </section>
  </modal-div>

</app-modal>
<!--ADD ASSOCIATION MODAL ENDS-->


<!--VIEW ALL ASSOCIATION MODAL STARTS-->
<app-modal [modalId]="'viewAssociationlist'" [modalContentId]="'viewAssociationlistContent'" [modalSize]="'big'" (closeEvent)="onCancel()">
  <modal-div class="title-text">
    View Association
  </modal-div>

  <modal-div class="body-content">
    <p class="modal--info-txt font-bold" id="viewAssociationlistContent">Here is a list of associations between Taxonomy
      Name 1 and Taxonomy Name 2.</p>

    <section class="container-fluid">

      <div class="data-table col-lg-12" role="table">
        <div role="rowgroup">
          <div class="thead d-flex justify-content-between" role="row">
            <div class="col-lg-5 col-sm-5 th" role="columnheader">
              <p class="font-bold h-text mb-0">Origin</p>
            </div>
            <div class="col-lg-2 col-sm-2 th" role="columnheader">
              <p class="font-bold h-text mb-0">Association</p>
            </div>
            <div class="col-lg-5 col-sm-5 th" role="columnheader">
              <p class="font-bold h-text mb-0">Destination</p>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-sm-12 tbody" aria-labelledby="role" role="rowgroup">
          <div class="row tr d-flex justify-content-between" *ngFor="let association of associationData" role="row" aria-live="polite"
            aria-atomic="true">
            <div class="col-lg-5 col-sm-5 font-bold" role="rowheader">
              <p class="mb-0" *ngIf="(association && association.origin_node && association.origin_node.human_coding_scheme) || (association && association.origin_node && association.origin_node.full_statement)">{{
                association.origin_node.human_coding_scheme}} {{ association.origin_node.full_statement}}
              </p>
            </div>

            <div class="col-lg-2 col-sm-2 " role="cell">
              <p class="mb-0" *ngIf="association && association.association_type && association.association_type.display_name">
                {{ association.association_type.display_name }}</p>
            </div>

            <div class="col-lg-5 col-sm-5" role="cell">
              <ng-container *ngIf="(association && association.destination_node && association.destination_node.node_type_title === 'Document');then document else dest_node">
              </ng-container>
              <ng-template #document>
                <p class="mb-0" *ngIf="association && association.destination_node && association.destination_node.document && association.destination_node.document.document_title">
                  {{association.destination_node.document.document_title}}</p>
              </ng-template>
              <ng-template #dest_node>
                <p class="mb-0" *ngIf="association && association.destination_node">
                  {{ association.destination_node.human_coding_scheme}} {{association.destination_node.full_statement}}
                </p>
              </ng-template>
            </div>
          </div>

        </div>
      </div>
    </section>
  </modal-div>
</app-modal>
<!--VIEW ALL ASSOCIATION MODAL ENDS-->