@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.accordion{
    @include bgcolor($white);

    .item{
        &-type{
            @include font-color($darkest);
        }
    }

    .clicked{
        @include bgcolor($lightest);
    }

    .cards{
      @include border-radius(5px);
      @include border-all(1px, solid, $light);

        &-header{
            @extend %no-border-bottom;
            @include bgcolor(inherit);
        }

        &.has{
            &-child{
                @include border-indv('top', 4px, solid, $primary);
                @include border-indv('bottom', 1px, solid, $light);
            }
        }
    }

    .arrow{
        &-toggle{
            &[aria-expanded=true],
            &[aria-expanded=false]{
                &:after{
                    font-family: $icon-font;
                }
            }

            &[aria-expanded=true]{
                &:after{
                    content: '\e903';
                    @include font-size(8);
                }
            }

            &[aria-expanded=false]{
                &:after{
                    content: '\e900';
                    @include font-size(14);
                }
            }
        }
    }

    .phantom{
        @include bgcolor($light);
        @include border-radius(5px);
        height: 73px;
    }

    // Droppable
    .drop{
        &-zone{
        @include bgcolor($light);
        @include border-all(1px, solid, $primary);
        @include border-radius(5px);
        @include padding(20px 0);
        }
    }

    //Draggable
    .drag{
        &-hint{
            &-border {
                border: 2px dotted $darker !important;
            }
        }

        &-handle {
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
        
            &:active { 
                cursor: grabbing;
                cursor: -moz-grabbing;
                cursor: -webkit-grabbing;
            }
        }

        &-over{
            &-border1{
                @extend %position-relative;

                &:before,
                &:after{
                    @extend %position-absolute;
                    @include box-shadow-error-alert;
                    content: '';
                }

                &:before{
                    @include border-radius(50%);
                    width: 10px;
                    height: 10px;
                    background: $notify;
                    left: -9px;
                    top: -10px;
                }

                &:after{
                    width: 100%;
                    border-top: 2px solid $notify;
                    top: -6px;
                    margin-bottom: 20px;
                }
            }
        }

        &-transit {
            @include bgcolor($primary);
            @include font-color($white);

            .card-header,
            .item-type{
                @extend .drag-transit;
            }

            .btn-drag,
            .item-name:before{
                @include display(none);
            }
        }

        &-started{
            @include bgcolor($primary);
            @include border-all(1px, solid, $primary);
            @include border-radius(5px);

            button{
                @include font-color($white);
            }

            .item{
                &-type,
                &-description,
                &-name{
                    @include font-color($white);
                }
            }

            .more{
                &-option{
                    @include display(none);
                }
            }
        }
    }

    .nested{
        border-right: 0;
        border-bottom: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

