<div class="popup-boxes">
    <form ng-cloak>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}}</div>
        <div class="inner-modal-content tab-contents">
            
            <div class="group inputfrom" ng-show="formError['error']"> 
                <span class="highlight text-danger">{{formError['error']}}</span>
            </div>
            
            <div class="group inputfrom">      
                <input ng-model="element_name" name="element_name" type="text" class="form-control" placeholder="Element" >
                <span class="highlight text-danger">{{formError['element_name']}}</span>
                <span class="bar"></span>
            </div>
            <div class="group inputfrom">      
                <textarea ng-model="element_value" name="element_value" type="text" class="form-control" placeholder="Element Description" rows="5" style="resize: vertical;"></textarea>
                <span class="highlight text-danger">{{formError['element_value']}}</span>
                <span class="bar"></span>
            </div>            
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">            
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button ng-show="showAdd" class="btn btn-primary" ng-click="add()">CONFIRM</button>
            <button ng-show="showEdit" class="btn btn-primary" ng-click="edit()">CONFIRM</button>
        </div>
    </form>
</div>