<div class="popup-boxes">
    <form ng-cloak>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">Element Name: {{element_title}}</div>
        <div class="inner-modal-content tab-contents">
            <div class="from-container">
                <!--/*stucture modified for all pages*/-->
                <div class="from-container-row">
                    <div class="pattern-list-container">
                        <table id="elementTableId" class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="40%">Object Name</th>
                                    <th width="30%">Object Type</th> 
                                    <th width="30%">Created at</th>                                         
                                </tr>
                            </thead>
                            <tbody>
                                <!--tr ng-repeat="meatadata_object in elementMetadataObjects"-->
                                <tr dir-paginate="meatadata_object in elementMetadataObjects|itemsPerPage: itemsPerPage" total-items="total" current-page="currentPage" pagination-id="objectListId">
                                    <td>
                                        <span ng-show="meatadata_object.object_type_id == 101">{{meatadata_object.name}}</span>
                                        <span ng-show="meatadata_object.object_type_id != 101">{{meatadata_object.original_name}}</span>
                                    </td> 
                                    <td>
                                        {{meatadata_object.object_type_name}}
                                    </td>
                                    <td>{{meatadata_object.created_at}}</td>
                                </tr>
                                <tr ng-show="showPagination">
                                    <td colspan="3">
                                        <!-- Pagination Starts Here -->
                            <dir-pagination-controls class="dir_pagination"
                                                     boundary-links="true" 
                                                     pagination-id="objectListId" 
                                                     on-page-change="pageChangeHandlerObject(newPageNumber)" 
                                                     template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                            </dir-pagination-controls>
                            <!-- Pagination Starts End -->
                            </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">            
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
        </div>
    </form>
</div>