<div class="popup-boxes">
    <form ng-cloak>
        <div class="modal-header header-m">
            {{modalFormTitle}}
        </div>
        <div class="inner-modal-content tab-contents">     
            <div class="col-md-10 col-md-offset-1">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="brightcove_id" style="display:block !important;position: inherit;pointer-events: none;left: 0;top: 0;">Brightcove ID</label>
                        <div class="col-sm-9" style="height: 45px">
                            <input type="text" class="form-control requires-modal" id="brightcove_id" placeholder="Enter Brightcove Video ID"ng-model="brightcove_id">
                            <label class="error_show" style="display:none">Please enter the Brightcove ID</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="brightcove_video_width" style="display:block !important;position: inherit;pointer-events: none;left: 0;top: 0;">Width</label>
                        <div class="col-sm-9" style="height: 45px">
                            <input type="text" class="form-control requires-modal individual_score" id="brightcove_video_width" placeholder="Enter Brightcove video width" ng-model="brightcove_video_width">
                            <label class="error_show" style="display:none">Please enter the Video Width</label>
                        </div>                       
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="brightcove_video_height" style="display:block !important;position: inherit;pointer-events: none;left: 0;top: 0;">Height</label>
                        <div class="col-sm-9" style="height: 45px">
                            <input type="text" class="form-control requires-modal individual_score" id="brightcove_video_height" placeholder="Enter Brightcove video height" ng-model="brightcove_video_height">
                            <label class="error_show" style="display:none">Please enter the Video Height</label>
                        </div>                       
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button class="btn btn-primary" ng-click="submitResource()" id="submit_resource">Submit Configuration</button>
        </div>
    </form>
</div>

<script>
    $(".individual_score").keydown(function (e) {
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                        (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                        // Allow: home, end, left, right, down, up
                                (e.keyCode >= 35 && e.keyCode <= 40)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
</script>