<div class="container product-inner" ng-controller="global_assessment">
    <div class="content">
        <div class="from-container" ng-cloak>
            <!--/*stucture modified for all pages*/-->
            <div class="from-container-row" ng-show="!user_permissions['global_template.show.all'].grant">
                    <div class="alert alert-danger" role="alert"><center>Sorry! Access Prohibited!</center></div> 
            </div>

            <div class="from-container-row" ng-show="user_permissions['global_template.show.all'].grant">
                <div class="pattern-list-container">
                    <div class="from-container">
                        <div class="page-title">Assessment Management
                           <div class="pull-right">  
                                <button type="button" class="btn btn-primary" ng-click="addGlobalAssesmentForm('')" >Create New Assessment</button>

                            </div
                        </div>
                        <div class="clearfix"></div>
                        <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="40%" style="cursor: pointer;" ng-click="applySorting('title')">Name <span ng-show="currentOrderByField == 'title'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>
                                    <th width="15%" style="cursor: pointer;" ng-click="applySorting('shortcode')">Short Code<span ng-show="currentOrderByField == 'shortcode'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>
                                    <th width="10%">Questions</th>
                                    <!--th width="12%" style="cursor: pointer;text-align: center;" ng-click="applySorting('status')">Status<span ng-show="currentOrderByField == 'status'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th-->
                                    <th width="23%">Actions</th>                                                
                                </tr>
                            </thead>
                            <tbody>
                                <!--tr ng-repeat="template in templateList"-->
                                <tr dir-paginate="template in templateList | itemsPerPage: itemsPerPage" total-items="totalTemplates" current-page="currentPage" pagination-id="assessmentListId">
                                    <td>
                                          <a href="#/assessment_question/{{template.id}}/{{template.project_id}}/global_repo">
                                            {{template.title| strLimit:70}}
                                          </a><span ng-if="template.isLicenseExpired" ng-click="licenseNotification();" style="cursor:pointer;padding-left: 5px;" title="license has expired"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red"></i></span>
                                        <!-- {{template.title| strLimit:20}} <span class="type-code" ng-show="template.global == 1">GLOBAL</span><span ng-if="template.total_question"><other-license-validity asset-id="template.id" entity_type="'ASSESSMENT'" style="padding-left: 21px;padding-top: inherit;"></other-license-validity></span> -->
                                    
                                    </td>
                                    <td>{{template.shortcode| uppercase}}</td>
                                    <td>{{template.total_question}}</td>
                                    <!--td>
                                        <div class="switch">
                                            <span class="switch-button-label build" ng-class="{'active': template.status == 1000}">Inactive</span>
                                            <input id="cmn-toggle-template-{{$index + 1}}" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-click="changeStatus(template.id)" ng-checked="template.status == 1001">
                                            <label class="switch-button-background" for="cmn-toggle-template-{{$index + 1}}"> </label>
                                            <span class="switch-button-label test" ng-class="{'active': template.status == 1001}">Active</span>
                                            <div class="clear"></div>
                                        </div>
                                    </td-->
                                    <td>    
                          <a class="btn btn-default2" href="#/assessment_question/{{template.id}}/{{template.project_id}}/global_repo" ng-show="project.project_permissions['assessment.question.show.all'].grant">View</a>
                          <button type="button" class="btn btn-default2" ng-click="preview_question(template.shortcode)" ng-disabled="template.total_question == 0 || preview_button_disabled">Preview</button>
                          <button type="button" class="btn btn-default2" ng-click="edit('', template.id)" id="editAssessment{{template.id}}" ng-disabled="isDisabled" ng-show="project.project_permissions['assessment.update'].grant">Edit</button>
                          <button type="button" class="btn btn-default2" ng-click="delete(template.id,template.project_id)" id="delete{{template.id}}" ng-disabled="isDisabled" ng-show="project.project_permissions['assessment.update'].grant">Delete</button>

                                    </td>
                                </tr>
                                <tr ng-show="totalTemplates > 0">
                                    <td colspan="4">
                                        <!-- Pagination Starts Here -->
                            <dir-pagination-controls class="dir_pagination"
                                                     boundary-links="true" 
                                                     pagination-id="assessmentListId" 
                                                     on-page-change="pageChangeHandlerAssessment(newPageNumber)" 
                                                     template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                            </dir-pagination-controls>
                            <!-- Pagination Starts End -->
                            </td>
                            </tr>
                            <tr ng-show="totalTemplates == 0">
                                <td colspan="4">
                                    <div class="alert alert-danger" role="alert"><center>No Assessment Found!!!!</center></div>  
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <!--/*//////stucture modified for all pages*/--> 
    </div>

</div>
</div>