<style>
  .ajax-content{
    width:100%;
    height:100%;
    position:absolute;
    /*display:none;*/
  }
  .tooltips {
    position: relative;
    //display: inline-block;
    // border-bottom: 1px dotted black;  
  }

  /* Tooltip text */
  .tooltips .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 0px;
    word-wrap: break-word;
    /* Position the tooltip text */
    position: absolute;
    z-index: 100;
    bottom: 125%;
    left: 30%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
  }

  /* Tooltip arrow */
  .tooltips .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltips:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
</style>
<div class="ajax-content" ng-cloak>
  <div class="overlay" ng-click="toggleShowMenuClass()"></div>
  <div class="main_container" ng-controller="assessment">  
    <!--HEADER STARTS HERE-->
    <div ng-include src="'templates/header.html'" class="header-container"></div>
    <!--HEADER ENDS HERE-->
    <div class="content-wrap">
      <!--SECTION STARTS HERE-->
      <section class="wrapper">
        <div class="page-title">
          <div class="pull-right">  
            <!--button type="button" class="btn btn-default" ng-click="backToDashBoard(toc_creation_status, project_id);" ><i class="fa fa-chevron-left"></i>Back to Dashboard</button-->
            <back-to-dashboard ng-show="project.id" project="project"></back-to-dashboard>
            <button type="button" class="btn btn-primary" ng-click="addForm('')" ng-show="project.project_permissions['assessment.create'].grant" ng-disabled="addAssessment">Create New Assessment</button>
          </div>
          <div class="pull-middle"> 
            {{project_name}}
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="container product-inner">
          <div class="content">
            <div class="from-container">
              <!--/*stucture modified for all pages*/-->
              <div class="from-container-row">
                <div class="live" ng-show="!project.project_permissions['assessment.show.all'].grant && applyPermission">
                  Sorry! Access Prohibited!
                </div>
                <div ng-show="project.project_permissions['assessment.show.all'].grant && applyPermission" class="pattern-list-container">

                  <div class="page-title">Assessment Management

                    <div class="filter-area filter-button-area pull-right">                                            
                      <!--input type="text" class="form-control search-frm search-matadata-area" ng-keyup="do_search()" placeholder="Enter search term" name="search_text" ng-model="search_text"-->
                      <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>


                  <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                    <thead>
                      <tr>
                        <th width="45%">Name <span ng-show="currentOrderByField == 'title'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th>
                        <th>Shortcode</th>
                        <th width="10%">Questions</th>
                        <th >Actions</th>                                                
                      </tr>
                    </thead>
                    <tbody>
                      <!--tr ng-repeat="pattern in patternList"-->
                      <tr dir-paginate="assessment in assessmentList | itemsPerPage: itemsPerPage" total-items="assessmentsTotal" current-page="currentPage" pagination-id="assessmentListId">
                        <td class="tooltips">
                          <a href="#/assessment_question/{{assessment.id}}/{{project_id}}">

                            <span class="tooltiptext">{{assessment.title}}</span>
                            {{assessment.title| strLimit:70}}
                          </a>
                          <span class="type-code ng-binding" ng-show="assessment.is_global">GLOBAL</span>
                          <span ng-if="assessment.total_question"><other-license-validity asset-id="assessment.id" entity_type="'ASSESSMENT'" style="padding-left: 21px;padding-top: inherit;"></other-license-validity></span>
                        </td>  
                        <td>{{assessment.shortcode}}</td>
                        <td>{{assessment.total_question}}</td>
                        <td>
                          <a class="btn btn-default2" href="#/assessment_question/{{assessment.id}}/{{project_id}}" ng-show="project.project_permissions['assessment.question.show.all'].grant">View</a>
                          <button type="button" class="btn btn-default2" ng-click="preview_question(assessment.shortcode)" ng-disabled="assessment.total_question == 0 || preview_button_disabled">Preview</button>
                          <button type="button" class="btn btn-default2" ng-click="edit('', assessment.id)" id="editAssessment{{assessment.id}}" ng-disabled="isDisabled" ng-show="project.project_permissions['assessment.update'].grant">Edit</button>
                          <button type="button" class="btn btn-default2" ng-click="delete(assessment.id, project_id)" ng-show="project.project_permissions['assessment.delete'].grant">Delete</button>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3">
                          <!-- Pagination Starts Here -->
                    <dir-pagination-controls class="dir_pagination"
                                             boundary-links="true" 
                                             pagination-id="assessmentListId" 
                                             on-page-change="pageChangeHandlerAssessment(newPageNumber)" 
                                             template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                    </dir-pagination-controls>
                    <!-- Pagination Starts End -->
                    </td>
                    </tr>
                    <tr ng-show="assessmentsTotal == 0">
                      <td colspan="4">
                        <div class="alert alert-danger" role="alert"><center>No Assessment Found!!!!</center></div>  
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="clearfix"></div>
                </div>

              </div>
              <!--/*//////stucture modified for all pages*/--> 
            </div>

          </div>
        </div>
        <div class="clearfix"></div>
      </section>
      <!--SECTION ENDS HERE-->
    </div>
    <!--FOOTER STARTS HERE-->
    <!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
    <!--FOOTER ENDS HERE-->

  </div>
  <div class="clearfix"></div>
</div>