<div class="popup-boxes" ng-cloak>
    <form>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}}</div>
        <div class="sub-title" ng-show="show_make_global">Make it global
            <input type="checkbox"  checked="checked" disabled  ng-if="disable_global_checkbox"/>
            <input type="checkbox" ng-click="makeGlobal(assessment_id)"  ng-model="make_global" ng-if="!disable_global_checkbox" id="global_check"/>
        </div>
        <div class="inner-modal-content tab-contents">
            <ul class="nav nav-tabs" id="modalContentTab">
                <li class="active"><a data-target="#DETAILS" data-toggle="tab">DETAILS</a></li>
                <li><a data-target="#METADATA" data-toggle="tab">METADATA</a></li>
            </ul>
            <div class="tab-content">
                <div id="DETAILS" class="tab-pane fade in active">
                    <div class="group inputfrom">      
                        <input ng-model="title" name="title" type="text" class="form-control" id="" placeholder="Name" autofocus="true">
                        <span class="highlight text-danger">{{formError['title']}}</span>
                        <span class="bar"></span> 
                        <label>Name of Assessment</label>
                    </div>            
                    <div class="clearfix"></div>
                </div>
                <div id="METADATA" class="tab-pane fade">
                    <div ng-if="applyMetadata == 0" style="margin-top: 20px;">
                        <center>Sorry! Access Prohibited! You can't apply Metadata.</center>
                    </div>
                    <div ng-if="applyMetadata">
                        <div class="group inputfrom">
                            <div class="clearfix label-tt">Key Value</div>
                            <div id="keyValuesAreaId"></div>
                            <span id="errorKeyValue" class="highlight text-danger">{{formError['duplicate_value']}}</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="group inputfrom"> 
                            <div class="clearfix label-tt">Tags</div>
<!--                            <div class="pull-right" title="Help"><i class="fa fa-question-circle"></i></div>-->
                            <input type="hidden" style="width: 100%;height: 34px;border-radius: 4px;" ui-select2="tag" ng-model="metadata.tagValue"/>
                        </div>
                        <div class="group inputfrom">
                            <div class="clearfix label-tt">Taxonomy</div>
<!--                            <div class="pull-right" title="Help"><i class="fa fa-question-circle"></i></div>-->
                            <div ivh-treeview="taxonomy" ivh-treeview-twistie-expanded-tpl="tplFolderOpen" ivh-treeview-twistie-collapsed-tpl="tplFolderClose" ivh-treeview-twistie-leaf-tpl="tplLeaf" id="taxonomyStatus"></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="modal-footer">            
            <a class="btn btn-default" ng-click="cancel()">CANCEL</a>
            <button ng-if="!showedit" class="btn btn-primary" ng-click="add()">CONFIRM</button>
            <button ng-if="showedit" class="btn btn-primary" ng-click="edit()">CONFIRM</button>
        </div>
    </form>
</div>