<div class="popup-boxes">
    <form ng-cloak>
        <div class="modal-header header-m">
            {{modalFormTitle}}
            <a class="pull-right" style="color: #fff;cursor: pointer" ng-click="cancel()"><i class="fa fa-times-circle"></i></a>
        </div>
        <div class="inner-modal-content tab-contents">     
            <div class="col-md-10 col-md-offset-1" style="margin-left: 5% !important;">
                <iframe id="parentFrame"  title="ASSESSMENT WIDGET" data-path="" style="width:768px;height:500px" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
            </div>
            <div class="clearfix"></div>
        </div>


    </form>
</div>