<style>
  .ajax-content{
    width:100%;
    height:100%;
    position:absolute;
    /*display:none;*/
  }
  .tooltips {
    position: relative;
    //display: inline-block;
    // border-bottom: 1px dotted black;  
  }

  /* Tooltip text */
  .tooltips .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 0px;
    word-wrap: break-word;
    /* Position the tooltip text */
    position: absolute;
    z-index: 100;
    bottom: 125%;
    left: 30%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
  }

  /* Tooltip arrow */
  .tooltips .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltips:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
</style>
<div class="ajax-content" ng-cloak>
  <div class="overlay" ng-click="toggleShowMenuClass()"></div>
  <div class="main_container" ng-controller="assessmentQuestion" flow-init="{target: 'api/v1/question',singleFile: true}">  
    <!--HEADER STARTS HERE-->
    <div ng-include src="'templates/header.html'" class="header-container"></div>
    <!--HEADER ENDS HERE-->
    <div class="content-wrap">
      <!--SECTION STARTS HERE-->

      <section class="wrapper">
        <div class="page-title">
          <div class="pull-right">  
            <!--button type="button" class="btn btn-default" ng-click="backToDashBoard(toc_creation_status, project_id);" ><i class="fa fa-chevron-left"></i>Back to Dashboard</button-->
            <button ng-if="location.path().indexOf('global_repo') === -1" type="button" class="btn btn-default" ng-click="backToAssessment(project_id);" ><i class="fa fa-chevron-left"></i>Back to Assessment</button>
            <button ng-if="location.path().indexOf('global_repo') !== -1" type="button" class="btn btn-default" ng-click="backToGlobalRepo();" ><i class="fa fa-chevron-left"></i>Back to Assessment</button>
           <back-to-dashboard  ng-if="location.path().indexOf('global_repo') === -1" ng-show="project.id" project="project"></back-to-dashboard>
            <button type="button" class="btn btn-primary" ng-click="addForm('')" ng-show="project.project_permissions['assessment.question.create'].grant">Create New Question</button>
          </div>
          <div class="pull-middle" ng-if="location.path().indexOf('global_repo') === -1"> 
            {{project_name}}
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="container product-inner">
          <div class="content">
            <div class="from-container">
              <!--/*stucture modified for all pages*/-->
              <div class="from-container-row">
                <div class="live" ng-show="!project.project_permissions['assessment.question.show.all'].grant && applyPermission">
                  Sorry! Access Prohibited!
                </div>
                <div ng-show="project.project_permissions['assessment.question.show.all'].grant && applyPermission" class="pattern-list-container">

                  <div class="page-title">Assessment Question

                    <div class="filter-area filter-button-area pull-right">                                           
                      <span>
                        <button type="button" class="btn btn-primary" flow-btn>Upload Question Json</button>
                      </span>
                      <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>


                  <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                    <thead>
                      <tr>
                        <th width="45%">Name </th>
                        <th width="10%">Type</th>
                        <th >Actions</th>                                                
                      </tr>
                    </thead>
                    <tbody>
                      <!--tr ng-repeat="pattern in patternList"-->
                      <tr dir-paginate="question in questionList | itemsPerPage: itemsPerPage" total-items="questionTotal" current-page="currentPage" pagination-id="questionListId">
                        <td class="tooltips">
                          <span class="tooltiptext">{{question.title}}
                          </span>
                          {{question.title| strLimit:70}}
                          <other-license-validity asset-id="question.question_id" entity_type="'QUESTION'" style="padding-left: 21px;padding-top: inherit;"></other-license-validity>
                        </td>    
                        <td>{{question.type}}</td>
                        <td>
                          <button type="button" class="btn btn-default2" ng-click="preview_question(question.search_name)" ng-disabled="preview_button_disabled">Preview</button>
                          
                          <a ng-if="location.path().indexOf('global_repo') === -1" href="#/assessment_question/{{assessment_id}}/{{project_id}}/{{question.type}}/{{question.question_id}}"><button type="button" class="btn btn-default2" ng-show="project.project_permissions['assessment.question.edit'].grant">Edit</button></a>
                          <a ng-if="location.path().indexOf('global_repo') !== -1" href="#/assessment_question/{{assessment_id}}/{{project_id}}/{{question.type}}/{{question.question_id}}/global_repo"><button type="button" class="btn btn-default2" ng-show="project.project_permissions['assessment.question.edit'].grant">Edit</button></a>
                          <button type="button" class="btn btn-default2" ng-click="delete(question.question_id)" ng-show="project.project_permissions['assessment.question.delete'].grant">Delete</button>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3">
                          <!-- Pagination Starts Here -->
                    <dir-pagination-controls class="dir_pagination"
                                             boundary-links="true" 
                                             pagination-id="questionListId" 
                                             on-page-change="pageChangeHandlerQuestion(newPageNumber)" 
                                             template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                    </dir-pagination-controls>
                    <!-- Pagination Starts End -->
                    </td>
                    </tr>
                    <tr ng-show="questionTotal == 0">
                      <td colspan="3">
                        <div class="alert alert-danger" role="alert"><center>No Questions Found!!!!</center></div>  
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="clearfix"></div>
                </div>

              </div>
              <!--/*//////stucture modified for all pages*/--> 
            </div>

          </div>
        </div>
        <div class="clearfix"></div>
      </section>
      <!--SECTION ENDS HERE-->
    </div>
    <!--FOOTER STARTS HERE-->
    <!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
    <!--FOOTER ENDS HERE-->
    <!-- Assessment Question Upload Popup starts-->                        
    <div ng-include src="'templates/assessment/assessment_upload_popup.html'" ng-show="$flow.files.length" ></div>
  </div>

  <div class="clearfix"></div>
</div>
