<div class="popup-boxes" ng-cloak>
    <form>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}}</div>
        <div class="inner-modal-content tab-contents">
            <div class="group inputfrom"> 
                <select ng-model="question_type" ng-options="types.name for types in question_types track by types.id " class="form-control">
                    <option value="">Select type</option>
                </select> 
                <!--input ng-model="title" name="title" type="text" class="form-control" id="" placeholder="Name" required -->
                <span class="highlight text-danger">{{formError['question_type']}}</span>
                <span class="bar"></span> 
                <label>Name of Assessment</label>
            </div>            
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">   
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button ng-if="location.path().indexOf('global_repo') === -1" class="btn btn-primary" ng-click="add()">Confirm</button>
            <button ng-if="location.path().indexOf('global_repo') !== -1" class="btn btn-primary" ng-click="addGlobal()">Confirm</button>
        </div>
    </form>
</div>