<div class="popup-boxes">
    <form ng-cloak>
        <div class="modal-header header-m">
            {{modalFormTitle}}
        </div>
        <div class="inner-modal-content tab-contents">     
            <div class="col-md-10 col-md-offset-1">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">Assessment </span>
                    <select ng-model="assessment" class="form-control">
                        <option value="">Select assessment</option>
                        <option ng-repeat="at in assessmentList" value="{{ at.id }}" title="{{ at.title }}">{{at.title | strLimit:70}}</option>
                    </select> 
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Type</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!--tr ng-repeat="pattern in patternList"-->
                        <tr dir-paginate="question in questionList | itemsPerPage: itemsPerPage" total-items="questionTotal" current-page="currentPage" pagination-id="questionListId" ng-if="question.type != 'MULTI-PART'" ng-show="questionTotal != 0">
                            <td>
                                <div class="checkbox">
                                    <label class="tooltips">
                                        <span class="tooltiptext">{{question.title}}</span>
                                        <input name="check_box_{{$index}}" type="checkbox" value="{{question.data}}" ng-model="question.status" ng-change="IfCheck(question.data, question.status, question.question_id)" ng-checked="question.checked"> {{question.title| strLimit:70}}
                                    </label>
                                </div>
                            </td>    
                            <td>{{question.type}}</td>

                        </tr>
                        <tr ng-show="questionTotal == 0">
                            <td colspan="3">
                                <div class="alert alert-danger" role="alert"><center>No Questions Found!!!!</center></div>  
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <!-- Pagination Starts Here -->
                    <dir-pagination-controls class="dir_pagination"
                                             boundary-links="true" 
                                             pagination-id="questionListId" 
                                             on-page-change="pageChangeHandlerQuestion(newPageNumber)" 
                                             template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                    </dir-pagination-controls>
                    <!-- Pagination Starts End -->
                    </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="clearfix"></div>
        </div>


        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button class="btn btn-primary" ng-click="submitResource()" ng-disabled="isNodeAddDisabled" id="submit_resource">Confirm</button>
        </div>
    </form>
</div>
