<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<script src="../../lib/ckeditor/ckeditor.js" ></script>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div id="questionController" class="main_container" ng-controller="assessmentQuestion">  
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title">
                    <div class="pull-right">  
                        <button ng-if="location.path().indexOf('global_repo') === -1" type="button" class="btn btn-default" ng-click="backToQuestion(project_id, assessment_id);" ><i class="fa fa-chevron-left"></i>Go Back</button>
                        <button ng-if="location.path().indexOf('global_repo') !== -1" type="button" class="btn btn-default" ng-click="backToQuestionGlobal(project_id, assessment_id);" ><i class="fa fa-chevron-left"></i>Go Back</button>
                        <!--<back-to-dashboard ng-show="project.id" project="project"></back-to-dashboard>-->
                        <button ng-show="enableAdd && project.project_permissions['assessment.question.create'].grant" ng-disabled="disableAdd" ng-click="addQuestions()" class="btn btn-primary">Save</button>
                        <button ng-show="enableEdit && project.project_permissions['assessment.question.edit'].grant" ng-disabled="disableEdit" ng-click="editQuestion(false)" class="btn btn-primary">Update</button>
                        <!--                        <button ng-show="!createQuesButtonEnable" id="generate_data" class="btn btn-primary">Generate Data</button>-->
                        <!--                        <button type="button" class="btn btn-primary" ng-click="addForm('')">Create New Question</button>-->
                    </div>
                    <div class="pull-middle" ng-if="location.path().indexOf('global_repo') === -1"> 
                        {{project_name}}
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">
                            <!--/*stucture modified for all pages*/-->
                            <div class="from-container-row">
                                <div class="live" ng-show="!project.project_permissions['pattern.show.all'].grant && applyPermission">
                                    Sorry! Access Prohibited!
                                </div>
                                <div ng-show="project.project_permissions['pattern.show.all'].grant && applyPermission" class="pattern-list-container">             
                                    <div class="page-title" ng-show="enableAdd">Create {{checkType(question_type_id)}} Question</div>

                                    <div class="page-title" ng-show="enableEdit">Edit {{checkType(question_type_id)}} Question</div>
                                    <div class="clearfix"></div>
                                    <div class="container product-inner">
                                        <div class="content">
                                            <div ng-include src="template_folder" onload="contentLoaded()"></div>
                                        </div>
                                    </div>        
                                    <button ng-show="createQuesButtonEnable" ng-click="addQuestions()" class="btn btn-primary">Add Question</button>
                                </div>

                            </div>
                            <!--/*//////structure modified for all pages*/--> 
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
            <!-- CONTENT AREA START HERE-->

        </div>
        <!--FOOTER STARTS HERE-->
        <!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>