<!-- <ngx-bootstrap-product-tour>
  <ng-template #tourStep>
    <button id="endTourBtn" class="btn btn-sm btn-error btn-clear" (click)="tourService.end()">&times;</button>
    <p class="tour-step-content">{{tourService.currentStep.content}}</p>
    <div class="tour-step-navigation d-flex align-items-center justify-content-between">
      <p class="mb-0 text-muted">{{tourService?.currentStep?.stepId}} of {{totalSteps}}</p>
      <div>
      <button *ngIf="tourService.hasPrev(tourService.currentStep)" id="prevTourBtn" class="btn btn-sm btn-default"
        (click)="clickOnPrevButton()">Prev</button>
      <button *ngIf="tourService.hasNext(tourService.currentStep)" id="nextTourBtn" class="btn btn-sm btn-default"
        (click)="clickOnNextButton()">Next</button>
      </div>
    </div>
  </ng-template>
</ngx-bootstrap-product-tour> -->
