.tour{
    &-backdrop{
        background: transparentize($color: $secondary, $amount: .76);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled='false', startColorstr='#{ie-hex-str($secondary)}', endColorstr='#{ie-hex-str($walkthrough-alpha)}');
        z-index: 101;
    }

    &-step{
        &-navigation{
            text-align: right;

            .btn{
                &:first-child:not(:last-child):not(.dropdown-toggle) {
                    @include margin-indv('right', 5px);
                }
                &-default{
                    @include bgcolor($primary);
                    @include font-color($white);
                }
            }
        }
    }
}

.popover{
    &-walkthrough{
        @include border-none(none);
        @include box-shadow(0, 0, 20px, 3px, rgba(0, 0, 0, .20));
        @include border-radius(1px);
        @include margin-indv('top', 2rem);
        min-width: 200px;

        .popover{
            &-header{
                @include bgcolor(transparent);
                @include border-none(none);
                @include font-color($primary);
            }
            
            &-body{
                @include font-color($secondary);
                @include position(relative);
                .btn{
                    &-error{
                        @extend %position-absolute;
                        @include top(-32px);
                        @include right(4px);
                        @include font-color($darker);
                        @include font-size(18);
                        @include padding(0 5px);
                        &:hover,
                        &:focus{
                            @include font-color($darkest-xxx);
                        }
                    }
                }
            }
        }

        &.bs{
           &-popover{
                &-auto[x-placement^=right],
                &-right{
                    @include margin-indv('left', 1rem);
                }

                &-left,
                &-right{
                    .arrow{
                        margin-top: -40px !important;
                    }
                }
            } 
        }
    }
}
