<div class="text-editor">
  <app-ngx-editor [placeholder]="'Enter text here...'" [config]="editorConfig" [(ngModel)]="fieldValue" [spellcheck]="true"
    (ngModelChange)="updateDataOnChange()">
  </app-ngx-editor>
  <div class="text-right pt-3">
    <button type="button" class="btn btn-cancel text-underline btn-sm mr-2" *ngIf="showCancel" (click)="onCancle();">Cancel</button>
    <button type="button" class="btn btn-primary btn-sm" *ngIf="showUpdateBtn" (click)="updateDataOnClick();">{{updateBtnText}}</button>
  </div>

</div>