<app-preloader *ngIf="!reviewListLoaded" [loaderText]="'Loading Public Review List'"
  class="w-100 position-fixed preloader-backdrop">
</app-preloader>

<ng-container *ngIf="searchTrigger===false">
  <section class="row mx-0 align-items-center justify-content-end align-btn">
    <div class="col project--filter d-flex align-items-center justify-content-end">
      <div class="mr-3 d-flex align-items-center">
        <p class="font-bold mb-0 mr-2">{{SORT_BY_LABEL}}:</p>
        <app-sort-list #sortListRef [sortingArray]="projects" [isProject]="true" [labelFor]="SORT_BY_LABEL"
          [sortOptions]="sortOptions"></app-sort-list>
      </div>

      <app-view-type (selectedViewTypeEvent)="changeView($event)"></app-view-type>
    </div>

  </section>
  <ng-container *ngIf="viewType === 'cardview';then card_view else list_view"></ng-container>

  <ng-template #list_view>
    <app-data-table *ngIf="reviewListLoaded" class="w-100" [showMenu]="false" [tableCategory]="'public review'"
      [columnList]="listOfColumn" [dataSet]="projects" [defaultSortBy]="listOfColumn[2]" [searchText]="searchingText"
      (linkClicked)="onProjectSelected($event)"></app-data-table>
    <!--[optionList]="optionList"-->
  </ng-template>

  <ng-template #card_view>
    <div class="row mt-3 mx-0" role="grid">
      <ng-container
        *ngFor="let project of projects | customFilter: getColumnFilterObj() |slice:startIndex:lastIndex;let i = index">
        <div class="col-md-6 col-lg-4 col-xl-4 card-tile" role="row">
          <div class="card" id="card-{{i}}" role="gridcell">
            <div class="card-body">

              <p class="card-subtitle text-truncate" *ngIf="project.review_status && project.review_status === 1">
                Status: Review not yet started</p>
              <p class="card-subtitle text-truncate" *ngIf="project.review_status && project.review_status === 2">
                Status: Review in progress</p>
              <p class="card-subtitle text-truncate" *ngIf="project.review_status && project.review_status === 3">
                Status: Completed & submitted the review
              </p>

              <h2 class="card-title font-bold">

                <a href="javascript:void(0);" target="_self" (click)="onProjectSelected(project)"
                  *ngIf="project.is_clickable" (focus)="onFocus($event,i)"
                  (blur)="onBlur($event,i)">{{project.taxonomy_name}}</a>
                <a href="javascript:void(0);" target="_self" *ngIf="!project.is_clickable" (focus)="onFocus($event,i)"
                  (blur)="onBlur($event,i)">{{project.taxonomy_name}}</a>
              </h2>
              <p class="mb-0 text-truncate">Active since: {{ changeDateToLocalTimeZone(project.created_at)|amCalendar:{sameDay:'[Today
                at] h:mm A'} }}</p>
            </div>
          </div>
          <section *ngIf="projects.length == 0 && searchText === false"
            class="alert alert-error alert-dismissible fade show" role="alertdialog" aria-labelledby="dialog1Title">
            <ul class="list-inline align-items-center">
              <li class="list-inline-item">
                <em class="icon-ico-standard"></em>
              </li>
              <li id="dialog1Title" class="list-inline-item font-bold">No Record Found.</li>
              <li class="list-inline-item">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onClose()"
                  tabindex="0">
                  <span aria-hidden="true">X</span>
                </button>
              </li>
            </ul>
          </section>
          <!-- end of col 4 -->
        </div>


        <!-- end of project display section -->
      </ng-container>
    </div>
    <app-pagination *ngIf="filterData && filterData.length > minItemPerPage" [dataLength]="filterData.length"
      (displayItemRangeEvent)="showDataInRange($event)"></app-pagination>
  </ng-template>
</ng-container>

<!-- Add Role Modal Starts -->
<app-project-request-modal [projects]="projects"></app-project-request-modal>
<!-- Add Role Modal Ends -->
<app-search-listing *ngIf="searchTrigger" [searchResult]="searchResult"></app-search-listing>
