@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=PT+Sans|Noto+Serif);
@import url(font-awesome.min.css);

body{font-family: 'PT Sans', sans-serif; line-height: 24px; font-size:16px}
.container{ max-width:1024px}
/*-------------------------- Title style--------------------------*/
h1, h2, h3, h4, h5, h6{font-family: 'Noto Serif', serif;}
h1{font-size:48px; color:#0f6bc7;  font-weight:700}
h2{font-size:36px; color:#0f6bc7; font-weight:300; }
h3{font-size:36px; color:#0f6bc7; font-weight:700;text-transform:uppercase; }
h4{font-size:30px; color:#0f6bc7; font-weight:300}
h5{font-size:24px; color:#0f6bc7; }
h6{font-size:18px; color:#0f6bc7; font-weight:700;}
.figure .label {
    color: inherit;
    padding: 0;
    font-size: 100%;
    /* color: #444; */
}.figure img {
    border: 5px solid #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
}
figcaption h1.title{
    font-size: 15px;
    color: #444;
    font-weight: normal;
    margin-top: 11px;}
figcaption .number {
font-weight:bold
}
figure{
	text-align:center
}
figcaption {
    text-align: left;
    font-size: 14px;
}
	
iframe, embed, img{max-width:100%}
img{max-width:100%; height:auto}
.source {
    font-style: italic;
    font-size: 12px;
    color: #666;
    border-top: 1px solid #ddd;
    background-color: #f6f6f6;
    padding: 0 3px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding:20px
}
/*-------------------------- /Title style--------------------------*/

/*--------------------------Unordered list--------------------------*/
.objectiveset ul{margin:20px 0; padding:0; list-style-type: none;}
.objectiveset li{background-color:#fafafa; margin:6px 0; border:none; border-radius:4px; display:list-item; font-size:14px; font-weight:normal; position:relative; padding:10px 55px; background-image:url(../images/right_arrow.png); background-repeat:no-repeat; background-position: 20px 14px;}
.objectiveblock{    
    border-left: 10px solid #0f6bc7;
    padding: 5px 15px;
    background-color: #f6f6f6;
    border-top: 1px solid #ddd;
}
.objectiveblock ul{margin:20px 0; padding:0; list-style-type: none;}
.objectivesetblock li{background-color:#fafafa; margin:6px 0; border:none; border-radius:4px; display:list-item; font-size:14px; font-weight:normal; position:relative; padding:10px 55px; background-image:url(../images/right_arrow.png); background-repeat:no-repeat; background-position: 20px 14px;}



blockquote.alignright, blockquote.alignleft {
    display: inline;
    font-size: 28px;
    font-size: 2.8rem;
    max-width: 280px;
    padding: 0;
	color: #999;
    font-size: 35px;
    font-size: 3.5rem;
    font-style: italic;
    line-height: 1.3;
    margin: 0 auto 60px;
    padding: 15px 20px 0;
    position: relative;
    text-align: center;
	font-family: 'Noto Serif', serif;
	background:none;
	font-style:italic;
	border:0
}
blockquote.alignright:before, blockquote.alignleft:before {
    content: "\f10d";
    color: #999;
    display: block;
    font-size: 32px;
    font-size: 3.2rem;
    margin: 0 0 10px;
    padding: 0;
	position:relative
}
blockquote:before, blockquote:after {
    content: "";
    font-family: 'FontAwesome';
}
blockquote.alignright {
    float: right;
    margin: 0 0 1.5em 1.5em;
}
blockquote.alignleft {
    float: left;
    margin: 0 1.5em 1.5em 0;
}
aside.boxleft{
  float:left;
  margin: 0 1.5em 1.5em -5em;
  display:inline;
  max-width:300px;
  border-right:4px solid #eee;
  text-align:right
}
aside.boxright{
  float:right;
  margin: 0  -5em 1.5em 1.5em;
  display:inline;
  max-width:300px;
  border-left:4px solid #eee;
}
aside.boxright, aside.boxleft{
	padding:10px;
	font-size:20px;
	font-family: 'Noto Serif', serif;
	font-style:italic
}
aside.boxright h3, aside.boxleft h3{
	font-size:22px;
	margin:0 0 10px 0;
}
aside.boxblue{
    color: #31708f;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
	padding:12px;
}
aside.boxyellow{
	color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
	padding:12px;
}
aside.boxyellow h1,aside.boxyellow h2, aside.boxyellow h3, aside.boxyellow h4, aside.boxyellow h5{
	color: #8a6d3b;
}
@media only screen and (max-width: 980px){
aside.boxright, aside.boxleft{
	margin:1.5em;
	border-top:4px solid #eee;
	border-left:0;
	border-right:0;
	text-align:center;
	width:100%;
	max-width:none;
}
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
table {
  background: transparent;
  border-style: solid;
  border-width: 2px 1px 2px;
  border-color: #d12a10;
  padding: 0em;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 1.5em !important;
  margin-left: 0em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 0.89474em ;
  line-height: 1.67647 ;
  margin-top: 0em ;
  margin-bottom: 0em ;
 /*font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ---------------CHANGE*/
  width: 100%;
  border-collapse: collapse;
}
table thead {
  border-bottom: 1px solid #d12a10;
}
table th {
  background: #f6f6f6;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  padding: 0.75em;
  margin: 0em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  vertical-align: top;
  text-align: left;
  color: #555;
  font-style: normal;
  font-weight: 600;}
table td {
  background: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  padding: 0.75em;
  margin: 0em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  vertical-align: top;
  text-align: left;
}
table tfoot td {
  background: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #d12a10;
  padding: 0.75em;
  margin: 0em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #585858;
  font-style: italic;
  font-weight: 400;
  text-align: left;
}
.table .source{
	background:#F6F6F6;
	padding:3px 10px;
	font-size:13px;
}


/*--------------------------blockquote style---------------------------*/

blockquote{border:none;  background:#fafafa; border:1px solid #e8e7e7; padding:20px 50px; position:relative;}
blockquote p{font-size:14px;}
blockquote span{font-size:48px !important; color:#679900;}
blockquote:before{position:absolute;     font-family: 'FontAwesome'; color:#ddd; font-size:20px;
 left:9px; top:4px;     content: "\f10d";
}

/*--------------------------/blockquote style---------------------------*/
audio {
  width: 100%;
  margin-bottom: 1.5em;
}

iframe,
object {
  width: 100%;
  margin-bottom: 1.5em;
}

video {
  width: 100%;
  margin-bottom: 1.5em;
}
.label{
	color:inherit
}
.dataset,
.multiplevideo {
    display: table;
    cursor: pointer;
    margin-top: 5px;
    /* height: 459px; */
    
    position: relative;
    /* width: 100%; */
    
    overflow: hidden;
    line-height: 0px;
}
.dataset img,
.multiplevideo img {
    /*position: absolute !important;*/
    
    cursor: pointer;
}
.modal {
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    min-width: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    display: none
}
.modal-content {
    background-color: rgb(254, 254, 254);
    margin: auto;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 260px;
    height: 438px;
    position: relative;
    top: 8%;
    border-radius: 4px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .3);
    line-height: 18px;
}
.modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    padding: 2px 8px;
    background: transparent;
    font-family: sans-serif;
    box-shadow: none;
}
.modal-cover {
    font-family: Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #eee;
    height: 35px;
    line-height: 30px;
}
.modal-body {
    height: calc(100% - 40px);
    overflow: auto;
    padding: 10px 0 0 0;
}
.modal-body:after {
    clear: both;
    float: none;
}
li.labelDatasetClass {
    font-size: 16px;
    padding: 5px 0;
}
li.labelDatasetClass a {
    font-weight: normal;
}
.lm_multi_vd {
    width: 80%;
    max-width: 1000px;
    min-width: 260px;
}
.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.lm_col_left {
    width: 28%;
    float: left;
    padding: 0;
    margin: 0;
    margin-right: 2%;
    text-align: left;
}
.lm_col_right {
    float: left;
    width: 70%;
}
.vidUl {
    height: 100%;
    overflow: auto;
}
.vidUl li {
    font-size: 16px;
    padding: 1px;
}
.vidUl li a {
    padding: 5px 3px;
    display: block;
    font-weight: normal;
}
.vidUl li a.active {
    background: #eee;
    color: #563d7c;
    border-left: 2px solid #563d7c;
}
@media (max-width: 992px) {
    .lm_multi_vd .modal-body {
        overflow: hidden;
    }
    .lm_col_left,
    .lm_col_right {
        float: none;
        width: 100%;
    }
    .lm_col_left {
        height: 100px;
    }
}
.modalFigCaption {
    position: relative;
    height: 65px;
    width: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    bottom: 0px;
    left: 0%;
}
.contentResizer {
    width: 84%;
    top: 2%;
    height:84%;
}
.hideOverflow {
    overflow: hidden;
}
.cke_widget_drag_handler_container{
    display:none !important;
}
.toc{
    z-index:9999;
}