<div class="modal fade" [ngClass]="{'modal--big': (modalSize==='big'), 'modal--small': (modalSize==='small')}"
  (keydown)="onModalKeydown($event);" (mouseleave)="onMouseLeave($event)" data-keyboard="false" id="{{modalId}}"
  tabindex="-1" role="dialog" attr.aria-labelledby="modalTitle{{modalId}}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <!-- Modal header section starts -->
      <section class="modal-header pr-0" id="modal-header-{{modalId}}">
        <div class="row w-100">
          <div class="col-6">
            <h2 class="modal-title font-regular" id="modalTitle{{modalId}}">
              <ng-content select="modal-div.title-text" id="{{modalId}}title"></ng-content>
              <!-- header title text will come between this ng-content -->
            </h2>

          </div>
          <div class="col-6 pr-0 d-flex align-items-center justify-content-end">
            <ng-content select="modal-div.modal-action"></ng-content>

            <button *ngIf="modalSize==='big'" class="btn btn-icon tooltip bottom sm font-2x p-0 mr-2" id="helpBtn"
              [attr.aria-label]="'Help'" data-tooltip="Help" aria-haspopup="true" (click)="onHelpClick()">
              <em class="fas fa-question position-relative" aria-hidden="true"></em>
            </button>

            <button type="button" class="btn btn-icon" tabindex="0" aria-label="'close modal'" data-dismiss="modal" id="{{'close'+modalId}}"
              (click)="onCancel($event)">
              <em class="fas fa-times" aria-hidden="true"></em>
            </button>
          </div>
        </div>

      </section>
      <!-- Modal header section ends -->

      <!-- Modal body section starts -->
      <div class="modal-body" id="{{'modal-body-'+modalId}}">
        <ng-content select="modal-div.body-content"></ng-content>
        <!-- body content will come between this ng-content -->
      </div>
      <!-- Modal body section ends -->

      <!-- Modal footer section starts -->
      <div class="modal-footer" *ngIf="showFooter">
        <button type="button" *ngIf="showCancelBtn" class="btn btn-cancel text-underline" id="{{'cancel-modal-btn-'+modalId}}" data-dismiss="modal"
          id="{{'cancel-modal-btn-'+modalId}}" (click)="onCancel($event)">Cancel</button>
        <button *ngIf="showDoneBtn" class="btn btn-primary btn-lg float-right" id="{{'done-modal-btn-'+modalId}}" type="button" (click)="onCancel($event);"
          data-dismiss="modal" aria-label="Close">Done</button>
        <ng-content select="modal-div.footer-buttons"></ng-content>
        <!-- footer buttons will come between this ng-content -->
      </div>
      <!-- Modal footer section ends -->

    </div>
  </div>
</div>
