@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.modal{
    &-title{
        @include font-color($primary);
        line-height: 32px;
        &--secondary{
            @include font-size(18);
        }
    }
    
    &--big{
       
        .modal{
            &-dialog{
                @extend .full-max-width;
                @extend .full-height;
                @include margin-all(0);
            }

            &-content{
                @extend .full-height;
                @include border-radius(1px);
                @include border-none(none);
            }

            &-header{
                @include border-none(none);
                @include z-index(1);
                @include padding-indv('top', 15px);

                .close{
                    @include margin-indv('left', 0);
                    @include font-size(20);
                }
            }

            &-body{
                
                @extend .full-max-height;
                overflow-y: auto;
                overflow-x: hidden;
                padding-top: 0;
                .taxonomies-creation{
                    h3{
                        @include font-size(20);
                    } 
                }
                               
            }

            &-footer{
                @include border-none(none);
                @include padding-indv('right', 0);
                @include margin-all(auto);
                width: 29.5%;
            }
        }

        .form-text{
            &__upload{
                @extend %position-relative;
                @include bottom(-72px);
            }
        }
    }

    &--small{
        background-color: transparentize($color: $secondary, $amount: .3);
        
        .modal{
            &-header{
                @include border-none(none);
                @include padding-indv('bottom', 0);
            }

            &-body{
                min-height: 250px;
            }

            &-dialog{
                max-width: 50%;

                @include media( "screen", "<maxXxlarge"){
                    max-width: 90% ;
                }
            }

            &-lg{
                .modal{
                    &-content{
                        @include bgcolor($white);
                    }
                }
            }
            
        }
           
        .options{
            button{
                @include font-size(12);
            }
        }        
    }

    &-sm{
        @media (min-width: 576px){
            max-width: 500px;
        }
    }
    &-header{
        .btn-icon{
            .fa-question{
                @include top(-2px);
            }
        }
    }
    &-open{
        .modal{
            @include padding-indv('right', 0);
        }
    }

    &-fixed{
        &-content{
            max-width: 570px;
        }
    }

    &-lg{
        .modal{
            &-content{
                @include border-none(none);
                background-color: transparent;
            }
        }
    }

    &-backdrop{
        @include bgcolor($secondary);
    }
    &-subheading{
        @include border-indv('bottom', 2px, solid, $lighter);
        @include padding-indv('bottom', 5px);
        @include margin-indv('bottom', 20px);
    }
    &-steps{
        @include font-size(12);
        @include font-color($darkest);
    }
} 
