@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.report{    
    &-data{
        .title{
            @include font-size(18);
            line-height: 1.5rem;
        }

        .list{
            &-group{
                &-flush{
                    @include margin-indv('top', 10px);
                }

                &-item{
                    @include display(list-item);
                    @include padding(8px 0);
                    @include padding-indv('right', 80px);
                    @include border-indv('top', 1px, solid,  $light);
                    list-style-position: inside;
                    strong{
                        @include margin-indv('left', 6px);
                    }
                    
                    &:first-child{
                        @include border-indv("top", 0, solid, $light);
                    }

                    &:hover,
                    &:focus{
                        @include border-indv('bottom', 1px, solid,  $light)
                    }

                    .issue{
                        &-no{
                            @include padding-indv('right', 10px);
                            @include display(inline-block);
                           &:after{
                               content: ".";
                           }
                        }

                        &-counter{
                            @include float(right);
                            @include right(0);
                            @include top(8px);
                            max-width: 80px;
                        }
                    }
                }
            }
        }
    }
}
