@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.permissions {
    &-options {
        @include margin-indv('left', 15px);
        @include padding(10px);
    }

    &-for {
        @include border-all(1px, solid, $lighter);

        &--header {
            @include bgcolor($lightest);
            overflow: hidden;
            
            .h3 {
                @include font-color($darkest);
                letter-spacing: .12rem;
            }
        }
    }
}
