<div class="permissions-for pb-4">
  <ul class="list-inline permissions-for--header border-bottom mb-0 p-2">
    <li class="list-inline-item float-left">
      <h3 class="h3 font-2x">{{itemName}}</h3>
    </li>

    <li class="list-inline-item custom-control custom-checkbox float-right">
      <input type="checkbox" class="custom-control-input" id="{{'customCheck'+itemLowCaseName}}" [(ngModel)]="selectAll" (click)="onSelectAllPermission($event)">
      <label class="custom-control-label" id="{{'selectAllLabel'+itemLowCaseName}}" for="{{'customCheck'+itemLowCaseName}}">Select All </label>
    </li>
  </ul>

  <div class="permissions-options row col-lg-12 col-sm-12">
    <div class="custom-control custom-checkbox col-lg-3 col-sm-4 my-2" *ngFor="let d of itemPermissions;let i=index">
      <input type="checkbox" [(ngModel)]="d.checked" class="custom-control-input" id="{{itemLowCaseName+i}}" (click)="onSinglePermissionSelect($event,d,i)">
      <label class="custom-control-label font-2x font-bold" id="{{itemLowCaseName+'Label'+i}}" for="{{itemLowCaseName+i}}" *ngIf="d && d.display_name">{{ getDisplayPermissionName(d.display_name)
        }}
      </label>
    </div>

  </div>
</div>