.pull-middle{ overflow:hidden;}
img{ max-width:100%; height:auto;}
body{color:#666666;}
.sub-title {    background: #f6f6f6;    border-bottom: 1px solid #eee;    padding: 7px 15px; }
.image-layout .btn{ padding:0 8px;}
.img-lay-text{ padding-right:10px;}
.image-layout [class*="col-"] { padding:0;}
.img-lay-text label{ padding-top:1px; margin:0; font-size:12px;}
.inner-modal-content {    background-color: #fff;}
.image-layout .btn-default.active{ background-color:#880e4f; border-color:#880e4f; color:#fff;}
.FC-carasual{ background:#fafafa; border-bottom:1px solid #e6e6e6;}
.FC-add{ padding:20px;}
.FC-add .fa{ font-size:20px;}
.FC-carasual-container{    overflow: auto; border-right: 1px solid #e6e6e6; padding:14px;}
.FC-block{ border:1px solid rgba(0,0,0,0.2); border-radius:3px; height:48px; cursor:pointer; float:left; margin-right:5px;     overflow: hidden;}
.FC-block.active{border:1px solid #880e4f;}
.FC-name{ background-color:#efefef; height:100%;  width:21px;}
.FC-name span{ font-weight:bold; font-size:13px;      padding: 3px 7px;    display: block;}
.FC-name span>.fa{ font-size:10px;}
.FC-num{ background-color:#fff;     height: 100%;    padding: 4px;}
.FC-no{ padding:10px; float:left; height:100%; background-color:#bcbcbc; margin-right:5px;}
.last{ margin:0;}
/*.FC-carasual-slider{width:5000px; height:48px;}*/
.terms-drop-area{ border:1px solid #ddd; height:215px; width:100%; position:relative;}
.terms-text{ font-size: 14px;    font-weight: bold;    width: 111px;    display: block;    height: 20px; position:absolute; left:50%; top:50%; margin-left:-55px;  margin-top:-10px;}
.FC-container-block .form-control{ border-radius:0; box-shadow:none;}
.FC-container-block .terms-drop-area{ height:234px;}
.Slideline-Front-View img{ border:9px solid #eaeaea;}
.Slideline-Front-View figure figcaption{ padding:10px 15px; font-size:12px; font-style:italic; color:#000; border:1px solid #efefef;}
.Slideline-Front-View figure figcaption span{ color:#666666;}
.Slideline-Front-View figure img{ width:100%;}
.Slideline-Front-View blockquote {    border-left: 5px solid #880e4f; margin:0; border-right:1px solid #efefef;}
.Slideline-Front-View blockquote p{ font-style:italic; font-size:16px;}
.Slideline-Front-View blockquote h2{ font-size:28px; font-weight:bold; text-transform:uppercase; color:#333333;}

.Slideline-Front-container>figcaption{ padding:10px 15px; font-size:12px; font-style:italic; color:#000; border:1px solid #efefef;}
.Slideline-Front-container>figcaption span{ color:#880e4f;}
.Slideline-pagination { text-align:center; padding:20px;}
.page-bulet{ height:25px; width:25px; border:1px solid #cccccc; background-color:#fff; border-radius:50%; display:inline-block; position:relative; margin:8px;}
.page-bulet:after{  height:17px; width:17px; border:5px solid #cccccc; background-color:#cccccc; border-radius:50%; display:inline-block; position:absolute; left:50%; top:50%; margin-left:-8.5px; margin-top:-8.5px; content:""; }

.page-bulet.active{ height:25px; width:25px; border:1px solid #880e4f; background-color:#880e4f; border-radius:50%; display:inline-block; position:relative; margin:8px;}
.page-bulet.active:after{  height:17px; width:17px; border:5px solid #FFF; background-color:#880e4f; border-radius:50%; display:inline-block; position:absolute; left:50%; top:50%; margin-left:-8.5px; margin-top:-8.5px; content:""; }
.select-btn{     position: relative;
                 z-index: 12;
                 margin-right: 0;
                 margin-top: 6px;}
.image-slide-container .slide-col .image-row img.show-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    max-width: 120%;
    min-height:100%;
}
.cursor-pointer {
    cursor: pointer;
}
img.loaded-image {
    width: 100%;
    height: 200px;
    text-align: center;
}
.ui-sortable{width: 100%;
             overflow-x: auto;
             white-space: nowrap;
             font-size: 0;
             padding-bottom:10px;
             height:78px;}

.FC-block{
    display: inline-block;
    float:none;
}
.ui-sortable::-webkit-scrollbar {width: 6px;}
.ui-sortable::-moz-scrollbar {width: 6px;}
.ui-sortable::-ms-scrollbar {width: 6px;}
.ui-sortable::-o-scrollbar {width: 6px;}
.ui-sortable::-webkit-scrollbar-track {/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/}
.ui-sortable::-moz-scrollbar-track {/*-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/}
.ui-sortable::-ms-scrollbar-track {/*-ms-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/}
.ui-sortable::-o-scrollbar-track {/*-0-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/}
.ui-sortable::-webkit-scrollbar-thumb {background-color: rgba(0,0,0,0.3);outline: none;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.ui-sortable::-moz-scrollbar-thumb {background-color: rgba(0,0,0,0.3);outline: none;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.ui-sortable::-ms-scrollbar-thumb {background-color: rgba(0,0,0,0.3);outline: none;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.ui-sortable::-o-scrollbar-thumb {background-color: rgba(0,0,0,0.3);outline: none;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}

.select-image.selected {
    border: 1px solid red !important;
}


.modal-body{ position: relative;     padding-bottom: 78px;}
.md-footer {
    padding: 15px 0;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin: 0 -15px;
}
/*=============image-slide==============*/
.image-slide-container{
    position: absolute;
    width: 100%;
    display: none;
    z-index: 10;
    height:100%;
    margin:-15px -15px 0px -15px;
    background:rgba(0,0,0,0.5);
}
.image-slide-container .slide-col{     width: 100%;
                                       margin-left: 0;
                                       padding: 10px 20px;
                                       background-color: #fff;
                                       height: 220px;
                                       position: absolute;
                                       top: 50%;
                                       margin-top: -102px;}
.image-slide-container .slide-col .image-row.active, .image-slide-container .slide-col .image-row:hover,
.image-slide-container .slide-col .image-row:hover {
    box-shadow: 0 0px 15px rgba(0,0,0,0.2);
}
.image-slide-container .slide-col .image-row{ width:18%; float:left; margin:0 1%; background:#FFF; border:1px solid #DBDBDB; padding:5px; height:160px; box-shadow:0 0 3px rgba(0, 0, 0, 0.2); position:relative;}
.image-slide-container .slide-col .image-row .img{ height:100px; overflow:hidden; position:relative; z-index:2;}
.image-slide-container .slide-col .image-row img.show-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    max-width: 120%;
    min-height:100%;
}
.image-slide-container .slide-col .image-row .title{ font-size:13px; text-align:center; padding:10px 0 0 0;}

.next,.prev{ display:block; position:absolute; width:22px; height:40px; top:68px; z-index: 11;}
.next{ right:18px; background:url(../img/next.png) no-repeat 3px 3px rgba(255, 255, 255, 0.4); border-radius:20px 0px 0 20px; }
.prev{ left:18px; background:url(../img/prev.png) no-repeat -2px 3px rgba(255, 255, 255, 0.4); border-radius:0px 20px 20px 0px; }
.next:hover,.prev:hover{ opacity:0.7;}
.images-select{ width:100%; height:100%; position:absolute; top:0; left:0; margin-left:0; z-index:10;}
/*.sel-btnf1{    position: absolute;
    top: 0px;
    left: 0px;}*/
/*	.sel-btnb1{    position: absolute;
    top: 0px;
    left: 0px;}*/
.panel-del{    color: #fff;
               opacity: 1;}
.FC-block .panel-del{    color: #999;
                         opacity: 1;}
/*--checkbox--*/




/*Adding custom checkbox icons*/
.image-slide-container .slide-col .image-row .images-select label {
    position: relative;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding:0; margin:0;
    max-width: 17px;
    max-height: 14px;
    top: 50px;
    left:50%;
    margin-left:-10px;
    background:#fff;
}
.image-slide-container .slide-col .image-row .images-select label:before, label:after {
    font-family: FontAwesome;
    font-size: 21px;
    /*absolutely positioned*/
    position: absolute;

    width:20px; height:20px;

    top:-6px;

}
.image-slide-container .slide-col .image-row .images-select label:before {
    content: '\f096'; /*unchecked*/
}
.image-slide-container .slide-col .image-row .images-select label:after {
    content: '\f046'; /*checked*/
    /*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
    /*CSS3 transitions for animated effect*/
    transition: all 0.35s;
    display: none;

}
.image-slide-container .slide-col .image-row .image-slide-container .slide-col .selected{opacity: 0.5;}

/*hiding the original checkboxes*/
.image-slide-container .slide-col .image-row .images-select input[type="checkbox"] {
    display: none;
}
/*when the user checks the checkbox the checked icon will animate in*/
.image-slide-container .slide-col .image-row .images-select input[type="checkbox"]:checked + label:after {
    max-width: 20px; /*an arbitratry number more than the icon's width*/
    opacity: 1; /*for fade in effect*/
}

/*adding some colors for fun*/
.image-slide-container .slide-col .image-row .images-select label:before, label:after {color: hsl(120, 45%, 40%);}
.image-slide-container .slide-col .selected .images-select label:after{ display: block !important;}
#loaded-image{
    display: none;
}

/*Adding custom checkbox icons*/
.images-select label {
    position: relative;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding:0; margin:0;
    max-width: 17px;
    max-height: 14px;
    top: 50px;
    left:50%;
    margin-left:-10px;
    background:#fff;
}
.images-select label:before, label:after {
    font-family: FontAwesome;
    font-size: 21px;
    /*absolutely positioned*/
    position: absolute;

    width:20px; height:20px;

    top:-6px;

}
.images-select label:before {
    content: '\f096'; /*unchecked*/
}
.images-select label:after {
    content: '\f046'; /*checked*/
    /*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
    /*CSS3 transitions for animated effect*/
    transition: all 0.35s;
}

/*hiding the original checkboxes*/
.images-select input[type="checkbox"] {
    display: none;
}
/*when the user checks the checkbox the checked icon will animate in*/
.images-select input[type="checkbox"]:checked + label:after {
    max-width: 20px; /*an arbitratry number more than the icon's width*/
    opacity: 1; /*for fade in effect*/
}

/*adding some colors for fun*/
.images-select label:before, label:after {color: hsl(120, 45%, 40%);}
.panel-del{ background:rgba(0, 0, 0, 0.5);}

.disable-anchor {
    cursor: default;
    text-decoration: none;
    opacity: 0.3;
}

.disable-anchor:hover {
    opacity: 0.3;
}



.img-sel-wrap .panel-del{    
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0.8);
    outline:none;
}
.img-sel-wrap .panel-del:hover, .img-sel-wrap .panel-del:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;}


button.close1 {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
    color: #fff;
    opacity: 1;
}

