@charset "utf-8";
/* CSS Document */
body{
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:16px;
	color:#000;
}
img{
	padding:0;
	margin:0;
}
.clear{
	clear:both;
}
/*==================main==================*/
.container{
	width:600px;
	margin:0 auto;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
	position:relative;
	}
/*-------slide-content--------*/
.slider-content{
	position: absolute;
	width: 100%;
	height: 100%;
	}
.slider-content .slide{
	height:70%;
	position:relative;
	z-index:3;
	}
.slider-content .slider-col{
    position:absolute;
    width:200px;
    display:block;
    float:left;
    height:200px;
    top:0px !important;
    cursor:move;
	 z-index:-1;
}
.slider-content .slider-col-left {
     left: 0px;
     opacity: 1;
     z-index: 1;
     margin: 27px 0px 0px;
}
.slider-content .slider-col-right {
     left: inherit !important;
     right: 0px !important;
     z-index: 1;
     opacity: 1;
     margin: 27px 0px 0px;
     right: 0px;
}

.slider-content .slider-col-center {
    visibility: visible;
    width: 250px;
    height: 250px;
    top: 0px;
    left: 50%;
    z-index: 999;
    opacity: 1;
    margin: 0px 0px 0px -114px;
    perspective: 1200px;
}
.faces {
    z-index: 1;
    left: inherit;
}
.slider-content .slider-col.left-pos {
    left: 50%;
}
.display-none {
    display: none !important;
}
.slider-content .slider-col-active{
	width: 250px;
	height: 250px;
	margin: 0px 0px 0 -114px;
	top: 0px;
	left: 50%;
	z-index:4;
	cursor:default;
	visibility: inherit !important;
	opacity:1;
	}
.slider-content .slider-col .col{
	height:100%;
	position:relative;
	}
.slider-content .slider-col .desc{
	height:100%;
	width:100%;
	display: table;
	}
.block-content{
	background:#fff;
	line-height:0px;
	width: 100%;
	height: 100%;
	display:table;
	}
.slider-content .slider-col .desc .scroll{
	display:table;
	}
.slider-content .slider-col .img-content{
    background: #fff;
    line-height: 0px;
    width:184px;
    position: absolute;
    height:184px;
    overflow:hidden;
}
.slider-content .slider-col-center .img-content{
    width: 230px;
    height:230px;
}
.slider-content .slider-col .desc .front{
    height: 92%;
    width: 92%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    position: absolute;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    border:10px solid #ccc;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}
.slider-content .slider-col .desc .back{
    height: 92%;
    width: 92%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    position: absolute;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    border:10px solid #ccc;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}
.slider-content .slider-col .desc h3{
	padding:0;
	margin:0;
	color:#333;
	line-height:40px;
	text-align:center;
	display: table-cell;
	vertical-align: middle;
	font-size:15px;
	}
.slider-content .slider-col .desc p{
	padding:0;
	margin:0;
	color:#333;
	line-height:22px;
	text-align:center;
	display: table-cell;
	vertical-align: middle;
	font-size:14px;
	}
.slider-content .slider-col .desc .front img.fill {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    max-width: 120%;
    min-height:100%;
}
.slider-content .slider-col .desc img.fit-height {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    max-height:100%;
}
.slider-content .slider-col .desc img.fit-width {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    max-width:100%;
}

/*------slide-nav---------*/
.slide-nav{
	position:relative;
	top:270px;
	z-index:1;
	width:100%;
	}
.slide-nav .next,.prev{
	display:block;
	position:absolute;
	width:21px;
	height:34px;
	}
.slide-nav .next{
	right:15px;
	background:url(../img/next.png) no-repeat;
	}
.slide-nav .prev{
	left:15px;
	background:url(../img/prev.png) no-repeat;
	}
.slide-nav .next:hover,.prev:hover{
	opacity:0.7;
	}

/*------slide-count---------*/
.slide-count{
	height:32px;
	position:relative;
	top:270px;
	background:#E9E9E9;
	}
.slide-count p{
	padding:0px;
	margin:0px;
	text-align:center;
	font-size:18px;
	line-height:30px;
	}
.slide-count p span{
	font-weight:bold;
	padding:0 12px;
	}
.frontFace{
    z-index: 1;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
}
.frontFaceRotate{
    z-index: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}
.backFace{
    z-index: 0;
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
}
.backFaceRotate{
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 1;
}
.slider-col-active .flip-front{
	display:block;
	width:25px;
	height:25px;
	background:url(../img/flip-front.png) center rgba(176, 175, 175, 0.6) no-repeat;
	position:absolute;
	bottom:0px;
	right:0px;
	z-index:10;
	cursor:pointer;
	}
.slider-col-active .flip-back{
	display:block;
	width:25px;
	height:25px;
	background:url(../img/flip-back.png) center rgba(176, 175, 175, 0.6) no-repeat;
	position:absolute;
	bottom:0px;
	right:0px;
	z-index:10;
	cursor:pointer;
	}
.slider-col-active .desc .scroll .flip-back{
	position:fixed;
	bottom:0px;
	right:0px;
	}
.slider-col-active .desc .scroll p{
    padding-right: 10px;
    display: table-cell;
    }
.slider-col-active .desc .scroll ul{
    clear: both;
	}

.img-content .flip-front{
	bottom:0px;
	right:0px;
	}
.ui-page-active{
    outline: none;
    border: none;
}
.disablePrev,.disableNext{
    pointer-events: none;
}

.scroll {
	width:100%;
	height:100%;
	overflow-y:scroll;
	float:left;
	line-height: 22px;
	}
.scroll::-webkit-scrollbar {
	width: 10px;
	}
.scroll::-moz-scrollbar {
	width: 10px;
	}
.scroll::-ms-scrollbar {
	width: 10px;
	}
.scroll::-o-scrollbar {
	width: 10px;
	}
.scroll::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.3);
	outline: none;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	}
.scroll::-moz-scrollbar-thumb {
	background-color: rgba(0,0,0,0.3);
	outline: none;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}
.scroll::-ms-scrollbar-thumb {
	background-color: rgba(0,0,0,0.3);
	outline: none;
	-ms-border-radius: 10px;
	border-radius: 10px;
	}
.scroll::-o-scrollbar-thumb {
	background-color: rgba(0,0,0,0.3);
	outline: none;
	-o-border-radius: 10px;
	border-radius: 10px;
	}
.backFaceRotate .img-content .flip-back, .flip-front{
	right:0px;
	bottom:0px;
	}

@media screen and (max-width: 1024px) {
	.container{
		width:90%;
	}
	.slide-count{
		width:100%;
	}
	.slider-content .slider-col-center {
		margin: 0px 0px 0px -122px;
	}
}
@media screen and (max-width: 680px) {
	.container{
		width:90%;
		position: absolute;
		height: 100%;
		left:5%;
	}
	.slider-content { height: 100%;}
	.slider-content .slider-col{
    	width:150px !important;
		height:150px !important;
	}
	.slider-content .slider-col-center {
		width:200px !important;
		height:200px !important;
		margin: 0px 0px 0px -99px !important;
	}
	.slider-content .slider-col .img-content {
		width: 130px;
		height: 130px;
	}
	.slider-content .slider-col-center .img-content {
		width: 100%;
		height: 100%;
	}

	.slider-content .slider-col .desc .front {
		height: 130px;
		width: 130px;
	}
	.slider-content .slider-col-center .desc .front {
		height: 180px;
		width: 180px;
	}
	.slider-content .slide {
		height: 200px;
	}
	.slider-content .slider-col .desc .scroll{
		display:block;
	}

	.slide-nav{
		position:relative;
		top:20px;
		z-index:1;
		width:100%;
	}
	.slide-count{
		height:32px;
		position:relative;
		top:20px;
		background:#E9E9E9;
		width:100%;
	}
	.slide-nav .next{
		right:10px;
	}
	.slide-nav .prev{
		right:10px;
	}
}
@media screen and (max-width: 560px) {
	.slider-content .slider-col-center {
		margin: 0px 0px 0px -99px !important;
	}
}
