.pull-middle{ overflow:hidden;}
img{ max-width:100%; height:auto;}
body{color:#666666;}
.sub-title {    background: #f6f6f6;    border-bottom: 1px solid #eee;    padding: 7px 15px;    font-size: 13px;}
.inner-modal-content {    background-color: #fff;}

.drop-block {
    background-color: #f6f8f8;
    padding: 30px 50px 40px;
    margin-bottom: 30px;
    border:1px solid rgba(0, 0, 0, 0.08);
    text-align: center;
    font-size: 14px;
    color: #666666;
}
.drop-block input{ display:none;}
.drop-block a{ display:block; font-size:42px; color:#666666;}
.drop-block .fa{cursor:pointer; }