body,
html {
    height: 100%;
}

.imgDiv {
    margin: 10px;
    width: 13% !important;
    display: inline-block;
    height: 248px;
    vertical-align: top;
    padding: 10px;
    border: 1px solid #ccc;
    position: relative;
    cursor: pointer;
	-webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
}

.chckbox {
    
    top: 89% !important;
    cursor: pointer;
    background: #dcdcf1;
    padding: 7px;
    border-radius: 14px;
   
    float: left;
}

.selected {
    border: 2px solid red;
}

img {
    max-width: 100%;
    max-height: 75%;
    /*/ height: 100%;*/
}

.contentModal {
    max-height: 474px;
    overflow: auto;
}

.images-select {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 55;
    display: block;
}

.images-select input[type=checkbox] {
    display: none;
}

.images-select .check-box {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
}

.images-select .check-box::before,
.images-select .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: 3px;
    background-color: #34b93d;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: ' ';
    -webkit-transition: opacity ease .5;
    -moz-transition: opacity ease .5;
    transition: opacity ease .5;
}

.images-select .check-box::before {
    top: 13px;
    left: 8px;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.images-select .check-box::after {
    top: 6px;
    left: 1px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.images-select .check-box.checked {
    border-color: #34b93d;
    background: #fff;
}

.images-select .check-box.checked::after {
    height: 9px;
    -moz-animation: selectbxbtm 0.2s ease 0s forwards;
    -o-animation: selectbxbtm 0.2s ease 0s forwards;
    -webkit-animation: selectbxbtm 0.2s ease 0s forwards;
    animation: selectbxbtm 0.2s ease 0s forwards;
}

.images-select .check-box.checked::before {
    height: 20px;
    -moz-animation: selectbxtop 0.4s ease 0s forwards;
    -o-animation: selectbxtop 0.4s ease 0s forwards;
    -webkit-animation: selectbxtop 0.4s ease 0s forwards;
    animation: selectbxtop 0.4s ease 0s forwards;
}

.images-select .check-box.checked {
    border-color: #34b93d;
    background: #fff;
}

.tag-name-list {
    height: 2.4em;
    width: 8em;
    display: none;
    color: black;
    border-radius: 5px;
    margin: 0px 8px 0px 0px;
    float: left;
}

.save {
    display: none;
}

.modal-header {
    background-color: #dcdcf1;
    padding: 0;
    height: 24px;
    font-size: 17px;
    font-family: sans-serif;
    color: #000;
}

.done-tagging {
    /* right: 0; */
    float: right;
    /* position: absolute; */
    margin-right: 3em;
    padding: 0.5em;
}

.content-name {
    position: absolute;
    top: 0;
    font-weight: 500;
    font-family: monospace;
    left: 0%;
    background-color: #dcdcf1;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.header-div {
    border-bottom: 1px solid #ccc;
    font-family: "Source Sans Pro";
    height: 50px;
    color: black;
}

.header-div h4 {
    display: inline-block;
    left: 30%;
    font-size: 29px;
    font-family: sans-serif;
    position: relative;
}

.header-div>img {
    margin-left: 18px;
        top: 4px;
    position: relative;
}

.bck-dashboard,.mark_all{
    float: right;
    font-size: 1.2em;
    top: 11%;
    position: relative;
    margin-right: 7px;
    font-family: sans-serif;
}

#show_img {
    overflow: auto;
    height: calc(100% - 100px);
    text-align: center;
}

.disabled {
 opacity: 0.5;
}

.displayNone {
    display: none;
}

.displayInline {
    display: inline-block;
}

footer {
    position: fixed;
    bottom: 0;
    align-items: center;
    width: 100%;
    background-color: #000;
}

.loadMore {
    padding: 13px;
    margin-left: 2.3em;
}

#loader>img {
    position: absolute;
    left: 45%;
    top: 38%;
    z-index: 999
}

#loader {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
     background-image: url(../loading.png);
    background-size: 231px;
    z-index: 99;
    background-position: center;
    background-repeat: no-repeat;
        
}

.modal-footer {
    padding: 4px;
}

.modal-content {
    top: -27px;
    border: 0;
}
.modal-body{
    line-height: 1;
}
.marked{
    background-image: url(../marked.png);
    background-repeat: no-repeat;
    background-size: 100px 33px;
    background-position: center;
}
.noRadius{
    border-radius: 0;
}