@import "abstracts/variables";
@import "abstracts/mixins";

.search{
    &-clear{
        @include right(0);
    }
}

.dropdown{
    &-toggle{
        &::after{
            @include display(none);
        }
    }

    &-menu{
        width: 20.5rem;

        &-right{
            @include right(0);
        }

        &--filter{
            @include margin-indv('left', -190px);
            @include margin-indv('top', -5px);
            width: 100%;
            min-width: 366px;
            max-width: 650px;
        }
    }

    .filters_active{
        @include border-all(1px, solid, $primary);
        &.tooltip{
            width: auto;
        }
    }
}
