<div class="d-flex">
  <div class="px-0"
    [ngClass]="(location === 'front-facing') ? 'col-10' : ((location === 'add-association') ? 'col-12' : 'col-auto')">
    <span class="search-icon position-absolute">
      <img src="assets/images/search-small.gif" class="img-fluid ic-search" alt="search" />
    </span>
    <label for="searchTaxonomies" id="searchTaxonomiesLabel" class="sr-only">Search</label>
    <input type="search" [attr.readonly]="intializeCondition ? 'readonly' : null" placeholder="Search"
      class="form-control search-inputfield" [(ngModel)]="searchText" id="searchTaxonomies"
      (keyup.enter)="emitSearchText(false)" (keyup)="checkSearchText()" autocomplete="off">
    <button *ngIf="searchText?.length !== 0" type="button" id="clearsearchBtn"
      class="btn-clear cursor-pointer position-absolute search-clear border-0" aria-label="Clear search"
      (click)="cancelSearch()">&times;</button>
  </div>

  <div *ngIf="showFilter" class="col-auto px-2" (clickOutside)="onClickOutside()">
    <div class="dropdown">
      <button [attr.disabled]="intializeCondition || !filterListObj ? 'true' : null" type="button"
        id="dropdownFilterButton" class="btn btn-icon font-2x" [attr.aria-label]="'Add filters'" aria-haspopup="true"
        aria-expanded="false" (click)="toggleFilterPanel(true)" [ngClass]="{'filters_active':filterObj.length}"
        [clickOutsideEnabled]="false">
        <em class="fas fa-sliders-h"></em>
        <span class="ml-2" *ngIf="filterObj.length">
          {{filterObj.length + (filterObj.length > 1 ? ' filters' : ' filter')}} applied
        </span>
      </button>

      <button type="btn" class="btn btn-clear text-underline ml-1" id="resetSearchFilterBtn"
        [disabled]="!isSearchApplied" (click)="resetSearchFilter()">Reset</button>
      <span *ngIf="intializeCondition" role="alert" aria-live="assertive"> Initializing data for search<img
          src="../../../assets/images/initializeLoader.gif" class="img-fluid"></span>
      <div class="dropdown-menu dropdown-menu--filter p-3" *ngIf="filterListObj" aria-labelledby="dropdownFilterButton"
        [ngClass]="{'show': openPanel}">

        <ng-container *ngFor="let key of Object.keys(filterListObj)">
          <app-multi-select-dropdown class="d-flex w-100 mb-3" #filterCriteria [label]="key"
            [viewLocation]="'tree-search'" [data]="filterListObj[key]" id="{{'-multiselect-'+key}}"
            [dropdownSettings]="dropdownSettings" [isTreeSearch]="true" (SelectEvent)="getSelectedFilters($event)">
          </app-multi-select-dropdown>
        </ng-container>

        <div class="col-12 d-flex p-0 justify-content-end mt-3">
          <button type="button" class="btn-clear border-0 mr-2 text-underline" id="resetFilterBtn"
            [disabled]="!filterObj.length" (click)="clearFilter()">Reset</button>

          <button type="button" class="btn btn-primary" id="applyFilterBtn" [disabled]="disableFilter"
            (click)="applyFilter()">Filter</button>
        </div>
      </div>
    </div>
  </div>
</div>
