<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
</table>-->





<!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <table class="table table-striped table-bordered w-100">
        <tr *cdkVirtualFor="let item of dataSource" class="example-item">

            <td> {{item.position}} </td>
            <td> {{item.name}} </td>
            <td> {{item.weight}} </td>
        </tr>
    </table>
</cdk-virtual-scroll-viewport> -->


<!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport border">

    <div *cdkVirtualFor="let item of dataSource" class="example-item border-bottom row">
        <span class="col-1 py-2">{{item.position}}</span>
        <span class="col-8 py-2">{{item.name}}</span>
        <span class="col-3 py-2">{{item.weight}}</span>
    </div>

</cdk-virtual-scroll-viewport> -->

<!-- <ngx-datatable class="material" [rows]="rows" headerHeight="50" footerHeight="50" [rowHeight]="50" [scrollbarV]="true" (page)="onPage($event)"> -->

<!-- <ngx-datatable #myTable class="material" [rows]="rows" [columns]="[{name:'name'},{name:'gender'},{name:'age'}]" [columnMode]="'force'"
    [headerHeight]="50" [loadingIndicator]="true" [scrollbarV]="true" [footerHeight]="50" [rowHeight]="50" [externalPaging]="false">
</ngx-datatable> -->

<!-- <virtual-scroller #scroll [items]="items">
    <table>
        <thead #header>
            <th>Index</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Address</th>
        </thead>
        <tbody #container>
            <tr *ngFor="let item of scroll.viewPortItems">
                <td>{{item}}</td>
                <td>{{item}}</td>

            </tr>
        </tbody>
    </table>
</virtual-scroller> -->


<!-- <virtual-scroller #scroll [items]="items">
    <div *ngFor="let item of scroll.viewPortItems">{{item}}</div>
</virtual-scroller> -->

<!-- <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div> -->