table {
  width: auto;
  overflow:scroll;
  height:auto;
  border:"1";
}
.example-viewport {
  height: 762px;
  width: 100%;
}

.example-item {
  height: auto;
}


:host {
  display: block;
  width: 100%;
  height: 100%;
  .ngx-datatable {
    height: 100vh;
  }
}

virtual-scroller {
  width: 350px;
  height: 200px;
}
 
my-custom-component {
  display: block;
  width: 100%;
  height: 30px;
}