<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        overflow: hidden;
        /*display:none;*/
    }

    .page-title .viewport{
        list-style-type: none;
        padding: 5px 5px;
        border-left: 1px solid #e5e5e5;
        float: left;
        cursor:pointer;
    }
    .page-title .viewport.active{
        border-bottom: 2px solid #800080;
    }
    .navigator{
        background-color: #f2f2f2;
        color: #3884c7;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        width: 19.6%;
        bottom: 11px;
        left: 16px;
        padding: 8px;
    }
    #backBtn{
        background-color: #f2f2f2;
        border: none; 
        float: left;
    }
    #nextBtn{
        background-color: #f2f2f2;
        border: none;
        float: right;
    }

</style>
<script type="text/javascript" src="lib/lm_frost_listner_preview.js"></script>
<div class="ajax-content" >
    <div id="project_preview" class="main_container" ng-controller="project_preview" ng-cloak ng-init="shell_options = previews[0]; change_shell_view(shell_options.id)">        
        <!--SECTION STARTS HERE-->
        <section class="wrapper">
            <div class="container product-inner" ng-show="show_view_pane == 'normal'">
                <div class="content">                
                    <div class="from-container">
                        <div class="from-container-row">
                            <div class="toc-panel-container">                                
                                <div class="live" >
                                    <div class="toc-panel-left tc-cont" style="width:100%;">                                        
                                        <div class="toccontent-container">
                                            <ol ui-nested-sortable="{
                                                listType: 'ol',
                                                items: 'li.disable',                                            
                                                doNotClear: true,
                                                placeholder: 'ui-state-highlight',
                                                forcePlaceholderSize: true,
                                                toleranceElement: '> div'
                                                }" ui-nested-sortable-stop="update($event, $ui)" class="sortable" >
                                                <li ya-tree="child in data.children at ol" ng-class="{
                                                            minimized:child.minimized
                                                        }" item="{{child}}">
                                                    <!--handle: '.drag_el',-->
                                                    <div class="toc-paginator" ng-class="tocRowHoverClass" ng-mouseenter="tocRowHoverClass = 'tocRowHover'" ng-mouseleave="tocRowHoverClass = ''"></div>
                                                    <div class="toc-outer" ng-class="tocRowHoverClass" ng-if="child.file || child.ext_res_link || child.type == 214">
                                                        <div class="lirow" ng-mouseenter="tocRowHoverClass = 'tocRowHover'" ng-mouseleave="tocRowHoverClass = ''">

                                                            <button class="toggle" ng-click="toggleMinimized(child)" ng-switch on="child.minimized" ng-if="child.children.length > 0" >
                                                                <span ng-switch-when="true" title="Expand"><span class="glyphicon glyphicon-expand"></span></span>
                                                                <span ng-switch-default title="Collapse">
                                                                    <span class="glyphicon glyphicon-collapse-down"></span>
                                                                </span>
                                                            </button>
                                                            <button class="toggle" ng-if="child.children.length < 1" ></button>     
                                                            <span ng-if="child.type == 214">
                                                                {{child.title}}
                                                            </span>

                                                            <span ng-if="child.file">
                                                                <a id="{{child.id}}" class='link-to-preview' data-link="{{child.file}}" ng-click="contentPreview(child.file, child.type)">{{child.title}}</a>
                                                            </span>

                                                            <span ng-if="child.ext_res_link">
                                                                <a id="{{child.id}}" class='link-to-preview' target="_blank" ng-click="contentPreview(child.ext_res_link+'?_ts=1480400533', child.type)">{{child.title}}</a>
                                                            </span>

                                                        </div>
                                                    </div>
                                                    <ol ng-class="{
                                                                pregnant:child.children.length
                                                            }"></ol>
                                                </li>
                                            </ol>

                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="navigator">
                                            <button type="button" id="backBtn" ng-click="prev()" ng-disabled="disableback">Back</button>
                                            <button type="button" id="nextBtn" ng-click="next()" ng-disabled="disablenext">Next</button>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="toccontent-container-cont" style="float:left;width:78%;text-align: center;overflow: hidden;height:516px;">
                                            <!--iframe id='content_preview_iframe' src='templates/project_preview/previewIframeContent.html' height='600' width='100%' frameborder='0' allowfullscreen="allowfullscreen" ></iframe-->
                                            <iframe allowfullscreen='true' mozallowfullscreen='true' webkitallowfullscreen='true' id="content_preview_iframe3" ng-if="file_path" src="{{file_path}}" data-glossary-path="{{glossary_link_path}}" frameborder="0" style="height:516px; width: 100%;"></iframe> 

                                            <script>
                                                        /* Created by Samrat Saha
                                                         * For Iframe Loading Issue Fix
                                                         * Dated 11th November 2016 */
                                                        function callIframeAfterLoad() {
                                                            //Sending Message to Iframe
                                                            var receiver = document.getElementById('content_preview_iframe3').contentWindow;
                                                            receiver.postMessage('overrideLink^', s3_domain_url);
                                                        };



                                                        function receiveMessage(e) {

                                                            if (e.origin !== s3_domain_url || typeof e.data === 'undefined')
                                                                return;
                                                            var sliceData = e.data.toString().split('^');
                                                            if (sliceData[0] === "linkEvent") {
                                                                var decodeUrl = decodeURIComponent(sliceData[1]);
                                                                var linkClass = sliceData[2];
                                                                angular.element(document.getElementById("project_preview")).scope().contentPreview(decodeUrl,'',linkClass);
                                                            } else if (sliceData[0] === "childActive") {
                                                                callIframeAfterLoad();
                                                            }


                                                        }

                                                        //Receiving Message from Iframe
                                                        window.addEventListener('message', receiveMessage);
                                            </script>
                                            <script>
                                                        function setFrameDimension(e, t) {
                                                            switch (e) {
                                                                case 0:
                                                                    $("#content_preview_iframe3").attr({
                                                                        height: t,
                                                                        width: "100%"
                                                                    });
                                                                    $("#shell_preview_frame").attr({
                                                                        height: t,
                                                                        width: "100%"
                                                                    });
                                                                    break;
                                                                case 1:
                                                                    $("#content_preview_iframe3").attr({
                                                                        height: "500",
                                                                        width: "1024"
                                                                    });
                                                                    $("#shell_preview_frame").attr({
                                                                        height: "768",
                                                                        width: "1024"
                                                                    });
                                                                    break;
                                                                case 2:
                                                                    $("#content_preview_iframe3").attr({
                                                                        height: "500",
                                                                        width: "600"
                                                                    });
                                                                    $("#shell_preview_frame").attr({
                                                                        height: "800",
                                                                        width: "600"
                                                                    });
                                                                    break;
                                                                case 3:
                                                                    $("#content_preview_iframe3").attr({
                                                                        height: "480",
                                                                        width: "320"
                                                                    });
                                                                    $("#shell_preview_frame").attr({
                                                                        height: "480",
                                                                        width: "320"
                                                                    });
                                                            }
                                                        }
                                                        var isPatternLink = !1;
                                                        setTimeout(function () {
                                                            var e = $(window).innerHeight(),
                                                                    t = $(".header-container").outerHeight(),
                                                                    n = $(".page-title").outerHeight(),
                                                                    i = e - t - n - 50;
                                                            $("#shell_preview_frame").height(e - t - n);
                                                            $(".container.product-inner").height(i), $("#content_preview_iframe3").attr("height", i), $(".toccontent-container").height(i), $(".toccontent-container-cont").height(i + 10), $(document).on("click", ".link-to-preview", function () {
                                                                $(".link-to-preview").removeClass("active"), $(this).addClass("active")
                                                            }), $(document).on("click", ".viewport", function () {
                                                                $(".viewport").removeClass("active"), $(this).addClass("active"), setFrameDimension($(this).index(), i)
                                                            })
                                                        }, 1e3);
                                            </script>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>                        
                    </div>
                </div>
            </div>
            <iframe id="shell_preview_frame" ng-src="{{frameSrc|trustedUrl}}" ng-show="show_view_pane != 'normal'" width="100%" scrolling="off"></iframe>
            <div class="clearfix"></div>
        </section>
        <div class="clearfix"></div>       

    </div>
</div>

<style>
    [ng-cloak] {
        display: none;
    }
    * {
        box-sizing: border-box
    }

    .toccontent-container{
        float:left; width:20%;overflow: auto;box-shadow: inset -3px 0 3px rgba(0,0,0,.1); -webkit-box-shadow: inset -3px 0 3px rgba(0,0,0,.1); -moz-box-shadow: inset -3px 0 3px rgba(0,0,0,.1);   padding:5px; margin-right: 2%;
        /*background-color: rgba(0,0,0,0.05);*/ 
    }
    /*.toccontent-container ol{background: rgba(0,0,0,0.05) !important;}*/

    .live ol {
        margin:4px 0;
        border: 0 none transparent;
        padding: 0;
        background:#eee;
    }
    .live li {
        list-style:none;
        /*        margin: 1px;
                border: 1px solid #ddd;*/
        padding: 8px 8px 4px 20px;
        background: #fff;
    }
    .live .ui-sortable li{
        cursor: move;
    }
    .live input, .live .shadow input {
        margin: 0;
        border: 1px solid #ddd;
        padding: 1px;
        font: inherit;
        font-weight: bold;
        height:2em;
    }
    .live .ui-state-highlight {
        border: 1px solid #fc0;
        background: #ffe;
    }
    .live, .shadow {
        float: left;
        /*        width: 45%;*/
        margin-right: 5%;
    }
    .live .shadow {
        opacity: 0.7;
    }
    .live .debug {
        clear: both;
    }
    .live .debug textarea {
        width: 100%;
        height: 40em;
        font: 10px/13px monospace;
    }
    .live textarea, .live input {
        outline: none;
    }
    .live .pregnant {
        /*border: 1px solid #ddd;*/
    }
    .live .bg0 {
        background:#fcc;
    }
    .live .bg1 {
        background:#ffc;
    }
    .live .bg2 {
        background:#cfc;
    }
    .live .bg3 {
        background:#cff;
    }
    .live .bg4 {
        background:#ccf;
    }
    .live .bg5 {
        background:#fcf;
    }
    .live .minimized > ol > li {
        display:none;
    }
    .live .minimized > ol {
        border: 0 none transparent;
    }
    .live .toggle {
        border: 0 none transparent;
        background:transparent;
        width:2em;
        color:#aaa;
    }
    .live button {
        cursor: pointer
    }
    .lirow{
        background-color: none;
    }

    a.link-to-preview{cursor: pointer;}
    a.link-to-preview.active{font-weight: bold; text-decoration: underline;}

    .popupZone{
        border: 1px solid #000000; 
        padding: 10px 10px 0px 10px;  
        position: fixed; bottom:0px; 
        right: 0px; 
        max-height: 300px;
        min-width: 470px;
        overflow:scroll;
    }

    .progress-bar {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        color: #fff;
        text-align: center;
        background-color: #428bca;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
        box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
        -webkit-transition: width .6s ease;
        transition: width .6s ease;
        background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.15)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(0.75,rgba(255,255,255,0.15)),color-stop(0.75,transparent),to(transparent));
        background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-size: 40px 40px;
    }
    #content_preview_iframe3{ width: 100%; height: 100%;}
</style>
