<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        overflow: hidden;
        /*display:none;*/
    }

    .page-title .viewport{
        list-style-type: none;
        padding: 5px 5px;
        border-left: 1px solid #e5e5e5;
        float: left;
        cursor:pointer;
    }
    .page-title .viewport.active{
        border-bottom: 2px solid #800080;
    }
    .navigator{    background-color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    width: 19.6%;
    bottom: -8px;
    left: 16px;
    padding: 0;
    border: 1px solid #fff;
}
    .backBtnHolder{
        float: left; font-family: consolas !important; font-size: larger !important; font-weight: normal !important;
    }
    .nextBtnHolder{
        float: right; font-family: consolas !important; font-size: larger !important; font-weight: normal !important;
    }
    #nextBtn {
        background: none;
        border: none;
    }
    #backBtn {
        background: none;
        border: none;
    }
    .copyright-pg{  padding: 5px;
    line-height: 20px;} 
    .copyright-pg input{float: right;
    font-size: 11px;
    margin-left: 5px;
    padding: 4px;}
    .copyright-text{    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden; text-align: left;}
    .toc-pagination{    text-align: left; border-top: 1px solid #fff;}
    .toc-pagination .glyphicon{ top: 1px;
    color: #4285f4;
    font-size: 10px;}
    .toc-pagination button{ padding:5px;}
    .toc-pg-title{ display: block;}
    .toc-pg-no{ float: right; font-size: 11px; text-align: right;width:60px;padding-left: 5px;padding-right: 2px; word-break: break-all;}
</style>
<script type="text/javascript" src="lib/lm_frost_listner_preview.js"></script>
<div class="ajax-content" >
    <div id="project_preview" class="main_container" ng-controller="project_preview" ng-cloak>
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->

        <!--SECTION STARTS HERE-->
        <section class="wrapper">
            <div class="page-title">
                <div class="pull-right" style="width: 540px;">
                    <!--button type="button" class="btn btn-default pull-right" ng-click="backToDashBoard(toc_creation_status, project_details.id);"><i class="fa fa-chevron-left"></i>Back to Dashboard</button-->
                    <back-to-dashboard ng-if="project_details.id" project="project_details" class="pull-right"></back-to-dashboard>
                    <div class="resize-view pull-right">
                        <ul>
                            <li class="viewport active">
                                <div class="desktop-view sprite"></div>
                            </li>
                            <li class="viewport">
                                <div class="tablet-view sprite"></div>
                            </li>
                            <li class="viewport">
                                <div class="small-tablet-view sprite"></div>
                            </li>
                            <li class="viewport">
                                <div class="iphone5-view sprite"></div>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>                    
                    <div class="resize-view pull-right" ng-show="project_details.project_type_id == 5 && false">
                        <select ng-init="shell_options = previews[0];
                                        change_shell_view(shell_options.id)" ng-model="shell_options" ng-options="preview.title for preview in previews track by preview.id " class="form-control" ng-change="change_shell_view(shell_options.id)"></select>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="pull-middle ng-binding"> 
                    {{project_details.name}}
                </div>

                <div class="clearfix"></div>
            </div>
            <!--div class="alert alert-danger alert-dismissible"  ng-show="errorMessage">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{errorMessage}}</strong>
            </div-->


            <div class="container product-inner" ng-show="show_view_pane == 'normal'">
                <div class="content">                
                    <div class="from-container">
                        <div class="from-container-row">
                            <div class="toc-panel-container">                                
                                <div class="live" >
                                    <div class="toc-panel-left tc-cont" style="width:100%;">                                        
                                        <div class="toccontent-container">
                                            <ol ui-nested-sortable="{
                                                listType: 'ol',
                                                items: 'li.disable',                                            
                                                doNotClear: true,
                                                placeholder: 'ui-state-highlight',
                                                forcePlaceholderSize: true,
                                                toleranceElement: '> div'
                                                }" ui-nested-sortable-stop="update($event, $ui)" class="sortable" >
                                                <li ya-tree="child in data.children at ol" ng-class="{minimized:child.minimized}" item="{{child}}">
                                                    <!--handle: '.drag_el',-->
                                                    <div class="toc-paginator" ng-class="tocRowHoverClass" ng-mouseenter="tocRowHoverClass = 'tocRowHover'" ng-mouseleave="tocRowHoverClass = ''"></div>
                                                    <div class="toc-outer" ng-class="tocRowHoverClass" ng-if="child.file || child.ext_res_link || child.type == 214">
                                                        <div class="lirow" ng-mouseenter="tocRowHoverClass = 'tocRowHover'" ng-mouseleave="tocRowHoverClass = ''">

                                                            <button class="toggle" ng-click="toggleMinimized(child)" ng-switch on="child.minimized" ng-if="child.children.length > 0" >
                                                                <span ng-switch-when="true" title="Expand"><span class="glyphicon glyphicon-expand"></span></span>
                                                                <span ng-switch-default title="Collapse">
                                                                    <span class="glyphicon glyphicon-collapse-down"></span>
                                                                </span>
                                                            </button>
                                                            <button class="toggle" ng-if="child.children.length < 1" ></button>
                                                            <span ng-if="child.type == 214">
                                                                {{child.title}}
                                                                <!--<a id="{{child.id}}" class='link-to-preview' href="javascript:void(0);" style="text-decoration:none;color: #000000; pointer-events: none;">{{child.title}}</a>-->
                                                            </span>
                                                            <div class="toc-pg-no" ng-bind-html="child.page_number" ></div>
                                                            <div ng-if="child.file" class="toc-pg-title">
                                                                <a id="{{child.id}}" class='link-to-preview'  data-link="{{child.file}}" ng-click="contentPreview(child.file, child.type, child.title)">{{child.title}}</a>
                                                            </div>
                                                            

                                                            <span ng-if="child.ext_res_link">
                                                                <a id="{{child.id}}" class='link-to-preview' target="_blank" data-link="{{child.ext_res_link}}" ng-click="contentPreview(child.ext_res_link, child.type, child.title)">{{child.title}}</a>
                                                            </span>

                                                        </div>
                                                    </div>
                                                    <ol ng-class="{
                                                                pregnant:child.children.length
                                                            }"></ol>
                                                </li>
                                            </ol>

                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="navigator">
                                            <div class="toc-pagination">
                                                <button class="backBtnHolder" type="button" id="backBtn" ng-click="prev()" ng-disabled="disableback"> <span class="glyphicon glyphicon-triangle-left"></span> BACK</button>
                                                
                                                <button class="nextBtnHolder" type="button" id="nextBtn" ng-click="next()" ng-disabled="disablenext"> NEXT <span class="glyphicon glyphicon-triangle-right"></span></button>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="toccontent-container-cont" style="float:left;width:80%;background: #f6f6f6;text-align: center;overflow: auto;">
                                            <!--iframe id='content_preview_iframe' src='templates/project_preview/previewIframeContent.html' height='600' width='100%' frameborder='0' allowfullscreen="allowfullscreen" ></iframe-->
                                            <iframe  allowfullscreen='true' mozallowfullscreen='true' webkitallowfullscreen='true' id="content_preview_iframe3" ng-show="file_path" src="{{file_path}}" data-glossary-path="{{glossary_link_path}}" height="{{frameHgt}}" width="{{frameWidth}}" frameborder="0" class="preview_iframe" ></iframe>  
                                            <script>
                                                        /* Created by Samrat Saha
                                                         * For Iframe Loading Issue Fix
                                                         * Dated 11th November 2016 */
                                                        function callIframeAfterLoad() {
                                                            //Sending Message to Iframe
                                                            var receiver = document.getElementById('content_preview_iframe3').contentWindow;
                                                            receiver.postMessage('overrideLink^', s3_domain_url);
                                                        }
                                                        ;
                                                        
                                                        function receiveMessage(e) {
                                                            if(e.data.toString().indexOf(".xhtml") > -1 && e.data.toString().indexOf("linkEvent") < 0){
                                                                var toActive=e.data;
                                                                if(e.data.indexOf("footnote.xhtml") > -1){
                                                                    toActive = "footnote.xhtml";
                                                                }
                                                                if($('[data-link="'+toActive+'"]').length > 0){
                                                                    $(".link-to-preview").removeClass("active");
                                                                    $('[data-link="'+toActive+'"]').addClass("active").focus();
                                                                }
                                                                if(jQuery(".link-to-preview.active").length >0){
                                                                  $(".copyright-text").attr("title",$(".link-to-preview.active").html());
                                                                  $(".copyright-text").html($(".link-to-preview.active").html());
                                                                  $("#searchTerm").val($(".link-to-preview.active").parent().prev().html());
                                                                 var scrollToPos = $(".link-to-preview.active").offset().top + $(".toccontent-container").scrollTop() - $('.toccontent-container').offset().top - 20;
                                                                 $('.toccontent-container').animate({scrollTop:scrollToPos}, 0);
                                                                  }
                                                            }

                                                            if (e.origin !== s3_domain_url || typeof e.data === 'undefined' || typeof e.data === "object")
                                                                return;
                                                            var sliceData = e.data.toString().split('^');
                                                            if (sliceData[0] === "linkEvent") {
                                                                var decodeUrl = decodeURIComponent(sliceData[1]);
                                                                var linkClass = sliceData[2];
                                                                angular.element(document.getElementById("project_preview")).scope().contentPreview(decodeUrl, '', linkClass);
                                                            } else if (sliceData[0] === "childActive") {
                                                                callIframeAfterLoad();
                                                            }


                                                        }

                                                        //Receiving Message from Iframe
                                                        window.addEventListener('message', receiveMessage);
                                            </script>

                                            <script>
                                                        $(document).ready(function () {
                                                            setTimeout(function () {
                                                                $('li.viewport.active').trigger('click');
                                                            }, 5000)
                                                        });


                                                        //reset height on window resize
                                                        $(window).resize(function () {
                                                            var e = $(window).innerHeight(),
                                                                    t = $(".header-container").outerHeight(),
                                                                    n = $(".page-title").outerHeight(),
                                                                    i = e - t - n - 55,
                                                                    tocHeight = i - parseInt($(".navigator").css("height"));
                                                            $("#content_preview_iframe3").attr("height", i);
                                                            $(".toccontent-container").height(tocHeight-10);
                                                            $(".product-inner").css("height", i + 20);
                                                            var viewportIndex = $('.viewport.active').index();
                                                            switch (viewportIndex) {
                                                                case 0:
                                                                    $("#content_preview_iframe3").attr("width", "100%");
                                                                    break;
                                                                case 1:
                                                                    $("#content_preview_iframe3").attr("width", "1024");
                                                                    break;
                                                                case 2:
                                                                    $("#content_preview_iframe3").attr("width", "600");
                                                                    break;
                                                                case 3:
                                                                    $("#content_preview_iframe3").attr("width", "320");
                                                            }
                                                        });


                                                        function setFrameDimension(e, t) {
                                                            var tocHeight = t - parseInt($(".navigator").css("height"));
                                                            shellFrameHeight=$(window).innerHeight()-$(".header-container").outerHeight()-$(".page-title").outerHeight()
                                                           
                                                            switch (e) {
                                                                case 0:
                                                                    $("#content_preview_iframe3").attr({
                                                                        height: t,
                                                                        width: "100%"
                                                                    });
                                                                    $("#shell_preview_frame").attr({
                                                                        height: shellFrameHeight,
                                                                        width: "100%"
                                                                    });
                                                                    $(".toccontent-container").height(tocHeight);
                                                                    $(".product-inner").css("height", t + 20);
                                                                    break;
                                                                case 1:
                                                                    $("#content_preview_iframe3").attr({
                                                                        height: t,
                                                                        width: "1024"
                                                                    });
                                                                    $("#shell_preview_frame").attr({
                                                                        height: shellFrameHeight,
                                                                        width: "1024"
                                                                    });
                                                                    $(".toccontent-container").height(tocHeight);
                                                                    $(".product-inner").css("height", t + 20);
                                                                    break;
                                                                case 2:
                                                                    $("#content_preview_iframe3").attr({
                                                                        height: t,
                                                                        width: "600"
                                                                    });
                                                                    $("#shell_preview_frame").attr({
                                                                        height: shellFrameHeight,
                                                                        width: "600"
                                                                    });
                                                                    $(".toccontent-container").height(tocHeight);
                                                                    $(".product-inner").css("height", t + 20);
                                                                    break;
                                                                case 3:
                                                                    $("#content_preview_iframe3").attr({
                                                                        height: t,
                                                                        width: "320"
                                                                    });
                                                                    $("#shell_preview_frame").attr({
                                                                        height: shellFrameHeight,
                                                                        width: "320"
                                                                    });
                                                                    $(".toccontent-container").height(tocHeight);
                                                                    $(".product-inner").css("height", t + 20);
                                                            }
                                                        }
                                                        var isPatternLink = !1;
                                                        setTimeout(function () {
                                                            var e = $(window).innerHeight(),
                                                                    t = $(".header-container").outerHeight(),
                                                                    n = $(".page-title").outerHeight(),
                                                                    i = e - t - n - 55,
                                                                    tocHeight = i - parseInt($(".navigator").css("height")); 
                                                            // $("#shell_preview_frame").height(e - t - n);
                                                            $(".container.product-inner").height(i);
                                                            //  $("#content_preview_iframe3").attr("height", i), 
                                                            $(".toccontent-container").height(tocHeight);
                                                            setFrameDimension(0, i);
                                                            $(document).on("click", ".link-to-preview", function () {
                                                                $(".link-to-preview").removeClass("active"), $(this).addClass("active")
                                                            }), $(document).on("click", ".viewport", function () {
                                                                var e = $(window).innerHeight(),
                                                                        t = $(".header-container").outerHeight(),
                                                                        n = $(".page-title").outerHeight(),
                                                                        i = e - t - n - 55;
                                                                $(".viewport").removeClass("active"), $(this).addClass("active"), setFrameDimension($(this).index(), i)
                                                            })
                                                        }, 1e3);
                                            </script>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>                        
                    </div>
                </div>
            </div>
            <iframe id="shell_preview_frame" ng-src="{{frameSrc|trustedUrl}}" ng-show="show_view_pane != 'normal'" width="100%" scrolling="off"></iframe>
            <div class="clearfix"></div>
        </section>
        <div class="clearfix"></div>       

    </div>
</div>

<style>
    [ng-cloak] {
        display: none;
    }
    * {
        box-sizing: border-box
    }

    .toccontent-container{
        float:left; width:20%;overflow: auto;box-shadow: inset -3px 0 3px rgba(0,0,0,.1); -webkit-box-shadow: inset -3px 0 3px rgba(0,0,0,.1); -moz-box-shadow: inset -3px 0 3px rgba(0,0,0,.1);   padding: 5px; margin-right: 0px;
        /*background-color: rgba(0,0,0,0.05);*/ 
    }
    /*.toccontent-container ol{background: rgba(0,0,0,0.05) !important;}*/

    .live ol {
        margin:4px 0;
        border: 0 none transparent;
        padding: 0;
        background:#eee;
    }
    .live li {
        list-style:none;
        /*        margin: 1px;
                border: 1px solid #ddd;*/
        padding: 8px 8px 4px 20px;
        background: #fff;
    }
    .live .ui-sortable li{
        cursor: move;
    }
    .live input, .live .shadow input {
        margin: 0;
        border: 1px solid #ddd;
        padding: 1px;
        font: inherit;
        font-weight: bold;
        height:2em;
    }
    .live .ui-state-highlight {
        border: 1px solid #fc0;
        background: #ffe;
    }
    .live, .shadow {
        float: left;
        /*        width: 45%;*/
        margin-right: 5%;
    }
    .live .shadow {
        opacity: 0.7;
    }
    .live .debug {
        clear: both;
    }
    .live .debug textarea {
        width: 100%;
        height: 40em;
        font: 10px/13px monospace;
    }
    .live textarea, .live input {
        outline: none;
    }
    .live .pregnant {
        /*border: 1px solid #ddd;*/
    }
    .live .bg0 {
        background:#fcc;
    }
    .live .bg1 {
        background:#ffc;
    }
    .live .bg2 {
        background:#cfc;
    }
    .live .bg3 {
        background:#cff;
    }
    .live .bg4 {
        background:#ccf;
    }
    .live .bg5 {
        background:#fcf;
    }
    .live .minimized > ol > li {
        display:none;
    }
    .live .minimized > ol {
        border: 0 none transparent;
    }
    .live .toggle {
        border: 0 none transparent;
        background:transparent;
        width:2em;
        color:#aaa;
    }
    .live button {
        cursor: pointer
    }
    .lirow{
        background-color: none;
    }

    a.link-to-preview{cursor: pointer;}
    a.link-to-preview.active{font-weight: bold; text-decoration: underline;}

    .popupZone{
        border: 1px solid #000000; 
        padding: 10px 10px 0px 10px;  
        position: fixed; bottom:0px; 
        right: 0px; 
        max-height: 300px;
        min-width: 470px;
        overflow:scroll;
    }

    .progress-bar {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        color: #fff;
        text-align: center;
        background-color: #428bca;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
        box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
        -webkit-transition: width .6s ease;
        transition: width .6s ease;
        background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.15)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(0.75,rgba(255,255,255,0.15)),color-stop(0.75,transparent),to(transparent));
        background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-size: 40px 40px;
    }
</style>
