<div class="ajax-content" ng-cloak>
  <div class="overlay" ng-click="toggleShowMenuClass()"></div>
  <div class="main_container" ng-controller="linkcheckcontroller">  
    <!--HEADER STARTS HERE-->
    <div ng-include src="'templates/header.html'" class="header-container"></div>
    <!--HEADER ENDS HERE-->
    <div class="content-wrap">
      <!--SECTION STARTS HERE-->
      <section class="wrapper">
        <div class="page-title">
          <div class="pull-right">  
            <back-to-dashboard ng-show="project.id" project="project"></back-to-dashboard>
            <!--<button type="button" class="btn btn-primary" ng-click="showAddForm('')" ng-show="project.project_permissions['dataset.create'].grant">Create New {{set_type}}</button>-->
          </div>
          <div class="pull-middle"> 
            {{project_name}}
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="container product-inner">
          <div class="content">
            <div class="from-container">
              <!--/*stucture modified for all pages*/-->
              <!--                            <div class="from-container-row" ng-show="project.project_permissions && !project.project_permissions['dataset.show.all'].grant && applyPermission">
                                              <div class="pattern-list-container">
                                                  <div class="alert alert-danger" role="alert"><center>Sorry! Access Prohibited!</center></div> 
                                              </div>
                                          </div>                            -->
              <!--<div class="from-container-row" ng-show="project.project_permissions['dataset.show.all'].grant && applyPermission" >-->
              <div class="from-container-row" >
                <div class="pattern-list-container">
                  <div class="page-title ng-binding">
                    <div class="col-md-3">
                      Link Checker
                    </div>
                    <div class="col-md-3">
                      <button type="button" class="btn btn-default" ng-show="link_validation_status == 0 || link_validation_status == 3" ng-click="linkChecker()" ng-disabled="addButtonDisabled">Validate</button>
                      <button type="button" class="btn btn-default disabled"  ng-show="link_validation_status == 1 || link_validation_status == 2"  ng-disabled="addButtonDisabled">In Progress</button>
                    </div>
                    <div class="pull-right" ng-show="showTable">
                             Total Dead Links :   {{totalLinks}}
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <p class="alert alert-warning" style="font-size: 13px" ng-if="active_status_count == 0 && logTotal != 0"><i class='glyphicon glyphicon-info-sign'></i>  {{process_text}}</p>
                  <div class="clearfix"></div>
                  <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0" mg-show="showTable">
                            <thead>
                                <tr ng-show="showTable">
                                    <th width="30%" style="cursor: pointer;" ng-click="applySorting('name')">Location <span ng-show="currentOrderByField == 'name'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>
                                    <th width="10%" style="cursor: pointer;" ng-click="applySorting('link_type')">Link type<span ng-show="currentOrderByField == 'link_type'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>
                                    <th width="35%"  style="cursor: pointer;" ng-click="applySorting('url')">Link to<span ng-show="currentOrderByField == 'url'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>                                                
                                    <th width="25%" style="cursor: pointer;" ng-click="applySorting('status')">Error type<span ng-show="currentOrderByField == 'status'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>                                                
                                </tr>
                            </thead>
                            <tbody >
                                <tr dir-paginate="link in linkList | itemsPerPage: itemsPerPage" total-items="totalLinks" current-page="currentPage" pagination-id="linkListId" ng-show="showTable">
                                    <td>{{link.name}}</td>
                                    <td>{{link.link_type}}</td>
                                    <td>{{link.url}}</td>
                                    <td>{{link.status}}</td>
                                </tr>
                                <tr ng-show="showTable">
                                    <td colspan="4">
                                        <!-- Pagination Starts Here -->
                            <dir-pagination-controls class="dir_pagination"
                                                     boundary-links="true" 
                                                     pagination-id="linkListId" 
                                                     on-page-change="pageChangeHandlerLink(newPageNumber)" 
                                                     template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                            </dir-pagination-controls>
                            <!-- Pagination Starts End -->
                            </td>
                            </tr>
                            <tr ng-show="totalLinks == 0 && showTable">
                                <td colspan="4">
                                    <div class="alert alert-danger" role="alert"><center>No dead links Found!!!!</center></div>  
                                </td>
                            </tr>
                            </tbody>
                        </table>
                  <div class="clearfix"></div>
                </div>
              </div>
              <!--/*//////structure modified for all pages*/--> 
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </section>
      <!--SECTION ENDS HERE-->
    </div>
  </div>
  <div class="clearfix"></div>
</div>