<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="activity_log">  
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title">
                    <div class="pull-right">  
                    </div>
                    <div class="pull-middle"> 
                        Activity Log 
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">
                            <!--/*stucture modified for all pages*/-->
                            <div class="from-container-row">
                                <div class="pattern-list-container col-md-12" ng-show="totalLog != 0">
                                    <!--<div class="page-title"></div>-->
                                    <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0" style="margin: 10px 0px;border: 1px solid #ddd;">
                                        <thead>
                                            <tr>
                                                <th class="col-md-8">Description </th>
                                                <th class="col-md-2">User </th>
                                                <th class="col-md-4"><span ng-click="order()" style="cursor: pointer;">Date</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--tr ng-repeat="log in loggedActivity|orderBy:'startdate':reverse"-->
                                            <tr dir-paginate="log in loggedActivity | itemsPerPage: itemsPerPage|orderBy:orderByField:reverseSort" total-items="totalLog" current-page="currentPage" pagination-id="activityLogListId">
                                                <td>
                                                    {{log.message}}
                                                </td>
                                                <td>
                                                    {{log.username}}
                                                </td>
                                                <td>
                                                    {{formatDate(log.startdate) | date:'MM/dd/yyyy HH:mm:ss'}}
                                                </td>
                                            <tr>
                                                <td colspan="3">

                                        <dir-pagination-controls class="dir_pagination"
                                                                 boundary-links="true" 
                                                                 pagination-id="activityLogListId" 
                                                                 on-page-change="pageChangeHandlerActivityLog(newPageNumber)" 
                                                                 template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                                        </dir-pagination-controls>

                                        </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div ng-show="totalLog == 0" style="background-color: #FFFFFF;">
                                    <div class="clearfix"></div>
                                    <div class="alert alert-danger" role="alert"><center>No activity log found.</center></div> 
                                </div>
                            </div>
                            <!--/*//////stucture modified for all pages*/--> 
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
        <!--FOOTER STARTS HERE-->
        <!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>