@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";


.taxonomies-creation{
    @include padding-indv(top, 56px);
    .step--count{
        @include font-color($darkest);
        @include font-size(12);
    }


    h3{
        @include font-size(20);
    } 
    .btn{
        &-secondary{
            @include font-size(18);
            @include padding(3.15rem 0);
        }
        
        .help-tip{
            @extend %position-absolute;
            @extend %text-overflow-wrapped;
            @include margin-all(140px auto);
            @include top(0);
            @include right(0);
            @include bottom(0);
            @include left(0);
            width: 240px;
        }
    }
    .align{
        &-btn-group{
            @include padding-indv('left', 3.2%);
            @include padding-indv('right', 3.2%);
            @include margin-indv('top', 3rem);
        }
    }
}
// .step{
//     max-width: 566px;
// }
