<section class="row justify-content-between align-items-center taxonomies-creation">
  <div class="col-9">
    <h3 class="font-bold">How would you like to proceed?</h3>
  </div>

  <div class="col-3 text-right step--count">
    <p class="mb-0 font-bold">{{ steps }}</p>
  </div>

  <div class="col">
    <p>Select the correct option below and click on "Continue"</p>
  </div>
  <div class="col-12 align-btn-group">
    <div class="col-12 p-0 btn-group btn-group-toggle" role="group"
      aria-label="Create taxonomy by importing JSON or build your own">
      <button *ngFor="let option of options; let i = index;" type="button" class="col btn btn-secondary font-bold" id="optionTitle-{{i+1}}"
        [attr.aria-pressed]="currentOption === option.value ? true : false"
        [ngClass]="currentOption === option.value?'active':''" (click)="onSelection(option.value)"
        attr.aria-labelledby="optionSubtitle-{{i+1}}"> {{ option.title }}
        <span class="d-flex help-tip text-muted" id="optionSubtitle-{{i+1}}">{{ option.subTitle }}</span>
      </button>
    </div>
  </div>
</section>
      