@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}
ul li{
    position: relative;
    left: -25px;
}
li{
    width: 150px;
}
.toc_pane{
  position: relative;
  z-index: 2;
  top: 0;
  height: 100%;
  bottom: 0;
  width: 225px;
  background: #f0f0f0;
  transform: translate3d(-235px, 0, 0);
  transition: all 0.2s ease-in-out;
}
.toc_pane .toc{
  overflow: hidden;
  overflow-y: scroll;
}
.toc_pane.open{
	transform: translate3d(0, 0, 0);
}
.toc_pane button{
  position: absolute;
  right: -52px;
  top: 25px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #e0e0e0 url(../images/sprite.png) -494px 11px;
  border: 0;
  outline: none;
}
.toc_pane button:hover{
	background-color:#ddd;
	transition: 0.3s all ease;
}
.toc_pane button.active{
	background-color:#007099;
	  background-position: -567px 10px;
}
	
.toc_pane h1{
	color:#007099;
	font-size:24px;
	padding:30px 0px 30px 16px;
	line-height:1;
	margin:0;
}
.toc_pane a{
  display: block;
  padding: 8px;
  padding-left: 30px;
  position: relative;
  color:#444;
  cursor:pointer;
  
 }
.toc_pane a:hover{
	background:#e0e0e0;
	text-decoration:none;
}
.toc_pane a.active{
	background:#e9e9e9;
 	color:#007099;
}
.toc_pane a:before{
  content: "";
  width: 1px;
  background-color: #d6dae1;
  position: absolute;
  top: 23px;
  bottom: -15px;
  font-size: 10px;
  left: 18px;
}
.toc_pane a:after{
  content: "\f10c";
  font-family: FontAwesome;
  width: 10px;
  position: absolute;
  top: 12px;
  font-size: 10px;
  left: 14px;
  height: 13px;
  color:#007099;
  font-weight: bold;
}
.toc_pane a.active:after{
	content:"\f111";
}
.toc_pane>a:last-child:before{
	display:none
}
.content-pane{
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  font-size:18px;
}
.content-pane.open{
	width:calc(100% - 225px);
	transform: translate3d(225px, 0, 0);
	transition: all 0.2s ease-in-out;
    overflow: auto;
}
.content-pane .content{
	/*max-width:650px;*/
	margin:0 auto;
 	margin-top: 17px;
    padding: 0 10px;

}
.content-pane .content h1{
	font-size:26px;	
	color:#007099;
	border-bottom:1px solid #eee;
	padding:0; margin:0;
	line-height:50px;
	text-transform:uppercase;
	font-weight:700;
	margin-bottom:18px;
}
.aside1{
  background: #fef4e3;
  padding: 20px;
  margin: 9px 0;
  border-radius: 5px;
  padding-left: 50px;
  position: relative;
  border:1px solid #f2e6d3;
}
.aside1:before{
  content: "\f111";
  font-family: FontAwesome;
  position: absolute;
  top: calc(50% - 10px);
  height: 20px;
  font-size: 10px;
  color: #c45c63;
  left: 22px;
}
span.red{ color:#ff0101}
footer{
	height:70px;
	background:#4094b3;
	display:table;
	width:100%;
	color:#fff;
        position: fixed; 
        bottom: 0px;
        z-index:1;
}
footer .col-left, footer .col-right, footer .col-middle{
	display:table-cell;
	vertical-align: middle;
	background:#06749c;
	height:70px;


}
footer .col-left{
	text-align: right;
}
footer .col-right{
	text-align: left;
}
footer .col-middle{
	text-align: center;
	width:100%;



}
footer button{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #fff url(../images/sprite.png);
  border: 0;
  outline: none;
  margin: 3px 16px 0;
  border:2px #fff solid;
  transition: 0.2s all ease-in;

}
footer button:focus, footer button:active, footer button:hover{
	background-color:transparent;
}
footer button.play-pause{
	background-position: 10px 8px;
}
footer button.play-pause:hover, footer button.play-pause:focus, footer button.play-pause:active{
	background-position: 10px -64px;
}
footer button.play-pause.active {
	background-position: -64px 8px ;
}
footer button.play-pause.active:hover, footer button.play-pause.active:focus, footer button.play-pause.active:active{
	background-position: -64px -64px 
}
footer button.replay{
	background-position: -138px 7px;
}
footer button.replay:hover, footer button.replay:focus, footer button.replay:active, footer button.replay.active{
	background-position: -138px -65px;
}
footer button.volume{
	background-position: -212px 7px;
}
footer button.volume:hover, footer button.volume:focus, footer button.volume:active, footer button.volume.active{
	background-position: -212px -65px;
}
footer button.prev{
	background-position: -350px 8px;
}
footer button.prev:hover, footer button.prev:focus, footer button.prev:active, footer button.prev.active{
	background-position: -350px -65px;
}
footer button.next{
	background-position: -419px 8px;
}
footer button.next:hover, footer button.next:focus, footer button.next:active, footer button.next.active{
	background-position: -419px -65px;
}
/*.pos{
  display: inline-block;
  padding-top: 10px;
  vertical-align: top;
}*/
@media(max-width:999px){
.content-pane .content {
	margin-top:60px
}
.toc_pane{
  box-shadow: 3px 0 10px rgba(0,0,0,.3);
}
.content-pane.open {
  /*width: 100%;*/   
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
}
}
::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: #ebebeb;
    overflow: visible;
}
::-webkit-scrollbar-corner {
    display: none;
    background: #f5f5f5;
}

::-webkit-scrollbar-button {
    display: none;
    height:0;
    width: 0;
}

::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment             {
    display: block;
}

::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

::-webkit-scrollbar-track {
    -moz-background-clip: border;
    -webkit-background-clip: border;
    background-clip: padding-box;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal {
    border-left-width: 0;
    border-right-width: 0;
}

::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
    border-style: solid;
    border-color: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    background-clip: padding-box;
    background-color: rgba(0,0,0,.2);
    min-height: 28px;
    padding-top: 100px;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    background-color: rgba(0,0,0,.4);
}

::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.35);
    background-color: rgba(0,0,0,.5);
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    border-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

.progress {
	width: 100%;
	margin: 0 auto;
	height: 10px;
	position:relative;
	overflow:visible;
	
}

.progress-bar {
	background-color: #f0ad4e !important;
}

.pos {
    position: absolute;
    margin: -1px;
    overflow: hidden;
    clip: auto;
    border: 0;
    color: #ffffff;
    top: -20px;
    z-index: 99999;
}
.objective{   
width: 100%;
    left: auto;
}
.container{
    margin-bottom: 5%;
}
h1.learningObjective{
    border-bottom: 1px solid #e5e5e5;
}
section.glossary{
    margin-left: 3em;
}