<ng-container *ngIf="dataSet === undefined || showLoader">
  <app-preloader [loaderText]="'Loading data...'" class="w-100 h-100 position-fixed preloader-backdrop"></app-preloader>
</ng-container>

<div class="col-12">
  <div class="px-3 py-2 mb-2 bg-light border d-flex justify-content-start align-items-center"
    *ngIf="checkedRows.length && dataSet">
    <p class="mb-0 font-bold">{{checkedRows.length}} {{checkedRows.length>1 ? 'items' : 'item'}} on total list {{checkedRows.length>1
      ? 'are' : 'is'}} selected.</p>
    <button type="button" class="btn btn-clear py-0 px-2 ml-2 text-underline" id="clrselectionBtn"
      (click)="clearAllSelection()">Clear selection
    </button>
  </div>
</div>
<div class="col-12 mt-3">
  <table id="dataTable" class="table table-hover" [class.home-table]="tableCategory === 'home'">
    <caption class="sr-only">{{tableCategory}} listing</caption>
    <thead>
      <tr>
        <th scope="col" *ngFor="let column of columnList; let $index = index" [ngClass]="column.class"
          [class.active]="column.isSorted" [attr.aria-sort]="column.isAsc?'ascending':'descending'"
          [style.width]="setWidth(column)" [style.flex-basis]="setWidth(column)" [style.max-width]="setWidth(column)">
          <div class="w-100 d-flex align-items-center">
            <p class="font-bold font-2x mb-0" id="columnTitle{{column.name}}">{{column.name}}
            </p>

            <ng-container *ngIf="column.canFilter && column.showFilter && filterList[column.propName]">
              <app-multi-select-dropdown [label]="column.name" [data]="filterList[column.propName]"
                id="{{'multiselect-'+$index}}" [dropdownSettings]="dropdownSettings" [viewLocation]="'datatable'"
                [selectedOptionList]="selectedOptionList" (SelectEvent)="onFilterOptionSelect($event, column)">
              </app-multi-select-dropdown>
            </ng-container>

            <button class="btn-icon sort font-1x py-0" id="{{'sort-'+$index}}" (click)="sortData(column)"
              *ngIf="sortRequired"
              [attr.aria-label]="(column.isSorted ? 'sorted by ' : 'sort by ')+ column.name + (column.isSorted ? (column.isAsc ? 'in ascending order' : 'in descending order') : 'column not sorted click to sort in ascending order')">
              <span class="d-block" attr.aria-label="{{ 'column ' + column.name}}"
                [ngStyle]="{'transform': !column.isAsc ? 'rotate(180deg)' : 'rotate(0deg)'}">
                <svg aria-hidden="true" id="{{'sort_'+$index}}" focusable="false" data-prefix="fas" data-icon="arrow-up"
                  class="svg-inline--fa fa-arrow-up fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512">
                  <path class="sort--icon" fill="currentColor"
                    d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z">
                  </path>
                </svg>
              </span>
            </button>
          </div>
        </th>
      </tr>
    </thead>


    <tbody class="tbody">
      <ng-container *ngIf="!showLoader">
        <tr class="tr" *ngIf="dataSet && dataSet.length === 0">
          <td class="text-center" [attr.colspan]="columnList?.length">
            <p class="mb-0" role="alert">No Data Found</p>
          </td>
        </tr>

        <ng-container *ngFor="let data of dataSet | slice:startIndex:lastIndex; let l = count; let i = index; ">

          <tr id="{{'rowId_'+i}}" aria-live="polite" aria-atomic="true" [ngClass]="{'pl-2': viewLocation==='report', 'active': (viewLocation==='report' && data?.id===selectedData?.id),
           'checked':(data.checked)}">

            <ng-container *ngFor="let column of columnList">
              <!-- <td [ngClass]="column.class">
                <div class="d-flex justify-content-center align-items-center new-version">
                  <div class="d-block tooltip top lg position-relative" data-tooltip="New version available" role="alert">
                    <em class="fas fa-bell font-1x"></em>
                  </div>
                </div>
              </td> -->

              <td [ngClass]="column.class" *ngIf="column.type === 'text'">
                <!-- [class.text-center]="data[column.propName]==='-'"-->
                <p id="{{column.name + '_' + i}}" class="font-semibold  mb-0 text-wrapped">
                  {{data[column.propName] ? data[column.propName] : '-'}}</p>
              </td>

              <td [ngClass]="column.class" *ngIf="column.type === 'date'"
                [style.flex-basis]="isConfigurable && setWidth(column)">

                <p *ngIf="column.dateType === 'amCalendar'" class="font-semibold mb-0 text-wrapped"
                  id="{{column.name + '_' + i}}">
                  {{ (data[column.propName] && data[column.propName].length > 0) ? (changeDateToLocalTimeZone(data[column.propName])| amCalendar:{sameDay:'[Today
                  at] h:mm A'}) : ('-') }} </p>
                <p *ngIf="column.dateType === 'amTimeAgo'" class="font-semibold mb-0 text-wrapped"
                  id="{{column.name + '_' + i}}">
                  {{ changeDateToLocalTimeZone(data[column.propName])| amTimeAgo: column.propName === 'created_at' ? true : false }}
                </p>
              </td>

              <td [ngClass]="column.class" *ngIf="column.type === 'dropdown'"
                [style.flex-basis]="isConfigurable && setWidth(column)">

                <span class="dropdown">
                  <button type="button" class="btn btn-clear p-0 font-bold text-underline"
                    id="{{'dropdownStatus_'+ data[column.propName]}}" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" data-reference="parent"
                    (focus)="onFocus(data)">{{data[column.propName] ? data[column.propName] : '-'}}</button>

                  <div class="dropdown-menu dropdown-menu-right"
                    [attr.aria-labelledby]="'dropdownStatus_'+ data[column.propName]">
                    <button type="button" class="btn btn-clear dropdown-item"
                      id="{{item.name.split(' ').join('')+'_'+i}}"
                      (click)="changeStatus(item.value,data[item.propName])"
                      *ngFor="let item of dropdownItems; let i = index">{{item.name}}</button>
                  </div>
                </span>
              </td>
              <td [ngClass]="column.class" *ngIf="column.type === 'link'"
                [style.flex-basis]="isConfigurable && setWidth(column)">

                <a *ngIf="column.redirect && !column.loadPage" href="{{data[column.propName]}}" target="_blank"
                  class="font-bold text-underline" (focus)="onFocus(data)">{{column.value}}</a>
                <button *ngIf="column.redirect && column.loadPage"
                  class="btn btn-clear text-wrapped text-left p-0 pr-2 font-bold text-underline table-title"
                  id="{{column.name + '_' + i}}" (click)="onDetailsClicked(data, column)"
                  (focus)="onFocus(data)">{{data[column.propName]}}</button>
                <button *ngIf="!column.redirect" class="btn btn-clear text-underline p-0 user-status"
                  data-toggle="modal" [attr.data-target]="column.modal" (focus)="onFocus(data)"
                  (click)="onDetailsClicked(data, column)">{{data[column.propName]}}</button>
              </td>
              <td [ngClass]="column.class" *ngIf="column.type === 'array'"
                [style.flex-basis]="isConfigurable && setWidth(column)">

                <div class="nested-cell" *ngFor="let item of data[column.propName];">
                  <p class="font-semibold mb-0 text-wrapped">
                    <!-- Here 'column.attributes' is array object's property which needs to print in table -->
                    <ng-container *ngFor="let attr of column.attributes; let i = index;">
                      <span [attr.class]="attr?.class"
                        [innerHtml]="item[attr.name+'_html'] ? item[attr.name+'_html'] : item[attr.name]"></span>
                    </ng-container>
                  </p>
                </div>
              </td>
              <td [ngClass]="column.class" *ngIf="column.type === 'multi'">
                <p id="{{column.name + '_' + i}}" class="font-semibold  mb-0 text-wrapped"
                  *ngFor="let dataItem of data[column.propName]">
                  <span class="mr-5" *ngFor="let key of column.keys">
                    {{dataItem[key]}}
                  </span>
                </p>
              </td>


            </ng-container>

          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>

<ng-container *ngIf="tableCategory !== 'home'">
  <app-pagination #paginationRef
    *ngIf="dataSet !== undefined && (filterData && filterData.length > minItemPerPage) && !showLoader"
    [dataLength]="filterData ? filterData.length : 0" [defaultPageRange]="pagination"
    (displayItemRangeEvent)="showDataInRange($event)">
  </app-pagination>
</ng-container>
