@import "../../../assets/scss/abstracts/variables";
@import "../../../assets/scss/abstracts/mixins";
@import "../../../assets/scss/abstracts/bp";
@import "../../../assets/scss/component/button";

.table {
  @include bgcolor($lightest);

  th {
    @include font-color($secondary);
    @include padding(1rem 1.4rem);
    @include border-none(none);
    flex: 0 0 9rem;
    max-width: 9rem;
    vertical-align: top;
    line-height: inherit;

    &:hover {
      @include font-color($primary);

      .sort {
        @extend %transition-fade-active;
      }
    }

    &.active {
      @include font-color($primary);

      .sort {
        @extend %transition-fade-active;
        height: 22px;
      }
    }
  }

  td {
    @include padding(1.4rem);
    flex: 0 0 9rem;
    max-width: 9rem;
  }

  tbody {
    tr {
      @include border-indv('bottom', 1px, solid, $light);
      transition: all ease-in-out .4s;

      &:hover {
        @include bgcolor($lightest);
        transition: all ease-in-out .4s;
      }

      &.active {
        @include bgcolor($lightest);

        .btn {
          @include font-color($primary);
          text-decoration: none;
        }
      }

      .custom-checkbox {
        @include top(4px);
        transition: all ease-in-out .2s;
      }

      &.activated,
      &.checked {
        .custom-checkbox {
          opacity: 1;
          transition: all ease-in-out .2s;
        }
      }

      .col-auto {
        &:last-child {
          min-width: 40px;
        }
      }

      .more {
        &-option {
          .tooltip {
            height: 24px;
          }
        }
      }
    }
  }

  .sort {
    @include font-color($primary);
    width: 22px;
    height: 22px;
    opacity: 0;
    transition: visibility .5s, opacity .5s linear;

    &:focus {
      @extend %transition-fade-active;
      opacity: 1;
    }

    &.tooltip {
      &.bottom {
        &:after {
          @include margin-indv('left', 0);
          @include left (-110%);
          width: auto;
        }
      }
    }

    &--icon {
      &:hover,
      &:focus {
        fill: $primary;
      }
    }
  }

  &-search {
    .form {
      &-control {
        @include padding-indv('left', 30px);
      }
    }

    .search {
      &-icon {
        @include z-index(100);
        @include left(15px);
      }
    }
  }

  &.home-table {
    thead {
      @include border-indv('bottom', 3px, solid, $light);
    }
  }

  .nested-cell {
    @include border-indv('bottom', 1px, solid, $light);

    &:last-child {
      @include border-none(none);
    }

    p {
      @include padding(7px 5px);
    }

    .taxonomy-title {
      @include font-size(13);
      @include display(block);
      @include font-color($darkest);
      @include padding-indv('top', 3px);
    }
  }

  .btn {
    @include font-size(14);
  }

  .table-title {
    max-width: 100%;
  }

  .table-title {
    max-width: 100%;
  }
}

.col-30 {
  width: 30px;
  max-width: 30px;
}

.new-version {
  @include bgcolor(transparentize($warning, .5));
  @include border-radius(50%);
  width: 20px;
  height: 20px;
}

.preloader {
  &-backdrop {
    @include left(0);
    @include top(0);
    @include bottom(0);
    @include z-index(9999);
    height: 100vh;
  }
}
