@import "../../../assets/scss/abstracts/variables";
@import "../../../assets/scss/abstracts/mixins";

.role{
    &-panel{
        @extend %common-tab;

        li{
            @include padding(2px 10px);
            @include font-color($darkest);
            &:hover{
                button,
                a{
                    @include font-color($notify);
                }
            }

            &.tab_selected{
                @extend %tab-selected;
            }
        }

       
    }

    &-align{
        @include padding-indv('left', 15px);
    }
}

.new-version{
    @include bgcolor(transparentize($warning, .5));

    .btn{
        &:not(.btn-clear){
            &:hover,
            &:focus{
                @include font-color($black);
                text-decoration: underline;
            }
        }
    }
}

.unread{
    &-count{
        @include font-size(12);
        @include font-color($white);
        @include padding(3px 7px);
        @include bgcolor($notify);
        @include border-radius(20px);
        @include margin-indv('left', 4px);
    }
    &-message{
        @extend %position-absolute;
        @include top(-7px);
        @include right(4px);
        @include display(inline-block);
    }
}
