<div class="popup-boxes">
    <form name="taxonomy_form" ng-cloak>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}}</div>  
        <div class="inner-modal-content tab-contents">
            <div class="group inputfrom">              
                <div class="toc-panel-container">
                </div>
                <div>
                    
                </div>   
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer">            
            <button class="btn btn-warning" ng-click="cancel()">CANCEL</button>
            <button ng-hide="showedit" class="btn btn-primary" ng-click="replaceIt()">Replace</button>
            <button ng-hide="showedit" class="btn btn-info" ng-click="next()">Next</button>
        </div>
    </form>
</div>  