<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }

    .page-title .viewport{
        list-style-type: none;
        padding: 5px 5px;
        border-left: 1px solid #e5e5e5;
        float: left;
        cursor:pointer;
    }
    .page-title .viewport.active{
        border-bottom: 2px solid #800080;
    }

</style>
<script type="text/javascript" src="lib/lm_frost_listner_preview.js"></script>
<div class="ajax-content" >
    <div id="project_preview" class="main_container" ng-controller="search_replace" ng-cloak>
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->

        <!--SECTION STARTS HERE-->
        <section class="wrapper">
            <div class="page-title">
                <div class="pull-right" style="width: 53%;">                    
                    <textarea type="text" ng-model="search_replace_text"></textarea>   
                    <back-to-dashboard ng-if="project_details.id" project="project_details" class="pull-right"></back-to-dashboard>
                    <button type="button" id="replace_btn" class="btn btn-primary" ng-click="search();">Search</button>
                    <button type="button" id="replace_btn" class="btn btn-primary" ng-click="previous();">Previous</button>
                    <button type="button" id="replace_btn" class="btn btn-primary" ng-click="replace();">Replace</button>                    
                    <button type="button" id="replace_btn" class="btn btn-primary" ng-click="next();">Next</button>
                    <button type="button" id="replace_btn" class="btn btn-primary" ng-click="replaceAll();">Replace All</button>
                </div>
                <div class="pull-middle ng-binding"> 
                    {{project_details.name}}: "{{search_text}}"
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="alert alert-danger alert-dismissible" ng-show="errorMessage">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{errorMessage}}</strong>
            </div>
            <div class="container product-inner">
                <div class="content">                
                    <div class="from-container">
                        <div class="from-container-row">
                            <div class="toc-panel-container">                                
                                <div class="live">
                                    <div class="toc-panel-left tc-cont" style="width:100%;" ng-hide="errorMessage">                                        
                                        <div class="toccontent-container">
                                            <ol>
                                                <li ng-if="child.word_count" ng-repeat="(key, child) in data track by $index">
                                                    <!--handle: '.drag_el',-->
                                                    <div class="toc-paginator" ng-class="tocRowHoverClass" ng-mouseenter="tocRowHoverClass = 'tocRowHover'" ng-mouseleave="tocRowHoverClass = ''"></div>
                                                    <div class="toc-outer" ng-class="tocRowHoverClass" ng-if="child.word_count">
                                                        <div class="lirow" ng-mouseenter="tocRowHoverClass = 'tocRowHover'" ng-mouseleave="tocRowHoverClass = ''">
                                                            <span>
                                                                <a id="{{key}}" class='link-to-preview' ng-click="contentPreview(child.page_file)">{{child.page_name}} ({{child.word_count}}) </a>
                                                            </span>                                               

                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div ng-if="data" class="toccontent-container-cont" style="float:left;width:77%;text-align: center;overflow: auto;">                                         
                                            <!--iframe id="content_preview_iframe2" ng-if="file_path" src="{{file_path}}" height="600" width="100%" frameborder="0" ></iframe--> 
                                            <iframe id='content_preview_iframe' src='templates/project/search_replace/previewIframeContent.html' height='600' width='100%' frameborder='0' ></iframe>
                                            <script>
                                                        var isPatternLink = false;
                                                                function setContentIntoIframe() {
                                                                    var content = angular.element(document.getElementById('project_preview')).scope().content;
                                                                    var filePath = filePath = angular.element(document.getElementById('project_preview')).scope().getActualPath;
                                                                    isPatternLink = filePath.split('#').length > 1 ? filePath.split('#')[1] : false;

                                                                    $('#content_preview_iframe').contents().find("#mathConfig").remove();
                                                                    $('#content_preview_iframe').contents().find("#mathHeader").remove();
                                                                    $('#content_preview_iframe').contents().find('.testContainer').html(content);
                                                                    var framewin = document.getElementById("content_preview_iframe").contentWindow;
                                                                    framewin.postMessage("true", "*");


                                                                    var frameRef = $('#content_preview_iframe').contents();
                                                                    setTimeout(function () {
                                                                        scrollToRef();
                                                                    }, 1500);
                                                                    var addImageTimestamp = (function () {
                                                                        var images = frameRef.find('img');

                                                                        $(images).each(function () {
                                                                            var timeStamp = new Date().getTime(),
                                                                                    thisElm = $(this),
                                                                                    srcWithTimeStamp = thisElm.attr('src') + '?' + timeStamp;
                                                                            thisElm.attr('src', srcWithTimeStamp);
                                                                        });
                                                                        setTimeout(function () {
                                                                            scrollToRef();
                                                                        }, 1500);
                                                                    })();

                                                                    var addVideoTimestamp = (function () {
                                                                        var videos = frameRef.find('video').find('source');

                                                                        $(videos).each(function () {
                                                                            var timeStamp = new Date().getTime(),
                                                                                    thisElm = $(this),
                                                                                    srcWithTimeStamp = thisElm.attr('src') + '?' + timeStamp;
                                                                            thisElm.attr('src', srcWithTimeStamp);
                                                                        });
                                                                        setTimeout(function () {
                                                                            scrollToRef();
                                                                        }, 1500);
                                                                    })();
                                                                    var link_id = angular.element(document.getElementById('project_preview')).scope().object_details.objects.id;
                                                                    $(".link-to-preview").removeClass("active");
                                                                    $('#' + link_id).addClass("active");
                                                                    getTheme();
                                                                }
                                                        function scrollToRef() {
                                                            if (isPatternLink) {
                                                                var frameRef = $('#content_preview_iframe').contents(),
                                                                        patternRef = frameRef.find('#' + isPatternLink),
                                                                        patternRefOffTop = patternRef.offset().top;
                                                                //setTimeout(function(){
                                                                frameRef.scrollTop(patternRefOffTop);
                                                                //},1500)
                                                            }
                                                        }

                                                        function getContent(file_name) {
                                                            angular.element(document.getElementById('project_preview')).scope().contentPreview(file_name);
                                                        }

                                                        function getTheme() {
                                                            var theme_location = angular.element(document.getElementById('project_preview')).scope().theme_location,
                                                                    frameElm = $('#content_preview_iframe').contents();
                                                            for (var i = 0; i < theme_location.length; i++) {
                                                                var cssStr = '<link rel="stylesheet" type="text/css" href=' + theme_location[i] + ' />';
                                                                frameElm.find('body').append(cssStr);
                                                            }
                                                        }
                                                        setTimeout(function () {
                                                            var win_ht = $(window).innerHeight();
                                                            var head_ht = $(".header-container").outerHeight();
                                                            var title_ht = $(".page-title").outerHeight();
                                                            var fin_ht = win_ht - head_ht - title_ht - 50;
                                                            $(".container.product-inner").height(fin_ht);
                                                            $("#content_preview_iframe").attr("height", fin_ht);
                                                            $(".toccontent-container").height(fin_ht);
                                                            $(document).on("click", ".link-to-preview", function () {
                                                                $(".link-to-preview").removeClass("active");
                                                                $(this).addClass("active");
                                                            });

                                                            $(document).on("click", ".viewport", function () {//Change viewport
                                                                $(".viewport").removeClass("active");
                                                                $(this).addClass("active");
                                                                setFrameDimension($(this).index(), fin_ht);
                                                            });
                                                        }, 1000);

                                                        function setFrameDimension(device, origHt) { //View ports
                                                            switch (device) {
                                                                case 0:
                                                                    $("#content_preview_iframe").attr({"height": origHt, "width": "100%"});
                                                                    break;

                                                                case 1:
                                                                    $("#content_preview_iframe").attr({"height": "768", "width": "1024"});
                                                                    break;

                                                                case 2:
                                                                    $("#content_preview_iframe").attr({"height": "600", "width": "800"});
                                                                    break;

                                                                case 3:
                                                                    $("#content_preview_iframe").attr({"height": "480", "width": "320"});
                                                                    break;
                                                            }
                                                        }

                                            </script>
                                        </div>


                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>                            
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </section>
        <!--SECTION ENDS HERE-->


        <!--FOOTER STARTS HERE-->
        <!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
        <!--FOOTER ENDS HERE-->

        <div class="clearfix"></div>

        <!--div ng-if="project_details.project_type_id==1">
            <div ng-controller="pxe"></div>
        </div>
        <div ng-if="project_details.project_type_id==2">
            <div ng-controller="epub"></div>
        </div-->        


    </div>
</div>



<style>
    [ng-cloak] {
        display: none;
    }
    * {
        box-sizing: border-box
    }

    .toccontent-container{
        float:left; width:20%;overflow: auto;box-shadow: inset -3px 0 3px rgba(0,0,0,.1); -webkit-box-shadow: inset -3px 0 3px rgba(0,0,0,.1); -moz-box-shadow: inset -3px 0 3px rgba(0,0,0,.1);   padding: 5px;
        /*background-color: rgba(0,0,0,0.05);*/ 
    }
    /*.toccontent-container ol{background: rgba(0,0,0,0.05) !important;}*/

    .live ol {
        margin:4px 0;
        border: 0 none transparent;
        padding: 0;
        background:#eee;
    }
    .live li {
        list-style:none;
        /*        margin: 1px;
                border: 1px solid #ddd;*/
        padding: 8px 8px 4px 20px;
        background: #fff;
    }
    .live .ui-sortable li{
        cursor: move;
    }
    .live input, .live .shadow input {
        margin: 0;
        border: 1px solid #ddd;
        padding: 1px;
        font: inherit;
        font-weight: bold;
        height:2em;
    }
    .live .ui-state-highlight {
        border: 1px solid #fc0;
        background: #ffe;
    }
    .live, .shadow {
        float: left;
        /*        width: 45%;*/
        margin-right: 5%;
    }
    .live .shadow {
        opacity: 0.7;
    }
    .live .debug {
        clear: both;
    }
    .live .debug textarea {
        width: 100%;
        height: 40em;
        font: 10px/13px monospace;
    }
    .live textarea, .live input {
        outline: none;
    }
    .live .pregnant {
        /*border: 1px solid #ddd;*/
    }
    .live .bg0 {
        background:#fcc;
    }
    .live .bg1 {
        background:#ffc;
    }
    .live .bg2 {
        background:#cfc;
    }
    .live .bg3 {
        background:#cff;
    }
    .live .bg4 {
        background:#ccf;
    }
    .live .bg5 {
        background:#fcf;
    }
    .live .minimized > ol > li {
        display:none;
    }
    .live .minimized > ol {
        border: 0 none transparent;
    }
    .live .toggle {
        border: 0 none transparent;
        background:transparent;
        width:2em;
        color:#aaa;
    }
    .live button {
        cursor: pointer
    }
    .lirow{
        background-color: none;
    }

    a.link-to-preview{cursor: pointer;}
    a.link-to-preview.active{font-weight: bold; text-decoration: underline;}

    .popupZone{
        border: 1px solid #000000; 
        padding: 10px 10px 0px 10px;  
        position: fixed; bottom:0px; 
        right: 0px; 
        max-height: 300px;
        min-width: 470px;
        overflow:scroll;
    }

    .progress-bar {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        color: #fff;
        text-align: center;
        background-color: #428bca;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
        box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
        -webkit-transition: width .6s ease;
        transition: width .6s ease;
        background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.15)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(0.75,rgba(255,255,255,0.15)),color-stop(0.75,transparent),to(transparent));
        background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-size: 40px 40px;
    }
</style>
