<div class="panel panel-default" ng-cloak>
    <div ng-if="showMoreIcon" class="panel-heading">Assets</div>
    <div class="">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="10%">Type</th>
                    <th width="45%">Name</th>
                    <th width="10%">Usage</th>
                    <th width="35%">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="asset in assetList">
                    <td><label class="label-type a-img">{{asset.object_type_name}}</label></td>
                    <td>{{asset.title ? asset.title : asset.asset_name }}<span ng-if="asset.is_global==1" class="type-code ng-binding">GLOBAL</span></td>
                    <td>-</td>
                    <td>{{asset.created_at | customDateFormat:'dd/MM/yyyy hh:mma'}}</td>
                </tr>
                <tr ng-if="assetList==0">
                    <td colspan="4" style="text-align: center;">{{_lang['NO_RECORD']}}</td>
                </tr>
                <tr ng-if="showMoreIcon && assetList.length>5">
                    <td colspan="4" style="text-align: right;"><a class="btn btn-primary btn-xs" href="#/project_asset_usage_more/{{project.id}}/assets">More</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>