<div class="panel panel-default" ng-cloak>
    <div ng-if="!showMoreIcon" class="pull-right">
        <ticket-status-count project-id="project_id"></ticket-status-count>
    </div>
    <div ng-if="showMoreIcon" class="panel-heading">Issues
        <div class="pull-right db-action">
            <ticket-status-count project-id="project_id"></ticket-status-count>
        </div>
    </div>
    <div class="">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="15%">Status</th>
                    <th width="40%">Subjects</th>
                    <th width="10%">Severity</th>
                    <th width="10%">Assigned To</th>
                    <th width="10%">Comments</th>
                    <th width="15%">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ticket in ticketList">
                    <td><label class="db-link open-status">{{ticket.status}}</label></td>
                    <td>{{ticket.issue_description}}</td>
                    <td>{{ticket.type}}</td>
                    <td>{{ticket.touser}}</td>
                    <td>{{ticket.comment_count}}</td>
                    <td>{{ticket.updated_at}}</td>
                </tr>
                <tr ng-if="ticketList == 0">
                    <td colspan="6" style="text-align: center;">{{_lang['NO_RECORD']}}</td>
                </tr>
                <tr ng-if="showMoreIcon && ticketList.length > 5">
                    <td colspan="6" style="text-align: right;"><a class="btn btn-primary btn-xs" href="#/project_asset_usage_more/{{project.id}}/issues">More</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>