<div class="panel panel-default" ng-cloak>
    <div ng-if="showMoreIcon" class="panel-heading">Patterns</div>
    <div class="">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="45%">Name</th>
                    <th width="30%">Usage</th>
                    <th width="25%">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pattern in patternList">
                    <td>{{pattern.title}}</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr ng-if="patternList==0">
                    <td colspan="4" style="text-align: center;">{{_lang['NO_RECORD']}}</td>
                </tr>
                <tr ng-if="showMoreIcon && patternList.length>5">
                    <td colspan="4" style="text-align: right;"><a class="btn btn-primary btn-xs" href="#/project_asset_usage_more/{{project.id}}/patterns">More</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>