<div class="db-blk" ng-cloak>
    <label class="totaluser">Total Users</label>
    <div class="user-number">{{userCount}}</div>
    <div class="db-blk-div"></div>
</div>
<div class="db-blk" ng-cloak>
    <label class="totalassets">Total assets</label>
    <div class="user-number">{{assetCount}}</div>
    <div class="db-blk-div"></div>
</div>
<div class="db-blk" ng-cloak>
    <label class="totalwidgets">Total Widgets</label>
    <div class="user-number">{{widgetCount}}</div>
    <div class="db-blk-div"></div>
</div>
<div class="db-blk" ng-cloak>
    <label class="totalpatterns">Total Patterns</label>
    <div class="user-number">{{patternCount}}</div>
    <div class="db-blk-div"></div>
</div>
<div class="db-blk" ng-cloak>
    <label class="totalissues">Total Issues</label>
    <div class="user-number">{{ticketCount}}</div>
</div>