<div class="panel panel-default" ng-cloak>
    <div ng-if="showMoreIcon" class="panel-heading">Users</div>
    <div class="">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="75%">Username</th>
                    <th width="25%">Role</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="user in userList">
                    <td>{{user.username}}</td>
                    <td>{{user.role.name|capitalize_first}}</td>
                </tr>
                <tr ng-if="userList == 0">
                    <td colspan="2" style="text-align: center;">{{_lang['NO_RECORD']}}</td>
                </tr>
                <tr ng-if="showMoreIcon && userList.length>5">
                    <td colspan="2" style="text-align: right;"><a class="btn btn-primary btn-xs" href="#/project_asset_usage_more/{{project.id}}/users">More</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>