<div class="panel panel-default" ng-cloak>
    <div ng-if="showMoreIcon" class="panel-heading">Widgets</div>
    <div class="">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th width="50%">Usage</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="widget in widgetList">
                    <td>{{widget.name}}</td>
                    <td>{{widget.widget_usage}}</td>                    
                </tr>
                <tr ng-if="widgetList==0">
                    <td colspan="3" style="text-align: center;">{{_lang['NO_RECORD']}}</td>
                </tr>
                <tr ng-if="showMoreIcon && widgetList.length>5">
                    <td colspan="3" style="text-align: right;"><a class="btn btn-primary btn-xs" href="#/project_asset_usage_more/{{project.id}}/widgets">More</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>