@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.table-view {
  .custom-control {
    &-label {
      @include position (relative);
      @include top(4px);
    }
  }

  &-header {
    @include border-indv('top', 1px, solid, $dark);
    @include position(sticky);
    @include top(0);
    @include z-index(1);
    @include bgcolor($white);
    height: 28px;

    h2,
    .h-text {
      @include font-size(16);
      @include margin-indv('bottom', 6px);
      line-height: 1.25rem;
    }

    .th {
      @include padding(0 15px);
      @include bgcolor($white);
    }

    .thead{
      @include bgcolor($white);
    }

  }

  .select-all-child {
    @include left(-65px);
    @include top(1px);
  }

  .w-95 {
    width: 95%;
  }

  .card {
    @include border-none(none);

    &-header {
      @include padding(0);
      @include bgcolor(transparent);
      @include border-none(none);
      @include border-indv('top', 1px, solid, $dark);

      .last-node {
        @include margin-indv('right', 3px);
        @include padding-indv('left', .062rem);
        text-align: center;
        width: 18px;


        &:before {
          @include bgcolor($primary);
          @include font-color($primary);
          @include border-radius(50%);
          @include display(inline-block);
          @include border-all(1px, solid, $primary);
          content: '';
          width: 10px;
          height: 10px;
        }

        &.collapsed {
          &:before {
            @extend .last-node, :before;
          }
        }
      }

      .btn {
        &.btn-toggle {
          @include padding(0);
          @include bgcolor(transparent);
          @include margin-indv('right', 5px);

          &:before {
            @include bgcolor($primary);
            @include font-color($white);
            @include border-radius(50%);
            @include border-all(1px, solid, $primary);
            @include display(inline-block);
            @include text-align(center);
            line-height: 14px;
            content: '-';
            width: 16px;
            height: 16px;
          }

          &.collapsed {
            &:before {
              @include bgcolor($white);
              @include font-color($darkest);
              @include border-all(1px, solid, $darkest);
              @include border-radius(50%);
              @include display(inline-block);
              @include text-align(center);
              line-height: 14px;
              content: '+';
              width: 16px;
              height: 16px;
            }
          }
        }

        &.btn-sm {
          @include font-size(14);
          @include padding(2px 10px);

          &.btn {
            &-edit {
              img {
                @include position (relative);
                @include top(-1px);
              }
            }
          }

        }

        &.last-node {
          @include padding(0 6px);

          &:before {
            @include bgcolor($primary);
            @include font-color($primary);
            @include border-radius(50%);
            @include border-all(1px, solid, $primary);
            width: 5px;
            height: 5px;
            content: '';
          }

          &.collapsed {
            &:before {
              @include bgcolor($primary);
              @include font-color($primary);
              @include border-radius(50%);
              @include border-all(1px, solid, $primary);
              width: 5px;
              height: 5px;
              content: '';
            }
          }
        }

        &-node {
          @include padding(0 5px);
          @include bgcolor(transparent);
          @include text-align(left);
          // max-width: 80%;
          word-break: break-word;
          white-space: normal;

          &.full-width-node {
            max-width: 87%;
          }

          &.mark {
            @include bgcolor(transparentize($warning, .5));
          }


        }
      }

      @supports (-ms-ime-align: auto) {
        .btn {
          &.btn-toggle {
            &:before {
              line-height: 12px;
            }

            &.collapsed {
              &:before {
                line-height: 12px;
              }
            }
          }
        }
      }

      .node {
        &-title {
          @include font-size(18);
          @include padding(0);

          .controls {
            .btn {
              &-icon {
                @include padding(5px 5px);
                height: 24px;
              }
            }

            .icon-ico-expand {
              &:before {
                @extend .font-bold;
                @include font-size(5);
                @include position (relative);
                @include top(-5px);
              }
            }
          }
        }
      }

    }

    &-body {
      @include padding(0);

      .card {
        @include border-none(none);

        .card-body {
          @include padding(0);
        }
      }
    }

    .tbody {
      .tr {
        div[class^='col-'] {
          @include padding(0px 5px 0 15px);
          // @include border-indv('left', 1px, solid, $dark);

          &.document-type {
            @include font-size(13);
            @include font-color($darkest-xxxx);
            @include padding-indv('top', 10px);
            text-transform: uppercase;

          }

          &:first-child {
            @include border-none(none);
            @include padding-indv('left', 0);
          }

          &.col-auto {
            &.adjust-last-col {
              width: 55px;
            }
          }
        }

        &.active {
          @include bgcolor($lighter);

          .btn {
            &-node {
              @include font-color($primary);
            }
          }
        }
      }

      .td{
        @include padding(0 15px);
      }
    }

    .associated {
      @include padding-indv('left', 27px);

      &-file {
        @include border-all(1px, solid, $dark);
        @include padding(3px 10px 3px 7px);
        @include border-radius(5px);
        @include display(inline-block);
        @include margin-all(0 0 5px 3px);
        max-width: 250px;

        .icon {
          @include padding-indv('right', 3px);
        }
      }

      &-destination {
        @include position(relative);
        @include padding(3px 10px 3px 20px);
        @include margin-indv('left', 4px);
        min-height: 22px;

        .icon {
          @extend %position-absolute;
          @include left(0);
          @include top(2px);
        }
      }

    }


  }

  &>.card-header {
    @include border-none(none);
  }

  // Tree Accordion
  &.table {
    &-tree {
      .card {
        @include border-none(none);

        &-header {
          @include border-none(none);
        }

        .tbody {
          .tr {
            @include padding(3px 0);

            div[class^='col-'] {
              @include border-none(none);
            }
          }
        }

        .node-status {
          @include padding-indv('right', 10px);

          .tooltip {
            width: 22px;

            &.left {
              &:after {
                @include top (3px);
                @include right (140%);
              }
            }

            &.top-right {
              &:after {
                @include left(-280%);
              }
            }
          }

          .btn {
            @include font-size(12);
            @include font-color($darkest-xxxx);

            .icon-ico-garbage {
              @include position(relative);
              @include top(2px);
            }
          }

          .icon {
            width: 12px;
            height: 12px;
          }

          .more-option {
            .btn {
              @include font-size(14);

              &:hover {
                @include font-color($white);
              }
            }
          }
        }
      }
    }
  }

  &.tree-builder {
    .node {
      &-text {
        @include position(relative);
        @include top(3px);
        @include margin-indv('left', 5px);

        span[contenteditable="true"] {
          @include float(left);
          @include font-size(14);
          min-width: 90px;
          max-width: 36%;

          @media screen and (max-width: $xxlarge) {
            max-width: 32%;
          }

          &:focus {
            @include bgcolor(rgba(0, 110, 254, .1));
            outline: none;
          }

          &:first-child {
            min-width: 170px;
          }

          &.human-code {
            &:empty {
              &:before {
                @include display(inline-block);
                @include font-color($secondary);
                content: 'Human Coding Scheme';
              }

              &:focus {
                &:focus::before {
                  @include font-color($darkest);
                  content: 'Human Coding Scheme';
                }
              }
            }
          }

          &.full-statement {
            &:empty {
              &:before {
                @include display(inline-block);
                @include font-color($secondary);
                content: 'Statement';
              }

              &:focus {
                &:focus::before {
                  @include font-color($darkest);
                  content: 'Statement';
                }
              }
            }
          }

        }
      }
    }
    .indv-node{
        @include margin-indv('top', 2px);
    }
}

    .card {
      

      &-header {
        @include border-indv('top', 0, solid, $dark);
        @include border-indv('bottom', 1px, solid, $dark);

        .template_tiltle {
          @include font-size(14);
        }

        .controls {
          @extend %transition-fade;
          @include margin-indv('left', 10px);

          .btn-icon {
            @include font-size(12);
          }
        }

        &:hover,
        &:focus {
          @include bgcolor(transparent);

          .controls {
            @extend %transition-fade-active;
          }
        }

        &.activated {
          .controls {
            @extend %transition-fade-active;

          }
        }

        .tbody {
          .tr {
            &.active {
              // @include bgcolor(transparent);
              @include bgcolor($lighter);

              .btn {
                &-node {
                  @include font-color($black);
                }
              }
            }
          }
        }
      }
    }
  }

.indv-node {
    @include margin-indv('top', 3px);
  }
.accordion {
  &.tree {
    .drag-title {
      @include font-size(14);
      line-height: 1.5;

      &:before,
      &:after {
        @include padding-indv('right', 10px);
      }
    }
  }
}

.select {
  &-node {
    @include font-size(14);
    @include font-color($secondary);
    max-width: 190px;
  }
}

.auto-complete-container{
  @include margin-indv('top', -4px);
  @include margin-indv('bottom', 5px);
  width: 135px;
}

.overflow-x{
  overflow-x: hidden;
}