<!-- outer node -->
<ng-container *ngIf="viewLocation === 'create-project'">
  <button id="expandCollapse" title="Collapse" class="btn btn-clear px-2 py-0 mb-2"
    (click)="updateExpandCollapseButton();">
    <em class="fa fa-compress mr-2"></em>Collapse</button>
</ng-container>

<ng-template #branch let-treeNodes>
  <div *ngFor="let item of treeNodes;let index= index">
    <ng-container *ngTemplateOutlet="leaf; context: {item: item,siblings: treeNodes, index: index+1}"></ng-container>
  </div>
</ng-template>

<!-- leaf node -->
<ng-template let-item="item" let-siblings="siblings" let-index="index" #leaf>
  <div class="table-view" [ngClass]="viewLocation === TAXONOMY_BUILDER?'tree-builder':'table-tree'">
    <div class="card" [class.shifted]="item.reorder === 1" [class.pasted]="item.paste===1" role="table"
      [ngClass]="viewLocation === TAXONOMY_BUILDER?'':'border-0'">
      <div class="card-header" id="headingOne_{{item.id}}"
        [ngClass]="[item.children?.length===0?'last-child-node':'', item.id===selectedNodeId && viewLocation === TAXONOMY_BUILDER? 'activated':'']">
        <div class="tbody" role="rowgroup">
          <div class="row mx-0 tr justify-content-between" role="row"
            *ngIf="isFilterApplied ? item.isSearchResult : true"
            [ngClass]="[selectedNodeId === item.id && copyPasteFlag===0 ? 'active':'', copyPasteFlag===1 && item.cut===1 ? 'cut':'',
            (viewLocation === PUBLIC_REVIEW_LOCATION && (item.hasComment === undefined) && (allCommented===false)) ? 'cursor-deny dim':'',viewLocation === 'create-project'?'pl-5':'']"
            [class.dim]="isAllNode===false  ? '': viewLocation === PROJECT_AUTH_LOCATION && item.project_enabled == 0">
            <div role="cell" class="w-100 d-flex justify-content-between align-items-start"
              [style.padding-left]="calculatePadding(item.level)">
              <div class="d-flex justify-content-start align-items-start p-0 indv-node"
                [ngClass]="[viewLocation === PROJECT_AUTH_LOCATION? (reOrder?'col':'col'):(viewLocation === CUSTOM_VIEW_LOCATION) || (viewLocation === TAXONOMY_BUILDER)?'col-lg-12 col-xl-12 py-1':'col']">

                <button *ngIf="showExpandBtn(item)" class="btn btn-toggle" [ngClass]="[item.expand?'':'collapsed']"
                  id="{{ item.id }}-atag" (click)="item.expand = !item.expand"
                  [attr.aria-label]="('click to ' + (item.expand ? 'collapse ' : 'expand ') + 'node- ' + item?.human_coding_scheme + ' ' + item?.full_statement)">
                </button>
                <span *ngIf="showBullet(item)" [ngClass]="[item.expand?'':'collapsed', showBullet(item)?'last-node':'']"
                  class="float-left pl-0" id="{{ item.id }}-atag">
                </span>
                <button *ngIf="viewLocation !== TAXONOMY_BUILDER && !item.isOrphanLabel" class="btn btn-node w-95 p-0"
                  id="{{item.id}}-{{'node'}}" [attr.aria-pressed]="selectedNodeId === item.id && copyPasteFlag===0"
                  (click)="onNodeSelected(item);selectedNodeId = item.id"
                  [ngStyle]="calculateStyle(item?.custom_view_data)"
                  [ngClass]="{'full-width-node': viewLocation === CUSTOM_VIEW_LOCATION, 'mark':item.isHighlighted}"
                  [attr.aria-label]="'node- ' + item?.human_coding_scheme + ' ' + item?.full_statement + ((selectedNodeId === item.id && copyPasteFlag===0) ? '': ', click to get node details')">
                  <span id="{{ item.id }}_html-content">
                    <ng-container *ngIf="viewLocation === CUSTOM_VIEW_LOCATION">
                      <span class="pr-1 d-inline">{{getCustomViewTitle(item?.custom_view_data)}}</span>
                    </ng-container>
                    <ng-container
                      *ngIf="viewLocation !== CUSTOM_VIEW_LOCATION && viewLocation !== TAXONOMY_BUILDER && viewLocation !== 'create-project'">
                      <span class="pr-1 d-inline">{{item.human_coding_scheme | slice:0:charLimit}}</span>
                      <span [mathJax]="item.full_statement_html ? item.full_statement_html: item.full_statement"
                        class="tree-long-field d-inline">
                      </span>
                      <button class="btn btn-icon tooltip right font-1x position-relative" id="externalassociationBtn"
                        [attr.aria-label]="'External Association'" data-tooltip="External Association"
                        *ngIf="item.isAssociationNode && item.association_type !== 'isChildOf'">
                        <img alt="External Association info" class="img-fluid" src="assets/images/ic_warning.png">
                      </button>
                    </ng-container>
                  </span>
                </button>
                <p class="font-bold font-3x mb-0" id="{{item.id}}-{{'node'}}" *ngIf="item.isOrphanLabel">
                  {{item.human_coding_scheme | slice:0:charLimit}}
                  {{item.full_statement_html ? item.full_statement_html: item.full_statement}}
                </p>

                <div *ngIf="viewLocation === TAXONOMY_BUILDER && !item.isOrphanLabel" id="{{item.id}}-{{'node'}}"
                  class="node-text w-100" (click)="onNodeSelected(item);selectedNodeId = item.id">
                  <ng-container>
                    <p class="mb-0">
                      <span contenteditable="true" *ngIf="item.parent || item.is_document"
                        (blur)="blurDocumentTitle(item,$event);" (keyup)="onKeyUp($event);"
                        (keypress)="onKeyPress(item,$event,'document');" (focus)="onFocus(item);onNodeSelected(item)"
                        aria-multiline="false" role="textbox" aria-label="Document title" tabindex="0">{{ item.document_title
                        ? item.document_title : item.title }}</span>
                      <span contenteditable="true" class="human-code" id="{{ item.id }}-span"
                        *ngIf="!item.parent && !item.is_document" (blur)="blurHumanCodingScheme(item,$event);"
                        (keyup)="onKeyUp($event);" (keypress)="onKeyPress(item,$event,'humanCodeScheme');"
                        (focus)="onFocus(item);onNodeSelected(item)" aria-multiline="false" role="textbox"
                        aria-label="Human coding scheme" tabindex="0">{{
                        item.human_coding_scheme }}</span>
                      <span *ngIf="!item.parent" aria-hidden="true" class="float-left px-2">:</span>
                      <span contenteditable="true" class="full-statement" *ngIf="!item.parent && !item.is_document"
                        (blur)="blurFullStatement(item,$event);" (keyup)="onKeyUp($event);"
                        (keypress)="onKeyPress(item,$event,'fullStatement');"
                        (focus)="onFocus(item);onNodeSelected(item)" aria-multiline="false" aria-required="true"
                        role="textbox" aria-label="statement" tabindex="0">{{
                        item.full_statement }}</span>
                      <span class="controls">
                        <button class="btn btn-icon tooltip top lg position-relative d-inline-block"
                          data-tooltip="Add new node" id="{{ item.id }}-add"
                          *ngIf="isAddNode && (item.level!==levelLimit || levelLimit===-1)" (click)="addNode(item)"
                          [attr.aria-label]="'Add new node'">
                          <em class="fas fa-plus"></em>
                        </button>
                        <button class="btn btn-icon tooltip top lg position-relative d-inline-block" id="{{ item.id }}-delete"
                          data-tooltip="Delete node" *ngIf="isDeleteNode && !item.parent" (click)="deleteNode(item)"
                          [attr.aria-label]="'Delete node'"><em class="icon-ico-garbage"></em></button>
                      </span>

                      <span class="float-right p-0 text-right auto-complete-container"
                        *ngIf="viewLocation =='taxonomy_builder'">
                        <span class="template_tiltle" *ngIf="item.template_tiltle">{{ item.template_tiltle }}</span>
                        <span class="template_tiltle"
                          *ngIf="(item.parent || item.is_document) && !item.template_tiltle">Document</span>
                        <div class="dropdown" *ngIf="!item.template_tiltle && (!item.parent && !item.is_document)">
                          <app-auto-complete [listingObj]="item.nodetypeList"
                            (selectedObject)="selectMetaData($event, item)" [selectType]="'single'" [canDelete]="false"
                            [uniqueId]="'node_type_id'" [propName]="'title'" [index]="item.id" [treeView]="true"
                            [defaultSelection]="item.metadataType? getDefaultSelection(item.metadataType) : null"
                            [autoCompleteTitle]="autoCompleteTitle" [isMandatory]="false" [isLableShow]="false"
                            #autoCompleteNodetype (clickOutside)="onClickedOutside($event, item.id)">
                          </app-auto-complete>
                        </div>

                      </span>
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="col-auto" *ngIf="viewLocation !== CUSTOM_VIEW_LOCATION && viewLocation !== TAXONOMY_BUILDER">
                <ul class="list-inline mb-0 node-status pr-2">

                  <li class="list-inline-item mr-1 compliance">
                    <span *ngIf="item.compStatus!==null && showComplaince"
                      class="tooltip left position-relative d-inline-block"
                      [attr.aria-label]="item.compStatus===0 ? 'Node Compliant' : item.compStatus===1 ? 'Node partially compliant' : 'Node not compliant' "
                      [attr.data-tooltip]="item.compStatus===0 ? 'Node Compliant' : item.compStatus===1 ? 'Node partially compliant' : 'Node not compliant' ">
                      <img *ngIf="item.compStatus===0" src="assets/images/ic_complete.png" alt="Node compliant"
                        class="img-fluid ic-compliance icon" [attr.aria-label]="'Node compliant'" />
                      <img *ngIf="item.compStatus===1" src="assets/images/ic_not_complete.png"
                        alt="Node partially compliant" [attr.aria-label]="'Node partially compliant'"
                        class="img-fluid ic-compliance icon" />
                      <img *ngIf="item.compStatus===2" src="assets/images/ic_not_started.png" alt="Node not compliant"
                        class="img-fluid ic-compliance icon" [attr.aria-label]="'Node not compliant'" />
                    </span>

                    <span *ngIf="!item.isCommented && showNoComment && allCommented && item.is_document === 0"
                      class="tooltip top top-right position-relative d-inline-block"
                      [attr.aria-label]="'Node has issue'" data-tooltip="Node has issue">
                      <img src="assets/images/ic_warning.png" alt="Node has issue" class="img-fluid ic-edit" />
                    </span>

                    <span *ngIf="item.isCommented" class="tooltip top top-right position-relative d-inline-block"
                      [attr.aria-label]="'Node has comment'" data-tooltip="Node has comment">
                      <img src="assets/images/ic_msg.png" alt="Node has comment" class="img-fluid ic-edit ml-1" />
                    </span>
                  </li>
                  <ng-container *ngIf="reOrder && !item.isOrphanLabel">
                    <li class="list-inline-item mr-1">
                      <button class="btn btn-icon tooltip top top-right position-relative d-inline-block" id="pastenodeBtn"
                        [attr.aria-label]="'Paste node'" data-tooltip="Paste node"
                        *ngIf="copyPasteFlag===1 && selectedNodeId !== item.id && item.cut===0"
                        (click)="copyPasteFlag = 0;pasteTargetElement(item,siblings);">
                        <em class="fas fa-paste"></em> </button>
                      <ng-container *ngIf="item.is_document !== 1 && (item?.id !== firstNode?.id)">
                        <button class="btn btn-icon tooltip top top-right position-relative d-inline-block"
                          [attr.aria-label]="'Cut node'" data-tooltip="Cut node" *ngIf="copyPasteFlag===0"
                          (click)="copyPasteFlag = 1;selectedNodeId = item.id;copySourceElement(item,siblings);">
                          <em class="fas fa-cut"></em> </button>
                        <button class="btn btn-icon tooltip top top-right position-relative d-inline-block" id="moveupwardBtn"
                          [attr.aria-label]="'Move upward'" data-tooltip="Move upward"
                          (click)="reOrderSiblings(siblings, -1, item.id);"
                          *ngIf="siblings.length !== 1 && index !== 1">
                          <em class="fas fa-arrow-up"></em>
                        </button>
                        <button class="btn btn-icon tooltip top top-right position-relative d-inline-block" id="movedownwardBtn"
                          [attr.aria-label]="'Move downward'" data-tooltip="Move downward"
                          (click)="reOrderSiblings(siblings, +1, item.id);"
                          *ngIf="siblings.length !== index && siblings.length !== 1">
                          <em class="fas fa-arrow-down"></em>
                        </button>
                      </ng-container>
                    </li>
                  </ng-container>
                  <li class="list-inline-item" *ngIf="isAddNode && item.is_editable===1">
                    <button type="button" class="btn btn-icon tooltip top top-right" id="addNodeBtn" data-tooltip="Add node" 
                      [attr.aria-label]="'Add node'" (click)="addNode(item)">
                      <em class="fas fa-plus"></em>
                    </button>
                  </li>
                  <li class="list-inline-item"
                    *ngIf="(isDeleteNode || isAddAssociations) && !item.parent && item.is_editable===1 && !preventEdit">

                    <span class="more-option dropdown"
                      [ngStyle]="{'display':item.is_document===1 && !isDeleteNode? 'none' : 'block' }">
                      <button aria-expanded="false" aria-haspopup="true" class="btn btn-icon tooltip top top-right" id="configureBtn"
                        data-tooltip="Configure" [attr.aria-label]="'Configure'" data-reference="parent"
                        data-toggle="dropdown" type="button">
                        <em class="icon-icon-more-horiz"></em>
                      </button>

                      <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                        <button *ngIf="item.is_document!==1 && isAddAssociations" type="button"
                          class="btn btn-clear dropdown-item" id="taxonomyAssociationBtn" data-toggle="modal" (click)="addAssociation(item)"
                          data-target="#taxonomyAssociation">Add from taxonomy<span class="sr-only">Opens in a new dialog</span>
                        </button>
                        <button *ngIf="isDeleteNode" type="button" class="btn btn-clear dropdown-item" id="delnodeBtn"
                          (click)="deleteNode(item)" aria-label="Delete node">Delete
                          this node</button>
                      </div>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="{{item.id}}" [attr.aria-labelledby]="'headingOne_'+index">
        <div class="card-body">
          <div *ngIf="showChildrenContainer(item)">
            <ng-container *ngTemplateOutlet="branch; context: { $implicit : item.children}"></ng-container>
          </div>
        </div>
      </div>
    </div>

  </div>

</ng-template>

<!-- trigger outer node -->
<ng-container *ngTemplateOutlet="branch; context:{ $implicit: treeNodes}">
</ng-container>
