<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<div class="col-12 pr-0 d-flex "
  [ngClass]="{'flex-column':isNewLine, 'pl-1':!customCol, 'pl-0':(viewLocation==='acmt-search' && customCol), 'align-items-center':!isNewLine}">
  <div class="p-0 pr-1" *ngIf="showLabel" [ngClass]="viewLocation==='acmt-search'?'col-3 col-xl-2':'col-auto'">
    <p class="m-0 font-bold" id="{{'dropdownlabel'+id}}">{{label | titlecase}}
      <span class="mandatory" aria-hidden="true" *ngIf="isMandatory">*</span>
    </p>
  </div>
  <div class="px-0" [ngClass]="viewLocation==='acmt-search'? (customCol?'col-12':'col-9 col-xl-10') :'col'">
    <div class="dropdown show" (clickOutside)="onClickOutSide($event)">
      <ng-container>
        <div class="d-flex align-items-center justify-content-start"
          [ngClass]="{'mr-2': (viewLocation===SEARCH_LOCATION), 'ml-1': (viewLocation===DATATABLE_LOCATION)}">

          <button type="button" *ngIf="buttonType==='button'" [attr.aria-expanded]="true" aria-haspopup="true"
            class="cursor-pointer custom-select select-node d-inline-flex"
            [ngClass]="viewLocation==='acmt-search'?'lg-custom-select':''" id="{{'btn'+id}}"
            [attr.aria-describedby]="'dropdownlabel'+id" title="{{selectedData[uniqueProp]}}"
            (mousedown)="$event.stopPropagation()" (click)="toggleDropdown();">
            <span class="trimmed text-truncate">
              {{selectedData[uniqueProp]}}
            </span>
          </button>

          <button type="button" *ngIf="buttonType==='icon'" [attr.aria-expanded]="true" aria-haspopup="true"
            class="btn-icon cursor-pointer filter" id="{{'btn'+id}}" title="{{label}}"
            [attr.aria-label]="'filter by '+ label" (click)="toggleDropdown();">
            <em class="fas fa-filter filter-button"></em>
          </button>
        </div>

        <div [attr.aria-labelledby]="'btn'+id" class="dropdown-menu px-0 pt-0" id="{{'dropdownpanel'+id}}"
          [ngClass]="[showDropdown ? 'show':'' , viewLocation==='acmt-search'?'w-100': isNewLine ? 'dropdown-menu-left' :'dropdown-menu-right']" (mousedown)="$event.stopPropagation()">

          <div class="col-12 p-0">
            <span class="search-icon position-absolute">
              <img src="assets/images/search-small.gif" class="img-fluid ic-search" alt="search" />
            </span>
            <label for="{{id+'searchBox'}}" class="sr-only">Search</label>
            <input type="text" placeholder="Search" autocomplete="off" [(ngModel)]="searchKeyword"
              class="form-control search-inputfield position-relative" id="{{id+'searchBox'}}"
              (keyup)="onSearch(uniqueProp)">
            <button type="button" class="cursor-pointer search-clear p-0 position-absolute" aria-label="Clear search"
              (click)="onClearSearchText()" [hidden]="searchKeyword?.length<1"
              [disabled]="searchKeyword?.length<1">&times;</button>
          </div>

          <div class="col-12 p-2 search__options d-flex justify-content-between align-items-center mb-2"
            *ngIf="data && data.length > 0">
            <div class="col-auto p-0">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" id="{{'selectall'+id}}" class="custom-control-input" [checked]="isAllSelected"
                  (click)="doCheckBoxesSelection(!isAllSelected)">
                <label for="{{'selectall'+id}}" class="custom-control-label d-flex">
                  <span class="trimmed text-truncate" title="">{{isAllSelected ? 'Deselect' : 'Select'}} All</span>
                </label>
              </div>
            </div>

            <div class="col-auto p-0">
              <button type="button" id="{{'clear'+id}}" class="btn btn-cancel btn-sm text-underline"
                (click)="clearAllSelect();addSelection(true);">Clear</button>
              <button type="button" id="{{'select'+id}}" class="btn btn-primary btn-sm"
                (click)="addSelection(true)">Apply</button>
            </div>
          </div>

          <div class="dropdown-overflow px-2">
            <ng-container *ngIf="data && data.length < 1">
              <p class="pt-2 px-2 mb-0">No records found</p>
            </ng-container>
            <ng-container *ngIf="data && data.length > 0">
              <div class="custom-control custom-checkbox mb-1" *ngFor="let option of data;let index=index;">
                <input type="checkbox" [checked]="option?.is_selected===1" class="custom-control-input"
                  [attr.id]="option[uniqueProp]?.split(' ').join('-')+'-'+index+'_'+id" 
                  (click)="onOptionSelect(option)">
                <label class="custom-control-label d-flex"
                  for="{{option[uniqueProp]?.split(' ').join('-')+'-'+index+'_'+id}}">
                  <span class="text-truncate" title="">{{option[uniqueProp]}}</span>
                </label>
              </div>
            </ng-container>
          </div>

        </div>
      </ng-container>
    </div>
  </div>
</div>
