//@import "abstracts/variables";
//@import "abstracts/mixins";
//@import "abstracts/bp";
@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/abstracts/mixins";
@import "../../assets/scss/abstracts/bp";

.search{
    &-clear{
        @include top(4px);
        @include right(9px);
        @include z-index(2);
    }

    &-inputfield{
        @include border-radii(4px, 4px, 0, 0);
        @include border-none(none);
        @include border-indv('bottom', 1px, solid, $darker);
        @include z-index(1);
    }

    &__options{
        @include bgcolor($lightest);
    }

    &-icon{
        @include z-index(2);
    }
}

.dropdown{
    &-menu{
        width: 20rem;

        .btn-cancel{
            &:hover,
            &:focus{
                @include bgcolor(transparent);
            }
        }

        &-right{
            @include right(7px);
        }
    }

    .filter{
        @include font-size(9);
        @include font-color($primary);
        @include padding-indv('top', 5px);
        @include padding-indv('bottom', 3px);
        transition: visibility .5s, opacity .5s linear;
        opacity: 0;

        &:hover,
        &:focus{
            @extend %transition-fade-active;
        }
    }
}

.select-node{
    &.custom-select{
        @include padding(.275rem 1.75rem .175rem .375rem);
        height: 30px;

        @include media( "screen", ">minXxxlarge"){
            min-width: 103px;
        }
        @include media( "screen", "<maxXxxlarge"){
            max-width: 75px;
        } 
        &.lg-custom-select{
            height: 38px;
            @include media( "screen", ">minXxxlarge"){
                min-width: 100%;
            }
            @include media( "screen", "<maxXxxlarge"){
                min-width: 100%;
            }
        }
    }
    
}
