<div class="container login" ng-controller="LoginController as vm">
    <div class="row">
        <div class="col-md-6">
            <img src="images/student1.jpg" alt="student">
        </div>
        <div class="col-md-6">
                <h3>Sign in to your account</h3>
                <form name="form" ng-submit="vm.login()" role="form">
                    <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
                        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                    </div>
                    <div class="form-actions">
                        <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
                        <div class="row signuplink">
                            <div class="col-md-6">
                                <h5>Don't have an account?</h5>
                            </div>
                            <div class="col-md-6">
                                <a href="#!/register" class="btn btn-default">Get started</a>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div> 
</div>
