<div class="container">
  <div class="row acmtp">
    <div class="col-md-6">
      <h2>ACMT Projects</h2>             
    </div>
    <div class="col-md-6">
        <button class="btn btn-success pull-right">Create New</button> 
    </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-md-4">
        <h4>Name: EDC Import 123&nbsp;<i class="fa fa-heart-o" aria-hidden="true"></i></h4>
        <div class="row">
          <div class="col-md-6">
            <p>Created By: </p>
          </div>
          <div class="col-md-6">
            Created Date: 
          </div>
        </div> 
        <div class="row">
            <div class="col-md-6">
              <p>Description: </p>
            </div>
            <div class="col-md-6">
              Updated: 
            </div>
          </div>                
      </div>
      <div class="col-md-4">
          <p>Workflow: Test Workflow</p> 
      </div>
      <div class="col-md-4 pull-right">
          <div><a href="#" class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Project</a> </div>
          <div><a ui-sref="taxonomy-tree" class="btn btn-default"><i class="fa fa-picture-o" aria-hidden="true"></i>
            Manage Taxonomy</a></div>
          <div><a href="#" class="btn btn-default"><i class="fa fa-cog" aria-hidden="true"></i>Set Up</a></div>
          <div><a href="#" class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a></div>

      </div>
    </div>
</div>