<ng-container *ngIf="currentStep === 2">
  <div class="row justify-content-center">

    <div class="col-md-11 col-lg-10 col-xl-8 step">
      <section class="row justify-content-between align-items-center taxonomies-creation">
        <div class="col-9">
          <h3 class="font-bold">How would you like to proceed?</h3>
        </div>

        <div class="col-3 text-right step--count">
          <p class="mb-0 font-bold">{{ 'Step '+currentStep+' of 3' }}</p>
        </div>

        <div class="col">
          <p>Select the correct option below and click on "Continue"</p>
        </div>
        <div class="col-12">
          <p class="mb-0">Field marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) is
            required.</p>
          <form [formGroup]="form">
            <div class="form-group">
              <label for="documentName" id="documentNameLabel" class="font-bold">Name <span class="mandatory"
                  aria-hidden="true">*</span></label>
              <input type="text" class="form-control font-bold" id="documentName" name="documentName"
                formControlName="taxonomyName" [(ngModel)]="documentName" (keyup)="onNameChange($event)" required>
              <p class="form-text text-muted text-right">Name it so your team can easily understand.</p>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12">
                  <!-- <label for="selectTaxonomyTemplate" class="font-bold">Select Taxonomy Template</label>
                  <select class="custom-select" [(ngModel)]="selectedNodeTemplate" (change)="selectTemplate()" formControlName="template"
                    id="selectTaxonomyTemplate">
                    <option *ngFor="let data of allNodeTemplateList" [ngValue]="data">{{data.name}}</option>
                  </select> -->

                  <app-auto-complete [listingObj]="allNodeTemplateList" (selectedObject)="updateSelectedObject($event)"
                    [selectType]="selectType" [uniqueId]="uniqueId" [propName]="'name'" [isMandatory]="false"
                    [defaultSelection]="defalutNodeTemplate" [autoCompleteTitle]="autoCompleteTitle" #autoComplete
                    (clickOutside)="onClickedOutside($event)">
                  </app-auto-complete>
                </div>

                <div class="col-12 pt-2 text-right">
                  <button class="btn btn-clear font-bold" data-toggle="modal" data-target="#previewTemplate"
                    [hidden]="selectedNodeTemplate?.node_template?.trim() === ''" class="text-underline">Preview
                    Template<span class="sr-only">Opens in a new dialog</span>
                  </button>
                </div>
              </div>
            </div>
          </form>

        </div>


      </section>
    </div>
  </div>

</ng-container>
<ng-container *ngIf="taxonomyData === undefined || taxonomyData=== null || savingData"
  class="d-flex col-12 p-0 uploader-loading">
  <app-preloader [loaderText]="'Loading data...'" class="w-100 position-fixed preloader-backdrop"></app-preloader>
</ng-container>

<section *ngIf="taxonomyData && (currentStep === 3)" class="row justify-content-center">
  <div class="col-10 text-right mb-3 pr-0" *ngIf="showReorderBtn">
    <button *ngIf="btnText==='Update'" (click)="onCancelDragAndDrop()" type="button"
      class="btn btn-clear btn-sm text-underline mr-2" id="cnlBtnbt"
      [disabled]="btnText==='Update' && savingData">Cancel</button>
    <button (click)="onToggelDragAndDrop()" type="button" class="btn btn-primary btn-sm" id="{{btnText}}Btn"
      [disabled]="btnText==='Update' && savingData">{{btnText}}</button>
  </div>
  <ng-container>

    <section id="accordion" class="col-10 tree tree--builder px-0">
      <section>

        <ng-container
          *ngIf="dragDropData && dragDropData.length>0 && dragDropData[0].children && dragDropData[0].children.length > 0 && enableDND && !savingData">
          <div class="row justify-content-center">
            <div class="col-12" [ngStyle]="{'opacity':updateItem?0.3:1}">
              <app-tree-reorder #treeViewRef [dataList]="dragDropData[0].children"
                (treeUpdateEvent)="onTreeUpdate($event)" [viewType]="'reorder-taxonomy'"></app-tree-reorder>
            </div>

          </div>
        </ng-container>
        <app-tree #tree *ngIf="!enableDND" [treeNodes]="taxonomyData[0].children" [viewLocation]="'taxonomy_builder'"
          [showComplaince]="true" [level]="currentLevel" [levelLimit]="templateLevelLenght"
          [selectedNodeId]="selectedNode.id" (addNodeEvent)="addNodeEvent($event)"
          (deleteNodeEvent)="deleteNodeEvent($event)" [isAllNode]="isAllNode" [isAddNode]="createNodePermission"
          [isDeleteNode]="deleteNodePermission" (human_coding_scheme)="setHumanCodingSchemeEvent($event);"
          (full_statement)="setFullStatementEvent($event);" (document_title)="setDocumentTitleEvent($event);"
          [nodetypeList]="nodetypeData" (metadataType)="setMetadataTypeEvent($event);"
          (nodeTypeIdEvent)="setNodeTypeIdEvent($event)">
        </app-tree>
        <!--[treeType]="'detailview'" (taxonomy_parent_obj)="update_parent_obj($event);" [allNodeTypeList]="nodetypeData"
          <app-project-tree-accordian #treeAccordian *ngIf="!enableDND" [treeType]="'detailview'"
          [treeData]="taxonomyData[0].children" [level]="1" [levelLimit]="templateLevelLenght"
          [selectedNodeId]="selectedNode.id" [viewLocation]="'taxonomy_builder'" (addNodeEvent)="addNodeEvent($event)"
          (deleteNodeEvent)="deleteNodeEvent($event)" [isAllNode]="isAllNode" [isAddNode]="createNodePermission"
          [isDeleteNode]="deleteNodePermission" (human_coding_scheme)="setHumanCodingSchemeEvent($event);"
          (full_statement)="setFullStatementEvent($event);" (taxonomy_parent_obj)="update_parent_obj($event);"
          (document_title)="setDocumentTitleEvent($event);" (metadataType)="setMetadataTypeEvent($event);"
          (nodeTypeIdEvent)="setNodeTypeIdEvent($event)" [allNodeTypeList]="nodetypeData" [nodetypeList]="nodetypeData">
        </app-project-tree-accordian> -->
      </section>
      <div *ngIf="!enableDND" class="form-text text-muted text-right">"Shift + Enter" to add child node". "Enter" to add
        next node.</div>
      <div *ngIf="!enableDND" class="form-text text-muted text-right">Statement is mandatory.</div>
    </section>

  </ng-container>

  <section class="col-sm-12 col-md-9 col-lg-7 push-top-5rem">
    <app-protip *ngIf="showProtipTaxonmyBuilder" [type]="type"></app-protip>
  </section>

</section>
