<style>
    .ajax-content {
        width: 100%;
        height: 100%;
        position: absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="dashboard">
        <!--HEADER STARTS HERE-->
        <!-- <div ng-include src="'templates/header.html'" class="header-container"></div> -->
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title">
                    <div class="pull-right">
                        <div class="view-panel pull-left" ng-if="projectlist.count > 0">
                            <span ng-click="changeView(2);" class="list-panel" ng-class="{active: viewMode == 2}">
                                <a href="javascript:void(0);">
                                    <i class="fa fa-list"></i>
                                </a>
                            </span>
                            <span ng-click="changeView(1);" class="grid-panel" ng-class="{active: viewMode == 1}">
                                <a href="javascript:void(0);">
                                    <i class="fa fa-th"></i>
                                </a>
                            </span>
                            <div class="clearfix"></div>
                        </div>

                        <button type="button" class="btn btn-primary" ng-click="createProject();">Create New Project</button>



                    </div>
                    <div class="pull-middle">
                        My Projects
                    </div>

                    <div class="clearfix"></div>
                </div>


                <div class="alert alert-success alert-dismissible" role="alert" ng-show="show_dashboard_success_msg">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Success!</strong> Project created successfully.
                </div>
                <!--                <div class="container product-inner" style="height: {{actualHeight}}px;overflow: auto;">                    -->
                <div class="container product-inner">
                    <div class="content">
                        <div ng-if="projectlist.count == 0">
                            <div class="alert alert-danger" role="alert">
                                <center>No Project Found!!!!</center>
                            </div>
                        </div>
                        <!-- <div>{{projectlist}}</div> -->
                        <div ng-if="projectlist.count > 0" class="from-container grid-view" ng-show="viewMode == 1">
                            <div class="from-container-row">
                                <div class="wrapper-row dashboard-container">
                                    <!--div class="theme-col-1 prod-block" ng-repeat="project in projectlist.data"-->
                                    <div class="col-md-3 col-sm-4 prod-block" dir-paginate="project in projectlist.projects| itemsPerPage: itemsPerPage" total-items="totalProjects"
                                        current-page="currentPage" pagination-id="projectList" ng-init="toggler = 0">
                                        <div class="theme-box-col">
                                            <div class="box-theme" ng-class="{'active': toggler}">
                                                <!--<div class="box-img-out">
                                                    <div class="block-img">
                                                        <div style="max-width:200px;">
                                                             <img ng-if="project.cover" ng-src="{{project.cover}}{{ts_hash}}" alt="" ng-click="createToc(project.id, project.toc_creation_status, project.is_locked);" on-error-src="img/blank.jpg"/> 
                                                            <img ng-if="project.cover==null && project.taxonomy_id !== null" ng-src="img/blank.jpg" alt="" ng-click="redirect_taxonomy('taxo', project.taxonomy_id);"/>
															<img ng-if="!project.cover && project.taxonomy_id == null" ng-src="img/blank.jpg" alt="" ng-click="redirect_taxonomy('createdoc',project.project_id);"/>
                                                             <div class="type"><span class="type-code">{{project.project_type_name}}</span></div> 
                                                        </div>
                                                    </div>
                                                </div>-->
                                                <div class="box-theme-title" ng-if="project.taxonomy_id !== null" ng-click="redirect_taxonomy('taxo', project.taxonomy_id);">{{project.project_name| strLimit:30}}</div>
												<div class="box-theme-title" ng-if="project.taxonomy_id == null" ng-click="redirect_taxonomy('createdoc',project.project_id);">{{project.project_name| strLimit:30}}</div>
                                                <div class="created">
                                                    {{project.created_by_fname}} {{project.created_by_lname}}
                                                    <!-- <span class="pull-right" title="favorite" style="cursor:pointer;" ng-click="make_favorite(project);">
                                                        <i class="fa" ng-class="{'fa-heart-o': project.is_favorite != 1, 'fa-heart': project.is_favorite == 1}"></i></span>
                                                    <span class="pull-right" title="Locked" style="cursor:pointer;">
                                                        <i class="fa" ng-class="{'fa-unlock-alt': project.is_locked == 1}"></i>&nbsp;</span> -->
                                                </div>
                                                <div class="theme-comments-control">
                                                    <!-- <div class="comments pull-left"><span class="cmts"><i class="fa fa-exclamation-triangle"></i></span>{{project.total_tickets}}</div> -->
                                                    <!--                                                    <div class="errors pull-left"><span class="ers"><i class="fa fa-exclamation-triangle"></i></span>{{project.total_ticket_comments}}</div>-->

                                                    <div class="btn-group book-toc pull-right">
                                                        <button type="button" class="book-toc-icon" ng-click="toggler = !toggler">
                                                            <i class="fa fa-ellipsis-v"></i>
                                                        </button>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>

                                                <div class="plmenu">
                                                    <ul class="plmenu-ul" role="menu">
                                                        <li>
                                                            <a href="#/projectedit/{{project.project_id}}" class="">
                                                                <i class="fa fa-code"></i> Edit Project</a>
                                                        </li>
                                                        <!-- <li ng-if="!project.taxonomy_id">
                                                            <a href="#/project-import/{{project.project_id}}" class="">
                                                                <i class="fa fa-photo"></i> Setup</a>
                                                        </li> -->

                                                        <li ng-show="project.taxonomy_id">
                                                            <a href="#/manage-taxonomy/{{project.taxonomy_id}}" class="">
                                                                <i class="fa fa-book"></i> Manage Taxonomy</a>
                                                        </li>

                                                        <li>
                                                            <a data-target="#" ng-if="projectlist.count > 1" ng-click="deleteProject(project.project_id, currentPage);" class="">
                                                                <i class="fa fa-trash-o"></i> Delete Project</a>
                                                            <a data-target="#" ng-if="projectlist.count == 1" ng-click="deleteProject(project.project_id);" class="">
                                                                <i class="fa fa-trash-o"></i> Delete Project</a>
                                                        </li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>



                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>


                        <div ng-if="projectlist.count > 0" class="from-container list-view" ng-show="viewMode == 2">
                            <div class="from-container-row" ng-repeat="project in projectlist.projects">
                                <!--div class="from-container-row" dir-paginate="project in projectlist.data | itemsPerPage: 3" current-page="currentPage" pagination-id="projectList"-->

                                <div class="wrapper-row">
                                    <div class="col-sm-12">
                                        <div class="theme-box-col">
                                            <!-- <div class="col-md-2 col-sm-4 col-lg-2">
                                                <div class="box-theme "><div class="type"><span class="type-code">{{project.project_type_name}}</span></div>
                                                    <div class="box-img-out">
                                                        <div class="block-img">
                                                            <div> 
                                                                <img  ng-if="project.cover" ng-src="{{project.cover}}" alt="" ng-click="createToc(project.id, project.toc_creation_status, project.is_locked);" on-error-src="img/blank.jpg"/>
                                                                <img  ng-if="!project.cover" ng-src="img/blank.jpg" alt="" ng-click="createToc(project.id, project.toc_creation_status, project.is_locked);"/>			

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  -->
                                            <div class="box-theme-title col-md-6 col-sm-8  col-lg-7">
                                                <div class="list-theme-title">
                                                    <!-- <span ng-click="createToc(project.id, project.toc_creation_status, project.is_locked);">
                                                        <strong>Name: {{project.project_name| strLimit:60}}</strong>
                                                    </span> -->

                                                    <!-- <li ng-show="project.taxonomy_id"> -->
                                                        <span>
                                                            <div ng-if="project.taxonomy_id != null">
                                                                    <a href="#/manage-taxonomy/{{project.taxonomy_id}}" class="" style="text-decoration:none;">
                                                                        <strong>Name: {{project.project_name| strLimit:60}}</strong>
                                                                    </a>
                                                            </div>
                                                            <div ng-if="project.taxonomy_id == null">
                                                                    <a href="#/project-import/{{project.project_id}}" class="" style="text-decoration:none;">
                                                                        <strong>Name: {{project.project_name| strLimit:60}}</strong>
                                                                    </a>
                                                            </div>
                                                           
                                                        </span>

                                                    <span title="favorite" style="cursor:pointer;" ng-click="make_favorite(project);">
                                                        <i class="fa" ng-class="{'fa-heart-o': project.is_favorite == 0, 'fa-heart': project.is_favorite == 1}"></i>
                                                    </span>
                                                    <span title="Locked" style="cursor:pointer;">
                                                        <i class="fa" ng-class="{'fa-unlock-alt': project.is_locked == 1}"></i>&nbsp;</span>
                                                </div>




                                                <div class="list-create-name col-lg-3 col-sm-6">
                                                    <strong>Created By:</strong> {{project.created_by_fname}} {{project.created_by_lname}}</div>
                                                <div class="list-create-date col-lg-4 col-sm-6">
                                                    <strong>Created Date:</strong> {{project.created_at}}</div>
                                                <!-- <div class="list-create-tickets col-lg-2 col-sm-6"><strong>Updated Date:</strong> {{project.updated_at}}</div> -->
                                                <div class="list-create-comments col-lg-3 col-sm-6">
                                                    <strong>Workflow:</strong> {{project.workflow_title}}</div>
                                                <div class="list-create-description  col-sm-12">
                                                    <strong>Description:</strong> {{project.description}}</div>

                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="col-md-4 col-sm-12  col-lg-3">


                                                <div class="plmenu">
                                                    <ul class="plmenu-ul" role="menu">

                                                        <li>
                                                            <a href="#/projectedit/{{project.project_id}}" class="">
                                                                <i class="fa fa-code"></i> Edit Project</a>
                                                        </li>
                                                        <!-- <li ng-if="!project.taxonomy_id">
                                                            <a href="#/projectsetup/{{project.project_id}}" class="">
                                                                <i class="fa fa-photo"></i> Setup</a>
                                                        </li> -->
                                                        <li ng-show="project.taxonomy_id">
                                                            <a href="#/manage-taxonomy/{{project.taxonomy_id}}" class="">
                                                                <i class="fa fa-book"></i> Manage Taxonomy</a>
                                                        </li>

                                                        <li>
                                                            <a data-target="#" ng-if="projectlist.count > 1" ng-click="deleteProject(project.project_id, currentPage);" class="">
                                                                <i class="fa fa-trash-o"></i> Delete Project</a>
                                                            <a data-target="#" ng-if="projectlist.count == 1" ng-click="deleteProject(project.project_id);" class="">
                                                                <i class="fa fa-trash-o"></i> Delete Project</a>
                                                        </li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div ng-if="projectlist.count > 0">
                            <!-- Pagination Starts Here -->

                            <!-- Pagination Starts End -->
                        </div>
                    </div>
                    <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
            </div>
            <!--FOOTER STARTS HERE-->
            <!-- <div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
            <!--FOOTER ENDS HERE-->

        </div>
        <div class="clearfix"></div>
    </div>