<div class="overlay" ng-click="toggleShowMenuClass()"></div>
<!--HEADER STARTS HERE-->
<div ng-include src="'templates/header.html'" class="header-container"></div>
<!--HEADER ENDS HERE-->
<main ng-controller="dashboard">
    <div class="acmt-content">
        <div class="breadcrums col-md-12">
            <span class="home_page_link">Home</span> /
            <span class="current_page">Projects</span>
        </div>
        <div class="create_project col-md-12">
            <div class="col-md-offset-1 col-md-10">
                <div class="create_project_tab col-md-12">
                    <div class="col-md-12 padding_zero">
                        <div class="col-md-6 col-sm-6 padding_8_12 tab_title">
                            <span class="border_bottom">PROJECTS</span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="pull-right search_project" ng-controller="header" ng-if="projectlist.projects.length > 0">
                                <div class="padding_zero col-md-9 col-sm-9">
                                    <input type="text" placeholder="Search Project" class="form-control" ng-keyup="(searchModel.search_text.length > 2) || (searchModel.search_text =='') ? do_search(search_action): false"
                                        ng-model="searchModel.search_text" />
                                </div>
                                <div class="col-md-3 col-sm-3" ng-click="do_search(search_action)">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-success alert-dismissible" role="alert" ng-show="show_dashboard_success_msg">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Success!</strong> Project created successfully.
                    </div>
                    <div ng-if="projectlist.count == 0" >
                        <div class="alert alert-danger" role="alert">
                            <center>No Project Found!</center>
                        </div>
                    </div>
                    <div class="project_container col-md-12 col-sm-12 padding_zero">
                        <!--Add Project container starts-->
                        <div class="col-md-3 col-sm-6">
                            <div class="add_project">
                                <div class="project_alias" ng-click="createProject();">+</div>
                            </div>
                        </div>
                        <!--Add Project container ends-->
                        <!--Individual Project container starts-->
                        <div class="project_section col-md-3 col-sm-6" ng-repeat="project in projectlist.projects">
                            <div class="project_section_firstChild" ng-class="{'active': toggler}">
                                <div class="project_alias" ng-click="project.taxonomy_id==null?redirect_taxonomy('createdoc',project.project_id):redirect_taxonomy('taxo', project.taxonomy_id);">
                                    <span>{{project.project_name | limitTo:1}}</span>
                                </div>
                                <div class="project_settings col-md-12 padding_zero">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-ellipsis-v pull-right project_settings_btn "></i>
                                    </div>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#/projectedit/{{project.project_id}}" class="">
                                                <i class="fa fa-code"></i> Edit Project</a>
                                        </li>

                                        <li ng-show="project.taxonomy_id">
                                            <a href="#/manage-taxonomy/{{project.taxonomy_id}}" class="">
                                                <i class="fa fa-book"></i> Manage Taxonomy</a>
                                        </li>

                                        <li>
                                            <a data-target="#" ng-if="projectlist.count >= 1" ng-click="deleteProject(project.project_id, currentPage);" class="">
                                                <i class="fa fa-trash-o"></i> Delete Project</a>
                                            <!--<a data-target="#" ng-if="projectlist.count == 1" ng-click="deleteProject(project.project_id);" class="">
                                                            <i class="fa fa-trash-o"></i> Delete Project</a>-->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="project_name col-md-12">{{project.project_name| strLimit:20}}</div>
                        </div>
                        <!-- <div class="project_section col-md-3" ng-repeat="project in projectlist.projects" ng-if="project.taxonomy_id == null">
                            <div class="project_section_firstChild" ng-class="{'active': toggler}">
                                <div class="project_alias" ng-click="redirect_taxonomy('createdoc',project.project_id);">
                                    <span>{{project.project_name| limitTo:1}}</span>
                                </div>
                                <div class="project_settings col-md-12 padding_zero">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-ellipsis-v pull-right project_settings_btn "></i>
                                    </div>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#/projectedit/{{project.project_id}}" class="">
                                                <i class="fa fa-code"></i> Edit Project</a>
                                        </li>

                                        <li ng-show="project.taxonomy_id">
                                            <a href="#/manage-taxonomy/{{project.taxonomy_id}}" class="">
                                                <i class="fa fa-book"></i> Manage Taxonomy</a>
                                        </li>

                                        <li>
                                            <a data-target="#" ng-if="projectlist.count > 1" ng-click="deleteProject(project.project_id, currentPage);" class="">
                                                <i class="fa fa-trash-o"></i> Delete Project</a>
                                           
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="project_name col-md-12">{{project.project_name| strLimit:20}}</div>
                        </div>  -->
                        <!--Individual Project container ends -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- <script>
     $(document).ready(function(){
        $('.dropdown-toggle').dropdown();
})
</script> -->