<header class="header" id="header" ng-cloak>
    <div class="container" ng-controller="header">
        <div class="pull-left logo-panel">
            <h1 class="logo pull-left">
                <a href="#/dashboard" class="pull-left">Frost</a>
            </h1>
            <!--<a class="sprite3" id="open-button"></a>-->
            <!--<a class="sprite3" id="open-button" ng-click="toggleShowMenuClass()"></a>-->
        </div>


        <div class="pull-left logo-panel">
            <div class="headerlinks">
                <div class="devider-border"></div>
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li ng-class="{'active': myprojectActive}" ng-click="goto('dashboard')">
                                <a href="#/dashboard">My Projects</a>
                            </li>
                            <!-- <li ng-click="goto('taxonomy')"><a href="#/taxonomy">Taxonomy</a></li> -->
                            <li ><a href="#/taxonomies">Taxonomies</a></li>

                            <!-- <li ng-click="goto('tag')"><a href="#/tag">Tag</a></li--> 
                            <!-- <li ng-class="{'active': metadataActive}" ng-click="goto('metadata')" ng-show="user_permissions['taxonomy.show.all'].grant || user_permissions['tag.show.all'].grant || user_permissions['key_value.show.all'].grant"><a href="#/metadata">Metadata</a></li> -->
                            <!-- <li ng-class="{'active': taxonomyActive}" ng-click="goto('taxonomy')"><a href="#/taxonomy">Taxonomy</a></li> -->
                            <!--li ng-click="goto('widget')" ng-show="user_permissions['widget.show.all'].grant"><a href="#/widget">Widget</a></li-->
                            <li ng-class="{'active': widgetActive}" ng-click="goto('widget')" ng-show="userinfo.id==1">
                                <a href="#/widget">Widget</a>
                            </li>
                            <li ng-class="{'active': globalrepoActive}" ng-click="goto('global_repo')" ng-show="user_permissions['global_repo.show.link'].grant">
                                <a href="#/global_repo">Global Repository</a>
                            </li>
                            <!--<li><a href="#/dashboard">Bank</a></li>
                            <li><a href="#/dashboard">Library</a></li>
                            <li><a href="#/dashboard">Campus Information</a></li>-->
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>

            </div>
        </div>
        <div class="pull-right admin-area">
            <!--<div class="login_avaterout pull-left dropdown-toggle" data-toggle="dropdown">
                                <span class="user-notification">0</span>
                                <span class="img-avater"><img src="img/avater3.png"  alt=""/></span>
            </div>-->
            <div class="admin-name dropdown-toggle" data-toggle="dropdown">Welcome {{user_name| capitalize_first}}
                <i class="fa fa-angle-down"></i>
            </div>

            <ul class="dropdown-menu" role="menu">
                <!--<li><a href="#/settings">Settings</a></li>-->
                <li>
                    <a href="#/profile">My Profile</a>
                </li>
                <li ng-if="userinfo.id==1">
                    <a href="#/activity">Activity Log</a>
                </li>
                <li>
                    <a href="#/logout">Log Out</a>
                </li>
                <!--li><a href="cache_logout.html">Log Out</a></li-->
            </ul>
        </div>
        <!--        <button type="button" class="pull-right notification">
            <span class=""><i class="fa fa-bell-o"></i></span>
        </button>-->
        <!-- <div ng-click="goto('settings')" class="pull-right admin-menu active" ng-class="{'active': adminActive}" ng-show="userinfo.user_roles[0].id == 1"><a href="#/settings">Admin</a> </div> -->
        <div id="asdf" ng-click="goto('settings')" class="pull-right admin-menu" ng-class="{'active': adminActive}" ng-show="userinfo.roles[0].status == 1">
            <a href="#/settings">Admin</a>
        </div>

        <div class="pull-right search-area col-sm-4 col-md-3 col-xs-4" ng-if="showSearchBox">
            <div class="input-group">
                <!--div class="input-group-btn button-dep">
                    <button type="button" class="btn btn-default  dropdown-toggle all-btn" data-toggle="dropdown" >{{header_search_type}}</button>                    
                    <button type="button" class="btn btn-default dropdown-toggle all-btn-toc" data-toggle="dropdown" >
                        <span class="sprite3 ico-list"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="javascript:void(0);" ng-click="set_header_search_type('Project');" >Project</a></li>
                        <li><a href="javascript:void(0);" ng-click="set_header_search_type('Asset');" >Asset</a></li>
                    </ul>                    
                </div-->

                <input type="text" class="form-control search-frm" ng-keyup="(searchModel.search_text.length > 2) || (searchModel.search_text =='') ? do_search(search_action): false"
                    placeholder="Type at least 3 characters to search" ng-model="searchModel.search_text">

                <input type="hidden" class="form-control search-frm" name="search_action" ng-model="search_action">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-search" type="button" ng-click="do_search(search_action)">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <button type="button" ng-if="showAdvancedButton" class="btn btn-default btn-search advance-btn collapsed" ng-click="toggleAdvanceSearch()">Advanced Search
                        <!--<span ng-show="advanced_search.active" class="adv-search-no">A</span>-->
                    </button>
                </span>

            </div>

        </div>

    </div>
    <div class="clearfix"></div>
</header>