<!--<header class="acmt-header" ng-cloak>
    <div class="container-fluid" ng-controller="header">
            <div class="acmt-logo col-md-3"><a href="#/dashboard"><span> ACMT</span></a></div>
            <nav class="col-md-6 nav_links">
                    <a href="#/dashboard" class="active_nav">Projects</a>
                    <a href="#/taxonomies">Taxonomies</a>
                    <a class="disabled">Metadata</a>
                    <a class="disabled">Workflows</a>
                    <a>Administration</a>                    
                </nav>
                <div class="col-md-3">
                        <div class="col-md-3 notifications"><i class="fa fa-bell fa-lg"></i><span class="notification_count">2</span></div>
                        <div class="admn-menu col-md-3">
                            <a href="#/settings">Admin</a>
                        </div>
                        <div class="col-md-6 username">
                            <div class="dropdown-toggle" data-toggle="dropdown">
                                <span>HI,{{user_name| capitalize_first}}</span><span><i class="fa fa-sort-desc"></i></span>
                            </div>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#/profile">My Profile</a></li>
                                    <li><a href="#/logout">Log Out</a></li>
                                </ul>
                        </div>
                </div>
    </div>
</header>-->
<!--<script>
    
 $(document).ready(function(){
    $('.nav_links a').click(function(){
        $('.nav_links a').removeClass('active_nav');
        $(this).addClass('active_nav');
    });   
        $('.dropdown-toggle').dropdown();
})
</script>--> 
