<div class="main_container login_section" ng-controller="login" ng-show="show_login_page" ng-cloak>   
    <section class="wrapper">
        <div class="login_row">
            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4" >
                <h1 class="logo"><a class="sprite-login1">ACMT Login</a></h1>
                <div class="account-wall">
                    <div class="alert alert-danger" role="alert" ng-if="responsedata.status == 401">{{responsedata.message}}</div>
                    <!-- <span class="label label-danger center-block"></span>-->
                    <!--   <form name="formData" class="form-signin" novalidate>
                           <input ng-model="username" name="username" type="text" class="form-control" placeholder="Username" required autofocus>
                           <input ng-model="password" name="password" type="password" class="form-control" placeholder="Password" required>
                           <span class="text-danger center-block" ng-show="submitted && error.username">{{error.username}}</span>
                           <span class="text-danger center-block" ng-show="submitted && error.password" >{{error.password}}</span>
                           <input ng-model="access_token" name="access_token" type="hidden" class="form-control">
   
   
                           <button class="btn btn-lg btn-primary btn-block" ng-click="signin(formData)">
                               Sign in</button>
                           
                           <a href="#/forget_passwd" class="pull-right need-help">Need help?</a><span class="clearfix"></span>
                       </form>-->

                    <form name="formData" class="form-signin" novalidate> <div class="form-group email">
                            <input ng-model="username" name="username" type="text" class="form-control" placeholder="Username" required autofocus>

                        </div>
                        <div class="form-group password">
                            <input ng-model="password" name="password" type="password" class="form-control" placeholder="Password" required>
                        </div>
                        <span class="text-danger center-block" ng-show="submitted && error.username">{{error.username}}</span>
                        <span class="text-danger center-block" ng-show="submitted && error.password" >{{error.password}}</span>
                        <input ng-model="access_token" name="access_token" type="hidden" class="form-control">
                        <!--div class="checkbox pull-left">
                          <label><input type="checkbox">Remember Me</label>
                        </div--> 
                        <div class="clearfix"></div>
                        <div class="form-group progress-button btn-login"> 
                            <button type="submit" ng-click="signin(formData)" class="btn btn-lg btn-primary btn-block" ng-disabled="formData.$invalid">Login</button>
                        </div>

                        <div class="form-group"><a href="#/forget_passwd" class="pull-left forgotpass">Need Help?</a>
                            <!--a id="iterateEffects" class="flip pull-right">Create Account</a-->
                            <div class="clearfix"/></div> </form>
                </div>
                <div class="form-group">
                    <p class="help-block">All Rights Reserved. © {{current_year}} LearningMate Solutions Pvt. Ltd</p>
                </div>
            </div>
        </div>
</div>
</section>
</div>
<script>
    $("input[name='username']").focus();
</script>