<style>
    .acmt-header {
        display: none;
    }
</style>
<div class="main_container login_page" ng-controller="login" ng-show="show_login_page" ng-cloak>   
        <section class="wrapper">
            <div class="login_row">
                <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4" >
                    <!--<h1 class="logo"><a class="sprite-login1">ACMT</a></h1>-->
                    <h1 class="logo">ACMT</h1>
                    <div class="account-wall">
                        <div class="alert alert-danger" role="alert" ng-show="responsedata.status == 401">{{responsedata.message}}</div>
                        <div class="sign_in"><p>Sign in to your account.</p></div>
                         <div class="common_text_size"><p>Enter your details below.</p></div>
                        <!--<div class="alert alert-danger" role="alert" ng-if="responsedata.status == 401">{{responsedata.message}}</div>-->
                        <form name="formData" class="form-signin acmt_form" novalidate> <div class="form-group email">
                            <div class="form-group">
                                <label for="type">Username</label>
                               <input ng-model="username" name="username" type="text" class="form-control" required ng-focus="responsedata.status=false" autofocus>
                            </div>
                            </div>
                            <div class="form-group password">
                                  <label for="type">Password</label>
                                  <input ng-model="password" name="password" type="password" class="form-control" ng-focus="responsedata.status=false" required>
                                  <span class="pwd_help"><i class="fa fa-question-circle-o fa-lg" aria-hidden="true"></i></span>
                            </div>
                            <div class="form-group progress-button"> 
                                <button type="submit" ng-click="signin(formData)" class="btn btn-lg btn-block btn-login" ng-disabled="formData.$invalid">Sign in</button>
                            </div>
                            <!--<div class="create_account col-md-12">
                                <span class="common_text_size no_account">Don't have an account?</span>
                                <button type="button" class="btn btn-md btn-default get_started">Get started</button>
                            </div>-->
                                <div class="clearfix"/></div> 
                        </form>
                    </div>
                    <!--<div class="form-group">
                        <p class="help-block">All Rights Reserved. © {{current_year}} LearningMate Solutions Pvt. Ltd</p>
                    </div>-->
                </div>
            </div>
    </div>
    </section>
    </div>
    <script>
        $("input[name='username']").focus();
    </script>