        <!--Main section starts-->
        <main ng-controller="taxonomy">
                <div class="content">
                     <div class="breadcrums col-md-12"><span class="home_page_link">Home</span> / <span class="current_page">Projects</span></div>
                         <div class="autoring_taxonomy col-md-12">
                             <div class="authoring_header col-md-12">
                                 <div class="col-md-offset-1 col-md-10">
                                     <div class="autoring_section col-md-12">
                                         <div class="col-md-12 padding_zero">
                                             <div class="col-md-6 padding_8_12 tab_title" ng-controller="dashboard">
                                                 <span class="title">{{project.project_name}}</span>
                                                 <button type="button" class="btn btn-sm btn-success authoring_btn">AUTHORING</button>
                                                 <span><i class="fa fa-cog" aria-hidden="true"></i></span>
                                             </div>
                                             <div class="col-md-6">
                                             <div class="pull-right">
                                                     <span class="col-md-6"><i class="fa fa-bar-chart fa-lg"></i></span>
                                                     <span class="col-md-6"><i class="fa fa-pencil fa-lg"></i></span>
                                             </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                                     <div class="authoring_content col-md-offset-1 col-md-11">
                                         <div class="col-md-5 left-panel">
                                             <div class="col-md-12 btn-section">
                                                 <button class="btn btn-primary">Create</button>
                                                 <button class="btn btn-primary">Delete</button>
                                             </div>
                                             <div class="taxonomy_section col-md-12">
                                                 <div class="taxonomy_tree_node col-md-12 padding_zero">
                                                     <div class="col-md-12">
                                                        <span><i class="fa fa-minus-square-o fa-lg"></i></span>
                                                        <strong>Human Coding: </strong>
                                                        <span>Full Statement</span>
                                                     </div>
                                                    <ul class="taxonomy_child_name col-md-12">
                                                         <li><span><i class="fa fa-plus-square-o fa-lg"></i></span>
                                                             <span>taxonomy_child</span>
                                                         </li>
                                                    </ul>
                                                 </div>
                                             </div>
                                             </div>
     
                                         <div class="col-md-5 right-panel">
                                             <form role="form">
                                                 <div class="form-group">
                                                     <label for="type">Type:
                                                     </label>
                                                     <select class="form-control" required>
                                                         <option value="">Select Type</option>
                                                     </select>
                                                 </div>
                                                 <div class="form-group">
                                                     <label for="type">Label:
                                                     </label>
                                                     <input type="text" class="form-control"/>
                                                 </div>
                                                 <div class="form-group">
                                                     <label for="type">Code:
                                                     </label>
                                                     <input type="text" class="form-control"/>
                                                 </div>
                                                 <div class="form-group">
                                                     <label for="type">Description:
                                                     </label>
                                                     <textarea class="form-control" placeholder="Add description"></textarea>
                                                 </div>
                                                 <div class="form-group">
                                                     <label for="type">Metadata Attributes:</label><span class="metadata_add"><i class="fa fa-plus-square-o fa-lg"></i></span>
                                                     <div class="col-md-12 metadata padding_zero">
                                                         <div class="col-md-12 metadata_attr padding_zero">
                                                             <div class="col-md-5 metadata-field padding_zero">
                                                                 <select class="form-control" required>
                                                                     <option value="">Content Complexity</option>
                                                                 </select>
                                                             </div>
                                                             <div class="col-md-7 metadata-value">
                                                                 <input type="text" class="form-control" placeholder="add value"/>
                                                             </div>
                                                          </div>
                                                          <div class="col-md-12 metadata_attr padding_zero">
                                                             <div class="col-md-5 metadata-field padding_zero">
                                                                 <select class="form-control" required>
                                                                     <option value="">Date Adopted/Revised</option>
                                                                 </select>
                                                             </div>
                                                             <div class="col-md-7 metadata-value">
                                                                 <input type="text" class="form-control" placeholder="add value"/>
                                                             </div>
                                                          </div>
                                                          </div>
                                                 </div>
                                                 <div class="form-group associations">
                                                             <label for="type">Associations:</label><span class="associations_add"><i class="fa fa-plus-square-o fa-lg"></i></span>
                                                                  <div class="col-md-12 metadata_attr padding_zero">
                                                                     <div class="col-md-5 metadata-field">
                                                                         <select class="form-control" required>
                                                                             <option value="">Depends on</option>
                                                                         </select>
                                                                     </div>
                                                                     <div class="col-md-7 metadata-value">
                                                                        <select class="form-control" required>
                                                                             <option value="">Taxonomy Name</option>
                                                                         </select>
                                                                     </div>
                                                                     <div>
                                                                         <div class="taxonomy_wrapper col-md-12">
                                                                            <div class="selected_taxonomy">
                                                                                <span class="expand_taxonomy"><i class="fa fa-sort" aria-hidden="true"></i></span>
                                                                                 <div>
                                                                                     <span>Level 1, Level 1.3, Understanding</span>
                                                                                 </div>
                                                                            </div>
                                                                             <div class="taxonomy_tree_node col-md-12">
                                                                                <span class="close_taxonomy"> <i class="fa fa-times" ></i></span>
                                                                                <div class="col-md-12 padding_zero">
                                                                                     <div>
                                                                                         <span><i class="fa fa-minus-square-o"></i></span>
                                                                                         <input type="checkbox"/>  
                                                                                         <span>Level 1</span>
                                                                                     </div>
                                                                                     <ul class="taxonomy_child_name col-md-12">
                                                                                         <li><span><i class="fa fa-plus-square-o"></i></span>
                                                                                         <input type="checkbox"/>  <span>Level 1.1</span>
                                                                                         </li>
                                                                                     </ul>
                                                                                </div>
                                                                             </div>
                                                                         </div>
                                                                   </div>
                                                                 </div>
                                                          <!--<div class="col-md-12 metadata_attr padding_zero">
                                                             <div class="col-md-4 metadata-field padding_zero">
                                                                <input type="text" value="Blooms" class="form-control"/>
                                                             </div>
                                                             <div class="col-md-8 metadata-value">
                                                                 <div class="taxonomy_tree_node col-md-12 padding_zero">
                                                                     <div class="col-md-12">
                                                                     <span><i class="fa fa-minus-square-o"></i></span>
                                                                     <strong>Human Coding: </strong>
                                                                     <span>Full Statement</span>
                                                                     </div>
                                                                     <ul class="taxonomy_child_name col-md-12">
                                                                         <li><span><i class="fa fa-plus-square-o"></i></span>
                                                                           <input type="checkbox"/>  <span>taxonomy_child</span>
                                                                          </li>
                                                                     </ul>
                                                                 </div>
                                                             </div>
                                                          </div>-->
                                                     </div>
                                             </form>
                                         </div>
                                         </div>
                                     </div>
                         </div>
                </div>
             </main>
             <!--Main section ends-->
             <script>
                 $('.expand_taxonomy').on('click',function(){
                      $('.selected_taxonomy').fadeOut('fast');
                     $('.associations .taxonomy_tree_node').fadeIn('slow');
                 });
                  $('.close_taxonomy').on('click',function(){
                      $('.associations .taxonomy_tree_node').fadeOut('fast');
                      $('.selected_taxonomy').fadeIn('slow');
                 });
             </script>