<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="main_container" ng-controller="settings" ng-cloak>  
    <!--HEADER STARTS HERE-->
    <!-- <div ng-include src="'templates/header.html'" class="header-container"></div> -->
    <!--HEADER ENDS HERE-->

    <!--SECTION STARTS HERE-->
    <section class="wrapper">
        <div class="page-title">
            <div class="pull-middle"> 
                Settings
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="container product-inner setting-page">
            <div class="content">
                <div class="from-container-row">
                                       <!-- <ul class="settings-list"> -->
                                            <!-- <li ><a href="#/roles" id="asasd" ng-show="user_permissions['role.show.all'].grant" >Manage Role</a>  </li> -->
                                            <!-- <li><a href="#/resetpassword">Reset Password</a></li> -->
                                            <!-- <li><a href="#/user" ng-show="user_permissions['user.show.all'].grant">Manage User</a></li>
                                            <li><a href="#/project-user" ng-show="user_permissions['user.show.all'].grant">Project User Mapping</a></li>
                                        </ul> -->

                    <ul class="nav nav-tabs">
                        <!-- <li class="active" ng-show="user_permissions['role.show.all'].grant"><a showtab="" href="#roles">Manage Role</a></li> -->
                        <li class="active"><a showtab="" href="#roles">Manage Role</a></li>

                        <!-- <li ng-show="user_permissions['user.show.all'].grant"><a showtab="" href="#user">Manage User</a></li> -->
                        <li><a showtab="" href="#user">Manage User</a></li>

                        <!--li><a showtab="" href="#resetpassword">Reset Password</a></li-->
                    </ul>
                    <div class="tab-content">
                        <!-- <div class="tab-pane fade in active" ng-show="user_permissions['role.show.all'].grant" id="roles"> -->
                             <div class="tab-pane fade in active" id="roles">
                            <div ng-include src="'templates/acl/role_list.html'"></div>
                        </div>
                        <!-- <div id="user" ng-show="user_permissions['user.show.all'].grant" class="tab-pane fade"> -->
                        <div id="user" class="tab-pane fade">

                            <div ng-include src="'templates/user/user_list.html'"></div>
                        </div>
                        <!--div id="resetpassword" class="tab-pane fade">
                            <div ng-include src="'templates/user/reset_password.html'"></div>
                        </div-->
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!--SECTION ENDS HERE-->

    <!--FOOTER STARTS HERE-->
    <div ng-include src="'templates/footer.html'" class="footer-container"></div>
    <!--FOOTER ENDS HERE-->

</div>
