<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" flow-init="{target: 'api/v1/upload'}">
    <div class="main_container" ng-controller="toc_edit" ng-cloak>
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->

        <!--SECTION STARTS HERE-->
        <section class="wrapper">
            <div class="page-title">
                <div class="pull-right">
                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to Dashboard</button>
                    <button type="button" id="export_btn" class="btn btn-primary">Export EDUPUB</button>
                    <button type="button" id="export_btn" class="btn btn-primary" ng-click="exportProject('course');" ng-show="project.project_permissions['project.export'].grant && project_details.project_type_id == 5" >Export Course</button>
                    <button type="button" class="btn btn-primary" ng-click="">Project Preview</button>
                </div>
                <div class="pull-middle"> 
                    Test Project
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="alert alert-success alert-dismissible" role="alert" ng-show="show_success_msg">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success! Project created successfully.</strong>
            </div>
            <div class="alert alert-success alert-dismissible" role="alert" ng-show="show_edit_success_msg">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success! Project updated successfully.</strong>
            </div>
            <div class="container product-inner">


                <div class="content">                
                    <div class="from-container">
                        <div class="from-container-row">
                            <div class="toc-panel-container">

                                <div class="live">


                                    <div class="toc-panel-right tc-cont" style="height: {{rightPaneLinkHeight}};" >
                                        <a href="#/editproject/{{project_details.id}}">
                                            <div class="tocmenu-block">
                                                <div class="tocmenu-icon sprite3 Edit-Project"></div>
                                                <div class="tocmenu-name">Edit Project</div>
                                            </div>
                                        </a>

                                        <a href="#/pattern/{{project_details.id}}">
                                            <div class="tocmenu-block">
                                                <div class="tocmenu-icon sprite3 Manage-Patterns"></div>
                                                <div class="tocmenu-name">Manage Patterns</div>
                                            </div>
                                        </a>
                                        <a href="#/template/{{project_details.id}}">
                                            <div class="tocmenu-block">
                                                <div class="tocmenu-icon sprite3 Manage-Patterns"></div>
                                                <div class="tocmenu-name">Manage Templates</div>
                                            </div>
                                        </a>
                                        <a href="#/asset/{{project_details.id}}">
                                            <div class="tocmenu-block">
                                                <div class="tocmenu-icon sprite3 Manage-Assets"></div>
                                                <div class="tocmenu-name">Manage Assets</div>
                                            </div>
                                        </a>
                                        <a href="#/project-user/{{project_details.id}}">
                                            <div class="tocmenu-block">
                                                <div class="tocmenu-icon sprite3 Manage-Users"></div>
                                                <div class="tocmenu-name">Manage Users</div>
                                            </div>
                                        </a>

                                        <!--                                        <div class="tocmenu-block">
                                                                                    <div class="tocmenu-icon sprite3 Manage-classification"></div>
                                                                                    <div class="tocmenu-name">Manage <br>classification</div>
                                                                                </div>-->

                                        <div class="clearfix"></div>
                                    </div>

                                       <div class="toc-panel-left tc-cont">
    										<div class="db-ft-main">
                                            	<div class="db-ft-bk">
                                                	<div class="db-blk">
                                                    	<label class="totaluser">Total User</label>
                                                        <div class="user-number">32</div>
                                                        <div class="db-blk-div"></div>
                                                    </div>
                                                    <div class="db-blk">
                                                    	<label class="totalassets">Total assets</label>
                                                        <div class="user-number">150</div>
                                                        <div class="db-blk-div"></div>
                                                    </div>
                                                    <div class="db-blk">
                                                    	<label class="totalwidgets">Total Widgets</label>
                                                        <div class="user-number">150</div>
                                                        <div class="db-blk-div"></div>
                                                    </div>
                                                     <div class="db-blk">
                                                    	<label class="totalpatterns">Total Patterns</label>
                                                        <div class="user-number">20</div>
                                                        <div class="db-blk-div"></div>
                                                    </div>
                                                    <div class="db-blk">
                                                    	<label class="totalissues">Total Patterns</label>
                                                        <div class="user-number">20</div>
                                                    </div>
                                                </div>
                                                
                                            	<div class="db-ft-body">
                                                	<div class="col-md-6">
                                                    
                                                    	<div class="panel panel-default">
                                                          <div class="panel-heading">User</div>
                                                          <div class="">
                                                            <table class="table table-hover">
                                                              <thead>
                                                                <tr>
                                                                  <th width="75%">Username</th>
                                                                  <th width="25%">Status</th>
                                                                </tr>
                                                              </thead>
                                                              <tbody>
                                                                <tr>
                                                                  <td>Mark</td>
                                                                  <td>Manager</td>
                                                                </tr>
                                                                <tr>
                                                                  <td>Jacob</td>
                                                                  <td>Thornton</td>
                                                                </tr>
                                                                <tr>
                                                                  <td>Mark</td>
                                                                  <td>Manager</td>
                                                                </tr>
                                                                <tr>
                                                                  <td>Jacob</td>
                                                                  <td>Thornton</td>
                                                                </tr>
                                                                <tr>
                                                                  <td>Mark</td>
                                                                  <td>Manager</td>
                                                                </tr>
                                                                <tr>
                                                                  <td>Jacob</td>
                                                                  <td>Thornton</td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </div>
                                                        </div>
                                                    
                                                    </div>
                                                    <div class="col-md-6">
                                                    
                                                    	<div class="panel panel-default">
                                                          <div class="panel-heading">Assets</div>
                                                          <div class="">
                                                            <table class="table table-hover">
                                                              <thead>
                                                                <tr>
                                                                  <th width="15%">Type</th>
                                                                  <th width="45%">Name</th>
                                                                  <th width="15%">Usage</th>
                                                                  <th width="25%">Date</th>
                                                                </tr>
                                                              </thead>
                                                              <tbody>
                                                                <tr>
                                                                  <td><label class="label-type a-img">Image</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="label-type a-vdo">Video</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="label-type a-img">Image</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="label-type a-vdo">Video</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="label-type a-img">Image</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="label-type a-vdo">Video</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                
                                                              </tbody>
                                                            </table>
                                                          </div>
                                                        </div>
                                                    
                                                    </div>
                                                    
                                                    <div class="col-md-6">
                                                    
                                                    	<div class="panel panel-default">
                                                          <div class="panel-heading">Widgets</div>
                                                          <div class="">
                                                            <table class="table table-hover">
                                                              <thead>
                                                                <tr>
                                                                  <th width="15%">Type</th>
                                                                  <th width="45%">Name</th>
                                                                  <th width="15%">Usage</th>
                                                                  <th width="25%">Date</th>
                                                                </tr>
                                                              </thead>
                                                              <tbody>
                                                                <tr>
                                                                  <td><label class="label-type w-img">Image</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="label-type w-vdo">Video</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="label-type w-img">Image</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="label-type w-vdo">Video</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="label-type w-img">Image</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="label-type w-vdo">Video</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                
                                                              </tbody>
                                                            </table>
                                                          </div>
                                                        </div>
                                                    
                                                    </div>
                                                    <div class="col-md-6">
                                                    
                                                    	<div class="panel panel-default">
                                                          <div class="panel-heading">Patterns</div>
                                                          <div class="">
                                                            <table class="table table-hover">
                                                              <thead>
                                                                <tr>
                                                                  <th width="15%">Type</th>
                                                                  <th width="45%">Name</th>
                                                                  <th width="15%">Usage</th>
                                                                  <th width="25%">Date</th>
                                                                </tr>
                                                              </thead>
                                                              <tbody>
                                                                <tr>
                                                                  <td><label class="label-type p-img">Image</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="label-type p-vdo">Video</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="label-type p-img">Image</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="label-type p-vdo">Video</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="label-type p-img">Image</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="label-type p-vdo">Video</label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                
                                                              </tbody>
                                                            </table>
                                                          </div>
                                                        </div>
                                                    
                                                    </div>
                                                    
                                                    <div class="col-md-12">
                                                    
                                                    	<div class="panel panel-default">
                                                          <div class="panel-heading">Issues
                                                          
                                                          	<div class="pull-right db-action">
                                                                
                                                                <label class="action-link status open-status fst">Open <span class="ng-binding">0</span></label>
                                                                <label class="action-link status inprogress-status">In Progress <span class="ng-binding">0</span></label>
                                                                <label class="action-link status resolved-status">Resolved <span class="ng-binding">0</span></label>
                                                                <label class="action-link status closed-status">Closed <span class="ng-binding">0</span></label>
                                                    
                                                            </div>
                                                          </div>
                                                          <div class="">
                                                            <table class="table table-hover">
                                                              <thead>
                                                                <tr>
                                                                  <th width="15%">Status</th>
                                                                  <th width="40%">Subjects</th>
                                                                  <th width="10%">Severity</th>
                                                                  <th width="10%">Assigned To</th>
                                                                  <th width="10%">Comments</th>
                                                                  <th width="15%">Date</th>
                                                                </tr>
                                                              </thead>
                                                              <tbody>
                                                                <tr>
                                                                  <td><label class="db-link open-status">Open </label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>High</td>
                                                                  <td>Admin</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="db-link inprogress-status">In Progress </label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>High</td>
                                                                  <td>Admin</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="db-link resolved-status">Resolved </label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>High</td>
                                                                  <td>Admin</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                <tr>
                                                                  <td><label class="db-link closed-status">Closed </label></td>
                                                                  <td>Lorem Ipsum comes from sections</td>
                                                                  <td>High</td>
                                                                  <td>Admin</td>
                                                                  <td>5</td>
                                                                  <td>Today 5:30pm</td>
                                                                </tr>
                                                                
                                                              </tbody>
                                                            </table>
                                                          </div>
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                            	<div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        
                                        <div class="clearfix"></div>
                                    </div>


                                </div>
                                <div class="clearfix"></div>                            
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </section>
        <!--SECTION ENDS HERE-->


        <!--FOOTER STARTS HERE-->
        <!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
        <!--FOOTER ENDS HERE-->

        <div class="clearfix"></div>

        <!--div ng-if="project_details.project_type_id==1">
            <div ng-controller="pxe"></div>
    </div>
        <div ng-if="project_details.project_type_id==2">
            <div ng-controller="epub"></div>
        </div-->        


    </div>
</div>

<style>
    [ng-cloak] {
        display: none;
    }
    * {
        box-sizing: border-box
    }
    .live ol {
        margin:4px 0;
        border: 0 none transparent;
        padding: 0;
        background:#eee;
    }
    .live li {
        list-style:none;
        /*        margin: 1px;
                border: 1px solid #ddd;*/
        padding: 8px 8px 4px 20px;
        background: #fff;
    }
    .live .ui-sortable li{
        cursor: move;
    }
    .live input, .live .shadow input {
        margin: 0;
        border: 1px solid #ddd;
        padding: 1px;
        font: inherit;
        font-weight: bold;
        height:2em;
    }
    .live .ui-state-highlight {
        border: 1px solid #fc0;
        background: #ffe;
    }
    .live, .shadow {
        float: left;
        /*        width: 45%;*/
        margin-right: 5%;
    }
    .live .shadow {
        opacity: 0.7;
    }
    .live .debug {
        clear: both;
    }
    .live .debug textarea {
        width: 100%;
        height: 40em;
        font: 10px/13px monospace;
    }
    .live textarea, .live input {
        outline: none;
    }
    .live .pregnant {
        /*border: 1px solid #ddd;*/
    }
    .live .bg0 {
        background:#fcc;
    }
    .live .bg1 {
        background:#ffc;
    }
    .live .bg2 {
        background:#cfc;
    }
    .live .bg3 {
        background:#cff;
    }
    .live .bg4 {
        background:#ccf;
    }
    .live .bg5 {
        background:#fcf;
    }
    .live .minimized > ol > li {
        display:none;
    }
    .live .minimized > ol {
        border: 0 none transparent;
    }
    .live .toggle {
        border: 0 none transparent;
        background:transparent;
        width:2em;
        color:#aaa;
    }
    .live button {
        cursor: pointer
    }
    .lirow{
        background-color: none;
    }


    .popupZone{
        border: 1px solid #000000; 
        padding: 10px 10px 0px 10px;  
        position: fixed; bottom:0px; 
        right: 0px; 
        max-height: 300px;
        min-width: 470px;
        overflow:scroll;
    }

    .progress-bar {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        color: #fff;
        text-align: center;
        background-color: #428bca;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
        box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
        -webkit-transition: width .6s ease;
        transition: width .6s ease;
        background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.15)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(0.75,rgba(255,255,255,0.15)),color-stop(0.75,transparent),to(transparent));
        background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-size: 40px 40px;
    }
</style>
