
<div class="container" ng-controller="Test_harness" ng-cloak>
    <h3>FROST API Test Harness</h3>
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="dropdown api_dd">
                <button class="btn btn-default dropdown-toggle api_dd_btn" type="button" id="dropdownMenu" data-toggle="dropdown">
                    <span class="dd_label">{{menu_label}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <li ng-repeat="menu in menuItems" role="presentation"><a role="menuitem" tabindex="-1" data-target="#" ng-click="selectedMenu(menu);">{{menu.label}}</a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <h4 ng-show="visible">{{apiUrl}}</h4>
            <h4>{{access_token_txt}}</h4>
            <form ng-show="form_panel == 3 || form_panel == 1" name="form" class="form-signin">
                <input ng-show="form_panel == 3" ng-model="formdata.access_token" ng-value="formdata.access_token" name="accessToken" type="text" class="form-control" placeholder="Access Token" autofocus>
                <button class="btn btn-sm btn-primary exe_btn" type="submit" data-ng-click="execute(formdata)">Execute</button>
            </form>
            <!--            <form ng-show="form_panel == 1" name="form" class="form-signin">
                            <input ng-model="formdata.username" name="usernm" type="text" class="form-control" placeholder="Username" required autofocus>
                            <input ng-model="formdata.password" name="passwd" type="password" class="form-control" placeholder="Password" required>
                            <button class="btn btn-sm btn-primary exe_btn" type="submit" data-ng-click="execute(formdata)">Execute</button>
                        </form>-->
            <form ng-show="form_panel == 2 || form_panel == 7" name="form" class="form-signin" enctype="multipart/form-data">
                <input ng-show="form_panel == 7" ng-model="formdata.object_id" name="objectid" type="text" class="form-control" placeholder="Object Id" required autofocus>
                Upload
                <input type="radio" ng-model="file_type" value="file" class="buttons-radio">File
                <input type="radio" ng-model="file_type" value="file_content" class="buttons-radio">File Content
                <input type="radio" ng-model="file_type" value="only_object" class="buttons-radio">Only Object<br/> 
                
                <input type="file" file-model="formdata.file" class="form-control" ng-show="file_type=='file'"/>                
                <textarea ng-model="formdata.file_content" name="file_content" class="form-control" ng-show="file_type=='file_content'" placeholder="File Content" rows="3" ></textarea>
                
                <input ng-model="formdata.access_token" value="access_token" name="accessToken" type="text" class="form-control" placeholder="Access Token" autofocus>

                <input ng-model="formdata.object_name" name="objectname" type="text" class="form-control" placeholder="Object Name" required autofocus>
                <!--input ng-model="formdata.object_type_id" name="objecttypeid" type="text" class="form-control" placeholder="Object Type Id" required-->      
                Object type:
                <select ng-model="formdata.object_type_id" ng-options="color.name for color in colors" class="form-control" placeholder="Object type"></select>

                <input ng-model="formdata.user_id" name="user_id" type="hidden" class="form-control" placeholder="User Id" required autofocus>
                <input ng-model="formdata.description" name="description" type="text" class="form-control" placeholder="Description" required>

                <button class="btn btn-sm btn-primary exe_btn" type="submit" data-ng-click="execute(formdata)">Execute</button>
            </form>
            <form ng-show="form_panel == 22" name="form" class="form-signin" enctype="multipart/form-data">
                Upload
                <input type="radio" ng-model="file_type" value="file" class="buttons-radio">File
                <input type="radio" ng-model="file_type" value="file_content" class="buttons-radio">File Content
                <input type="radio" ng-model="file_type" value="only_object" class="buttons-radio">Only Object<br/> 
                
                <input type="file" file-model="formdata.file" class="form-control" ng-show="file_type=='file'"/>                
                <textarea ng-model="formdata.file_content" name="file_content" class="form-control" ng-show="file_type=='file_content'" placeholder="File Content" rows="3" ></textarea>
                
                <input ng-model="formdata.object_id" name="objectid" type="text" class="form-control" placeholder="Object Id" required autofocus>
                
                <input ng-model="formdata.access_token" value="access_token" name="accessToken" type="text" class="form-control" placeholder="Access Token" autofocus>
                <input ng-model="formdata.object_name" name="objectname" type="text" class="form-control" placeholder="Object Name" required autofocus>
                <input ng-model="formdata.description" name="description" type="text" class="form-control" placeholder="Description" required>
                <input ng-model="formdata.user_id" name="user_id" type="hidden" class="form-control" placeholder="User Id" required autofocus>
                               
                <button class="btn btn-sm btn-primary exe_btn" type="submit" data-ng-click="execute(formdata)">Execute</button>
            </form>
            <form ng-show="form_panel == 4 || form_panel == 5 || form_panel == 6 || form_panel == 15" name="form" class="form-signin">
                <input ng-model="formdata.object_id" name="objectid" type="text" class="form-control" placeholder="Object Id" required autofocus>
                <input ng-model="formdata.title" name="title" type="text" class="form-control" placeholder="Title" required>
                <input ng-show="form_panel == 6 || form_panel == 15" ng-model="formdata.description" name="description" type="text" class="form-control" placeholder="Description">
                <input ng-model="formdata.access_token" value="access_token" name="accessToken" type="text" class="form-control" placeholder="Access Token" autofocus>
                <button class="btn btn-sm btn-primary exe_btn" type="submit" data-ng-click="execute(formdata)">Execute</button>
            </form>
            <form ng-show="form_panel == 8 || form_panel == 9" name="form" class="form-signin">
                <input ng-model="formdata.object_id" name="objectid" type="text" class="form-control" placeholder="Object Id" required autofocus>
                <input ng-model="formdata.access_token" value="access_token" name="accessToken" type="text" class="form-control" placeholder="Access Token" autofocus>
                <button class="btn btn-sm btn-primary exe_btn" type="submit" data-ng-click="execute(formdata)">Execute</button>
            </form>
            <form ng-show="form_panel == 10 || form_panel == 11 || form_panel == 12" name="form" class="form-signin" enctype="multipart/form-data">
                <input ng-model="formdata.object_id" name="objectid" type="text" class="form-control" placeholder="Object Id" required autofocus>
                <input ng-model="formdata.access_token" value="access_token" name="accessToken" type="text" class="form-control" placeholder="Access Token" autofocus>
                <button class="btn btn-sm btn-primary exe_btn" type="submit" data-ng-click="execute(formdata)">Execute</button>
            </form>
            <form ng-show="form_panel == 13 || form_panel == 14" name="form" class="form-signin" enctype="multipart/form-data">
                <input ng-model="formdata.id" name="objectid" type="text" class="form-control" placeholder="Id" required autofocus>
                <input ng-model="formdata.access_token" value="access_token" name="accessToken" type="text" class="form-control" placeholder="Access Token" autofocus>
                <button class="btn btn-sm btn-primary exe_btn" type="submit" data-ng-click="execute(formdata)">Execute</button>
            </form>
            <form ng-show="form_panel == 16" name="form" class="form-signin">
                <input ng-model="formdata.id" name="objectid" type="text" class="form-control" placeholder="Id" required autofocus>
                <input ng-model="formdata.title" name="title" type="text" class="form-control" placeholder="Title" required>
                <input ng-model="formdata.access_token" value="access_token" name="accessToken" type="text" class="form-control" placeholder="Access Token" autofocus>
                <button class="btn btn-sm btn-primary exe_btn" type="submit" data-ng-click="execute(formdata)">Execute</button>
            </form>
        </div>
    </div>
    <div class="panel" ng-class="{'panel-success': status == 200,'panel-danger': status > 200,'panel-info': status == 0}">
        <div class="panel-heading">
            Output
        </div>
        <div class="panel-body">
            <div class="row" ng-show="loading">
                <div class="col-xs-12 col-md-12" style="text-align: center">
                    <img src="img/loading.gif" alt="">
                </div>
            </div>
            <pre ng-show="status"><div data-ng-bind-html="outputData | innerHtml"></div></pre>
        </div>
    </div>    
</div>

