<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <app-preloader class="w-100 position-fixed preloader-backdrop" *ngIf="showLoader" [loaderText]="'Saving...'">
  </app-preloader>

  <div class="col-12">
    <section class="row">

      <div class="col tab-right">
        <ul role=list class="list-inline text-right">
          <button type="button" class="btn btn-cancel btn-xs text-underline" id="cnlBtnpermission" (click)="navigateToTeam();">Cancel and go
            back</button>
          <button type="button" class="btn btn-primary btn-md save" id="saveBtnpermission" (click)="onSubmit()" *ngIf="setPermissionButton"
            [disabled]="!submitButton">Save</button>
        </ul>
      </div>
    </section>

    <!-- Project Permission block starts-->
    <app-permission-item [itemName]="PROJECT" [selectAll]="selectAllItems[PROJECT]"
      [itemPermissions]="permissionListContainer[PROJECT]" (allSelectedEvent)="onAllPermissionSelected($event, PROJECT)"
      (permissionSelectedEvent)="onPermissionSelected($event, PROJECT)"></app-permission-item>
    <!-- Project Permission block ends-->

    <!-- Taxonomy Permission block starts-->
    <app-permission-item [itemName]="TAXONOMY" [selectAll]="selectAllItems[TAXONOMY]"
      [itemPermissions]="permissionListContainer[TAXONOMY]"
      (allSelectedEvent)="onAllPermissionSelected($event, TAXONOMY)"
      (permissionSelectedEvent)="onPermissionSelected($event, TAXONOMY)"></app-permission-item>
    <!-- Taxonomy Permission block ends-->

    <!-- Metadata Permission block starts-->
    <app-permission-item [itemName]="METADATA" [selectAll]="selectAllItems[METADATA]"
      [itemPermissions]="permissionListContainer[METADATA]"
      (allSelectedEvent)="onAllPermissionSelected($event, METADATA)"
      (permissionSelectedEvent)="onPermissionSelected($event, METADATA)"></app-permission-item>
    <!-- Metadata Permission block ends-->

    <!-- Workflow Permission block starts-->
    <app-permission-item [itemName]="WORKFLOW" [selectAll]="selectAllItems[WORKFLOW]"
      [itemPermissions]="permissionListContainer[WORKFLOW]"
      (allSelectedEvent)="onAllPermissionSelected($event, WORKFLOW)"
      (permissionSelectedEvent)="onPermissionSelected($event, WORKFLOW)"></app-permission-item>
    <!-- Workflow Permission block ends-->

    <!-- User & Role Permission block starts-->
    <app-permission-item [itemName]="USER_ROLE" [selectAll]="selectAllItems[USER_ROLE]"
      [itemPermissions]="permissionListContainer[USER_ROLE]"
      (allSelectedEvent)="onAllPermissionSelected($event, USER_ROLE)"
      (permissionSelectedEvent)="onPermissionSelected($event, USER_ROLE)"></app-permission-item>
    <!-- User & Role Permission block ends-->

    <!-- Comment Permission block starts-->
    <app-permission-item [itemName]="COMMENT" [selectAll]="selectAllItems[COMMENT]"
      [itemPermissions]="permissionListContainer[COMMENT]" (allSelectedEvent)="onAllPermissionSelected($event, COMMENT)"
      (permissionSelectedEvent)="onPermissionSelected($event, COMMENT)"></app-permission-item>
    <!-- Comment Permission block ends-->

    <!-- Node Template Permission block starts-->
    <app-permission-item [itemName]="NODE_TEMPLATE" [selectAll]="selectAllItems[NODE_TEMPLATE]"
      [itemPermissions]="permissionListContainer[NODE_TEMPLATE]"
      (allSelectedEvent)="onAllPermissionSelected($event, NODE_TEMPLATE)"
      (permissionSelectedEvent)="onPermissionSelected($event, NODE_TEMPLATE)"></app-permission-item>
    <!-- Node Template Permission block ends-->

    <!-- Node Type Permission block starts-->
    <app-permission-item [itemName]="NODE_TYPE" [selectAll]="selectAllItems[NODE_TYPE]"
      [itemPermissions]="permissionListContainer[NODE_TYPE]"
      (allSelectedEvent)="onAllPermissionSelected($event, NODE_TYPE)"
      (permissionSelectedEvent)="onPermissionSelected($event, NODE_TYPE)"></app-permission-item>
    <!-- Node Type Permission block ends-->


    <!-- Notification Permission block starts-->
    <app-permission-item [itemName]="NOTIFICATION" [selectAll]="selectAllItems[NOTIFICATION]"
      [itemPermissions]="permissionListContainer[NOTIFICATION]"
      (allSelectedEvent)="onAllPermissionSelected($event, NOTIFICATION)"
      (permissionSelectedEvent)="onPermissionSelected($event, NOTIFICATION)"></app-permission-item>
    <!-- Notification Permission block ends-->

    <!-- Public Review Permission block starts-->
    <app-permission-item [itemName]="PUBLIC_REVIEW" [selectAll]="selectAllItems[PUBLIC_REVIEW]"
      [itemPermissions]="permissionListContainer[PUBLIC_REVIEW]"
      (allSelectedEvent)="onAllPermissionSelected($event, PUBLIC_REVIEW)"
      (permissionSelectedEvent)="onPermissionSelected($event, PUBLIC_REVIEW)"></app-permission-item>
    <!-- Public Review Permission block ends-->

    <!-- Pacing Guide Permission block starts-->
    <app-permission-item [itemName]="PACING_GUIDE" [selectAll]="selectAllItems[PACING_GUIDE]"
      [itemPermissions]="permissionListContainer[PACING_GUIDE]"
      (allSelectedEvent)="onAllPermissionSelected($event, PACING_GUIDE)"
      (permissionSelectedEvent)="onPermissionSelected($event, PACING_GUIDE)"></app-permission-item>
    <!-- Pacing Guide Permission block ends-->

    <!-- Website notes & documents Permission block starts-->
    <app-permission-item [itemName]="WEBSITE_NOTES" [selectAll]="selectAllItems[WEBSITE_NOTES]"
      [itemPermissions]="permissionListContainer[WEBSITE_NOTES]"
      (allSelectedEvent)="onAllPermissionSelected($event, WEBSITE_NOTES)"
      (permissionSelectedEvent)="onPermissionSelected($event, WEBSITE_NOTES)"></app-permission-item>
    <!-- Website notes & documents Permission block ends-->

  </div>
  <!-- end of container-fluid -->
</div>