#toast-container{
    @include margin-indv('top', 1rem);

    &>div{
        @include padding-indv('top', 0);
        @include padding-indv('bottom', 0);
        @include box-shadow-success-alert;
        opacity: 1;
        
        &:hover,
        &:focus,
        &:active{
            @include box-shadow-success-alert;
        }
    }
    
    &.toast-top-center{
        &>div{
            @include flex;
            @include padding(15px 0);
            width: 600px;
            justify-content: flex-start;
            align-items: center;
        }
    }
}

button{
    &.toast-close-button{
        @include padding(5px 14px);
        @include right(10px);
        @include top(0);
        @include border-radius(5px);
        background: url('~/assets/images/dismiss.gif') no-repeat 0 0;
        background-size: 100%; 
        height: 30px;
        width: 30px;
        order: 3;
        opacity: 1;
    
        span{
            @include display(none);
        }
    
        &:focus{
            opacity: 1;
            outline: 1px dashed $white;
        }
    }
}

.toast{
    &-success{
        @include bgcolor($success);
    }

    &-title {
        @include display(none);
    }

    &-message{
        @include padding-indv('left', 3.5rem);
        @include padding-indv('right', 1rem);
        width: 92%;
        order: 2;
        line-height: 2rem;
    }
}
