@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.save-association-setting{
    @include bgcolor(lighten($warning,25%));
    @include padding(5px 15px);
    .btn{
        &-icon{
            @include font-size(12);
            @include font-color($darkest-xxxx);
        }
    }
}