<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="compare">  
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title">
                    <div class="pull-right">  
                        <button type="button" class="btn btn-default" ng-click="backToDashBoard(toc_creation_status, project_id);" ><i class="fa fa-chevron-left"></i>Back to Dashboard</button>
                    </div>
                    <div class="pull-middle"> 
                        {{project_name}}
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">
                            <!--/*stucture modified for all pages*/-->
                            <div class="from-container-row">
                                <div class="pattern-list-container">

                                    <div class="page-title">Compare versions for [{{object.title}}]</div>
                                    <div class="col-md-1">File 1:</div>
                                    <div class="col-md-4">
                                        <select ng-model="file1" name="file1" ng-selected="selected" ng-options="version.version_name for version in versionList track by version.id" class="form-control">
                                            <option value="">Select Version</option>
                                        </select>
                                    </div> 
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1">File 2:</div>
                                    <div class="col-md-4">
                                        <select ng-model="file2" name="file2" ng-selected="selected" value="version.id" ng-options="version.version_name for version in versionList track by version.id" class="form-control" >
                                            <option value="">Select Version</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1"><button class="btn btn-primary btn-sm" tooltip-html-unsafe="Compare" ng-click="compareFiles(file1, file2)">Compare</button></div>                                    
                                    <div class="clearfix"></div>
                                </div>
                                <i-frame body="compare_result"></i-frame>
                            </div>
                            <!--/*//////stucture modified for all pages*/--> 
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
        <!--FOOTER STARTS HERE-->
        <!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>