<div class="sidenav sidenav-offcanvas position-fixed" id="mySidenav" aria-label="Comment">
  <header class="sidenav__header d-flex justify-content-center align-items-center">
    <ul class="list-inline text-left col p-0">
      <li class="list-inline-item">
        <a href="javascript:void(0);" *ngIf="showBackBtn"
          (click)="getItemComments(selectNodeItemID);showHistoryBtn = true;showBackBtn = false;">
          <em class="icon-ico-collapse ic-flip align-text-top">
            <span class="sr-only sr-only-focusable">Back to comment</span>
          </em>
        </a>
      </li>
      <li class="list-inline-item notes ">{{title}}</li>
      <li class="list-inline-item">
        <a href="javascript:void(0);" *ngIf="showHistoryBtn"
          (click)="getarchiveList();showHistoryBtn = false;showBackBtn = true;">
          <em class="icon-ico-history">
            <span class="sr-only sr-only-focusable">show archived messages</span>
          </em>
        </a>
      </li>
    </ul>

    <ul class="list-inline text-right col p-0">

      <li class="list-inline-item" *ngIf="(!hasCommentLimit || (hasCommentLimit && noOfMyComments<commentLimit))">
        <button type="button" class="btn btn-cancel text-underline add-new font-bold" id="addnodeBtn" (click)="addNewNote()"
          *ngIf="editComments ? createCommentButton: false">Add
          New
        </button>
      </li>
      <li class="list-inline-item">
        <button type="button" class="btn btn-icon" id="cancleCommentBtn" (click)="cancleComment()" tabindex="0" id="close-note" aria-label="Close">
          <em class="fas fa-times" aria-hidden="true"></em>
        </button>
      </li>
    </ul>
  </header>


  <!--CREATE COMMENT STARTS-->
  <section class="card comment comment__create" *ngIf="addNewNotes">
    <div class="card-body comment__body">
      <figure class="figure">
        <!-- <img src="" class="img-fluid rounded-circle list-inline-item" alt=""> -->
        <figcaption class="figure-caption list-inline-item" aria-live="polite" aria-atomic="true">{{ userName }}
        </figcaption>
      </figure>

      <div class="form-group">
        <label for="writeNote" class="sr-only" id="descriptionLabel">Description</label>
        <textarea class="form-control" placeholder="Write a note..." id="writeNote" [(ngModel)]="commentNote"
          [formControl]="form.controls['description']" rows="2" (keyup)="checkValidation();"></textarea>
      </div>

      <div class="form-group" *ngIf="showAssignTo">
        <label for="assign-to" class="sr-only" id="assignLabel">Assign to</label>
        <select class="custom-select font-bold" id="assign-to" [(ngModel)]="selectedUser" (change)="selectAssignTo()">
          <option *ngFor="let user of userList" id="{{ user.user_name.split(' ').join('') }}" [disabled]="selectedUser?.user_id===user?.user_id" [ngValue]="user">
            {{ user.user_name }}</option>
        </select>
      </div>


    </div>
    <div class="w-100 text-right comment__footer">
      <button type="button" class="btn btn-cancel text-underline" id="canselCommentBtn" data-dismiss="modal"
        (click)="canselComment()">Cancel</button>
      <button type="button" class="btn btn-primary btn-sm" id="addCommentBtn" [disabled]="!(form.valid && valid)"
        (click)="addComment()">Add</button>
    </div>
  </section>


  <!--CREATE COMMENT ENDS-->
  <div *ngIf="!archiveList">
    <div class="card comment sidenav__card" *ngFor="let data of tempCommentList;let rowIndex=index">
      <div class="card-header row">
        <div class="col-6 p-0">
          <figure class="figure mb-0">
            <!-- <img src="" class="img-fluid rounded-circle list-inline-item" alt=""> -->
            <figcaption class="figure-caption list-inline-item">{{ data.created_by }}</figcaption>
            <p class="comment-time mb-0" aria-label="Comment post time">{{ formateDate(data) }}</p>
          </figure>

        </div>

        <div class="col-6 pr-0">
          <section class="row align-items-center text-right">
            <div class="col-6 ticket-status text-uppercase p-0">
              <ng-container *ngFor="let item of commentActions">
                <span *ngIf="data.status === item.value">{{item.name}}</span>
              </ng-container>

            </div>

            <div class="col-6" *ngIf="!preventEdit ? (checkCanChageStatus(data) && showChangeStatus) : false">
              <div class="more-option dropdown">
                <button class="btn btn-icon py-0 tooltip top top-right position-relative d-inline-block" id="expandtochangeBtn" data-tooltip="Configure" [attr.aria-label]="'Expand to change status'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <em class="icon-icon-more-horiz"></em>
                </button>

                <div class="dropdown-menu">
                  <ng-container *ngFor="let item of commentActions">
                    <button class="btn btn-clear dropdown-item" id="{{item.name.split(' ').join('')}}Btn" [disabled]="data?.status===item?.value"
                      (click)='changeStatus(item.value,data.thread_id,data.thread_comment_id,item.name)'>{{item.name}}</button>
                  </ng-container>
                </div>
              </div>
            </div>
          </section>

        </div>

      </div>
      <div class="card-body sidenav__card-body p-0">

        <div class="reply__section" aria-live="polite" aria-atomic="true">
          <p class="username font-bold text-truncate mb-0 pr-4" aria-live="polite" aria-atomic="true"
            *ngIf="showAssignTo">Assigned
            to: {{ data.assign_to }}</p>

          <p *ngIf="checkCanEdit(data)" class="card-text" [attr.contenteditable]="editComments"
            (blur)="editCommentTitle($event,data.thread_comment_id,data.thread_id,rowIndex,tempCommentList,'')"
            aria-live="polite" aria-atomic="true">
            {{ data.item_comment }}
          </p>
          <p *ngIf="!checkCanEdit(data)" class="card-text">
            {{ data.item_comment }}
          </p>
          <ng-container *ngIf="!preventEdit ? (checkCanDelete(data) && showDelete) : false">
            <button  (click)="deletComment(data.thread_comment_id, 'delete_notes')" class="btn btn-icon tooltip top top-right position-absolute" id="deletCommentBtn" data-tooltip="Delete comment" [attr.aria-label]="'Delete comment'">
              <em class="icon-ico-garbage"></em>
            </button>
          </ng-container>

        </div>

        <div class="text-right pr-2"
          *ngIf="!preventEdit ? (rowIndex !==commentIndex && data.comments.length === 1 && showReply) : false">
          <button *ngIf="checkCanReplyToOthers(data)" type="button" class="btn btn-cancel btn-reply text-underline px-0" id="addReplayBtn"
            (click)="addReplay(rowIndex,data)">Reply</button>
        </div>

        <div class="text-right pr-2"
          *ngIf="!preventEdit ? (rowIndex !==commentIndex && data.comments.length !== 1 &&  showReply) : false">
          <button *ngIf="checkCanReplyToOthers(data)" type="button" class="btn btn-cancel btn-reply text-underline px-0" id="replayBtn"
            (click)="addReplay(rowIndex,data)">Reply</button>
        </div>

        <div class="reply" *ngIf="data.comments.length>0">
          <div class="reply__section" *ngFor="let comment of data.comments; let i = index" aria-live="polite"
            aria-atomic="true">
            <figure class="figure">
              <!-- <img src="" class="img-fluid rounded-circle list-inline-item" alt=""> -->
              <figcaption class="figure-caption list-inline-item">{{ comment.created_by }}</figcaption>
              <p class="comment-time mb-0" aria-label="Comment post time">{{ formateDate(comment) }}</p>
            </figure>
            <p *ngIf="checkCanEdit(comment)" class="card-text"
              [attr.contenteditable]="!preventEdit ? checkCanEdit(comment) : false"
              (blur)="editCommentTitle($event,comment.thread_comment_id,data.thread_id,i,data.comments,'reply')">
              {{ comment.comment }}
            </p>
            <p *ngIf="!checkCanEdit(comment)" class="card-text">
              {{ comment.comment }}
            </p>
            <ng-container *ngIf="!preventEdit ? (checkCanDelete(comment) && showDelete) : false">
              <a href="javascript:void(0);" (click)="deletComment(comment.thread_comment_id, 'delete_reply')">
                <em class="icon-ico-garbage float-right">
                  <span class="sr-only sr-only-focusable">Delete comment</span>
                </em>
              </a>
            </ng-container>


          </div>
        </div>


      </div>


      <div id="comment-all" class="collapse">
      </div>

      <!-- </div> -->



      <div class="card comment comment__create reply" *ngIf="commentBody && rowIndex ===commentIndex && showReply">
        <div class="card-body comment__body reply__section">
          <!-- <figure class="figure">
            <figcaption class="figure-caption list-inline-item" aria-live="polite" aria-atomic="true">{{ userName }}</figcaption>
          </figure> -->
          <div class="form-group">
            <label for="writeReply" id="writeReplyLabel">Replying</label>
            <textarea class="form-control" placeholder="Add a reply" id="writeReply" rows="2"
              [(ngModel)]="comment"></textarea>
          </div>
          <div class="form-group" *ngIf="showAssignTo">
            <label for="assign-to" id="assignLabel" class="sr-only">Assign to</label>
            <select class="custom-select" id="assign-to" [(ngModel)]="selectedUser" (change)="selectAssignTo()">
              <option *ngFor="let user of userList" id="{{ user.user_name.split(' ').join('') }}Btn" [disabled]="selectedUser?.user_id===user?.user_id" [ngValue]="user">
                {{ user.user_name }}</option>
            </select>
          </div>

          <div class="float-right">
            <button type="button" class="btn btn-cancel text-underline" id="cancelCommentForCardBtn" data-dismiss="modal"
              (click)="cancelCommentForCard()">Cancel</button>
            <button type="button" class="btn btn-primary btn-sm" id="addCommentForCardBtn" [disabled]="!comment"
              (click)="addCommentForCard(rowIndex,data)">Add</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div *ngIf="tempCommentList && tempCommentList.length < 1">
      No comments found!
    </div> -->
  </div>
  <!--COMMENT OVERLAY ENDS-->

  <!--ARCHIVE LIST SATRT-->
  <div *ngIf="archiveList">
    <div class="card comment sidenav__card" *ngFor="let data of tempCommentList;let rowIndex=index">
      <div class="card-header row">
        <div class="col-6 p-0">
          <span class="username font-bold text-truncate" aria-live="polite"
            aria-atomic="true">{{ data.assign_to }}</span>
        </div>

        <div class="col-6 pr-0" style="margin-top: 3px;">
          <section class="row align-items-center text-right">
            <div class="col-6 ticket-status text-uppercase p-0">
              <span>Closed</span>
            </div>

            <div class="col-6" *ngIf="!preventEdit ? (checkCanChageStatus(data) && showChangeStatus) : false">
              <div class="more-option dropdown">
                <button class="btn btn-icon py-0 tooltip top top-right position-relative d-inline-block" id="expandstatusBtn" data-tooltip="Configure" [attr.aria-label]="'Expand to change status'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <em class="icon-icon-more-horiz"></em>
                </button>
                <div class="dropdown-menu">
                  <a href="javascript:void(0);" class="dropdown-item"
                    (click)='changeStatus(1,data.thread_id,data.thread_comment_id,"re-open");showHistoryBtn=true;showBackBtn=false;'>Re-Open</a>
                </div>
              </div>
            </div>
          </section>

        </div>

      </div>
      <div class="card-body sidenav__card-body p-0" aria-live="polite" aria-atomic="true">

        <div class="reply__section">
          <figure class="figure">
            <figcaption class="figure-caption list-inline-item">{{ data.created_by }}</figcaption>
          </figure>
          <p class="card-text">
            {{ data.item_comment }}
          </p>
          <p class="comment-time" aria-label="Comment post time">{{ formateDate(data) }}, today</p>
        </div>


        <div *ngFor="let comment of data.comments; let i = index">
          <div>
            <div class="reply">
              <div class="reply__section" style="margin-left: -10px">
                <figure class="figure">
                  <figcaption class="figure-caption list-inline-item">{{ comment.created_by }}</figcaption>
                </figure>
                <p class="card-text">
                  {{ comment.comment }}
                </p>
                <p class="comment-time" aria-label="Comment post time">{{ formateDate(comment) }}, today</p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div id="comment-all" class="collapse">
      </div>

      <!-- </div> -->



      <div class="card comment comment__create reply" *ngIf="commentBody && rowIndex ==commentIndex && showReply">
        <div class="card-body comment__body reply__section" aria-live="polite" aria-atomic="true">
          <figure class="figure">
            <figcaption class="figure-caption list-inline-item">{{ userName }}</figcaption>
          </figure>

          <label for="writeReply" class="sr-only" id="replywriteBtn">Write a reply</label>
          <textarea class="form-control pl-0" placeholder="Write a reply..." id="writeReply" rows="1"
            [(ngModel)]="comment"></textarea>
          <div class="form-group" *ngIf="showAssignTo">
            <label for="assign-to" class="sr-only" id="assigntoBtn">Assign to</label>
            <select class="custom-select pl-0" id="assign-to" [(ngModel)]="selectedUser" (change)="selectAssignTo()">
              <option *ngFor="let user of userList" [ngValue]="user" id="{{ user.user_name.split(' ').join('') }}Btn" [disabled]="selectedUser?.user_id===user?.user_id">
                {{ user.user_name }}</option>
            </select>
          </div>
          <div class="float-right">
            <button type="button" class="btn btn-cancel text-underline" id="cnlCommentForCard" data-dismiss="modal"
              (click)="cancelCommentForCard()">Cancel</button>
            <button type="button" class="btn btn-primary btn-sm" id="commentForCardaddBtn" [disabled]="!comment"
              (click)="addCommentForCard(rowIndex,data)">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--ARCHIVE LIST END-->




</div>
