<div class="popup-boxes" ng-cloak>
    <form ng-cloak>
        <div class="modal-header header-m">
            Create New Content
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">You are trying to add new content</div>
        <div class="inner-modal-content tab-contents">
            <div class="group inputfrom">
                <span><b>CONTENT TYPE</b></span><br/>                
                <span style="padding-right: 25px;">
                <input type="radio" name="section_page" ng-model="section_page" value="content_screen" ng-click="updateObjectNameLabel('Content Screen', 'content_screen')"> Content Screen
                </span>
                <span style="padding-right: 25px;">
                <input type="radio" name="section_page" ng-model="section_page" value="assessment" ng-click="updateObjectNameLabel('Assessment', 'assessment')"> Assessment
                </span>
                <span style="padding-right: 25px;">
                <input type="radio" name="section_page" ng-model="section_page" value="link" ng-click="updateObjectNameLabel('Resource', 'link')"> Resource
                </span>
            </div>
            <div class="group inputfrom" ng-show="section_page=='content_screen'"> 
                <span>Template</span>
                <select ng-model="selected_template" ng-options="template.title for template in templates track by template.id " class="form-control" name="selected_template">
                    <option value="">Blank Template</option>
                </select>
                <span class="highlight text-danger"></span>
                <span class="bar"></span>            
            </div>
            <div class="group inputfrom">  
                <input ng-model="object_name" name="object_name" type="text" class="form-control" id="" placeholder="{{object_name_placeholder}}">
                <span class="highlight text-danger">{{formError['object_name']}}</span>
                <span class="bar"></span>                 
            </div>
            
            <!-- Assessment Start --> 
            <div ng-show="section_page=='assessment'">
                <div class="group inputfrom" ng-show="is_assessment">
                    <select ng-model="assessment_source" class="form-control" ng-change="onChangeAssessmentType()">
                        <option value="">Select Type</option>
                        <option value="QUAD">QuAD</option>
                        <option value="FROST">FROST</option>
                    </select>
                    <span class="highlight text-danger">{{formError['assessment_source']}}</span>
                </div>
                <div class="group inputfrom" ng-show="is_assessment && assessment_source == 'QUAD'">
                    <input ng-model="assessment_id" type="text" class="form-control" id="" placeholder="QuAD Assessment ID">
                    <span class="highlight text-danger">{{formError['assessment_id']}}</span>
                    <span class="bar"></span>
                    <label>Assessment ID</label>
                </div>
                <div class="group inputfrom" ng-show="is_assessment && assessment_source == 'FROST'">
                    <button ng-if="assessment_id == ''" type="button" class="btn btn-default pull-left" ng-click="addAssessmentModal()">Select Assessment</button>
                    <div class="select_assessment" ng-if="assessment_id != ''">
                        <span class="assessment_name">{{assessment_details.title}}</span>
                        <button type="button" class="btn chice-deletes assessment_delete" ng-click="deleteAssessment()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                    <span style="display: block;clear: both;" class="highlight text-danger">{{formError['assessment_id']}}</span>
                </div>
            </div>
            <!-- Assessment End --> 
            
            <!-- External Resource Start --> 
            <div ng-show="section_page=='link'">
                <div class="group inputfrom">
                    <select ng-model="ext_res_type" class="form-control" ng-change="onChangeResourceType()">
                        <option value="">Select Type</option>
                        <option value="url">URL</option>
                        <option value="asset">File from Asset Library</option>
                    </select>
                    <span class="highlight text-danger">{{formError['ext_res_type']}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="group inputfrom" ng-show="ext_res_type == 'url'">
                    <input ng-model="ext_res_url" name="ext_res_url" type="text" class="form-control" id="" placeholder="http://" ng-enter-prevent-default>
                    <span class="highlight text-danger">{{formError['external_resources_message']}}</span>
                    <span class="bar"></span>
                    <label>URL</label>
                </div>
                <div class="group inputfrom" ng-show="ext_res_type == 'asset'">
                    <button ng-if="ext_res_url == ''" type="button" class="btn btn-default pull-left" ng-click="addAssestModal()">Select Asset</button>
                    <span ng-if="ext_res_url == ''" style="clear: both;display: block;" class="highlight text-danger">{{formError['resource_asset_message']}}</span>
                </div>
                <div class="group inputfrom">
                    <input ng-model="ext_res_url" name="ext_res_url" type="hidden" class="form-control">
                    <span class="highlight text-danger">{{formError['ext_res_url']}}</span>
                    <span class="bar"></span>  
                </div>
                <div class="group inputfrom ext_res_group" ng-show="ext_res_type == 'asset' && ext_res_url != ''">
                    <div class="clearfix"></div>
                    <img ng-show="frost_resource_asset_type == 'image'" alt="{{ext_res_title}}" ng-src="{{ext_res_url}}{{ts_hash}}" src="./img/blank.jpg">
                    <img class="asset_fig" ng-show="frost_resource_asset_type == 'video'" alt="{{ext_res_title}}" ng-src="./images/default-video.jpg">
                    <img class="asset_fig" ng-show="frost_resource_asset_type == 'audio'" alt="{{ext_res_title}}" ng-src="./images/default-video.jpg">
                    <img ng-show="frost_resource_asset_type == 'widget'" alt="{{ext_res_title}}" ng-src="./images/default-widget.png">
                    <img class="asset_fig"  ng-show="frost_resource_asset_type == 'other'" alt="{{ext_res_title}}" ng-src="./images/default-doc.png">
                    <img class="asset_fig"  ng-show="frost_resource_asset_type == 'vtt'" alt="{{ext_res_title}}" ng-src="./images/default-doc.png">
                    <span  class="asset_name">{{frost_resource_asset_name}}</span>
                     <span class="asset_type">{{frost_resource_asset_type=='widget' ? 'gadget' : frost_resource_asset_type=='vtt'?'other':frost_resource_asset_type}}</span>
                    <button type="button" class="btn chice-deletes asset_delete" ng-click="deleteAsset()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
            </div>
            <!-- External Resource End -->
            
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">            
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button ng-hide="showedit" class="btn btn-primary" ng-click="add()" ng-disabled="isConfirmClick">CONFIRM</button>
            <button ng-show="showedit" class="btn btn-primary" ng-click="edit()">CONFIRM</button>
        </div>
    </form>
</div>
