<div style="height: {{actualAssetListHeight}}px;overflow: auto;" ng-cloak>
    <div class="text-center">
        <button ng-click="applyAdvancedSearch()" class="btn btn-primary">Search</button>
    </div>
    <div class="clearfix"></div>
    <div class="adv-search">
        <div class="row margin-bottom25">
            <div class="col-sm-6">
                <label class="form-fld-title">Title/Keyword</label>
                <div class="">
                    <input type="text" class="form-control"  id="advanced_search.title" ng-model="advanced_search.title" aria-label="Text input with checkbox">
                </div>
            </div>
            <div class="col-sm-6">
                <label class="form-fld-title">Owner</label>
                <div class="input-group display-block">
                    <input type="hidden" aria-label="Text input with radio button" ui-select2="owner" ng-model="advanced_search.ownerValue">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="from-row-title">
                <label for="">Metadata </label>
            </div>
        </div>


        <div class="form-group">
            <div class="row clearfix">
                <div class="metad-data-cont col-sm-6">
                    <div class="metadata-container-block">
                        <div class="row  margin-bottom25">
                            <div class="col-sm-12 key-value-block">
                                <div id="advancedSearchKeyValueContentAreaId"></div>
                            </div>
                            <div class="col-sm-12">
                                <label for="metadataValue">Tag</label>
                                <!--<button type="button" class="ad-qtn qtn-information sprite pull-right" data-toggle="tooltip" data-placement="top" title="Tags">Tooltip on top</button>-->
                                <div class="input-group display-block">
                                    <input type="hidden"  ui-select2="tag" ng-model="advanced_search.tagValue"/>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-6">
                    <label class="form-fld-title">Taxonomy</label>
                    <div class="input-group">
                        <div ivh-treeview="taxonomy" ivh-treeview-twistie-expanded-tpl="tplFolderOpen" ivh-treeview-twistie-collapsed-tpl="tplFolderClose" ivh-treeview-twistie-leaf-tpl="tplLeaf"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="text-center">
        <button ng-click="applyAdvancedSearch()" class="btn btn-primary">Search</button>

    </div>
</div>
<!--<button type="button" class="btn btn-default collapsed adv-btn-col" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Collapse </button>-->