
<div class="popup-boxes">
    <form class="from-container" ng-cloak>
        <div class="modal-header header-m">
            Assessment Library
        </div>
        <button type="button" class="btn btn-default btn-search advance-btn collapsed" ng-click="toggleAdvanceSearch()">Advanced Search</button>
        <div ng-show="advanced_search.isCollapsed">
            <div class="advance-container">
                <div ng-include src="'templates/asset/advanced_search.html'"></div>  
            </div>
        </div>
        <div class="page-title" ng-show="advanced_search.enableSearch">
            <div class="pull-right"> 
                <button type="button" class="btn btn-default" ng-click="clearSearch()"><i class="fa fa-chevron-left"></i> Back</button>
            </div>
            <div class="pull-middle">
                {{advanced_search.heading}}
            </div>
            <div class="clearfix"></div>
        </div>

        <div style="margin-top: 10px;" ng-show="!advanced_search.isCollapsed"> 
            <div class="filter-area filter-button-area pull-right" ng-show="!is_global_project">
                <div class="btn-group pull-left col-xs-12" data-toggle="buttons">
                    <div class="btn btn-default asset-filter asset-filter-access" ng-model="assessment_local_global.local" btn-checkbox ng-change="apply_filter()">
                        Local
                    </div>
                    <div class="btn btn-default asset-filter asset-filter-access" ng-model="assessment_local_global.global" btn-checkbox ng-change="apply_filter()">
                        Global
                    </div>
                </div>                
            </div>
            <div class="col-xs-12 panel-body">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="search_text" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button ng-click="search()" type="button" class="btn btn-primary">Search</button>
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>

            <div ng-show="total_assessments > 0">
                <div class="col-xs-12" style="background-color: #fff;">
                    <div class="inner-modal-content tab-contents" id="assessmentLoader" style="max-height:290px; overflow-y:auto;border:0;">
                        <div>
                            <div class="prediv" ng-repeat="assessment in assessmemnts track by assessment.shortcode">
                                <div class="radio"> 
                                    <label class="wordBreak"> 
                                        <input type="radio" name="selected_assessment_id" ng-model="selected_assessment_id" value="{{assessment.shortcode}}" ng-enter-prevent-default ng-click="setAssessmentId(assessment.shortcode);">  
                                        {{assessment.title}}
                                        <button class="btn btn-default2" style="float:right;padding:2px 12px;" ng-disabled="assessment.total_question == 0" ng-click="preview_question(assessment.shortcode)">Preview</button>
                                    </label> 

                                </div>
                            </div>                                 
                        </div>
                    </div>
                    <div id="questionLoader" style="max-height:290px; overflow-y:auto; border:0;"></div>
                </div>                

                <div class="clearfix"></div>                
            </div>
            <div ng-show="total_assessments=='0'">
                <div class="col-md-12">
                    <div class="alert alert-danger" style="text-align: center;">No Assessment Found!!!</div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>

        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button class="btn btn-primary" ng-click="submitResource()" id="submit_resource">CONFIRM</button>
        </div>
    </form>
</div>