<div class="uploading-container" flow-transfers flow-file-success="getUploadedFiles($flow, $file, $message)" ng-model="ismaximize" ng-init="ismaximize = true" ng-cloak>
    <div class="page-title" ng-click="ismaximize = !ismaximize" >
        <span class="caret {{{true:'maximize',false:'manimize'}[ismaximize]}}" ng-click="ismaximize = !ismaximize" ></span>
        <!--span class="upload-status-icon"><i class="error-icon sprite3"></i></span-->Uploading <span class="upload-text"><span class="file-no">({{$flow.files.length}} Files)</span>     <span  class="file-size">{{$flow.progress() * 100 | number:0}}% of {{$flow.getSize() | bytes}}</span>     <span class="file-time">Expected Time: {{$flow.timeRemaining()}} Secs</span></span>
        <span class="title-btn-area">
            <button class="btn btn-default" ng-click="$flow.pause()" >Pause All</button> 
            <button class="btn btn-default" ng-click="$flow.cancel()">Cancel All</button>
        </span>
    </div>
    <div class="uploading-content" ng-show="ismaximize ? true : ''">
        <div ng-repeat="file in transfers" class="uploading-data {{{true:'error',false:''}[file.error]}}">
            <div class="uploaddetails">
                <span class="loading-control">
                    <button type="button" class="play" ng-click="file.resume()" ng-init="file.resume()">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="close" ng-click="file.pause()" >
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                </span>
                <span class="loading-control-text">
                    <strong>Size: {{file.size|bytes}}</strong>
                    <strong ng-if="!file.isComplete()" >Time Left: {{file.timeRemaining()}} secs</strong>
                    <strong ng-if="file.isComplete()" >Upload Completed</strong>
                </span>
                {{file.name}}

                <div class="clearfix"></div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{file.progress() * 100 | number:0}}%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
            <div class="upload-data-path">Asset uploading into Knowledge Taxonomy / Folder</div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>