<div class="popup-boxes">
    <form ng-cloak>
        <div class="modal-header header-m">
            Content Objects Usage 
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>        
        <div class="inner-modal-content tab-contents">
            <div class="from-container">
                <!--/*stucture modified for all pages*/-->
                <div class="from-container-row">
                    <div class="pattern-list-container">
                        <table id="taxonomyTableId" class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="40%">Project Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--tr ng-repeat="meatadata_object in taxonomyMetadataObjects"-->
                                <tr dir-paginate="assets in asset_usage_list|itemsPerPage: itemsPerPage" total-items="asset_usage_total" current-page="currentPage" pagination-id="objectListId">
                                    <td><a ng-if="assets.is_accesible" ng-click="goToProjectDashboard(assets)" href="javascript:void(0);">{{assets.used_in_project_name}}</a>
                                        <div ng-if="!assets.is_accesible">{{assets.used_in_project_name}}</div>
                                    </td> 
                                    
                                </tr>
                                <tr>
                                    <td colspan="1">
                                        <!-- Pagination Starts Here -->
                            <dir-pagination-controls class="dir_pagination"
                                                     boundary-links="true" 
                                                     pagination-id="objectListId" 
                                                     on-page-change="pageChangeHandlerObject(newPageNumber)" 
                                                     template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                            </dir-pagination-controls>
                            <!-- Pagination Starts End -->
                            </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">            
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
        </div>
    </form>
</div>