<div class="toc-panel-right tc-cont" style="height: {{rightPaneLinkHeight}};"  ng-cloak>
    <a href="#/projectedit/{{project_id}}">
        <div class="tocmenu-block">
            <div class="tocmenu-icon sprite3 Edit-Project"></div>
            <div class="tocmenu-name">Edit Project</div>
        </div>
    </a>
    <!-- <div ng-show="project.project_permissions['project.copy'].grant && project.toc_creation_status == 3001" class="tocmenu-block" ng-click="copy_project()">
        <div class="tocmenu-icon sprite3 Copy-Project"></div>
        <div class="tocmenu-name">Duplicate Project</div>
    </div>
    <a href="#/assessment/{{project.id}}" ng-show="project.project_permissions['assessment.show.all'].grant">
        <div class="tocmenu-block" ng-click="create_assessment()">
            <div class="tocmenu-icon sprite3 Copy-Project"></div>
            <div class="tocmenu-name">Assessment</div>
        </div>
    </a>
    <a href="#/pattern/{{project.id}}" ng-show="project.project_permissions['pattern.show.all'].grant">
        <div class="tocmenu-block">
            <div class="tocmenu-icon sprite3 Manage-Patterns"></div>
            <div class="tocmenu-name">Manage Patterns</div>
        </div>
    </a>
    <a href="#/management/dataset/{{project.id}}" ng-show="project.project_permissions['dataset.show.all'].grant">
        <div class="tocmenu-block">
            <div class="tocmenu-icon sprite3 Copy-Project"></div>
            <div class="tocmenu-name">Manage Resources</div>
        </div>
    </a> -->
    <!--<a href="#/management/multivideo/{{project.id}}" ng-show="project.project_permissions['dataset.show.all'].grant">
        <div class="tocmenu-block">
            <div class="tocmenu-icon sprite3 Copy-Project"></div>
            <div class="tocmenu-name">Manage Multivideo</div>
        </div>
    </a>-->
    <!-- <a ng-if="project.project_type_id == 5 && project.toc_creation_status == 3001" href="#/template/{{project.id}}" ng-show="project.project_permissions['template.show.all'].grant">
        <div class="tocmenu-block">
            <div class="tocmenu-icon sprite3 Manage-Patterns"></div>
            <div class="tocmenu-name">Manage Templates</div>
        </div>
    </a>
    <a href="#/asset/{{project.id}}" ng-show="project.project_permissions['asset.show.all'].grant">
        <div class="tocmenu-block">
            <div class="tocmenu-icon sprite3 Manage-Assets"></div>
            <div class="tocmenu-name">Manage Assets</div>
        </div>
    </a>
    <a href="#/project-user/{{project.id}}" ng-show="project.project_permissions['project.user.role.association'].grant">
        <div class="tocmenu-block">
            <div class="tocmenu-icon sprite3 Manage-Users"></div>
            <div class="tocmenu-name">Manage Users</div>
        </div>
    </a>
    <a href="#/global_comment/{{project.id}}" >
        <div class="tocmenu-block">
            <div class="tocmenu-icon sprite3 Comments-Project"></div>
            <div class="tocmenu-name">Comment</div>
        </div>
    </a>
    <a href="#/project_asset_usage/{{project.id}}" >
        <div class="tocmenu-block">
            <div class="tocmenu-icon sprite3 Usage-Dashboard"></div>
            <div class="tocmenu-name">Project Usage Dashboard</div>
        </div>
    </a> -->
    <!--<a href="#/imagepopup/{{project.id}}">
        <div class="tocmenu-block">
            <div class="tocmenu-icon sprite3 Copy-Project"></div>
            <div class="tocmenu-name">Utilities</div>
        </div>
    </a>-->
    <!-- <a ng-if="project.project_type_id == 5" href="#/pdf_import_list/{{project.id}}">
        <div class="tocmenu-block">
            <div class="tocmenu-icon sprite3 Copy-Project"></div>
            <div class="tocmenu-name">Import List</div>
        </div>
    </a>
    <a href="#/linkcheck/{{project.id}}">
        <div class="tocmenu-block">
            <div class="tocmenu-icon sprite3 Copy-Project"></div>
            <div class="tocmenu-name">Utilities</div>
        </div>
    </a> -->
    <div class="clearfix"></div>
</div>