<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" flow-init ng-cloak>
    <div class="main_container" ng-controller="toc_edit" ng-cloak>
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->

        <!--SECTION STARTS HERE-->
        <section class="wrapper">
            <div class="page-title">
                <div class="pull-right" ng-if="!project.is_global_project">
                     <!--<button class="btn btn-primary" title="Upload PDF" ng-show="project_details.project_type_id==5 && show_download_imscc" flow-btn>Upload PDF</button>-->
                     
<!--                    <a ng-href="{{download_imscc_link}}" target="_blank" >
                        <button class="btn btn-default" title="Download imscc" ng-if="show_download_imscc">Download imscc</button>
                    </a>-->
                    
                    <button class="btn btn-default" title="Project Locking" ng-if="show_lock_btn" ng-click="lock_project()"><i class="fa" ng-class="{'fa-unlock': project_details.is_locked != 1, 'fa-unlock-alt': project_details.is_locked == 1}"></i></button>
                    <button type="button" id="export_btn" class="btn btn-primary" ng-click="exportHistory('lg', project_details.id);" ng-show="project.project_export_count > 0 && project.project_permissions['project.export.show.all'].grant" >Export History</button>
                    <project-export-button ng-if="project.id" project="project"></project-export-button>
                    <project-preview-button ng-if="project.id" project-id="project.id" ></project-preview-button>
                    <!--button type="button" id="replace_btn" ng-if="project.id" class="btn btn-primary" ng-click="searchReplace();">Search & Replace</button-->
                </div>
                <div class="pull-middle"> 
                    {{project_details.name}} 
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="alert alert-success alert-dismissible" role="alert" ng-show="show_success_msg">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success! Project created successfully.</strong>
                <div data-ng-bind-html="asset_import_info | innerHtml"></div>
            </div>

            <div class="alert alert-success alert-dismissible" role="alert" ng-show="show_edit_success_msg">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success! Project updated successfully.</strong>
            </div>

            <div class="alert alert-danger alert-dismissible" role="alert" ng-show="show_project_error_msg">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Error! Either the project does not exist or you are no longer allocated to this project.</strong>
            </div>
            <div class="container product-inner">


                <div class="content">                
                    <div class="from-container">
                        <div class="from-container-row">
                            <div class="toc-panel-container">

                                <div class="live" ng-if="project_details.id">


                                    <div ng-include src="'templates/toc/dashboard_right_nav.html'"></div>

                                    <!-- Seperating TOC view -->
                                    <div ng-if="project_details.project_type_id == 4" ng-include src="'templates/toc/edupub/toc.html'"></div>
                                    <div ng-if="project_details.project_type_id == 5" ng-include src="'templates/toc/course/toc.html'"></div>
                                    <div ng-if="project_details.project_type_id == 1" ng-include src="'templates/toc/pxe/toc.html'"></div>

                                    <div class="clearfix"></div>
                                </div>


                            </div>
                            <div class="clearfix"></div>                            
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            
            
            <!-- Project Upload Popup starts-->
            <div ng-include src="'templates/project/project_upload_popup.html'" ng-show="$flow.files.length"></div>
            <!-- Project Upload Popup ends-->
            
           
    
    <div class="clearfix"></div>
</section>
<!--SECTION ENDS HERE-->
</div>

<!--FOOTER STARTS HERE-->
<!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
<!--FOOTER ENDS HERE-->

<div class="clearfix"></div>

<!--div ng-if="project_details.project_type_id==1">
    <div ng-controller="pxe"></div>
</div>
<div ng-if="project_details.project_type_id==2">
    <div ng-controller="epub"></div>
</div-->        


</div>

<style>
    [ng-cloak] {
        display: none;
    }
    * {
        box-sizing: border-box
    }
    .live ol {
        margin:4px 0;
        border: 0 none transparent;
        padding: 0;
        background:#eee;
    }
    .live li {
        list-style:none;
        /*        margin: 1px;
                border: 1px solid #ddd;*/
        padding: 8px 8px 4px 20px;
        background: #fff;
    }
    .live .ui-sortable li{
        cursor: move;
    }
    .live input, .live .shadow input {
        margin: 0;
        border: 1px solid #ddd;
        padding: 1px;
        font: inherit;
        font-weight: bold;
        height:2em;
    }
    .live .ui-state-highlight {
        border: 1px solid #fc0;
        background: #ffe;
    }
    .live, .shadow {
        float: left;
        /*        width: 45%;*/
        margin-right: 5%;
    }
    .live .shadow {
        opacity: 0.7;
    }
    .live .debug {
        clear: both;
    }
    .live .debug textarea {
        width: 100%;
        height: 40em;
        font: 10px/13px monospace;
    }
    .live textarea, .live input {
        outline: none;
    }
    .live .pregnant {
        /*border: 1px solid #ddd;*/
    }
    .live .bg0 {
        background:#fcc;
    }
    .live .bg1 {
        background:#ffc;
    }
    .live .bg2 {
        background:#cfc;
    }
    .live .bg3 {
        background:#cff;
    }
    .live .bg4 {
        background:#ccf;
    }
    .live .bg5 {
        background:#fcf;
    }
    .live .minimized > ol > li {
        display:none;
    }
    .live .minimized > ol {
        border: 0 none transparent;
    }
    .live .toggle {
        border: 0 none transparent;
        background:transparent;
        width:2em;
        color:#aaa;
    }
    .live button {
        cursor: pointer
    }
    .lirow{
        background-color: none;
    }


    .popupZone{
        border: 1px solid #000000; 
        padding: 10px 10px 0px 10px;  
        position: fixed; bottom:0px; 
        right: 0px; 
        max-height: 300px;
        min-width: 470px;
        overflow:scroll;
    }

    .progress-bar {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        color: #fff;
        text-align: center;
        background-color: #428bca;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
        box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
        -webkit-transition: width .6s ease;
        transition: width .6s ease;
        background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.15)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(0.75,rgba(255,255,255,0.15)),color-stop(0.75,transparent),to(transparent));
        background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-size: 40px 40px;
    }
</style>
