<div class="popup-boxes">
    <form ng-cloak novalidate>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}} </div>
        <div class="sub-title" ng-show="show_make_global && project.project_permissions['toc.toc-content.set_global'].grant">Make it global 
            <!--input type="checkbox" ng-if="disable_global_checkbox" checked="checked" disabled  />
            <input type="checkbox" ng-model="make_global" ng-click="makeGlobal(child.id)" ng-if="!disable_global_checkbox"   /-->
            <input type="checkbox" ng-model="make_global" ng-click="makeGlobal(child.id)"/>
        </div>
        <div class="inner-modal-content tab-contents">               
            <ul class="nav nav-tabs" id="modalContentTab">
                <li class="active"><a data-target="#DETAILS" data-toggle="tab">DETAILS</a></li>
                <li><a data-target="#METADATA" data-toggle="tab">METADATA</a></li>
            </ul>
            <div class="tab-content">
                <div id="DETAILS" class="tab-pane fade in active">
                    <div class="group inputfrom" ng-show="showSectionPage"> 
                        <div class="col-sm-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="section_page" ng-model="section_page"  value="section" ng-click="choose_section_page('section')" > Part
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="section_page" ng-model="section_page"  value="page" ng-click="choose_section_page('page')"> Page
                                </label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="group" ng-show="showTocType">    

                        <select ng-model="selected_option" ng-options="types.title for types in TocTypes track by types.id " class="form-control" ng-change="choose_section_page(selected_option.id)" >
                            <option value="">Select type</option>
                        </select> 
                        <span class="highlight text-danger">{{formError['node_type']}}</span>
                        <span class="bar"></span>      
                        <div class="clearfix"></div>
                    </div>

                    <div class="group inputfrom">
                        <input ng-model="node_title" name="node_title" type="text" class="form-control" id="" placeholder="{{placeholder}}" ng-enter-prevent-default />
                        <span class="highlight text-danger">{{formError['node_title']}}</span>
                        <span class="bar"></span>
                        <label>Name</label>
                        <div class="clearfix"></div>
                    </div>
                    
                    <!--<div class="group inputfrom" ng-show="is_assessment">
                        <div style="padding-bottom:10px;">Select assessment source</div>
                        <span><input type="radio" name="assessment_source" ng-model="assessment_source" value="QUAD" ng-enter-prevent-default > Quad</span>
                        <span><input type="radio" name="assessment_source" ng-model="assessment_source" value="FROST" ng-enter-prevent-default ng-click="addAssessmentModal()">Frost</span>
                    </div>
                    
                    <div class="group inputfrom" ng-show="is_assessment">
                        <input ng-model="assessment_id" type="text" class="form-control" id="" placeholder="Assessment ID" ng-hide="assessment_source=='FROST'">
                        <span class="highlight text-danger">{{formError['assessment_id']}}</span>
                        <span class="bar"></span>
                        <label>Assessment ID</label>
                    </div-->
                    
                    <div class="group inputfrom" ng-show="is_assessment">
                        <select ng-model="assessment_source" class="form-control" ng-change="onChangeAssessmentType()">
                            <option value="">Select Type</option>
                            <option value="QUAD">QuAD</option>
                            <option value="FROST">FROST</option>
                        </select>
                        <span class="highlight text-danger">{{formError['assessment_source']}}</span>
                    </div>
                    <div class="group inputfrom" ng-show="is_assessment && assessment_source == 'QUAD'">
                        <input ng-model="assessment_id" type="text" class="form-control" id="" placeholder="QuAD Assessment ID">
                        <span class="highlight text-danger">{{formError['assessment_id']}}</span>
                        <span class="bar"></span>
                        <label>Assessment ID</label>
                    </div>
                    <div class="group inputfrom" ng-show="is_assessment && assessment_source == 'FROST'">
                        <button ng-if="assessment_id == ''" type="button" class="btn btn-default pull-left" ng-click="addAssessmentModal()">Select Assessment</button>
                        <div class="select_assessment" ng-if="assessment_id != ''">
                            <span class="assessment_name">{{assessment_details.title}}</span>
                            <button type="button" class="btn chice-deletes assessment_delete" ng-click="deleteAssessment()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </div>
                        <span style="display: block;clear: both;" class="highlight text-danger">{{formError['assessment_id']}}</span>
                    </div>
                    
                    
                    
                    
                     <div ng-show="child_type== '213'">
                        <div class="group inputfrom">
                            <select ng-model="ext_res_type" class="form-control" ng-change="onChangeResourceType()">
                                <option value="">Select Type</option>
                                <option value="url">URL</option>
                                <option value="asset">File from Asset Library</option>
                            </select>
                            <span class="highlight text-danger">{{formError['ext_res_type']}}</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="group inputfrom" ng-show="ext_res_type == 'url'">
                            <input ng-model="ext_res_url" name="ext_res_url" type="text" class="form-control" id="" placeholder="http://" ng-enter-prevent-default>
                            <span class="highlight text-danger">{{formError['external_resources_message']}}</span>
                            <span class="bar"></span>
                            <label>URL</label>
                        </div>
                        <div class="group inputfrom" ng-show="ext_res_type == 'asset'">
                            <button ng-if="ext_res_url == ''" type="button" class="btn btn-default pull-left" ng-click="addAssestModal()">Select Asset</button>
                            <span ng-if="ext_res_url == ''" style="clear: both;display: block;" class="highlight text-danger">{{formError['resource_asset_message']}}</span>
                        </div>
                        <input ng-model="ext_res_url" name="ext_res_url" type="hidden" class="form-control">
                    </div>

                    <!--div class="group inputfrom" ng-show="ext_res_type=='asset' && ext_res_url.indexOf('/assets/images/')!==-1"-->
                    <div class="group inputfrom  ext_res_group" ng-show="ext_res_type == 'asset' && ext_res_url != ''">
                        <div class="clearfix"></div>
                        <img ng-if="frost_resource_asset_type == 'image'" alt="{{ext_res_title}}" ng-src="{{ext_res_url}}{{ts_hash}}" src="./img/blank.jpg">
                        <img class="asset_fig"  ng-if="frost_resource_asset_type == 'video'" alt="{{ext_res_title}}" ng-src="./images/default-video.jpg">
                        <img class="asset_fig"  ng-if="frost_resource_asset_type == 'audio'" alt="{{ext_res_title}}" ng-src="./images/default-video.jpg">
                        <img ng-if="frost_resource_asset_type == 'widget'" alt="{{ext_res_title}}" ng-src="./images/default-widget.png">
                        <img class="asset_fig"  ng-if="frost_resource_asset_type == 'other'" alt="{{ext_res_title}}" ng-src="./images/default-doc.png">
                        <img class="asset_fig"  ng-show="frost_resource_asset_type == 'vtt'" alt="{{ext_res_title}}" ng-src="./images/default-doc.png">
                        <span class="asset_name">{{frost_resource_asset_name}}</span>

                        <span class="asset_type">{{frost_resource_asset_type=='widget' ? 'gadget' : frost_resource_asset_type=='vtt'?'other':frost_resource_asset_type}}</span>

                        <button type="button" class="btn chice-deletes asset_delete" ng-click="deleteAsset()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>      
                    <!--div class="group inputfrom" ng-show="ext_res_type=='asset' && ext_res_url!='' && !ext_res_url.indexOf('/assets/images/')!==-1">
                        <div class="clearfix"></div>
                        <a ng-href="{{ext_res_url}}" target="_blank" >Resource Link</a>
                    </div-->
                </div>
                <div id="METADATA" class="tab-pane fade">
                    <div ng-if="applyMetadata == 0" style="margin-top: 20px;">
                        <center>Sorry! Access Prohibited! You can't apply Metadata.</center>
                    </div>
                    <div ng-if="applyMetadata">
                        <div class="group inputfrom">
                            <div class="clearfix label-tt">Key Value</div>
                            <div id="keyValuesAreaId"></div>
                            <span id="errorKeyValue" class="highlight text-danger">{{formError['duplicate_value']}}</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="group inputfrom"> 
                            <div class="clearfix label-tt">Tags</div>
<!--                            <div class="pull-right" title="Help"><i class="fa fa-question-circle"></i></div>-->
                            <input type="hidden" style="width: 100%;height: 34px;border-radius: 4px;" ui-select2="tag" ng-model="metadata.tagValue"/>
                        </div>
                        <div class="group inputfrom">
                            <div class="clearfix label-tt">Taxonomy</div>
<!--                            <div class="pull-right" title="Help"><i class="fa fa-question-circle"></i></div>-->
                            <div ivh-treeview="taxonomy" ivh-treeview-twistie-expanded-tpl="tplFolderOpen" ivh-treeview-twistie-collapsed-tpl="tplFolderClose" ivh-treeview-twistie-leaf-tpl="tplLeaf" id="taxonomyStatus"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <!--<button class="btn btn-default pull-left" ng-click="reuse_existing_content(child, project_id, project_type_id)" ng-show="reuse && showTocType && project.project_permissions['toc.toc-content.use_global'].grant">REUSE EXISTING CONTENT</button>-->
            <button class="btn btn-default pull-left" ng-click="reuse_existing_content(child, project_id, project_type_id)" ng-show="reuse && showTocType" ng-if="re_use_button">REUSE EXISTING CONTENT</button>
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button class="btn btn-primary" ng-click="add(child)" ng-disabled="isNodeAddDisabled">CONFIRM</button>
        </div>
    </form>
</div>