<div class="popup-boxes">
    <form class="from-container" ng-cloak>
        <div class="modal-header header-m">
            {{modalFormTile}}             
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <button type="button" class="btn btn-default btn-search advance-btn collapsed" ng-click="toggleAdvanceSearch()">Advanced Search</button>
        <div ng-show="advanced_search.isCollapsed">
            <div class="advance-container">
                <div ng-include src="'templates/asset/advanced_search.html'"></div>  
            </div>
        </div>
        <div class="page-title" ng-show="advanced_search.enableSearch">
                <div class="pull-right"> 
                    <button type="button" class="btn btn-default" ng-click="clearSearch()"><i class="fa fa-chevron-left"></i> Back</button>
                </div>
                <div class="pull-middle">
                    {{advanced_search.heading}}
                </div>
            <div class="clearfix"></div>
        </div>
        <div ng-show="!advanced_search.isCollapsed">
            <div class="panel-body">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="search_text" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button ng-click="searchGlobal()" type="button" class="btn btn-primary">Search</button>
                    </span>
                </div>

            </div>
            <div class="clearfix"></div>

            <div class="inner-modal-content padding-top0">        
                <table width="100%" cellspacing="0" cellpadding="0" class="pattern-list-table">
                    <thead>
                        <tr>
                            <th width="45%" ng-click="orderByField = 'title';">Object Name</th>
                            <th width="25%" style="cursor: pointer;">Project </th>    
                            <th style="cursor: pointer;">Action</th>    
                        </tr>
                    </thead>
                    <tbody>	
                        <!--tr ng-repeat="content in globalContents" class="ng-scope"-->
                        <tr dir-paginate="content in globalContents | itemsPerPage: itemsPerPage" total-items="totalGLobalContents" current-page="currentPage" pagination-id="globalContentList"  class="ng-scope">
                            <td >{{content.name}}</td>
                            <td><span ng-show="!content.is_global_project">{{content.project_name}}</span></td>
                            <td>					
                                <button class="btn btn-default2" ng-disabled="disableSelect" ng-click="selectContent(content)">Select</button>
                                <button class="btn btn-default2" ng-click="globalContentPreview('lg', content.id)">Preview</button>
                            </td>                       
                        </tr>
                        <tr ng-if="removeErrors == 0">  
                            <td align="center" colspan="3" class="alert alert-danger" role="alert">Objects Not Found!!!</td>
                        </tr>
                    </tbody>                
                </table>
                <!-- Pagination Starts Here -->
                <dir-pagination-controls class="dir_pagination"
                                         boundary-links="true" 
                                         pagination-id="globalContentList" 
                                         on-page-change="pageChangeHandlerDashboard(newPageNumber)" 
                                         template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                </dir-pagination-controls>
                <!-- Pagination Starts End -->

                <div class="clearfix"></div>
            </div>
        </div>

    </form>
</div>