<div class="popup-boxes">
    <form ng-cloak>
        <div class="modal-header header-m">
            Export PXE Project
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">You are going to export a PXE package</div>
        <div class="inner-modal-content tab-contents"> 
            <div class="group inputfrom">
                Choose a format that you want to export this package to:
            </div>
            <div class="group inputfrom col-md-6" > 
                <input type="radio" ng-model="export_type.option" value="1" >PXE
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="group inputfrom col-md-6" > 
                <input type="radio" ng-model="export_type.option" value="4">EDUPUB
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">            
            <button class="btn btn-success" ng-click="submit()">Submit</button>
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
        </div>
    </form>
</div>