<style>
    .option-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: relative;
        top: 30%;
        width: 30px;
        height: 30px;
        -webkit-transition: all 0.15s ease-out 0;
        -moz-transition: all 0.15s ease-out 0;
        transition: all 0.15s ease-out 0;
        background: #cbd1d8;
        border: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        outline: none;
        position: relative;
        margin-right: 0.5rem;
        z-index: 1000;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        outline: none !important;
    }

    .option-input:hover { background: #9faab7; }

    .option-input:checked { background: #15b537; }

    .option-input:checked::before {
        width: 30px;
        height: 30px;
        position: absolute;
        content: '\2713';
        display: inline-block;
        font-size: 22px;
        text-align: center;
        line-height: 30px;
        outline: none;
    }

    .option-input:checked::after {
        -webkit-animation: click-wave 0.65s;
        -moz-animation: click-wave 0.65s;
        animation: click-wave 0.65s;
        background: #40e0d0;
        content: '';
        display: block;
        position: relative;
        z-index: 100;
        outline: none;
    }

    .option-input.radio { border-radius: 50%; }

    .option-input.radio::after { border-radius: 50%; }

    .original_name{
        position: absolute;
        bottom: 0px;
        width: 100%;
    }

    .popup-boxes label{
        opacity: 0.1;
        display: block;
        pointer-events: auto;
        z-index: 1000;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        cursor: pointer;

    }
    @-webkit-keyframes 
    click-wave { 0% {
                     width: 40px;
                     height: 40px;
                     opacity: 0.35;
                     position: relative;
                 }
                 100% {
                     width: 200px;
                     height: 200px;
                     margin-left: -80px;
                     margin-top: -80px;
                     opacity: 0.0;
                 }
    }

    @-moz-keyframes 
    click-wave { 0% {
                     width: 40px;
                     height: 40px;
                     opacity: 0.35;
                     position: relative;
                 }
                 100% {
                     width: 200px;
                     height: 200px;
                     margin-left: -80px;
                     margin-top: -80px;
                     opacity: 0.0;
                 }
    }

    @-o-keyframes 
    click-wave { 0% {
                     width: 40px;
                     height: 40px;
                     opacity: 0.35;
                     position: relative;
                 }
                 100% {
                     width: 200px;
                     height: 200px;
                     margin-left: -80px;
                     margin-top: -80px;
                     opacity: 0.0;
                 }
    }

    @keyframes 
    click-wave { 0% {
                     width: 40px;
                     height: 40px;
                     opacity: 0.35;
                     position: relative;
                 }
                 100% {
                     width: 200px;
                     height: 200px;
                     margin-left: -80px;
                     margin-top: -80px;
                     opacity: 0.0;
                 }
    }
</style>
<div class="popup-boxes">
    <form ng-cloak>
        <div class="modal-header header-m">
            {{modalFormTitle}}
        </div>
        <div class="inner-modal-content tab-contents" style="padding: 10px 0px 0px 0 !important;"> 
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search for assets" ng-model="search_text">
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>
            <div class="clearfix"></div>

            <div ng-if="totalAssets" ng-cloak>                

                <div dir-paginate="asset in assets | itemsPerPage: itemsPerPage|orderBy:orderByField:reverseSort track by $index" total-items="totalAssets" current-page="currentPage" pagination-id="assetListId" id="asset_{{asset.id + viewMode}}">
                    <div class="col-md-3 col-sm-4 prod-block" ng-if="asset.id">
                        <div class="theme-box-col">
                            <div class="box-theme" id="box-theme-{{asset.id}}" style="width:auto !important">

                                <div class="box-img-out" ng-click="previewAsset('', asset.id, 'Asset Preview')" style="height:160px !important" title="{{asset.original_name}}">
                                    <label id="check-box-label-{{asset.id}}" class="label-checkbox" style="{{asset.Style}}"><input type="radio" class="option-input asset-checkbox" id="asset-checkbox-{{asset.id}}" name="check_asset" value="{{asset.asset_location}}" ng-model="asset.Selected" ng-click="selectOption(asset.id, asset.asset_location, asset.original_name, mimes[asset.mimetype], asset.is_global)" ></label>
                                    <div class="block-img" style='height: auto !important;'>
                                        <div style="max-width:173px;padding:10px">
                                            <img id="img1" ng-if="asset.object_type_name == 'image'" ng-src="{{asset.asset_location}}{{ts_hash}}" alt="{{asset.original_name}}" style="max-height: 114px;">
                                            <img ng-if="asset.object_type_name == 'video'" ng-src="./images/default-video.jpg" alt="{{asset.original_name}}">   
                                            <img ng-if="asset.object_type_name == 'audio'" ng-src="./images/default-video.jpg" alt="{{asset.original_name}}">
                                            <img ng-if="asset.object_type_name == 'widget'" ng-src="./images/default-widget.png" alt="Widget" >   
                                            <img ng-if="asset.object_type_name == 'other'" ng-src="./images/default-doc.png" alt="Other" > 
                                            <img ng-if="asset.object_type_name == 'vtt'" ng-src="./images/default-doc.png" alt="Other" >                                             
                                        </div>

                                        <div ng-show="asset.is_global" class="type assets"><span class="type-code ng-binding">GLOBAL</span></div>
                                    </div>
                                    <!--<p class="original_name">
                                        <span title="{{asset.original_name}}">{{ asset.original_name | strLimit:15}}</span>
                                    </p>-->
                                </div>
                                <div class="box-theme-title" title="{{asset.original_name}}">{{ asset.original_name | strLimit:15}} </div>
                                <!--                                                                <div class="list-create-name">Type: {{ mimes[asset.mimetype] == 'widget' ? 'gadget' : mimes[asset.mimetype] | capitalize_first }}</div>-->


                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- Pagination Starts Here -->
                <dir-pagination-controls class="dir_pagination"
                                         boundary-links="true" 
                                         pagination-id="assetListId" 
                                         on-page-change="pageChangeHandlerAsset(newPageNumber)" 
                                         template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                </dir-pagination-controls>
                <!-- Pagination Starts End -->
            </div>
            <div ng-if="totalAssets == 0">
                <div class="col-md-12">
                    <div class="col-md-3 col-sm-4" style="margin-top:20px">No Assets found</div>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>


        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button class="btn btn-primary" ng-click="submitResource()" ng-disabled="isAddAssetDisabled" id="submit_resource">CONFIRM</button>
        </div>
    </form>
</div>