<script type="text/javascript" src="lib/lm_frost_listner_preview.js"></script>
<div class="popup-boxes" id="ModalInstanceContentCtrl">
    <form ng-cloak>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}}</div>
        <div class="inner-modal-content tab-contents">
            <div class="group inputfrom" style="word-wrap: break-word;">                  
                {{title}}:
            </div>
            <div class="group inputfrom">
                <!--                <pre>{{pattern_content}}</pre>-->
                <iframe id='content_preview_iframe' src='templates/toc/previewIframeContent.html' height='600' width='100%' frameborder='0' >
                </iframe> 
                <script>
                    var isPatternLink = false;
                    function setContentIntoIframe() {
                        var content = angular.element(document.getElementById('ModalInstanceContentCtrl')).scope().content;
                        var filePath = filePath = angular.element(document.getElementById('ModalInstanceContentCtrl')).scope().getActualPath;
                        var s3filePath = angular.element(document.getElementById('ModalInstanceContentCtrl')).scope().s3_file_path;
                        //isPatternLink = filePath.split('#').length > 1 ? filePath.split('#')[1] : false;
                        $('#content_preview_iframe').attr('src',s3filePath);
                        // $('#content_preview_iframe').contents().find('.contentContainer').html(content);
                        setFrameDimension(0,'340');
                        //$('#content_preview_iframe').contents().find("#mathConfig").remove();
                        //$('#content_preview_iframe').contents().find("#mathHeader").remove();
                       // $('#content_preview_iframe').contents().find('.contentContainer').html(content);
//                        var framewin = document.getElementById("content_preview_iframe").contentWindow;
//                        framewin.postMessage("true", "*");
//
//                        var frameRef = $('#content_preview_iframe').contents();
//                        setTimeout(function () {
//                            frameRef = $('#content_preview_iframe').contents();
//                            frameRef.find('body').html(content);
//                            scrollToRef();
//                        }, 1500);
//                        var addImageTimestamp = (function () {
//                            var images = frameRef.find('img');
//
//                            $(images).each(function () {
//                                var timeStamp = new Date().getTime(),
//                                        thisElm = $(this),
//                                        srcWithTimeStamp = thisElm.attr('src') + '?' + timeStamp;
//                                thisElm.attr('src', srcWithTimeStamp);
//                            });
//                            setTimeout(function () {
//                                scrollToRef();
//                            }, 1500);
//                        })();

//                        var addVideoTimestamp = (function () {
//                            var videos = frameRef.find('video').find('source');
//
//                            $(videos).each(function () {
//                                var timeStamp = new Date().getTime(),
//                                        thisElm = $(this),
//                                        srcWithTimeStamp = thisElm.attr('src') + '?' + timeStamp;
//                                thisElm.attr('src', srcWithTimeStamp);
//                            });
//                            setTimeout(function () {
//                                scrollToRef();
//                            }, 1500);
//                        })();
                        //var link_id = angular.element(document.getElementById('ModalInstanceContentCtrl')).scope().object_details.object.id;
                        //$(".link-to-preview").removeClass("active");
                        //$('#' + link_id).addClass("active");
                        //getTheme();
                    }
//                    function scrollToRef() {
//                        if (isPatternLink) {
//                            var frameRef = $('#content_preview_iframe').contents(),
//                                    patternRef = frameRef.find('#' + isPatternLink),
//                                    patternRefOffTop = patternRef.offset().top;
//                            //setTimeout(function(){
//                            frameRef.scrollTop(patternRefOffTop);
//                            //},1500)
//                        }
//                    }
//
//                    function getContent(file_name) {
//                        angular.element(document.getElementById('ModalInstanceContentCtrl')).scope().contentPreview(file_name);
//                    }
//
//                    function getTheme() {
//                        var theme_location = angular.element(document.getElementById('ModalInstanceContentCtrl')).scope().theme_location,
//                                frameElm = $('#content_preview_iframe').contents();
//                        if (angular.isDefined(theme_location)) {
//                            for (var i = 0; i < theme_location.length; i++) {
//                                var cssStr = '<link rel="stylesheet" type="text/css" href=' + theme_location[i] + ' />';
//                                frameElm.find('body').append(cssStr);
//                            }
//                        }
//
//                    }
//                    setTimeout(function () {
//                        var win_ht = $(window).innerHeight();
//                        var head_ht = $(".header-container").outerHeight();
//                        var title_ht = $(".page-title").outerHeight();
//                        var fin_ht = win_ht - head_ht - title_ht - 50;
//                        $(".container.product-inner").height(fin_ht);
//                        $("#content_preview_iframe").attr("height", fin_ht);
//                        $(".toccontent-container").height(fin_ht);
//                        $(document).on("click", ".link-to-preview", function () {
//                            $(".link-to-preview").removeClass("active");
//                            $(this).addClass("active");
//                        });
//
//                        $(document).on("click", ".viewport", function () {//Change viewport
//                            $(".viewport").removeClass("active");
//                            $(this).addClass("active");
//                            setFrameDimension($(this).index(), fin_ht);
//                        });
//                    }, 1000);
//
                    function setFrameDimension(device, origHt) { //View ports
                        switch (device) {
                            case 0:
                                $("#content_preview_iframe").attr({"height": origHt, "width": "100%"});
                                break;

                            case 1:
                                $("#content_preview_iframe").attr({"height": "768", "width": "1024"});
                                break;

                            case 2:
                                $("#content_preview_iframe").attr({"height": "600", "width": "800"});
                                break;

                            case 3:
                                $("#content_preview_iframe").attr({"height": "480", "width": "320"});
                                break;
                        }
                    }

                </script>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">            
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
        </div>
    </form>
</div>