<div class="container product-inner"  ng-controller="global_content" ng-cloak>
    <div class="from-container">
        <!--/*stucture modified for all pages*/-->
        <div class="from-container-row">
            <div class="pattern-list-container">         
                <div class="page-title">Content Objects
                    <div class="pull-right">  
                        <button type="button" class="btn btn-primary" ng-click="addGlobalContentObjectForm('')">Create New Content Object</button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0" id="globalContent">
                    <thead>
                        <tr>
                            <th width="20%" style="cursor: pointer;" ng-click="applySorting('objects.name')">Name  <span ng-show="currentOrderByField == 'objects.name'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>
                            <th width="15%" ng-click="applySorting('projects.project_type_id')">Project Type<span ng-show="currentOrderByField == 'projects.project_type_id'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>
                            <th width="10%" ng-click="applySorting('projects.project_type_id')">Type<span ng-show="currentOrderByField == 'projects.project_type_id'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>
                            <th width="15%" ng-click="applySorting('objects.created_at')">Created At <span ng-show="currentOrderByField == 'objects.created_at'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>
                            <th width="10%" ng-click="applySorting('usage_count')">Usage<span ng-show="currentOrderByField == 'usage_count'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down"></span></span></th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr dir-paginate="content in contents | itemsPerPage: itemsPerPage" total-items="totalContents" current-page="currentPage" pagination-id="contentListId" id="asset_{{content.id}}">
                            <td>{{content.name| strLimit:40}} <span><other-license-validity asset-id="content.id" entity_type="'CONTENT'" style="padding-left: 21px;padding-top: inherit;" class="ng-isolate-scope"></other-license-validity></span></td>
                            <td>{{ content.project_type_name}}</td>
                            <td>
                                <div ng-if="content.object_type_id=='118'">LO</div>
                                <div ng-if="content.object_type_id=='101'">Content Screen</div>
                                <div ng-if="content.object_type_id=='116' || content.object_type_id=='117'">Assessment</div>
                                <div ng-if="content.object_type_id=='115'">Resource</div>
                                <div ng-if="content.object_type_id=='114'">URL</div>
                            </td>
                            <td>{{ content.created_at}}</td>
                            <td>
                                <asset-usage-count  asset-id="content.id" template-mode="2" action="'CONTENT_OBJECT'"></asset-usage-count>
                            </td>
                            <td class="shorting_button">
                                <button type="button" class="btn btn-default" ng-click="goToEditor(content)" ng-show="content.object_type_id=='101'">Content</button>
                                
                                <button type="button" class="btn btn-default" ng-click="$root.goto('global-lo-content/'+content.id)" ng-if="content.object_type_id=='118'">View</button>
                                <button type="button" class="btn btn-default" ng-click="editGlobalContentObjectForm(content)">Edit</button>
                                <button type="button" ng-dblclick="return false" ng-show="content.object_type_id=='101' || content.object_type_id=='116' || content.object_type_id=='117'" class="btn btn-default" ng-click="previewContent('lg', content.id)">Preview</button>
                                <button type="button" ng-dblclick="return false" ng-show="content.object_type_id=='114' || content.object_type_id=='115'" class="btn btn-default" ng-click="previewExtResource(content)">Preview</button>                                
                                <button type="button" ng-dblclick="return false" ng-show="content.object_type_id=='118'" class="btn btn-default" ng-click="previewLOContent('lg', content)">Preview</button>
                                <button type="button" class="btn btn-default" ng-click="deleteContent(content.id)">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <!-- Pagination Starts Here -->
                    <dir-pagination-controls class="dir_pagination"
                                             boundary-links="true" 
                                             pagination-id="contentListId" 
                                             on-page-change="pageChangeHandlerContent(newPageNumber)" 
                                             template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                    </dir-pagination-controls>
                    <!-- Pagination Starts End -->
                    </td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearfix"></div>
                <div ng-if="removeErrors == 0" style="background-color: #FFFFFF;">
                    <div class="clearfix"></div>
                    <div class="alert alert-danger" role="alert"><center>No Content Object Found!!!!</center></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>