<script type="text/javascript" src="lib/lm_frost_listner_preview.js"></script>
<style>
    .modal-content {
        min-height: 41em;
        background: #fff;
    }
    #content_preview_iframe{
        max-height: 36em;
    }
    .lo_content_preview{
        padding-right: 0;
        background: #fff;
    }
    .lo_title{
        list-style-type: none;
        cursor: pointer;
        position: relative;
        z-index: 9;
        color: #337ab7;
        padding: 2px 0;
        font-size: 13px;

    }
    .lo_content_preview li.active{
        font-weight: bold;
        text-decoration: underline;
    }
    .lo_toc_list .lo_toc_ul{
        padding: 0 0 0 20px;
        min-height: 450px;
    }
    .lo_toc_list .lo_toc_ul ul{
        padding: 0;
        margin-bottom:0px;
    }
    .lo_toc_parent{
        cursor: pointer;
        font-size: 13px;
        color: #337ab7;
    }
    .lo_child_content{
        min-height: 36em;
        border-left: 2px solid #eee;
        overflow: auto;
        padding: 15px;
    }
    .lo_toc_list{
        padding: 15px 0 0 0;
    }
    .modal-content{
        max-height: 577px;
    }
    .navigator {
        background-color: #f2f2f2;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        width: 108%;
        left: -15px;
        padding: 0;
        border: 1px solid #fff;
    }
    .toc-pagination {
        text-align: left;
        border-top: 1px solid #fff;
    }
    .toc-pagination button {
        padding: 5px;
    
    }
    #backBtn,#nextBtn {
        background: none;
        border: none;
        color: #337ab7;
        font-weight: 700;
    }    
    .backBtnHolder {
        float: left;
        font-family: consolas !important;
        font-size: 13px;
    }
    .nextBtnHolder {
        float: right;
        font-family: consolas !important;
        font-size: 13px;
    }
    .toc-pagination .glyphicon {
        top: 1px;
        color: #212121;
        font-size: 10px;
    }
    .lo_content_preview span.collapse_icon{
        position: relative;
        bottom: 4px;
        right:5px;
        cursor: pointer;
    }
    .toggleMinimized{
        position: relative;
        top: 3px;
        transform: rotate(-90deg);
    }
    iframe.assessment{
        margin-bottom: 0 !important;
    }
    
</style>
<div class="popup-boxes" id="LOInstanceContentCtrl">
    <form ng-cloak>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lo_content_preview" ng-show="lo_toc.length>0">
            <div class="col-md-3 col-lg-3 col-sm-3 lo_toc_list">
               <span ng-click="toggleMinimized()" class="expand_icon" data-toggle="collapse" data-target="#lo_title">
                   <span class="collapse_icon"><i class="fa fa-sort-desc"></i></span>
                    <span class="lo_toc_parent">{{LO_Data.name}}</span>
               </span>
               <div class="lo_toc_ul">
                    <ul id="lo_title" class="collapse in">
                        <li ng-repeat="lo_child in lo_toc" class="lo_title" ng-class='{active:$first}' data-id={{lo_child.id}} ng-click="LOChildPreview(lo_child.file,lo_child.metadata.ext_res_url,lo_child.object_type_id, $event)" data-link={{lo_child.file?lo_child.file:lo_child.metadata.ext_res_url}}>{{lo_child.title}}</li>
                    </ul>
               </div>
                <div class="navigator">
                    <div class="toc-pagination">
                        <button class="backBtnHolder" type="button" id="backBtn" ng-click="prev()" ng-disabled="disableback" disabled="disabled" style="opacity: 0.5; pointer-events: none;">
                            <span class="glyphicon glyphicon-triangle-left"></span> BACK</button>
                            <button class="nextBtnHolder" type="button" id="nextBtn" ng-click="next()" ng-disabled="disablenext" style="opacity: 1;"> NEXT <span class="glyphicon glyphicon-triangle-right"></span></button>
                            <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-9 col-sm-9 lo_child_content">
                <iframe id='content_preview_iframe' ng-show="s3_file_path!=''" ng-src='{{s3_file_path}}' height='600' width='100%' frameborder='0' >
                </iframe>
                 <div id='ext_res_content' ng-show="s3_file_path=='' && (node_type=='114' || node_type=='115' || url)">
                     <p class="ext_res_msg"><strong>Resource has been downloaded OR open in new window.</strong></p>
                </div>                
                <div id='ext_res_content' ng-show="s3_file_path=='' && (node_type=='117' || node_type=='116')">
                     <p class="ext_res_msg alert alert-danger">This assessment does not have any question.</p>
                </div>
                
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="clearfix"></div>
        </div>
        
        <div ng-show="lo_toc.length<=0" class="alert alert-danger">
            <center>No Content Found!!!</center>
        </div>
    </form>
</div>