<div class="popup-boxes">
    <form name="node_form" ng-cloak>
        <div class="modal-header header-m">
            {{modalFormTile}} 
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}} </div>
        <div class="inner-modal-content tab-contents">        
            <ul class="nav nav-tabs" id="modalContentTab">
                <li class="active"><a data-target="#DETAILS" data-toggle="tab">DETAILS</a></li>
                <li><a data-target="#METADATA" data-toggle="tab">METADATA</a></li>
            </ul>
            <div class="tab-content">
                <div id="DETAILS" class="tab-pane fade in active">
                    <div class="group inputfrom" ng-show="showSectionPage">      
                        <span><input type="radio" name="section_page" ng-model="section_page" required value="section" ng-click="choose_section_page('section')" > Part</span>
                        <span><input type="radio" name="section_page" ng-model="section_page" required value="page" ng-click="choose_section_page('page')"> Page </span>
                    </div>

                    <div class="group" ng-show="showTocType">      
                        <!--select ng-model="selected_option" ng-options="types.title for types in TocTypes track by types.id " class="form-control">
                            <option value="">Select type</option>
                        </select--> 
                        <span class="highlight text-danger">{{formError['node_type']}}</span>
                        <span class="bar"></span>            
                    </div>

                    <div class="group inputfrom">      
                        <input ng-model="node_title" name="node_title" type="text" class="form-control" id="" placeholder="Name of Node" required ng-enter-prevent-default />
                        <span class="highlight text-danger">{{formError['node_title']}}</span>
                        <span class="bar"></span>
                        <label>Name</label>
                    </div>
                </div>
                <div id="METADATA" class="tab-pane fade">
                    <div ng-if="applyMetadata==0" style="margin-top: 20px;">
                        <center>Sorry! Access Prohibited! You can't apply Metadata.</center>
                    </div>
                    <div ng-if="applyMetadata">
                        <div class="group inputfrom">
                            <div class="clearfix label-tt">Key Value</div>
                            <div id="keyValuesAreaId"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="group inputfrom"> 
                            <div class="clearfix label-tt">Tags</div>
                            <input type="hidden" style="width: 100%;height: 34px;border-radius: 4px;" ui-select2="tag" ng-model="metadata.tagValue"/>
                        </div>
                        <div class="group inputfrom"> 
                            <div class="clearfix label-tt">Taxonomy</div>
                            <div ivh-treeview="taxonomy" ivh-treeview-twistie-expanded-tpl="tplFolderOpen" ivh-treeview-twistie-collapsed-tpl="tplFolderClose" ivh-treeview-twistie-leaf-tpl="tplLeaf"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{node_form.validate}}
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button class="btn btn-primary" ng-click="add(child)" ng-disabled="isNodeAddDisabled">CONFIRM</button>
        </div>
    </form>
</div>