<div flow-init="{target: 'api/v1/asset'}">
    <div class="main_container" ng-controller="toc_content" ng-cloak>  
        <!--HEADER STARTS HERE-->
        <!--div ng-include src="'templates/header.html'"></div-->
        <!--HEADER ENDS HERE-->

        <!--SECTION STARTS HERE-->    
        <section class="wrapper">
            <div class="container">
                <div class="content">

                    <div class="from-container-row">
                        <div class="row">                            
                            <div class="form-group">
                                <div class="">
                                    <custom-editor project_type="{{project_details.project_type_id}}" node_type="{{node_type}}"></custom-editor>
                                </div>    
                            </div>      
                            <div class="clearfix"></div>
                            <div class="clearfix"></div>
                        </div>    
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </section>
        <!--SECTION ENDS HERE-->

        <!--FOOTER STARTS HERE-->
        <!--    <div ng-include src="'templates/footer.html'"></div>-->
        <!--FOOTER ENDS HERE-->
        <!-- Asset Upload Popup starts-->
        <div ng-include src="'templates/toc/asset_upload_popup.html'" ng-show="$flow.files.length" ></div>
        <!-- Asset Upload Popup ends-->  
    </div>
</div>