<div class="popup-boxes">
    <form ng-cloak>
        <div class="modal-header header-m">
            {{modalFormTile}} 
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}} </div>
        <div class="inner-modal-content tab-contents">        
        
        <div class="group inputfrom" ng-show="showSectionPage">      
            <span><input type="radio" name="section_page" ng-model="section_page" required value="section" ng-click="choose_section_page('section')" > Part</span>
            <span><input type="radio" name="section_page" ng-model="section_page" required value="page" ng-click="choose_section_page('page')"> Page </span>
        </div>
            
        <div class="group" ng-show="showTocType">      
            <select ng-model="selected_option" ng-options="types.title for types in TocTypes track by types.id " class="form-control" required>
                <option value="">Select type</option>
            </select> 
            <span class="highlight text-danger">{{formError['node_type']}}</span>
            <span class="bar"></span>            
        </div>
                     
        <div class="group inputfrom">      
            <input ng-model="node_title" name="node_title" type="text" class="form-control" id="" placeholder="Name of Node" required ng-enter-prevent-default ng-pattern="/^([a-zA-Z0-9:_.-]+\s?)*$/">
            <span class="highlight text-danger">{{formError['node_title']}}</span>
            <span class="bar"></span>
            <label>Name</label>
        </div>
            
        
        <!--div class="group">      
            <select ng-model="selected_option" ng-options="" class="form-control" >
                <option>Add Metadata</option>

            </select> 
            <span class="highlight"></span>
            <span class="bar"></span>            
        </div-->
        	<div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button class="btn btn-primary" ng-click="add(child)" ng-disabled="isNodeAddDisabled">CONFIRM</button>
        </div>
    </form>
</div>