<div class="node-navigate d-flex justify-content-between align-items-start" *ngIf="showNavigation">
  <button class="btn btn-clear tooltip right font-1x position-relative" id="prevarrowBtn"
    [attr.aria-label]="'Previous Node'" data-tooltip="Previous node"
    [disabled]="selectedNode?.isFirst === true || selectedNode?.id === firstNode?.id"
    (click)="onTreeNavigatePreviousClick()">
    <em class="icon-ico-prev-arrow"></em>
  </button>

  <button class="btn btn-clear tooltip right font-1x position-relative" id="nextarrowBtn"
    [attr.aria-label]="'Next Node'" data-tooltip="Next node" [disabled]="selectedNode?.id === lastNode?.id"
    (click)="onTreeNavigateNextClick()">
    <em class="icon-ico-next-arrow"></em>
  </button>
  <span class="preview-panel--nav-helper text-uppercase text-center">Navigate</span>
</div>
