<section class="row align-items-center" role="tabpanel">
  <ul class="list-inline d-flex mb-0 ml-3 mt-2">
    <li class="list-inline-item">
      <button *ngIf="documentPermission" class="btn btn-primary btn-sm" id="newDocument" data-toggle="modal" data-target="#add-exemplar"
        (click)="onCancel($event);option='Add Document';enableControls('create');">New
        Document<span class="sr-only">Opens in a new dialog</span>
      </button>
      <button class="btn btn-primary btn-sm" id="editDocument" data-toggle="modal" data-target="#edit-exemplar"
        [hidden]="true" style="display:none" (click)="onCancel($event);option='Edit Document'">Edit Document<span class="sr-only">Opens in a new dialog</span>
      </button>
    </li>
    <li>
      <button *ngIf="documentPermission" class="btn btn-clear btn-sm text-underline" id="reorderDu" data-toggle="modal"
        data-target="#reOrderHomePageBlocks" (click)="enableUpdate = false;">Reorder</button>
    </li>
  </ul>

  <app-data-table #dataTable [defaultSortBy]="'preventSort'" [tableCategory]="'document'" [showMenu]="true" class="w-100"
    [columnList]="listOfColumn" [dataSet]="documents" [optionList]="optionList" [dropdownItems]="statusList"
    [showLoader]="documentLoader" (clickedOption)="onOptionClicked($event)"
    (clickedStatus)="changeStatus($event.val, $event.id)"></app-data-table>
</section>


<!-- Add Node Template Set Modal Starts -->
<app-modal [modalId]="'reOrderHomePageBlocks'" [showCloseAlert]="form.dirty || enableUpdate" [modalSize]="'big'"
  (closeEvent)="onCancel($event);getDocuments();">
  <modal-div class="title-text" id="reorderdocumenttitle">
    Reorder documents
  </modal-div>

  <modal-div class="body-content">
    <section class="row justify-content-center">
      <div class="col-md-11 col-lg-10 col-xl-8 node-template-creation">
        <div dragula="documentsForDrag" [(dragulaModel)]="documentsForDrag" (dragulaModelChange)=onNodeRearranged();
          role="list" aria-live="polite" aria-atomic="true">
          <div *ngFor="let doc of documentsForDrag;let i = index" class="row node-type drag" role="listitem">
            <div class="col-10">{{ doc.title }}</div>
            <div class="col-10">
              <div class="hide-content" [innerHtml]="doc.description"></div>
            </div>
            <div class="col-2 text-right">
              <div class="row align-items-center">
                <div class="col align-self-end">
                  <img src="assets/images/move.gif" class="img-fluid handle" alt="Move" />
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </modal-div>

  <modal-div class="footer-buttons">
    <button type="button" class="btn btn-primary btn-lg float-right" id="uptBtnDu" (click)="reorderNotes()" data-dismiss="modal"
      [disabled]="!enableUpdate">Update</button>
  </modal-div>
</app-modal>
<!-- Add Node Template Set Modal Ends -->




<app-modal [modalId]="'add-exemplar'" [modalContentId]="'addExemplarContent'" [showDoneBtn]="enableCreateButton"
  [showCloseAlert]="form.dirty || (intermediateData.length > 0)" [modalSize]="'big'" (closeEvent)="onCancel($event)">
  <modal-div class="title-text" id="{{option}}title">
    {{option}}
  </modal-div>

  <modal-div class="body-content">
    <section class="container-fluid">
      <div class="row">
        <p class="mt-1">Field marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) is required.
        </p>
      </div>
      <div class="row justify-content-between">
        <div class="col-md-7">
          <form [formGroup]="form" action="" id="" method="_post" name="" novalidate=""
            class="ng-untouched ng-pristine ng-valid">
            <div class="exemplar-container">

              <div class="row justify-content-between align-items-center">

                <div class="col-12">

                  <div class="form-row form-group">
                    <label for="title" class="font-bold" id="titleLabel">Document Title <span class="mandatory"
                        aria-hidden="true">*</span></label>
                    <input type="text" formControlName="title" class="form-control font-bold" id="title"
                      (keyup)="checkValidation();titleChange();" (blur)="titleChange()" [(ngModel)]="titleData"
                      required />
                    <div *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched"
                      class="error--txt" role="alert">
                      <p class="font-bold m-0">Title is required</p>
                    </div>
                    <p id="titleHelp" class="form-text text-muted text-right w-100" role="note">Add a Title for the
                      document
                    </p>
                  </div>



                </div>
              </div>
            </div>

            <div class="exemplar-container">
              <label for="description" class="font-bold" id="dcmLabel">Document Description</label>
              <div class="pb-3">
                <app-ngx-editor [placeholder]="'Enter text here...'" (keyup)="descriptionChange();" name="description"
                  ngDefaultControl (ngModelChange)="onValidateDesc();descriptionChange();" [config]="editorConfig"
                  [spellcheck]="true" [(ngModel)]="editorContent" [ngModelOptions]="{standalone: true}">
                </app-ngx-editor>
              </div>
              <section *ngIf="enableCreateButton">
                <app-import-file #importFileComponent (uploadFilesEvent)="onFileUploadEvent($event)"
                  (deleteFileEvent)="onFileDeleteEvent($event,'')" [disableFileUpload]="true"
                  [loaderDisplay]="docAddLoader" class="full-width">
                </app-import-file>
                <section class="col-12 file-uploaded"></section>
              </section>

              <div class="d-flex justify-content-start" *ngIf="enableCreateButton">
                <ng-container *ngIf="intermediateData && intermediateData.length>0">
                  <div class="col-7 file-uploaded" role="grid">

                    <div class="row file-item align-items-center" *ngFor="let obj of intermediateData; let i = index;"
                      role="row">
                      <div class="col-3" role="gridcell">
                        <div class="col file-type text-center" aria-live="polite" aria-atomic="true">
                          <p>{{obj.type|uppercase}}</p>
                        </div>
                      </div>

                      <div class="col-7 file-info" role="gridcell" aria-live="polite" aria-atomic="true">
                        <p class="font-bold">{{obj.title}}</p>

                        <div class="hide-content" [innerHtml]="obj.description"></div>



                        <div class="d-flex">
                          <ul class="list-inline mb-0">
                            <li class="list-inline-item max-w-50 text-truncate mr-0">{{obj.asset.name}}</li>
                            <li class="list-inline-item text-truncate"><span
                                class="bytes">{{formatBytes(obj.asset.size)}}</span></li>
                          </ul>
                        </div>


                      </div>
                      <div class="col">
                        <button class="cursor-pointer btn-icon" id="dletBtndu" aria-label="Delete URL" (click)="onIntermediateDel()">
                          <img src="assets/images/bin.gif" alt="delete URL" class="img-fluid ic-bin cursor-pointer" />
                        </button>
                      </div>

                    </div>
                  </div>
                </ng-container>
              </div>

              <p class="mt-4" *ngIf="enableCreateButton">
                <button (click)="addDocument()" class="btn btn-primary" id="adddcmDu" *ngIf="enableCreateButton"
                  [disabled]="intermediateData && intermediateData.length === 0 || !form.valid || !valid">Add
                  Document
                </button>
              </p>
            </div>
          </form>



        </div>

        <aside class="col-md-4 file-panel" *ngIf="enableCreateButton">
          <div class="row">
            <div class="col-12 file-panel-header">
              <h3 class="mb-0 font-bold"> Documents </h3>
            </div>

            <div class="w-100">
              <div *ngIf="showtext" class="d-flex col-12 exemplar-listing">
                <div class="col-12 text-wrapped px-0 animate__animated animate__fadeIn animate__delay-2s">
                  <p class="mb-0"><span class="title font-3x font-bold">{{listEndingData.title}}</span></p>
                </div>
              </div>
              <ng-container *ngIf="itemExemplars">
                <app-exemplar-details [viewLocation]="'document-upload'"
                  *ngFor="let exemplar of itemExemplars;let $index=index" [exemplarData]="exemplar" [serialNo]="$index"
                  [isRightPanel]="true" (editClicked)="false" (deleteClicked)="onFileDeleteEvent($event,'')"
                  (previewClicked)="false" (downloadClicked)="false" [showDelete]="true" [option]="option">
                </app-exemplar-details>
              </ng-container>
            </div>
          </div>
        </aside>
      </div>


    </section>
  </modal-div>

  <modal-div class="footer-buttons">

    <button class="btn btn-primary btn-lg float-right" id="uptBtndu" type="button" (click)="updateDocument();" data-dismiss="modal"
      aria-label="Close" *ngIf="enableUpdateButton" [disabled]="!form.valid">Update</button>
  </modal-div>
</app-modal>


<!-- Edit documnet -->
<app-modal [modalId]="'edit-exemplar'" [showCloseAlert]="form.dirty" [modalSize]="'small'"
  (closeEvent)="onCancel($event);">
  <modal-div class="title-text" id="{{option}}title">
    {{option}}
  </modal-div>

  <modal-div class="body-content">
    <section class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-md-12">
          <div class="exemplar-container">
            <div class="row justify-content-between align-items-center">
              <div class="col-12">
                <p class="mt-3 mb-0">Field marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>)
                  is required.</p>
                <form [formGroup]="form">
                  <div class="form-group">
                    <label for="title" id="titleLabel" class="font-bold">Name</label>
                    <span class="mandatory" aria-hidden="true">*</span>
                    <input id="title" class="form-control font-bold" [(ngModel)]="titleData" formControlName="title"
                      (keyup)="checkValidation()" />
                    <div *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched"
                      class="error--txt" role="alert">
                      <p class="font-bold m-0">Title is required</p>
                    </div>
                  </div>
                  <app-ngx-editor [placeholder]="'Enter text here...'" formControlName="description" name="description"
                    ngDefaultControl [config]="editorConfig" [spellcheck]="true" (ngModelChange)="onValidateDesc();"
                    [(ngModel)]="editorContent" [ngModelOptions]="{standalone: true}"></app-ngx-editor>

                  <p class="mt-4" *ngIf="enableCreateButton">
                    <button (click)="addDocument()" class="btn btn-primary" id="adddcmtBtn" *ngIf="enableCreateButton"
                      [disabled]="intermediateData && intermediateData.length === 0 || !form.valid">Add
                      Document
                    </button>
                  </p>
                </form>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>
  </modal-div>

  <modal-div class="footer-buttons">
    <button class="btn btn-primary  float-right " id="doneBtndu" type="button" (click)="onCancel($event);" data-dismiss="modal"
      aria-label="Close" *ngIf="enableCreateButton">Done</button>

    <button class="btn btn-primary  float-right " id="updtBtndu" type="button" (click)="updateDocument();" data-dismiss="modal"
      aria-label="Close" *ngIf="enableUpdateButton" [disabled]="!form.valid || !valid">Update</button>
  </modal-div>
</app-modal>
