<section class="row align-items-center justify-content-between align-btn">

  <app-search class="search col" [enableAdvanceSearch]="false" [searchPlaceholder]="'Search Taxonomy'"
    [showBackwardNav]="false">
  </app-search>

  <div class="col-auto project--filter d-flex justify-content-end align-items-center">
    <div class="mr-3 d-flex align-items-center">
      <div class="d-inline-flex mr-2">
        <p class="d-inline-flex font-bold mb-0 mr-2" *ngIf="viewType !== 'listview'">Sort by:</p>
        <app-sort-list [hidden]="viewType === 'listview'" #sortListRef [sortingArray]="taxonomyList" [isProject]="false"
          [selectedSortOption]="'title'" [sortOptions]="sortOptions"></app-sort-list>
      </div>

      <app-view-type (selectedViewTypeEvent)="changeView($event)"></app-view-type>
    </div>
  </div>
</section>
<!-- end of project filter section  -->

<ng-container *ngIf="viewType === 'listview';then list_view else card_view "></ng-container>

<ng-template #list_view>
  <app-data-table [showMenu]="true" [tableCategory]="'frontfacing taxonomy'" class="w-100" [columnList]="listOfColumn"
    [dataSet]="taxonomyList" [optionList]="optionList" [defaultSortBy]="listOfColumn[1]" [showLoader]="taxonomyLoader"
    [searchText]="searchingText" (linkClicked)="onTaxonomySelected($event)"></app-data-table>
</ng-template>

<ng-template #card_view>

  <div class="row mt-3" role="grid">
    <!-- start of loop -->
    <div class="col-md-6 col-lg-4 col-xl-4 card-tile"
      *ngFor="let item of taxonomyList| customFilter: getColumnFilterObj() |slice:startIndex:lastIndex;let i = index"
      role="row">
      <div class="card" id="card-{{i}}" role="gridcell">
        <div class="card-body" aria-live="polite" aria-atomic="true">

          <h2 class="card-title font-bold">
            <a href="javascript:void(0);" (click)="onTaxonomySelected(item)" target="_self">{{item.title}}</a>
            <a href="javascript:void(0);" (click)="onTaxonomySelected(item)" target="_self">{{item.description}}</a>
          </h2>

          <p class="mb-0 text-truncate">Published: {{ changeDateToLocalTimeZone(item.updated_at)| amCalendar:{sameDay:'[Today
            at] h:mm A'} }}</p>

        </div>

      </div>
    </div>
    <!-- end of loop -->

  </div>
  <app-pagination *ngIf="filterData && filterData.length > minItemPerPage"
    [dataLength]="filterData ? filterData.length : 0" (displayItemRangeEvent)="showDataInRange($event)">
  </app-pagination>
</ng-template>

<!-- end of project margin -->
