/* style.css */

html {	-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
body, html{-webkit-overflow-scrolling: touch;}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
	font-family:Helvetica, Arial, sans-serif;
	font-size:18px;
	color:#4e4e4e;
	font-weight:normal;
	min-height:100%;
	background:#F0F0F0 ;
	padding:15px;
	letter-spacing: 1px;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
p{line-height:28px;}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-family:Helvetica, Arial, sans-serif;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:0 10px;
    padding:0;
}
input, select {
    vertical-align:middle;
	min-width: 400px;
}
ul, li{ list-style:none; width:400px; text-align:left;}


input:focus
{
    outline: none;
	-webkit-appearance: none;
	background-color: #FFFED2;
}
select:focus
{
    outline: none;
	background-color: #FFFED2;
}
input[type="text"], input[type="password"] {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color:  rgba(0, 0, 0, 0);
	outline:none;
	padding: 5px;
}
.clear {
	padding:0;
	margin:0;
	font-size:0;
	line-height:0;
	clear:both;
}
.left{float:left;}
.right{float:right;}
.middle{ overflow:hidden;}
.center{ text-align:center;}
img{ max-width:100%; height:auto;}
.sprite{ background:url(../media/sprite.png) no-repeat 0 0;}
.sprite2{ background:url(../media/sprite2.png) no-repeat 0 0;}
.wrapper{}
.main_wrapper{ position:relative;}
button, input{font-family: Helvetica, Arial, sans-serif; outline:none;}
body, html{ -webkit-tap-highlight-color: rgba(0,0,0,0);  -webkit-tap-highlight-color: transparent;   }
button { border:2px solid  #767890; border-radius:5px; padding:7px 15px; margin-top:10px; font-weight:700; position:relative; cursor:pointer; background:#C0C0C0 ; color:black; }
button:active { top:2px; }
button:focus { border:2px solid  #767890;
	-webkit-box-shadow: 7px 7px 20px 0px #767890;
-moz-box-shadow: 7px 7px 20px 0px  #767890;
box-shadow: 7px 7px 20px 0px  #767890;
}
select:disabled { cursor: not-allowed; background-color: #eee; opacity: 1; }
/*-----------------------------------------------------*/

h1 { text-align:center; margin:5px; font-size:25px; color:#222222; letter-spacing:2px; }
.block { margin: 15px 10px; }
.label-right { min-width:180px; text-align: right; }
.label-left { min-width:150px; text-align: left; }
.label-left span#subfield { display:none;}
.mandatoryClass { color: rgb(255, 0, 27); font-size:20px; margin-left:5px; }
#btnLogin { margin-left: 340px; line-height: 1; }



#testharness { display:none; position:relative; }
#testharness select { height:30px; font-size:16px; letter-spacing:1px; }
#btnLogout { position:absolute; top:0; right:0; }
#btnLogout:active { top:2px; }
.inputBlock { padding:20px; background: #D8D8D8; border-radius:10px; }
.inputBlock .label-left { margin: 20px 10px 3px 0; color: #3E3A63; }
#inputBlockWrapper input, #inputBlockWrapper select { width: 100%; }
.leftInputBlock { width: 60%; padding-right:15px; float:left; }
.rightInputBlock { width: 40%; float: left; }
.rightInputBlock textarea { width: 100%; max-width:100%; min-height: 267px; max-height: 500px;  }
.outputblock { padding:20px; background: #D8D8D8; border-radius:10px; color: #003255; /* color: #000000; */ display:none; }
.outputblock p { white-space: pre; line-height: 1.4; letter-spacing: 0px; }