@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.profile{
    &-image{
        @include bgcolor($light);
        @include border-radius(50%);
        @include margin(0, auto, 20px, auto);
        @include padding(30px);
        @include display(block);
        @include text-align(center);
        @include font-size(50);
        @include font-color($darkest-x);
        line-height: 72px;
        width:135px;
        height:135px;
    }
    h3{
        @include font-size(18);
        @include font-color($black);
    }
    &-email{
        @include font-size(13);
        @include font-color($darkest);
    }
    &-role{
        @extend .profile-email;
    }
}
