    <!--HEADER STARTS HERE-->
    <!-- <div ng-include src="'templates/header.html'" class="header-container"></div> -->
    <!--HEADER ENDS HERE-->
<main ng-controller="taxonomy">
    <div class="taxonomy_content">
        <div class="breadcrums col-md-12">
            <span class="home_page_link">Home</span> /
            <span class="current_page">Taxonomies</span>
        </div>
        <div class="taxonomy_content col-md-12">
            <div class="col-md-offset-1 col-md-11">
                <div class="taxonomy_tab col-md-12">
                    <div class="col-md-4 col-sm-4 padding_8_12 taxonomy">
                        <span class="border_bottom">Taxonomies</span>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <!--<div class="col-md-1 padding_8_12">
                            <span>
                                <i class="fa fa-align-left"></i>
                            </span>
                        </div>
                        <div class="col-md-1 padding_8_12">
                            <span>
                                <i class="fa fa-align-center"></i>
                            </span>
                        </div>-->
                        <div class="pull-left search_project col-sm-4" ng-controller="header">
                                <div class="padding_zero col-md-9 col-sm-9">
                                    <input type="text" placeholder="Search Taxonomy" class="form-control ng-pristine ng-valid" ng-keyup="(searchModel.search_text.length > 2) || (searchModel.search_text =='') ? do_search(search_action): false" ng-model="searchModel.search_text">
                                </div>
                                <div class="col-md-3 col-sm-3" ng-click="do_search(search_action)">
                                    <i class="fa fa-search"></i>
                                </div>
                        </div>
                        <!--<div class="padding_8_12 search_taxonomy" ng-controller="header">
                            <input class="form-control" type="text" ng-keyup="(searchModel.search_text.length > 2) || (searchModel.search_text =='') ? do_search(search_action): false"
                                placeholder="Search" ng-model="searchModel.search_text" />
                            <i class="fa fa-search"></i>
                            </span>
                        </div>-->
                        <div class="col-md-4 btn-group taxonomy_state">
                            <button type="button" class="btn published-btn">Published</button>
                            <button type="button" class="btn draft-btn active_state">Draft</button>
                        </div>
                        <div class="col-md-4 col-sm-4 padding_zero create_new">
                            <button type="button" class="primary_button" ng-click="redirect_taxonomy();">Create New</button>
                        </div>
                    </div>
                    <div ng-if="tax_count == 0" ng-cloak >
                            <div class="alert alert-danger" role="alert">
                                <center>No Taxonomy Found!</center>
                            </div>
                        </div>
                    <div class="taxonomy_list col-md-12 col-sm-12">
                        <div class="taxonomy_info col-md-12" ng-repeat="x in tax_data">
                            <div>
                                <span class="taxonomy_name">{{x.title}}</span>
                                <button type="button" class="btn btn-xs btn-success authoring_btn">AUTHORING</button>
                                <span class="go_button" ng-click="showTaxonomyDetails(x.id, x.title)">
                                    <i class="fa fa-angle-right fa-lg"></i>
                                </span>
                            </div>
                            <div class="taxonomy_creator">Created by:
                                <span ng-controller="header">{{firstName | capitalize_first}}&nbsp;{{lastName | capitalize_first}}</span>
                                <span>on</span>
                                <span>{{x.created_at}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FOOTER STARTS HERE-->
    <div ng-include src="'templates/footer.html'" class="footer-container"></div>
    <!--FOOTER ENDS HERE-->
</main>
<script>

    $(document).ready(function () {
        $('.search_taxonomy').on('click', function () {
            $('.search_taxonomy input').toggle().focus();
        });
        $('.nav_links a').on('click', function () {
            $('.nav_links a').removeClass('active_nav');
            $(this).addClass('active_nav');
        });
        $('.taxonomy_state button').on('click',function(){
            $('.taxonomy_state button').removeClass('active_state');
            $(this).addClass('active_state');
        })

    })</script>
