<!-- Association -->
<div class="form-group associations col-md-12">
    <label for="type">Associations:</label>
    <span ng-click="addAssociation()" class="associations_add">
        <i class="fa fa-plus-square-o fa-lg"></i>
    </span>
    <!--  Old Association-->
    <div class="association_section col-md-12" >
        <div class="col-md-12 association_header">
            <div class="col-md-4 asso_type_header">
                <strong>Association Type</strong>
            </div>
            <div class="col-md-8 dest_header">
                <strong>Destination</strong>
            </div>
        </div>
        <div ng-repeat="assocation in case_associations" class="col-md-12 padding_zero">
            <div class="col-md-12 association_attr" ng-if="assocation.destination_node.human_coding_scheme && assocation.destination_node.full_statement">
                <div class="col-md-4 asso_type_value">
                    <span> {{assocation.case_association_type.display_name}}</span>
                </div>
                <div class="taxonomy_wrapper col-md-8">
                    {{assocation.destination_node.human_coding_scheme}} &nbsp;&nbsp;{{assocation.destination_node.full_statement}}
                </div>
            </div>

        </div>
    </div>
    <!--  End of Old Association-->
    <div class="asso_section col-md-12 padding_zero">
    <div ng-repeat="x in associationArray" class="col-md-12 metadata_attr padding_zero">
        <span class="close_asso"><i class="fa fa-times"></i></span>
        <div class="col-md-5 metadata-field">
            <select placeholder="Depends Upon" id="{{'selecttypeid'+x}}" ng-change="onAssociationTypeSelected(x,selectedAssosiationtype[x])"
                ng-model="selectedAssosiationtype[x]" class="form-control">
                <option value="">Depend Upon</option>
                <option ng-repeat="as in listAssociation" value="{{as.type_id}}">{{as.display_name}}</option>
            </select>
        </div>
        <span>
            <div class="col-md-6 metadata-value">
                <select placeholder="Taxonomy Name" id="{{'selecttaxonomyid'+x}}" ng-change="onTaxonomyAssociatoinSelected(selectedAssocaionTaxonomy,x)"
                    ng-model="selectedAssocaionTaxonomy" class="form-control">
                    <option value="">Taxonomy Name</option>
                    <option ng-repeat="df in draftTaxonomy" value="{{df}}">{{df.title}}</option>
                </select>
            </div>
            <div class="taxonomy_wrapper col-md-12">
                <div class="selected_taxonomy">
                    <span class="expand_taxonomy">
                        <i class="fa fa-sort" aria-hidden="true"></i>
                    </span>
                    <div>
                        <span ng-if="leftTreeSelection.title">{{leftTreeSelection.title }}{{ selectedAssociationTaxonomy[x].child.title}}</span>
                        <strong>{{selectedAssociationTaxonomy[x].human_coding_scheme}}</strong>
                        <span class="full_statement">{{selectedAssociationTaxonomy[x].full_statement}}</span>
                    </div>
                </div>
            </div>
            <div class="taxonomy_tree_node col-md-12 padding_zero" ng-include src="'templates/taxonomy/taxonomy_tree_view.html'"></div>
        </span>
    </div>
    </div>

</div>
<!-- Association End-->