<main ng-controller="taxonomy">
        <div class="content">
             <div class="breadcrums col-md-12"><span class="home_page_link">Home</span> / <span class="current_page">Taxonomies</span></div>
             <div class="taxonomy_content col-md-12">
                 <div class="col-md-offset-1 col-md-10">
                     <div class="taxonomy_tab col-md-12">
                         <!--<div class="col-md-6 padding_8_12 taxonomy"><span>Taxonomies</span></div>-->
                         <div class="col-md-6 padding_8_12 taxonomy"><span  class="border_bottom">Create Taxonomy</span></div>
                         <div class="taxonomy_setup_wrapper col-md-12 padding_zero">
                             <div class="common_text_size "><p class="text_align_centre">Setup Your Taxonomy</p></div>
                             <div><p class="text_align_centre">Select the appropriate option below and click on continue.</p></div>
                             <div class="taxonomy_import_wrapper col-md-12">
                                 <div class="col-md-offset-3 col-md-9">
                                     <div class="col-md-4 import_div" ng-click="onSelection('import')"><span>Import Taxonomy files</span></div>
                                      <div class="col-md-1 OR_class"><span>OR</span></div>
                                     <!--<div ng-disabled="true" style="pointer-events: none;opacity: 0.5;background: #CCC;" class="col-md-3 import_div" ng-click="onSelection('inherit')"><span>Inherit from State</span></div>
                                     <div class="col-md-1 OR_class"><span>OR</span></div>-->
                                     <div class="col-md-4 import_div" ng-click="onSelection('build')"><span>Build your Taxonomy</span></div>
                                 </div>
                             </div>
                             <div class="col-md-11"><button type="button btn btn-md" class="primary_button pull-right" ng-click="taxonomy_setup()">Continue</div>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
     </main>
     <!--Main section ends-->
 <script>
     $('.import_div').on('click',function(){
         $('.import_div').removeClass('to_import');
         $(this).addClass('to_import');

     })
 </script>