<style>
    .ajax-content {
        width: 100%;
        height: 100%;
        position: absolute;
        /*display:none;*/
    }

    [ng-cloak] {
        display: none;
    }

    * {
        box-sizing: border-box
    }

    .live ol {
        margin: 4px 0;
        border: 0 none transparent;
        padding: 0;
        background: #eee;
    }

    .live li {
        list-style: none;
        /*        margin: 1px;
                border: 1px solid #ddd;*/
        padding: 8px 8px 4px 20px;
        background: #fff;
    }

    .live .ui-sortable li {
        cursor: pointer;
    }

    .live input,
    .live .shadow input {
        margin: 0;
        border: 1px solid #ddd;
        padding: 1px;
        font: inherit;
        font-weight: bold;
        height: 2em;
    }

    .live .ui-state-highlight {
        border: 1px solid #fc0;
        background: #ffe;
    }

    .live,
    .shadow {
        float: left;
        /*        width: 45%;*/
        margin-right: 5%;
    }

    .live .shadow {
        opacity: 0.7;
    }

    .live .debug {
        clear: both;
    }

    .live .debug textarea {
        width: 100%;
        height: 40em;
        font: 10px/13px monospace;
    }

    .live textarea,
    .live input {
        outline: none;
    }

    /* .live .pregnant {
        /*border: 1px solid #ddd;
    } */

    .live .bg0 {
        background: #fcc;
    }

    .live .bg1 {
        background: #ffc;
    }

    .live .bg2 {
        background: #cfc;
    }

    .live .bg3 {
        background: #cff;
    }

    .live .bg4 {
        background: #ccf;
    }

    .live .bg5 {
        background: #fcf;
    }

    .live .minimized>ol>li {
        display: none;
    }

    .live .minimized>ol {
        border: 0 none transparent;
    }

    .live .toggle {
        border: 0 none transparent;
        background: transparent;
        width: 2em;
        color: #aaa;
        float: left;
    }

    .live button {
        cursor: pointer
    }

    .lirow_selected {
        background-color: #ebedf7;
    }

    .cfDoc {
        cursor: pointer;
    }

    .cf_title {
        margin-left: 3px;
    }

    .taxonomyTitle {
        margin: 0;
        font-size: 16px;
    }

    .modalFormText {
        display: inline-block;
        padding: 7px 0;
    }

    .taxonomySave {
        float: right;
    }

    .active {
        background-color: #ddd;
    }

    .active:hover {
        background-color: #ddd;
    }

    .lirow:hover>.help_icon {
        visibility: visible;
        cursor: pointer;
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="taxonomy">
        <!--HEADER STARTS HERE-->
        <!--div ng-include src="'templates/header.html'" class="header-container"></div-->
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title5">
                    <h4 class="title pull-left">Taxonomy Management</h4>
                    <div class="pull-right">
                        <!-- <button type="button" class="btn btn-primary" ng-click="openTaxonomyModal('', '0')" ng-show="user_permissions['taxonomy.create'].grant" ng-disabled="create_button">Create New Taxonomy</button>-->
                        <button type="button" class="btn btn-primary" ng-click="exportJson()" ng-disabled="create_button">Export</button>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <!-- <div ng-if="total == 0 && user_permissions['taxonomy.show.all'].grant">
                            <div class="alert alert-danger" role="alert"><center>No Taxonomy Found!!!!</center></div>                        
                        </div> -->
                        <div class="clearfix"></div>
                        <div ng-if="total == 0">
                            <div class="alert alert-danger" role="alert">
                                <center>No Taxonomy Found!!!!</center>
                            </div>
                        </div>
                        <!-- <div ng-if="total && user_permissions['taxonomy.show.all'].grant"> -->
                        <div>
                            <div class="from-container">
                                <!--/*stucture modified for all pages*/-->
                                <div class="from-container-row row">
                                    <div class="toc-panel-container pattern-list-container taxonomyList col-md-6">


                                        <!-- <div class="live" ng-show="taxonomy.children.length > 0 && user_permissions['taxonomy.show.all'].grant" >  -->
                                        <div class="live" ng-show="taxonomy.children.length > 0">
                                            <ol ui-nested-sortable="{
                                                listType: 'ol',
                                                items: 'li',    
                                                doNotClear: true,
                                                placeholder: 'ui-state-highlight',
                                                forcePlaceholderSize: true,
                                                toleranceElement: '> div'
                                                }" ui-nested-sortable-stop="update($event, $ui)" class="sortable">
                                                <li class="dontsortme" ya-tree="child in taxonomy.children at ol" ng-class="{
                                                            minimized:child.minimized
                                                        }" item="{{child}}">

                                                    <!-- <input type="text" value="{{child.order_id}}"/> -->

                                                    <div class="toc-outer col-md-12" ng-class="tocRowHoverClass">
                                                        <div class="lirow col-md-12" id="{{child.id}}" ng-mouseenter="tocRowHoverClass = 'tocRowHover'" ng-mouseleave="tocRowHoverClass = ''">
                                                            <!-- <div ng-if="user_permissions['taxonomy.active.inactive'].grant" class="ng-scope lirow-switch pull-right">                                                  
                                                                <span class="switch-button-label build active" ng-class="{'active': child.status == 1000}">Inactive</span>
                                                                <input id="taxonomy-{{child.id}}" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-click="changeStatus(child.id)" ng-checked="child.status == 1001">
                                                                <label class="switch-button-background" for="taxonomy-{{child.id}}"> </label>
                                                                <span class="switch-button-label test" ng-class="{'active': child.status == 1001}">Active</span>
                                                            </div> -->
                                                            <!-- <div ng-if="!user_permissions['taxonomy.active.inactive'].grant"  class="lirow-switch pull-right">
                                                                <span class="switch-button-label build active">{{(child.status==1000 ? 'Inactive' : 'Active')}}</span>
                                                            </div> -->
                                                            <button type="button" class="toggle" ng-click="toggleMinimized(child)" ng-switch on="child.minimized" ng-if="child.children.length > 0">
                                                                <span ng-switch-when="true" title="Expand">
                                                                    <span>
                                                                        <i class="fa fa-plus-square-o fa-lg"></i>
                                                                    </span>
                                                                </span>
                                                                <span ng-switch-default title="Collapse">
                                                                    <span>
                                                                        <i class="fa fa-minus-square-o fa-lg"></i>
                                                                    </span>
                                                                </span>
                                                            </button>
                                                            <div class="taxonomy_node">

                                                                <button type="button" type="button" class="toggle" ng-if="child.children.length < 1"></button>
                                                                <span class="cfDoc link-to-preview" ng-click="openTaxonomyEditForm('', child.id,child.cf_entity_type, child.parent_id)">
                                                                    <!-- <span class="glyphicon glyphicon-file" ng-if="child.cf_entity_type == 'cf_doc'"></span>
                                                                <span class="glyphicon glyphicon-folder-open" ng-if="child.cf_entity_type == 'cf_item' && child.children.length > 0"></span>
                                                                <span class="glyphicon glyphicon-folder-close" ng-if="child.cf_entity_type == 'cf_item'  && child.children.length < 1"></span> -->
                                                                    <span>
                                                                        <a class="cf_title" ng-if="child.cf_entity_type == 'cf_doc'">{{child.title}}</a>
                                                                    </span>
                                                                    <span>
                                                                        <a class="cf_title" ng-if="child.cf_entity_type == 'cf_item'">
                                                                            <strong>{{child.human_coding_scheme}}</strong>
                                                                            <span
                                                                                class="full_statement">{{child.full_statement}}</span>
                                                                    </a>
                                                                </span>
                                                                </span>
                                                                <span ng-show="child.usage_count > 0" style="cursor: pointer;" id="taxonomy_{{child.id}}" ng-click="openTaxonmonyUsageModal('lg', child.id)">(Usage: {{child.usage_count}})</span>
                                                                <span ng-show="child.usage_count == 0" id="taxonomy_{{child.id}}">(Usage: {{child.usage_count}})</span>
                                                                <span class="tooltiptext" ng-if="child.cf_entity_type == 'cf_doc'">{{child.title}}</span>
                                                                </span>
                                                                <span class="tooltiptext" ng-if="child.cf_entity_type == 'cf_item'">
                                                                    <strong>{{child.human_coding_scheme}}</strong>
                                                                    <span>{{child.full_statement}}</span>
                                                                </span>
                                                            </div>
                                                            <span class="dropdown toc-plus addCFItem" title="Add a node">
                                                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" ng-click=" openTaxonomyAddForm('', child.id,child.cf_entity_type);add(createitem)">
                                                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                                                </button>
                                                            </span>
                                                            <!--<span class="glyphicon glyphicon-info-sign help_icon">
                                                            <ul class="node_info">
                                                                <li>Title : <strong>{{child.title}}</strong></li>
                                                                <li ng-if="child.creator">Creator : <strong>{{child.creator}}</strong></li>
                                                                <li>Created : <strong>{{child.created_at}}</strong></li>
                                                                <li>Last Updated : <strong>{{child.updated_at}}</strong></li>
                                                                <li>Adoption Status : <strong>{{child.adoption_status}}</strong></li>
                                                                <li ng-if="child.list_enumeration">List Enumeration : <strong>{{child.list_enumeration}}</strong></li>
                                                            </ul>
                                                        </span>-->
                                                        </div>
                                                    </div>

                                                    <ol ng-class="{
                                                                pregnant:child.children.length
                                                            }"></ol>
                                                </li>
                                            </ol>
                                            <div class="clearfix"></div>
                                        </div>

                                        <!-- <div class="live" ng-show="!user_permissions['taxonomy.show.all'].grant">
                                            Sorry! Access Prohibited!
                                        </div> -->


                                        <div class="clearfix"></div>
                                    </div>

                                    <!--<div class="col-md-6 right-form-div " ng-show="taxonomyAddForm">
                                        <div class="popup-boxes">
                                            <form ng-cloak name="createitem" novalidate ng-model="createForm">
                                                <div class="sub-title col-md-12 taxonomyTitle">
                                                    <span class="modalFormText"><strong> {{modalFormTile}}</strong></span>
                                                    <button ng-show="showAdd" class="btn btn-primary taxonomySave" ng-click="add(createitem)">SAVE</button>
                                                </div>
                                                <div class="inner-modal-content tab-contents col-md-12" style="padding: 0">
                                                    
                                                    <div class="group inputfrom" ng-show="formError['error']"> 
                                                        <span class="highlight text-danger">{{formError['error']}}</span>
                                                    </div>
                                                    <div class="group inputfrom"> 
                                                        <label for="taxonomy_full_statement">Full Statement 
                                                        <span style="color:red">*</span></label> 
                                                        <textarea ng-model="taxonomy_full_statement" name="taxonomy_full_statement" type="text" class="form-control" placeholder="Item Full Statement" rows="2" style="resize: vertical;"></textarea>
                                                        <span class="text-danger center-block ng-binding" ng-show="formError['taxonomy_full_statement']">{{formError['taxonomy_full_statement']}}</span>
                                                    </div>   
                                                    <div class="group inputfrom">   
                                                        <label>Human Coding Scheme 
                                                                <span style="color:red">*</span>
                                                        </label> 
                                                        <input ng-model="taxonomy_human_coding_scheme" name="taxonomy_human_coding_scheme" type="text" class="form-control">
                                                        <span class="text-danger center-block ng-binding" ng-show="formError['taxonomy_human_coding_scheme']">{{formError['taxonomy_human_coding_scheme']}}</span>
                                                    </div>  
                                                    <div class="group inputfrom"> 
                                                        <label>List Enumeration</label> 
                                                        <input ng-model="taxonomy_list_enumeration" name="taxonomy_list_enumeration" type="text" class="form-control" placeholder="List Enumeration" >
                                                        
                                                    </div>    
                                                    <div class="group inputfrom">   
                                                        <label>Abbreviated Statement</label> 
                                                        <input ng-model="taxonomy_abbreviated_statement" name="taxonomy_abbreviated_statement" type="text" class="form-control" placeholder="Abbreviated Statement" >
                                                        
                                                    </div> 
                                                    <div class="group inputfrom">   
                                                        <label>Education Level</label>
                                                        <input ng-model="taxonomy_education_level" name="taxonomy_education_level" type="text" class="form-control" placeholder="Education Level" >
                                                        
                                                    </div> 
                                                    <div class="group inputfrom"> 
                                                        <label>Note</label>
                                                        <textarea ng-model="taxonomy_note" name="taxonomy_note" type="text" class="form-control" placeholder="Note" rows="2" style="resize: vertical;"></textarea>
                                                        
                                                    </div> 
                                                    <div class="group inputfrom"> 
                                                        <label>Concept Keywords</label>
                                                        <textarea ng-model="taxonomy_concept_keywords" name="taxonomy_concept_keywords" type="text" class="form-control" placeholder="Concept Keywords" rows="2" style="resize: vertical;"></textarea>
                                                        
                                                    </div> 
                                                    <div class="group inputfrom">
                                                        <label>Concept Uri</label> 
                                                        <input ng-model="taxonomy_concept_uri" name="taxonomy_concept_uri" type="text" class="form-control" placeholder="Concept Uri" >
                                                        
                                                    </div> 
                                                    <div class="group inputfrom">
                                                        <label>Language</label> 
                                                        <select ng-model="taxonomy_language_id" name="taxonomy_language_id" class="form-control" ng-options="lang.name for lang in language track by lang.id ">
                                                            <option value="">Please select a language</option>
                                                            
                                                        </select>
                                                            
                                                       
                                                    </div>    
                                                    <div class="group inputfrom">
                                                        <label>Item Type</label> 
                                                        <select ng-model="taxonomy_item_type_id" name="taxonomy_item_type_id" class="form-control" ng-options="item.title for item in item_type track by item.id ">
                                                            <option value="">Please select item type</option>
                                                        </select>
                                                            
                                                        
                                                    </div>
                                                    <div class="group inputfrom"> 
                                                        <label>License Uri</label>
                                                        <input ng-model="taxonomy_license_uri" name="taxonomy_license_uri" type="text" class="form-control" placeholder="License Uri" >
                                        
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="modal-footer">            
                                                    <button class="btn btn-default" ng-click="cancel()">DELETE</button>
                                                    <button ng-show="showAdd" class="btn btn-primary" ng-click="add(createitem)">SAVE</button>
                                                    <button ng-show="showEdit" class="btn btn-primary" ng-click="edit()">SAVE</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>-->

                                    <div class="col-md-6 right-form-div taxonomyEditForm" ng-show="taxonomyEditForm">
                                        <div class="popup-boxes">
                                            <form ng-cloak name="updateitem" novalidate>
                                                <div class="sub-title col-md-12 taxonomyTitle">
                                                    <span class="modalFormText">
                                                        <strong> {{modalFormTile}}</strong>
                                                    </span>
                                                    <div class="taxonomySave">
                                                        <button type="button" class="btn btn-default" ng-click="deleteTaxonomy(taxonomy_id)">DELETE</button>
                                                        <button type="button" ng-show="showEdit" class="btn btn-primary" ng-click="edit(updateitem)">SAVE</button>
                                                    </div>
                                                </div>
                                                <div class="inner-modal-content tab-contents col-md-12" style="padding: 0">
                                                    <div class="group inputfrom" ng-show="formError['error']">
                                                        <span class="highlight text-danger">{{formError['error']}}</span>
                                                    </div>
                                                    <div class="group inputfrom">
                                                        <label>Full Statement
                                                            <span style="color:red">*</span></label>
                                                        <textarea ng-model="taxonomy_full_statement" name="taxonomy_full_statement" type="text" class="form-control" placeholder="Item Full Statement"
                                                            rows="2" style="resize: vertical;" required></textarea>
                                                        <span class="text-danger center-block ng-binding" ng-show="formError['taxonomy_full_statement']">{{formError['taxonomy_full_statement']}}</span>
                                                    </div>
                                                    <div class="group inputfrom">
                                                        <label>Human Coding Scheme
                                                            <span style="color:red">*</span> </label>
                                                        <input ng-model="taxonomy_human_coding_scheme" name="taxonomy_human_coding_scheme" type="text" class="form-control" placeholder="Human Coding Scheme"
                                                            required>
                                                        <span class="text-danger center-block ng-binding" ng-show="formError['taxonomy_human_coding_scheme']">{{formError['taxonomy_human_coding_scheme']}}</span>
                                                    </div>
                                                    <div class="group inputfrom">
                                                        <label>List Enumeration
                                                            <span class="glyphicon glyphicon-info-sign help_icon"></label>
                                                        <input ng-model="taxonomy_list_enumeration" name="taxonomy_list_enumeration" type="text" class="form-control" placeholder="List Enumeration">

                                                    </div>
                                                    <div class="group inputfrom">
                                                        <label>Abbreviated Statement</label>
                                                        <input ng-model="taxonomy_abbreviated_statement" name="taxonomy_abbreviated_statement" type="text" class="form-control" placeholder="Abbreviated Statement">

                                                    </div>
                                                    <div class="group inputfrom">
                                                        <label>Education Level</label>
                                                        <input ng-model="taxonomy_education_level" name="taxonomy_education_level" type="text" class="form-control" placeholder="Education Level">

                                                    </div>
                                                    <div class="group inputfrom">
                                                        <label>Note</label>
                                                        <textarea ng-model="taxonomy_note" name="taxonomy_note" type="text" class="form-control" placeholder="Note" rows="2" style="resize: vertical;"></textarea>

                                                    </div>
                                                    <div class="group inputfrom">
                                                        <label>Concept Keywords</label>
                                                        <textarea ng-model="taxonomy_concept_keywords" name="taxonomy_concept_keywords" type="text" class="form-control" placeholder="Concept Keywords"
                                                            rows="2" style="resize: vertical;"></textarea>

                                                    </div>
                                                    <div class="group inputfrom">
                                                        <label>Concept Uri</label>
                                                        <input ng-model="taxonomy_concept_uri" name="taxonomy_concept_uri" type="url" class="form-control" placeholder="Concept Uri">
                                                        <span class="text-danger center-block ng-binding" ng-show="formError['taxonomy_concept_uri']">{{formError['taxonomy_concept_uri']}}</span>
                                                    </div>
                                                    <div class="group inputfrom">
                                                        <label>Language</label>
                                                        <select ng-model="taxonomy_language_id" name="taxonomy_language_id" class="form-control" ng-options="lang.name for lang in language track by lang.id ">
                                                            <option value="">Please select a language</option>

                                                        </select>


                                                    </div>
                                                    <div class="group inputfrom">
                                                        <label>Item Type</label>
                                                        <select ng-model="taxonomy_item_type_id" name="taxonomy_item_type_id" class="form-control" ng-options="item.title for item in item_type track by item.id ">
                                                            <option value="">Please select item type</option>
                                                        </select>


                                                    </div>
                                                    <div class="group inputfrom">
                                                        <label>License Uri</span>
                                                        </label>
                                                        <input ng-model="taxonomy_license_uri" name="taxonomy_license_uri" type="url" class="form-control" placeholder="License Uri">
                                                        <span class="text-danger center-block ng-binding" ng-show="formError['taxonomy_license_uri']">{{formError['taxonomy_license_uri']}}</span>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" ng-click="deleteTaxonomy(taxonomy_id)">DELETE</button>
                                                    <button type="button" ng-show="showAdd" class="btn btn-primary" ng-click="openTaxonomyAddForm('', child.id,child.cf_entity_type);add(createitem)">SAVE</button>
                                                    <button type="button" ng-show="showEdit" class="btn btn-primary" ng-click="edit(updateitem)">SAVE</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="col-md-6 right-form-div taxonomyRootEditForm" ng-show="taxonomyRootEditForm">
                                        <div class="popup-boxes">
                                            <form role="form" name="cfdocform" novalidate enctype="multipart/form-data">
                                                <div class="sub-title col-md-12 taxonomyTitle">
                                                    <span class="modalFormText">
                                                        <strong> {{modalFormTile}}</strong>
                                                    </span>
                                                    <div class="taxonomySave">
                                                        <button type="button" class="btn btn-default" ng-click="deleteTaxonomy(createcfdocform.cfdoc_id)">DELETE</button>
                                                        <button type="button" class="btn btn-primary" ng-click="editTaxonomyDoc(cfdocform)">SAVE</button>
                                                    </div>
                                                </div>
                                                <div class="inner-modal-content tab-contents col-md-12">
                                                    <div class="row group inputfrom" ng-show="errorMessage">
                                                        <span class="text-danger center-block ng-binding">{{errorMessage}}</span>
                                                    </div>
                                                    <div class="row">

                                                        <div class="form-group">
                                                            <label for="cfdoc_title">Title
                                                                <span class="required">*</span>
                                                                <span class="glyphicon glyphicon-info-sign help_icon">
                                                                    <span class="node_info">It is a long established fact that a reader will be distracted
                                                                        by the readable content of a page when looking at
                                                                        its layout. The point of using Lorem Ipsum is that
                                                                        it has a more-or-less normal distribution of letters,
                                                                        as opposed to using 'Content here, content here',
                                                                        making it look like readable English.</span>
                                                                </span>
                                                            </label>
                                                            <input ng-model="createcfdocform.cfdoc_title" name="cfdoc_title" type="text" class="form-control" id="cfdoc_title" placeholder="Title"
                                                                required>
                                                            <span class="text-danger center-block ng-binding" ng-show="submitted && error.cfdoc_title">{{error.cfdoc_title}}</span>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="cfdoc_creator">Creator
                                                                <span class="required">*</span>
                                                                <span class="glyphicon glyphicon-info-sign help_icon">
                                                                    <span class="node_info">It is a long established fact that a reader will be distracted
                                                                        by the readable content of a page when looking at
                                                                        its layout. The point of using Lorem Ipsum is that
                                                                        it has a more-or-less normal distribution of letters,
                                                                        as opposed to using 'Content here, content here',
                                                                        making it look like readable English.</span>
                                                                </span>
                                                            </label>
                                                            <input ng-model="createcfdocform.cfdoc_creator" name="cfdoc_creator" type="text" class="form-control" id="cfdoc_creator"
                                                                placeholder="Creator" required>
                                                            <span class="text-danger center-block ng-binding" ng-show="submitted && error.cfdoc_creator">{{error.cfdoc_creator}}</span>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="cfdoc_organization_id">Organization ID
                                                                <span class="glyphicon glyphicon-info-sign help_icon">
                                                                    <span class="node_info">It is a long established fact that a reader will be distracted
                                                                        by the readable content of a page when looking at
                                                                        its layout. The point of using Lorem Ipsum is that
                                                                        it has a more-or-less normal distribution of letters,
                                                                        as opposed to using 'Content here, content here',
                                                                        making it look like readable English.</span>
                                                                </span>
                                                            </label>
                                                            <select ng-model="createcfdocform.cfdoc_organization_id" name="cfdoc_organization_id" ng-options="org.name for org in organization track by org.id "
                                                                id="cfdoc_organization_id" class="form-control">
                                                                <option value="">Select Organization ID</option>
                                                            </select>

                                                        </div>

                                                        <div class="form-group">
                                                            <label for="cfdoc_official_source_url">Official Source URL
                                                                <span class="glyphicon glyphicon-info-sign help_icon">
                                                                    <span class="node_info">It is a long established fact that a reader will be distracted
                                                                        by the readable content of a page when looking at
                                                                        its layout. The point of using Lorem Ipsum is that
                                                                        it has a more-or-less normal distribution of letters,
                                                                        as opposed to using 'Content here, content here',
                                                                        making it look like readable English.</span>
                                                                </span>
                                                            </label>
                                                            <input ng-model="createcfdocform.cfdoc_official_source_url" name="cfdoc_official_source_url" type="url" class="form-control"
                                                                id="cfdoc_official_source_url" placeholder="Official Source Url">
                                                            <span class="text-danger center-block ng-binding" ng-show="error.cfdoc_official_source_url">{{error.cfdoc_official_source_url}}</span>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="cfdoc_publisher_id">Publisher ID
                                                                <span class="glyphicon glyphicon-info-sign help_icon">
                                                                    <span class="node_info">It is a long established fact that a reader will be distracted
                                                                        by the readable content of a page when looking at
                                                                        its layout. The point of using Lorem Ipsum is that
                                                                        it has a more-or-less normal distribution of letters,
                                                                        as opposed to using 'Content here, content here',
                                                                        making it look like readable English.</span>
                                                                </span>
                                                            </label>
                                                            <select ng-model="createcfdocform.cfdoc_publisher_id" name="cfdoc_publisher_id" ng-options="pub.name for pub in publisher track by pub.id "
                                                                id="cfdoc_publisher_id" class="form-control">
                                                                <option value="">Select Publisher ID</option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="cfdoc_url_name">Url Name
                                                                <span class="glyphicon glyphicon-info-sign help_icon">
                                                                    <span class="node_info">It is a long established fact that a reader will be distracted
                                                                        by the readable content of a page when looking at
                                                                        its layout. The point of using Lorem Ipsum is that
                                                                        it has a more-or-less normal distribution of letters,
                                                                        as opposed to using 'Content here, content here',
                                                                        making it look like readable English.</span>
                                                                </span>
                                                            </label>
                                                            <input ng-model="createcfdocform.cfdoc_url_name" name="cfdoc_url_name" type="text" class="form-control" id="cfdoc_url_name"
                                                                placeholder="Url Name">

                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group">
                                                            <label for="cfdoc_version">Version
                                                                <span class="glyphicon glyphicon-info-sign help_icon">
                                                                    <span class="node_info">It is a long established fact that a reader will be distracted
                                                                        by the readable content of a page when looking at
                                                                        its layout. The point of using Lorem Ipsum is that
                                                                        it has a more-or-less normal distribution of letters,
                                                                        as opposed to using 'Content here, content here',
                                                                        making it look like readable English.</span>
                                                                </span>
                                                            </label>
                                                            <input ng-model="createcfdocform.cfdoc_version" name="cfdoc_version" type="text" class="form-control" id="cfdoc_version"
                                                                placeholder="Version">

                                                        </div>

                                                        <div class="form-group">
                                                            <label for="cfdoc_description">Description
                                                                <span class="glyphicon glyphicon-info-sign help_icon">
                                                                    <span class="node_info">It is a long established fact that a reader will be distracted
                                                                        by the readable content of a page when looking at
                                                                        its layout. The point of using Lorem Ipsum is that
                                                                        it has a more-or-less normal distribution of letters,
                                                                        as opposed to using 'Content here, content here',
                                                                        making it look like readable English.</span>
                                                                </span>
                                                            </label>
                                                            <textarea ng-model="createcfdocform.cfdoc_description" name="cfdoc_description" type="text" class="form-control" id="cfdoc_description"
                                                                placeholder="Description"></textarea>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="cfdoc_note">Notes
                                                                <span class="glyphicon glyphicon-info-sign help_icon">
                                                                    <span class="node_info">It is a long established fact that a reader will be distracted
                                                                        by the readable content of a page when looking at
                                                                        its layout. The point of using Lorem Ipsum is that
                                                                        it has a more-or-less normal distribution of letters,
                                                                        as opposed to using 'Content here, content here',
                                                                        making it look like readable English.</span>
                                                                </span>
                                                            </label>
                                                            <textarea ng-model="createcfdocform.cfdoc_note" name="cfdoc_note" type="text" class="form-control" id="cfdoc_note" placeholder="Notes"></textarea>

                                                        </div>

                                                        <div class="form-group">
                                                            <label for="cfdoc_language_id">Language ID
                                                                <span class="glyphicon glyphicon-info-sign help_icon">
                                                                    <span class="node_info">It is a long established fact that a reader will be distracted
                                                                        by the readable content of a page when looking at
                                                                        its layout. The point of using Lorem Ipsum is that
                                                                        it has a more-or-less normal distribution of letters,
                                                                        as opposed to using 'Content here, content here',
                                                                        making it look like readable English.</span>
                                                                </span>
                                                            </label>
                                                            <select ng-model="createcfdocform.cfdoc_language_id" name="cfdoc_language_id" ng-options="ln.short_code for ln in language track by ln.id "
                                                                id="cfdoc_language_id" class="form-control">
                                                                <option value="">Select Language ID</option>
                                                            </select>

                                                        </div>

                                                        <div class="form-group">
                                                            <label for="cfdoc_adoption_status">Adoption Status
                                                                <span class="glyphicon glyphicon-info-sign help_icon">
                                                                    <span class="node_info">It is a long established fact that a reader will be distracted
                                                                        by the readable content of a page when looking at
                                                                        its layout. The point of using Lorem Ipsum is that
                                                                        it has a more-or-less normal distribution of letters,
                                                                        as opposed to using 'Content here, content here',
                                                                        making it look like readable English.</span>
                                                                </span>
                                                            </label>
                                                            <select ng-model="createcfdocform.cfdoc_adoption_status" name="cfdoc_adoption_status" ng-options="ads.value for ads in adoption_status track by ads.id "
                                                                id="cfdoc_adoption_status" class="form-control">
                                                                <option value="">Select Adoption Status</option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="cfdoc_status_start_date">Start Date</label>
                                                            <input ng-model="createcfdocform.cfdoc_status_start_date" name="cfdoc_status_start_date" data-date-format="MM-dd-yyyy" type="text"
                                                                class="form-control" id="cfdoc_status_start_date" bs-datepicker
                                                                placeholder="Status Start Date">

                                                        </div>

                                                        <div class="form-group">
                                                            <label for="cfdoc_status_end_date">End Date</label>
                                                            <input ng-model="createcfdocform.cfdoc_status_end_date" name="cfdoc_status_end_date" data-date-format="MM-dd-yyyy" type="text"
                                                                class="form-control" id="cfdoc_status_end_date" bs-datepicker
                                                                placeholder="Status End Date">

                                                        </div>
                            <!-- <span ng-include src="'templates/taxonomy/tree.html'"></span> -->
                        </div>
                        <div class="clearfix"></div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="deleteTaxonomy(createcfdocform.cfdoc_id)">DELETE</button>
                    <button type="button" class="btn btn-primary" ng-click="editTaxonomyDoc(cfdocform)">SAVE</button>
                </div>

                            </div>
                            <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
            </div>

            <!--FOOTER STARTS HERE-->
            <!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
            <!--FOOTER ENDS HERE-->

            </div>
            <div class="clearfix"></div>
            </div>
            <script>
                    $('.expand_taxonomy').on('click',function(){
                         $('.selected_taxonomy').fadeOut('fast');
                        $('.associations .taxonomy_tree_node').fadeIn('slow');
                    });
                     $('.close_taxonomy').on('click',function(){
                         $('.associations .taxonomy_tree_node').fadeOut('fast');
                         $('.selected_taxonomy').fadeIn('slow');
                    });
                </script>
   