<div class="col-md-12 taxonomy_tree">
    <div ng-show="showAssociationError[x]" class="alert alert-danger">Select Association Type and atleast one node from Selected Taxonomy</div>
    <div class="project_taxonomyList scrollbar-customised" ng-show="associationTaxonomy[x].children.length > 0">
        <button type="button" class="btn btn-xs btn-success save_taxonomy" ng-click="createAssociation(x)">Associate</button>
        
        <div class="live" ng-show="associationTaxonomy[x].children.length > 0">
            <ol ui-nested-sortable="{
            listType: 'ol',
            items: 'li',    
            doNotClear: true,
            placeholder: 'ui-state-highlight',
            forcePlaceholderSize: true,
            toleranceElement: '> div'
            }" ui-nested-sortable-stop="update($event, $ui)" class="sortable">
                <li class="dontsortme padding_zero" ya-tree="child in associationTaxonomy[x].children at ol" ng-class="{
                        minimized:child.minimized
                    }" item="{{child}}">
                    <div class="toc-outer col-md-12" ng-class="tocRowHoverClass">
                        <div class="lirow col-md-12" id="{{child.id}}" ng-mouseenter="tocRowHoverClass = 'tocRowHover'" ng-mouseleave="tocRowHoverClass = ''">

                            <button type="button" class="toggle" ng-click="toggleMinimized(child)" ng-switch on="child.minimized" ng-if="child.children.length > 0">
                                <span ng-switch-when="true" title="Expand">
                                    <span>
                                        <i class="fa fa-plus-square-o fa-lg"></i>
                                    </span>
                                </span>
                                <span ng-switch-default title="Collapse">
                                    <span>
                                        <i class="fa fa-minus-square-o fa-lg"></i>
                                    </span>
                                </span>
                            </button>
                            <div class="taxonomy_node">
                                <button type="button" type="button" class="toggle" ng-if="child.children.length < 1"></button>
                                <span class="cfDoc link-to-preview" ng-click="onTaxonomyAssoTreeNodeSelected(x,child)">
                                    <!--<span class="glyphicon glyphicon-file" ng-if="child.cf_entity_type == 'cf_doc'"></span>
                                    <span class="glyphicon glyphicon-folder-open" ng-if="child.cf_entity_type == 'cf_item' && child.children.length > 0"></span>
                                    <span class="glyphicon glyphicon-folder-close" ng-if="child.cf_entity_type == 'cf_item'  && child.children.length < 1"></span>-->
                                    <span>
                                        <a class="cf_title" ng-if="child.cf_entity_type == 'cf_doc'">{{child.title}}</a>
                                    </span>
                                    <span class="tooltiptext" ng-if="child.cf_entity_type == 'cf_doc'">{{child.title}}</span>
                                    <label class="cf_title" ng-if="child.cf_entity_type == 'cf_item'">
                                        <input type="checkbox" class="select_taxonomy" ng-if="child.cf_entity_type == 'cf_item'" />
                                        <span class="taxonomy_human_coding">{{child.human_coding_scheme}}</span>
                                        <span class="full_statement">{{child.full_statement}}</span>
                                    </label>
                                    <span class="tooltiptext" ng-if="child.cf_entity_type == 'cf_item'">
                                        <strong>{{child.human_coding_scheme}}</strong>
                                        <span>{{child.full_statement}}</span>
                                    </span>
                                </span>
                            </div>

                        </div>
                    </div>

                    <ol ng-class="{
                            pregnant:child.children.length
                        }"></ol>
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script>
    $('.expand_taxonomy').on('click', function () {
        $('.selected_taxonomy').fadeOut('fast');
        $('.associations .taxonomy_tree_node').fadeIn('slow');
    });
    $('.close_taxonomy').on('click', function () {
        $('.associations .taxonomy_tree_node').fadeOut('fast');
        $('.selected_taxonomy').fadeIn('slow');
    });
     $('.close_asso').on('click',function(){
        $(this).parent().fadeOut();
    });
</script>