<div class="popup-boxes">
    <form ng-cloak name="updateitem" novalidate>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}}</div>
        <div class="inner-modal-content tab-contents">
            <div class="group inputfrom" ng-show="formError['error']"> 
                <span class="highlight text-danger">{{formError['error']}}</span>
            </div>
            <div class="group inputfrom">      
                <textarea ng-model="taxonomy_full_statement" name="taxonomy_full_statement" type="text" class="form-control" placeholder="Item Full Statement" rows="2" style="resize: vertical;" required></textarea>
                <span class="text-danger center-block ng-binding" ng-show="formError['taxonomy_full_statement']">{{formError['taxonomy_full_statement']}}</span>
            </div>   
            <div class="group inputfrom">   
                <input ng-model="taxonomy_human_coding_scheme" name="taxonomy_human_coding_scheme" type="text" class="form-control" placeholder="Human Coding Scheme" required>
                <span class="text-danger center-block ng-binding" ng-show="formError['taxonomy_human_coding_scheme']">{{formError['taxonomy_human_coding_scheme']}}</span>
            </div>  
            <div class="group inputfrom">   
                <input ng-model="taxonomy_list_enumeration" name="taxonomy_list_enumeration" type="text" class="form-control" placeholder="List Enumeration" >
                
            </div>    
            <div class="group inputfrom">   
                <input ng-model="taxonomy_abbreviated_statement" name="taxonomy_abbreviated_statement" type="text" class="form-control" placeholder="Abbreviated Statement" >
                
            </div> 
            <div class="group inputfrom">   
                <input ng-model="taxonomy_education_level" name="taxonomy_education_level" type="text" class="form-control" placeholder="Education Level" >
                
            </div> 
            <div class="group inputfrom"> 
                <textarea ng-model="taxonomy_note" name="taxonomy_note" type="text" class="form-control" placeholder="Note" rows="2" style="resize: vertical;"></textarea>
                
            </div> 
            <div class="group inputfrom"> 
                <textarea ng-model="taxonomy_concept_keywords" name="taxonomy_concept_keywords" type="text" class="form-control" placeholder="Concept Keywords" rows="2" style="resize: vertical;"></textarea>
                
            </div> 
            <div class="group inputfrom"> 
                <input ng-model="taxonomy_concept_uri" name="taxonomy_concept_uri" type="text" class="form-control" placeholder="Concept Uri" >
                
            </div> 
            <div class="group inputfrom"> 
                <select ng-model="taxonomy_language_id" name="taxonomy_language_id" class="form-control" ng-options="lang.name for lang in language track by lang.id ">
                    <option value="">Please select a value</option>
                    
                </select>
                    
               
            </div>    
            <div class="group inputfrom"> 
                <select ng-model="taxonomy_item_type_id" name="taxonomy_item_type_id" class="form-control" ng-options="item.title for item in item_type track by item.id ">
                    <option value="">Please select item type</option>
                </select>
                    
                
            </div>
            <div class="group inputfrom"> 
                <input ng-model="taxonomy_license_uri" name="taxonomy_license_uri" type="text" class="form-control" placeholder="License Uri" >

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">            
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button ng-show="showAdd" class="btn btn-primary" ng-click="add(createitem)">CONFIRM</button>
            <button ng-show="showEdit" class="btn btn-primary" ng-click="edit(updateitem)">CONFIRM</button>
        </div>
    </form>
</div>