<div ng-controller = "taxonomy" class="pull-right">
    <h1>child view</h1>
    <div class="form-group">
        <label for="type">Type:</label>
        <select class="form-control" id="type">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
    </div>
    <div class="form-group">
        <label for="label">Label:</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="code">Code:</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="code">Description:</label>
        <textarea name="description" id="desc" cols="30" rows="10"></textarea>
    </div>