        <!--Main section starts-->
        <main ng-controller="taxonomy">
                <div class="content">
                     <div class="breadcrums col-md-12"><span class="home_page_link">Home</span> / <span class="current_page">Projects</span></div>
                         <div class="autoring_taxonomy col-md-12">
                             <div class="authoring_header col-md-12">
                                 <div class="col-md-offset-1 col-md-10">
                                     <div class="autoring_section col-md-12">
                                         <div class="col-md-12 padding_zero">
                                             <div class="col-md-6 padding_8_12 tab_title" ng-controller="dashboard">
                                                 <span class="title">Project</span>
                                                 <button type="button" class="btn btn-sm btn-success authoring_btn">AUTHORING</button>
                                                 <span><i class="fa fa-cog" aria-hidden="true"></i></span>
                                             </div>
                                             <div class="col-md-6">{{project.project_name}}
                                             <div class="pull-right">
                                                     <span class="col-md-6"><i class="fa fa-bar-chart fa-lg"></i></span>
                                                     <span class="col-md-6"><i class="fa fa-pencil fa-lg"></i></span>
                                             </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                                     <div class="authoring_content col-md-offset-1 col-md-11">
                                         <div class="col-md-5 left-panel">
                                             <div class="col-md-12 btn-section">
                                                 <button class="btn btn-primary" ng-click="openTaxonomyAddForm('', child.id,child.cf_entity_type);add(createitem)">Create</button>
                                                 <button class="btn btn-primary">Delete</button>
                                             </div>
                                             <!-- <div class="live" ng-show="taxonomy.children.length > 0" >
                                                    <ol ui-nested-sortable="{
                                                        listType: 'ol',
                                                        items: 'li',    
                                                        doNotClear: true,
                                                        placeholder: 'ui-state-highlight',
                                                        forcePlaceholderSize: true,
                                                        toleranceElement: '> div'
                                                        }" ui-nested-sortable-stop="update($event, $ui)" class="sortable">
                                                        <li class="dontsortme" ya-tree="child in taxonomy.children at ol" ng-class="{
                                                                    minimized:child.minimized
                                                                }" item="{{child}}">   -->
                                                            
                                                            <!-- <input type="text" value="{{child.order_id}}"/> -->
        
                                                            <!-- <div class="toc-outer col-md-12" ng-class="tocRowHoverClass"> -->
                                                                <!-- <div class="lirow col-md-12" id="{{child.id}}" ng-mouseenter="tocRowHoverClass = 'tocRowHover'" ng-mouseleave="tocRowHoverClass = ''"> -->
                                                                    <!-- <div ng-if="user_permissions['taxonomy.active.inactive'].grant" class="ng-scope lirow-switch pull-right">                                                  
                                                                        <span class="switch-button-label build active" ng-class="{'active': child.status == 1000}">Inactive</span>
                                                                        <input id="taxonomy-{{child.id}}" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-click="changeStatus(child.id)" ng-checked="child.status == 1001">
                                                                        <label class="switch-button-background" for="taxonomy-{{child.id}}"> </label>
                                                                        <span class="switch-button-label test" ng-class="{'active': child.status == 1001}">Active</span>
                                                                    </div> -->
                                                                    <!-- <div ng-if="!user_permissions['taxonomy.active.inactive'].grant"  class="lirow-switch pull-right">
                                                                        <span class="switch-button-label build active">{{(child.status==1000 ? 'Inactive' : 'Active')}}</span>
                                                                    </div> -->
                                                                    <!-- <div class="taxonomy_node">
                                                                    <button type="button" class="toggle" ng-click="toggleMinimized(child)" ng-switch on="child.minimized" ng-if="child.children.length > 0" >
                                                                        <span ng-switch-when="true" title="Expand">
                                                                            <span class="glyphicon glyphicon-expand"></span>
                                                                        </span>
                                                                        <span ng-switch-default title="Collapse">
                                                                            <span class="glyphicon glyphicon-collapse-down"></span>
                                                                        </span>
                                                                    </button>
                                                                    <button type="button" type="button" class="toggle" ng-if="child.children.length < 1" ></button>
                                                                    <span class="cfDoc link-to-preview" ng-click="openTaxonomyEditForm('', child.id,child.cf_entity_type, child.parent_id)" >
                                                                        <span class="glyphicon glyphicon-file" ng-if="child.cf_entity_type == 'cf_doc'"></span>
                                                                        <span class="glyphicon glyphicon-folder-open" ng-if="child.cf_entity_type == 'cf_item' && child.children.length > 0"></span>
                                                                        <span class="glyphicon glyphicon-folder-close" ng-if="child.cf_entity_type == 'cf_item'  && child.children.length < 1"></span>
                                                                        <span><a class="cf_title" ng-if="child.cf_entity_type == 'cf_doc'">{{child.title}}</a></span>
                                                                        <span><a class="cf_title" ng-if="child.cf_entity_type == 'cf_item'"><strong>{{child.human_coding_scheme}}</strong> <span class="full_statement">{{child.full_statement}}</span></a></span>   
                                                                    </span>                                           
                                                                    <span ng-show="child.usage_count > 0" style="cursor: pointer;" id="taxonomy_{{child.id}}" ng-click="openTaxonmonyUsageModal('lg', child.id)">(Usage: {{child.usage_count}})</span>
                                                                    <span ng-show="child.usage_count == 0"  id="taxonomy_{{child.id}}">(Usage: {{child.usage_count}})</span>
                                                                    <span class="tooltiptext" ng-if="child.cf_entity_type == 'cf_doc'">{{child.title}}</span></span>
                                                                    <span class="tooltiptext" ng-if="child.cf_entity_type == 'cf_item'"><strong>{{child.human_coding_scheme}}</strong> <span>{{child.full_statement}}</span></span>
                                                                    </div>
                                                                    <span class="dropdown toc-plus addCFItem">                                          
                                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" ng-click=" openTaxonomyAddForm('', child.id,child.cf_entity_type);add(createitem)"><span class="glyphicon glyphicon-plus-sign"></span></button>
                                                                    </span>
                                                                </div>
                                                            </div>
        
                                                            <ol ng-class="{
                                                                        pregnant:child.children.length
                                                                    }"></ol>
                                                        </li>
                                                    </ol> 
                                                    <div class="clearfix"></div>
                                                </div>  -->
                                             <div class="taxonomy_section col-md-12">
                                                 <div class="taxonomy_tree_node col-md-12 padding_zero">
                                                     <div class="col-md-12">
                                                        <span><i class="fa fa-minus-square-o fa-lg"></i></span>
                                                        <strong>Human Coding: </strong>
                                                        <span>Full Statement</span>
                                                     </div>
                                                    <ul class="taxonomy_child_name col-md-12" >
                                                         <li ya-tree="child in taxonomy.children at ol" ng-class="{
                                                            minimized:child.minimized
                                                        }" item="{{child}}"><span><i class="fa fa-plus-square-o fa-lg"></i></span>
                                                             <span>{{child.title}}</span>
                                                         </li>
                                                    </ul>
                                                 </div>
                                             </div>
                                             </div>
     
                                         <div class="col-md-5 right-panel">
                                             <form class="acmt_form" role="form">
                                                 <div class="form-group">
                                                     <label for="type">Type:
                                                     </label>
                                                     <select class="form-control" required>
                                                         <option value="">Select Type</option>
                                                     </select>
                                                 </div>
                                                 <div class="form-group">
                                                     <label for="type">Label:
                                                     </label>
                                                     <input type="text" class="form-control"/>
                                                 </div>
                                                 <div class="form-group">
                                                     <label for="type">Code:
                                                     </label>
                                                     <input type="text" class="form-control"/>
                                                 </div>
                                                 <div class="form-group">
                                                     <label for="type">Description:
                                                     </label>
                                                     <textarea class="form-control" placeholder="Add description"></textarea>
                                                 </div>
                                                 <div class="form-group">
                                                     <label for="type">Metadata Attributes:</label><span class="metadata_add"><i class="fa fa-plus-square-o fa-lg"></i></span>
                                                     <div class="col-md-12 metadata padding_zero">
                                                         <div class="col-md-12 metadata_attr padding_zero">
                                                             <div class="col-md-5 metadata-field padding_zero">
                                                                 <select class="form-control" required>
                                                                     <option value="">Content Complexity</option>
                                                                 </select>
                                                             </div>
                                                             <div class="col-md-7 metadata-value">
                                                                 <input type="text" class="form-control" placeholder="add value"/>
                                                             </div>
                                                          </div>
                                                          <div class="col-md-12 metadata_attr padding_zero">
                                                             <div class="col-md-5 metadata-field padding_zero">
                                                                 <select class="form-control" required>
                                                                     <option value="">Date Adopted/Revised</option>
                                                                 </select>
                                                             </div>
                                                             <div class="col-md-7 metadata-value">
                                                                 <input type="text" class="form-control" placeholder="add value"/>
                                                             </div>
                                                          </div>
                                                          </div>
                                                 </div>
                                                 <div class="form-group associations">
                                                             <label for="type">Associations:</label><span class="associations_add"><i class="fa fa-plus-square-o fa-lg"></i></span>
                                                                  <div class="col-md-12 metadata_attr padding_zero">
                                                                     <div class="col-md-5 metadata-field">
                                                                         <select  class="form-control" required>
                                                                             <option ng-repeat="as in listAssociation">{{as.display_name}}</option>
                                                                         </select>
                                                                     </div>
                                                                     <span  ng-controller="createproject">
                                                                     <div class="col-md-7 metadata-value">
                                                                        <select ng-change="onTaxonomySelected($event)" ng-model="selectedDraftTaxonomy" name="selectedDraftTaxonomy" ng-options="df.title for df in draftTaxonomy track by df.id "
                                                                        class="form-control" required>
                                                                             <option value="">Taxonomy Name</option>
                                                                         </select>
                                                                     </div>
                                                                     <div>
                                                                         <div class="taxonomy_wrapper col-md-12">
                                                                            <div class="selected_taxonomy" ng-show="taxonomy.children.length > 0">
                                                                                <span class="expand_taxonomy"><i class="fa fa-sort" aria-hidden="true"></i></span>
                                                                                 <div>
                                                                                     <span>{{child.title}}</span>
                                                                                 </div>
                                                                            </div>
                                                                             <div class="taxonomy_tree_node col-md-12">
                                                                                <span class="close_taxonomy"> <i class="fa fa-times" ></i></span>
                                                                                <div class="col-md-12 padding_zero">
                                                                                     <div>
                                                                                         <span><i class="fa fa-minus-square-o"></i></span>
                                                                                         <input type="checkbox"/>  
                                                                                         <span>{{child.title}}</span>
                                                                                     </div>
                                                                                     <ul class="taxonomy_child_name col-md-12">
                                                                                         <li><span><i class="fa fa-plus-square-o"></i></span>
                                                                                         <input type="checkbox"/>  <span>Level 1.1</span>
                                                                                         </li>
                                                                                     </ul>
                                                                                </div>
                                                                             </div>
                                                                         </div>
                                                                         <div class="form-group">
                                                                                <div class="form-group taxonomy_section">
                                                                                    <div ng-click="toggleShowMenuClass()"></div>
                                                                                    <div class="col-md-12">
                                                
                                                                                        <!-- <div class="live" ng-show="taxonomy.children.length > 0 && user_permissions['taxonomy.show.all'].grant" >  -->
                                                                                        <div ng-show="taxonomy.children.length > 0">
                                                                                            <ol ui-nested-sortable="{
                                                                                                            listType: 'ol',
                                                                                                            items: 'li',    
                                                                                                            doNotClear: true,
                                                                                                            placeholder: 'ui-state-highlight',
                                                                                                            forcePlaceholderSize: true,
                                                                                                            toleranceElement: '> div'
                                                                                                            }" ui-nested-sortable-stop="update($event, $ui)">
                                                                                                <li class="dontsortme" ya-tree="child in taxonomy.children at ol" ng-class="{
                                                                                                                        minimized:child.minimized
                                                                                                                    }" item="{{child}}">
                                                
                                                                                                    <!-- <input type="text" value="{{child.order_id}}"/> -->
                                                
                                                                                                    <div ng-class="tocRowHoverClass">
                                                                                                        <div id="{{child.id}}" ng-mouseenter="tocRowHoverClass = 'tocRowHover'" ng-mouseleave="tocRowHoverClass = ''">
                                                                                                            <!-- <div ng-if="user_permissions['taxonomy.active.inactive'].grant" class="ng-scope lirow-switch pull-right">                                                  
                                                                                                                            <span class="switch-button-label build active" ng-class="{'active': child.status == 1000}">Inactive</span>
                                                                                                                            <input id="taxonomy-{{child.id}}" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-click="changeStatus(child.id)" ng-checked="child.status == 1001">
                                                                                                                            <label class="switch-button-background" for="taxonomy-{{child.id}}"> </label>
                                                                                                                            <span class="switch-button-label test" ng-class="{'active': child.status == 1001}">Active</span>
                                                                                                                        </div> -->
                                                                                                            <!-- <div ng-if="!user_permissions['taxonomy.active.inactive'].grant"  class="lirow-switch pull-right">
                                                                                                                            <span class="switch-button-label build active">{{(child.status==1000 ? 'Inactive' : 'Active')}}</span>
                                                                                                                        </div> -->
                                                                                                            <div>
                                                                                                                <button type="button" class="toggle" ng-click="toggleMinimized(child)" ng-switch on="child.minimized" ng-if="child.children.length > 0">
                                                                                                                    <span ng-switch-when="true" title="Expand">
                                                                                                                        <span class="glyphicon glyphicon-expand"></span>
                                                                                                                    </span>
                                                                                                                    <span ng-switch-default title="Collapse">
                                                                                                                        <span class="glyphicon glyphicon-collapse-down"></span>
                                                                                                                    </span>
                                                                                                                </button>
                                                                                                                <button type="button" type="button" ng-if="child.children.length < 1"></button>
                                                                                                                <span ng-click="openTaxonomyEditForm('', child.id,child.cf_entity_type, child.parent_id)">
                                                                                                                    <span ng-if="child.cf_entity_type == 'cf_doc'"></span>
                                                                                                                    <span ng-if="child.cf_entity_type == 'cf_item' && child.children.length > 0"></span>
                                                                                                                    <span ng-if="child.cf_entity_type == 'cf_item'  && child.children.length < 1"></span>
                                                                                                                    <span>
                                                                                                                        <a ng-if="child.cf_entity_type == 'cf_doc'">{{child.title}}</a>
                                                                                                                    </span>
                                                                                                                    <span>
                                                                                                                        <a ng-if="child.cf_entity_type == 'cf_item'">
                                                                                                                            <strong>{{child.human_coding_scheme}}</strong>
                                                                                                                            <span class="full_statement">{{child.full_statement}}</span>
                                                                                                                        </a>
                                                                                                                    </span>
                                                                                                                </span>
                                                                                                                <span ng-show="child.usage_count > 0" style="cursor: pointer;" id="taxonomy_{{child.id}}" ng-click="openTaxonmonyUsageModal('lg', child.id)">(Usage: {{child.usage_count}})</span>
                                                                                                                <span ng-show="child.usage_count == 0" id="taxonomy_{{child.id}}">(Usage: {{child.usage_count}})</span>
                                                                                                                <span ng-if="child.cf_entity_type == 'cf_doc'">{{child.title}}</span>
                                                                                                                </span>
                                                                                                                <span ng-if="child.cf_entity_type == 'cf_item'">
                                                                                                                    <strong>{{child.human_coding_scheme}}</strong>
                                                                                                                    <span>{{child.full_statement}}</span>
                                                                                                                </span>
                                                                                                            </div>
                                                                                                            <span>
                                                                                                            </span>
                                                                                                        </div>
                                                                                                    </div>
                                                
                                                                                                    <ol ng-class="{
                                                                                                                            pregnant:child.children.length
                                                                                                                        }"></ol>
                                                                                                </li>
                                                                                            </ol>
                                                
                                                                                        </div>
                                                
                                                
                                                                                    </div>
                                                                                    <!--Tree View END-->
                                                
                                                                                </div>
                                                                                <!--<span class="text-danger center-block ng-binding" ng-show="submitted && error.wflow">{{error.wflow}}</span>-->
                                                                            </div>
                                                                        </div>
                                                                 </div>
                                                          <!--<div class="col-md-12 metadata_attr padding_zero">
                                                             <div class="col-md-4 metadata-field padding_zero">
                                                                <input type="text" value="Blooms" class="form-control"/>
                                                             </div>
                                                             <div class="col-md-8 metadata-value">
                                                                 <div class="taxonomy_tree_node col-md-12 padding_zero">
                                                                     <div class="col-md-12">
                                                                     <span><i class="fa fa-minus-square-o"></i></span>
                                                                     <strong>Human Coding: </strong>
                                                                     <span>Full Statement</span>
                                                                     </div>
                                                                     <ul class="taxonomy_child_name col-md-12">
                                                                         <li><span><i class="fa fa-plus-square-o"></i></span>
                                                                           <input type="checkbox"/>  <span>taxonomy_child</span>
                                                                          </li>
                                                                     </ul>
                                                                 </div>
                                                             </div>
                                                          </div>-->
                                                     </div>
                                             </form>
                                         </div>
                                         </div>
                                     </div>
                         </div>
                        </span>
                </div>
           
                            <!-- <div class="">
                                <label for="draft_taxonomy_id">Select Taxonomy Section
                                    <span  class="required">*</span>
                                </label>
                                <div class="taxonomy_section">
                                    <div class="col-md-12">
                                        <span>
                                            <i class="fa fa-minus-square-o"></i>
                                        </span>
                                        <span class="taxonomy_node_name">{{child.title}}</span>
                                    </div>
                                    <ul class="taxonomy_child_name col-md-12">
                                        <li>
                                            <span>
                                                <i class="fa fa-plus-square-o"></i>
                                            </span>
                                            <input type="checkbox" class="select_taxonomy" />
                                            <span>taxonomy_child</span>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->

                </div>
                <div class="col-md-6 right-form-div" ng-show="taxonomyEditForm">
                    <div class="popup-boxes">
                        <form ng-cloak name="updateitem" novalidate>
                            <div class="sub-title col-md-12 taxonomyTitle">
                                <span class="modalFormText"><strong> {{modalFormTile}}</strong></span>
                                <div class="taxonomySave">
                                    <button type="button" class="btn btn-default" ng-click="deleteTaxonomy(taxonomy_id)">DELETE</button>
                                    <button type="button" ng-show="showEdit" class="btn btn-primary" ng-click="edit(updateitem)">SAVE</button>
                                </div>
                            </div>
                            <div class="inner-modal-content tab-contents col-md-12" style="padding: 0">
                                <div class="group inputfrom" ng-show="formError['error']"> 
                                    <span class="highlight text-danger">{{formError['error']}}</span>
                                </div>
                                <div class="group inputfrom">  
                                    <label>Full Statement 
                                            <span style="color:red">*</span></label>     
                                    <textarea ng-model="taxonomy_full_statement" name="taxonomy_full_statement" type="text" class="form-control" placeholder="Item Full Statement" rows="2" style="resize: vertical;" required></textarea>
                                    <span class="text-danger center-block ng-binding" ng-show="formError['taxonomy_full_statement']">{{formError['taxonomy_full_statement']}}</span>
                                </div>   
                                <div class="group inputfrom">   
                                    <label>Human Coding Scheme <span style="color:red">*</span></label> 
                                    <input ng-model="taxonomy_human_coding_scheme" name="taxonomy_human_coding_scheme" type="text" class="form-control" placeholder="Human Coding Scheme" required>
                                    <span class="text-danger center-block ng-binding" ng-show="formError['taxonomy_human_coding_scheme']">{{formError['taxonomy_human_coding_scheme']}}</span>
                                </div>  
                                <div class="group inputfrom">  
                                    <label>List Enumeration</label>
                                    <input ng-model="taxonomy_list_enumeration" name="taxonomy_list_enumeration" type="text" class="form-control" placeholder="List Enumeration" >
                                    
                                </div>    
                                <div class="group inputfrom">   
                                    <label>Abbreviated Statement</label>
                                    <input ng-model="taxonomy_abbreviated_statement" name="taxonomy_abbreviated_statement" type="text" class="form-control" placeholder="Abbreviated Statement" >
                                    
                                </div> 
                                <div class="group inputfrom">   
                                        <label>Education Level</label>
                                    <input ng-model="taxonomy_education_level" name="taxonomy_education_level" type="text" class="form-control" placeholder="Education Level" >
                                    
                                </div> 
                                <div class="group inputfrom"> 
                                        <label>Note</label>
                                    <textarea ng-model="taxonomy_note" name="taxonomy_note" type="text" class="form-control" placeholder="Note" rows="2" style="resize: vertical;"></textarea>
                                    
                                </div> 
                                <div class="group inputfrom"> 
                                        <label>Concept Keywords</label>
                                    <textarea ng-model="taxonomy_concept_keywords" name="taxonomy_concept_keywords" type="text" class="form-control" placeholder="Concept Keywords" rows="2" style="resize: vertical;"></textarea>
                                    
                                </div> 
                                <div class="group inputfrom"> 
                                        <label>Concept Uri</label>
                                    <input ng-model="taxonomy_concept_uri" name="taxonomy_concept_uri" type="url" class="form-control" placeholder="Concept Uri" >
                                     <span class="text-danger center-block ng-binding" ng-show="formError['taxonomy_concept_uri']">{{formError['taxonomy_concept_uri']}}</span>
                                </div> 
                                <div class="group inputfrom"> 
                                        <label>Language</label>
                                    <select ng-model="taxonomy_language_id" name="taxonomy_language_id" class="form-control" ng-options="lang.name for lang in language track by lang.id ">
                                        <option value="">Please select a language</option>
                                        
                                    </select>
                                        
                                    
                                </div>    
                                <div class="group inputfrom"> 
                                        <label>Item Type</label>
                                    <select ng-model="taxonomy_item_type_id" name="taxonomy_item_type_id" class="form-control" ng-options="item.title for item in item_type track by item.id ">
                                        <option value="">Please select item type</option>
                                    </select>
                                        
                                    
                                </div>
                                <div class="group inputfrom"> 
                                        <label>License Uri</label>
                                    <input ng-model="taxonomy_license_uri" name="taxonomy_license_uri" type="url" class="form-control" placeholder="License Uri" >
                                    <span class="text-danger center-block ng-binding" ng-show="formError['taxonomy_license_uri']">{{formError['taxonomy_license_uri']}}</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="modal-footer">            
                                <button type="button" class="btn btn-default" ng-click="deleteTaxonomy(taxonomy_id)">DELETE</button>
                                <button type="button" ng-show="showAdd" class="btn btn-primary" ng-click="openTaxonomyAddForm('', child.id,child.cf_entity_type);add(createitem)">SAVE</button>
                                <button type="button" ng-show="showEdit" class="btn btn-primary" ng-click="edit(updateitem)">SAVE</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-6 right-form-div" ng-show="taxonomyRootEditForm">
                    <div class="popup-boxes">
                        <form role="form" name="cfdocform" novalidate enctype="multipart/form-data">
                                <div class="sub-title col-md-12 taxonomyTitle">
                                   <span class="modalFormText"><strong> {{modalFormTile}}</strong></span>
                                   <div class="taxonomySave">
                                        <button type="button" class="btn btn-default" ng-click="deleteTaxonomy(createcfdocform.cfdoc_id)">DELETE</button>
                                        <button type="button" class="btn btn-primary" ng-click="editTaxonomyDoc(cfdocform)">SAVE</button>
                                   </div>
                                </div>
                                <div class="inner-modal-content tab-contents col-md-12">
                                        <div class="row group inputfrom" ng-show="errorMessage">
                                                <span class="text-danger center-block ng-binding">{{errorMessage}}</span>
                                            </div>
                                            <div class="row">
                                        
                                                <div class="group inputfrom col-sm-12">
                                                    <label for="cfdoc_title">Title <span class="required">*</span></label>
                                                    <input ng-model="createcfdocform.cfdoc_title" name="cfdoc_title" type="text" class="form-control" id="cfdoc_title" placeholder="Title" required>
                                                    <span class="text-danger center-block ng-binding" ng-show="submitted && error.cfdoc_title">{{error.cfdoc_title}}</span>
                                                </div>
                                        
                                                <div class="group inputfrom col-sm-12">
                                                    <label for="cfdoc_creator">Creator <span class="required">*</span></label>
                                                    <input ng-model="createcfdocform.cfdoc_creator" name="cfdoc_creator" type="text" class="form-control" id="cfdoc_creator" placeholder="Creator" required>
                                                    <span class="text-danger center-block ng-binding" ng-show="submitted && error.cfdoc_creator">{{error.cfdoc_creator}}</span>
                                                </div>          
                                        
                                                <div class="group inputfrom col-sm-12">
                                                    <label for="cfdoc_organization_id">Organization ID</label>
                                                    <select ng-model="createcfdocform.cfdoc_organization_id" name="cfdoc_organization_id" ng-options="org.name for org in organization track by org.id " id="cfdoc_organization_id" class="form-control">
                                                        <option value="">Select Organization ID</option>
                                                    </select>
                                        
                                                </div>
                                        
                                                <div class="group inputfrom col-sm-12">
                                                    <label for="cfdoc_official_source_url">Official Source URL </label>
                                                    <input ng-model="createcfdocform.cfdoc_official_source_url" name="cfdoc_official_source_url" type="url" class="form-control" id="cfdoc_official_source_url" placeholder="Official Source Url">
                                                    <span class="text-danger center-block ng-binding" ng-show="error.cfdoc_official_source_url">{{error.cfdoc_official_source_url}}</span>
                                                </div>
                                        
                                                <div class="group inputfrom col-sm-12">
                                                    <label for="cfdoc_publisher_id">Publisher ID</label>
                                                    <select ng-model="createcfdocform.cfdoc_publisher_id" name="cfdoc_publisher_id" ng-options="pub.name for pub in publisher track by pub.id " id="cfdoc_publisher_id" class="form-control">
                                                        <option value="">Select Publisher ID</option>
                                                    </select>
                                                </div>
                                                    
                                                <div class="group inputfrom col-sm-12">
                                                    <label for="cfdoc_url_name">Url Name </label>
                                                    <input ng-model="createcfdocform.cfdoc_url_name" name="cfdoc_url_name" type="text" class="form-control" id="cfdoc_url_name" placeholder="Url Name">
                                                    
                                                </div>
                                            </div>
                                        
                                            <div class="row">
                                                <div class="group inputfrom col-sm-12">
                                                    <label for="cfdoc_version">Version</label>
                                                    <input ng-model="createcfdocform.cfdoc_version" name="cfdoc_version" type="text" class="form-control" id="cfdoc_version" placeholder="Version">
                                                    
                                                </div>
                                        
                                                <div class="group inputfrom col-sm-12">
                                                    <label for="cfdoc_description">Description</label>
                                                    <textarea ng-model="createcfdocform.cfdoc_description" name="cfdoc_description" type="text" class="form-control" id="cfdoc_description" placeholder="Description"></textarea>
                                                </div>

                                                <div class="group inputfrom col-sm-12">
                                                    <label for="cfdoc_note">Notes</label>
                                                    <textarea ng-model="createcfdocform.cfdoc_note" name="cfdoc_note" type="text" class="form-control" id="cfdoc_note" placeholder="Notes"></textarea>
                                                    
                                                </div>
                                        
                                                <div class="group inputfrom col-sm-12">
                                                    <label for="cfdoc_language_id">Language ID</label>
                                                    <select ng-model="createcfdocform.cfdoc_language_id" name="cfdoc_language_id" ng-options="ln.short_code for ln in language track by ln.id " id="cfdoc_language_id" class="form-control">
                                                        <option value="">Select Language ID</option>
                                                    </select>
                                                    
                                                </div>
                                        
                                                <div class="group inputfrom col-sm-12">
                                                    <label for="cfdoc_adoption_status">Adoption Status</label>
                                                    <select ng-model="createcfdocform.cfdoc_adoption_status" name="cfdoc_adoption_status" ng-options="ads.value for ads in adoption_status track by ads.id " id="cfdoc_adoption_status" class="form-control">
                                                        <option value="">Select Adoption Status</option>
                                                    </select>
                                                </div>
                                        
                                                <div class="group inputfrom col-sm-12">
                                                    <label for="cfdoc_status_start_date">Start Date</label>
                                                    <input ng-model="createcfdocform.cfdoc_status_start_date" name="cfdoc_status_start_date" data-date-format="MM-dd-yyyy" type="text" class="form-control" id="cfdoc_status_start_date" bs-datepicker placeholder="Status Start Date">
                                                    
                                                </div>
                                        
                                                <div class="group inputfrom col-sm-12">
                                                    <label for="cfdoc_status_end_date">End Date</label>
                                                    <input ng-model="createcfdocform.cfdoc_status_end_date" name="cfdoc_status_end_date" data-date-format="MM-dd-yyyy" type="text" class="form-control" id="cfdoc_status_end_date" bs-datepicker placeholder="Status End Date">
                                                    
                                                </div>
                                            </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">            
                                    <button type="button" class="btn btn-default" ng-click="deleteTaxonomy(createcfdocform.cfdoc_id)">DELETE</button>
                                    <button type="button" class="btn btn-primary" ng-click="editTaxonomyDoc(cfdocform)">SAVE</button>
                                </div>
                        
                        </form>
                    </div>
                </div>
        </main>
        <!--Main section ends-->
             <script>
                 $('.expand_taxonomy').on('click',function(){
                      $('.selected_taxonomy').fadeOut('fast');
                     $('.associations .taxonomy_tree_node').fadeIn('slow');
                 });
                  $('.close_taxonomy').on('click',function(){
                      $('.associations .taxonomy_tree_node').fadeOut('fast');
                      $('.selected_taxonomy').fadeIn('slow');
                 });
             </script>
