<div class="popup-boxes">
        <form role="form" name="cfdocform" novalidate enctype="multipart/form-data">
            <div class="modal-header header-m">
                    {{modalFormTile}}
                    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="sub-title">{{modalFormText}}</div>
                <div class="inner-modal-content tab-contents">
                        <div class="row group inputfrom" ng-show="errorMessage">
                                <span class="text-danger center-block ng-binding">{{errorMessage}}</span>
                            </div>
                            <div class="row">
                        
                                <div class="group inputfrom col-sm-6">
                                    <label for="cfdoc_title">Title <span class="required">*</span></label>
                                    <input ng-model="createcfdocform.cfdoc_title" name="cfdoc_title" type="text" class="form-control" id="cfdoc_title" placeholder="Title" required>
                                    <span class="text-danger center-block ng-binding" ng-show="submitted && error.cfdoc_title">{{error.cfdoc_title}}</span>
                                </div>
                        
                                <div class="group inputfrom col-sm-6">
                                    <label for="cfdoc_creator">Creator <span class="required">*</span></label>
                                    <input ng-model="createcfdocform.cfdoc_creator" name="cfdoc_creator" type="text" class="form-control" id="cfdoc_creator" placeholder="Creator" required>
                                    <span class="text-danger center-block ng-binding" ng-show="submitted && error.cfdoc_creator">{{error.cfdoc_creator}}</span>
                                </div>          
                        
                                <div class="group inputfrom col-sm-6">
                                    <label for="cfdoc_organization_id">Organization ID</label>
                                    <select ng-model="createcfdocform.cfdoc_organization_id" name="cfdoc_organization_id" ng-options="org.name for org in organization track by org.id " id="cfdoc_organization_id" class="form-control">
                                        <option value="">Select Organization ID</option>
                                    </select>
                        
                                </div>
                        
                                <div class="group inputfrom col-sm-6">
                                    <label for="cfdoc_official_source_url">Official Source URL </label>
                                    <input ng-model="createcfdocform.cfdoc_official_source_url" name="cfdoc_official_source_url" type="text" class="form-control" id="cfdoc_official_source_url" placeholder="Official Source Url">
                                    
                                </div>
                        
                                <div class="group inputfrom col-sm-6">
                                    <label for="cfdoc_publisher_id">Publisher ID</label>
                                    <select ng-model="createcfdocform.cfdoc_publisher_id" name="cfdoc_publisher_id" ng-options="pub.name for pub in publisher track by pub.id " id="cfdoc_publisher_id" class="form-control">
                                        <option value="">Select Publisher ID</option>
                                    </select>
                                </div>
                                   
                                <div class="group inputfrom col-sm-6">
                                    <label for="cfdoc_url_name">Url Name </label>
                                    <input ng-model="createcfdocform.cfdoc_url_name" name="cfdoc_url_name" type="text" class="form-control" id="cfdoc_url_name" placeholder="Url Name">
                                    
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="group inputfrom col-sm-6">
                                    <label for="cfdoc_version">Version</label>
                                    <input ng-model="createcfdocform.cfdoc_version" name="cfdoc_version" type="text" class="form-control" id="cfdoc_version" placeholder="Version">
                                    
                                </div>
                        
                                <div class="group inputfrom col-sm-6">
                                    <label for="cfdoc_description">Description</label>
                                    <textarea ng-model="createcfdocform.cfdoc_description" name="cfdoc_description" type="text" class="form-control" id="cfdoc_description" placeholder="Description"></textarea>
                                </div>
                        
                                <div class="group inputfrom col-sm-6">
                                    <label for="cfdoc_language_id">Language ID</label>
                                    <select ng-model="createcfdocform.cfdoc_language_id" name="cfdoc_language_id" ng-options="ln.short_code for ln in language track by ln.id " id="cfdoc_language_id" class="form-control">
                                        <option value="">Select Language ID</option>
                                    </select>
                                    
                                </div>
                        
                                <div class="group inputfrom col-sm-6">
                                    <label for="cfdoc_adoption_status">Adoption Status</label>
                                    <select ng-model="createcfdocform.cfdoc_adoption_status" name="cfdoc_adoption_status" ng-options="ads.value for ads in adoption_status track by ads.id " id="cfdoc_adoption_status" class="form-control">
                                        <option value="">Select Adoption Status</option>
                                    </select>
                                </div>
                        
                                <div class="group inputfrom col-sm-6">
                                    <label for="cfdoc_status_start_date">Start Date</label>
                                    <input ng-model="createcfdocform.cfdoc_status_start_date" name="cfdoc_status_start_date" data-date-format="MM-dd-yyyy" type="text" class="form-control" id="cfdoc_status_start_date" bs-datepicker placeholder="Status Start Date">
                                    
                                </div>
                        
                                <div class="group inputfrom col-sm-6">
                                    <label for="cfdoc_status_end_date">End Date</label>
                                    <input ng-model="createcfdocform.cfdoc_status_end_date" name="cfdoc_status_end_date" data-date-format="MM-dd-yyyy" type="text" class="form-control" id="cfdoc_status_end_date" bs-datepicker placeholder="Status End Date">
                                    
                                </div>
                            </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">            
                    <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
                    <button class="btn btn-primary" ng-click="editTaxonomyDoc(cfdocform)">CONFIRM</button>
                </div>
        
        </form>
    </div>