<style>
        .ajax-content{
            width:100%;
            height:100%;
            position:absolute;
            /*display:none;*/
        }
    </style>
    <!--<div class="ajax-content" flow-init="{target: 'api/v1/upload'}">-->    
    <div class="ajax-content" ng-cloak>
        <div class="main_container" ng-controller="createcfdocController">  
            <!--HEADER STARTS HERE-->
            <!-- <div ng-include src="'templates/header.html'" class="header-container"></div> -->
            <!--HEADER ENDS HERE-->
    
            <!--SECTION STARTS HERE-->
            <section class="wrapper">
                <div class="page-title">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);">Back</button> 
                        <button class="btn btn-primary" ng-click="savecfdoc(cfdocform);"  >{{buttontxt}}</button>
                        <button class="btn btn-primary" ng-click="redirect_to(taxonomy_id)" ng-if="button_managetaxonomy_txt"  >{{button_managetaxonomy_txt}}</button>
                    </div> 
                    <div class="pull-middle"> Taxonomy Setup </div>
                </div>
                
                <!--            <div class="container" style="height: {{actualHeight}}px;overflow: auto;" flow-drop flow-drop-enabled="isdropenabled">             -->
                <div class="container">
                    <div class="content">               
                            <div class="from-container-row">
                                    <div class="from-container-bx lm-create-p">
                                            <form role="form" name="cfdocform" novalidate enctype="multipart/form-data">
                                                <div class="row" ng-show="errorMessage">
                                                    <span class="text-danger center-block ng-binding">{{errorMessage}}</span>
                                                </div>
                                                <div class="row">
            
                                                    <div class="form-group col-sm-6">
                                                        <label for="cfdoc_title">Title <span class="required">*</span></label>
                                                        <input ng-model="createcfdocform.cfdoc_title" name="cfdoc_title" type="text" class="form-control" id="cfdoc_title" placeholder="Title" ng-focus="error.cfdoc_title=false" required>
                                                        <span class="text-danger center-block ng-binding" ng-show="submitted && error.cfdoc_title">{{error.cfdoc_title}}</span>
                                                    </div>
    
                                                    <div class="form-group col-sm-6">
                                                        <label for="cfdoc_creator">Creator <span class="required">*</span></label>
                                                        <input ng-model="createcfdocform.cfdoc_creator" name="cfdoc_creator" type="text" class="form-control" id="cfdoc_creator" placeholder="Creator" ng-focus="error.cfdoc_creator=false" required>
                                                        <span class="text-danger center-block ng-binding" ng-show="submitted && error.cfdoc_creator">{{error.cfdoc_creator}}</span>
                                                    </div>          
                            
                                                    <div class="form-group col-sm-6">
                                                        <label for="cfdoc_organization_id">Organization ID</label>
                                                        <select ng-model="createcfdocform.cfdoc_organization_id" name="cfdoc_organization_id" ng-options="org.name for org in organization track by org.id " id="cfdoc_organization_id" class="form-control">
                                                            <option value="">Select Organization ID</option>
                                                        </select>
    
                                                    </div>
    
                                                    <div class="form-group col-sm-6">
                                                        <!-- <label for="cfdoc_official_source_url">Official Source URL </label>
                                                        <input ng-model="createcfdocform.cfdoc_official_source_url" name="cfdoc_official_source_url" type="text" class="form-control" id="cfdoc_official_source_url" placeholder="Official Source Url">
                                                        <span class="text-danger center-block ng-binding" ng-show="error.cfdoc_official_source_url">{{error.cfdoc_official_source_url}}</span> -->
                                                        <label for="cfdoc_official_source_url">Official Source URL</label>
                                                                            <input ng-model="createcfdocform.cfdoc_official_source_url" name="cfdoc_official_source_url" type="url" class="form-control" id="cfdoc_official_source_url" ng-focus="error.cfdoc_official_source_url=false" placeholder="Official Source Url">
                                                                            <span class="text-danger center-block ng-binding" ng-show="error.cfdoc_official_source_url">{{error.cfdoc_official_source_url}}</span>
                                                    </div>
    
                                                    <div class="form-group col-sm-6">
                                                        <label for="cfdoc_publisher_id">Publisher ID</label>
                                                        <select ng-model="createcfdocform.cfdoc_publisher_id" name="cfdoc_publisher_id" ng-options="pub.name for pub in publisher track by pub.id " id="cfdoc_publisher_id" class="form-control">
                                                            <option value="">Select Publisher ID</option>
                                                        </select>
                                                    </div>
                                                       
                                                    <div class="form-group col-sm-6">
                                                        <label for="cfdoc_url_name">Url Name </label>
                                                        <input ng-model="createcfdocform.cfdoc_url_name" name="cfdoc_url_name" type="text" class="form-control" id="cfdoc_url_name" placeholder="Url Name">
                                                        
                                                    </div>
                                                </div>
            
                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="cfdoc_version">Version</label>
                                                        <input ng-model="createcfdocform.cfdoc_version" name="cfdoc_version" type="text" class="form-control" id="cfdoc_version" placeholder="Version">
                                                        
                                                    </div>
    
                                                    <div class="form-group col-sm-6">
                                                        <label for="cfdoc_description">Description</label>
                                                        <textarea ng-model="createcfdocform.cfdoc_description" name="cfdoc_description" type="text" class="form-control" id="cfdoc_description" placeholder="Description"></textarea>
                                                    </div>
    
                                                    <div class="form-group col-sm-6">
                                                        <label for="cfdoc_note">Notes</label>
                                                        <textarea ng-model="createcfdocform.cfdoc_note" name="cfdoc_note" type="text" class="form-control" id="cfdoc_note" placeholder="Notes"></textarea>
                                                        
                                                    </div>
    
                                                    <div class="form-group col-sm-6">
                                                        <label for="cfdoc_language_id">Language ID</label>
                                                        <select ng-model="createcfdocform.cfdoc_language_id" name="cfdoc_language_id" ng-options="ln.short_code for ln in language track by ln.id " id="cfdoc_language_id" class="form-control">
                                                            <option value="">Select Language ID</option>
                                                        </select>
                                                        
                                                    </div>
    
                                                    <div class="form-group col-sm-6">
                                                        <label for="cfdoc_adoption_status">Adoption Status</label>
                                                        <select ng-model="createcfdocform.cfdoc_adoption_status" name="cfdoc_adoption_status" ng-options="ads.value for ads in adoption_status track by ads.id " id="cfdoc_adoption_status" class="form-control">
                                                            <option value="">Select Adoption Status</option>
                                                        </select>
                                                    </div>
    
                                                    <div class="form-group col-sm-6">
                                                        <label for="cfdoc_status_start_date">Start Date</label>
                                                        <input ng-model="createcfdocform.cfdoc_status_start_date" name="cfdoc_status_start_date" data-date-format="MM-dd-yyyy" type="text" class="form-control" id="cfdoc_status_start_date" bs-datepicker placeholder="Status Start Date">
                                                    </div>
    
                                                    <div class="form-group col-sm-6">
                                                        <label for="cfdoc_status_end_date">End Date</label>
                                                        <input ng-model="createcfdocform.cfdoc_status_end_date" name="cfdoc_status_end_date" data-date-format="MM-dd-yyyy" type="text" class="form-control" id="cfdoc_status_end_date" bs-datepicker placeholder="Status End Date">
                                                    </div>                              
                                                </div>
                                                
            
                                                </div>
            
                                                <div class="clearfix"></div>
            
                                            </form>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <hr>
        
        
                                <div class="clearfix"></div>
                    </div>
    
                    <div class="clearfix"></div>
                </div>
    
                <!-- Asset Upload Popup starts-->
                <!--<div ng-include src="'templates/project/project_upload_popup.html'" ng-show="$flow.files.length" ></div>-->
                <!-- Asset Upload Popup ends-->
    
    
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
    
            <!--FOOTER STARTS HERE
            <div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
            <!--FOOTER ENDS HERE-->
        </div>
    </div>
    
    
    
    <style>
        .popupZone{
            border: 1px solid #000000; 
            padding: 10px 10px 0px 10px;  
            position: fixed; bottom:0px; 
            right: 0px; 
            max-height: 300px;
            min-width: 470px;
            overflow:scroll;
        }
    
        .progress-bar {
            float: left;
            width: 0;
            height: 100%;
            font-size: 12px;
            color: #fff;
            text-align: center;
            background-color: #428bca;
            -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
            box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
            -webkit-transition: width .6s ease;
            transition: width .6s ease;
            background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.15)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(0.75,rgba(255,255,255,0.15)),color-stop(0.75,transparent),to(transparent));
            background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
            background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
            background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
            background-size: 40px 40px;
        }
    </style>