
    <div class="popup-boxes">
        <form ng-cloak name="updateitem" class="acmt_form" novalidate>
            <div class="sub-title col-md-12 taxonomyTitle">
                <span class="modalFormText">
                    <strong> {{modalFormTile}}</strong>
                </span>
                <!-- <div class="taxonomySave">
                    <button type="button" class="btn btn-default" ng-click="deleteTaxonomy(taxonomy_id)">DELETE</button>
                    <button type="button" ng-show="showEdit" class="btn btn-primary" ng-click="edit(updateitem)">SAVE</button>
                </div> -->
                <div class="taxonomySave">
                    <button type="button" class="btn btn-default" ng-click="deleteTaxonomy(taxonomy_id)">DELETE</button>
                    <button type="button" ng-show="showAdd" class="btn btn-primary" ng-click="openTaxonomyAddForm('', child.id,child.cf_entity_type);add(createitem)">SAVE</button>
                    <button type="button" ng-show="showEdit" class="btn btn-primary" ng-click="edit(updateitem)">SAVE</button>
                </div>
            </div>
            <div class="inner-modal-content tab-contents taxonomyList col-md-12" style="padding: 0">
                <div class="group inputfrom" ng-show="formError['error']">
                    <span class="highlight text-danger">{{formError['error']}}</span>
                </div>
                <div class="group inputfrom">
                    <label>Full Statement
                        <span style="color:red">*</span>

                    </label>
                    <textarea ng-model="taxonomy_full_statement" name="taxonomy_full_statement" type="text" class="form-control" placeholder="Item Full Statement"
                        rows="2" style="resize: vertical;" required></textarea>
                    <span class="text-danger center-block ng-binding" ng-show="formError['taxonomy_full_statement']">{{formError['taxonomy_full_statement']}}</span>
                </div>
                <div class="group inputfrom">
                    <label>Human Coding Scheme
                        <span style="color:red">*</span>
                    </label>
                    <input ng-model="taxonomy_human_coding_scheme" name="taxonomy_human_coding_scheme" type="text" class="form-control" placeholder="Human Coding Scheme"
                        required>
                    <span class="text-danger center-block ng-binding" ng-show="formError['taxonomy_human_coding_scheme']">{{formError['taxonomy_human_coding_scheme']}}</span>
                </div>
                <div class="group inputfrom">
                    <label>List Enumeration</label>
                    <input ng-model="taxonomy_list_enumeration" name="taxonomy_list_enumeration" type="text" class="form-control" placeholder="List Enumeration">

                </div>
                <div class="group inputfrom">
                    <label>Abbreviated Statement</label>
                    <input ng-model="taxonomy_abbreviated_statement" name="taxonomy_abbreviated_statement" type="text" class="form-control" placeholder="Abbreviated Statement">

                </div>
                <div class="group inputfrom">
                    <label>Education Level</label>
                    <input ng-model="taxonomy_education_level" name="taxonomy_education_level" type="text" class="form-control" placeholder="Education Level">

                </div>
                <div class="group inputfrom">
                    <label>Note</label>
                    <textarea ng-model="taxonomy_note" name="taxonomy_note" type="text" class="form-control" placeholder="Note" rows="2" style="resize: vertical;"></textarea>

                </div>
                <div class="group inputfrom">
                    <label>Concept Keywords</label>
                    <textarea ng-model="taxonomy_concept_keywords" name="taxonomy_concept_keywords" type="text" class="form-control" placeholder="Concept Keywords"
                        rows="2" style="resize: vertical;"></textarea>

                </div>
                <div class="group inputfrom">
                    <label>Concept Uri</label>
                    <input ng-model="taxonomy_concept_uri" name="taxonomy_concept_uri" type="url" class="form-control" placeholder="Concept Uri"
                        ng-focus="formError['taxonomy_concept_uri']=false">
                    <span class="text-danger center-block ng-binding" ng-show="formError['taxonomy_concept_uri']">{{formError['taxonomy_concept_uri']}}</span>
                </div>
                <div class="group inputfrom">
                    <label>Language</label>
                    <select ng-model="taxonomy_language_id" name="taxonomy_language_id" class="form-control" ng-options="lang.name for lang in language track by lang.id ">
                        <option value="">Please select a language</option>

                    </select>


                </div>
                <div class="group inputfrom">
                    <label>Item Type</label>
                    <select ng-model="taxonomy_item_type_id" name="taxonomy_item_type_id" class="form-control" ng-options="item.title for item in item_type track by item.id ">
                        <option value="">Please select item type</option>
                    </select>


                </div>
                <div class="group inputfrom">
                    <label>License Uri</label>
                    <input ng-model="taxonomy_license_uri" name="taxonomy_license_uri" type="url" class="form-control" placeholder="License Uri"
                        ng-focus="formError['taxonomy_license_uri']=false">
                    <span class="text-danger center-block ng-binding" ng-show="formError['taxonomy_license_uri']">{{formError['taxonomy_license_uri']}}</span>
                </div>
                <div class="clearfix"></div>
                <div ng-include src="'templates/taxonomy/taxonomy_association.html'"></div>
            </div>
        </form>
    </div>
