<style>
        .ajax-content{
            width:100%;
            height:100%;
            position:absolute;
            /*display:none;*/
        }
        .paramPopup{
            margin-left: 20px;
        }
    </style>
    <div class="ajax-content" ng-controller="projectimport"  ng-cloak> 
    
        <div class="main_container" >
            <!--HEADER STARTS HERE-->
            <!-- <div ng-include src="'templates/header.html'" class="header-container"></div> -->
            <!--HEADER ENDS HERE-->
            <!--SECTION STARTS HERE-->
            <section class="wrapper">
                <div class="page-title">
                    {{project_name}}                
                    <div class="clearfix"></div>
                </div>
    
                <div class="container product-inner">
                    <div class="content"> 
                        <div class="from-container">
                            <div class="from-container-row">
                                <div class="toc-panel-container">
                                    <div class="toc-panel-left tc-cont">
                                        <div class="page-title">Set up taxonomy</div>
                                        <div class="bs-callout bs-callout-danger" ng-if="responseList">
                                            <div ng-bind-html="responseList | innerHtml"></div>
                                        </div>
                                        <div ng-show="projectdet.project_id" class="sub-title" ng-if="view_create_toc != 'TOC_CREATION_INPROGRESS'">{{_lang[project_type_id]['uplaod_project_1']}}</div>
                                        <div class="from-container-row">
    
                                            <div class="content"  >
                                                <div ng-if="view_create_taxonomy == 'CREATE_TAXONOMY'">  
                                                    <div class="from-container-bx" style="border: 0px;">                                    
                                                        <div class="package_Drop">
                                                            <div class="package_Drop_container">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading project-title" ng-controller="taxonomy"><button id="customProcess" class="btn btn-primary" ng-click="taxonomy_setup()">Start creating your CFDOC</button></div>
                                                                    <div class="" style="padding:15px;">
                                                                        <p class="orclass">OR</p>
                                                                        
                                                                        <div class="drop-box-container">
                                                                            <!-- <div class="drop-hints">
                                                                                drop a package here
                                                                                <span class="upload-img">
                                                                                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                                                                </span>
                                                                            </div> -->
                                                                            <input type="file" name="casefile" file-model = "casefile" style="margin-top: 40px; margin-left:115px;">
                                                                            <button class="btn btn-default" style="margin-top: 20px;" type="button" 
                                                                            ng-click="importfile(project_id, casefile);" ng-disabled="upload_disable">Upload CASE JSON FILE</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
    
                                                <div class="content" ng-if="view_create_toc == 'TOC_CREATION_INPROGRESS'">
                                                    <div class="from-container-bx">                                
                                                        <div class="row">
                                                            <div style="margin-left:20px;">
                                                                TOC creation is in progress. <a href="#/dashboard">Back to Dashboard</a>
                                                            </div>
                                                        </div>
                                                    </div>  
                                                    <div class="clearfix"></div>
                                                </div>
    
                                                <div class="content" ng-if="view_create_toc == 'PACKAGE_IMPORT_SUCCESS'">
                                                    <div class="from-container-bx">                                
                                                        <div class="row">
                                                            <div style="margin-left:20px;">
                                                                Package has been uploaded successfully. Once completion of project you will be notified.<a href="#/dashboard">Back to Dashboard</a>
                                                            </div>
                                                        </div>
                                                    </div>  
                                                    <div class="clearfix"></div>
                                                </div>
    
                                            </div>
    
                                            <div class="content" ng-if="view_create_toc == 'PERMISSION_DENIED'">
                                                <div class="from-container-bx">                                
                                                    <div class="row">
                                                        <div style="margin-left:20px;">
                                                            Permission denied. <a href="#/dashboard">Back to Dashboard</a>
                                                        </div>
                                                    </div>
                                                </div>  
                                                <div class="clearfix"></div>
                                            </div>
    
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
    
                    <div class="clearfix"></div>
                </div>
    
                <!-- Asset Upload Popup starts-->
                <!-- <div ng-include src="'templates/project/project_upload_popup.html'" ng-show="$flow.files.length"></div> -->
                <!-- Asset Upload Popup ends-->
    
    
    
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
    
            <!--FOOTER STARTS HERE-->
            <div ng-include src="'templates/footer.html'" class="footer-container"></div>
            <!--FOOTER ENDS HERE-->
    
        </div>
    </div>
    
    
    
    <style>
        .popupZone{
            border: 1px solid #000000; 
            padding: 10px 10px 0px 10px;  
            position: fixed; bottom:0px; 
            right: 0px; 
            max-height: 300px;
            min-width: 470px;
            overflow:scroll;
        }
    
        /* .progress-bar {
             float: left;
             width: 0;
             height: 100%;
             font-size: 12px;
             color: #fff;
             text-align: center;
             background-color: #428bca;
             -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
             box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
             -webkit-transition: width .6s ease;
             transition: width .6s ease;
             background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.15)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(0.75,rgba(255,255,255,0.15)),color-stop(0.75,transparent),to(transparent));
             background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
             background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
             background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
             background-size: 40px 40px;
         }*/
    </style>