<span ng-controller="taxonomy">
        <div class="form-group">
                <label for="type">Metadata Attributes:</label>
                <span class="metadata_add">
                    <i class="fa fa-plus-square-o fa-lg"></i>
                </span>
                <div class="col-md-12 metadata padding_zero">
                    <div class="col-md-12 metadata_attr padding_zero">
                        <div class="col-md-5 metadata-field padding_zero">
                            <select class="form-control" required>
                                <option value="">Content Complexity</option>
                            </select>
                        </div>
                        <div class="col-md-7 metadata-value">
                            <input type="text" class="form-control" placeholder="add value" />
                        </div>
                    </div>
                    <div class="col-md-12 metadata_attr padding_zero">
                        <div class="col-md-5 metadata-field padding_zero">
                            <select class="form-control" required>
                                <option value="">Date Adopted/Revised</option>
                            </select>
                        </div>
                        <div class="col-md-7 metadata-value">
                            <input type="text" class="form-control" placeholder="add value" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group associations">
                <label for="type">Associations:</label>
                <span class="associations_add">
                    <i class="fa fa-plus-square-o fa-lg"></i>
                </span>
                <div class="col-md-12 metadata_attr padding_zero">
                    <div class="col-md-5 metadata-field">
                        <select class="form-control" required>
                            <option ng-repeat="as in listAssociation">{{as.display_name}}</option>
                        </select>
                    </div>
                    <span ng-controller="createproject">
<div class="col-md-7 metadata-value">
<select ng-change="onTaxonomySelected($event)" ng-model="selectedDraftTaxonomy" name="selectedDraftTaxonomy" ng-options="df.title for df in draftTaxonomy track by df.id "
class="form-control" required>
<option value="">Taxonomy Name</option>
</select>
</div>
<div>

<div class="form-group">
<div class="form-group taxonomy_section">
<div ng-click="toggleShowMenuClass()"></div>
<div class="col-md-12">

<!-- <div class="live" ng-show="taxonomy.children.length > 0 && user_permissions['taxonomy.show.all'].grant" >  -->
<div ng-show="taxonomy.children.length > 0">
<ol ui-nested-sortable="{
listType: 'ol',
items: 'li',    
doNotClear: true,
placeholder: 'ui-state-highlight',
forcePlaceholderSize: true,
toleranceElement: '> div'
}" ui-nested-sortable-stop="update($event, $ui)">
<li class="dontsortme" ya-tree="child in taxonomy.children at ol" ng-class="{
        minimized:child.minimized
    }" item="{{child}}">

<!-- <input type="text" value="{{child.order_id}}"/> -->

<div ng-class="tocRowHoverClass">
<div id="{{child.id}}" ng-mouseenter="tocRowHoverClass = 'tocRowHover'" ng-mouseleave="tocRowHoverClass = ''">
<!-- <div ng-if="user_permissions['taxonomy.active.inactive'].grant" class="ng-scope lirow-switch pull-right">                                                  
            <span class="switch-button-label build active" ng-class="{'active': child.status == 1000}">Inactive</span>
            <input id="taxonomy-{{child.id}}" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-click="changeStatus(child.id)" ng-checked="child.status == 1001">
            <label class="switch-button-background" for="taxonomy-{{child.id}}"> </label>
            <span class="switch-button-label test" ng-class="{'active': child.status == 1001}">Active</span>
        </div> -->
<!-- <div ng-if="!user_permissions['taxonomy.active.inactive'].grant"  class="lirow-switch pull-right">
            <span class="switch-button-label build active">{{(child.status==1000 ? 'Inactive' : 'Active')}}</span>
        </div> -->
<div>
<button type="button" class="toggle" ng-click="toggleMinimized(child)" ng-switch on="child.minimized" ng-if="child.children.length > 0">
<span ng-switch-when="true" title="Expand">
    <span class="glyphicon glyphicon-expand"></span>
</span>
<span ng-switch-default title="Collapse">
    <span class="glyphicon glyphicon-collapse-down"></span>
</span>
</button>
<button type="button" type="button" ng-if="child.children.length < 1"></button>
<!-- <span ng-click="openTaxonomyEditForm('', child.id,child.cf_entity_type, child.parent_id)">
<span ng-if="child.cf_entity_type == 'cf_doc'"></span>
<span ng-if="child.cf_entity_type == 'cf_item' && child.children.length > 0"></span>
<span ng-if="child.cf_entity_type == 'cf_item'  && child.children.length < 1"></span>
<span> -->
    <a ng-if="child.cf_entity_type == 'cf_doc'"><input type="checkbox">{{child.title}}</a>
</span>
<span>
    <a ng-if="child.cf_entity_type == 'cf_item'">
            <input type="checkbox"><strong>{{child.human_coding_scheme}}</strong>
        <span class="full_statement">{{child.full_statement}}</span>
    </a>
</span>
</span>
<!-- <span ng-show="child.usage_count > 0" style="cursor: pointer;" id="taxonomy_{{child.id}}" ng-click="openTaxonmonyUsageModal('lg', child.id)">(Usage: {{child.usage_count}})</span>
<span ng-show="child.usage_count == 0" id="taxonomy_{{child.id}}">(Usage: {{child.usage_count}})</span> -->
<span ng-if="child.cf_entity_type == 'cf_doc'"><input type="checkbox">{{child.title}}</span>
</span>
<span ng-if="child.cf_entity_type == 'cf_item'">
<strong>{{child.human_coding_scheme}}</strong>
<span>{{child.full_statement}}</span>
</span>
</div>
<span>
</span>
</div>
</div>

<ol ng-class="{
            pregnant:child.children.length
        }"></ol>
</li>
</ol>

</div>


</div>
<!--Tree View END-->

</div>
</div>
</span>
               <!-- <div class="taxonomy_wrapper col-md-12">
                                        <div class="selected_taxonomy" ng-show="taxonomy.children.length > 0">
                                            <span class="expand_taxonomy"><i class="fa fa-sort" aria-hidden="true"></i></span>
                                             <div>
                                                 <span>{{child.title}}</span>
                                             </div>
                                        </div>
                                         <div class="taxonomy_tree_node col-md-12">
                                            <span class="close_taxonomy"> <i class="fa fa-times" ></i></span>
                                            <div class="col-md-12 padding_zero">
                                                 <div>
                                                     <span><i class="fa fa-minus-square-o"></i></span>
                                                     <input type="checkbox"/>  
                                                     <span>{{child.title}}</span>
                                                 </div>
                                                 <ul class="taxonomy_child_name col-md-12">
                                                     <li><span><i class="fa fa-plus-square-o"></i></span>
                                                     <input type="checkbox"/>  <span>Level 1.1</span>
                                                     </li>
                                                 </ul>
                                            </div>
                                         </div>
                                     </div> -->
                                     

</form>
</div>
</div>

</div>
<!--/*//////stucture modified for all pages*/-->
</div>
</div>
</div>
</span>