<style>
  .collapsed{
    cursor: auto;
    text-decoration: none !important;
  }
  .has-error > .error_show{
    display: block !important;
    font-weight: 100;
    color: #a94442;
  }
  .has-error + .error_show{
    display: block !important;
    font-weight: 100;
    color: #a94442;
  }
  .chice-deletes{
    position: absolute;
    top: 0;
    margin-top: 0;
    width: 40px;
    height: 100%;
    right: 0;
    border-radius: 0 4px 0 0;
    color: #ff1e12 !important;
    background: #f6f6f6;
    margin: 0px;
    border-left: 1px solid #eee;
    box-shadow: none !important;
  }
  .text-wrap{
    white-space: pre-wrap;
  }
  .choice-well-section {
    padding-bottom: 15px !important;
}
</style>
<div class="panel-group mcss-wrapper" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="collapsed" data-parent="#accordion" data-target="#collapseOne">
          QUESTION DETAILS
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">


        <div class="form-group">
          <label for="question_title">Question Title</label>
          <input id="question_title"  name="question_title" type="textarea" class="form-control requires" maxlength="255"/>

          <label class="error_show" style="display:none">Please enter the Question Title</label>
          <label class="pull-right"><span id="chars">255</span> characters remaining</label>
        </div>
        <div class="form-group">
          <label for="question_stem">Question Stem</label>
          <textarea id="question_stem"  name="question_stem" type="textarea" class="form-control requires text-wrap ckeditor" rows="1"></textarea>
          <label class="error_show" style="display:none">Please enter the Question Stem</label>
        </div>
        <div class="form-group">
          <label for="instruction_text">Instruction Text</label>
          <textarea id="instruction_text"  name="instruction_text" type="textarea" class="form-control requires text-wrap ckeditor" rows="1"></textarea>
          <label class="error_show" style="display:none">Please enter the Question Instruction text</label>
        </div>
        <div class="form-group">
          <div class="col-md-3">
            <div class="radio">
              <label><input type="radio" name="media" ng-model="media.type" value="no-media"> Without Media</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="radio">
              <label><input type="radio" name="media" ng-model="media.type" value="media"> With Media</label>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" ng-show="ext_res_block">
          <div ng-hide="ext_res_title">
            <!--button class="btn btn-default btn-md" ng-click="addBrightCoveModal()" id="brightcove_button" ng-disabled="add_media_button">Add Brightcove Video</button>
            <span>- or -</span-->
            <button class="btn btn-default btn-md" ng-click="addAssestModal()" ng-disabled="add_media_button">Add Media from Assets</button>   
          </div>
          <dvi class="clearfix"></dvi>
          <div class="media col-md-3" ng-show='ext_res_title' style='border: 1px solid #ccc;padding: 5px;'>
            <div class="media-left">
              <a href="javascript:void(0);">
                <span ng-hide="ext_ico_block">
                  <img class="media-object" src="img/blank.jpg" alt="Image not Found" style="max-width: inherit !important;width:64px">
                </span>
                <span ng-show="ext_ico_block">
                  <img class="media-object" ng-src="{{ext_res_url}}" alt="Image not Found" style="max-width: inherit !important;width:64px">
                </span>

              </a>
            </div>
            <div class="media-body">
              <h5 class="media-heading"><span ng-bind-html="ext_res_title"></span></h5>
              {{ext_res_type}}
              <button type="button" class="btn chice-deletes" ng-click="deleteResource()">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="clearfix"></div>
          <input type="hidden" id="ext_res_title" ng-model="ext_res_title">
          <input type="hidden" id="ext_res_type" ng-model="ext_res_type">
          <input type="hidden" id="ext_res_url" ng-model="ext_res_url">
          <input type="hidden" id="ext_res_title_id" ng-model="ext_res_title_id">
          <input type="hidden" id="media_type" ng-model="media_type">
          <input type="hidden" id="ext_res_height" ng-model="ext_res_height">
          <input type="hidden" id="ext_res_width" ng-model="ext_res_width">

        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <label for="question_stem">Text With Blanks (Blank Identifier e.g. [[1]])</label>
            <input type="text" class="form-control requires ckeditor" ng-model="textwith_blanks" ng-blur="checkTextWithBlankFormat();" id='textwith_blanks'>
            <label class="error_show" style="display:none">Please enter text with Blanks.Blank  would be presented by [[i]] to represent i th blank(for eg, [[1]])</label>
            <div>
            <label class="textWithBlankError error_show" style="display:none"></label>
            </div>
        </div>
      </div>
    </div>
  </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
              <a class="collapsed" data-parent="#accordion" data-target="#collapseThree">
                BLANKS
              </a>
            </h4>
        </div>
         <div id="collapseFour" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="row choice-point-block">
                <div class="choice-point-ANSWER col-sm-12"><label>Correct Answer</label> <a class="btn btn-default btn-add-block" id="addAnswerChoice"><i class="fa fa-plus"></i> Add</a></div>
              </div>
                <!--correct answer module-->
                <div class="ui-sortable" id="choice_sortable">
                <div class="choiceContainer ui-state-default" id="choiceContainer_1">
                    <div class="well choice-well-section">
                    <div id="ansChoice_1" class="ansChoice_1 add-deletebutton active">
                        <div class="ansChoiceQtn_inner">
                            <div class="choice-outer-option">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <label for="noforeachblank1-noforeachblank">Blank Identifier e.g.[[1]]</label>
                                        <input type="text" id="noforeachblank1-noforeachblank" name="noforeachblank1-noforeachblank" value="[[1]]" class="form-control" placeholder="Click here to type" tabindex="201" disabled="">                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <label for="textforeachblank1-textforeachblank">Correct Answer</label>
                                        <input type="text" id="textforeachblank1-textforeachblank" name="textforeachblank1-textforeachblank" value="" class="form-control requires" placeholder="Click here to type" tabindex="202"><label class="error_show" id="correct_answer_error_1" style="display:none">Answer cannot be left empty</label>
                                    </div></div>
                            </div>
                            <div id="show_option_1" style="display:none">
                            <div class="choice-inner-option" id="choice-inner-option_1">
                                <div class="choice-cont-option" id="choice-cont-option_1">
                                    <div class="row">  
                                    <div class="col-md-6">
                                        <label for="individual_1_feedback-correct_feedback">Choice 1 Correct Feedback</label>
                                        <div class="form-control ckeditor" data-tooltip-code="global_authoring_choices_choice_1_correct_feedback_label" data-key="correct_feedback" id="individual_1_feedback-correct_feedback" name="individual_1_feedback-correct_feedback" savevalue="choices#val3" tabindex="203"></div>
                                    </div>
                                        <div class="col-md-6">
                                            <label for="individual_1_incorrect_feedback-incorrect_feedback">Choice 1 Incorrect Feedback</label>
                                            <div class="form-control ckeditor" data-tooltip-code="global_authoring_choices_choices_1_incorrect_feedback_label" data-key="incorrect_feedback" id="individual_1_incorrect_feedback-incorrect_feedback" name="individual_1_incorrect_feedback-incorrect_feedback" savevalue="choices#val3" tabindex="204">
                                            </div>                                    
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Distractor1">Distractor Answer for Blank (||| Separated)</label>
                                                <input type="text" id="Distractor1" name="Distractor1" value="" class="form-control requires" placeholder="Click here to type" tabindex="202"><label class="error_show" id="correct_distractor_error_1" style="display:none">Distractor cannot be left empty</label>
                                            </div>
                                        </div>    
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="individual_1_score" class="label-name-list">Choice 1 Score</label>
                                                <input id="individual_1_score" name="individual_1_score" type="text" class="form-control individual_score">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div></div></div></div>
                    <!--<button type="button" class="btn chice-drag">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>-->
                    <button type="button" class="btn chice-delete" onclick="fib.deleteChoice(1)" disabled="disabled">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>    
                </div>
                <div class="form-group choice-optionselect"><a class="" id="option_button_1" onclick="fib.toggleOption(1)"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> <span class="display-inline advance-option">Advanced Options</span></a></div>    
                </div>
                    <div class="clearfix"></div>
            </div>
                <!--corect answer module end-->
            </div>
    </div>
    </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="collapsed" data-parent="#accordion" data-target="#collapseThree">
          FEEDBACK
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <label>Global Correct Feedback</label>
            <textarea id="global_correct_feedback" class="form-control text-wrap ckeditor"></textarea>
          </div>
          <div class="col-sm-6">
            <label>Global Incorrect Feedback</label>
            <textarea id="global_incorrect_feedback" class="form-control text-wrap ckeditor"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="templates/assessment/fib-dropdown/js/getSetContent.js" ></script>