<div class="col-auto align-items-center d-flex p-0">
  <div class="col-3 p-0">
    <app-auto-complete [listingObj]="versionCriteriaList" (selectedObject)="onCriteriaSelected($event)"
      [selectType]="selectType" [uniqueId]="uniqueId" [propName]="propName" [defaultSelection]="defaultCriteria"
      [isLableShow]="false" [autoCompleteTitle]="autoCompleteTitle" [clearArray]="true" [showValidMsg]="false"
      [clrDisOnSelect]='true' #autoComplete>
    </app-auto-complete>
  </div>
  <div class="col-auto px-1">
    <button type="button" class="btn btn-clear tooltip right position-relative" data-tooltip="Export taxonomy"
      aria-label="Export taxonomy">
      <em class="fas fa-file-export"></em>
    </button>
  </div>
</div>

<app-tab *ngIf="selectedCriteria.type !== 'summary'" [tabItems]="tabItems" (tabSelectedEvent)="onTabSelected($event)"
  [currentTab]="currentTab" class="mt-4 d-block"></app-tab>

<app-version-summary #summaryReport *ngIf="selectedCriteria.type === 'summary'" [rawData]="rawVersionData">
</app-version-summary>

<app-metadata-version *ngIf="selectedCriteria.type === 'metadata'"></app-metadata-version>

<app-nodetype-version *ngIf="selectedCriteria.type === 'nodetype'"></app-nodetype-version>

<app-association-version *ngIf="selectedCriteria.type === 'association'"></app-association-version>
