<label for="associated-taxonomy" class="font-bold">Taxonomy *</label>
<select class="custom-select" id="associated-taxonomy" [ngModel]="selectedItem" (change)="onChanged($event)"
  formControlName="form_taxonomy" required>
  <option value="null" disabled="true" [selected]="true">Select Taxonomy</option>
  <option [ngValue]="item" *ngFor="let item of list">{{ item.title }}</option>

</select>
