@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.container{
    &-focused{   
        &:focus{
            outline: none;
        }
    }
    
    &__content{
        width: calc(100% - 180px);
    }
    &-animation{
        transition: all ease-in-out .3s; 
    }
}
.logo-sidebar-collapse{
    @include right(-30px);
}

// .help{
//     .tooltip {
//         &.bottom{
//             &:after{
//                 @include margin-indv('left', 0);
//                 @include left (-31%);
//                 width: auto;
//             }
//         }
//     }
// }
// .project-authoring-dropdown{
//     .tooltip {
//         &.right{
//             &:after{
//                 @include top (-3px);
//             }
//             &:before{
//                 @include top (3px);
//             }
//         }
//     }
// }