<app-toast-message [justAfterLogin]="justAfterLogin"></app-toast-message>
<div class="container-fluid px-0 custom-view" id="touchsurface" [ngClass]="customView?'p-0':''">
  <div class="row" [hidden]="projectAuthoringView">
    <app-nav-bar #navBarRef [currentItem]="selectedLeftMenu" (showNavEvent)="updateShowNav($event)"></app-nav-bar>
  </div>

  <div id="main_container" class="ml-sm-auto container-focused pr-0"
    [ngClass]="{'container__content':showNavBar && showNav,'col-12 pl-0':(!showNavBar || !showNav),'h-100':!isWorkflow, 'p-0':customView, '':!projectAuthoringView, 'pt-0': projectAuthoringView}">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center " [class.h-100]="!isWorkflow"
      [ngClass]="[showNav?'':'pt-0', (showPReviewHClass===true?'public_review':''), (showCViewHClass===true?'custom_view':'')]">
      <main class="container-fluid px-0 position-relative work-area" [ngClass]="customView?'pr-0':''">

        <section class="row mx-0 authoring-header justify-content-end"
          [ngClass]="[showNav?'':'expend-row', (showPGHClass===true?'pacing-guide-authoring-header bg-white':''), (customView?'m-0':''), (!projectAuthoringView?'pt-4':'')]">
          <div class="col left-panel"
            [ngClass]="[showNav?'project-authoring-bg':'', customView || removeBG?'bg-white':'', (showPGHClass===true?'bg-white':'')]"
            [class.search-wrapper]="searchText.length>2" [hidden]="searchTrigger">

            <div class="row align-items-center justify-content-start">
              <div class="col-md-1 col-xl-auto p-0 pl-2" *ngIf="showBack">
                <button type="button" (click)="onBack()" [attr.aria-label]="'Go Back'"
                  class="btn btn-icon d-flex align-item-center tooltip bottom sm bottom-left position-relative ml-1 pl-2"
                  id="backtoprojBtn" data-tooltip="Back">
                  <em class="icon-ico-collapse ic-flip align-text-top text-blue"></em>
                </button>
              </div>

              <div [ngClass]="showBack?'col-11 p-0':'col-12 pr-0'" class="d-flex align-items-center">
                <div class="col-1 p-0 logo" *ngIf="!showNavBar && !textLeft">
                  <img src="assets/images/logo.svg#logo" alt="ACMT Logo"
                    class="img-fluid position-relative logo-sidebar-collapse" />
                </div>

                <div class="col d-flex align-items-center justify-content-center"
                  [ngClass]="[(!textLeft ? 'text-center' : ''), (!profileCenter ? 'pl-0' : ((showNavBar && showNav) ? 'pl-4' : 'pr-6'))]">
                  <ng-container *ngIf="editTaxonomyTitle && title">
                    <h1 id="titleTagEdit" class="h2 mb-0 d-inline-block text-truncate title-locked"
                      [innerHtml]="titleHtml ? titleHtml : title">
                    </h1>
                    <button class="btn btn-icon edit d-inline-block ml-2 tooltip right font-1x" id="editTaxonomyBtn"
                      [attr.aria-label]="'Edit '" data-tooltip="Edit" *ngIf="!preventEdit ? editTaxonomyTitle : false"
                      data-toggle="modal" data-target="#editTaxonomy"><span class="sr-only">Opens in a new dialog</span>
                      <em class="fas fa-pen"></em>
                    </button>
                  </ng-container>
                  <span aria-live="assertive">
                    <span class="sr-only" id="titleTag">{{title}}</span>
                  </span>

                  <h1 class="h2 mb-0 w-100"
                    [ngClass]="{'pacing-guide-authoring-title position-relative': isAuthoringPage}"
                    *ngIf="!editTaxonomyTitle">
                    <span id="title_container" class="text-truncate d-inline-block title-locked"
                      [innerHtml]="titleHtml ? titleHtml : title">
                    </span>

                    <span class="dropdown project-authoring-dropdown position-relative"
                      *ngIf="showMoreOption && !preventEdit">
                      <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent"
                        class="btn btn-icon tooltip px-1 py-0 d-inline right" id="editTaxoBtn"
                        [attr.aria-label]="'Configure'" data-tooltip="Configure">
                        <em class="icon-icon-more-horiz icon-rotate-90">
                          <span class="sr-only sr-only-focusable">more option</span>
                        </em>
                      </button>

                      <span class="dropdown-menu dropdown-menu-right">
                        <button class="btn btn-clear dropdown-item" id="updtBtn" data-toggle="modal"
                          data-target="#reorderProject" (click)="onUpdateTaxonomyClick($event,'update')">Update Taxonomy
                        </button>
                        <button class="btn btn-clear dropdown-item" id="reorderBtn"
                          (click)="onUpdateTaxonomyClick($event,'reorder')">Reorder</button>
                      </span>
                    </span>
                    <button class="btn btn-clear edit d-inline-block position-relative tooltip right font-1x"
                      id="gotoeditpageBtn" data-tooltip="Edit" [attr.aria-label]="'Edit ' + title"
                      *ngIf="!preventEdit && showEditButton" (click)="goToEditPage()">
                      <em class="fas fa-pen"></em>
                    </button>
                  </h1>
                </div>
              </div>
            </div>
          </div>

          <app-search class="search col-11" *ngIf="searchTrigger" [enableAdvanceSearch]="enableAdvanceSearch"
            [searchPlaceholder]="searchPlaceholder" [showNav]="showNav && showNavBar"
            (setSearchTriggerEvent)="setSearchTrigger($event)">
          </app-search>

          <div class="right-panel" [class.col-1]="searchTrigger" [ngClass]="showBack?'col':'col-auto'">
            <div class="w-100 d-flex justify-content-end align-items-center text-right">
              <div class="col-auto p-0" *ngIf="title==='Projects' && canRquestProjectAccess">
                <button class="btn btn-primary btn-sm" id="requestAccessmodalBtn" data-toggle="modal"
                  data-target="#requestAccessModal">Request
                  Access
                </button>
              </div>
              <div class="col-auto p-0" *ngIf="showProjectProgress">
                <app-project-status #projectStatus [preventEdit]="preventEdit" [showProjectStatus]="inProgressProject"
                  [workFlowId]="workFlowId"></app-project-status>

              </div>

              <div class="col-auto p-0" [hidden]="!showSearch" *ngIf="!searchTrigger">
                <div class="col align-items-center search--node  clearfix" role="search">
                  <div class="search-icon p-0">
                    <button type="button" class="btn btn-icon px-1 tooltip bottom font-3x position-relative"
                      id="searchBtn" [attr.aria-label]="'Search '" data-tooltip="Search" (click)="searchTriggered();">
                      <em class="fas fa-search"></em>
                    </button>
                  </div>
                  <div class="search-field">
                    <input type="text" [(ngModel)]="searchText" name="search" autocomplete="off" placeholder="Search.."
                      id="searchtext" aria-label="Search" (keyup.enter)="onSearch()" (keyup)='updateSearchList()'
                      tabindex="-1">
                  </div>
                </div>
              </div>
              <div class="col-auto p-0" [hidden]="!showWorkflowStatus">
                <div class="dropdown float-right project--filter">
                  <span class="font-bold">Workflow Status:</span>
                  <div class="btn-group">
                    <button aria-expanded="false" aria-haspopup="true"
                      class="btn btn__filter btn-clear btn-sm dropdown-toggle font-bold" id="wrkfdropBtn"
                      data-toggle="dropdown" id="exportTaxonomy" type="button" name="exportTaxonomy"
                      [disabled]="preventEdit" aria-label="workflow status dropdown">
                      {{ selectedFilterOption }}
                    </button>

                    <div aria-labelledby="exportTaxonomy" class="dropdown-menu dropdown-menu-right">
                      <button aria-label="Export taxonomy as JSON" id="exptaxojsonBtn"
                        class="btn btn-clear btn-sm dropdown-item" (click)="filterData(obj)"
                        *ngFor="let obj of workFlowStages">{{obj.stage_name}}</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto p-0 help" [hidden]="!showHelp">
                <!-- <button class="btn btn-icon tooltip bottom sm font-4x p-0" [attr.aria-label]="'Help'"
                  data-tooltip="Help" role="link" id="helpBtn" (click)="onHelpClick()">
                </button><em class="fas fa-question" aria-hidden="true"></em> -->
                <a class="btn btn-icon tooltip bottom sm font-4x p-0" aria-label="'Help'" 
                data-tooltip="Help" id="helpBtn" target="_blank" [attr.href]="generateCustomLink()">
                <em class="fas fa-question"></em>
              </a>
              </div>
              <!-- Button for Review -->
              <div class="col-auto p-0" *ngIf="submitReview">
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#submitReviewModal"
                  id="submitreviewModalBtn" (click)="getCommentReport();">Submit Review<span class="sr-only">Opens in a new dialog</span>
                </button>
              </div>
            </div>
          </div>
        </section>

        <!-- end of project create section -->
        <router-outlet></router-outlet>
      </main>
      <!-- end of container-fluid -->
    </div>
    <!-- end of justify-content -->
  </div>
  <!------------------------------->

  <section *ngIf="showCSVStatus" class="csv_status_popup position-fixed border-bottom-0" id="myForm" role="dialog"
    aria-labelledby="csvTitle" aria-describedby="collapseCSV">
    <form class="form-container">

      <div class="d-flex w-100 py-1 justify-content-between align-item-center header">
        <div class="col-auto" id="headerTitle">
          <h2 class="font-3x header__title" id="csvTitle">Import Status</h2>
        </div>

        <div class="col-auto p-0">
          <button id="collapseToggle" type="button" class="btn btn-icon btn-sm btn-collapse position-relative p-3"
            data-toggle="collapse" data-target="#collapseCSV" aria-expanded="false" aria-controls="collapseCSV"
            tabindex="0">
          </button>

          <!-- <button id="btnMin" type="button" class="btn btn-icon btn-sm" (click)="minimize()" aria-label="minimize popup">
              <em class="fas fa-minus"></em>
            </button>

            <button id="btnMax" type="button" class="btn btn-icon btn-sm ml-1" (click)="maximize()" aria-label="maximize popup" style="display: none;">
              <em class="fas fa-expand-alt"></em>
            </button> -->

          <button id="btnClose" type="button" class="btn btn-icon btn-sm" (click)="close()" aria-label="close popup">
            <em class="fas fa-times"></em>
          </button>

        </div>
      </div>

      <app-status-popup-window></app-status-popup-window>
    </form>
  </section>


</div>
