@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.association-settings{
    .settings-item{
        @include border-indv('bottom', 1px, solid, $dark);
        @include padding(5px 0);
        @include bgcolor($lighter);
        &:last-child{
            @include border-none(none);
        }
    }
}