<p>nodetype-version works!</p>

<app-data-table #dataTable class="w-100" [columnList]="listOfColumn" [tableCategory]="'version'" [dataSet]="dataArray"
  [defaultSortBy]="defaultSortByColumn" [pagination]="pageDetail" (pageChangeEvent)="getChanges($event)">
</app-data-table>
