<!-- Search Filter End -->
<div class="row search-result-count mx-0" *ngIf="dataLoaded">
  <!--|| filterSelected-->
  <div class="col-12 mt-4">
    <p class="font-bold mb-0">{{getCount()}} {{getCount() > 1 ? 'Results' : 'Result'}} </p>
  </div>
</div>
<ng-container *ngIf="searchResult.length >0">
  <div class="d-flex search-result pl-3">

    <div class="col-5 panel-left">

      <ng-container *ngFor="let searchItem of searchResult; let i = index">

        <div *ngIf="searchItem['type'][0] !== 'project'" class="row align-items-center search-result-row" [class.active]="clicked === searchItem">
          <div class="col-9 pl-2">
            <h2 class="text-truncate">
              <button type="button" class="btn btn-clear" *ngIf="searchItem['type'][0] === 'document'" (click)="onTreeNodeSelected(searchItem);clicked = searchItem"
                id="{{ 'a-tag' + i }}">
                {{searchItem.taxonomy_name}}
              </button>
              <button type="button" class="btn btn-clear" *ngIf="searchItem['type'][0] === 'item'" (click)="onTreeNodeSelected(searchItem);clicked = searchItem"
                id="{{ 'a-tag' + i }}">
                <ng-container *ngIf="searchItem.human_coding_scheme">{{searchItem.human_coding_scheme + ' '}}
                </ng-container>
                <ng-container *ngIf="searchItem.full_statement">{{searchItem.full_statement}}</ng-container>
              </button>
            </h2>
          </div>

          <div class="col-3">
            <p class="mb-0 grade text-truncate">{{searchItem.node_type}}</p>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="col-7 panel-right project-authoring">
      <div class="node-detail mb-3" *ngIf="currentItem!==null">
        <div class="node-detail-row">
          <div class="col-12 node-view position-relative">
            <p class="label mb-0 font-bold">Taxonomy:</p>
            <p class="mb-0 text-truncate">{{currentItem['taxonomy_name'][0]}}</p>
            <button class="btn btn-default node-view-button position-absolute" (click)="navigate(currentItem)" *ngIf="!blankNodeType">
              <img src="assets/images/arrow.gif" alt="view node" class="img-fluid ic-search"></button>
          </div>
        </div>
      </div>
      <div class="project-authoring__taxonomyEdit">
        <app-item-details #itemDetailsComponent [isEditable]="false" [view]="view" [showNodeType]="true" [taxonomyData]="taxonomyData"
          [showAssociation]="showAssocciation" [treeTaxonomyData]="taxonomyData" [showAdditionalMetadata]="showAdditionalMetadata"
          [showExemplar]="showExemplar" [showDocument]="showDocument" [addedAdditionalMetadata]="itemAdditionalMetadata" [itemExemplars]="itemExemplars"
          [itemAssets]="itemAssets" [itemAssociations]="itemAssociations">
        </app-item-details>
      </div>
    </div>

  </div>
</ng-container>