<div class="project-authoring review-comment">


  <div class="container-fluid">

    <div class="row review-protip">
      <div class="col-12">
        <!-- start of pro tip  -->
        <app-protip *ngIf="showProtip" [type]="'public_review'" [protipBullet]="true"></app-protip>
        <!-- end of pro tip  -->
      </div>
    </div>

    <div class="project-authoring__taxonomyEdit public_review--view row">
      <section id="tree_container_id" class="col-5 project-authoring--tree public_review--node">
        <!--Taxonomy Tree START -->
        <div *ngIf="taxonomyData">
          <ng-container>
            <section id="accordion" class="col-12 tree--details tree--details__authoring pr-0">
              <!-- <div class="expand-all custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label font-bold" for="customCheck1">Expand All</label>
              </div> -->
              <section>

                <app-tree #tree [treeNodes]="taxonomyData.children" [viewLocation]="'public_review'"
                  [showComplaince]="false" [showNoComment]="showNoComment" [allCommented]="nodesCommented">
                </app-tree>
              </section>
            </section>
          </ng-container>
        </div>
        <!--Taxonomy Tree END -->
        <app-preloader *ngIf="!taxonomyData" [loaderText]="'Loading Data'" class="w-100 position-fixed preloader-backdrop right-0"></app-preloader>


      </section>

      <section id="right_container_id"
        class="col-5 pt-3 preview-panel overflowY-auto right-form-div project-authoring__taxonomyEdit--form public_review--preview position-fixed"
        *ngIf="taxonomyData">

        <app-item-details #itemDetailsComponent [isEditable]="isEditable" [view]="view" [showNodeType]="true"
          [taxonomyData]="taxonomyData" [showAssociation]="showAssocciation" [treeTaxonomyData]="taxonomyData"
          [showAdditionalMetadata]="showAdditionalMetadata" [showExemplar]="showExemplar" [showDocument]="showDocument"
          [addedAdditionalMetadata]="itemAdditionalMetadata" [itemExemplars]="itemExemplars" [itemAssets]="itemAssets"
          [itemAssociations]="itemAssociations" [itemLinkedNodes]="itemLinkedNodes" [canPreview]="true"
          [isAllNode]="true" [lastNode]="lastNode" [showNavigation]="showNavigation"
          (nextClickEvent)="onNextNavigationClick($event)" (previousClickEvent)="onPreviousNavigationClick($event)">
        </app-item-details>

      </section>

      <section id="comment_container_id" class="col p-0 h-100 public_review--comment position-fixed">
        <a href="javascript:void(0);" id="btnComment" (click)="openCommentSec()" aria-label="Click to add comment">

          <p class="text-center mt-2">
            <span class="notify-on" *ngIf="commentNotification && viewCommentList" role="alert" aria-live="polite"
              aria-atomic="true" aria-label="You have unread comment"></span>
            <em class="icon-ico-comment"></em>
            <img src="assets/images/comment_new.png" class="img-responsive" alt="Comment" />
            <span class="public_review--comment-text text-uppercase font-bold">Comments</span>
          </p>
        </a>
      </section>
    </div>
  </div>
  <!-- end of container-fluid -->

  <!--COMMENT OVERLAY STARTS-->
  <app-projects-notes [editComments]="editComments" [showReply]="editComments" [showDelete]="editComments"
    [showChangeStatus]="editComments" #projectNotesComponentId [selecteNodeType]="selectedNode['is_document']===1?2:1"
    [selectNodeItemID]="selectNodeItemID" [showNav]="showNav" (notificationEvent)="setCommentNotificationStatus($event)"
    (actionEvent)="onAction($event)"></app-projects-notes>
</div>

<!-- Review report Modal Starts -->
<app-modal [modalId]="'submitReviewModal'" [modalContentId]="'addRoleContent'" [showCloseAlert]="false"
  [showCancelBtn]="false" [modalSize]="'small'" (closeEvent)="closeSubmitModal()">
  <modal-div class="title-text">
    Submit Review
  </modal-div>

  <modal-div class="body-content">
    <!-- <div class="preloader" *ngIf="!commentsLoaded" style="top:100px;" role="progressbar" aria-busy="true" aria-label="Please wait Loading comments report.">
      <div class="lines">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </div>

      <div class="loading-text">
        <p class="mb-0">Loading User Comment Report</p>
      </div>
    </div> -->

    <app-preloader *ngIf="!commentsLoaded" [loaderText]="'Loading User Comment Report'" class="w-100 position-fixed preloader-backdrop"></app-preloader>


    <ng-container *ngIf="commentsLoaded">
      <div class="panel">
        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <p class="mb-0 font-bold">You have added review comments to {{comment_done_nodes}} out of
              {{comment_total_nodes}}
              nodes.
            </p>
          </div>
          <div class="col-6 panel-left">
            <app-compliance-progress [viewLocation]="'public_review'" [title]="'Review Completion'"
              [progressDone]="comment_done_nodes" [progressTotal]="comment_total_nodes"
              [progressPercentage]="review_completion_percentage" [progressColor]="'Y'"></app-compliance-progress>
          </div>
          <!-- </div> -->
        </div>
      </div>
      <ng-container *ngIf="(comment_done_nodes !== comment_total_nodes)">
        <h3 class="modal-title--secondary font-bold mt-4 pt-2">List of nodes that needs to be reviewed</h3>
        <div class="block__bordered">
          <ol class="mb-0 list__numbered">
            <li *ngFor="let node of list_pending_nodes">{{node.value}}</li>
          </ol>
        </div>
      </ng-container>
      <ng-container *ngIf="(comment_done_nodes === comment_total_nodes) && submitPublicReview">
        <div class="mt-4 pl-3">
          <p class="mb-0">Once you submit your review, you will not be able to make any changes to the added comments.
          </p>
          <p class="mb-0">Are you sure you want to submit?</p>
        </div>
      </ng-container>

    </ng-container>
  </modal-div>

  <modal-div class="footer-buttons">
    <button type="button" (click)="closeSubmitModal();" class="btn btn-primary btn-sm" data-dismiss="modal"
      *ngIf="(comment_done_nodes !== comment_total_nodes)">Close</button>

    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
      *ngIf="(comment_done_nodes === comment_total_nodes) && submitPublicReview && commentsLoaded"
      (click)="submitReviewComments();">Submit My Review Comments </button>
  </modal-div>
</app-modal>
<!-- Review report Modal Ends -->
