
@import "abstracts/variables";
@import "abstracts/mixins";

.public{
    &_review{
        &--view{
            @include border-indv('top', 1px, solid, $light);
            @include margin-indv('left', -45px);
            @include margin-indv('right', -45px);
        }

        &--node{
            flex: 0 0 50%;
            max-width: 50%;
        }

        &--comment{
            @include bgcolor($tertiary);
            @include right(0);
            flex: 0 0 3%;
            max-width: 3%;
            &-text{
                @include rotate(-90);
                @include display(block);
                @include margin(60px, auto, 0, auto);
                @include font-color($black);
                white-space: nowrap;
                height: 15px;
    
            }
        }

        .expend-row{
            @include box-shadow(0, 0, 16px, 0, rgba(0, 0, 0, .15));
            @include padding-indv('bottom', 4px);
            
            .left-panel{
                @include bgcolor($white);
            }
        }

        .preview{
            &-panel{
                @include right(41px);
                @include bgcolor($tertiary);
                @include border-indv('top', 1px, solid, $light);
                @include box-shadow(-5px, 6px, 16px, 0, rgba(0, 0, 0, .10));
                flex: 0 0 47%;
                max-width: 47%;
            }
        }

        .project{
            &-authoring{
                &--tree{
                    @include bgcolor($white);

                    .tree{
                        &--details{
                            .activated{
                                @include bgcolor($tertiary);
                            }
                        }
                    }
                }

                .card{
                    @include bgcolor($white);
                }
            }
        }

        .card-header{
            &.activated{
                .node-text{
                    a{
                        @include font-color($primary);
                    }
                }
            }
        }

        .accordion{
            @include box-shadow(0, 2px, 12px, 0, rgba(0, 0, 0, 0.1));
        } 
    }
}
