@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.page{
    &-link{
        @include font-color($primary);
        &:hover,
        &:focus{
            @include bgcolor($tertiary);
        }
    }
    &-item{
        @include font-color($secondary);

        &.active{
            .page{
                &-link{
                    @include bgcolor($primary);
                    border-color: $primary;
                }
            }
        }

        &.disabled{
            .page{
                &-link{
                    @include font-color($darkest);
                    @include bgcolor($tertiary);
                }
            }
        }
    }
}
.pagination{
    .itemNumber-option{
        width: auto;
    }
}
