<div class="btn-group">
  <button class="btn btn__filter btn-clear btn-sm dropdown-toggle font-bold p-0" type="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false" id="filterByBtn" aria-labelledby="filterBy">
    <span class="sr-only sr-only-focusable" id="filterBy">{{labelFor +', '+ selectedFilterOption }}</span>
    {{ selectedFilterOption }}
  </button>

  <div class="dropdown-menu dropdown-menu-right px-2">
    <p *ngIf="filterOptions.length < 1" class="dropdown-item mb-0">No option available</p>
    <button *ngFor="let opt of filterOptions;let $index=index" class="btn btn-clear font-2x dropdown-item" (click)="filterData(opt.name,opt.value)"
      id="{{'filter_'+$index}}" [attr.aria-label]="opt.name+' option'">{{opt.name}}</button>
  </div>
</div>
