@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.taxonomy{
    &-container{
      @extend .preview-box;
      height: 265px;
      &.blank{
        @extend %no-box-shadow;
        @include bgcolor($lighter);
        @include border-none(none);
        @include position(relative);
        .blank{
          &-content{
            @include text-align(center);
            @include padding-indv('top', 50px);
          }
        }
      }
    }
    &-selection{
      &-list{
        @include margin-indv('left', 50px);
        @include bgcolor($lighter);
        @include border-all(1px, solid, $light);

        @include media( "screen", "<maxLarge"){
            @include margin-indv("left", -10px);
        }

        h3{
          @include font-size(20);
          @include padding(10px);
          @include bgcolor($white);
          @include box-shadow-all;
        }

        &-item{
          @include padding(10px);
          @include border-indv('bottom', 1px, solid, $dark);

          &.last-item{
            @include border-none(none);
          }
        }
      }
      &-empty{
        @include text-align(center);
        @include padding-all(60px, 10px, 10px, 10px);
      }
    }
}

.preloader{
  &-backdrop{
      @include left(0);
      @include top(0);
      @include z-index(999);
      background-color: transparentize($color: $lighter, $amount: .3);
  }
}
