<!-- pacing guide -->
<app-modal [modalId]="'createPacingGuide'" [modalContentId]="'createNewPacingGuideContent'"
  [showCloseAlert]="(currentStep===1 && pacingGuideForm.dirty) || (currentStep===2 && actionMode===createMode && selectedTaxonomy)"
  [showDoneBtn]="currentStep===2" [modalSize]="'big'" (closeEvent)="onCancelClick()">
  <modal-div class="title-text" id="pacingguidetitle">
    <ng-container *ngIf="actionMode===createMode">{{actionMode | titlecase}} {{ renamePacingGuide ? 'New Unit Planner' :
      'New Pacing Guide' }}</ng-container>
    <ng-container *ngIf="actionMode===editMode">{{actionMode | titlecase}} {{ renamePacingGuide ? 'Unit Planner' : 'Pacing
      Guide' }}
    </ng-container>
  </modal-div>

  <modal-div class="body-content">
    <section class="row justify-content-center pt-4" id="pgModalContent">
      <div class="col-md-11 col-lg-10 col-xl-8">
        <!-- Step 1 start -->
        <ng-container *ngIf="currentStep===1">
          <form action="" id="" name="" [formGroup]="pacingGuideForm">
            <div class="modal-subheading">
              <div class="row align-items-center mb-4" id="createNewPacingGuideContent">
                <div class="col-10">
                  <p class="mb-0">Fill in the details below to {{actionMode}} your {{ renamePacingGuide ? 'unit planner'
                    : 'pacing guide' }}</p>
                </div>
                <div class="col-2 font-bold text-right modal-steps">
                  <p class="mb-0 text-uppercase">Step 1 of 2</p>
                </div>
              </div>
            </div>
            <div  class="mt-3">
              <p>Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are required.</p>
            </div>

            <div class="form-group">
              <label for="pacingGuideName" class="font-bold" id="pacingGuideNameLabel">{{ renamePacingGuide ? 'Unit Planner
                Name' : 'Pacing Guide Name'}}
                <span class="mandatory" aria-hidden="true">*</span>
              </label>
              <input type="text" class="form-control font-bold" id="pacingGuideName"
                [formControl]="pacingGuideForm.controls['pacingGuideName']" [(ngModel)]="pacingGuideName"
                name="pacingGuideName" aria-labelledby="pacingGuideNameLabel pacingGuideNameHelp" required>
              <p id="pacingGuideNameHelp" class="form-text text-muted text-right">Give a name that your team can easily
                understand.</p>
            </div>

            <div class="form-group">
              <label for="pacingGuideDescription" class="font-bold" id="pacingGuideDescriptionLabel">Description</label>
              <textarea class="form-control font-bold" id="pacingGuideDescription"
                [formControl]="pacingGuideForm.controls['description']" [(ngModel)]="description"
                name="pacingGuideDescription" rows="3"
                aria-labelledby="pacingGuideDescriptionLabel pacingGuideDescriptionHelp"></textarea>
              <p id="pacingGuideDescriptionHelp" class="form-text text-muted text-right">A description that explains the
                pacing guide.</p>
            </div>

            <div class="form-group">
              <label *ngIf="actionMode===editMode" for="pacingGuideWorkflowTemplate"
                id="pacingGuideWorkflowTemplateLabel" class="font-bold">Workflow
              </label>

              <input type="text" *ngIf="actionMode===editMode" name="pacingGuideWorkflowTemplate"
                id="pacingGuideWorkflowTemplate" class="form-control font-bold" [ngModel]="selectedWorkflow?.name"
                formControlName="selectedWorkflow" [attr.disabled]='true'>

              <app-auto-complete *ngIf="actionMode===createMode" [listingObj]="workflowList"
                (selectedObject)="updateSelectedObject($event, 'workflow')" [selectType]="selectType"
                [uniqueId]="uniqueId" [propName]="'name'" (validationEvent)="checkValidation()"
                [autoCompleteTitle]="autoCompleteTitle" #autoComplete (clickOutside)="onClickedOutside($event)">
              </app-auto-complete>

              <p *ngIf="actionMode===createMode" id="pacingGuideWorkflowTemplateHelp"
                class="form-text text-muted text-right">Select
                a workflow that needs to be followed for this Pacing Guide.</p>

              <p class="mt-2 mb-0 text-right">
                <button class="btn btn-clear" data-toggle="modal" data-target="#viewWorkflowModal"
                  *ngIf="(selectedWorkflow && selectedWorkflow?.workflow_id)" (click)="onPreviewClick()"
                  class="font-bold text-underline">Preview Workflow<span class="sr-only">Opens in a new dialog</span></button>
              </p>
            </div>
          </form>
        </ng-container>
        <!-- Step 1 end -->

        <!-- Step 2 start -->
        <ng-container *ngIf="currentStep===2">
          <div class="modal-subheading" *ngIf="currentStep===2">
            <div class="row align-items-center mb-4" id="createNewPacingGuideContent">
              <div class="col-10">
                <p class="mb-0" *ngIf="actionMode===createMode">Select Taxonomy and sections within it that you want to
                  use
                  on the Pacing Guide</p>
              </div>
              <div class="col-2 font-bold text-right modal-steps">
                <p class="mb-0 text-uppercase">Step 2 of 2</p>
              </div>
            </div>
          </div>
          <div class="row h-100">
            <div class="col-12">
              <p>Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are required.
              </p>
            </div>
            <div class="col-8">
              <form>
                <div class="form-group">
                  <app-auto-complete *ngIf="actionMode===createMode" [listingObj]="taxonomyList"
                    (selectedObject)="updateSelectedObject($event, 'taxonomy')" [selectType]="selectType"
                    [uniqueId]="uniqueId_taxo" [propName]="'title'" (validationEvent)="checkValidation()"
                    [autoCompleteTitle]="autoCompleteTitle_taxo" [disableOption]="true" [clrDisOnSelect]="false"
                    #autoComplete_taxonomy (clickOutside)="onClickedOutsideTaxonomy($event)">
                  </app-auto-complete>

                  <label *ngIf="actionMode===editMode" for="pacingGuideTaxonomy" id="pacingGuideTaxonomyLabel"
                    class="font-bold">Taxonomy
                  </label>
                  <input type="text" *ngIf="actionMode===editMode" name="pacingGuideTaxonomy" id="pacingGuideTaxonomy"
                    class="form-control font-bold" [ngModel]="selectedTaxonomy?.title" [attr.disabled]='true'>
                  <p *ngIf="actionMode===createMode" id="pacingGuideTaxonomyHelp"
                    class="form-text text-muted text-right">Select
                    the Taxonomy that you'd use for building this Pacing Guide.</p>
                </div>
                <div class="form-group">
                  <label *ngIf="actionMode===createMode" class="font-bold" for="associatedTaxonomy"
                    id="associatedTaxonomyLabel">Select
                    the section(s) from the Taxonomy.
                    <span aria-hidden="true" class="mandatory">*</span>
                  </label>
                  <label *ngIf="actionMode===editMode" class="font-bold" for="associatedTaxonomy"
                    id="associatedTaxonomyLabel">Selected
                    node(s) from the Taxonomy.
                  </label>
                  <div class="taxonomy-container blank" id="associatedTaxonomy"
                    aria-labelledby="associatedTaxonomyLabel" aria-required="true">
                    <ng-container *ngIf="taxonomyLoader">
                      <app-preloader [loaderText]="'Loading Taxonomy..'" class="w-100 position-fixed preloader-backdrop"></app-preloader>
                    </ng-container>
                    <ng-container *ngIf="!taxonomyLoader">
                      <ng-container *ngIf="taxonomyData">
                        <app-tree-view [treedata]='taxonomyData'
                          (selectedNodesDetail)="onTaxonomyTreeNodeSelectedEvent($event)"></app-tree-view>
                      </ng-container>
                      <div class="blank-content" *ngIf="!taxonomyData && actionMode===createMode">
                        <img src="assets/images/alert.svg" class="img-fluid pb-1" alt="alert">
                        <p class="font-bold">Select Taxonomy name in order to see the Taxonomy</p>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="form-group text-right">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" id="addSelectedTaxonomyTreeNodeBtn"
                    (click)="addSelectedTaxonomyTreeNode($event)" [disabled]="disabledAddTaxonomyNodeBtn">{{
                    addSelectionTxt}}
                  </button>
                </div>
              </form>
            </div>
            <div class="col-4">
              <aside class="taxonomy-selection-list h-100">
                <h3 class="mb-0">Taxonomy Selection</h3>
                <ng-container *ngIf="addedTaxonomyList && addedTaxonomyList.length>0">
                  <div class="taxonomy-selection-list-item" *ngFor="let item of addedTaxonomyList; let i = index">
                    <div class="w-100 d-flex">
                      <div class="col-11 px-0">
                        <p class="mb-0 font-bold text-wrapped">
                          <a href="javascript:void(0);"
                            (click)="getAllNodes(item?.taxonomy,i)">{{item?.taxonomy?.title}}</a>
                        </p>
                      </div>
                      <div class="col-1 text-right px-0" *ngIf="actionMode!==editMode">
                        <button class="pt-1 btn btn-icon tooltip top lg position-relative d-inline-block" id="deleteAddedTaxonomyBtn" data-tooltip="Delete Taxonomy"
                        [attr.aria-label]="'Delete Taxonomy'" href="javascript:void(0);"
                          (click)="deleteAddedTaxonomy(item?.taxonomy?.document_id)"
                          [class.cursor-deny]="actionMode===editMode">
                          <em class="icon-ico-garbage"></em>
                      </button>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <div class="taxonomy-selection-empty" *ngIf="addedTaxonomyList && addedTaxonomyList.length<1">
                  <img src="assets/images/no-record.svg" class="img-fluid mb-4 pb-1" alt="no-record">
                  <p class="font-bold">You haven't made any Taxonomy selection yet.</p>
                  <p>Use the form on the left to select a Taxonomy, mark a selection an click on the "Add Selection"
                    button.</p>
                </div>
              </aside>
            </div>
          </div>
        </ng-container>
        <!-- Step 2 end -->
      </div>
      <!-- end of col-8 -->
    </section>
  </modal-div>



  <modal-div class="footer-buttons">
    <button type="button" class="btn btn-primary btn-lg" id="cntpacingguideBtn" data-dismiss="modal" (click)="onContinueClick($event)"
      [disabled]="checkFormValidation()===false" *ngIf="currentStep===1">Continue</button>
  </modal-div>
</app-modal>
<!-- pacing guide -->

<!-- Preview workflow modal start -->
<app-view-workflow-modal [workflowId]="selectedWorkflowId" (cancelEvent)="onCancelPreviewWorkflow()">
</app-view-workflow-modal>
<!-- Preview workflow modal end -->
