@mixin box-shadow-dropdown(){
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .10);
}

@mixin box-shadow-all(){
    box-shadow: 0 7px 25px 0 $light;
}

@mixin box-shadow-inset(){
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .10);
}

@mixin box-shadow-form-focus(){
    box-shadow: 0 0 0 3px rgba(0,110,255,.60), inset 0 1px 3px 0 rgba(0,0,0,.10);
}

@mixin box-shadow-success(){
    box-shadow: 0 0 20px 0 rgba(0,110,255,.30);
}

@mixin box-shadow-success-alert(){
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.20);
}

@mixin box-shadow-error-alert(){
    box-shadow: 0 5px 10px 0 rgba(181,18,58,.20);
}

%no-box-shadow{
    box-shadow: none;
}

@mixin box-shadow-card(){
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.1);
}

@mixin box-shadow($horz, $vert, $blur, $spread, $color, $inset: false) {
    @if $inset {
      box-shadow:inset $horz $vert $blur $spread $color;
    } @else {
      box-shadow: $horz $vert $blur $spread $color;
    }
}

@mixin box-shadow-primary-btn(){
    //box-shadow: 0 0 20px 0 rgba(0,110,255,.30);
    box-shadow: 1px 4px 5px -2px rgba(0,110,255,.40);
}
