<div class="row mx-0 align-items-center" role="tabpanel">
  <div class="mt-2 px-3 col-12" *ngIf="editPermission===true">
    <button class="btn btn-primary btn-sm" id="crtNdocumentBtn" data-toggle="modal" [disabled]="preventEdit" data-target="#createProject" (click)="editProjectPopUp()">Upload
      New Document<span class="sr-only">Opens in a new dialog</span></button>
  </div>

  <app-data-table #dataTable class="w-100" [showMenu]="true" [columnList]="listOfColumn" [dataSet]="documentList" [optionList]="optionList"
    (clickedOption)="onOptionClicked($event)" [isSearchNeeded]="false" [tableCategory]="'project document'"></app-data-table>

</div>

<app-create-project #createProject [currentMode]="projectMode" [disabledButton]="true" [currentStep]="2" [projectData]="selectedProject"
  (documentCreatedEvent)="onDocumentCreateEvent($event)" (closePopupEvent)="onPopupCloseEvent()"></app-create-project>