<div class="popup-boxes" ng-cloak>
    <form>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}}</div>
        <div class="inner-modal-content tab-contents">
            <div class="group inputfrom">
                <input ng-model="title" name="title" type="text" class="form-control" id="" placeholder="Name" autofocus="true">
                <span class="highlight text-danger">{{formError['title']}}</span>
                <span class="bar"></span> 
                <label>Name of Dataset</label>
                <div class="clearfix"></div>
            </div>    
          <div class="group inputfrom" ng-hide="true">
                <textarea ng-model="description" name="description" class="form-control" placeholder="Description" style="resize: none;"></textarea>
                <span class="highlight text-danger">{{formError['description']}}</span>
                <span class="bar"></span> 
                <label>Details</label>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">            
                <a class="btn btn-default" ng-click="cancel()">CANCEL</a>
                <a ng-hide="showedit" class="btn btn-primary" ng-click="addDataset()">CONFIRM</a>
                <a ng-show="showedit" class="btn btn-primary" ng-click="editDataset()">CONFIRM</a>
            </div>
        </div>
    </form>
</div>