<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
    .tooltips {
        position: relative;
        //display: inline-block;
        // border-bottom: 1px dotted black;  
    }

    /* Tooltip text */
    .tooltips .tooltiptext {
        visibility: hidden;
        width: 500px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 0px;
        word-wrap: break-word;
        /* Position the tooltip text */
        position: absolute;
        z-index: 100;
        bottom: 125%;
        left: 30%;
        margin-left: -60px;

        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 1s;
    }

    /* Tooltip arrow */
    .tooltips .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltips:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="datasetcontroller">  
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->
            <section class="wrapper">
                <div class="page-title">
                    <div class="pull-right">  
                        <back-to-dashboard ng-show="project.id" project="project"></back-to-dashboard>
                        <button type="button" class="btn btn-primary" ng-click="showAddForm('')" ng-show="project.project_permissions['dataset.create'].grant">Create New {{set_type}}</button>
                    </div>
                    <div class="pull-middle"> 
                        {{project_name}}
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">
                            <!--/*stucture modified for all pages*/-->
                            <div class="from-container-row" ng-show="project.project_permissions && !project.project_permissions['dataset.show.all'].grant && applyPermission">
                                <div class="pattern-list-container">
                                    <div class="alert alert-danger" role="alert"><center>Sorry! Access Prohibited!</center></div> 
                                </div>
                            </div>                            
                            <div class="from-container-row" ng-show="project.project_permissions['dataset.show.all'].grant && applyPermission" >
                                <div class="pattern-list-container">
                                    <div class="page-title">{{set_type | capitalize_first}} Management

                                        <div class="filter-area filter-button-area pull-right">                                            
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th width="45%">Title <span ng-show="currentOrderByField == 'title'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th>
                                                <th>Files</th>
                                                <th>Actions</th>                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <!--tr ng-repeat="pattern in patternList"-->
                                        <tr dir-paginate="dataset in datasetList | itemsPerPage: itemsPerPage" total-items="datasetTotal" current-page="currentPage" pagination-id="datasetListId" class="page-user-row">
                                            <td class="tooltips">
                                                <!--<a href="#/assessment_question/{{assessment.id}}/{{project_id}}">-->
                                                <span class="tooltiptext">{{dataset.title}}</span>
                                                <span class="pull-left">{{dataset.title| strLimit:70}}</span>
                                                <span class="pull-left">
                                                <div ng-if="dataset.licenseExpiredAsset" ng-click="openPopup();" style="cursor:pointer;padding-left: 5px;" title="license has expired"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red"></i></div>
                                                </span>
                                            </td>  
                                            <td>{{dataset.COUNT_RECORDS}}</td>
                                            <td>
                                                <a class="btn btn-default2" href="#/management/{{func_set_type}}/{{project.id}}/{{dataset.id}}/" ng-show="project.project_permissions['dataset.records.show.all'].grant">VIEW</a>
                                                <button type="button" class="btn btn-default2" ng-click="editDatasetEntry(dataset.id)" id="editDataset{{dataset.id}}" ng-disabled="" ng-show="project.project_permissions['dataset.update'].grant">Edit</button>
                                                <button type="button" class="btn btn-default2" ng-click="deleteDatasetEntry(dataset.id)" ng-show="project.project_permissions['dataset.delete'].grant">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <!-- Pagination Starts Here -->
                                                <dir-pagination-controls class="dir_pagination"
                                                                         boundary-links="true" 
                                                                         pagination-id="datasetListId" 
                                                                         on-page-change="pageChangeHandlerDataset(newPageNumber)" 
                                                                         template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                                                </dir-pagination-controls>
                                                <!-- Pagination Starts End -->
                                            </td>
                                        </tr>
                                        <tr ng-show="datasetTotal == 0">
                                            <td colspan="4">
                                                <div class="alert alert-danger" role="alert"><center>No Record Found!!!!</center></div>  
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <!--/*//////structure modified for all pages*/--> 
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
    </div>
    <div class="clearfix"></div>
</div>