<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
    .tooltips {
        position: relative;
        //display: inline-block;
        // border-bottom: 1px dotted black;  
    }

    /* Tooltip text */
    .tooltips .tooltiptext {
        visibility: hidden;
        width: 500px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 0px;
        word-wrap: break-word;
        /* Position the tooltip text */
        position: absolute;
        z-index: 100;
        bottom: 125%;
        left: 30%;
        margin-left: -60px;

        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 1s;
    }

    /* Tooltip arrow */
    .tooltips .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltips:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="DatasetViewInstanceController">  
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->
            <section class="wrapper">
                <div class="page-title">
                    <div class="pull-right">  
                        <back-to-dashboard ng-show="project.id" project="project"></back-to-dashboard>
                        <a class="btn btn-default" href="#/management/{{func_set_type}}/{{project.id}}" ><i class="fa fa-chevron-left"></i> Back to {{set_type}}</a>
                    </div>
                    <div class="pull-middle"> 
                        {{project_name}}
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="container product-inner">
                        <div class="content">
                            <div class="from-container-row" > 
                                <div class="from-container-row" ng-if="func_set_type == 'dataset'"> 
                                     <div ng-include src="'templates/dataset/datasetrecordform.html'" ></div>
                                </div> 
                                <div class="from-container-row" ng-if="func_set_type == 'multivideo'"> 
                                     <div ng-include src="'templates/dataset/multivideorecordform.html'" ></div>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
    </div>
    <div class="clearfix"></div>
</div>
