<style>
    td {
        padding-top:20px;
        padding-bottom:20px;
        padding-right:20px;   
    }

    td:first-child {
        padding-left:20px;
        padding-right:0;
    }

    .datashow{
        background-color: #fff;
        margin-left: 10px;
        border: 1px solid #d6d6d6;
        padding: 7px;
        /* border-radius: 3px; */
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .deleteButton{
        color: #ff5050 !important;
        background-color: #f7f7f7 !important;
        border-left: 0px !important;
    }
    .highlight{
        padding: 2px;
        position: absolute;
        padding-left: 12px;
    }
</style>
<div class="panel-group  col-md-8 col-md-offset-2" ng-controller="DatasetViewInstanceController">  
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-size:20px">Resource Records</span>
            <div class=" pull-right">
                <button type="button" class="btn btn-primary" ng-click="addNewRecordRow()" ng-disabled="addrecordbutton" ng-show="project.project_permissions['dataset.records.create'].grant">Add Record</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body update_profile_container page-user-body">
            <div ng-show="message" class="alert alert-dismissible" ng-class="{
            'alert - success': status == 200, 'alert - danger': status > 200, 'alert - info': status == 0}" role="alert">
                <button type="button" class="close" ng-click="message = ''" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{message}}
            </div>
            <!--Add Dataset-->

            <div class="clearfix"></div>
            <!--/*stucture modified for all pages*/-->
            <table class="pattern-list-table" width="100%" cellpadding="3" cellspacing="3">
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>Files</th>
                        <th>Actions</th>                                                
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="project.project_permissions && !project.project_permissions['dataset.records.show.all'].grant && applyPermission">
                        <td colspan="3">
                            <div class="alert alert-danger" role="alert"><center>Sorry! Access Prohibited!</center></div> 
                        </td>
                    </tr>    
                    <tr id="for_new_entry" style="display: none;" class="well" ng-show="project.project_permissions['dataset.records.show.all'].grant && applyPermission" >
                        <td>
                            <input ng-model="label" name="label" type="text" class="form-control" id="label_title" placeholder="Label .." ng-enter-prevent-default />
                            <span class="highlight text-danger">{{formError['label']}}</span>
                            <span class="bar"></span>
                            <div class="clearfix"></div>
                        </td>
                        <td align="center">   
                            <div ng-show="pickerShow">
                                <button class="btn btn-sm btn-default" ng-click="showUrlBox()">URL</button>
                                <span>- or -</span>
                                <button class="btn btn-sm btn-default" ng-click="showAssestModal()">ADD MEDIA FROM ASSETS</button>
                            </div>
                            <div ng-show="urlBox">
                                <div class="input-group">
                                    <input ng-model="ext_res_url" name="ext_res_url" type="text" class="form-control datashow" id="id_ext_res_url" placeholder="URL .." ng-enter-prevent-default />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default deleteButton" type="button" ng-click="deleteUrl()"><i class="fa fa-trash"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                            </div>
                            <div ng-show="pickedData">
                                <div class="input-group">
                                    <div class="datashow" id="id_ext_res_title">{{ext_res_title|strLimit:50}}</div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default deleteButton" type="button" ng-click="deleteUrl()"><i class="fa fa-trash"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                            </div>
                            <div class="clearfix"></div>
                            <span class="highlight text-danger" style="right: 26%;">{{formError['url']}}</span>
                        </td>
                        <td>
                            <button type="button" ng-click="savesRecordforDataset()" class="btn btn-primary"><i class="fa fa-check"></i></button>
                            <button type="button" ng-click="declineform()" class="btn btn-primary"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                    <tr dir-paginate="record in datasetRecordList | itemsPerPage: itemsPerPage" total-items="datasetRecordTotal" current-page="currentPage" pagination-id="datasetRecordListId" class="page-user-row" ng-show="project.project_permissions['dataset.records.show.all'].grant && applyPermission" >
                        <td width="35%">
                            <div id="display_container_label_{{record.id}}" class="container_title_label">
                                <b>{{itemsPerPage * (currentPage - 1) + $index + 1}}</b>. {{record.label| strLimit:30}}
                            </div>
                            <div id="edit_container_label_{{record.id}}" style="display: none;" class="edit_container_title_label">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{itemsPerPage * (currentPage - 1) + $index + 1}}</span>
                                    <input name="label_{{record.id}}" type="text" class="form-control" id="label_{{record.id}}" value="{{record.label}}" ng-enter-prevent-default/>

                                </div><span class="highlight text-danger">{{formError['label']}}</span>
                            </div>
                        </td>  
                        <td align="center" width="50%">
                            <div id="display_container_url_{{record.id}}" class="edit_container_title" style="text-align:left" title="{{record.fileName}}">
                                {{record.shortfileName|strLimit:50}}
                            </div>

                            <div id="edit_container_url_{{record.id}}" class="edit_container_url" style="display: none;">
                                <div ng-show="pickerShow">
                                    <button class="btn btn-sm btn-default" ng-click="showUrlBox()">URL</button>
                                    <span>- or -</span>
                                    <button class="btn btn-sm btn-default" ng-click="showAssestModal(record.id)">ADD MEDIA FROM ASSETS</button>
                                    <div class="clearfix"></div>
                                    <span class="highlight text-danger" style="right: 26%;">{{formError['url']}}</span>
                                </div>
                                <div ng-show="urlBox">
                                    <div class="input-group">
                                        <input ng-model="ext_res_url" name="ext_res_url" type="text" class="form-control datashow" id="id_ext_res_url{{record.id}}" placeholder="URL .." ng-enter-prevent-default />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default deleteButton" type="button" ng-click="deleteUrl()"><i class="fa fa-trash"></i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                    <div class="clearfix"></div>
                                    <span class="highlight text-danger" style="right: 26%;">{{formError['url']}}</span>
                                </div>
                                <div ng-show="pickedData">
                                    <div class="input-group">

                                        <input type="text" class="form-control" ng-model="ext_res_url" ng-show="record.fileType == 'external' && !afterPickerShow" id="id_ext_res_title_1_{{record.id}}" value="{{record.fullPath|strLimit:50}}" ng-enter-prevent-default style="margin-left: 10px;" readonly="true"/>
                                        <div class="datashow" ng-show="record.fileType == 'asset' || afterPickerShow" id="id_ext_res_title_{{record.id}}" >{{record.shortfileName|strLimit:50}}</div>  
                                        <input type="hidden" ng-model="ext_res_url" value="{{record.url}}">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default deleteButton" type="button" ng-click="deleteUrl()"><i class="fa fa-trash"></i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                </div>
                            </div>
                        </td>
                        <td style="padding: 2px 2px 2px 2px;">
                            <button type="button" ng-click="showEditBoxes(record.id, record.url)" ng-show="project.project_permissions['dataset.records.update'].grant" id="s_button_{{record.id}}"  class="btn btn-primary edit_button"  ng-disabled="editDisable"><i class="fa fa-pencil"></i></button>
                            <button type="button" ng-click="updateRecord(record.id)" class="btn btn-primary save_button" id="edit_button_{{record.id}}" style="display: none;"><i class="fa fa-check"></i></button>
                            <button type="button" ng-click="removeItem(record.id)" ng-show="project.project_permissions['dataset.records.delete'].grant" class="btn btn-danger remove_button" id="removeButton{{record.id}}"><i class="fa fa-trash"></i></button>
                            <button type="button" ng-click="cancelRecordEdit(record.id, record.url)" class="btn btn-danger cancle_button" id="cancelButton{{record.id}}" style='display:none'><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                    <tr class="grid-msg-overlay" ng-hide="loading">
                        <td class="msg" colspan="3" style="text-align:center">
                            <span>
                                Loading Data...
                                <i class="fa fa-spinner fa-spin"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <!-- Pagination Starts Here -->
                <dir-pagination-controls class="dir_pagination"
                                         boundary-links="true" 
                                         pagination-id="datasetRecordListId" 
                                         on-page-change="pageChangeHandler(newPageNumber)" 
                                         template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                </dir-pagination-controls>
                <!-- Pagination Starts End -->
                </td>
                </tr>
                <tr ng-show="project.project_permissions['dataset.records.show.all'].grant && applyPermission && datasetRecordTotal == 0" >
                    <td colspan="3">
                        <div class="alert alert-danger" role="alert"><center>No Record Found!!!!</center></div>  
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="clearfix"></div>
        </div>
        <div class="panel-footer">
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>