<style>
    td {
        padding-top:20px;
        padding-bottom:20px;
        padding-right:20px;   
    }

    td:first-child {
        padding-left:20px;
        padding-right:0;
    }
    .highlight{
        padding: 2px;
        position: absolute;
        padding-left: 12px;
    }
</style>
<div class="panel-group  col-md-6 col-md-offset-3"  ng-controller="DatasetViewInstanceController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-size:20px">Multivideo Records</span>
            <button type="button" class="btn btn-primary pull-right" ng-click="addNewMultivideoRow()" ng-show="project.project_permissions['dataset.records.create'].grant && applyPermission"  ng-disabled="addrecordbutton">Add Record</button>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body update_profile_container page-user-body">
            <div ng-show="message" class="alert alert-dismissible" ng-class="{
            'alert - success': status == 200, 'alert - danger': status > 200, 'alert - info': status == 0}" role="alert">
                <button type="button" class="close" ng-click="message = ''" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{message}}
            </div>


            <div class="clearfix"></div>
            <!--/*stucture modified for all pages*/-->
            <table class="pattern-list-table" width="100%" cellpadding="3" cellspacing="3">
                <thead>
                    <tr>
                        <th>Video Title</th>
                        <th>Video ID</th>
                        <th>Actions</th>                                                
                    </tr>
                </thead>

                <tbody>
                    <tr ng-show="project.project_permissions && !project.project_permissions['dataset.records.show.all'].grant && applyPermission">
                        <td colspan="3">
                            <div class="alert alert-danger" role="alert"><center>Sorry! Access Prohibited!</center></div> 
                        </td>
                    </tr>    
                    <tr class="page-user-row well" id="for_new_entry" style="display:none;" ng-show="project.project_permissions['dataset.records.show.all'].grant && applyPermission" >
                        <td  width="40%">
                            <input ng-model="label" name="label" type="text" class="form-control " id="label_title" placeholder="Video Title"  />
                            <span class="highlight text-danger">{{formError['label']}}</span>
                        </td>  
                        <td  width="30%">
                            <input ng-model="video_id" name="label" type="text" class="form-control label_id"  placeholder="Brightcove Video ID"  style="margin-left: 10px;"/>
                            <span class="highlight text-danger">{{formError['url']}}</span>
                        </td>
                        <td>
                            <button type="button" ng-click="saveMultivideoRow()" class="btn btn-primary"><i class="fa fa-check"></i></button>
                            <button type="button" ng-click="declineform()" class="btn btn-danger"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>

                    <tr dir-paginate="record in datasetRecordList | itemsPerPage: itemsPerPage" total-items="datasetRecordTotal" current-page="currentPage" pagination-id="datasetRecordListId" class="page-user-row" ng-show="project.project_permissions['dataset.records.show.all'].grant && applyPermission" >
                        <td id="addRecord{{record.id}}" width="40%">
                            {{itemsPerPage * (currentPage - 1) + $index + 1}}. {{record.label| strLimit:30}}
                        </td>
                        <td width="30%" id="addRecordID{{record.id}}">
                            {{record.object_id}}
                        </td>
                        <td id="editRecord{{record.id}}" style="display: none"  width="40%">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">{{itemsPerPage * (currentPage - 1) + $index + 1}}</span>
                                <input ng-model="record.label" type="text" class="form-control" id="editData{{record.id}}" placeholder="Video Title"  />
                            </div>
                            <span class="highlight text-danger">{{formError['label']}}</span>
                        </td>
                        <td id="editRecordID{{record.id}}" style="display: none"  width="30%">
                            <input ng-model="record.object_id" type="text" class="form-control label_id" id="editText{{record.id}}" placeholder="Brightcove Video ID"  />
                            <span class="highlight text-danger">{{formError['url']}}</span>
                        </td>
                        <td >
                            <button type="button" ng-click="editVideoRecord(record.id)" class="btn btn-primary" id="editButton{{record.id}}" ng-disabled="editDisable" ng-show="project.project_permissions['dataset.records.update'].grant && applyPermission" ><i class="fa fa-pencil"></i></button>
                            <button type="button" ng-click="previewVideoEdit(record.object_id)" class="btn btn-default" id="previewButton{{record.id}}" ng-show="project.project_permissions['dataset.records.preview'].grant && applyPermission" ><i class="fa fa-eye"></i></button>
                            <button type="button" ng-click="updateVideoRccord(record.id)" class="btn btn-primary" id="saveButton{{record.id}}" style="display: none;"><i class="fa fa-check"></i></button>
                            <button type="button" ng-click="removeItem(record.id)" class="btn btn-danger" id="removeButton{{record.id}}" ng-show="project.project_permissions['dataset.records.delete'].grant && applyPermission" ><i class="fa fa-trash"></i></button>
                            <button type="button" ng-click="cancelVideoEdit(record.id)" class="btn btn-danger" id="cancelButton{{record.id}}" style='display:none'><i class="fa fa-times"></i></button>

                        </td>
                    </tr>
                    <tr class="grid-msg-overlay" ng-hide="loading">
                        <td class="msg" colspan="3" style="text-align:center">
                            <span>
                                Loading Data...
                                <i class="fa fa-spinner fa-spin"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <!-- Pagination Starts Here -->
                <dir-pagination-controls class="dir_pagination"
                                         boundary-links="true" 
                                         pagination-id="datasetRecordListId" 
                                         on-page-change="pageChangeHandler(newPageNumber)" 
                                         template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                </dir-pagination-controls>
                <!-- Pagination Starts End -->
                </td>
                </tr>
                <tr ng-show="project.project_permissions['dataset.records.show.all'].grant && applyPermission && datasetRecordTotal == 0" >
                    <td colspan="3">
                        <div class="alert alert-danger" role="alert"><center>No Record Found!!!!</center></div>  
                    </td>
                </tr>
                </tbody>
            </table>


            <div class="clearfix"></div>

        </div>
        <div class="panel-footer">
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<script>


</script>
