<div class="popup-boxes">
    <form ng-cloak>
        <div class="modal-header header-m">
            {{modalFormTitle}}
        </div>
        <div class="inner-modal-content tab-contents" style="padding: 10px 0px 0px 0 !important;"> 
            <iframe id="parentFrame" ng-src="{{trustSrc(url.src)}}" width="100%" height="300px"  allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
        </div>
    </form>
</div>