@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.readonly{
    @include bgcolor($white);
    @include padding-indv('bottom', 10px);
    @include box-shadow(0, 2px, 12px, 0, rgba(0, 0, 0, 0.1));
    max-height: 300px;
    overflow: hidden;
    &.expanded{
        @include padding-indv('bottom', 0);
        max-height: inherit;
    }
    .view-all{
        @include bgcolor($white);
        @include padding (9px 0);
        @include left(0);
        @include bottom (0);
    }
}
.control-info{
    @include padding(0);
    @include top(-4px);
    height: 19px;
}

