
<fieldset class="btn-group btn-group-toggle switch-view d-inline-block">
  <legend class="sr-only">Switch between List View and Card View</legend>
  <button id="btnListView" class="btn btn-secondary btn-sm tooltip top position-relative" [attr.aria-label]="'List view'" data-tooltip="List view" (click)="changeView('listview')" tabindex="0"
    [ngClass]="{'active':viewType === 'listview'}" [attr.aria-pressed]="viewType === 'listview' ? true : false">
    <em class="fas fa-list"></em>
  </button>
  <button id="btnCardView" class="btn btn-secondary btn-sm tooltip top top-right position-relative" [attr.aria-label]="'Card view'" data-tooltip="Card view" (click)="changeView('cardview')" tabindex="0"
    [ngClass]="{'active':viewType === 'cardview'}" [attr.aria-pressed]="viewType === 'cardview' ? true : false">
    <em class="fas fa-th"></em>
  </button>
</fieldset>