<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="user">  
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title">
                    <div class="pull-middle"> 
                        Manage User
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">
                            <!--/*structure modified for all pages*/-->
                            <div class="from-container-row">
                                <div class="update_profile_container">
                                    <form name="formData" role="form" class="update_profile_form" novalidate>
                                        <h3 class="profile_heading">
                                            <i class="heading_line"></i>
                                            <span>Create User</span>
                                        </h3>
                                        
                                        <span class="label center-block" ng-class="{'label-success' : status == 200, 'label-danger' : status == 400}">{{error_msg}}</span>
                                        
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="exampleInputEmail1">Email*</label>
                                                <input ng-model="email" name="email" type="email" class="form-control" required>                                                
                                                <span class="text-danger center-block ng-binding" ng-show="submitted && formData.error.email">{{formData.error.email[0]}}</span>
                                            </div><div class="col-sm-6">
                                                <label for="exampleInputEmail1">Username*</label>
                                                <input ng-model="username" name="username" type="text" class="form-control" required >
                                                <span class="text-danger center-block ng-binding" ng-show="submitted && formData.error.username">{{formData.error.username[0]}}</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        
                                        
                                        
                                        <!--div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="exampleInputEmail1">Select Role*</label>
                                                <select ng-model="role_id" name="role_id" ng-options="role.name for role in roles track by role.name " class="form-control"> 
                                                </select>
                                                <span class="text-danger center-block ng-binding" ng-show="submitted && formData.error.role_id">{{formData.error.role_id[0]}}</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div-->                                        
                                        
                                        
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="exampleInputEmail1">First Name</label>
                                                <input ng-model="first_name" name="first_name" type="text" class="form-control" >
                                            </div><div class="col-sm-6">
                                                <label for="exampleInputEmail1">Last Name</label>
                                                <input ng-model="last_name" name="last_name" type="text" class="form-control" >
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                        
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="exampleInputEmail1">Password*</label>
                                                <input ng-model="password" name="password" type="password" class="form-control" >
                                                <span class="text-danger center-block ng-binding" ng-show="submitted && formData.error.password">{{formData.error.password[0]}}</span>
                                            </div><div class="col-sm-6">
                                                <label for="exampleInputEmail1">Confirm Password*</label>
                                                <input ng-model="password_confirmation" name="password_confirmation" type="password" class="form-control" >
                                                <span class="text-danger center-block ng-binding" ng-show="submitted && formData.error.password_confirmation">{{formData.error.password_confirmation[0]}}</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        
                                        

                                        <div class="modal-footer text-right"><button type="button" class="btn btn-default" ng-click="goto('user')">Cancel</button>
                                        <!--button type="button" class="btn btn-primary" ng-click="createUser(formData)" ng-disabled="formData.$dirty && formData.$invalid">Create</button--><button type="button" class="btn btn-primary" ng-click="createUser(formData)">Create</button></div>
                                    </form>
                                </div>
                                

                            </div>
                            <!--/*//////stucture modified for all pages*/--> 
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
        <!--FOOTER STARTS HERE-->
        <div ng-include src="'templates/footer.html'" class="footer-container"></div>
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>