<div class="main_container login_section" ng-cloak>   
    <section class="wrapper">       

        <div class="login_row" ng-controller="login">=={{status}}==
            <div class="col-sm-6 col-md-4 col-md-offset-4" ng-show="verifyPasswordTokenCalled && !password_token_expired">
                <h1 class="logo"><a class="sprite-login">FROST Login</a></h1>
                <h5>Create Password</h5> 
                <div class="account-wall">
                    <div class="alert" ng-class="{'alert-success' : status == 200, 'alert-danger' : status != 200}" role="alert" ng-if="error_msg">{{error_msg}}</div>                    
                    <form name="formData" class="form-signin" novalidate ng-hide="status == 200">
                        <div class="form-group"><input ng-model="password1" name="password1" type="password" class="form-control" placeholder="New Password" required autofocus> </div>
                        <div class="form-group"><input ng-model="password2" name="password2" type="password" class="form-control" placeholder="Confirm New Password" required autofocus> </div>

                        <div class="form-group progress-button "> <button class="btn btn-lg btn-primary btn-block" ng-click="createPasswd(formData)">Create new  password</button>                   </div>     
                    </form>
                    <a href="#/" class="new-account">&laquo Back to login</a>
                </div>
                <div class="form-group">
                    <p class="help-block">All Rights Reserved. © {{current_year}} LearningMate Solutions Pvt. Ltd</p>
                </div>

            </div>

            <div class="col-sm-6 col-md-4 col-md-offset-4" ng-show="verifyPasswordTokenCalled && password_token_expired">
                <h1 class="logo"><a class="sprite-login">FROST Login</a></h1>
                <h5>Forgot Password</h5> 
                <div class="account-wall">
                    <div class="alert" ng-class="{'alert-success' : status == 200, 'alert-danger' : status != 200}" role="alert" ng-if="error_msg">{{error_msg}}</div>  
                    <a href="#/" class="new-account">&laquo Back to login</a></div>
                <div class="form-group">
                    <p class="help-block">All Rights Reserved. © {{current_year}} LearningMate Solutions Pvt. Ltd</p>
                </div>
            </div>

        </div>
    </section>
</div>
<script>
    $("input[name='email']").focus();
</script>