<div class="modal-header header-m" ng-cloak>
    {{modalFormTile}}
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<div class="sub-title" ng-cloak>{{modalFormText}}</div>

<div class="content" ng-cloak>
    <div class="from-container">
        <!--/*structure modified for all pages*/-->
        <div class="from-container-row1">
            <div class="update_profile_container">
                <form name="formData" role="form" class="update_profile_form" novalidate>
                    <span class="label center-block" ng-class="{'label-success' : status == 200, 'label-danger' : status == 400}">{{error_msg}}</span>
                    <div class="form-group row" ng-hide="loading" ng-cloak>
                        <div class="col-sm-6">
                            <label for="exampleInputEmail1">First Name</label>
                            <input ng-model="formData.first_name" name="first_name" type="text" class="form-control" >
                        </div><div class="col-sm-6">
                            <label for="exampleInputEmail1">Last Name</label>
                            <input ng-model="formData.last_name" name="last_name" type="text" class="form-control" >
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group row" ng-hide="loading" ng-cloak>
                        <div class="col-sm-6">
                            <label for="exampleInputEmail1">Email*</label>
                            <input ng-model="formData.email" name="email" type="email" class="form-control" required>                                                
                            <span class="text-danger center-block ng-binding" ng-show="submitted && formData.error.email">{{formData.error.email[0]}}</span>
                        </div><div class="col-sm-6">
                            <label for="exampleInputEmail1">Username</label>
                            <input ng-model="formData.username" name="username" type="text" class="form-control" required ng-disabled="true">
                            <span class="text-danger center-block ng-binding" ng-show="submitted && formData.error.username">{{formData.error.username[0]}}</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="exampleInputEmail1"><input type="checkbox" ng-model="formData.is_admin" name="is_admin"  >Allow user as Project Admin</label>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="modal-footer text-right"><button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="updateUser(formData)">Update</button></div>
                </form>
            </div>


        </div>
        <!--/*//////stucture modified for all pages*/--> 
    </div>

</div>



