<div class="main_container login_section" ng-cloak>   
    <section class="wrapper">
        <div class="login_row" ng-controller="login">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="logo"><a class="sprite-login">FROST Login</a></h1>
                <h5>Forgot Password</h5> 
                <div class="account-wall">
                    <div class="alert" ng-class="{'alert-success' : status == 200, 'alert-danger' : status != 200}" role="alert" ng-if="error_msg">{{error_msg}}</div>
                    <!--<span class="label center-block" ng-class="{'label-success' : status == 200, 'label-danger' : status == 400}">{{error_msg}}</span>-->
                    <form name="formData" class="form-signin" novalidate>
                        <div class="form-group"><input ng-model="email" name="email" type="text" class="form-control" placeholder="Email" required autofocus> </div>

                        <div class="form-group progress-button "> <button class="btn btn-lg btn-primary btn-block" ng-click="forgetPasswd(formData)">Send me  password</button>                   </div>     
                    </form>
                    
                        <a style="display:inline-block;" href="#/" class="new-account">&laquo Back to login</a>                        
                    
                </div>


                <div class="form-group">
                    <p class="help-block">All Rights Reserved. © {{current_year}} LearningMate Solutions Pvt. Ltd</p>
                </div>

            </div>

        </div>
    </section>
</div>
<script>
    $("input[name='email']").focus();
</script>