<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="profile">  
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->
       
            <!--SECTION STARTS HERE-->
            <section class="wrapper">
                <div class="page-title">                    
                    <div class="pull-middle"> 
                        Update Profile
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container-row">

                            <div class="update_profile_container">


                                <form role="form" class="update_profile_form">
                                    <h3 class="profile_heading">
                                        <i class="heading_line"></i>
                                        <span>Personal Info</span>
                                    </h3>
                                    
                                    <span ng-show="showMsg" ng-class="{'label-success': status == 200, 'label-danger': status > 200, 'label-info': status == 0}" class="label">{{message}}</span>

                                    <div class="form-group row">
                                                <div class="col-xs-12  col-sm-6 margin-top-bottom">
                                                    <label for="exampleInputEmail1">First Name</label>
                                                    <input ng-model="formData.first_name" type="text" class="form-control"  placeholder="First Name">
                                        </div>
                                        <div class="col-xs-12  col-sm-6">
                                                <label for="exampleInputEmail1">Last Name</label>
                                                <input ng-model="formData.last_name" type="text" class="form-control"  placeholder="Last Name">
                                        </div>
                                        	<div class="clearfix"></div>
                                     </div> 
                                     <div class="form-group row">  
                                        <div class="col-xs-12  col-sm-6">
                                                <label for="exampleInputEmail1">Email</label>
                                                <input ng-model="formData.email"  class="form-control" id="disabledInput" type="email" placeholder="Email" disabled>
                                                <!--{{formData.email}}-->
                                                                                     
                                        </div>
                                        <div class="col-xs-12  col-sm-6">
                                                <label for="exampleInputEmail1">Username</label>
                                                <input ng-model="formData.username"  class="form-control" id="disabledInput" type="text" placeholder="Username" disabled>
                                                <!--{{formData.username}}-->
                                            </div>                                            
                                        
                                        <div class="clearfix"></div>
                                    </div>
                                    <button type="button" class="btn btn-default" ng-click="goto('dashboard')">Cancel</button>
                                    <button type="button" class="btn btn-primary" ng-click="update_profile()" >Update</button>

                                    <!--div class="form-group row">
                                        <div class="col-sm-6">
                                            <div class="inputtype2">
                                                <label for="exampleInputEmail1">Email</label>
                                                <input ng-model="formData.email" type="email" class="form-control"  placeholder="Email">
                                            </div>
                                            <div class="inputtype2">
                                                <label for="exampleInputEmail1">Contact No.</label>
                                                <input ng-model="formData.contact_num" type="text" class="form-control"  placeholder="(978) (824) 1234">
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <label for="exampleInputEmail1">Bio</label>
                                            <textarea ng-model="formData.biodata" class="form-control" rows="5" placeholder="Lorem ipsum dolor sit amet, brute libris no pri, at tantas incorrupte consectetuer has. Vidisse nusquam ne has, nam te solum minim munere. Eos simul iisque ut. Inani tacimates an nec, in omnis principes reprimique vim."></textarea>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div-->

                                    <!--h3 class="profile_heading">
                                        <i class="heading_line"></i>
                                        <span>Institution Info</span>
                                    </h3>

                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="exampleInputEmail1">Institution Name</label>
                                            <input ng-model="formData.institution_name" type="text" class="form-control"  placeholder="Institution Name">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="exampleInputEmail1">Designation</label>
                                            <input ng-model="formData.designation" type="text" class="form-control"  placeholder="Designation">
                                        </div>
                                        <div class="clearfix"></div>
                                    </div-->

                                    <!--h3 class="profile_heading">
                                        <i class="heading_line"></i>
                                        <span>Location Info</span>
                                    </h3>

                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="exampleInputEmail1">City</label>
                                            <select class="form-control">
                                                <option>Massachusetts</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="exampleInputEmail1">Country</label>
                                            <select class="form-control">
                                                <option>United States</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div-->

                                    <!--h3 class="profile_heading">
                                        <i class="heading_line"></i>
                                        <span>Display Picture</span>
                                    </h3>
                                    <div class="form-group uploaded-row">
                                        <div class="uploaded-photo"><img src="img/uploaded-pic.png" alt=""/></div>
                                        <input id="file-3" type="file" multiple=true>
                                        <div class="clearfix"></div>
                                    </div>
                                    <button type="button" class="btn btn-default" ng-click="goto('dashboard')">Cancel</button>
                                    <button type="button" class="btn btn-primary" >Update</button>

                                </form-->
                                    
                                </form>
                                <form role="form" class="update_profile_form">

                                    <h3 class="profile_heading">
                                        <i class="heading_line"></i>
                                        <span>Change Password</span>
                                    </h3> 
                                    <span ng-show="showChangePasswordMsg" ng-class="{'label-success': changePasswordstatus == 200, 'label-danger': changePasswordstatus > 200, 'label-info': changePasswordstatus == 0}" class="label">{{changePasswordMsg}}</span>
                                    
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label for="exampleInputEmail1">Old Password</label>
                                            <input ng-model="oldpassword" name="old_password" type="password" class="form-control" placeholder="********" >
                                            <span class="text-danger center-block ng-binding" ng-show="error.oldpassword">{{error.oldpassword}}</span>
                                        </div>
                                        
                                        <div class="col-sm-4">
                                            <label for="exampleInputEmail1">New Password</label>
                                            <input ng-model="password" name="new_password" type="password" class="form-control" placeholder="********">
                                            <span class="text-danger center-block ng-binding" ng-show="error.password">{{error.password}}</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="exampleInputEmail1">Confirm Password</label>
                                            <input ng-model="password_confirmation" name="confirm_password" type="password" class="form-control" placeholder="********">
                                            <span class="text-danger center-block ng-binding" ng-show="error.password_confirmation">{{error.password_confirmation}}</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <!--<div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="exampleInputEmail1">New Password</label>
                                            <input ng-model="password" name="new_password" type="password" class="form-control" placeholder="********">
                                            <span class="text-danger center-block ng-binding" ng-show="error.password">{{error.password}}</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="exampleInputEmail1">Confirm Password</label>
                                            <input ng-model="password_confirmation" name="confirm_password" type="password" class="form-control" placeholder="********">
                                            <span class="text-danger center-block ng-binding" ng-show="error.password_confirmation">{{error.password_confirmation}}</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>-->

                                    <button type="button" class="btn btn-default" ng-click="goto('dashboard')">Cancel</button>
                                    <button type="button" class="btn btn-primary" ng-click="change_password()" >Update</button>

                                </form>
                                
                                <form role="form" class="update_profile_form">

                                    <h3 class="profile_heading">
                                        <i class="heading_line"></i>
                                        <span>Email Frequency Settings</span>
                                    </h3> 
                                    <span ng-show="showEmailFrequencyMsg" ng-class="{'label-success': saveEmailFrequencyStatus == 200, 'label-danger': saveEmailFrequencyStatus > 200, 'label-info': saveEmailFrequencyStatus == 0}" class="label">{{showEmailFrequencyMsg}}</span>
                                    
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                        
                                        	<div class="radio">
                                              <label>
                                                <input ng-model="email_frequency" type="radio"  value="5000">
                                                Every event
                                                </label>
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-3">
                                        
                                        	<div class="radio">
                                              <label>
                                                <input ng-model="email_frequency" type="radio" value="5001">
                                                Once a day
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                        	<div class="radio">
                                              <label>
                                                <input ng-model="email_frequency" type="radio" value="5002">
                                                Twice a week
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                        
                                        	<div class="radio">
                                              <label>
                                                <input ng-model="email_frequency" type="radio" value="5003">
                                                Once a week
                                                </label>
                                            </div>
                                        
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <button type="button" class="btn btn-default" ng-click="goto('dashboard')">Cancel</button>
                                    <button type="button" class="btn btn-primary" ng-click="saveEmailFrequency()" >Save</button>

                                </form>

                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>                    

                </div>
                <div class="clearfix"></div>
            </section>

            <!--SECTION ENDS HERE-->
        
        <!--FOOTER STARTS HERE-->
        <div ng-include src="'templates/footer.html'" class="footer-container"></div>
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>