<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="profile">  
        <!--HEADER STARTS HERE-->
<!--        <div ng-include src="'templates/header.html'" class="header-container"></div>-->
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title">
                    <div class="pull-middle"> 
                        Reset Password
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">
                            <!--/*structure modified for all pages*/-->
                            <div class="from-container-row">
                                <div class="update_profile_container">
                                    <form name="formData" role="form" class="update_profile_form">
                                        <h3 class="profile_heading">
                                            <i class="heading_line"></i>
                                            <span>Reset Password</span>
                                        </h3>
                                        <span class="label center-block" ng-class="{'label-success' : status == 200, 'label-danger' : status == 400}">{{error_msg}}</span>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label for="exampleInputEmail1">Old Password</label>
                                                <input ng-model="old_password" name="old_password" type="password" class="form-control" placeholder="********">
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="exampleInputEmail1">New Password</label>
                                                <input ng-model="new_password1" name="new_password1" type="password" class="form-control" placeholder="********">
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="exampleInputEmail1">Confirm Password</label>
                                                <input ng-model="new_password2" name="new_password2" type="password" class="form-control" placeholder="********">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <!--<div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="exampleInputEmail1">New Password</label>
                                                <input ng-model="new_password1" name="new_password1" type="password" class="form-control" placeholder="********">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="exampleInputEmail1">Confirm Password</label>
                                                <input ng-model="new_password2" name="new_password2" type="password" class="form-control" placeholder="********">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>-->

                                        <div class="modal-footer text-right"><button type="button" class="btn btn-default" ng-click="goto('settings')">Cancel</button>
                                        <button type="button" class="btn btn-primary" ng-click="resetPasswd(formData)">Update</button></div>
                                    </form>
                                </div>

                            </div>
                            <!--/*//////stucture modified for all pages*/--> 
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
        <!--FOOTER STARTS HERE-->
        <!--        <div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>