<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="user">  
        <!--HEADER STARTS HERE-->
        <!--<div ng-include src="'templates/header.html'" class="header-container"></div>-->
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title5"><h4 class="title pull-left">Manage User</h4>
                    <div class="pull-right"> 
                        <!--                        <button type="button" class="btn btn-secondary" onclick="javascript:history.back(-1);"><span class="glyphicon glyphicon-chevron-left"></span>Back to Settings</button>-->
                        <button type="button" class="btn btn-primary" ng-click="createNewUser('')">Create New User</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">                    
                    <div class="content">
                        <div class="from-container">
                            <!--/*stucture modified for all pages*/-->
                            <div class="from-container-row">
                                <div ng-show="message" class="alert alert-dismissible" ng-class="{'alert-success': status == 200, 'alert-danger': status > 200, 'alert-info': status == 0}" role="alert">
                                    <button type="button" class="close" ng-click="message = ''" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    {{message}}
                                </div>
                                <div class="pattern-list-container">
                                    <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th width="30%">Email </th>
                                                <th width="15%">Username </th>
                                                <th width="15%">User Type</th>
                                                <th width="15%">Name </th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="user in userList">
                                                <td>{{user.email}}</td>
                                                <td>{{user.username}}</td>
                                                <td>{{user.role_name}}</td>
                                                <td>{{user.first_name}} {{user.last_name}}</td>
                                                <td>
                                                    <!--                                                    <button type="button" class="btn btn-default" ng-click="editUser(user.id)" ng-if="user.id != 1">Modify User</button>-->
                                                    <button type="button" class="btn btn-default2" ng-click="deleteUser(user.id)" ng-if="user.id != 1 && user.status != 2000 && user.id != loggedinUserid">Deactivate User</button> 
                                                    <button type="button" class="btn btn-default2" ng-click="activateUser(user.id)" ng-if="loggedinuser_role == 1 && user.status == 2000">Activate User</button>
                                                    
                                                    <button type="button" class="btn btn-default2" ng-click="editUser(user.id,'')" ng-if="user.id != 1 && user.status != 2000 && user.id != loggedinUserid">Edit User</button>
                                                    
                                                    <!--button type="button" class="btn btn-default2" ng-if="loggedinuser_role == 1">Activity Log</button-->
                                                </td>
                                                <!--                                                <td><button type="button" class="btn btn-default" ng-click="gotToUserAclPage(user.id)">Assign Permission</button></td>-->
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <!--/*//////stucture modified for all pages*/--> 
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
        <!--FOOTER STARTS HERE-->
        <!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>