@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.report{
    &-summery{
        &-heading{
            @include font-size(18);
            @include padding-indv('right', 70px);
            min-height: 32px;
        }

        .completion{
            &-no{
                @include font-size(12);
                @include padding-indv('top', 5px);
            }
            &-percent{
                @include font-size(26);
                @include font-color($darkest-x);
                @include font-weight(300);
                @include right(0);
            }
        }
    }
}
