@charset "utf-8";
/* CSS Document */
.cke_top{
    height:32px !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    background: #f6f8f8;
    border:none; 
    border-bottom: 1px solid #eee;
}
body{background:#fff}
header.lm, section.lm-pattern, section.lm-sidebar, header.lm h1, button.btn{font-family:"Source Sans Pro";}
header.lm{
    height:50px; 
    border-bottom:1px solid #ccc; 
    width: 100%;
    min-width: 1024px;
    background:#fff;
    position: relative;
    z-index: 4;
}

#cke_2_top {
    position: relative;
    z-index: 1;
}

button.godashboard{background:transparent; border:0; outline:none; padding:0 5px; line-height:50px; border-right:1px solid #eee; width:145px; margin-right:6px;}
button.godashboard span{margin-right:5px;}
button.godashboard img{margin-top:-5px}
header.lm h1.pagename{  font-weight: normal;
    line-height: 50px;
    font-size: 14px;
    color: #444;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 50px;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
    text-overflow: ellipsis;
}
header.lm .lm-col-right{width:500px; float:right; text-align:right; margin-right:10px}
header.lm .lm-col-left{  
    position: absolute;
    left: 0;
    right: 466px;
}
header.lm button.btn-primary{
    margin-top: 7px;
    float:right
}
button.btn-primary{
    background:#4285f4;
    border:#4285f4 1px solid;
    text-transform:uppercase;
    font-weight:600;
    outline:none;
    transition:all .2s ease-in-out;
    border-radius: 3px;
}
button.btn-primary:hover, button.btn-primary:active, button.btn-primary:focus{
    background:#3877df;
    border-color:#3877df;
    outline:none
}
.elm-edt-main{
    display:table;
    width:100%;
    overflow:hidden
}
.elm-edt-main .right-pane, .elm-edt-main .lm-edt-pane{
    display:inline-block;   vertical-align: top;
}
section.lm-edt-pane.middle-pane {
    background: #f6f8f8; position:relative;
}
section.right-pane {
    width: 145px;
    background: #8f9ca2;
    box-shadow:inset -1px 0 3px rgba(0,0,0,.2)
}
section.right-pane .panel-refresh-reload {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 45px;
    height:41px;
    background: rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.5);
    font-weight: 600; 
}
.lm-editor-bar{
    background: #f6f8f8;
    border-bottom: 1px solid #eee;
    height: 40px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
}
.lm-edit-more{
    background:transparent; border:0; outline:none; height:40px; width:40px; padding:0;
    color: #bbb;  font-size: 12px;
    padding-top: 13px;
    width: 100%;
    padding-bottom: 309px;
}
.lm-edit-more:hover, .lm-edit-more:active, .lm-edit-more.active{
    color:#555	
}
.lm-edit-more.active{
    padding: 10px 15px;
    width: 100%;
    text-align: left;
}
.edt-rt{
    float: right;
    background: #f6f8f8;
    border-left: 1px solid #eee;
    width: 50px;
    transition: all .2s ease-in;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    font-family:'source sans pro';
}
.edt-lt {
    margin-right: 50px;
    transition: all .2s ease-in;
}
section.lm-edt-pane.active .edt-rt {
    width:279px; position:relative; 
}
section.lm-edt-pane.active .edt-lt {
    margin-right:279px;
}
.lm-icon{
    position: relative;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    color: #888;
}
section.lm-edt-pane.active .lm-small {
    display:none;	
}
section.lm-edt-pane .lm-big {
    display:none;	
}
section.lm-edt-pane.active .lm-big {
    display:block;	
}

.numbers{
    font-size: 10px;
    background: #673ab7;
    padding: 1px;
    border-radius: 3px;
    color: #fff;
    width: 15px;
    display: block;
    line-height: 14px;
    position: absolute;
    top: -3px;
    right: 5px;
    text-align: center;
}
.lm-big .numbers {
    top: 3px;
}
.loading-g{
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 999999;
}
#preloader_1{
    position: relative;
    width: 52px;
    height: 50%;
    margin: 0 auto;
}
#preloader_1 span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#9b59b6;
    position:absolute;
    animation: preloader_1 1.5s  infinite ease-in-out;
    -webkit-animation: preloader_1 1.5s  infinite ease-in-out;

}

#preloader_1 span:nth-child(2){
    left:11px;
    -webkit-animation-delay: .2s;

}
#preloader_1 span:nth-child(3){
    left:22px;
    -webkit-animation-delay: .4s;
}
#preloader_1 span:nth-child(4){
    left:33px;
    -webkit-animation-delay: .6s;
}
#preloader_1 span:nth-child(5){
    left:44px;
    -webkit-animation-delay: .8s;
}
@-webkit-keyframes preloader_1  {
    0% {height:5px;transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;transform:translateY(15px);background:#3498db;}
    50% {height:5px;transform:translateY(0px);background:#9b59b6;}
    100% {height:5px;transform:translateY(0px);background:#9b59b6;}
}
/*---Switch---*/
.switch{ width:auto; margin:0 5px;   border-right: 1px solid #eee;}
.switch-button-label.active {color: #000;}
.switch-button-label {color: #999999;}
.switch-button-label {float: left;font-size: 12px;cursor: pointer;   padding: 0 5px;   line-height: 49px; text-transform:uppercase;}
.switch-button-background {float: left;position: relative;background: #fff;border: 1px solid #fff; margin:17px 1px 0;border-radius: 10px;cursor: pointer; height:16px; width:30px;}
.switch-button-button {position: absolute;left: -4px;top:-4px; height:25px; width:25px; background-position:-313px -14px; }
.switch-button-background.on{background: #0fa41d;border: 1px solid #fff;}
.cmn-toggle {position: absolute;margin-left: -9999px;visibility: hidden;}
.cmn-toggle + label {  display: block;  position: relative;  cursor: pointer;  outline: none;  -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;}

input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {  display: block;  position: absolute;  top: 1px;  left: 1px;  bottom: 1px;  content: "";}
input.cmn-toggle-round + label:before {  right: 1px;  background-color: #4285f4;  -webkit-border-radius: 60px;  -moz-border-radius: 60px;  -ms-border-radius: 60px;  -o-border-radius: 60px;  border-radius: 60px; -webkit-transition: background 0.4s;  -moz-transition: background 0.4s;  -o-transition: background 0.4s;  transition: background 0.4s;}
input.cmn-toggle-round + label:after {  width:15px; height:15px; margin-top:-2px;  background-color: #fff;  -webkit-border-radius: 100%;  -moz-border-radius: 100%;  -ms-border-radius: 100%;  -o-border-radius: 100%;  border-radius: 100%;  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);  -webkit-transition: margin 0.4s;  -moz-transition: margin 0.4s;  -o-transition: margin 0.4s;  transition: margin 0.4s;}
input.cmn-toggle-round:checked + label:before {  background-color: #673ab7;}input.cmn-toggle-round:checked + label:after {  margin-left:12px;}
/*---Switch---*/

#versionDropdown{   
    width: 95px;
    height: 49px;
    overflow: hidden;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
#versionDropdown .rv-t-2{display: none;}
.version-dropdown .btn.dropdown-toggle .review-value {
    position: relative;
    height: 51px;
    padding: 10px 5px 0 7px;
    line-height: 49px;
}
.open div#versionDropdown {
    background: #f6f6f6;
}
.open div#versionDropdown .rv-t-1{ 
    color:#000
}
.version-dropdown .btn.dropdown-toggle .review-value .rv-t-1{ line-height:30px; }
#versionDropdown .rv-t-2{display: none;}
/*Css for the dropdown to choose edit & review mode*/
.review-button .btn{ left:0; top:0; color:#000;   padding:0;   border-left: 1px solid #ddd;  border-right: 1px solid #ddd; border-radius:0; border-top: 0;  border-bottom: 0;}
.review-button .btn:hover, .review-button .btn:active, .review-button .btn.active, .review-button .btn:focus{ background:none;  box-shadow:none; color:#aaa;}
.review-value{ padding:10px 35px 9px 35px; position:relative; }
.review-button .glyphicon{ display:none}
.rv-t-1{
    text-transform: uppercase;
    color: #666;
    font-size: 12px;
    line-height: 21px;
    font-weight: 600;
}
.rv-t-2{  color: #666;
    font-size: 13px;
    line-height: 1.1;
}
.dropdown-menu .review-value{
    padding: 5px;
    position: relative;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    text-align: left; }
.dropdown-menu .review-value:hover{ background: rgba(0,0,0, .02); }
.review-button .dropdown-menu{
    margin: 0 !important;
    padding: 0;
    left: 0;
    width: 180px;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.1), 0 8px 13px rgba(0,0,0,.1);
    max-height: 181px;
    border-radius: 0 0 5px 5px;
    overflow: auto;
}
.dropdown-menu .review-value .rv-t-1{ color:#555; }
.review-button .dropdown-menu .glyphicon{ color:#aaa;}


.highlightSelected{  
    /*outline: 2px solid #673ab7;*/
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    display: block; position:relative;
}
.descOfTarget,.toolBox{position: absolute;color:#673ab7; min-width: 22px; text-align: center;font-size: 10px;line-height: 1.42857143;padding: 3px;z-index: 999999;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;}
/*.descOfTarget{white-space: nowrap;margin: 0;top: -22px;left: 0px;}*/
.descOfTarget {
    white-space: nowrap;
    margin: 0;
    top: -25px;
    right: 24px;
    font-family: sans-serif;
    font-weight: bold;
}
/*.toolBox{height: 25px;right: 0px;bottom: -25px;}*/
.toolBox {
    height: 22px;
    right: 0px;
    top: -25px;
    left: 0;
    width: 0;
    font-size: 12px;
    background-color: #f6f8f8;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-trash:before {
    content: "\e020";
    cursor: pointer;
}
.cke_ltr .icons {
    background-image: url(../img/icons2.png) !important;
}
.cke_button__unlink .cke_button_icon {  background-position:-15px -1130px !important;}

.cke_button__unlink.cke_button_on .cke_button_icon{background-position:-66px -1130px !important;}

.add-new-ticket{
    padding: 10px;
    text-align: center;
}
button.btn.btn-default, button.btn.btn-warning {
    border-radius: 3px;
    border-color: #ddd;
    position: inherit;
    color: #58666e;
    font-weight: 600;
    font-size: 13px;
    background:#fff;
}
.btn.btn-default:hover {
    background: #eee;
    color: #444;
    border-color: #bbb;
}
.comments-wrapper .panel-group .panel {
    border-radius: 0;
    border: 0;
    font-size: 13px;
    font-family:'Source Sans Pro';
    background: transparent;
    margin: 0;
}
.comments-wrapper .panel-group .panel .panel-title {
    font-size:inherit;
    color:#999999;
    padding:0
}
.comments-wrapper .panel-default>.panel-heading {
    background-color: transparent;
    border:none;
    border-radius:0; padding:0
}
.issue-no{
    padding:5px;
    border-top: 1px solid #ddd;
    text-transform: uppercase;
}
.issue-no p {
    float: right;
    margin:0;
    text-transform: none
}
.panel-title a:hover, .panel-title a, .panel-title a:focus {
    text-decoration:none
}
.panel-title a:hover{
    color: #333;
}
.activatedTab .issue-no {
    background: #fff;
    color: #333;
}
.nav-tabs>li>a{
    background:transparent;
    color:#666;
    border:none;
}
.nav-tabs>li.active>a:hover, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav>li>a:hover, .nav>li>a:focus  {
    color: #4285f4;
    background-color:transparent !important;
    border:none;
}
.nav-tabs>li.active{
    border-bottom:1px solid #673ab7
}
.panel-body {
    padding: 5px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    background: #fff;
}
.issueCreated,.comments.thread{  
    list-style: none;
    margin: 0;
    padding: 0;
    width:100%
}

.issueCreated li, .comments.thread li{
    width: 100%;
}
.comments.thread li{
    border-bottom: 1px solid #ddd;
    padding: 0 5px;
}
.issueCreated li a.author-name, .comments.thread li a.author-name{
    width:50%;
    display:inline-block;
    overflow:hidden;
    color: #999;
    height: 20px;
    font-size: 12px;
    cursor:default
}
.issueCreated li a.author-date, .comments.thread li a.author-date{
    width:50%;
    display:inline-block;
    overflow:hidden;
    color: #999;
    height: 20px;
    font-size: 12px;
    text-align:right;
    cursor:default
}
.issueCreated li a.author-name:hover, .issueCreated li a.author-date:hover, .comments.thread li a.author-date:hover, .comments.thread li a.author-name:hover {
    text-decoration:none; color:#999;	
}
.comments.thread em{
    display: block;
    text-align: center;
    padding: 2px;
    font-size: 11px;	
}
.issueCreated li .comment {
    color:#000	
}
.issueCreated li .status  {
    min-width: inherit;
}
button.btn.add-comment.new-action {
    background: transparent;
    border-radius: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 100%;
    margin: 5px -5px 5px -1px;
    padding: 2px;
    font-size: 12px;
    color: #4285f4;
}
button.btn.add-comment.new-action:hover {
    background:#f6f6f6;
    color:#999
}
.comments-on-ticket {
    background: #f6f6f6;
    margin: 0px;
    margin-top: -2px;
    box-shadow: inset 0 2px 3px rgba(0,0,0, .1);
}
.inputComment.create-issue {
    box-shadow: none;
    -webkit-box-shadow: none;
    background: #fff;
    margin: 0;
    padding: 0;
}
.inputComment .comment-form {
    border: 1px solid #f2f2f0;
    border-left: 0;
    border-right: 0;
    padding: 5px;
    margin: 0;
    border-top: 0px solid #f2f2f0;
    padding-top: 0;
    border-bottom: 0;
}
p.author-name {
    margin: 0;
    font-weight: 600;
    color: #666;
}
textarea.comment-box.right-of-avatar {
    border: 1px solid #ddd;
    padding: 4px 5px;
    color: #000;
}
a.action-link.post.active {
    background: #4285f4;
    border: #4285f4 1px solid;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    transition: all .2s ease-in-out;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    padding: 3px 6px;
    line-height: 1;
}
a.action-link.cancel {
    border-radius: 3px;
    border-color: #ddd;
    position: inherit;
    color: #58666e;
    font-weight: 600;
    font-size: 13px;
    background: #fff;
    font-size: 12px;
    padding: 3px 6px;
    line-height: 1;
}
.add-new-ticket .new-ticket-container {
    margin: 5px -5px -7px -5px;
    font-family: 'Source Sans Pro';
    text-align: left;
}
.submit-action {
    padding: 5px 0;
}
.resizer-container {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    background: #f6f8f8;
    border: none;
    border-bottom: 1px solid #eee;
}
.dropdown.meta-dropdown.open .dropdown-menu {
    border: 1px solid #ccc;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background:transparent;
}
.dropdown-menu>li>a:hover{
    background:#eee;
    color: #333;
}
a.cke_dialog_ui_button, a.cke_dialog_ui_button:hover {
    background: #4285f4;
    border: #4285f4 1px solid;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    transition: all .2s ease-in-out;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    padding: 3px 6px;
    min-width: 50px;
}
.lm-rochak>div {
    font-size:50px;
    color: #ddd; margin-top: 4px;
}
.lm-rochak strong {
    display: block;
}
.lm-rochak {
    text-align: center;
    font-size: 13px;
}
.lm-rochak.lm-val-error, .lm-rochak.lm-val-error div  {
    color: #e53359;
}
.lm-rochak.lm-val-success, .lm-rochak.lm-val-success div {
    color: #12ac77;
}
.lm-err-list {
    background: #fff;
    color: #333;
}
.lm-err-list div {
    border-top: 1px solid #ddd;
    font-size: 14px;
    padding: 5px;
    line-height: 18px;
}
.lm-err-list div p {
    margin: 2px 0;
    font-size: 13px;
    font-weight: 600;
    color: #777;
}
.nav-tabs>li {
    padding-top: 3px;
}
.right-pane .menu-block {
    width: 129px !important;
    background: rgba(0,0,0,.5);
    min-height: 32px;
    padding: 10px 0 10px 16px;
}
.right-pane .menu-block:hover {
    background: rgba(0,0,0,.9);
}
.right-pane .tab-name {
    color:#eee;
    font-family: 'Source Sans Pro';

}
.right-pane .menu-block .glyphicon.glyphicon-th {
    /*  margin-top: 0;
    height: 100%;
    background: #f00;
    top: 0;
    left: 0;
    border-radius: 3px 0 0 3px;
    */}
.right-pane .tab-name {
    padding-left: 2px;
    width: 110px;
}
.menu-block.ui-draggable.ui-draggable-dragging {
    background: #4285f4;
    box-shadow: 0 0 18px 0 rgba(0,0,0,0.4);
}
#cke__editor.cke .ui-state-highlight>div {
    background: #673ab7;
    padding: 2px 5px;
    font-size: 10px;
    text-align: center;
    border: 0;
    color: #fff;
    font-size: 9px;
    line-height: 1;
    font-family: sans-serif;
    position: relative;
    top: -15px;
    display: inline-block;
    border-radius: 3px;
}
#cke__editor.cke .ui-state-highlight::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 0 solid #800080;
    position: absolute;
    left: -5px;
    margin-top: -7px;
}
#cke__editor.cke .ui-state-highlight {
    /* border-top: 16px dashed #f00 !important; */
    height: 4px !important;
    background-color: #673ab7;
    border: 0;
    box-shadow: 0 0 10px rgba(0,0,0, .5);
    border-radius: 10px;
    text-align: center;
    padding: 2px;
}
.highlightSelected::before {
    border: 2px solid #673ab7;
    content: "";
    height: 100%;
    left:-2px;
    position: absolute;
    width: 100%;
    top: -2px;
}
#highlighter{
    border-left: 1px solid #eee;
    height:49px;
    line-height: 49px;
    text-transform: uppercase;
    color: #666;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    padding:0 12px;
}
#highlighter.active{
      color: #4285f4;
}

.iframeDropOverlay {
    height: 100%;
    opacity: 0.5;
    position: absolute;
}

.fa-tree-view{

}

.fa-tree-view:before{
    content: "\f142";
}
.tree_view{
    padding: 10px;
    font-size: 12px;
}

.tree_view ul {
    margin-left: 10px;
    padding-left: 0;
}

.tree_view .expandToc{
    padding: 5px;
    margin-left: 2px;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    position: absolute;
    left: -22px;
    top: 0;
}

.tree_view .closed ul{
    display: none !important;
}
.tree_view .opened ul{
    display: block;
}

.tree_view li{
    margin: 5px;
    padding-left: 0;
    list-style: none;  
}
.tree_view span.items {
    position: relative;
    cursor: pointer;
}

.cke_wysiwyg_frame{width: 100% !important; height: 100% !important;}

.li_vis.hidden{display: none;}
.li_vis.show{visibility: hidden !important;}
li.ui-state-highlight-left-pane{list-style: none}
.ui-sortable-helper{
    background-color: #fff
}

.full-screen{width: 100% !important; height: 100% !important;margin:0px !important;}
.full-screen .modal-content, .full-screen .modal-content .popup-boxes, .full-screen .modal-content .popup-boxes .inner-modal-content{height: 100% !important;}
.full-screen .inner-modal-content{padding:0px !important;}
.compare-frame{width: 100%;  height: 86%;  margin: 0px auto;   border: 1px solid #ddd;  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);}
.compare-frame iframe{ border:0;}
.ver-opt-table{  width: 40%;
  margin: 0px auto;
  /*background-color: #F9F9F9;*/
  /*border: 1px solid #eee;*/
}
.ver-opt-table .dropdown.form-control{width:auto;}
.ver-opt{text-align: center;}

.ver-opt-drop{width: 40%;  padding: 5px 10px;}
/*.ver-opt-drop .dropdown{width: 65%;}*/

.ver-opt-check{width: 10%;}

.ver-opt-btn{width: 10%;}
#compare_toc_versions{ margin-right:5px;}
.compare-frame iframe .diff{ border:0;}
#img_modal ul.dropdown-menu{position: relative;   width: 100%; max-height: 120px; overflow: auto; margin-bottom:10px;}

.toc-btn{
/*    background: #4285f4;*/
    border-right: 1px solid #eee;
    width: 23px;
    line-height: 50px;
    font-size: 14px;
    color: #444;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 50px;
    position: absolute;
/*    overflow: hidden;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: -5px;
}
.toc-btn button{
    background: transparent;
    color: #000;
    margin-left: -2px;
}

.toc-btn .expandToc{
    margin-right: 3px;
    border: 1px solid #000;
    float: left;
}

.toc-btn .contPreview{
    margin-left: 3px;
    border: 1px solid #000;
}

.toc-btn button span{
    position: relative;
    left: -8px;
    opacity: 0.6;
}

.toc-btn .nested_with_switch{
    max-height: 500px;
    overflow: auto;
}

.toc-btn .dropdown-menu li{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #000;
    padding-left: 5px;
}

.toc-btn .placeholder{
    border-top: 2px solid red;
}
.display_none{
    display: none;
}