.collapsibleList li{
    /*    list-style-image:url('button.png');
        cursor:auto;*/
    list-style: none;
}

/*li.collapsibleListOpen{
    list-style-image:url('button-open.png');
    cursor:pointer;
    list-style: none;
}

li.collapsibleListClosed{
    list-style-image:url('button-closed.png');
    cursor:pointer;
    list-style: none;
}*/

li.collapsibleListClosed > ul {
    display: none;
}
li.collapsibleListOpen > ul {
    display: block;
}
button.cont_area_box{
    height: 20px;
    width: 20px;
    border: 1px solid #FFF;
    position: relative;
    top: 4px;
    left: 3px;
    cursor: pointer;
}
.collapsibleList li.collapsibleListClosed>.btn.btn_arrow{background-image:url('button.png'); background-repeat:no-repeat; border:0; background-color:transparent; background-position:7px 2px;}
.collapsibleList li.collapsibleListOpen>.btn.btn_arrow{background-image:url('button-open.png'); background-repeat:no-repeat; border:0; background-color:transparent; background-position:7px 2px;}

.cke_widget_wrapper img.cke_reset.cke_widget_mask{ width:100%; height:100%;}
/*.floatingRight{border: 1px solid #000; height: 90%; position: absolute; right: 0; background-color: rgba(0,0,0,0.25); z-index: 2; padding: 0;  text-align: center;}*/
#view_tickets .glyphicon:before{position: initial;}
.ticket-container {  height: 86.8%; background: beige;  float: right; z-index: 9; position: absolute; right: 0; width: 330px; -webkit-box-shadow: -2px 0px 5px rgba(0,0,0,0.3);
                     box-shadow: -2px 0px 5px rgba(0,0,0,0.3); overflow: auto;}
.issue-container{height: auto;width: 100%;}
.blocker {margin-left: 42px; background-color:#d95450; border-radius:4px; border:1px solid #d95450; color:#fff; font-size:10px; text-transform:uppercase; padding:1px 5px;  display:block;  float:left; line-height:normal; margin-bottom:0; font-weight: normal;}
.high{  background-color: #d95450;   border: 1px solid #d95450;}
.medium{background-color: #337ab7; border:1px solid #337ab7;}
.action-link.delete {
    margin-left: 0px;
    border-radius: 4px;
    /*color: #fff;*/
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px;
    display: block;
    float: left;
    line-height: normal;
    margin-bottom: 0;
    font-weight: normal;
    /*background-color: #673ab7;
    border: 1px solid #673ab7;*/
    margin-left: 5px !important;
    cursor: pointer;
    float: right;
}
.action-link.del {
    /*background-color: #673ab7;
    border: 1px solid #673ab7;*/
    margin-left: 5px !important;
    cursor: pointer;
    /*color: #fff;*/
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 3px;
    float: right;
    font-size: 9px;
    margin-top: -35px;
    float: right;
}
#ticket_attachment{
    margin: 0 0 7px 0;
}
.ticketAttachImg{
    float: right;
    margin-top: 4px;
}
.low{background-color: #777; border:1px solid #777;}
.status {margin-left:5px; background-color:#fff; border-radius:4px; border:1px solid #dddddd; color:#868686 !important; font-size:10px; text-transform:uppercase;padding:1px 5px;  display:block;  float:left; line-height:normal; margin-bottom:0; font-weight: normal;}
.action-link.labl{ margin-left:0px; border-radius: 4px; color: #fff; font-size: 10px; text-transform: uppercase; padding: 1px 5px; display: block; float: left; line-height: normal; margin-bottom: 0; font-weight: normal;}
.ticket-container .issue-no { background: #f6f6f6; padding: 10px 10px 10px; font-size: 14px;}
.issue-no p{float: right;}
.ticket-container ul.comments b{ font-weight: normal;}
.ticket-container .panel-body{ padding: 0;}
.ticket-container .panel {  border: 0;  border-bottom: 1px solid #ddd; border-radius: 0; }
.ticket-container .comments.issueCreated{ display: block;}
.ticket-container ul.comments li:last-child{ border-bottom: 0;}
.error-btn.btn{ background: none; padding:0 10px;}
.error-btn.btn .glyphicon-exclamation-sign{ color:#673AB7;   position: relative;  top: 3px;}
.error-btn.btn .glyphicon-exclamation-sign:before{ font-size: 24px;}
.issuesno{ position: absolute; width: 16px; height: 16px; background-color: #fff; border: 1px solid #ddd; font-size: 12px; text-align: center; line-height: 14px; top:5px; right: 5px; border-radius:50%;}
.error-btn2{color:#673AB7;   position: relative; }
.error-btn2 .glyphicon-exclamation-sign:before{ font-size: 24px;}
.ticket-container .panel-group .panel+.panel {
    margin-top: 0px;
}
.ticket-container ul.comments.issueCreated {
    max-height: inherit;
    overflow: inherit;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
.ticket-container .comments {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.ticket-container ul.comments li {
    border: 1px solid #f2f2f0;
    border-left: 0;
    border-right: 0;
    padding: 10px 10px 10px;
    margin-top: -1px;
    width: 100%;
    overflow: hidden;
}

.ticket-container .right-of-avatar {
    float: left;
    width:100%;
    cursor: default;
}
.ticket-container .author-name {
    font-size: 13px;
    line-height: 16px;
    margin: 0 0 2px;
    font-weight: 700;
    text-decoration: none;
    color: #222;
    width: auto;
}
.ticket-container .author-date {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 2px;
    font-weight: 400;
    text-decoration: none;
    color: #222;
    float: right;
    text-align: right;
    width: auto;
}

.ticket-container .actions,.ticket-container .comment, .ticket-container .comment-box {
    margin: 0 0 5px;
    color: #6d6d6d;
    font-size: 13px;
}
.ticket-container .comment{
    font-size: 14px;
    line-height: 18px;   word-wrap: break-word;
}
.inputComment {
    padding: 10px 0;
    -webkit-box-shadow: 1px -1px 3px rgba(0,0,0,0.3);
    box-shadow: 1px -1px 3px rgba(0,0,0,0.3);
    bottom: 0;
    width: 100%; background-color: #fff;
}

.inputComment .add-comment {
    color: #673AB7;
    font-size: 14px;
    line-height: 22px;
    padding: 0 8px;
    letter-spacing: .05em;
    text-decoration: none;
    margin-top: 0px; margin-bottom:10px; display:block;
}

.inputComment .add-comment:before {
    content: "+";
    border: 2px solid #673AB7;
    border-radius: 100px;
    width: 23px;
    height: 23px;
    color: #673AB7;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    float: left;
    margin-right: 15px;
    letter-spacing: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: -1px;
    position: relative;
    left: 10px;
}

.inputComment .comment-form {
    border: 1px solid #f2f2f0;
    border-left: 0;
    border-right: 0;
    padding: 10px 10px 5px;
    margin: 0;
    border-top: 0px solid #f2f2f0;
    padding-top: 0;
    border-bottom: 0;
}
.inputComment .comment-form.active{
    display: block;
}


.comment-box.right-of-avatar {
    width: 190px;
    border: 0px solid #ddd;
    border-radius: 0;
    margin: 0 0 5px;
    color: #6d6d6d;
    font-size: 13px;
}
.readytotest {
    float: left;
    font-size: 11px;
    border: 1px solid #ddd;
    color: #868686;
    width: 90px;
}

.readytotest1 {
    font-size: 11px;
    border: 1px solid #ddd;
    color: #868686;
    width: 75px;
    float: right;
}


.readytotest2 {
    float: left;
    font-size: 11px;
    border: 1px solid #ddd;
    color: #868686;
    width: 75px;
}

.submit-action {
    padding-top: 5px;
}

.submit-action .post, .submit-action .cancel {
    margin-right: 5px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #dddddd;
    color: #868686;
    font-size: 13px;
    text-transform: uppercase;
    padding: 3px 10px;
}
.inputComment .actions a {
    float: left;
}

.inputComment .action-link {
    text-decoration: none;
}

.submit-action .active, .submit-action a:hover {
    color: #0e7cb2;
}
.inputComment .comment-box.right-of-avatar {
    width: 100%; white-space: normal;
}
.comment-form button, .comment-form select{ margin-right: 3px;}
.header-container{  z-index: 10;  position: relative;}
.inputComment.create-issue{top: 0px;}

.comment-loader{position: fixed;right: 0px;height: 100%;width: 330px;overflow: hidden;z-index: 99;top: 55px;background-color: rgba(0,0,0,0.25);}
.comment-loader::before {content: "Loading...";color: #000;font-size: 16px;line-height: 32;text-align: center;padding-left: 157px;}

/*Css for various overlays in the editor*/
.editor-loader, .tree-loader, .version-loader{position: absolute;top: 0px;left: 0px;height: 100%; width: 100%; overflow: hidden; background-color: #000; opacity: 0.8; z-index: 99}

.editor-loader::before {content: "Initializing...";color: #FFF;font-size: 16px;line-height: 41;text-align: center;padding-left: 665px;}

.tree-loader::before {content: "Generating Tree...";color: #FFF;font-size: 16px;line-height: 41;text-align: center;padding-left: 665px;}

.version-loader::before {content: "Fetching The Version...";color: #FFF;font-size: 16px;line-height: 41;text-align: center;padding-left: 665px;}
.issue-container .panel-heading {  padding: 10px 0px;}


.modal-content-container {
    padding: 20px 15px 20px;
    background: #fff;

    border-bottom: 1px solid #ddd;
}

#img_modal .paginate{background: #fff; text-align: center;}
#img_modal .images-select {  top: 35%;}
.modal-content-container {max-height: 275px; overflow-y: scroll; border:0;}
.modal-upload-container {height: 221px; /*overflow-y: scroll; */border:0;padding: 20px 15px 20px;background: #fff;text-align:center;}
#img_modal .nav-tabs>li.active{ border-bottom: 0;}
#img_modal .modal-header.header-m{font-size: 21px;   font-family: Source Sans Pro;   padding: 15px 15px;}
#img_modal .modal-header.header-m .close{  margin-top: -4px;}
#img_modal .nav-for-image{background: #efefef; border-bottom: 1px solid #e5e5e5; padding: 0 0 0 15px;}
#img_modal .nav-for-image li a{    border: 0;color: #880e4f;}
#img_modal .nav-for-image li.active a{border-bottom: 3px solid #880e4f; }
#img_modal .image-tab-content{min-height: 150px;background: #fff;}
#img_modal .img-options { margin-top: 24px;}
.drop-uploader{border: 1px dashed; height: 65%;}
.gadget-row.form-group label{ padding-top:6px;} 
.gadget-row.form-group{ text-align:left; }
.gadget-row.form-group input[type=checkbox]{ margin-top:10px;}
.advancemedia_search .form-control{ height:32px;}
.advancemedia_search #clear_text{ border-left: 1px solid rgba(255, 255, 255, 0.3);}
.selectmedia-text{ font-size:16px; padding-top:6px;}
.concurrent-info{position: absolute;z-index: 11;left: 36%;top:0;}