// @import "abstracts/variables";
// @import "abstracts/mixins";

// header{
//   @include bgcolor($lightest);
// }

// .border{
//   @include border-all(1px, solid, $light);

//   .row{
//     &:first-child{
//       @include border-indv('top', 2px, solid, $secondary);
//     }

//     &:not(:last-child){
//       @include border-indv('bottom', 1px, solid, $dark);
//     }
//   }
// }


h1,
h2 {
  font-size: 14px;
  color: #000;
}

h1 {
  color: #FFFFFF;
  background-color: #3d5afe;
  font-weight: 700;
  font-size: 16px;
}
