<div id="id01">
  <!-- <h1 id="docTitle"> {{isDocument? nodeDetails?.title : 'Node Details'}} </h1> -->
  <header>
    <h1 id="hcs" class="px-3 py-2"> {{nodeDetails?.humanCodingScheme}}</h1>
  </header>
  <main class="content px-3">
    <p class="mb-0" id="fullStatement">{{nodeDetails?.fullStatement}}</p>
  </main>
</div>
<!-- 
<header class="container">
  <div class="row p-3 align-items-center">
    <div class="col-1 p-0 logo">
      <img src="assets/images/logo.svg#logo" alt="ACMT Logo" class="img-fluid" />
    </div>

    <div class="col">
      <h1 class="font-semibold" *ngIf="nodeDetails['CFDocumentURI']['title']">{{nodeDetails['CFDocumentURI']['title']}}</h1>
    </div>
  </div>
</header>

<main class="container">

  <section class="row justify-content-center mt-5" *ngIf="nodeDetails">
    <div class="col-10">
      <h2 class="font-3x font-bold" id="population_desc">Info./Details</h2>

      <div class="col-12 border" role="table" aria-describedby="population_desc">
        <div role="rowgroup">
          <ng-container *ngFor="let item of metadataList">
            <div class="row" role="row" *ngIf="nodeDetails[item.propName]">
              <div class="col-3 py-3" role="rowheader">
                <p class="font-bold mb-0">{{item.displayName}}</p>
              </div>

              <div class="col-9 py-3" role="cell">
                <p class="font-semibold mb-0">{{nodeDetails[item.propName]}}</p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

    </div>

  </section>
</main> -->
<!---->