<div class="row mx-0 admin-user-listing" role="tabpanel">

  <!-- Add User Modal Starts -->
  <app-modal [modalId]="'add-user'" [modalContentId]="'addNewUserContent'"
    [showCloseAlert]="user?.user_id || user?.workflow_stage_role_id" [modalSize]="'small'" (closeEvent)="onCancel()"
    (mouseLeaveEvent)="mouseLeave()">
    <modal-div class="title-text">
      <span *ngIf="!user.user_name" id="addnewusertitle">Add New User</span>
      <span *ngIf="user.user_name" id="editusertitle">Edit User</span>
    </modal-div>

    <modal-div class="body-content">
      <p class="modal--info-txt font-bold" id="addNewUserContent">Invite your team so that you can collaborate faster
        and better.</p>
        <p>Fields marked with an asterisk (
          <span class="mandatory" aria-hidden="true">*</span>) are required.
        </p>
      <form [formGroup]="form">
        <div class="row">
          <div *ngIf="!user.user_name" class="form-group col-lg-6">
            <app-auto-complete [listingObj]="userList" (selectedObject)="selectUserId($event?.user_id)"
              [selectType]="'single'" [uniqueId]="'user_id'" [propName]="'email'" [autoCompleteTitle]="'Email Address'"
              #autoCompleteEmail (clickOutside)="onClickedOutside($event, 'autoCompleteEmail')"></app-auto-complete>
          </div>
          <div *ngIf="user.user_name" class="form-group col-lg-6">
            <label for="email" id="emailLabel" class="font-bold">Email Address
              <span class="mandatory" aria-hidden="true">*</span>
            </label>
            <select class="custom-select" required id="email" name="email" [ngModel]="selectedUser"
              (change)="selectUserId($event.target.value)" [formControl]="form.controls['email']"
              [attr.disabled]="true">
              <option disabled selected="{{ system_email }}">{{ system_email }}</option>
              <option *ngFor="let user of userList" id="{{ user.email }}Btn" [selected]="user.email === system_email" [value]="user.user_id">
                {{ user.email }}
              </option>
            </select>
          </div>

          <div *ngIf="!user.user_name" class="form-group col-lg-6 my-0">
            <app-auto-complete [listingObj]="roleList" (selectedObject)="selectRole($event?.workflow_stage_role_id)"
              [selectType]="'single'" [uniqueId]="'workflow_stage_role_id'" [propName]="'role_name'"
              [autoCompleteTitle]="'Role'" #autoCompleteRole
              (clickOutside)="onClickedOutside($event, 'autoCompleteRole')"></app-auto-complete>
          </div>

          <div *ngIf="user.user_name" class="form-group col-lg-6 my-0">
            <app-auto-complete [listingObj]="roleList" (selectedObject)="selectRole($event?.workflow_stage_role_id)"
              [defaultSelection]="system_role" [selectType]="'single'" [uniqueId]="'workflow_stage_role_id'"
              [propName]="'role_name'" [autoCompleteTitle]="'Role'" #autoComplete
              (clickOutside)="onClickedOutside($event, '')"></app-auto-complete>
          </div>
        </div>
      </form>

    </modal-div>

    <modal-div class="footer-buttons">
      <button type="button" class="btn btn-primary btn-sm" id="oncreateBtn" data-dismiss="modal" (click)="onSubmit()"
        *ngIf="!user.user_name" [disabled]="!formValidation">Create</button>
      <button type="button" class="btn btn-primary btn-sm" id="updateBtn" data-dismiss="modal" (click)="unassignProjectUser()"
        *ngIf="user.user_name" [disabled]="!user.workflow_stage_role_id || !user.user_id">Update</button>
    </modal-div>
  </app-modal>
  <!-- Add User Modal Ends -->

  <div class="mt-2 px-3 col-12">
    <button class="btn btn-primary btn-sm" id="adduserBtn" data-toggle="modal" data-target="#add-user" #myname
      (click)="onEditUser(null)" *ngIf="canAddUser" [disabled]="preventEdit">Add New User<span class="sr-only">Opens in a new dialog</span></button>
  </div>
  <app-data-table class="w-100" [showMenu]="!preventEdit ? true: false" [tableCategory]="'team details'"
    [columnList]="listOfColumn" [dataSet]="projectUserList" [optionList]="optionList"
    (clickedOption)="onOptionClicked($event)"></app-data-table>

</div>
