<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
  <div class="container-fluid align-tabs">
    <app-tab [tabItems]='tabItems' (tabSelectedEvent)="onTabSelected($event)" [currentTab]="currentTab"></app-tab>
    <section class="row align-items-center" role="tabpanel" *ngIf="currentTab === 'case servers'">
      <button class="btn btn-primary btn-sm ml-3 mt-2" id="addNcs" data-toggle="modal" data-target="#addCase"
        (click)='createServer()'>Add New
        CASE Server<span class="sr-only">Opens in a new dialog</span></button>
      <!-- // ----------------for Common Data table----------------- // -->
      <app-data-table [showMenu]="true" class="w-100" [tableCategory]="'Server'" [columnList]="listOfColumn"
        [dataSet]="serverList" [optionList]="optionList" [showLoader]="cServerloader"
        (clickedOption)="onOptionClicked($event)">
      </app-data-table>
    </section>
    <section role="tabpanel" *ngIf="currentTab === 'homepage blocks'">
      <app-homepage-blocks></app-homepage-blocks>
    </section>
    <section role="tabpanel" *ngIf="currentTab === 'document'">
      <app-document-upload></app-document-upload>
    </section>
    <section role="tabpanel" *ngIf="currentTab === 'manage tenant'">
      <app-tenant-list></app-tenant-list>
    </section>

  </div>
  <!-- end of container-fluid -->
</div>
<!-- end of justify-content -->

<!-- Add Case Modal Starts -->
<app-modal [modalId]="'addCase'" [modalContentId]="'addCaseContent'" [showCloseAlert]="form.dirty" [modalSize]="'small'"
  (closeEvent)="clearModalFields()">
  <modal-div class="title-text" id="caseservertitle">
    {{editServer ? 'Edit' : 'Add New'}} CASE Server
  </modal-div>

  <modal-div class="body-content">
    <div class="row">
      <form [formGroup]="form" class="w-100">
        <div class="form-group col-lg-12 col-sm-12">
          <p class="modal--info-txt font-bold" id="addCaseContent">Fill up the information below to add new CASE Server.
            You can downloads from the CASE servers.</p>
            <p>Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are required.
            </p>
          <label for="serverName" class="font-bold" id="serverNameLabel">Server Name <span class="mandatory"
              aria-hidden="true">*</span></label>
          <input type="text" id="serverName" class="form-control font-bold" aria-labelledby="serverNameLabel"
            formControlName="serverName" [(ngModel)]='serverName' (blur)="checkValidation()" (keyup)="disableButton()">
          <div class="error--txt" role="alert">
            <p class="font-bold mb-0" *ngIf="showError" aria-live="polite" aria-atomic="true">Server Name is Mandatory.
            </p>
          </div>
        </div>

        <div class="form-group col-lg-12 col-sm-12">
          <label for="apiUrl" class="font-bold" id="apiUrlLabel">API URL <span class="mandatory"
              aria-hidden="true">*</span></label>
          <input type="text" id="apiUrl" class="form-control font-bold" aria-labelledby="apiUrlLabel"
            formControlName="serverURL" [(ngModel)]='serverURL' (keyup)="buttonDisabled = true">
          <div class="row mt-2">
            <div class="col-8 error--txt" role="alert">
              <p class="font-bold mb-0" *ngIf="form.controls['serverURL'].errors?.pattern">This URL is not valid.</p>
            </div>
            <div class="col-4 text-right">
              <button class="btn btn-clear text-underline" id="testBtncs"
                [disabled]="serverURL==='' || form.controls['serverURL'].errors?.pattern"
                (click)='testConnectionServer()'>Test Connection</button></div>
          </div>
        </div>

        <div class="form-group col-lg-12 col-sm-12">
          <label for="apiDescription" class="font-bold" id="apiDescriptionLabel">API Description</label>
          <textarea id="apiDescription" class="form-control font-bold" aria-labelledby="apiDescriptionLabel"
            formControlName="serverDescription" [(ngModel)]='serverDescription' rows="3"></textarea>
        </div>
      </form>

    </div>
  </modal-div>

  <modal-div class="footer-buttons">
    <button type="button" class="btn btn-primary btn-sm" id="{{editServer ? 'uptBtncs' : 'addBtncs'}}" data-dismiss="modal" [disabled]='buttonDisabled'
      (click)='addServer()'>{{editServer
      ? 'Update' : 'Add'}}</button>
  </modal-div>
</app-modal>
<!-- Add Case Modal Ends -->
