@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.taxonomies {
  &-container {
    // @include margin-all(0 auto);
    // @include padding(0 15px);

    .view-title {
      @include padding-indv('left', 1.25rem);

      li {
        &:first-child {
          @include float(left);
          @include margin-indv(right, .75rem);
        }

        &:nth-child(2) {
          @extend %text-overflow-hidden;
        }
      }
    }
  }

  &--home {
    .title-block {
      .btn {
        &-back {
          @extend .visible;
        }
      }
    }

    .view-title {
      small {
        @include font-size(10);
        @include font-color($darkest);
      }
    }
  }
}

.treeDetailsView {
  overflow-y: auto;
  overflow-x: hidden;
}

.reorder {
  &-helper {
    .mark {
      @include position(fixed);
      @include left(17px);
      @include font-size(10);
      @include border-radius(50%);
      @include bgcolor($light);
      @include padding (9px);
      @include text-align(center);
      width: 30px;
      height: 30px;

      &.up {
        @include top(80px);
      }

      &.down {
        @include bottom(30px);
      }

    }
  }
}

// Taxonomy create 
.create-taxonomy {

  .controls {

    .ic-edit {
      @extend %position-relative;
      @include top(-3px);
    }

  }

}


.template {
  &-select {
    @include padding-all(0, 0, 15px, 0);
  }

  &-preview-link {
    @include padding-all(37px, 0, 0, 0);
    @include font-color($black);
    text-decoration: underline;
  }
}
