<ng-container *ngIf="searchTrigger===false">
  <!-- start of pro tip  -->
  <app-protip *ngIf="showProtip" [type]="type"></app-protip>
  <!-- end of pro tip  -->

  <div *ngIf="showGroupSection && groupManagePermission" class="mx-3 dropdown align-btn">
    <button class="btn btn-icon font-2x border" id="copygrpBtn" type="button" aria-expanded="false" aria-haspopup="true"
      data-reference="parent" data-toggle="dropdown" [disabled]="groupsLoading">
      <em class="far fa-clone"></em> Copy to Group <em class="fa fa-spinner fa-spin" *ngIf="groupsLoading"></em>
    </button>

    <div class="dropdown-menu p-0">
      <div class="p-2 dropdown-menu-scrollable">
        <p class="dropdown-item mb-0" *ngIf="taxonomyGroups.length<1">No set found</p>
        <button type="button" class="btn btn-clear dropdown-item" id="{{grp.group_name.split(' ').join('')+'_'+i}}"
          *ngFor="let grp of taxonomyGroups; let i = index" (click)="onGroupNameClick(grp)">{{grp.group_name}}</button>
      </div>
      <div class="p-2 border-top">
        <button type="button" class="btn btn-clear dropdown-item" id="crtGrpBtn" data-toggle="modal"
          data-target="#createSetModal" (click)="onCreateSetOptionClick()">Create
          Group
        </button>
        <button type="button" class="btn btn-clear dropdown-item" id="mnggrpBtn" data-toggle="modal"
          data-target="#manageSetModal" *ngIf="taxonomyGroups.length" (click)="onManageSetOptionClick()">Manage
          Group</button>
      </div>
    </div>
  </div>

  <div class="row align-items-center align-btn mx-0" *ngIf="groupManagePermission ? !showGroupSection : true">
    <div class="col">
      <button class="btn btn-primary btn-sm" id="crtNtaxo" data-toggle="modal" data-target="#createTaxonomy"
        (click)="onCreateNewTaxonomy()" *ngIf="createTaxonomyButton">Create New Taxonomy<span class="sr-only">Opens in a new dialog</span></button>
    </div>
    <div class="col col-auto project--filter d-flex justify-content-end align-items-center">

      <div class="dropdown d-inline-block mr-2" *ngIf="viewType === 'listview'">
        <button class="btn btn-icon font-1x tooltip top lg position-relative" id="confgBtn" type="button"
          [attr.aria-label]="'Configure Table'" aria-expanded="false" aria-haspopup="true" data-reference="parent"
          data-toggle="dropdown" [disabled]="!canConfirureTable" data-tooltip="Configure Table">
          <em class="fas fa-cog"></em>
        </button>

        <div class="dropdown-menu dropdown-menu-right p-0">
          <div class="p-2 dropdown-menu-scrollable">
            <ng-container *ngFor="let table of tableViewList">
              <button *ngIf="table.showTable" type="button" class="btn btn-clear dropdown-item"
                id="{{table.name.split(' ').join('')}}Btn" (click)="loadTable(table.code_name)"
                [ngClass]="{'active':table.isActive}">{{table.name}}
                Table View
              </button>
            </ng-container>
          </div>

          <div class="p-2 border-top">
            <button type="button" class="btn btn-clear dropdown-item" id="conftblBtn" data-toggle="modal"
              data-target="#tableConfigModal" (click)="resetModal()">Configure
              Table
            </button>
          </div>
        </div>
      </div>

      <div class="mr-3 d-flex align-items-center">
        <p class="d-inline-flex font-bold mb-0 mr-2">{{FILTER_BY_LABEL}}:</p>
        <app-filter-list [filterOptions]="visibleFilterByOptions" [labelFor]="FILTER_BY_LABEL"
          [listToFilter]="taxonomyList" [filterAttribute]="'current_status'"
          [selectedFilterOption]="selectedFilterOption" (filteredList)="filteredList($event);"></app-filter-list>


      </div>

      <div *ngIf="viewType !== 'listview'" class="mr-3 align-items-center">
        <p class="d-inline-flex font-bold mb-0 mr-2">{{SORT_BY_LABEL}}:</p>
        <app-sort-list #sortListRef [sortingArray]="filteredTaxonomyList" [labelFor]="SORT_BY_LABEL" [isProject]="false"
          [sortOptions]="sortOptions" [defaultSortOption]="sortOptions[position]" (sortByoption)=sortByListView($event)>
        </app-sort-list>

      </div>

      <app-view-type *ngIf="!loaderOnDelete" (selectedViewTypeEvent)="changeView($event)"></app-view-type>

    </div>
  </div>
  <!-- end of project filter section  -->

  <ng-container *ngIf="viewType === 'listview';then list_view else card_view "></ng-container>
  <!-- SOF ListView -->
  <ng-template #list_view>
    <app-data-table *ngIf="!loaderOnDelete" #dataTable [showMenu]="true" class="w-100" [columnList]="listOfColumn"
      [tableCategory]="'taxonomy'" [dataSet]="filteredTaxonomyList" [optionList]="optionList"
      [defaultSortBy]="defaultSortByColumn" [selectedOptionList]="defaultFilterOptions" [pagination]="pageDetail"
      [isConfigurable]="true" [showCheckBox]="true" [uniqueField]="'document_id'" [searchText]="searchingText"
      (clickedOption)="onOptionClicked($event)" (linkClicked)="onTaxonomySelected($event)"
      (pageChangeEvent)="getChanges($event)" (rowCheckedEvent)="onRowChecked($event)"></app-data-table>
  </ng-template>
  <!-- EOF ListView -->

  <!-- SOF CardView -->
  <ng-template #card_view>

    <div class="row mt-3 mx-0" *ngIf="taxonomyListButton" role="grid">
      <!-- start of loop -->
      <div *ngIf="filteredTaxonomyList && filteredTaxonomyList.length === 0" class="col-12 text-center">
        <p>No Data Found</p>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4 card-tile"
        *ngFor="let item of filteredTaxonomyList| customFilter: getColumnFilterObj()|slice:startIndex:lastIndex;let i = index">
        <div class="card" id="card-{{i}}" role="gridcell">
          <div class="card-body" aria-live="polite" aria-atomic="true">
            <p class="card-subtitle text-truncate" *ngIf="item.status === STATUS_DRAFT"> Status: Draft Taxonomy</p>
            <p class="card-subtitle text-truncate" *ngIf="item.status === STATUS_PUBLIC_REVIEW"> Status: Public review
            </p>
            <p class="card-subtitle text-truncate" *ngIf="item.status === STATUS_PUBLISHED"> Status: Published Taxonomy
            </p>
            <h2 class="card-title font-bold">
              <a href="javascript:void(0);" (click)="onTaxonomySelected(item)" target="_self" *ngIf="viewTaxonomyButton"
                (focus)="onFocus($event,i)" (blur)="onBlur($event,i)">{{item.title}}</a>
              <a href="javascript:void(0);" target="_self" *ngIf="!viewTaxonomyButton" (focus)="onFocus($event,i)"
                (blur)="onBlur($event,i)">{{item.title}}</a>
            </h2>
            <p class="card-subtitle text-truncate">Projects: {{item.associated_projects_count}}</p>
            <p class="mb-0 text-truncate">{{item.status === 3 ? 'Published on:' : 'Last change:'}} {{ changeDateToLocalTimeZone(item.last_active_date)|
              amCalendar:{sameDay:'[Today at] h:mm A'} }}</p>
            <p class="mb-0 text-truncate">Active since: {{ changeDateToLocalTimeZone(item.created_at)| amCalendar:{sameDay:'[Today
              at] h:mm A'} }}</p>

          </div>
          <div class="row card-footer" *ngIf="taxonomyDeleteButton || taxonomyEditButton"
            [style.visibility]="item.status ===3?'hidden':''">
            <div class="col">
              <ul class="list-inline more-options align-items-center float-right">
                <li class="list-inline-item dropdown dropdown__more tooltip top position-relative"
                  [attr.aria-label]="'Configure'" data-tooltip="Configure">
                  <button class="dropdown-toggle btn btn-icon dropdown-toggle mr-3 p-1"
                    id=" {{item.title.split(' ').join('')}}Btn" data-container="body" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" (focus)="onFocus($event,i)" (blur)="onBlur($event,i)">
                    <em class="icon-icon-more-horiz">
                      <span class="sr-only sr-only-focusable">more option for {{item.title}}
                      </span>
                    </em>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <button (click)="editTaxanomy($event, item);" *ngIf="item.isEditable"
                      class="btn btn-icon dropdown-item" (focus)="onFocus($event,i)" (blur)="onBlur($event,i)"
                      data-toggle="modal" data-target="#createTaxonomy">Edit<span class="sr-only">Opens in a new dialog</span></button>
                    <button (click)="deleteTaxanomy(item)" *ngIf="taxonomyDeleteButton"
                      class="btn btn-icon dropdown-item" (focus)="onFocus($event,i)"
                      (blur)="onBlur($event,i)">Delete</button>
                    <button (click)="setSourceTaxonomyDetails(item)" class="btn btn-icon dropdown-item"
                      (focus)="onFocus($event,i)" (blur)="onBlur($event,i)" data-toggle="modal"
                      data-target="#show-details">Source
                      taxonomy details</button>
                    <button (click)="onCopyTaxonomy(item)" class="btn btn-icon dropdown-item"
                      (focus)="onFocus($event,i)" (blur)="onBlur($event,i)" data-toggle="modal"
                      data-target="#associationSettings">Create
                      a copy</button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end of loop -->

      <div *ngIf="taxonomyList.length == 0 && searchText === false"
        class="alert alert-error alert-dismissible fade show" role="alertdialog" aria-labelledby="dialog1Title">
        <ul class="list-inline align-items-center">
          <li class="list-inline-item">
            <em class="icon-ico-standard"></em>
          </li>
          <li id="dialog1Title" class="list-inline-item font-bold">No Record Found.</li>
          <li class="list-inline-item">
            <button type="button" class="close" id="clsBtntl" data-dismiss="alert" aria-label="Close"
              (click)="onClose()">
              <span aria-hidden="true">X</span>
            </button>
          </li>
        </ul>
      </div>

    </div>
    <app-pagination *ngIf="filterData && filterData.length > minItemPerPage"
      [dataLength]="filterData ? filterData.length : 0" (displayItemRangeEvent)="showDataInRange($event)"
      [defaultPageRange]="pageDetail"></app-pagination>
  </ng-template>
  <!-- EOF CardView -->
  <!--SOF Modal-->
  <app-modal [modalId]="'createTaxonomy'" [showCloseAlert]="((currentOption==='import' && !steps[1] && (importComponent?.form.dirty || importComponent?.selectedFiles.length > 0)) ||
    (currentOption==='build' && taxonomyBuilder?.form.dirty) || nodeOrdered)"
    [showFooter]="currentOption==='import' || (currentOption==='build' && currentStep!==2)"
    [showCancelBtn]="(currentStep===1 && selectedFileType===CSV_TYPE) || (selectedFileType!==CSV_TYPE)"
    [modalSize]="'big'" (closeEvent)="onCancleClick();deactivateSession();">
    <modal-div class="title-text" id="{{modalHeader.split(' ').join('')}}title">
      {{modalHeader}}
    </modal-div>

    <modal-div class="body-content create-taxonomy">
      <div class="row justify-content-center">
        <div class="step col-md-11 col-lg-10 col-xl-8">

          <div>
            <form action="" id="" name="" method="_post">

              <!-- start of step 1 -->
              <div [hidden]="steps[0]">
                <app-taxonomy-create-options (selectedOption)="onOptionSelected($event)" [currentOption]="currentOption"
                  [steps]="'Step 1 of 3'" class="w-100" [isCreateClicked]="isCreateClicked">
                </app-taxonomy-create-options>
              </div>
              <!-- end of step 1 -->

              <!-- start of step 2 -->
              <div *ngIf="currentOption==='import'" [hidden]="steps[1]">
                <app-import-taxonomy #importComponent [currentStep]="1" [totalStepLength]="3"
                  (fileUploadEvent)="onFileUploadEvent($event)" (fileTypeEvent)="onFileTypeEvent($event)"
                  (activateSessionObj)="activateSession($event);" (timeStopEvent)="onTimerStopped($event)" class="w-100"
                  (caseServerChangeEvent)="caseServerChangeEvent($event);">
                </app-import-taxonomy>
              </div>
              <!-- end of step 2 -->

              <!-- start of step 3 -->
              <div *ngIf="currentOption==='import'" [hidden]="steps[2]">
                <app-taxonomy-summary [viewLocation]="'taxolist'" [currentStep]="2" [totalStepLength]="3"
                  [showSummaryDetails]="showSummaryDetails" [selectedFileType]="selectedFileType"
                  [createdOrUpdated]="createdOrUpdated" [totalTaxonomyCountToUpload]="totalTaxonomyCountToUpload"
                  [childrenTaxonomiesCount]="children_taxonomies_count" [associationsCount]="associations_count"
                  [newNodeCount]="new_node_count" [updatedNodeCount]="updated_node_count"
                  [deleteNodeCount]="delete_node_count" [newMetadataCount]="new_metadata_count"
                  [updatedItems]="updatedItems" [updatedMetadata]="updatedMetadata" [errorData]="errorData"
                  [proceedDisabled]="proceedDisabled" [errorInUpload]="errorInUpload">
                </app-taxonomy-summary>
              </div>
              <!-- end of step 3 -->

            </form>
          </div>
          <!-- end of col-4 -->
        </div>
      </div>

      <div *ngIf="currentOption==='build' || currentOption==='edit'">
        <app-taxonomy-builder #taxonomyBuilder [resetTree]="resetTree" [currentStep]="(currentStep+1)"
          (emptyFieldsAlert)="emptyFieldsAlert($event);" (taxonomyUpdateEvent)="onTaxonomyUpdateEvent($event)"
          (templateDataEvent)="onTamplatedSelected($event)" (validEvent)="continueDisabled=!($event)"
          [editTaxonomy]="editTaxonomy" [document_id]="document_id" (nodeRearrengeEvent)="onNodeReordered($event)">
        </app-taxonomy-builder>
      </div>
      <!-- end of row -->

    </modal-div>

    <modal-div class="footer-buttons d-flex align-items-center">
      <button type="button" *ngIf="currentStep===2 && selectedFileType===CSV_TYPE && !uploadFinished"
        class="btn btn-cancel text-underline mr-2" id="not-proceed-Btn" data-dismiss="modal" (click)="onTryAgainClick()"
        [disabled]="proceedDisabled">Don't Proceed! I want to try again.</button>
      <button
        *ngIf="(currentStep===2 && uploadFinished) || (currentStep===3 && (uploadType === 'URL' || selectedFileType === CSV_TYPE))"
        type="button" class="btn btn-primary btn-lg float-right" data-dismiss="modal" id="closeButton"
        (click)="onFinishClick()">Finish</button>
      <button type="button" *ngIf="currentStep<2" class="btn btn-primary btn-lg float-right "
        id="{{!fileUpload ? 'ctnBtntl' : 'upldBtntl'}}" [disabled]="continueDisabled" (click)="onContinueClick()">{{
        !fileUpload ? 'Continue' : 'Upload'}}</button>
      <button *ngIf="currentStep===2 && selectedFileType===CSV_TYPE && !uploadFinished" type="button"
        class="btn btn-primary btn-lg float-right" id="closeButton" [disabled]="proceedDisabled"
        (click)="onProceedWithImportedData()">Proceed</button>
    </modal-div>
  </app-modal>
  <!--EOF Modal-->
  <!--SOF PrieviewModal-->
  <app-modal [modalId]="'previewTemplate'" [modalContentId]="'previewTemplateContent'" [showCloseAlert]="false"
    [showFooter]="false" [modalSize]="'big'">
    <modal-div class="title-text" id="previewtemplatetitle">
      Preview Template
      <span *ngIf="selectTemplateName"> ({{ selectTemplateName }})</span>
    </modal-div>

    <modal-div class="body-content">
      <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5 col-xl-4 node-template-preview" id="previewTemplateContent">
          <app-template-preview [nodeTemplate]="selectedNodeTemplate"></app-template-preview>
        </div>
      </div>
    </modal-div>

  </app-modal>
  <!--EOF PrieviewModal-->

  <!-- SOF Source Details Modal -->

  <app-modal [modalId]="'show-details'" [modalContentId]="'userContent'" [showCloseAlert]="false" [modalSize]="'small'"
    [showDoneBtn]='true'>
    <modal-div class="title-text" id="sourcedetailstitle">
      Source Details
    </modal-div>

    <modal-div class="body-content">
      <ng-container *ngFor="let item of listOfDetails">
        <div>
          <p class="font-bold mb-1" id="{{item.title}}Label">{{item.title}}</p>
          <p *ngIf="item.type === 'text'" id="{{item.value}}">{{item.value}}</p>
          <a *ngIf="item.type === 'link'" href="{{item.value}}" target="_blank" class="text-underline"
            id="{{item.value}}">{{item.value}}</a>
        </div>
      </ng-container>
    </modal-div>

  </app-modal>

  <!-- EOF Source Details Modal -->
</ng-container>
<app-search-listing *ngIf="searchTrigger" [searchResult]="searchResult">
</app-search-listing>

<!-- table configuration modal STARTS -->
<app-modal [modalId]="'tableConfigModal'" [modalSize]="'big'" (closeEvent)="clearData()">
  <modal-div class="title-text" id="configuretabletitle">
    Configure Table
  </modal-div>

  <modal-div class="body-content">
    <app-table-configuration #configTableRef *ngIf="loadConfiguration" [currentData]="currentDataSet"
      [location]="'listing'" [defaultColumnListData]="defaultColumnList" [additionalColumnList]="additionalMetadataList"
      [canSetDefaultForAll]="canSetDefaultForAll" [dropdownData]="dropdownData"
      (savetableColEvent)="updateListView($event)" (enableSaveEvent)="checkSaveValidation($event)">
    </app-table-configuration>
  </modal-div>

  <modal-div class="footer-buttons">
    <button type="button" class="btn btn-primary btn-sm" id="saveBtnCt" data-dismiss="modal" (click)="saveChanges()"
      [disabled]="!enableSaveButton">Save</button>
  </modal-div>
</app-modal>
<!-- table configuration modal ENDS -->

<!-- Association Settings Modal Starts -->
<app-modal [modalId]="'associationSettings'" [modalContentId]="'associationSettingsContent'" [modalSize]="'small'"
  (closeEvent)="cancelOptionsToCopy()">
  <modal-div class="title-text" id="nodeassociationsettingstitle">
    Node Association Settings
  </modal-div>
  <modal-div class="body-content">
    <div class="form-group">
      <label for="taxonomyName" id="taxonomyNameLabel" class="font-bold">Taxonomy Name <span class="mandatory"
          aria-hidden="true">*</span></label>
      <input id="taxonomyName" type="text" required [(ngModel)]="copyTaxonomyName" class="form-control font-bold">
    </div>
    <div class="taxonomy-association-setting-list pt-2">
      <div class="custom-control custom-checkbox pb-1">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="isCopy" id="isCopy"
          (ngModelChange)="change();">
        <label class="custom-control-label font-bold" id="iscopyLabel" for="isCopy">
          Exact Match Of Original node
          <span class="d-block small">Reference of the Original Node will be stored with the new node.</span>
        </label>
      </div>
      <div class="custom-control custom-checkbox mt-2 pb-1">
        <input type="checkbox" class="custom-control-input" id="isCopyAssociation" [(ngModel)]="isCopyAssociation">
        <label class="custom-control-label font-bold" id="isCopyAssociationLabel" for="isCopyAssociation">
          Also copy Associations
          <span class="d-block small">Along with the node details, Association details will get copied.</span>
        </label>
      </div>

    </div>
  </modal-div>
  <!-- Modal footer -->
  <modal-div class="footer-buttons">
    <button type="button" class="btn btn-primary btn-sm" id="saveBtnNas" [disabled]="copyTaxonomyName === ''"
      (click)="createCopy()" data-dismiss="modal">Save</button>
  </modal-div>
</app-modal>
<!-- Association Settings Modal Ends -->

<!-- Taxonomy Groups modal Starts -->
<app-taxonomy-groups [taxonomyIds]="checkedTaxonomyIds" [taxonomyGroups]="taxonomyGroups" #grpTaxonomy
  (actionEvent)="onTaxonomyGroupAction($event)">
</app-taxonomy-groups>
<!-- Taxonomy Groups modal Ends -->
<ng-container *ngIf="loaderOnDelete">
  <app-preloader [loaderText]="'Deleting Taxonomy...'" class="w-100 position-fixed preloader-backdrop"></app-preloader>
</ng-container>
