@import "abstracts/variables";
@import "abstracts/mixins";

.compliance{
    &-report{
        .panel{
            &-left{
                @include border-indv('right', 1px, solid, $light);
            }
        }
    }

    &-publish{
        &-report{
            .col{
                &-summery{
                    @include padding-indv('right', 60px);
                }
                &-fields-data{
                    @include padding-indv('right', 110px);
                }
                &-nodes-data{
                    @include padding-indv('right', 95px);
                }
            }
        }
    }
}
