<section class="row align-items-center" role="tabpanel">
  <ul class="list-inline d-flex mb-0 ml-3 mt-2">
    <li class="list-inline-item">
      <button class="btn btn-primary btn-sm" data-toggle="modal" [attr.data-target]="'#'+modalId"
        (click)="onCreateTenantClick()">Create Tenant<span class="sr-only">Opens in a new dialog</span>
      </button>
    </li>
  </ul>

  <app-data-table [showMenu]="true" [tableCategory]="'tenant'" class="w-100" [columnList]="listOfColumn"
    [dataSet]="tenantList" [optionList]="optionList" [dropdownItems]="statusList" [showLoader]="tenantsLoader"
    [defaultSortBy]="defaultSortBy" (clickedOption)="onOptionClicked($event)" (clickedStatus)="changeStatus($event)">
  </app-data-table>
</section>

<!-- Tenant Create Starts -->
<app-create-tenant [actionType]="actionType" [selectedTenant]="selectedTenant" (actionEvent)="onActionComplete($event)">
</app-create-tenant>
<!-- Tenant Create Ends -->

<!-- View Links Modal Starts -->
<app-modal [modalId]="'viewLinksModal'" [showCloseAlert]="false" [modalSize]="'small'"
  (closeEvent)="onCancelViewLinkModal()">
  <modal-div class="title-text">
    View Links
  </modal-div>

  <modal-div class="body-content">
    <div class="w-100 mb-3" *ngFor="let link of viewLinkList;">
      <ng-container *ngIf="link.value">
        <p class="font-bold mb-1">{{link.title}}</p>

        <div class="d-flex w-100 justify-content-between align-item-center">
          <div class="col-10 p-0 text-wrapped">
            <p class="mb-0">{{link.value}}</p>
          </div>

          <div class="col-auto p-0" *ngIf="link.isCopy">
            <button type="button" class="btn btn-icon btn-sm tooltip top position-relative" data-tooltip="Copy link" [copy-clipboard]="link.value" (copied)="onCopied($event)"
              [attr.aria-label]="'copy link'">
              <em class="far fa-copy"></em>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </modal-div>
</app-modal>
<!-- View Links Modal Ends -->
