<div id="accordion" class="accordion mt-4">

  <div
    [ngClass]="item?.children.length>0?(item?.selected?'card has-child mb-3 clicked':'card has-child mb-3'):item?.selected?'card mb-2 clicked':'card mb-2'"
    draggable="true" id="{{item?.id}}">

    <div class="d-flex card-header align-items-start" [ngClass]="item?.isSelected?'drag-started':''" id="{{item?.id}}">

      <div class="col-auto pl-2 pr-0">
        <button class="btn btn-clear btn-drag p-0" id="{{item?.id}}">
          <img src="assets/images/move.gif" id="{{item?.id}}" class="img-fluid ic-dismiss" alt="move" />
        </button>
      </div>

      <div class="col px-2 item pl-2 pt-2 child-container" id="{{item?.id}}">
        <p class="item-type font-bold text-uppercase mb-0" id="{{item?.id}}">
          {{item?.item_type==='Container'?item?.node_type:item?.item_type}}</p>
        <button id="{{item?.id}}" class="item-name text-wrapped text-left font-bold btn btn-clear p-0 btn-block"
          *ngIf="(item?.item_type!=='Container')"
          (click)="onItemClick(item)">{{item?.human_coding_scheme}}:{{item?.full_statement | slice:0:200}}{{item?.full_statement.length>200?'...':''}}</button>
        <button id="{{item?.id}}" class="item-name text-wrapped text-left font-bold btn btn-clear p-0 btn-block"
          *ngIf="(item?.item_type==='Container')"
          (click)="onItemClick(item)">{{item?.full_statement| slice:0:200}}{{item?.full_statement.length>200?'...':''}}</button>
        <p class="item-description mb-2" id="{{item?.id}}" *ngIf="(item?.item_type!=='Container')">
          {{item?.document_title}}
        </p>

        <div id="{{item?.id}}" style="min-height: 8px; margin-bottom: 10px;"
          [ngClass]="(item?.isSelected||item?.id===selectedParentId)?'':item?.dragStarted?'d-flex drop-zone':''">

        </div>
      </div>

      <div class="col-auto pl-0 pr-1">
        <span class="more-option dropdown">
          <button class="btn btn-clear" data-reference="parent" data-toggle="dropdown" aria-expanded="true"
            aria-haspopup="true">
            <em class="icon-icon-more-horiz icon-rotate-90">
              <span class="sr-only sr-only-focusable">more option</span>
            </em>
          </button>

          <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0);" class="dropdown-item" (click)="onDeleteEvent(item?.id)">Delete</a>
          </div>

        </span>
      </div>

    </div>


    <div id="{{item?.id}}" class="collapse show tabbing" *ngIf="item?.children.length>0"
      [attr.data-parent]="'#'+item?.id" [attr.aria-labelledby]="item?.id" style="margin-left: 34px;">

      <app-node *ngFor="let child of item?.children;let i=index;" [level]="level+1" [item]="child" [isChild]="true"
        (deleteEvent)="onDeleteEvent($event)" [selectedParentId]="selectedParentId"
        (selectedNodeItem)="onItemClick($event)"></app-node>
    </div>
  </div>
  <div *ngIf="item?.isSelected" class="d-flex phantom" style="height: 73px; margin: 5px 0;">

  </div>

</div>
