<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="glossary">  
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title">
                    <div class="pull-right"> 
                        <!--button type="button" class="btn btn-default" ng-click="backToDashBoard(object_details.toc_creation_status, project_id);"> <i class="fa fa-chevron-left"></i>Back to Dashboard</button-->
                        <back-to-dashboard ng-if="project.id" project="project"></back-to-dashboard>
                        <button type="button" class="btn btn-primary" ng-click="addGlossaryForm('')" ng-show="project.project_permissions['glossary.create'].grant">Create New Glossary</button>
                        <button type="button" class="btn btn-primary" ng-click="downloadCSV()" ng-show="project.project_permissions['glossary.create'].grant"><span class="glyphicon glyphicon-download-alt"></span></button>
                    </div>
                    <div class="pull-middle"> 
                        {{object_details.name}}
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">
                            <!--/*stucture modified for all pages*/-->
                            <div class="from-container-row" ng-show="project.project_permissions && !project.project_permissions['glossary.show.all'].grant">
                                <div class="pattern-list-container">
                                    <div class="alert alert-danger" role="alert"><center>Sorry! Access Prohibited!</center></div> 
                                </div>
                            </div>
                            <div class="from-container-row" ng-show="project.project_permissions['glossary.show.all'].grant">
                                <div class="pattern-list-container">
                                    <div class="page-title">Glossary</div>
                                    <div style="text-align:center;">
                                        <ul class="pagination">
                                            <li ng-class="{'active': !char_code}"><a data-target="#/glossary" ng-click="getList()">All</a></li>
                                            <li ng-class="{'active': char.code == char_code}" ng-repeat="char in charList"><a data-target="#/glossary/{{char.code}}" ng-bind-html="char.char | innerHtml" ng-click="getListByChar(char.code)"></a></li>
                                        </ul>
                                    </div>
                                    <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0" ng-if="totalGlossary">
                                        <thead>
                                            <tr>
                                                <th width="30%" <!--style="cursor: pointer;" ng-click="orderByField = 'original_term';
                                                            reverseSort = !reverseSort"-->Term <!--<span ng-show="orderByField == 'original_term'"><span ng-show="!reverseSort" class="glyphicon glyphicon-sort-by-alphabet"></span><span ng-show="reverseSort" class="glyphicon glyphicon-sort-by-alphabet-alt"></span></span>--></th>
                                                <th width="40%">Description </th>
                                                <th width="30%">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--tr ng-repeat="glossary in glossaryList"-->
                                            <tr dir-paginate="glossary in glossaryList | itemsPerPage: itemsPerPage" total-items="totalGlossary" current-page="currentPage" pagination-id="glossaryListId">
                                                <td>{{glossary.term| capitalize_first}}</td>
                                                <td>{{glossary.description}}</td>
                                                <td><button type="button" class="btn btn-default2" ng-click="editGlossary('', glossary.id)" ng-show="project.project_permissions['glossary.update'].grant">Edit</button> 
                                                    <button type="button" class="btn btn-default2" ng-click="viewGlossary('', glossary.id)" >View</button> 
                                                    <button type="button" class="btn btn-default2" ng-click="deleteGlossary(glossary.id, glossary.project_id)" ng-show="project.project_permissions['glossary.delete'].grant">Delete</button></td>

                                            </tr>                                            
                                            <tr>
                                                <td colspan="3">
                                                    <!-- Pagination Starts Here -->
                                        <dir-pagination-controls class="dir_pagination"
                                                                 boundary-links="true" 
                                                                 pagination-id="glossaryListId" 
                                                                 on-page-change="pageChangeHandlerGlossary(char_code, newPageNumber)" 
                                                                 template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                                        </dir-pagination-controls>
                                        <!-- Pagination Starts End -->
                                        </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    
                                    <div ng-if="totalGlossary == 0">
                                        <div class="clearfix"></div>
                                        <div class="alert alert-danger" role="alert"><center>No glossary terms defined yet. Start adding now.</center></div>                        
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <!--/*//////stucture modified for all pages*/--> 
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
        <!--FOOTER STARTS HERE-->
        <div ng-include src="'templates/footer.html'" class="footer-container"></div>
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>