<div class="popup-boxes" ng-cloak>
    <form>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}}</div>
        <div class="inner-modal-content tab-contents">
            <div class="group inputfrom">                  
                {{term| capitalize_first}}
                <hr>
                {{description}}
            </div>
            <div class="modal-footer">            
                <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>