<div class="popup-boxes" ng-cloak>
    <form>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title">{{modalFormText}}</div>

        <div class="inner-modal-content tab-contents">
            <div class="group inputfrom">      
                <input ng-model="term" name="term" type="text" class="form-control" id="" placeholder="Term" >
                <span class="highlight text-danger">{{formError['term']}}</span>
                <span class="bar"></span>
                <!--            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Term</label>-->
            </div>
            <div class="group inputfrom">      
                <textarea ng-model="description" name="description" type="text" class="form-control" id="" placeholder="Description" ></textarea>
                <span class="highlight text-danger">{{formError['description']}}</span>
                <span class="bar"></span>
                <!--            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Description</label>-->
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">            
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button ng-hide="showedit" class="btn btn-primary" ng-click="add()">CONFIRM</button>
            <button ng-show="showedit" class="btn btn-primary" ng-click="edit()">CONFIRM</button>
        </div>
    </form>
</div>