<app-modal [modalId]="'importTaxonomyModal'" [showCloseAlert]="currentStep===1" [modalSize]="'big'"
  [showCancelBtn]="currentStep===0" (closeEvent)="onCancelClick()">
  <modal-div class="title-text">Update Taxonomy</modal-div>

  <modal-div class="body-content">
    <div class="row justify-content-center align-items-top h-100">
      <!-- start of step 1 -->
      <div class="col-md-11 col-lg-10 col-xl-8" [hidden]="steps[0]">
        <app-import-taxonomy #importComponent [viewLocation]="'taxodetail'" [selectedFileType]="selectedFileType"
          [documentId]="documentId" [currentStep]="0" [totalStepLength]="2" [csvUpdateOnly]="true"
          (fileUploadEvent)="onFileUploadEvent($event)" (fileTypeEvent)="onFileTypeEvent($event)" class="w-100">
        </app-import-taxonomy>
      </div>
      <!-- end of step 1 -->

      <!-- start of step 2 -->
      <div class="col-md-11 col-lg-10 col-xl-8" [hidden]="steps[1]">
        <app-taxonomy-summary [viewLocation]="'taxodetail'" [currentStep]="1" [totalStepLength]="2"
          [showSummaryDetails]="showSummaryDetails" [selectedFileType]="selectedFileType"
          [createdOrUpdated]="createdOrUpdated" [totalTaxonomyCountToUpload]="totalTaxonomyCountToUpload"
          [childrenTaxonomiesCount]="children_taxonomies_count" [associationsCount]="associations_count"
          [newNodeCount]="new_node_count" [updatedNodeCount]="updated_node_count" [deleteNodeCount]="delete_node_count"
          [newMetadataCount]="new_metadata_count" [updatedItems]="updatedItems" [updatedMetadata]="updatedMetadata"
          [errorData]="errorData" [proceedDisabled]="proceedDisabled">
        </app-taxonomy-summary>
      </div>
      <!-- end of step 2 -->
    </div>
  </modal-div>

  <modal-div class="footer-buttons">
    <!-- <button type="button" *ngIf="currentStep===1 && !uploadFinished" class="btn btn-cancel text-underline mr-2"
      data-dismiss="modal" (click)="onTryAgainClick()" [disabled]="proceedDisabled">Don't Proceed! I want to try
      again.</button>
    <button *ngIf="currentStep===1 && !uploadFinished" type="button" class="btn btn-primary btn-lg float-right"
      id="closeButton" [disabled]="proceedDisabled" (click)="onProceedWithImportedData()">Proceed</button> -->
    <button *ngIf="currentStep===1 && !uploadFinished" type="button" class="btn btn-primary btn-lg float-right"
      data-dismiss="modal" id="closeButton" (click)="onFinishClick()">Finish</button>
    <button type="button" *ngIf="currentStep<1" class="btn btn-primary btn-lg float-right "
      [disabled]="continueDisabled" (click)="onContinueClick()">Upload</button>
  </modal-div>
</app-modal>
