@import "abstracts/variables";
@import "abstracts/mixins";

.preloader{
    &-backdrop{
        @include left(0);
        @include top(0);
        @include z-index(10);
        background-color: transparentize($color: $lighter, $amount: .3);
    }
}