<ng-container *ngIf="searchTrigger===false">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <div class="container-fluid align-tabs p-0">

      <app-tab [tabItems]='tabItems' (tabSelectedEvent)="onTabSelected($event)" [currentTab]="currentTab"></app-tab>

      <section class="col-12 px-0" role="tabpanel" *ngIf="currentTab==='home'">
        <div class="tab-container d-flex align-items-center justify-content-between pb-3 px-3">
          <div class="col-auto px-0 d-flex align-items-center justify-content-start">
            <!-- <span class="d-inline-block mr-2"><em class="icon-ico-folder-open parent-folder"></em></span>
            <h2 class="mb-0 pr-2 text-truncate pacing-guide-sub-title">{{taxonomyData.title}}</h2> -->
            <button type="button" class="btn btn-icon font-1x tooltip top top-left font-1x position-relative" id="editprojectBtn"
              [attr.aria-label]="'Edit project'" data-tooltip="Edit project" (click)="onEditClick()">
              <em class="fas fa-pen"></em>
            </button>

            <!-- search section STARTS -->
            <app-tree-search #treeSearch [intializeCondition]="isFirstSearchInitialise && isSearching"
              *ngIf="currentTreeTab==='detailview' || selectedTable !== 'node_type_table'"
              [filterCriteriaList]="filterCriteriaList" [treeData]="taxonomyData"
              (searchEvent)="captureSearchEvent($event)" (loaderEvent)="setLoaderEvent($event)"></app-tree-search>
            <!-- search section ENDS -->
          </div>

          <div class="col-auto px-0 d-flex">

            <!-- Table View Configuration button  STARTS -->
            <div class="dropdown d-inline-block" *ngIf="currentTreeTab ==='tableview' && canConfigureTableView">

              <!-- Setting Button STARTS -->
              <button type="button" class="btn btn-icon font-1x tooltip top font-1x position-relative mr-1" id="conftableBtn"
                [attr.aria-label]="'Configure Table'" data-tooltip="Configure Table" aria-expanded="false"
                aria-haspopup="true" data-reference="parent" data-toggle="dropdown">
                <em class="fas fa-cog"></em>
              </button>

              <!-- Setting Button ENDS -->

              <!-- drop-down STARTS -->
              <div class="dropdown-menu dropdown-menu-right p-0">
                <div class="p-2 dropdown-menu-scrollable">
                  <ng-container *ngFor="let table of tableViewList">
                    <button type="button" class="btn btn-clear dropdown-item" id="{{table.name}}Btn" *ngIf="checkValidity(table)"
                      (click)="loadTable(table.code_name,false,true)"
                      [ngClass]="{'active':table.isActive}">{{table.name}}
                      Table View
                    </button>
                  </ng-container>
                </div>

                <div class="p-2 border-top">
                  <button type="button" class="btn btn-clear dropdown-item mr-1" id="confgtabelBtn" data-toggle="modal"
                    data-target="#tableConfigModal" (click)="openConfigurationPage()">Configure
                    Table
                  </button>
                </div>
              </div>
              <!-- drop-down ENDS -->
            </div>
            <!-- Table View Configuration button  ENDS -->

            <button
              *ngIf="currentTab === 'home' && currentTreeTab ==='tableview' && selectedTable === 'node_type_table' && currentDataSet"
              class="btn btn-icon tooltip top mr-1" id="exporttabelBtn" data-tooltip="Export Table" (click)="exportTable()"
              [aria-label]="'Export table'">
              <em class="fas fa-download"></em>
            </button>

            <app-tree-tab (treeTabSelectedEvent)="onTreeTabSelected($event)" [showExport]="false"
              [currentTreeTab]="currentTreeTab" [treeTabItems]="treeTabItems"></app-tree-tab>
          </div>
        </div>

        <div class="taxonomies-container project-authoring m-0">

          <div id="taxonomyDataContainer" *ngIf="taxonomyData && currentTreeTab !=='tableview'">

            <div *ngIf="currentTreeTab==='detailview'">

              <div id="treeViewContainer" class="d-flex w-100 h-100">
                <as-split direction="horizontal" style="height:auto;">
                  <as-split-area size="50" [minSize]="LEFT_MIN_SIZE" [maxSize]="LEFT_MAX_SIZE">

                    <div id="treeDetailsView" class="pr-0 treeDetailsView"
                      [ngStyle]="{'width': currentTreeTab!=='detailview' ? '100%' : '100%'}">

                      <div id="accordion" class="tree--details"
                        [ngStyle]="{'padding-right': currentTreeTab==='detailview' ? '0' : '15px'}">
                        <div class="pl-3">
                          <ng-container *ngFor="let taxonomy of taxonomyData">
                            <app-tree #tree [treeNodes]="taxonomy.children" [viewLocation]="'project_detail'"
                              [showComplaince]="true" [searchText]="searchText" [searchResultList]="searchResultList"
                              [isFilterApplied]="isFilterApplied" [isReset]="isReset">
                            </app-tree>
                          </ng-container>
                        </div>

                      </div>
                    </div>
                  </as-split-area>
                  <as-split-area size="50">
                    <!-- Preview Panel START-->
                    <section id="right_container_id" class="col-12 pt-3 bg-lighter preview-panel overflowY-auto">
                      <app-item-details #itemDetailsComponent [showUserFriendlyPage]="showUserFriendlyPage" [isEditable]="isEditable" [viewLocation]="viewLocation"
                        [view]="'view'" [showNodeType]="true" [taxonomyData]="taxonomyData"
                        [treeTaxonomyData]="taxonomyData" [showAssociation]="showAssocciation"
                        [showAdditionalMetadata]="showAddMetaData" [showExemplar]="showExemplar"
                        [showDocument]="showDocument" [addedAdditionalMetadata]="itemAdditionalMetadata"
                        [itemExemplars]="itemExemplars" [itemAssets]="itemAssets" [itemAssociations]="itemAssociations"
                        [itemLinkedNodes]="itemLinkedNodes" [canPreview]="false" [isAllNode]="false"
                        [showNavigation]="showNavigation" (nextClickEvent)="onNextNavigationClick($event)"
                        (previousClickEvent)="onPreviousNavigationClick($event)">
                      </app-item-details>
                    </section>
                  </as-split-area>
                </as-split>
                <!-- end of preview label record set -->

              </div>
              <!-- <section class="row w-100 h-100" [hidden]="currentTreeTab!=='graphview'">
                <div class="col-12 text-center" id="tree_graph_container"></div>
              </section> -->
            </div>
          </div>
          <ng-container>
            <div class="mt-2 px-3">
              <ng-container
                *ngIf="(isLoading || isSearching) && currentTreeTab ==='tableview' && !isFirstSearchInitialise">
                <app-preloader *ngIf="(isLoading || isSearching) && currentTreeTab ==='tableview'"
                  [loaderText]="isSearching ? (isFirstSearchInitialise ? 'Initializing Data...': 'Searching...') : 'Loading Table...'" class="w-100 position-fixed preloader-backdrop">
                </app-preloader>
              </ng-container>
              <app-tabular-tree-view #tabularView [itemComplianceReports]="itemComplianceReports"
                [listOfClass]="listOfClass" [dynamicClass]="dynamicClass" [listOfColumn]="listOfColumn"
                [assignedToMe]="assignedToMe"
                [showView]="currentTreeTab ==='tableview' && currentTab==='home' && selectedTable !== 'node_type_table' && !isLoading"
                [isEditable]="!preventEdit" [searchText]="searchText" [searchResultList]="searchResultList"
                [isFilterApplied]="isFilterApplied" [isReset]="isReset" [showUserFriendlyPage]="showUserFriendlyPage">
              </app-tabular-tree-view>
              <app-node-type-table-view #nodeTypeTableView
                *ngIf="currentTab === 'home' && currentTreeTab ==='tableview' && selectedTable === 'node_type_table' && currentDataSet"
                [headerData]="currentDataSet.taxonomy_list_setting" [treeData]="taxonomyData"
                [isCompatible]="isCompatible">
              </app-node-type-table-view>
            </div>
          </ng-container>

        </div>
      </section>

      <ng-container 
        *ngIf="(!taxonomyData && currentTreeTab ==='detailview') || (isSearching && currentTreeTab ==='detailview') && !isFirstSearchInitialise">
        <app-preloader
          *ngIf="(!taxonomyData && currentTreeTab ==='detailview') || (isSearching && currentTreeTab ==='detailview')"
          [loaderText]="isSearching ? (isFirstSearchInitialise ? 'Initializing Data...': 'Searching...') : 'Loading Project...'" class="w-100 h-100 position-absolute preloader-backdrop">
        </app-preloader>
      </ng-container>
      <div *ngIf="taxonomyData && currentTab==='documents'" role="tabpanel">
        <app-project-document [projectId]="projectId"></app-project-document>
      </div>

      <div *ngIf="taxonomyData && currentTab==='team'" role="tabpanel">
        <app-team-detail [canEditUser]="editUserPermission" [canAddUser]="addUserPermission" [canDeleteUser]="true">
        </app-team-detail>
      </div>

      <div class="col-12 h-100" *ngIf="currentTab==='reports'" role="tabpanel">
        <app-project-compliance-report [projectId]="projectId"></app-project-compliance-report>
      </div>

      <div class="row justify-content-center" *ngIf="currentTab==='comments'" role="tabpanel">
        <div class="col-12">
          <app-comment-list [itemID]="projectId" [itemType]=2 [viewLocation]="'project'"
            [defaultSelection]="defaultCommentType"></app-comment-list>
        </div>
      </div>
    </div>
    <!-- end of container-fluid -->
  </div>
  <!-- end of justify-content -->

  <!-- table configuration modal STARTS -->
  <app-modal [modalId]="'tableConfigModal'" [modalSize]="'big'" (closeEvent)="cancelChanges()">
    <modal-div class="title-text" id="configurtabletitle">
      Configure Table
    </modal-div>

    <modal-div class="body-content">
      <app-table-configuration #configTableRef [currentData]="currentDataSet" [location]="'detail'"
        [defaultColumnListData]="defaultColumnList" [additionalColumnList]="additionalColumnList"
        [canSetDefaultForAll]="canSetDefaultForAll" [defaultNodeTypeListData]="defaultNodeTypelist"
        [dropdownData]="dropdownData" [emitAddColEvent]="false" [currentTreeTab]="configureTab" [text]="'project'"
        (savetableColEvent)="updateListView($event)" (toggleColumnViewEvent)="toggleColumnView($event)"
        (enableSaveEvent)="checkSaveValidation($event)">
      </app-table-configuration>
    </modal-div>

    <modal-div class="footer-buttons">
      <button type="button" class="btn btn-primary btn-sm" id="saveBtnpd" data-dismiss="modal" (click)="saveChanges()"
        [disabled]="!enableButton">Save</button>
    </modal-div>
  </app-modal>
  <!-- table configuration modal ENDS -->


</ng-container>

<app-search-listing *ngIf="searchTrigger" [searchResult]="searchResult">
</app-search-listing>
