<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="main_container" ng-controller="metadata">  
    <!--HEADER STARTS HERE-->
    <div ng-include src="'templates/header.html'" class="header-container"></div>
    <!--HEADER ENDS HERE-->

    <!--SECTION STARTS HERE-->
    <section class="wrapper">
        <div class="page-title">
            <div class="pull-middle"> 
                Metadata
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="container product-inner setting-page">
            <div class="content">
                <div class="from-container-row">                   

                    <ul class="nav nav-tabs" ng-cloak>
                        <li class="active" ><a showtab="" href="#taxonomy">Taxonomy</a></li>
                        <!-- <li ng-show="user_permissions['tag.show.all'].grant"><a showtab="" href="#tag">Tag</a></li>
                        <li ng-show="user_permissions['key_value.show.all'].grant"><a showtab="" href="#key_value">Key Value</a></li>
                        <li ng-show="user_permissions['key_value.show.all'].grant"><a showtab="" href="#content_element">Element</a></li> -->
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="taxonomy">
                            <div ng-include src="'templates/taxonomy/taxonomy_list.html'"></div>
                        </div>
                        <!-- <div id="tag" class="tab-pane fade">
                            <div ng-include src="'templates/tag/tag_list.html'"></div>
                        </div>
                        <div id="key_value" class="tab-pane fade">
                            <div ng-include src="'templates/key_value/keyValueList.html'"></div>
                        </div>
                        <div id="content_element" class="tab-pane fade">
                            <div ng-include src="'templates/element/element_list.html'"></div> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!--SECTION ENDS HERE-->

    <!--FOOTER STARTS HERE-->
    <div ng-include src="'templates/footer.html'" class="footer-container"></div>
    <!--FOOTER ENDS HERE-->

</div>
