<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="main_container" ng-controller="allocate_acl" ng-cloak>  
    <!--HEADER STARTS HERE-->
    <!-- <div ng-include src="'templates/header.html'" class="header-container"></div> -->
    <!--HEADER ENDS HERE-->

    <!--SECTION STARTS HERE-->
    <section class="wrapper">
        <div class="page-title">
            <div class="pull-middle"> 
                Assign Permission by Role
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="alert alert-dismissible" role="alert" ng-show="showMsg" ng-class="{'alert-success': status == 200, 'alert-danger': status > 200, 'alert-info': status == 0}">
            <!--                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>-->
            <strong>{{message}}</strong>
        </div>
        <div class="container product-inner">
            <div class="content">               
                <div class="from-container-row">
                    <div class="panel-group Allocate-contanier">
                        <div class="">
                            <form role="form" name="formdata" novalidate >
                                <div>

                                    <div class="panel panel-default heading-alocate">   
                                        <div class="panel-heading act-box">
                                            <h4 class="panel-title">Manage permission for [ {{selectedRoleKey.name| capitalize_first}} ]:</h4>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="panel-body">
                                            <div class="col-md-4 act-box">
                                                <label for="exampleInputEmail1"><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" id="checkbox_for_all" > All</label>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>  
                                        
                                        <!-- <div ng-repeat="(pk, permissions) in user_role_permission track by $index" >
                                            <div class="clearfix"></div>
                                            <div class="panel panel-default">   
                                                <div class="panel-heading act-box">
                                                    <strong>
                                                        {{pk === "dataset" ? "Resources" : pk| capitalize_first}}
                                                    </strong>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div ng-repeat="(key, value) in permissions track by $index" class="col-md-4 act-box">                                   
                                                    <input type="checkbox" ng-model="value.grant" ng-click="countCheck($event)">
                                                    {{value.description}}                                                  
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div> -->
                                        <!-- <div ng-repeat="(pk, permissions) in user_role_permission track by $index" >
                                            <div class="clearfix"></div>
                                            <div class="panel panel-default">   
                                                <div class="panel-heading act-box">
                                                    <strong>
                                                        {{pk === "dataset" ? "Resources" : pk| capitalize_first}}
                                                    </strong>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div ng-repeat="(key, value) in permissions track by $index" class="col-md-4 act-box">                                   
                                                    <input type="checkbox"  ng-click="countCheck($event)">
                                                    {{value.description}}                                                  
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div> -->
                                        <div class="panel-body">
                                            <div ng-repeat="(key, value) in user_role_permission track by $index" class="col-md-4 act-box">                                   
                                                <input type="checkbox" ng-model="selectedAll" ng-click="countCheck($event)">
                                                {{value.description}}                                                  
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="panel-footer"> 
                                <button type="button" class="btn btn-primary pull-right  margin-lt" ng-click="savePermission();" >Save</button><button type="button" class="btn btn-default pull-right" ng-click="cancelPermission();">Cancel</button>
                            <!-- <button type="button" class="btn btn-primary pull-right  margin-lt" ng-click="savePermission();" ng-show="user_permissions['acl.modify.by.role'].grant">Save</button><button type="button" class="btn btn-default pull-right" ng-click="cancelPermission();">Cancel</button> -->
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!--SECTION ENDS HERE-->

    <!--FOOTER STARTS HERE-->
    <div ng-include src="'templates/footer.html'" class="footer-container"></div>
    <!--FOOTER ENDS HERE-->
</div>
