<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="main_container" ng-controller="allocate_acl" ng-cloak>  
    <!--HEADER STARTS HERE-->
    <!-- <div ng-include src="'templates/header.html'" class="header-container"></div> -->
    <!--HEADER ENDS HERE-->

    <!--SECTION STARTS HERE-->
    <section class="wrapper">
        <div class="page-title">            
            <div class="pull-middle"> 
                Assign Permission by User
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="container product-inner">
            <div class="content">               
                <div class="from-container-row">                    
                    <div class="from-container-row" >  
                        <div class="update_profile_container">
                            <div class="row">
                                <form role="form" name="formdata" novalidate >
                                    <div>
                                        <span ng-show="showMsg" ng-class="{'label-success': status == 200, 'label-danger': status > 200, 'label-info': status == 0}" class="label">{{message}}</span>
                                        <div class="form-group">   
                                            <div class="col-md-4">
                                                <label for="exampleInputEmail1">Manage permission for [{{userDetails.email | capitalize_first}}]:</label>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-4">
                                                <label for="exampleInputEmail1"><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" > All</label>                                  </div>
                                            <div class="clearfix"></div>
                                            <div ng-repeat="(key, value) in user_role_permission track by $index" class="col-md-4">
                                                <input type="checkbox" ng-model="value.grant" >
                                                {{value.description}}
                                            </div>
                                            <div class="clearfix"></div>
                                            <div>
                                                <div class="pull-right col-md-1"> 
                                                    <button type="button" class="btn btn-primary" ng-click="savePermissionUser();" ng-show="user_permissions['acl.modify.by.user'].grant" >Save</button>
                                                </div>
                                                <div class="pull-right col-md-1"> 
                                                    <button type="button" class="btn btn-default" ng-click="cancelPermissionUser();">Cancel</button>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!--SECTION ENDS HERE-->

    <!--FOOTER STARTS HERE-->
    <div ng-include src="'templates/footer.html'" class="footer-container"></div>
    <!--FOOTER ENDS HERE-->

</div>
