<div class="popup-boxes" ng-cloak>
    <form>
        <div class="modal-header header-m">
            {{modalFormTile}}
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="sub-title" ng-class="{'alert-danger': hasIssue > 0, 'alert-info': hasIssue == 0}">{{modalFormText}}</div>
        <div class="inner-modal-content tab-contents">
            <div class="group inputfrom">      
                <input ng-model="role_name" name="role_name" type="text" class="form-control" id="" placeholder="Name"  ng-keypress="role_keypress()" ng-enter-prevent-default required="required" ng-focus="formError=false" >
                <span class="bar"></span>
                <label>Name</label>
                <span class="highlight text-danger">{{formError.role_name}}</span>

            </div>
            <div ng-show="form.submitted || form.role_name.$touched">
                <div ng-show="form.role_name.$error.required">Please provide role name.</div>
              </div>
            <div class="group inputfrom">      
                <textarea ng-model="role_desc" name="role_desc" type="text" class="form-control" id="" placeholder="Description" required ng-keypress="role_keypress()" required="required"></textarea>
                <span class="bar"></span>
                <label>Description</label>
                <!-- <span class="highlight text-danger">{{formError.role_desc}}</span> -->

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">            
            <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
            <button ng-hide="showedit" class="btn btn-primary" ng-click="add()"  id="saveBtn" >CONFIRM</button>
            <button ng-show="showedit" class="btn btn-primary" ng-click="edit()"  id="editBtn" >CONFIRM</button>
        </div>
    </form>
</div>