<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="allocate_acl">  
        <!--HEADER STARTS HERE-->
<!--        <div ng-include src="'templates/header.html'" class="header-container"></div>-->
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title5"><h4 class="title pull-left">Manage Role</h4>
                    <div class="pull-right"> 
                        <!-- <button type="button" class="btn btn-primary" ng-click="addRoleForm('')" ng-show="user_permissions['role.create'].grant">Create New Role</button> -->
                        <button type="button" class="btn btn-primary" ng-click="addRoleForm('')">Create New Role</button>
                    </div>
                    
                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">
                            <!--/*stucture modified for all pages*/-->
                            <div class="from-container-row">
                                <div class="pattern-list-container">
                                    <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="col-md-4">Name </th>
                                                <th class="col-md-5">Description </th>
                                                <th class="col-md-3">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbroles">
                                            <tr ng-repeat="(k, v) in roles">
                                                <td>{{v.name}}</td>
                                                <td>{{v.description}}</td>
                                                 <!--<td> <button type="button" class="btn btn-default2" ng-click="editRoleForm('', v.id)" ng-show="user_permissions['role.update'].grant && [1].indexOf(v.id)==-1" >Edit</button> 
                                                    <button type="button" class="btn btn-default2" ng-click="assignPermission(v.id)" ng-show="user_permissions['acl.modify.by.role'].grant && [1].indexOf(v.id)==-1">Assign Permission</button> 
                                                    <button type="button" class="btn btn-default2" ng-click="deleteRole(v.id)" ng-show="user_permissions['role.delete'].grant && [1,2,3].indexOf(v.id)==-1 ">Delete</button></td>  -->
                                                    <td><button type="button" class="btn btn-default2" ng-click="editRoleForm('', v.role_id)" >Edit</button> 
                                                    <button type="button" class="btn btn-default2" ng-click="assignPermission(v.role_id)" >Assign Permission</button> 
                                                    <button type="button" class="btn btn-default2" ng-click="deleteRole(v.role_id) ">Delete</button></td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <!--/*//////stucture modified for all pages*/--> 
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
        <!--FOOTER STARTS HERE-->
<!--        <div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>