@import "abstracts/variables";
@import "abstracts/mixins";

.auto-complete{
    .tenant-dropdown{
        @include position(relative);
        @include top(18px);
        @include margin-indv('left', 10px);
        
        .btn{
          @include text-align(center);
          @include bgcolor($white);
          @include border-all(2px, solid, $dark);
          height: 25px;
          width: 25px;
    
          &:after{
            @extend .font-bold;
            @include font-size(6);
            @include position (relative);
            @include top(-2px);
            font-family: $icon-font;
            content: '\e903';
          }
        }

        &.show{
          .btn{
            transform: rotate(180deg);

            &:after{
              @include font-color($primary);
             }
          }
        }
        // .dropdown{
        //   &-menu{
        //     &.inverse-bg{
        //       @include left(-124px !important);
        //       @include margin-indv('top', 8px);
        //     }
        //   }
        // }

        .auto-complete__list{
            @include margin-indv('left', -122px);
        }
      }
    &__choice{
        &-holder{
            @include padding(1px 5px);
            height: auto;

            &.custom-select{
                background-position: right .75rem top 13px;
                min-height: 38px;
                
            }
        }

        &-tag{
            @include bgcolor($light);
            @include border-radius(4px);
            @include margin-indv('top', 2px);
            @include margin-indv('bottom', 2px);
            line-height: 12px;
            max-width: 80%;

            &__remove{
                @include font-size(14);
            }

            .tag{
                @include font-size(12);
                max-width: 160px;
            }
        }
    }

    &__opened{
        @include box-shadow-success-alert;
        @include z-index(2);
        max-height: 275px;

        .tenant-dropdown{
            @include top(6px);
            // .tooltip {
            //     &.top{
            //         &:after{
            //             @include margin-indv('left', -20px);
            //             @include left (0);
            //             width: auto;   
            //         }
            //         &:before{
            //             @include margin-indv('left', 7px);
            //             @include left (0);
            //             width: auto;    
            //         }
            //     }
            // }
        }
    }

    &__list{
        @include bgcolor($white);
        @include border-all(1px, solid, $darker);
        @include z-index(100);
        height: 237px;
        border-top: none;
        overflow: hidden;
        width: 100%;
        min-width: 250px;

        &__items{
            @include padding(10px 15px);
            max-height: 185px;
            overflow-y: auto;
            overflow-x: hidden;

            .options{    
                &-item{
                    @include bgcolor(transparent);
                    @include border-none(none);
                    @include font-color($darkest-x);
                    @include padding(7px 15px);
                    width: 100%;
                        &:hover,
                        &:focus{
                        @include bgcolor($light);
                        @include font-color($primary);
                    }
                }
                &:hover,
                &:focus{
                    @include bgcolor($light);
                    @include font-color($primary);
                    .options-item{
                        @include font-color($primary);
                    }
                }

                &.selected{
                    @include font-color($darkest);
                    cursor: not-allowed;
                }
                
                .case{
                    @include font-size(10);
                }

                &.no{
                    &-record{
                        cursor: default;
                        
                        &:hover,
                        &:focus{
                            @include bgcolor(transparent);
                            @include font-color($darkest);
                        }
                    }
                }
            }
        }
    }

    &__search{
        @include padding(6px);
        @include border-indv('bottom', 1px, solid, $darker);

        &:before{
            @extend %position-absolute;
            @include right(13px);
            @include top(17px);
            content: url('~/assets/images/search-small.gif');
        }

        .form{
            &-control{
                @include font-size(14);
                box-shadow: none;
            }
        }
    }
    &__selection{
        .custom-select{
            @include font-size(14);
        }
    }
}

.mb-7{
    @include margin-indv('bottom', 7px);
}