<div class="confirmation zoomIn show p-4" role="alert" aria-labelledby="dialog1Title">
  <div class="col-12">
    <h2 id="dialog1Title" class="font-bold confirmation-heading text-danger mb-3">Attention!</h2>
    <p id="dialog1msg">{{ message }}</p>
    <hr>
  </div>

  <div class="col-12 text-center">
    <button *ngIf="!onlyOk" type="button" class="btn btn-danger px-4 mr-2" id="{{btnCancelText }}Btncd" (click)="decline()" tabindex="0">{{
      btnCancelText }}</button>
    <button type="button" class="btn btn-primary px-4" (click)="accept()">
      <span *ngIf="!onlyOk" id="{{ btnOkText }}Btncd">{{ btnOkText }}</span>
      <span *ngIf="onlyOk" id="OkBtncd">Ok</span>
    </button>
  </div>
</div>