@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.alert{
    width: 600px;
    @include margin-indv(left, -300px);
    @include left(50%);

    &-success,
    &-error{
        @extend %position-fixed;
        @include font-color($white);
        @include border-none(none);
        @include margin-indv('top', 1%);
        @include top(0);
        @include z-index(9999);
        max-width: 600px;

        h2{
            @include font-size(14);
            @include font-color($white);
            line-height: 18px;
        }
    }

    &-success{
        @include bgcolor($success);
        @include box-shadow-success-alert;
    }

    &-error{
        @include bgcolor($notify);
        @include box-shadow-error-alert;
    }
}

.confirmation{
    @include bgcolor($white);
    @include box-shadow-dropdown;
}
