@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.ff{
    &-header{
        @include box-shadow-dropdown;
        z-index: 1;

        .navbar-nav{
            flex-direction: row;
            
        }

        .btn{
            &-link{
                @include font-color($darkest-x);
                @include position(relative);
                &:hover,
                &:focus,
                &.active{
                    @include font-color($primary);
                    text-decoration: none;
                    &:after{
                        @extend %position-absolute;
                        @include border-indv('bottom',2px, solid, $primary);
                        @include bottom(3px);
                        @include left(0);
                        width:100%;
                        content: '';
                    }
                }
            }
        }

        .logo{
            img{
                max-width: 50px;

                @include media( "screen", ">minXxlarge"){
                    max-width: 110px;
                }
            }

            &-client{
                img{
                    max-width: 110px;
    
                    @include media( "screen", ">minXxlarge"){
                        max-width: inherit;
                    }
                }
            }
        }

        .h2{
            @include font-size(24);
        }
    }
}
