<header class="ff-header py-2 mb-4">
  <a class="skip-main position-absolute" href="javascript:void(0);" (click)="skipToMain()">Skip to main content</a>
  <div class="container-fluid">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item logo">
            <h1><img src="assets/images/logo.svg#logo" alt="ACMT Logo" /></h1>
          </li>
          <li class="list-inline-item logo-client">
          </li>
        </ul>
      </div>

      <nav class="col navbar navbar-expand-lg">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item px-2" *ngFor="let item of navBarItems; let i = index">
            <button id="{{ item.name }}-button" type="button" (click)="navigate(item)"
              class="btn btn-clear btn-link position-relative text-uppercase font-bold px-0"
              [ngClass]="{'active':item.active}">{{item.name}}
            </button>
          </li>
        </ul>
      </nav>

      <div class="col-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <button type="button" class="btn btn-clear btn-link position-relative text-uppercase font-bold px-0" id="loginBtn"
              (click)="navigate({'path': 'login'})">Login
            </button>
          </li>
        </ul>
      </div>
    </div>

    <section class="row align-items-center ">
      <div class="col-11">
        <h2 class="h2 mb-0 text-truncate" *ngIf="title">{{title}}</h2>
      </div>
    </section>
  </div>
</header>
