@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.create-project{
    &-tree{ 
        &-space{
            @include padding-indv('left', 40px);
        } 
        .select-all-child{
            @include left(-47px);
            @include top(0);
            width: 20px;
            height: 20px;

            &.tooltip{
                @include z-index(2);
            }
        }
        .tooltips{
            .content{
                &.expanded{
                    width: 150px;
                }
            }
        }
        .toggle-caret{
            @include text-align(center);
            width: 12px;
        }
        .last-child-node{
            @include padding-indv('left', 21px);
        }
        
        
    }
}

// [data-tooltip],
// .tooltip{
//     &:before, 
//     &:after{
//         @include opacity(1);
//         @include visible(visible);
//         @include translate (0, 6px);
//     }
// }
