<div class="row mt-4 justify-content-end align-items-center pb-3">

  <app-tree-search *ngIf="viewType==='detailview' || currentTable !== 'node_type_table'" class="col"
    [intializeCondition]="isFirstTime && isSearching" #treeSearch [showFilter]="true" [treeData]="taxonomyData"
    [filterCriteriaList]="filterCriteriaList" [location]="viewLocation" (searchEvent)="captureSearchEvent($event)"
    (loaderEvent)="setLoaderEvent($event)">
  </app-tree-search>

  <div class="col-auto d-flex justify-content-end align-items-center ">
    <app-tree-tab (treeTabSelectedEvent)="onTreeTabSelected($event)" [showExport]="false" [currentTreeTab]="viewType"
      [canPublicReview]="false" [viewLocation]="'frontFacingTaxonomyDetail'" [treeTabItems]="treeTabItems">
    </app-tree-tab>
  </div>
</div>

<ng-container *ngIf="viewType ==='detailview'">
  <div class="row mt-2">
    <section id="tree_container_id" class="col-6 px-0 panel-left">
      <!--Taxonomy Tree START -->
      <ng-container *ngIf="taxonomyData">
        <ng-container>
          <div id="accordion" class="col-12 tree--details px-0">
            <div>
              <app-tree *ngIf="taxonomyData" [treeNodes]="taxonomyData.children" [viewLocation]="'frontfacing'"
                [showComplaince]="false" [searchText]="searchText" [searchResultList]="searchResultList"
                [isFilterApplied]="isFilterApplied" [isReset]="isReset">
              </app-tree>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <app-preloader *ngIf="!taxonomyData" [loaderText]="'Loading Data..'"
        class="w-100 position-fixed preloader-backdrop"></app-preloader>
    </section>

    <section id="right_container_id"
      class="col-6 pt-3 bg-lighter panel-right project-authoring taxonomy-preview ff-accordion" *ngIf="taxonomyData">
      <app-item-details #itemDetailsComponent [isEditable]="false" [viewLocation]="viewLocation" [showNodeType]="true"
        [taxonomyData]="taxonomyData" [showAssociation]="true" [treeTaxonomyData]="taxonomyData"
        [showAdditionalMetadata]="showAdditionalMetadata" [showExemplar]="showExemplar" [showDocument]="showDocument"
        [addedAdditionalMetadata]="itemAdditionalMetadata" [itemExemplars]="itemExemplars" [itemAssets]="itemAssets"
        [itemAssociations]="itemAssociations" [canPreview]="true" [showUserFriendlyPage]="showUserFriendlyPage">
      </app-item-details>
    </section>
  </div>
</ng-container>

<ng-container>
  <div class="table-view">
    <app-tabular-tree-view #tabularView [showView]="viewType ==='tableview' && currentTable !== 'node_type_table'"
      [listOfClass]="listOfClass" [dynamicClass]="dynamicClass" [listOfColumn]="listOfColumn" [showNavigation]="true"
      [searchText]="searchText" [searchResultList]="searchResultList" [isFilterApplied]="isFilterApplied"
      [isReset]="isReset" [showUserFriendlyPage]="showUserFriendlyPage">
    </app-tabular-tree-view>
    <app-node-type-table-view #nodeTypeTableView
      [hidden]="viewType !=='tableview' || currentTable !== 'node_type_table'" [headerData]="listOfColumn"
      [treeData]="taxonomyData?.children">
    </app-node-type-table-view>
  </div>

</ng-container>
