<div class="row justify-content-between">
  <div class="form-group col-2">
    <label for="selectedNotificationCategory" class="sr-only">
      View </label>
    <select id="selectedNotificationCategory" [(ngModel)]="selectedNotificationCategory"
      [ngModelOptions]="{standalone: true}" class="custom-select" (change)="getFilteredNotifications()">
      <option [ngValue]="category.value" *ngFor="let category of notificationCategoryList">{{category.name}}</option>
    </select>
  </div>

  <div class="col-4 p-0 text-right">
    <button class="btn btn-clear text-underline" (click)="markNotificationAsRead()">Mark all as read</button>
  </div>
</div>

<app-preloader *ngIf="loadingNotification===true" [loaderText]="'Loading Notifications'" class="w-100 position-fixed preloader-backdrop"></app-preloader>
<p class="text-center" *ngIf="filteredNotificationList && filteredNotificationList.length < 1">
  No data found.
</p>
<ng-container *ngIf="loadingNotification===false">
  <section class="row update mb-4" *ngFor="let item of filteredNotificationList">
    <div class="col-12">
      <h2 class="h2 text-truncate font-bold mb-2">{{item.key }}</h2>

      <div class="d-flex justify-content-between list-view py-2 mb-3" *ngFor="let notification of item.value;">
        <div class="col">
          <p class="mb-0">
            <span>{{notification.description}}</span>
          </p>
          <p class="time mb-0">{{changeDateToLocalTimeZone(notification.updated_at)| amCalendar:{sameDay:'[Today at] h:mm
            A'} }}</p>
        </div>

        <div class="col-auto px-0">
          <button class="btn btn-clear btn-sm text-underline" *ngIf="showViewButton(notification)===true"
            (click)="goToPage(notification)">View
            {{findCategoryNameByValue(notification.notification_category)}}
          </button>
        </div>

        <div class="col-auto px-0" *ngIf="notification.notification_category === TAXONOMY_EXPORTED_CATEGORY_VALUE">
          <a [attr.href]="notification.target_context.url" target="_self" class="btn btn-clear btn-sm text-underline">
            Click Here to download
          </a>
        </div>

      </div>
    </div>
  </section>
</ng-container>
