@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.update{
    .h2{
        @include font-size(16);
    }

    .list{
        &-view{
            @include box-shadow(0, 1px, 8px, 1px, rgba(0, 0, 0, 0.13));
            @include border-radius(5px);
        }
    }

    .time{
        @include font-color($secondary);
    }

    .btn{
        @include font-size(14);
    }
}
