body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav {
    margin-left: 12%;
    
}
  
.navbar {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
}
.navbar-default  {
    background-color: #fff;
}
#bo .navbar-nav a:hover, a:active{
    border-bottom: 4px solid blue;
}
h2.taxnm {
    margin-top: 90px;
}

.outer-1 {
        background-color: transparent;
        width:400px; /* You can define it by % also */
        height:400px; /* You can define it by % also*/
        position:relative;
        border:1px solid black;
        border-radius: 50%;
}
.inner-1 {
        background-color: transparent;
        top: 10%; left:10%; /* of the container */
        width:80%; /* of the outer-1 */
        height:80%; /* of the outer-1 */
        position: absolute;
        border:1px solid black;
        border-radius: 50%;
}
.inner-2 {
        background-color: transparent;
        top: 20%; left:20%; /* of the container */
        width:60%; /* of the inner-1 */
        height:60%; /* of the inner-1 */
        position: absolute;
        border:1px solid black;
        border-radius: 50%;
}
.inner-3 {
        background-color:white;
        top: 30%; left:30%; /* of the container */
        width:40%; /* of the inner-1 */
        height:40%; /* of the inner-1 */
        position: absolute;
        border:1px solid black;
        border-radius: 50%; 
}

.login img {
    width: 100%;
}
.login button {
    width: 100%;
    background-color: #e04761;
    border: none;
}
.signuplink {
    margin-top: 50px;
}
.signuplink a {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
}

/* taxonomy tree */

.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span.leaf {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}

.tree li.parent_li>span.leaf:hover, .tree li.parent_li>span.leaf:hover+ul li span.leaf {
    background:#C8E9CE;
    border:1px solid #94a0b4;
    color:#000
}
.acmtp {
    box-shadow: 0 25px 5px 0 rgba(0,0,0,0.08);
}