<!-- Manage Taxonopmy Set Modal Starts -->
<app-modal [modalId]="MANAGE_SET_MODAL_ID" [modalSize]="'small'" [showFooter]="false" (closeEvent)="onModalClose()">
  <modal-div class="title-text">
    Group
  </modal-div>
  <modal-div class="body-content">
    <div class="d-flex justify-content-between align-items-center mb-1" *ngIf="isGroupOpened">
      <div class="d-flex justify-content-start align-items-start col pl-0">
        <button class="btn btn-icon btn-sm mr-1 font-bold py-0 px-2" (click)="onBackClick()"><em
            class="icon-ico-collapse icon-rotate-180 font-1x text-blue"></em></button>
        <p class="font-bold m-0 font-5x text-wrapped col pl-0">{{selectedGroup?.group_name}}</p>
      </div>
    </div>


    <div class="taxonomy-set">

      <!-- List of Groups starts -->
      <div class="row mx-0" *ngIf="!isGroupOpened">
        <div class="col-6">
          <p class="font-bold mb-1 pl-3">Group</p>
        </div>
        <div class="col-3 text-center">
          <p class="font-bold mb-1 pl-3">Access to team</p>
        </div>
      </div>

      <div class="taxonomy-set-list" *ngIf="!isGroupOpened">
        <p class="mb-0 p-3" *ngIf="taxonomyGroups.length<1">No groups found.</p>
        <ng-container *ngFor="let grp of taxonomyGroups;let i = index;">
          <div class="row mx-0 taxonomy-set-list-item justify-content-between"
            [ngClass]="{'activated': (grp.group_id===selectedGroup?.group_id)}">
            <div class="col-6 set-name">
              <button class="btn btn-clear text-underline text-left text-wrapped w-100" (click)="onGroupSelected(grp)"
                (focus)="onFocusGroupName(grp)">{{grp.group_name}}</button>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="{{'defaultSetConfiguration'+i}}"
                  aria-label="Toggle this to Set as default group" [checked]="grp?.is_default"
                  (click)="onDefaultSetClick(grp);">
                <label class="custom-control-label"
                  for="{{'defaultSetConfiguration'+i}}">{{grp.is_default ? 'ON' : 'OFF'}}</label>
              </div>
            </div>
            <div class="col-auto set-action d-flex align-items-center">
              <button class="btn btn-clear text-underline" [disabled]="deleteLoading" data-toggle="modal"
                [attr.data-target]="'#'+CREATE_SET_MODAL_ID" (click)="onRenameClick(grp)">Rename</button>
              <button class="btn btn-icon tooltip top sm position-relative d-inline-block" data-tooltip="Delete" [attr.aria-label]="'Delete'"  [disabled]="deleteLoading" (click)="onDeleteGroup(grp.group_id, i)">
                <em class="icon-ico-garbage"></em>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
      <!-- List of Groups ends -->

      <!-- List of Taxonomy of a Group starts -->
      <app-preloader [loaderText]="'Loading Taxonomy List'" *ngIf="taxonomyLoading && isGroupOpened" class="w-100 position-fixed preloader-backdrop"></app-preloader>
      <ul class="list-group manage-set" *ngIf="!taxonomyLoading && isGroupOpened">
        <li class="d-flex justify-content-between align-items-top list-group-item"
          *ngIf="selectedGrpTaxonomies.length<1">No taxonomies found.</li>
        <li class="d-flex justify-content-between align-items-top list-group-item"
          *ngFor="let taxonomy of selectedGrpTaxonomies; let i = index;">
          <span class="d-inline-block set-name">
            {{taxonomy.document_name}}
          </span>
          <span class="set-action">
            <button class="btn btn-icon font-2x py-0 px-1" [disabled]="deleteLoading"
              (click)="deleteTaxonomyFromGroup(selectedGroup?.group_id, taxonomy.document_id, i)">x</button>
          </span>
        </li>
      </ul>
      <!-- List of Taxonomy of a Group ends -->

    </div>
  </modal-div>
</app-modal>
<!-- Manage Taxonopmy Set Modal Ends -->

<!-- Create Taxonopmy Set Modal Starts -->
<app-modal [modalId]="CREATE_SET_MODAL_ID" [modalSize]="'small'"
  [showCloseAlert]="createSetForm.dirty && (setName?true:false)" (closeEvent)="onModalClose($event)">
  <modal-div class="title-text">
    {{action===GROUP_RENAME_OPERATION ? 'Rename' : 'Create Group'}}
  </modal-div>
  <modal-div class="body-content">
    <form [formGroup]="createSetForm">
      <div class="form-group">
        <label for="taxonomySetName" class="font-bold">Group Name <span class="mandatory"
            aria-hidden="true">*</span></label>
        <input id="taxonomySetName" type="text" class="form-control font-bold" formControlName="setName"
          [(ngModel)]="setName">
        <div *ngIf="createSetForm.controls['setName'].hasError('required') && createSetForm.controls['setName'].touched"
          class="error--txt">
          <p class="font-bold m-0">Name is required.</p>
        </div>
      </div>
    </form>
  </modal-div>
  <!-- Modal footer -->
  <modal-div class="footer-buttons">
    <button type="button" class="btn btn-primary btn-sm" [disabled]="!createSetForm.valid || setCrtLoading"
      *ngIf="action===GROUP_RENAME_OPERATION" (click)="onUpdateSet()">
      <em class="fa fa-spinner fa-spin" *ngIf="setCrtLoading"></em>{{setCrtLoading ? ' Saving' : 'Save'}}</button>
    <button type="button" class="btn btn-primary btn-sm" [disabled]="!createSetForm.valid || setCrtLoading"
      *ngIf="action===TAXO_GROUP_COPY_OPERATION" (click)="onCreateSet(true)">
      <em class="fa fa-spinner fa-spin" *ngIf="setCrtLoading"></em>{{setCrtLoading ? ' Copying' : 'Copy'}}</button>
  </modal-div>
</app-modal>
<!-- Create Taxonopmy Set Modal Ends -->
