@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.taxonomy-set{
    &-list{
        @include border-all(1px,solid,$dark );
        &-item{
            @include padding(5px 0);
            @include border-indv('bottom', 1px, solid, $dark);
            transition:  all ease-in-out .2s;
            .set{
                &-action{
                    .btn{
                        opacity: 0;
                        transition:  all ease-in-out .2s;
                    }
                }
            }
            &.activated,
            &:hover{
                .set{
                    &-action{
                        .btn{
                            opacity: 1;
                            transition:  all ease-in-out .2s;
                        }
                    }
                }
            }
            &:last-child{
                @include border-none(none);
            }
            
            &:hover{
                @include bgcolor($lightest);
                transition:  all ease-in-out .2s;
                .set{
                    &-action{
                        transition:  all ease-in-out .2s;
                    }
                    &-name{
                        .btn{
                            @include font-color($primary);
                        }
                    }
                }
            }
        }
    }
    .list-group{
        &-item{
            @include padding(12px 15px 12px 30px);
            min-height: 36px;
            &:hover{
                @include bgcolor($lightest);
            }
        }
    }
}