<nav class="navbar navbar-default" ng-controller="HeaderController">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">ACMT</a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                      <li><a ui-sref="taxonomy">TAXONOMIES</a></li>
                      <li><a href="#">METADATA</a></li>
                      <li><a href="#">WORKFLOWS</a></li>
                      <li><a href="#">ADMINISTRATION</a></li>
                     
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#"><i class="fa fa-bell" aria-hidden="true"></i>
                      </a></li>
                      <li class="dropdown" ng-show="isLoggedIn()">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.success.body.username}}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Profile</a></li>
                          <li><a href="#">Setiings</a></li>
                          <li role="separator" class="divider"></li>

                          <li><a href="#">Log Out</a></li>
                        </ul>
                      </li>
                      <li ng-show="!isLoggedIn()"><a ui-sref="login">Login/Signup <span class="sr-only">(current)</span></a></li>
                    </ul>
                  </div><!--/.nav-collapse -->
                </div>
</nav>
