<div ng-controller="TaxonomyTreeController">
    <script type="text/ng-template" id="nodes_renderer.html">
      <div ui-tree-handle class="tree-node tree-node-content">
        <a class="btn btn-xs" ng-if="node.children && node.children.length > 0" data-nodrag ng-click="toggle(this)"><i
            class="fa"
            ng-class="{
              'fa-plus-circle fa-2x': collapsed,
              'fa-minus-circle fa-2x': !collapsed
            }"></i></a>
        {{node.title}}
        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span
            class="glyphicon glyphicon-remove"></span></a>
        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span
            class="glyphicon glyphicon-plus"></span></a>
      </div>
      <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
      </ol>
    </script>
    
    <div class="row">
      <div class="col-sm-12">
        <h3>State Standard</h3>
    
        <button ng-click="expandAll()">Expand all</button>
        <button ng-click="collapseAll()">Collapse all</button>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <div ui-tree id="tree-root">
          <ol ui-tree-nodes ng-model="data">
            <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
          </ol>
        </div>
      </div>
    
      <div class="col-sm-6">
        <div class="info">
          {{info}}
        </div>
        <pre class="code">{{ data | json }}</pre>
      </div>
    </div>
    </div>
        <!-- Project dropdown -->
        
        <!-- <label for="singleSelect"> Single select with "not selected" option and dynamic option values: </label><br>
        <select name="singleSelect" id="singleSelect" ng-model="data.singleSelect">
          <option value="">---Please select---</option>  -->
          <!-- not selected / blank option -->
    
          <!-- <option value="{{data.option1}}">Option 1</option> -->
           <!-- interpolation -->
    
          <!-- <option value="option-2">Option 2</option>
        </select><br>
        <button ng-click="forceUnknownOption()">Force unknown option</button><br>
        <tt>singleSelect = {{data.singleSelect}}</tt> -->
    <!--     
        <script type="text/ng-template"  id="tree_item_renderer.html">
            {{data.name}}
            <button ng-click="add(data)">Expand</button>
            <button ng-click="delete(data)" ng-show="data.nodes.length > 0">Collapse</button>
            <ul>
                <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
            </ul>
        </script> -->
        
        <!-- <ul ng-app="Application" ng-controller="TreeController">
            <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
        </ul> -->
        
        <!-- <div class="outer-1">
            <div class="inner-1">
            &nbsp;
            </div>
        
            <div class="inner-2">
            &nbsp;
            </div>
    
            <div class="inner-3">
                &nbsp;
                <img src="https://use.fontawesome.com/releases/v5.0.8/svgs/solid/check.svg" alt="check-mark">
    
            </div>
        </div>
    