@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.preloader {
    @include top(0);
    @include z-index(3);
    background-color: transparentize($color: $lightest, $amount: .2);
    width: 100%;
    height: inherit;

    .wrapper{
        @include bgcolor($white);
        height: 2px;
    }

    .lines {
        width: 80px;
        
        .line {
            height: 2px;
            clip: rect(0, 0, 20px, 0);
        
            &-1 {
                @include bgcolor($primary);
                @include top(0);
                animation: slide 2s ease 0s infinite;
            }
            
            // &-2 {
            //     @include bgcolor($dark);
            //     @include top(15px);
            //     animation: slide 2s ease .25s infinite;
                
            // }
            
            // &-3 {
            //     @include bgcolor($darker);
            //     @include top(30px);
            //     animation: slide 2s ease .5s infinite;
            // }
        }
    }
    
    .loading-text {
        @include font-size(13);
        @include font-color($darkest);
        letter-spacing: 2px;
    }
}
    
@keyframes slide {
    0% {
        clip: rect(0, 0, 20px, 0);
    }
    
    30% {
        clip: rect(0, 80px, 20px, 0);
    }
    
    50% {
        clip: rect(0, 80px, 20px, 0);
    }
    
    80% {
        clip: rect(0, 80px, 20px, 80px);
    }
    
    100% {
        clip: rect(0, 80px, 20px, 80px);
    }
}
    
@keyframes fade {
    0% {
        @include opacity(1);
    }
    
    50% {
        @include opacity(0);
    }
    
    100% {
        @include opacity(1);
    }
}
