@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.project{
    &--filter{
        .col{
            &-auto{
                @include padding-indv('right', 1.2rem);
            }
        }
    }

}

.tooltips{
    .content{
        &.expanded{
            width: 140px;
        }
    }
}
