<ng-container *ngIf="searchTrigger===false">
  <!-- start of pro tip  -->
  <app-protip *ngIf="showProtip" [type]="type"></app-protip>
  <!-- end of pro tip  -->
  <section class="row align-items-center align-btn mx-0">
    <div class="col">

      <button class="btn btn-primary btn-sm" id="crtNproj" data-toggle="modal" data-target="#createProject"
        *ngIf="createProjectButton" #creatProjectButton (click)="onCreateProject()">Create New Project<span class="sr-only">Opens in a new dialog</span></button>

    </div>

    <div class="col col-auto project--filter d-flex justify-content-end align-items-center">
      <div class="dropdown d-inline-block mr-2">
        <!-- <button type="button" class="btn btn-icon font-1x tooltips position-relative" [attr.aria-label]="'Configure Table'"
              aria-expanded="false" aria-haspopup="true" data-reference="parent" data-toggle="dropdown">
              <em class="fas fa-cog"></em>
              <span class="content bottom position-absolute expanded">Configure Table</span>
            </button> -->

        <div class="dropdown-menu dropdown-menu-right p-0">
          <div class="p-2 dropdown-menu-scrollable">
            <button type="button" class="btn btn-clear dropdown-item" id="viewBtn">Table View</button>
            <button type="button" class="btn btn-clear dropdown-item" id="defviewBtn">Default Table View</button>
          </div>

          <div class="p-2 border-top">
            <button type="button" class="btn btn-clear dropdown-item" id="confBtn" data-toggle="modal"
              data-target="#tableConfigModal">Configure
              Table
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="viewType !== 'listview'" class="mr-3 d-flex align-items-center">
        <p class="font-bold mb-0 mr-2">{{SORT_BY_LABEL}}:</p>
        <app-sort-list #sortListRef [sortingArray]="projects" [labelFor]="SORT_BY_LABEL" [isProject]="true"
          [sortOptions]="sortOptions" [defaultSortOption]="sortOptions[position]" (sortByoption)=sortByListView($event)>
        </app-sort-list>
      </div>
      <app-view-type (selectedViewTypeEvent)="changeView($event)"></app-view-type>
      <!-- <div class="dropdown d-inline-block">
        <button type="button" class="btn btn-icon font-1x tooltips position-relative" [attr.aria-label]="'Configure Table'"
          aria-expanded="false" aria-haspopup="true" data-reference="parent" data-toggle="dropdown">
          <em class="fas fa-cog"></em>
          <span class="content bottom position-absolute">Configure Table</span>
        </button>

        <div class="dropdown-menu dropdown-menu-right p-0">
          <div class="p-2 dropdown-menu-scrollable">
            <button type="button" class="btn btn-clear dropdown-item">Table View</button>
            <button type="button" class="btn btn-clear dropdown-item">Default Table View</button>
          </div>

          <div class="p-2 border-top">
            <button type="button" class="btn btn-clear dropdown-item" data-toggle="modal"
              data-target="#tableConfigModal">Configure Table</button>
          </div>
        </div>
      </div> -->
    </div>
  </section>
  <!-- end of project filter section  -->

  <ng-container *ngIf="viewType === 'cardview';then card_view else list_view"></ng-container>

  <ng-template #list_view>
    <app-data-table [showMenu]="true" class="w-100" [columnList]="listOfColumn" [dataSet]="projects"
      [tableCategory]="'project'" [optionList]="optionList" [defaultSortBy]="defaultSortByColumn"
      [searchText]="searchingText" [selectedOptionList]="defaultFilterOptions" (pageChangeEvent)="getChanges($event)"
      [pagination]="pageDetail" [filterOperationType]="filterMode" (clickedOption)="onOptionClicked($event)"
      (linkClicked)="onProjectSelected($event)">
    </app-data-table>
  </ng-template>

  <ng-template #card_view>
    <div class="row mt-3 mx-0" role="grid">
      <ng-container
        *ngFor="let project of projects| customFilter: getColumnFilterObj()|slice:startIndex:lastIndex;let i = index">

        <div class="col-md-6 col-lg-4 col-xl-4 card-tile" role="row">
          <div class="card" id="card-{{i}}" [ngClass]="newlyCreatedProjectId===project.project_id?'success':''"
            role="gridcell">
            <div class="card-body">
              <p class="card-subtitle text-truncate">
                <span aria-live="polite" aria-atomic="true">Status:
                  {{project.taxonomy_status === 3 ? 'Inactive' : project.project_status}}
                </span>
              </p>
              <h2 class="card-title font-bold">
                <a href="javascript:void(0);" target="_self" (click)="onProjectSelected(project)"
                  *ngIf="checkProjectCanBeClickable(project.project_id,project.workflow['current_stage_id'])"
                  (focus)="onFocus($event,i)" (blur)="onBlur($event,i)">{{project.project_name}}</a>
                <a href="javascript:void(0);" target="_self"
                  *ngIf="!checkProjectCanBeClickable(project.project_id,project.workflow['current_stage_id'])"
                  (focus)="onFocus($event,i)" (blur)="onBlur($event,i)">{{project.project_name}}</a>
              </h2>
              <p class="mb-0 text-truncate">Last change: {{ changeDateToLocalTimeZone(project.updated_at)| amCalendar:{sameDay:'[Today
                at] h:mm A'} }}</p>
              <p class="mb-0 text-truncate">Active since: {{ changeDateToLocalTimeZone(project.created_at)|amCalendar:{sameDay:'[Today
                at] h:mm A'} }}</p>
              <p class="card-text">
                <span aria-live="polite" aria-atomic="true" class="te">Draft Taxonomy: {{project.taxonomy_name}}</span>
              </p>
            </div>
            <div class="row card-footer" [style.visibility]="project.taxonomy_status ===3?'hidden':''">
              <div class="col">
                <ul class="list-inline more-options align-items-center float-right">
                  <li class="list-inline-item dropdown dropdown__more tooltip top position-relative"
                    [attr.aria-label]="'Configure'" data-tooltip="Configure"
                    *ngIf="checkProjectCanBeEdited(project.project_id,project.workflow['current_stage_id']) || checkProjectCanBeDeleted(project.project_id,project.workflow['current_stage_id'])">
                    <button class="btn btn-icon dropdown-toggle mr-3 p-1" *ngIf="project.taxonomy_status !== 5"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (focus)="onFocus($event,i)"
                      (blur)="onBlur($event,i)">
                      <em class="icon-icon-more-horiz"><span class="sr-only sr-only-focusable">more option for
                          {{project.project_name}}
                        </span></em>
                    </button>

                    <div class="dropdown-menu dropdown-menu-right">
                      <a href="javascript:void(0);" class="dropdown-item" data-toggle="modal"
                        data-target="#createProject"
                        *ngIf="project.taxonomy_status !== 5 ? checkProjectCanBeEdited(project.project_id,project.workflow['current_stage_id']) : false"
                        (click)="editProjectPopUp(project)" aria-label="edit project" (focus)="onFocus($event,i)"
                        (blur)="onBlur($event,i)">Edit</a>
                      <a href="javascript:void(0);" class="dropdown-item"
                        (click)="deleteProject(project.project_id,project.project_name)"
                        *ngIf="project.taxonomy_status !== 5 ? checkProjectCanBeDeleted(project.project_id,project.workflow['current_stage_id']) : false"
                        aria-label="Delete project" (focus)="onFocus($event,i)" (blur)="onBlur($event,i)">Delete</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <section *ngIf="projects.length == 0 && searchText === false"
            class="alert alert-error alert-dismissible fade show" role="alertdialog" aria-labelledby="dialog1Title">
            <ul class="list-inline align-items-center">
              <li class="list-inline-item">
                <em class="icon-ico-standard"></em>
              </li>
              <li id="dialog1Title" class="list-inline-item font-bold">No Record Found.</li>
              <li class="list-inline-item">
                <button type="button" class="close" id="closeBtnpl" data-dismiss="alert" aria-label="Close"
                  (click)="onClose()" tabindex="0">
                  <span aria-hidden="true">X</span>
                </button>
              </li>
            </ul>
          </section>
          <!-- end of col 4 -->
        </div>


        <!-- end of project display section -->

      </ng-container>


    </div>
    <app-pagination *ngIf="filterData && filterData.length > minItemPerPage"
      [dataLength]="filterData ? filterData.length : 0" (displayItemRangeEvent)="showDataInRange($event)"
      [defaultPageRange]="pageDetail"></app-pagination>
  </ng-template>

  <app-create-project #createProject [currentMode]="projectMode" [currentStep]="1" [projectData]="selectedProject"
    (projectCreatedEvent)="onProjectCreateEvent($event)"></app-create-project>
  <!-- Add Role Modal Starts -->
  <app-project-request-modal [projects]="projects"></app-project-request-modal>
  <!-- Add Role Modal Ends -->
</ng-container>
<app-search-listing *ngIf="searchTrigger" [searchResult]="searchResult">
</app-search-listing>

<!-- table configuration modal STARTS -->
<app-modal [modalId]="'tableConfigModal'" [modalSize]="'big'" (closeEvent)="onCloseModal()">
  <modal-div class="title-text" id="conftitle">
    Configure Table
  </modal-div>

  <modal-div class="body-content">
    <!-- <app-table-configuration #configTableRef [columnList]="listOfColumn" (savetableColEvent)="updateListView($event)">
    </app-table-configuration> -->
  </modal-div>

  <modal-div class="footer-buttons">
    <button type="button" class="btn btn-primary btn-sm" id="saveBtnpl" data-dismiss="modal"
      (click)="saveChanges()">Save</button>
  </modal-div>
</app-modal>
<!-- table configuration modal ENDS -->
