@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.report{
    &-right{
        @include margin-indv('top', 3.5rem);
        overflow-y: auto;
        overflow-x: hidden;
    }
    &-left{
        @include margin-indv('right', -15px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.compliance{
    &-report{
        .panel{
            &-left{
                @include border-indv('right', 1px, solid, $light);
            }
        }
    }
}
