<div class="project--filter" id="treeTabContainer">
  <fieldset class="btn-group btn-group-toggle switch-view d-inline-block" role="group">
    <legend class="sr-only">Switch between {{showTableTab ? 'table' : ''}},
      {{(viewLocation !== 'frontFacingTaxonomyDetail' && viewLocation !== 'taxonomydetail') ? 'tree' : ''}} and
      Details view</legend>

    <button id="{{tab}}View" class="btn btn-secondary btn-sm top top-right position-relative" [ngClass]="showTooltip? 'tooltip':''"
    [attr.aria-label]="tab==='detailview'?'Detail view':(tab==='tableview')?'Table view':'Custom view'" 
    [attr.data-tooltip]="showTooltip? (tab==='detailview'?'Detail view':(tab==='tableview')?'Table view':'Custom view') : null"
      *ngFor="let tab of treeTabItems; let $index=index" [ngClass]="currentTreeTab===tab?'active':''"
      (click)="onTreeTabSelected(tab)" tabindex="0" [attr.aria-pressed]="currentTreeTab === tab ? true : false">
      <ng-container *ngIf="!showTooltip">
        {{exactTextNeeded ? tab : (tab.slice(0, -4)| titlecase)}} {{exactTextNeeded ? '' : ' View'}}
      </ng-container> 
      <em class="fas fa-table"  *ngIf="tab==='tableview'"></em>
      <em class="fas fa-columns" *ngIf="tab==='detailview'"></em>
      <em class="fas fa-stream" *ngIf="tab==='customview'"></em>
    </button>
  </fieldset>
</div>


