@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.placeholder{
    &:empty{
        &:before{
            @extend %font-weight-regular;
            @include font-color($secondary);
            @include display(inline-block);
        }
    }
}
