<div class="admin-user-listing">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <div class="container-fluid align-tabs">
      <app-tab [tabItems]='tabItems' (tabSelectedEvent)="onTabSelected($event)" [currentTab]="currentTab"></app-tab>
      <!-- Metadata section start -->
      <section class="row align-items-center" *ngIf="metaDataTab && currentTab==='metadata'" role="tabpanel">
        <div *ngIf="createMetadataBtn" class="px-3 mt-2"><button id="Crtmd" class="btn btn-primary btn-sm"
            data-toggle="modal" (click)="onOpenMetadataCreateModal()" data-target="#create-metadata"
            #updateMetadata>Create New Metadata<span class="sr-only">Opens in a new dialog</span>
          </button></div>

        <!-- // ----------------for Common Data table----------------- // -->

        <app-data-table class="w-100" [showMenu]="true" [tableCategory]="'Metadata-Table'" [columnList]="listOfColumn"
          [dataSet]="textToSearch.length > 2 ? searchedMeta : metadataList" [optionList]="optionList"
          [roleStatusButton]="roleStatusButton" [dropdownItems]="statusList "
          (clickedStatus)="changeStatus($event.val, $event.id)" (clickedOption)="onOptionClicked($event)">
        </app-data-table>

      </section>

      <div *ngIf="metadatasetTab && currentTab==='metadataset'" role="tabpanel">
        <app-metadata-set></app-metadata-set>
      </div>

      <section *ngIf="currentTab==='association presets'" role="tabpanel">
        <app-association-presets></app-association-presets>
      </section>
      <!-- Create Metadata modal Starts -->
      <app-modal [modalId]="'create-metadata'" [modalContentId]="'createNewMetadataContent'"
        [showCloseAlert]="createMetadataForm?.dirty" [modalSize]="'small'" (closeEvent)="onCancel()"
        (mouseLeaveEvent)="mouseLeave($event)">
        <modal-div class="title-text" id="createnewmetadatatitle">
          Create New Metadata
        </modal-div>

        <modal-div class="body-content">
          <div class="row">
            <div class="form-group col-lg-12 col-sm-12">
              <p class="modal--info-txt font-bold" id="createNewMetadataContent">Fill up the information below and
                create
                new Metadata property. You might want to select appropriate value type.</p>
              <p>Field marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) is required.
              </p>
              <label for="keyName" class="font-bold" id="keyNameLabel">Key Name <span class="mandatory"
                  aria-hidden="true">*</span></label>
              <input type="text" class="form-control font-bold" id="keyName" aria-labelledby="keyNameLabel keyNameHelp"
                name="customMetadataName" [formControl]="createMetadataForm.controls['customMetadataName']">
              <div
                *ngIf="createMetadataForm.controls['customMetadataName'].hasError('required') && createMetadataForm.controls['customMetadataName'].touched"
                class="error--txt">
                <p class="font-bold m-0">Key Name Required.</p>
              </div>
              <p class="form-text text-muted text-right" id="keyNameHelp">Key is the unique identifier for your metadata
                property.
              </p>
            </div>

            <div class="form-group col-lg-12 col-sm-12" role="radiogroup">
              <h3 class="font-bold font-2x" id="valueInputLabel">Value Input type</h3>
              <div class="clearfix value-input">
                <div class="custom-control custom-radio custom-control-inline" role="radio" aria-checked="false"
                  [attr.aria-checked]="inputTypeValue===custMdText.value">
                  <input class="custom-control-input" #custMdText name="customMetadataOptions" id="custMdText"
                    type="radio" value="1" (click)="selectedOption($event.target.value)"
                    [formControl]="createMetadataForm.controls['customMetadataOptions']">
                  <label class="custom-control-label font-bold" id="custMdTextLabel" for="custMdText">Text</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline" role="radio" aria-checked="false"
                  [attr.aria-checked]="inputTypeValue===custMdDesc.value">
                  <input class="custom-control-input" #custMdDesc name="customMetadataOptions" id="custMdDesc"
                    type="radio" value="2" (click)="selectedOption($event.target.value)"
                    [formControl]="createMetadataForm.controls['customMetadataOptions']">
                  <label class="custom-control-label font-bold" id="custMdDescLabel" for="custMdDesc">Long
                    Description</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline" role="radio" aria-checked="false"
                  [attr.aria-checked]="inputTypeValue===custMdList.value">
                  <input class="custom-control-input selectionlist" #custMdList name="customMetadataOptions"
                    id="custMdList" type="radio" value="3" (click)="selectedOption($event.target.value)"
                    [formControl]="createMetadataForm.controls['customMetadataOptions']">
                  <label class="custom-control-label font-bold" id="custMdListLabel" for="custMdList">Selection
                    List</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline" role="radio" aria-checked="false"
                  [attr.aria-checked]="inputTypeValue===custMdNum.value">
                  <input class="custom-control-input" #custMdNum name="customMetadataOptions" id="custMdNum"
                    type="radio" value="6" (click)="selectedOption($event.target.value)"
                    [formControl]="createMetadataForm.controls['customMetadataOptions']">
                  <label class="custom-control-label font-bold" id="custMdNumLabel" for="custMdNum">Number</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline" role="radio" aria-checked="false"
                  [attr.aria-checked]="inputTypeValue===custMdDate.value">
                  <input class="custom-control-input" #custMdDate name="customMetadataOptions" id="custMdDate"
                    type="radio" value="4" (click)="selectedOption($event.target.value)"
                    [formControl]="createMetadataForm.controls['customMetadataOptions']">
                  <label class="custom-control-label font-bold" id="custMdDateLabel" for="custMdDate">Date</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline" role="radio" aria-checked="false"
                  [attr.aria-checked]="inputTypeValue===custMdTime.value">
                  <input class="custom-control-input" #custMdTime name="customMetadataOptions" id="custMdTime"
                    type="radio" value="5" (click)="selectedOption($event.target.value)"
                    [formControl]="createMetadataForm.controls['customMetadataOptions']">
                  <label class="custom-control-label font-bold" id="custMdTimeLabel" for="custMdTime">Time</label>
                </div>
                <p class="mb-0 form-text text-muted text-right">Select the value that will be entered for this Key</p>

                <div class="data-collection-list mt-3" *ngIf="listTypeSelected && !editCustom">
                  <div class="row show-data" *ngFor="let list of customList,let i = index">
                    <div class="col-11 item-list placeholder font-bold" id="{{i}}" contenteditable="true"
                      (keyup.enter)="addCustomMetaList($event,i)" (keypress)="onKeyPress($event)"
                      (keyup)="checkValidationCustMetadata($event,i)" (focus)="checkValidationCustMetadata($event,i)"
                      (change)="checkValidationCustMetadata($event,i)" aria-live="polite" aria-atomic="true">{{list}}
                    </div>
                    <div class="col-1 text-right" *ngIf="customList[i].length > 0">
                      <button class="btn btn-icon tooltip top sm position-relative" data-tooltip="Delete"
                        (click)="deleteCustomMetaList(i)" [attr.aria-label]="'Delete custom metadata value'"><em
                          class="icon-ico-garbage delete-item"></em></button>
                    </div>
                  </div>

                  <div class="row show-data">
                    <div class="col-12 text-right">
                      <p class="mb-0 form-text text-muted">"Enter" to add next list item.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </modal-div>

        <modal-div class="footer-buttons">
          <button type="button" class="btn btn-primary btn-sm" id="crtBtnId" (click)="createMetadata()"
            [disabled]="!createMetadataForm.valid || !validateCreate || disableButton">Create</button>
        </modal-div>
      </app-modal>
      <!-- Create Metadata modal End -->

      <!-- Edit Metadata modal Starts -->
      <app-modal [modalId]="'edit-metadata'" [showCloseAlert]="form?.dirty || valid" [modalSize]="'big'"
        (closeEvent)="onCancel()">
        <modal-div class="title-text" id="editmetadatatitle">
          Edit Metadata
        </modal-div>

        <modal-div class="body-content">
          <div class="row justify-content-center">
            <div class="col-md-11 col-lg-10 col-xl-8">
              <div class="form-group">
                <label for="metadataName" class="font-bold" id="metadataNameLabel">Metadata Name </label>
                <input id="metadataName" type="text" [(ngModel)]=metadata.name placeholder=""
                  [formControl]="form.controls['metadataname']" class="form-control font-bold"
                  [attr.disabled]="metadata.field_type_id == 7 ? '' : null"
                  aria-labelledby="metadataNameLabel metadataNameHelp" (ngModelChange)="onModelChange(metadata.name)">
                <div *ngIf="form.controls['metadataname'].hasError('required') && form.controls['metadataname'].touched"
                  class="error--txt" role="alert">
                  <p class="font-bold m-0">Metadata Name Required.</p>
                </div>
                <div
                  *ngIf="form.controls['metadataname'].hasError('required') && form.controls['metadataname'].touched && form.controls['metadataname'].valid"
                  class="error--txt" role="alert">
                  <p class="font-bold m-0">Metatdata Name Required.</p>
                </div>
                <p class="form-text text-muted text-right" id="metadataNameHelp" role="note">Use a name that is easy to
                  recognize</p>

              </div>

              <div class="form-group" *ngIf="metadata.name !== caseField && caseField">
                <p class="font-bold mb-1">CASE Field Name</p>
                <div class="row pb-2">
                  <div class="col-10">
                    <input type="text" [value]="caseField" id="caseField" readonly class="d-block border-0 w-100 py-2"
                      tabindex="-1">
                  </div>
                  <div class="col-2 text-right">
                    <button class="btn btn-clear tooltip top sm font-1x position-relative" id="cpyBtnmdtl"
                      [attr.aria-label]="'Copy'" data-tooltip="Copy" (click)="copyCaseFieldValue();"><em
                        class="far fa-clone"></em>
                    </button>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <label for="metadata-type" class="font-bold" id="metadata-typeLabel"> Metadata Type </label>
                <input name="metadata_list" id="metadata-type" class="form-control font-bold"
                  [value]="metadata.type| titlecase" disabled>
              </div>
              <div class="form-group" *ngIf="(metadata.type == 'LIST' || metadata.field_type_id == 7) && editCustom">
                <label for="metadata-type" class="font-bold" id="customMetadataListItemLabel"> List Item </label>
                <input type="text" class="form-control font-bold" [ngModel]="customMetadataListItem"
                  (input)="customMetadataListItem=$event.target.value" id="customMetadataListItem"
                  placeholder="List Item"
                  [disabled]="(metadata && metadata['internal_name'] && metadata['internal_name'] == 'Source_Type' && disableAddingListItem )? true :false"
                  (keyup.enter)="editCustomMetaList($event.target.value, metadata.field_type_id);checkValidation($event);" />
              </div>
              <div class="form-group" *ngIf="metadata.type == 'LIST' && !editCustom">
                <label for="languageName" class="font-bold" id="langnameLabel"> Name </label>
                <input name="languageName" [ngModel]="selectName" (input)="selectName=$event.target.value" id="name"
                  class="form-control font-bold" [formControl]="form.controls['languageName']">
                <div *ngIf="selectName.length < 1 && form.controls['languageName'].touched" class="error--txt"
                  role="alert">
                  <p class="font-bold m-0">Language Name Required.</p>
                </div>
              </div>
              <div class="form-group" *ngIf="metadata.type == 'LIST' && !editCustom">
                <label for="shortCode" class="font-bold" id="shortcodeLabel"> Short Code </label>
                <input name="shortCode" [ngModel]="selectCode" (input)="selectCode=$event.target.value" id="shortCode"
                  class="form-control font-bold"
                  (keyup.enter)="getMetadataValue(selectName,selectCode);checkValidation($event);"
                  [formControl]="form.controls['shortCode']">
                <div *ngIf="selectCode.length < 1 && (!form.controls['shortCode'].pristine)" class="error--txt"
                  role="alert">
                  <p class="font-bold m-0">Short Code Required.</p>
                </div>

                <p class="form-text text-muted text-right">Type the name and short-code of the value you want to add</p>
              </div>

              <div class="data-collection-list" *ngIf="metadata.type == 'LIST' && !editCustom">
                <div class="row">
                  <h3 class="font-normal">Metadata Values Added</h3>
                  <p class="font-bold" *ngIf="listValueName.length < 1">
                    Either all values are deleted or no values added yet. Start adding.
                  </p>
                </div>
                <div *ngIf="metadata.type == 'LIST' && listValueName.length > 0 && !editCustom && !metaFieldValLoading">
                  <div class="row show-data" [ngClass]="data.language_id===language_id?'active position-relative':''"
                    *ngFor="let data of listValueName;let index=index">
                    <div class="col-10">
                      <p class="mb-0">{{data.name}} ({{data.short_code}})</p>
                    </div>
                    <div class="col-2 d-flex justify-content-end text-right micro-data">
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                          <button class="btn btn-icon btn-sm p-1 tooltip top sm position-relative font-1x"
                            id="editmetdata" data-tooltip="Edit" [attr.aria-label]="'Edit the metadata value'"
                            (click)="editList(data);">
                            <em class="fas fa-pen"></em>
                          </button>
                        </li>
                        <li class="list-inline-item">
                          <button class="btn btn-icon tooltip top sm position-relative" id="delmetdata"
                            data-tooltip="Delete" (click)="deleteMetadataValue(index)"
                            [attr.aria-label]="'Delete the metadata value'">
                            <em class="icon-ico-garbage delete-item"></em>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="data-collection-list"
                *ngIf="(metadata.type == 'LIST' || metadata.field_type_id == 7) && editCustom">
                <div class="row">
                  <h3 class="font-normal">Metadata Values Added</h3>
                  <p class="font-bold" *ngIf="customList.length < 1">
                    Either all values are deleted or no values added yet. Start adding.
                  </p>
                </div>
                <div
                  *ngIf="(metadata.type == 'LIST' || metadata.field_type_id == 7) && customList.length > 0 && editCustom && !metaFieldValLoading">
                  <div class="row show-data" *ngFor="let data of customList;let index=index">
                    <div class="col-10">
                      <p class="mb-0">{{data}}</p>
                    </div>
                    <div class="col-2 d-flex justify-content-end text-right micro-data">
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                          <button *ngIf="metadata['internal_name'] !== 'Source_Type'"
                            class="btn btn-icon btn-sm p-1 tooltip top sm position-relative font-1x" id="editcustdata"
                            data-tooltip="Edit" [attr.aria-label]="'Edit metadata value'"
                            (click)="editCustomMetadataList(data,index);">
                            <em class="fas fa-pen"></em>
                          </button>
                        </li>
                        <li class="list-inline-item"
                          *ngIf="(metadata && metadata.field_type_id===7) ? ((metadata && metadata['internal_name'] && metadata['internal_name'] === 'Source_Type') ? false : ((index!==0 && index!==1) ? true : false)) : false">
                          <button class="btn btn-icon tooltip top sm position-relative" id="delmetadata"
                            data-tooltip="Delete" (click)="deleteCustomMetadataList(index,data)"
                            [attr.aria-label]="'Delete metadata value'">
                            <em class="icon-ico-garbage delete-item"></em>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </modal-div>

        <modal-div class="footer-buttons">
          <button type="button" class="btn btn-primary btn-lg" id="updateEditMd" (click)="onSubmit()"
            [disabled]="!form.valid || !valid || updateLoading">Update</button>
        </modal-div>
      </app-modal>
      <!-- Edit Metadata modal End -->

      <!-- Metadata section End -->
    </div>
  </div>
</div>
