<ng-container *ngIf="searchTrigger===false">
  <section class="row mx-0 align-items-center align-btn">
    <div class="col-6">
      <button class="btn btn-primary btn-sm" id="{{btnText.split(' ').join('')}}Btn" *ngIf="createPacingGuidePermission"
        data-toggle="modal" data-target="#createPacingGuide"
        (click)="onPacingGuideCreateBtnClick()">{{btnText}}<span class="sr-only">Opens in a new dialog</span></button>
    </div>
    <div class="col-6 project--filter d-flex align-items-center justify-content-end">
      <div [hidden]="viewType === 'listview'" class="mr-3">
        <div class="dropdown">
          <span class="font-bold">{{SORT_BY_LABEL}}:</span>
          <app-sort-list #sortListRef [sortingArray]="pacingGuides" [isProject]="true" [labelFor]="SORT_BY_LABEL"
            [sortOptions]="sortOptions"></app-sort-list>
        </div>
      </div>
      <app-view-type (selectedViewTypeEvent)="changeView($event)"></app-view-type>

    </div>
  </section> <!-- Code For Base Component -->

  <ng-container *ngIf="viewType === 'cardview';then card_view else list_view"></ng-container>

  <ng-template #list_view>
    <app-data-table [showMenu]="true" class="w-100" [columnList]="listOfColumn" [tableCategory]="'pacing guide'"
      [dataSet]="pacingGuides" [optionList]="optionList" [defaultSortBy]="listOfColumn[2]" [searchText]="searchingText"
      (clickedOption)="onOptionClicked($event)" (linkClicked)="onPacingguideSelected($event)"></app-data-table>
  </ng-template>

  <ng-template #card_view>

    <div class="row mt-3 mx-0" role="grid">
      <ng-container *ngIf="pacingGuides && pacingGuides.length>0 && (loading===false)">
        <div class="col-md-6 col-lg-4 col-xl-4 card-tile"
          *ngFor="let pacingGuide of pacingGuides | customFilter: getColumnFilterObj() | slice:startIndex:lastIndex;let i = index"
          role="row">

          <div class="card" id="card-{{i}}" role="gridcell">
            <div class="card-body">
              <p class="card-subtitle text-truncate">
                <span aria-live="polite" aria-atomic="true">Status: {{pacingGuide['status']}}</span>
              </p>
              <h2 class="card-title font-bold">
                <a href="javascript:void(0);" (click)="onPacingguideSelected(pacingGuide)"
                  target="_self">{{pacingGuide?.project_name}}</a>
              </h2>
              <p class="card-text">
                <span aria-live="polite" aria-atomic="true" class="te">Last change: {{ getLocalTimeZoneDate(pacingGuide?.updated_at)|amCalendar:{sameDay:'[Today
                  at] h:mm A'} }}
                </span><br />
                <span aria-live="polite" aria-atomic="true" class="te">Active Since: {{ getLocalTimeZoneDate(pacingGuide?.created_at)|amCalendar:{sameDay:'[Today
                  at] h:mm A'} }}</span>
              </p>

            </div>
            <div class="row card-footer">
              <div class="col">
                <ul class="list-inline more-options align-items-center float-right" *ngIf="pacingGuide.showOptions">
                  <li class="list-inline-item dropdown dropdown__more tooltip top position-relative"
                    [attr.aria-label]="'Configure'" data-tooltip="Configure">
                    <button class="dropdown-toggle btn btn-icon mr-3 p-1" data-toggle="dropdown" id="dropdown-toggleBtn"
                      aria-haspopup="true" aria-expanded="false">
                      <em class="icon-icon-more-horiz">
                        <span class="sr-only sr-only-focusable">more option for {{pacingGuide?.project_name}}</span>
                      </em>
                    </button>

                    <div class="dropdown-menu dropdown-menu-right">
                      <a href="javascript:void(0);" class="dropdown-item" data-toggle="modal"
                        data-target="#createPacingGuide" *ngIf="pacingGuide.isEditable"
                        (click)="onPacingGuideEditBtnClick(pacingGuide)" aria-label="edit pacing guide">Edit</a>
                      <a href="javascript:void(0);" class="dropdown-item"
                        (click)="onPacingGuideDelete(pacingGuide.project_id, pacingGuide.project_name)"
                        *ngIf="pacingGuide.isDelete" aria-label="Delete pacing guide">Delete</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <!-- pagination starts -->
    <app-pagination *ngIf="filterData && filterData.length > minItemPerPage" [dataLength]="filterData.length"
      (displayItemRangeEvent)="showDataInRange($event)"></app-pagination>
    <!-- pagination ends -->
  </ng-template>
  <!-- Pacing Guide Card grid end -->

  <!-- Create Pacing Guide Modal starts -->
  <app-create-pacing-guide #createPacingGuide [actionMode]="actionMode" [pacingGuideData]="selectedPacingGuide"
    (createdEvent)="onEvent($event)" (updatedEvent)="onEvent($event)" (canceledEvent)="false"></app-create-pacing-guide>



  <!-- Create Pacing Guide Modal ends -->

</ng-container>

<app-search-listing *ngIf="searchTrigger" [searchResult]="searchResult">
</app-search-listing>
