.pull-middle{ overflow:hidden;}
img{ max-width:100%; height:auto;}
body{color:#666666;}
.Show_Hide_Front_View #accordion .panel { background:none; border:0;  box-shadow:none;}
.Show_Hide_Front_View #accordion .panel-heading{ background-color:#eaeaea; border:0; padding:0;}
.Show_Hide_Front_View #accordion .panel-heading a{ padding: 10px 15px 10px 40px; display:block; color:#333333; font-size:14px; text-transform:uppercase; font-weight:bold; position:relative;}
.Show_Hide_Front_View #accordion .panel-heading a:hover{ text-decoration:none;}
.Show_Hide_Front_View #accordion .panel-body{ border:0; padding-top:40px;}
.indication{ width:26px; height:100%; background-color:#c2185b; position:absolute; left:0; top:0; display:table-cell; text-align:center;}
.indication .fa{ color:#fff; font-size:18px; width:18px; height:18px; position:absolute; left:50%; top:50%; margin-left:-9px; margin-top:-9px;}
.Show_Hide_Front_View #accordion .collapsed .indication .fa:before{    content: "\f0da";}