.pull-middle{ overflow:hidden;}
img{ max-width:100%; height:auto;}
body{color:#666666;}
.sub-title {    background: #f6f6f6;    border-bottom: 1px solid #eee;    padding: 7px 15px;    font-size: 13px;}
.inner-modal-content {    background-color: #fff;}

.drop-block {
    background-color: #f6f8f8;
    padding: 30px 50px 40px;
    margin-bottom: 30px;
    border:1px solid rgba(0, 0, 0, 0.08);
    text-align: center;
    font-size: 14px;
    color: #666666;
}
.drop-block input{ display:none;}
.drop-block a{ display:block; font-size:42px; color:#666666;}
.drop-block .fa{cursor:pointer; }
	
	
	
	
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	font-size: 14px;
	 line-height: 1.42857143;
	 margin: 0;
	  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.collapse.in {
    display: block;
}
.collapse {
    display: none;
}
a {
    text-decoration: none;
}
p {
    margin: 0 0 10px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.collapsing {
	position:relative;
	height:0;
	overflow:hidden;
	-webkit-transition-property:height, visibility;
	-o-transition-property:height, visibility;
	transition-property:height, visibility;
-webkit-transition-duration:.35s;
-o-transition-duration:.35s;
transition-duration:.35s;
	-webkit-transition-timing-function:ease;
	-o-transition-timing-function:ease;
	transition-timing-function:ease
}
