<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="widget">  
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->
        <div class="content-wrap">
            <!--SECTION STARTS HERE-->

            <section class="wrapper">
                <div class="page-title">
                    <div class="pull-right"> 
                        <button type="button" class="btn btn-primary" ng-click="addWidgetForm('')">Create New Widget</button>
                    </div>
                    <div class="pull-middle"> 
                        Widget
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="container product-inner">
                    <div class="content">
                        <div class="from-container">
                            <!--/*stucture modified for all pages*/-->
                            <div class="from-container-row">
                                <div class="pattern-list-container">
                                    <div class="page-title5"><h4 class="title pull-left">Widget Management</h4>
                                        <div class="filter-area filter-button-area pull-right">
                                            <div class="pull-left">
                                                <input type="text" class="form-control search-frm" ng-keyup="do_search()" placeholder="Enter search term" name="search_text" ng-model="search_text">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <table class="pattern-list-table" width="100%" cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th width="45%" style="cursor: pointer;" ng-click="applySorting('name')">Name <span ng-show="currentOrderByField == 'name'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span>
                                                </th>         
                                                <th width="12%" style="cursor: pointer;text-align: center;" ng-click="applySorting('status')">Status <span ng-show="currentOrderByField == 'status'"><span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up"></span><span ng-show="reverseSort" class="glyphicon  glyphicon-arrow-down"></span></span></th> 
                                                <th width="43%">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--tr ng-repeat="widget in widgets"-->
                                            <tr dir-paginate="widget in widgets | itemsPerPage: itemsPerPage" total-items="total" current-page="currentPage" pagination-id="widgetListId">
                                                <td>{{widget.name}}</td> 
                                                <td>                                                    
                                                    <div class="switch">
                                                        <span class="switch-button-label build" ng-class="{'active': template.status == 1000}">Inactive</span>
                                                        <input id="cmn-toggle-{{$index + 1}}" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-click="changeStatus(widget.id)" ng-checked="widget.status == 1001">
                                                        <label class="switch-button-background" for="cmn-toggle-{{$index + 1}}"> </label>
                                                        <span class="switch-button-label test" ng-class="{'active': widget.status == 1001}">Active</span>
                                                        <div class="clear"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-default2" ng-click="editWidgetForm(widget.id)">Edit</button>
                                                    <!--button type="button" class="btn btn-default2" ng-click="deleteWidget(widget.id)">Delete</button-->                                                    
                                                </td>


                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <!-- Pagination Starts Here -->
                                        <dir-pagination-controls class="dir_pagination"
                                                                 boundary-links="true" 
                                                                 pagination-id="widgetListId" 
                                                                 on-page-change="pageChangeHandlerWidget(newPageNumber)" 
                                                                 template-url="lib/angular-utils-pagination/dirPagination.tpl.html">                                        
                                        </dir-pagination-controls>
                                        <!-- Pagination Starts End -->
                                        </td>
                                        </tr>
                                        <tr ng-show="total==0">
                                            <td colspan="3"> 
                                                <div class="alert alert-danger" role="alert"><center>No Widget Found!!!!</center></div>  
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!--/*//////stucture modified for all pages*/--> 
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <!--SECTION ENDS HERE-->
        </div>
        <!--FOOTER STARTS HERE-->
        <!--<div ng-include src="'templates/footer.html'" class="footer-container"></div>-->
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>