<style>
    .ajax-content{
        width:100%;
        height:100%;
        position:absolute;
        /*display:none;*/
    }
</style>
<div class="ajax-content" ng-cloak>
    <div class="overlay" ng-click="toggleShowMenuClass()"></div>
    <div class="main_container" ng-controller="widget">  
        <!--HEADER STARTS HERE-->
        <div ng-include src="'templates/header.html'" class="header-container"></div>
        <!--HEADER ENDS HERE-->

        <!--SECTION STARTS HERE-->
        <section class="wrapper">
            <div class="page-title">            
                <div class="pull-right"> 
                    <button type="button" class="btn btn-default" ng-click="goto('widget')"><< Go Back to widget</button>
                </div>
                <div class="pull-middle"> 
                    Widget
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="container product-inner">
                <div class="content">
                    <div class="from-container-row">

                        <div class="update_profile_container">
                            <form role="form" name="formData" novalidate enctype="multipart/form-data" class="update_profile_form">
                                <h3 class="profile_heading">
                                    <i class="heading_line"></i>
                                    <span>{{widget_form_title}}</span>
                                </h3>
                                <span ng-show="showMsg" ng-class="{
                                            'label - success': status == 200, 'label-danger': status > 200, 'label-info': status == 0}" class="label">{{message}}</span>
                                <div class="form-group row">
                                    <div class="col-xs-12  col-sm-6 margin-top-bottom">
                                        <label for="exampleInputEmail1">Name<span class="required">*</span></label>
                                        <input ng-model="formData.name" type="text" class="form-control"  placeholder="Name" required>
                                        <span class="text-danger center-block ng-binding" ng-show="submitted && error.name">{{error.name}}</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="widgetType">Widget Type<span class="required">*</span></label>
                                            <select ng-model="formData.type" ng-disabled="widget_id" name="formData.type" ng-options="types.name for types in widgetTypes track by types.id " class="form-control" required>
                                                <option value="">Select Type</option>
                                            </select>
                                            <span class="text-danger center-block ng-binding" ng-show="submitted && error.type">{{error.type}}</span>
                                        </div>
                                    </div>                                    
                                    <div class="clearfix"></div>
                                </div> 

                                <div class="form-group row"> 
                                    <div class="col-xs-12  col-sm-6 margin-top-bottom">
                                        <label for="exampleInputEmail1">Description</label>
                                        <textarea ng-model="formData.description" type="text" class="form-control"  placeholder="Description" style="resize: vertical;"></textarea>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Choose Package<span class="required">*</span></label>
                                            <input style="padding: 0;" file-model="formData.widget_file" name="widgetFile" type="file" class="" placeholder="Widget"  accept=".zip" required>                                   <span class="text-danger center-block ng-binding" ng-show="submitted && error.widget_file">{{error.widget_file}}</span>
                                        </div>
                                    </div> 
                                    <div class="clearfix"></div>
                                </div>
                                <button type="button" class="btn btn-default" ng-click="goto('widget')">Cancel</button>
                                <button ng-if="add_btn" type="button" class="btn btn-primary" ng-click="add_widget(formData)" ng-disabled="clickedOnce">{{widget_form_button}}</button>
                                <button ng-if="edit_btn" type="button" class="btn btn-primary" ng-click="edit_widget(formData)" ng-disabled="clickedOnce">{{widget_form_button}}</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--SECTION ENDS HERE-->

        <!--FOOTER STARTS HERE-->
        <div ng-include src="'templates/footer.html'" class="footer-container"></div>
        <!--FOOTER ENDS HERE-->

    </div>
    <div class="clearfix"></div>
</div>