<ng-container>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <div class="container-fluid align-tabs">

      <app-tab [tabItems]='tabItems' [currentTab]="currentTab" (tabSelectedEvent)="onTabSelected($event)"></app-tab>

      <section role="tabpanel" *ngIf="currentTab===HOME_TAB.toLowerCase() && taxonomyData && viewPacingGuidePermission">
        <div class="tab-container row d-flex align-items-center justify-content-between pb-3">
          <div class="col-md-6 col-xl-7 d-flex align-items-center justify-content-start p-0">
            <button type="button" class="btn btn-icon tooltip top sm position-relative font-1x" data-tooltip="Edit"
            (click)="onEditClick()" [attr.aria-label]="'Edit ' +  (pacingGuideDetail && pacingGuideDetail.project_name ? pacingGuideDetail.project_name:'') ">
              <em class="fas fa-pen"></em>
            </button>
          </div>

          <app-tree-tab (treeTabSelectedEvent)="onTreeTabSelected($event)" [showExport]="false"
            [currentTreeTab]="currentTreeTab" [viewLocation]="'pacingguidedetail'" [treeTabItems]="treeTabItems"
            [hidden]='false'>
          </app-tree-tab>
        </div>
        <div class="taxonomies-container project-authoring m-0">
          <section id="taxonomyDataContainer" class="row" *ngIf="currentTreeTab !==TABLE_VIEW">


            <section id="treeViewContainer" class="row w-100 h-100" *ngIf="currentTreeTab!==GRAPH_VIEW">
              <section id="treeDetailsView" class="pr-0 treeDetailsView overflowY-auto"
                [ngClass]="currentTreeTab===TREE_VIEW?'col-12':''"
                [ngStyle]="{'width': currentTreeTab!==TREE_VIEW ? getLeftPanelWidth() : '100%'}">

                <section id="accordion" class="col-12"
                  [ngClass]="currentTreeTab===TREE_VIEW?'tree--view tree--view__zoom':'tree--details'"
                  [ngStyle]="{'padding-right': currentTreeTab===DETAIL_VIEW ? '0' : '15px'}">
                  <section>
                    <app-tree #tree [treeNodes]="taxonomyData" [viewLocation]="'taxonomydetail'"
                      [showComplaince]="true">
                    </app-tree>
                  </section>
                </section>
              </section>
              <!-- Preview Panel START-->
              <section id="right_container_id"
                class="col-5 pt-3 bg-lighter preview-panel position-fixed overflowY-auto">
                <app-item-details #itemDetailsComponent [isEditable]="isEditable" [viewLocation]="viewLocation"
                  [view]="view" [showNodeType]="true" [taxonomyData]="taxonomyData" [treeTaxonomyData]="taxonomyData"
                  [showAssociation]="showAssocciation" [showAdditionalMetadata]="showAdditionalMetaData"
                  [showExemplar]="showExemplar" [showDocument]="showAssets"
                  [addedAdditionalMetadata]="itemAdditionalMetadata" [itemExemplars]="itemExemplars"
                  [itemAssets]="itemAssets" [itemAssociations]="itemAssociations" [itemLinkedNodes]="itemLinkedNodes"
                  [canPreview]="false" [isAllNode]="false" [firstNode]="taxonomyData ? taxonomyData[0] : null"
                  [showNavigation]="showNavigation" (nextClickEvent)="onNextNavigationClick($event)"
                  (previousClickEvent)="onPreviousNavigationClick($event)"></app-item-details>
              </section>
              <!-- end of preview label record set -->

            </section>
            <!-- Preview Panel END-->

          </section>
        </div>
      </section>

      <app-preloader *ngIf="!taxonomyData && currentTreeTab ===defaultTreeTab" [loaderText]="'Loading Pacing Guide'" class="w-100 position-fixed preloader-backdrop">
      </app-preloader>

      <div *ngIf="taxonomyData && currentTab===TEAM_TAB.toLowerCase() && viewUserPermission" role="tabpanel">
        <app-team-detail [canEditUser]="editUserPermission" [canAddUser]="addUserPermission"
          [canDeleteUser]="deleteUserPermission"></app-team-detail>
      </div>

      <section *ngIf="currentTab===REPORT_TAB.toLowerCase() && taxonomyData" role="tabpanel">
        <app-pacing-guide-report [taxonomyData]="taxonomyData"></app-pacing-guide-report>
      </section>

    </div>
    <!-- end of container-fluid -->
  </div>
  <!-- end of justify-content -->

  <div class="col-12 pt-3"
    *ngIf="currentTreeTab ===TABLE_VIEW && currentTab===HOME_TAB.toLowerCase() && viewPacingGuidePermission">
    <ng-container *ngIf="taxonomyData && taxonomyArrayData && listOfColumn.length > 0 && tableViewCompatible">
      <app-data-table [showMenu]="false" class="w-100" [tableCategory]="'taxonomy node'" [columnList]="listOfColumn"
        [dataSet]="taxonomyArrayData" [sortRequired]="false"></app-data-table>
    </ng-container>

    <!-- If table is not compatible as per requirement (ACMT-2030), table view will not be shown -->
    <ng-container *ngIf="taxonomyData && !tableViewCompatible">
      <p>Table view is not compatible for display.</p>
    </ng-container>
  </div>

</ng-container>
