@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.pacing-guide{
    &-authoring{
      &-header{
        @include border-indv('bottom', 1px, solid, $light);
        @include margin-all(0 -45px);

            .left-panel,
            .right-panel{
                @include padding(14px 15px);
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        &-title{
            .title-locked{
                @include top(4px);
                max-width: 89%;
            }

            &.edit{
                @include top(-4px);
                @include padding(3px 8px);
            }
        }
    }
}
