@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.pacing-guide{
    .expnaded{
      &-header{
        @include padding-all(20px, 0, 20px, 20px);
        @include box-shadow-all;

        .h2{
          @include font-size(24);
        }
      }
    }

    &-sub-title{
      @include font-size(20);
      max-width: 80%;
    }

    .btn-add{
      @include border-radius(50%);
      @include padding-all(1px,5px,1px,5px);
      @include font-size(18);
      line-height: 19px;
    }

    .add-standard{
      width: 220px;

      .dropdown{
        &-menu{
          @include bgcolor($white);
          @include box-shadow-dropdown;
          @include border-all(1px, solid, $light);
          @include padding(0);
          width: 310px;
          overflow: hidden;
          
          &:after{
            @include display(none);
          }
        }

        &-item{
          @include padding(8px 15px);
          @include font-size(16);

          &:hover,
          &:focus{
            @include bgcolor($primary);
            @include font-color($white);
            span,
            strong{
              @include font-color($white);
            }
          }

          strong{
            @include display(block);
            @include font-color($darkest-x);
          }

          span{
            @include display(block);
            @include font-size(13);
            @include font-color($darkest);
          }
        }
      }
    }
}
