@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.pacing-guide{
    &-authoring{
        &-body{
          @include padding-indv('top', 40px);
          @include margin-all(0 auto);
        }
  
        &-left{
          @include left(0);
          @include top(62px);
          @include z-index(1);
          @include bgcolor($lightest);
          width: 220px;
  
          &-header{
            @include padding(10px);
            @include border-indv('bottom', 1px, solid, $light);
            
          }
  
          .standard-search{
            @include margin-indv('top', 1px);
            @include padding(10px);
            @include border-indv('top', 1px, solid, $light);

            &-result{
                @include bgcolor($lighter);
                @include padding(10px);
                @include border-indv('top', 1px, solid, $light);

              .icon-ico-collapse{
                @include font-size(12);

                &.back-to-parent{
                  @include position(relative);
                  @include top(-2px);
                }
              }

              .node{
                &-title{
                    @include font-size(14);
                    @include font-color($darkest-x);
                    line-height: 20px;
                    word-break: break-word;
                }
              }

              .card{
                @include margin-indv('bottom', 10px);
                
                &-footer{
                  @include bgcolor(transparent);
                  @include padding(5px 10px);
                  @include font-size(12);

                  button{
                    @include bgcolor(transparent);
                    @include border-none(none);
                  }
                }

                &:last-child{
                  @include margin-indv('bottom', 0);
                }
              }
            }
          }
        }
  
        &-right{
          @include margin(0, 0, 0, 220px);
        }
  
        &-footer{
          @include padding(15px 0);
          @include bgcolor($white);
          @include border-indv('top', 1px, solid, $light);
          @include right(0);
          @include bottom(0);
          @include z-index(1);
          width:100%;
        }
    }
}
