@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.pacing{
    &-guide{
        .comment{
            @include bgcolor($tertiary);
            @include right(0);
            flex: 0 0 3%;
            max-width: 3%;

            &-label{
                @include rotate(-90);
                @include display(block);
                @include font-size(14);
                @include font-color($black);
                @include margin-indv('top', 60px);
                @include margin-indv('left', 8px);
                white-space: nowrap;
            }
       }

        .ic-comment{
            @include display(block);
            @include margin-indv('left', 14px);
            width: 12px;
        }
    }
}
