<section id="pacing_guide_container" class="pacing-guide">
  <section id="comment_container_id" class="col p-0 comment" [ngStyle]="{'height': calculatedHeight}"
    style="position: absolute;">
    <button type="button" id="btnComment" (click)="openCommentSec()" class="btn btn-clear p-0 w-100"
      aria-label="Click to add comment">
      <span class="text-center mt-2">
        <em class="icon-ico-comment"></em>
        <img src="assets/images/comment_new.png" class="img-responsive" alt="Comment" />
        <span class="comment-label text-uppercase font-bold">Comments</span>
      </span>
    </button>
  </section>

  <section class="pacing-guide-authoring-body">
    <div class="row">
      <div id="left_panel" class="pacing-guide-authoring-left position-absolute" [ngStyle]="{'height': calculatedHeight}">
        <div id="add_standard" class="add-standard">
          <div class="dropdown">
            <div *ngIf="canCreateContainer"
              class="pacing-guide-authoring-left-header d-flex justify-content-between align-items-center">
              <p class="mb-0 text-uppercase font-bold">Add Container</p>
              <button class="btn btn-primary btn-sm btn-add font-bold" id="onAddContainerModalOpenBtn" type="button" data-toggle="modal"
                data-target="#addContainer" aria-haspopup="true" aria-expanded="false"
                (click)="onAddContainerModalOpen()">
                +
              </button>
            </div>
          </div>

          <div class="standard-search">
            <p class="mb-2 text-uppercase font-bold">Standards</p>
          </div>
        </div>

        <div class="standard-search-result" style="overflow: auto" [ngStyle]="{'height': getInnerPanelHeight()}">
          <div class="d-flex align-items-start justify-content-start" *ngIf="isTaxonomyExpanded">
            <button class="btn btn-clear py-0 px-2" id="loadPreviousBtn" (click)="loadPrevious(expandedNode)">
              <em class="icon-ico-collapse ic-flip back-to-parent"></em>
            </button>
            <h2 class="node-title node-parent mb-4 font-bold">{{ expandedNode.is_document === 1 ? expandedNode.title :
              expandedNode.full_statement }}</h2>
          </div>


          <ng-container>
            <div class="card" *ngFor="let node of nodeList">
              <div
                *ngIf="node.is_document === 0 && node.children && node.children.length === 0;then non_expandable else expandable">
              </div>
              <!-- expandable taxonomy starts -->
              <ng-template #expandable>
                <div class="cards-header d-flex align-items-start justify-content-between" [dragData]="node"
                  id="{{node.id}}" draggable (dragstart)="drag($event)"
                  [dragEnabled]="node.is_document !== 1 && !node?.isOrphanLabel">
                  <div class="d-flex align-items-start justify-content-start" id="{{node.id}}">
                    <button class="btn btn-clear btn-drag px-2 py-0">
                      <img *ngIf="node.is_document !== 1" alt="move" class="img-fluid ic-dismiss"
                        src="assets/images/move.gif">
                    </button>
                    <h3 class="node-title node-child pt-2 font-bold" *ngIf="node.is_document === 1">{{  node.title}}
                    </h3>
                    <h3 class="node-title node-child pt-2 font-bold" *ngIf="node.is_document !== 1">{{node.human_coding_scheme }}{{node.human_coding_scheme?':':''}}{{node.full_statement
                      | slice:0:200}}{{node.full_statement.length>200?'...':''}}</h3>
                  </div>

                  <button class="btn btn-clear" id="loadNextBtn" (click)="loadNext(node)">
                    <em class="icon-ico-collapse"></em>
                  </button>
                </div>
              </ng-template>
              <!-- expandable taxonomy ends -->
              <!-- non-expandable node starts -->
              <ng-template #non_expandable>
                <div class="cards-header d-flex align-items-start" [dragData]="node" id="{{node.id}}" draggable
                  (dragstart)="drag($event)" [dragEnabled]="node.is_document !== 1 && !node?.isOrphanLabel">

                  <button class="btn btn-clear btn-drag px-2 py-0" id="{{node.id}}">
                    <img alt="move" class="img-fluid ic-dismiss" src="assets/images/move.gif">
                  </button>

                  <div class="pt-2 item" id="{{node.id}}">

                    <p class="item-name mb-2" *ngIf="node.is_document === 1">{{  node.title}}</p>
                    <p class="item-name mb-2" *ngIf="node.is_document !== 1">{{node.human_coding_scheme }}{{node.human_coding_scheme?':':''}}{{node.full_statement
                   | slice:0:200}}{{node.full_statement.length>200?'...':''}}</p>
                  </div>

                </div>
              </ng-template>
              <!-- non-expandable nodes ends -->
              <div *ngIf="node.item_usage_count" class="card-footer text-right">
                <small class="text-uppercase">used {{node.item_usage_count}} <span>
                    {{ node.item_usage_count > 1 ? 'times' : 'time' }}</span>
                </small>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
      <div class="pacing-guide-authoring-right row justify-content-center w-100">
        <ng-container>
          <div class="col-9" [ngStyle]="{'opacity':updateItem?0.3:1}">
            <app-pacing-guide-tree-reorder #treeViewRef [dataList]="addedAuthoringList" (treeUpdateEvent)="onTreeUpdate($event)"
              (deleteEvent)="onDeleteEvent($event)" (clickedItemEvent)="getCurrentItem($event)"
              (addStandardEvent)="onAddStandard($event)" [containerDeletePermission]="canDeleteContainer"
              [viewType]="'pacing-guide'" (invalidMoveEvent)="onInvalidMoveEvent($event)"></app-pacing-guide-tree-reorder>
          </div>
        </ng-container>
      </div>

    </div>
    <ng-container *ngIf="authItemsLoading===true">
      <div style="margin-top: 300px;">
        <app-preloader loaderText="Loading authored items" class="w-100 position-fixed preloader-backdrop"></app-preloader>
      </div>
    </ng-container>

    <ng-container *ngIf="addedAuthoringList && addedAuthoringList.length < 1 && (authItemsLoading===false)">
      <p droppable (onDrop)="drop($event)" class="text-muted text-center mt-5">No authored items found!</p>
    </ng-container>
    <app-projects-notes #projectNotesComponentId [selecteNodeType]="selectedNode?.is_document===1?2:1"
      [selectNodeItemID]="selectedNode?.item_id" [showNav]="showNav" [viewLocation]="'pacingguide'">
    </app-projects-notes>
  </section>


</section>




<!-- Add Standard Modal Starts -->
<div class="modal modal--small fade" id="addStandard" tabindex="-1" role="dialog" aria-labelledby="addStandardTitle"
  aria-modal="true" aria-hidden="true" (keydown)="onKeydown($event);">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title font-regular" id="addStandardTitle">Add Standard</h2>


        <button type="button" class="btn btn-icon" id="closeBtn" tabindex="0" data-dismiss="modal" aria-label="Close">
<em class="fas fa-times" aria-hidden="true"></em>
        </button> 
        
      </div>
      <div class="modal-body">
        <form [formGroup]="standardForm">
          <div class="row">
            <div class="form-group col-lg-12 col-sm-12">
              <label for="taxonomy" class="font-bold" id="taxonomyLabel">Taxonomy
                <span class="mandatory" aria-hidden="true">*</span>
              </label>
              <select class="custom-select" id="taxonomy" [(ngModel)]="selectedTaxonomy"
                (ngModelChange)="onTaxonomySelected($event)" [formControl]="standardForm.controls['selectedTaxonomy']"
                aria-labelledby="taxonomyLabel">
                <option [ngValue]="null">Select</option>
                <option *ngFor="let item of taxonomyList" id="{{ item.title.split(' ').join('') }}Btn" [ngValue]="item">{{ item?.title }}</option>
              </select>
              <div
                *ngIf="standardForm.controls['selectedTaxonomy'].hasError('required') && standardForm.controls['selectedTaxonomy'].touched"
                class="error--txt">
                <p class="font-bold m-0">Taxonomy Required.</p>
              </div>
            </div>

            <div class="form-group col-lg-12 col-sm-12">
              <label for="selectStandards" class="font-bold" id="selectStandardsLabel">Select Standards
                <span class="mandatory" aria-hidden="true">*</span>
              </label>
              <div class="preview-box" aria-required="true" aria-labelledby="selectStandardsLabel">
                <section id="accordion" class="col-12 tree tree--details pr-0" *ngIf="taxonomyData">
                  <section class="card">
                    <ng-container *ngFor="let taxonomy of taxonomyData">
                      <app-tree-accordian #treeAccordianRef [treeData]="taxonomy.children" [level]="1"
                        [viewLocation]="'pacing_guide_authoring'"></app-tree-accordian>
                    </ng-container>
                  </section>
                </section>

              </div>
              <div *ngIf="taxonomyData && selectedTreeNode && (selectedTreeNode.is_document===1)" class="error--txt">
                <p class="font-bold m-0">Parent node can not be selected.</p>
              </div>
            </div>


          </div>
        </form>
        <p class="mb-0">Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are
          required.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel text-underline" id="onCancelBtn" data-dismiss="modal"
          (click)="onCancel()">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm" id="onconfirmBtn" (click)="onCreateStandard('')"
          [disabled]="checkFormValidation('standard')===false" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>
<!-- Add Standard Modal Ends -->

<!-- Add Container Modal Starts -->
<app-modal [modalId]="'addContainer'" [showCloseAlert]="containerForm.dirty" [modalSize]="'small'"
  (closeEvent)="onCancel()">
  <modal-div class="title-text" id="addcontainertitle">
    Add Container
  </modal-div>

  <modal-div class="body-content">
    <p>Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are required.
    </p>
    <form [formGroup]="containerForm">
      <div class="row">
        <div class="form-group col-lg-12 col-sm-12">
          <app-auto-complete [listingObj]="containerTypeList" (selectedObject)="updateSelectedObject($event)"
            [selectType]="selectType" [uniqueId]="uniqueId" [propName]="'title'" (validationEvent)="checkValidation()"
            [autoCompleteTitle]="autoCompleteTitle" #autoComplete (clickOutside)="onClickedOutsideTaxonomy($event)">
          </app-auto-complete>
        </div>

        <div class="form-group col-lg-12 col-sm-12">
          <label for="containerText" class="font-bold" id="containerTextLabel">Container Text
            <span class="mandatory" aria-hidden="true">*</span>
          </label>
          <textarea class="form-control font-bold" id="containerText" rows="3" placeholder=""
            [(ngModel)]="containerText" [formControl]="containerForm.controls['containerText']"
            aria-labelledby="containerTextLabel"></textarea>
          <div *ngIf="(containerForm.controls['containerText'].hasError('required') || (containerText?.trim() === ''))
          && containerForm.controls['containerText'].touched" class="error--txt">
            <p class="font-bold m-0">Container Text Required.</p>
          </div>
        </div>

      </div>
    </form>
  </modal-div>

  <modal-div class="footer-buttons">
    <button type="button" class="btn btn-primary btn-sm" id="onCreateContainerBtn" (click)="onCreateContainer()"
      [disabled]="checkFormValidation('container')===false" data-dismiss="modal">Confirm</button>
  </modal-div>
</app-modal>
<!-- Add Container Modal Ends -->
