<style>
  .collapsed{
    cursor: auto;
    text-decoration: none !important;
  }
  .has-error > .error_show{
    display: block !important;
    font-weight: 100;
    color: #a94442;
  }
  .disabled-grade{
    pointer-events: none;
    opacity: 0.5;
  }
  .chice-deletes{
    position: absolute;
    top: 0;
    margin-top: 0;
    width: 40px;
    height: 100%;
    right: 0;
    border-radius: 0 4px 0 0;
    color: #ff1e12 !important;
    background: #f6f6f6;
    margin: 0px;
    border-left: 1px solid #eee;
    box-shadow: none !important;
  }
  .text-wrap{
    white-space: pre-wrap;
  }

</style>
<div class="panel-group mcss-wrapper" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="collapsed" data-parent="#accordion" data-target="#collapseOne">
          QUESTION DETAILS
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">



        <div class="form-group">
          <label for="question_title">Question Title</label>
          <input id="question_title"  name="question_title" type="textarea" class="form-control requires"  maxlength="255"/>
          <label class="error_show" style="display:none">Please enter the Question Title</label>
          <label class="pull-right"><span id="chars">255</span> characters remaining</label>
        </div>
        <div class="form-group">
          <label for="question_stem">Question Stem</label>
          <textarea id="question_stem"  name="question_stem" type="textarea" class="form-control requires text-wrap ckeditor" rows="1"></textarea>
          <label class="error_show" style="display:none">Please enter the Question Stem</label>
        </div>
        <div class="form-group">
          <label for="instruction_text">Instruction Text</label>
          <textarea id="instruction_text"  name="instruction_text" type="textarea" class="form-control text-wrap ckeditor" rows="1"></textarea>
          <!--<label class="error_show" style="display:none">Please enter the Question Instruction text</label>-->
        </div>
        <div class="form-group">
          <div class="col-md-3">
            <div class="radio">
              <label><input type="radio" name="media" ng-model="media.type" value="no-media"> Without Media</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="radio">
              <label><input type="radio" name="media" ng-model="media.type" value="media"> With Media</label>
            </div>
          </div>
        </div>
        <dvi class="clearfix"></dvi>
        <div class="form-group" ng-show="ext_res_block">
          <div ng-hide="ext_res_title">
            <!--button class="btn btn-default btn-md" ng-click="addBrightCoveModal()" id="brightcove_button" ng-disabled="add_media_button">Add Brightcove Video</button>
            <span>- or -</span-->
            <button class="btn btn-default btn-md" ng-click="addAssestModal()" ng-disabled="add_media_button">Add Media from Assets</button>   
          </div>
          <dvi class="clearfix"></dvi>
          <div class="media col-md-3" ng-show='ext_res_title' style='border: 1px solid #ccc;padding: 5px;'>
            <div class="media-left">
              <a href="javascript:void(0);">
                <span ng-hide="ext_ico_block">
                  <img class="media-object" src="img/blank.jpg" alt="Image not Found" style="max-width: inherit !important;width:64px">
                </span>
                <span ng-show="ext_ico_block">
                  <img class="media-object" ng-src="{{ext_res_url}}" alt="Image not Found" style="max-width: inherit !important;width:64px">
                </span>
              </a>
            </div>
            <div class="media-body">
              <h5 class="media-heading"><span ng-bind-html="ext_res_title"></span></h5>
              {{ext_res_type}}
              <button type="button" class="btn chice-deletes" ng-click="deleteResource()">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <input type="hidden" id="ext_res_title" ng-model="ext_res_title">
          <input type="hidden" id="ext_res_type" ng-model="ext_res_type">
          <input type="hidden" id="ext_res_url" ng-model="ext_res_url">
          <input type="hidden" id="ext_res_title_id" ng-model="ext_res_title_id">
          <input type="hidden" id="media_type" ng-model="media_type">
          <input type="hidden" id="ext_res_height" ng-model="ext_res_height">
          <input type="hidden" id="ext_res_width" ng-model="ext_res_width">

        </div>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="collapsed" data-parent="#accordion" data-target="#collapseTwo">
          DETAILS
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body choice-body">


        <div class="row choice-point-block">
          <!-- Response Type -->
          <div>
            <div class="form-group">
              <div class="col-md-3">
                <label><input type="radio" id="without_res" name="response_type" value="without-response"> Without Response</label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3">
                <label><input type="radio" id="with_res" name="response_type" value="with-response"> With Response</label>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <!-- Grade type-->
          <div id="grade_container" class="disabled-grade">
            <div class="form-group">
              <div class="col-md-3">
                <label style="display:none"><input type="radio" name="grade_type" value="without-grading"> No Grade</label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3">
                <label  style="display:none"><input type="radio" name="grade_type"  value="with-grading"> Manual Grade</label>
              </div>
            </div>
          </div>

        </div>
        <!--without response-->
        <div class="form-group" id="without-response">
          <label>Answer</label>
          <textarea name="answer" id="answer" class="form-control text-wrap ckeditor" placeholder="Place your answer here"></textarea>
        </div>
        <!--with response without grading-->
        <div id="with-response" style="display:none">
          <div class="form-group">
            <label>Sample Answer</label>
            <textarea name="sample_answer" id="sample_answer" class="form-control text-wrap ckeditor" placeholder="Place your answer here"></textarea>
          </div>
          <div class="form-group">
            <label>Feedback</label>
            <textarea name="feedback" id="feedback" class="form-control ckeditor" placeholder="Place your Feedback here"></textarea>
          </div>
        </div>
        <!--with response with grading-->
        <div id="with-grading" style="display:none">
          <div class="form-group">
            <label>Feedback</label>
            <input type="text" name="feedback" id="feedback_grade"  class="form-control" placeholder="Place your Feedback here">
          </div>
        </div>

        <!-- Answer choice setting -->

      </div>
    </div>
  </div>


</div>
<script src="templates/assessment/open-ended/js/getSetContent.js" ></script>