<!-- outer node -->
<div class="table-view-header" *ngIf="dataReceived">
  <div class="thead d-flex justify-content-between" role="row">
    <div class="th d-flex" role="columnheader" *ngFor="let column of listOfColumn" [ngClass]="column.class">
      <h2 class="font-bold h-text">{{column.name}}</h2>
    </div>
  </div>
</div>
<ng-template #branch let-items>
  <div *ngFor="let item of items">
    <ng-container *ngTemplateOutlet="leaf; context: {item: item}"></ng-container>
  </div>

</ng-template>

<!-- leaf node -->
<ng-template let-item="item" #leaf>

  <div id="accordion" class="table-view">
    <div class="card">
      <div class="card-header" id="headingOne">


        <div class="tbody">
          <div class="row mx-0 tr justify-content-between" role="row" aria-live="polite" aria-atomic="true" *ngIf="item"
            [class.active]="clicked === item.id">
            <div role="rowheader" *ngFor="let column of listOfColumn" [ngClass]="column.class">
              <div *ngIf="column.propName==='full_statement'" [style.padding-left]="calculatePadding(item.level)">
                <p class="font-bold  mb-0">
                  <a href="#{{item.id}}" class="btn btn-toggle float-left"
                    [ngClass]="item.children.length===0?'last-node':''" data-toggle="collapse"
                    data-target="#{{item.id}}" aria-expanded="true" aria-controls="collapseOne">
                  </a>
                  <button class="btn btn-node font-bold" (click)="openDetails(item);" (click)="clicked = item.id">{{item[column.propName]?(item[column.propName]|
                    slice:0:charLimit):item.is_document?'Title is empty':'Full Statement is empty'}}
                    <span *ngIf="item[column.propName] && item[column.propName].length>charLimit">...</span>
                  </button>
                  <span class="controls">
                    <button *ngIf="item.hasMoreChild" class="cursor-pointer btn-icon"
                      (click)="fetchNodes(item);clicked =item.id" aria-label="view other nodes"><em
                        class="icon-ico-expand float-right ng-star-inserted"></em>
                    </button>
                    <ng-container>
                      <img alt="Loading content" id="item.id" class="img-fluid" *ngIf="false"
                        src="assets/images/loader.svg"></ng-container>
                  </span>
                </p>


              </div>
              <p class="font-bold  mb-0"
                *ngIf="column.propName!=='full_statement' && column.propName !=='compStatus' && column.propName !=='human_coding_scheme'">
                {{item[column.propName]}}</p>

              <p class="font-bold  mb-0" *ngIf="column.propName ==='human_coding_scheme'">
                {{item[column.propName] | slice:0:charLimit}}
                <span
                  *ngIf=" item[column.propName] && item[column.propName].length>charLimit && column.propName ==='human_coding_scheme'">...</span>
              </p>

              <ng-container *ngIf="column.propName==='compStatus'">
                <ul class="list-inline mb-0 text-right mr-2">
                  <li class="list-inline-item"
                    *ngIf="assignedToMe === 'all' &&  item.open_comment_count > 0 && showComments">
                    <img alt="Node has comment" aria-label="Node has comment" class="img-fluid ic-edit"
                      src="assets/images/ic_msg.png">
                  </li>

                  <li class="list-inline-item"
                    *ngIf="assignedToMe === 'assignedToMe' && item.isCommented === true  && showComments">
                    <img alt="Node has comment" aria-label="Node has comment" class="img-fluid ic-edit"
                      src="assets/images/ic_msg.png">
                  </li>

                  <li class="list-inline-item" *ngIf="column.propName==='compStatus' && item[column.propName] === 0">
                    <img alt="Node compliant" aria-label="Node compliant" class="img-fluid"
                      src="assets/images/ic_complete.png">
                  </li>
                  <li class="list-inline-item" *ngIf="column.propName==='compStatus' && item[column.propName] === 1">
                    <img alt="Node partially compliant" aria-label="Node partially compliant" class="img-fluid"
                      src="assets/images/ic_not_complete.png">
                  </li>
                  <li class="list-inline-item" *ngIf="column.propName==='compStatus' && item[column.propName] === 2">
                    <img alt="Node not compliant" aria-label="Node not compliant" class="img-fluid"
                      src="assets/images/ic_not_started.png">
                  </li>
                </ul>
              </ng-container>

              <ng-container *ngIf="column.propName==='edit'">
                <button class="btn btn-sm btn-primary btn-edit" *ngIf="item.hasChild === 1"
                  (click)="navigate(item.id)">Edit
                  <img alt="Edit" class="img-responsive" src="assets/images/edit_white.gif">
                </button>
              </ng-container>

            </div>



          </div>
        </div>
      </div>


      <div id="{{item.id}}" class="collapse show" aria-labelledby="headingOne" [attr.data-parent]="'#'+item.id">
        <div class="card-body">
          <div class="tbody"
            *ngIf="(item['itemExemplars'] && item['itemExemplars'].length>0) || (item['itemAssets'] && item['itemAssets'].length>0) || (item['itemAssociations'] && item['itemAssociations'].length>1) ">
            <div class="row mx-0 tr justify-content-between">
              <div class="{{dynamicClass}}" [style.padding-left]="calculatePadding(item.level)">

                <div class="associated">

                </div>



              </div>
              <div *ngFor="let class of listOfClass" [ngClass]="class.class"></div>

            </div>
          </div>

          <div *ngIf="item.children">
            <ng-container *ngTemplateOutlet="branch; context: { $implicit : item.children}"></ng-container>
          </div>

        </div>
      </div>
    </div>

  </div>

</ng-template>
<ng-container *ngTemplateOutlet="branch; context:{ $implicit: items}">
</ng-container>


<app-tabular-tree-side-pane #tabularTreeSidePaneComponent>

</app-tabular-tree-side-pane>

<app-preloader *ngIf="!dataReceived" [loaderText]="'Loading Data..'" class="w-100 position-fixed preloader-backdrop"></app-preloader>
