@import "../../../assets/scss/abstracts/variables";
@import "../../../assets/scss/abstracts/mixins";
@import "../../../assets/scss/abstracts/bp";
@import "../../../assets/scss/component/tooltip";
@import "../../../assets/scss/component/button";

*{
    font-family: $base-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

p{
    @include font-size(14);
}

.export{
    &.tooltip{
        @include padding(5px);
        opacity: 1;
    }
}
