<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700">
<link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet"
  id="font-awesome-5-kit-css">

<div class="container-fluid">
  <div class="row">
    <div class="col-12 align-items-center d-flex mb-2">
      <div class="col-3 p-0">
        <app-auto-complete [listingObj]="versionCriteriaList" (selectedObject)="onCriteriaSelected($event)"
          [selectType]="selectType" [uniqueId]="uniqueId" [propName]="propName" [defaultSelection]="defaultCriteria"
          [isLableShow]="false" [autoCompleteTitle]="autoCompleteTitle" [showValidMsg]="false" [clrDisOnSelect]="false"
          [canDelete]="false" #autoComplete>
        </app-auto-complete>
      </div>
      <div class="col-auto px-1">
        <button type="button" class="btn btn-clear tooltip right position-relative" data-tooltip="Export taxonomy"
          aria-label="Export taxonomy">
          <em class="fas fa-file-export"></em>
        </button>
      </div>
    </div>

    <div class="col-12 p-0">
      <app-version-summary #summaryReport *ngIf="selectedCriteria.type === 'summary'" [rawData]="rawVersionData"
        (loadDetailEvent)="loadDetail($event)">
      </app-version-summary>

      <app-metadata-version #metadataVersion
        *ngIf="selectedCriteria.type !== 'summary' && selectedCriteria.type !== 'associations'"
        [currentTab]="currentTab">
      </app-metadata-version>

      <app-association-version-report #associationVersion *ngIf="selectedCriteria.type === 'associations'"
        [currentTab]="currentTab"></app-association-version-report>
    </div>
  </div>
</div>
