<!-- Add/Edit Tenant Modal Starts -->
<app-modal [modalId]="modalId" [showCloseAlert]="form?.dirty" [modalSize]="'big'" (closeEvent)="onCancel($event);">
  <modal-div class="title-text">
    {{actionType | titlecase}} Tenant
  </modal-div>

  <modal-div class="body-content">
    <section class="row justify-content-center">
      <app-preloader *ngIf="getTenantLoader" [loaderText]="'Loading Tenant..'" class="w-100 position-absolute preloader-backdrop"></app-preloader>
      <div class="col-md-11 col-lg-10 col-xl-8" *ngIf="!getTenantLoader && form">
        <form [formGroup]="form">
          <div class="row mt-3">
            <div class="form-group col-lg-12 col-sm-12">
              <label class="font-bold" for="organizationName" id="organizationNameLabel">Organization Name <span
                  class="mandatory" aria-hidden="true">*</span></label>
              <input type="text" aria-labelledby="organizationNameLabel" class="form-control" id="organizationName"
                [(ngModel)]="orgName" formControlName="orgName" autocomplete="off">
              <div class="error--txt" *ngIf="form.controls['orgName'].errors && form.controls['orgName'].touched">
                <div role="alert">
                  <p *ngIf="form.controls['orgName'].hasError('required')" class="font-bold m-0">Organization name is
                    Required</p>
                </div>
              </div>
            </div>

            <div class="form-group col-lg-12 col-sm-12">
              <label class="font-bold" for="tenantEmail" id="tenantEmailLabel">Email <span class="mandatory"
                  aria-hidden="true" *ngIf="actionType===CREATE_ACTION.toLowerCase()">*</span></label>
              <input type="text" aria-labelledby="tenantEmailLabel" class="form-control" id="tenantEmail"
                [(ngModel)]="tenantEmail" formControlName="tenantEmail" autocomplete="off">
              <div class="error--txt"
                *ngIf="form.controls['tenantEmail'].errors && form.controls['tenantEmail'].touched">
                <div role="alert">
                  <p *ngIf="form.controls['tenantEmail'].hasError('required')" class="font-bold m-0">Email is Required
                  </p>
                  <p *ngIf="form.controls['tenantEmail'].hasError('pattern')" class="font-bold m-0">Please enter a valid
                    Email.</p>
                </div>
              </div>
            </div>

            <div class="form-group col-lg-12 col-sm-12">
              <label class="font-bold" for="tenantAdmin" id="tenantAdminLabel">Admin Name <span class="mandatory"
                  aria-hidden="true" *ngIf="actionType===CREATE_ACTION.toLowerCase()">*</span></label>
              <input type="text" aria-labelledby="tenantAdminLabel" class="form-control" id="tenantAdmin"
                [(ngModel)]="tenantAdmin" formControlName="tenantAdmin" autocomplete="off">
              <div class="error--txt"
                *ngIf="form.controls['tenantAdmin'].errors && form.controls['tenantAdmin'].touched">
                <div role="alert">
                  <p *ngIf="form.controls['tenantAdmin'].hasError('required')" class="font-bold m-0">Admin name is
                    Required</p>
                </div>
              </div>
            </div>

            <div class="form-group col-lg-12 col-sm-12">
              <label class="font-bold" for="shortCode" id="shortCodeLabel">Short Code <span class="mandatory"
                  aria-hidden="true" *ngIf="actionType===CREATE_ACTION.toLowerCase()">*</span></label>
              <input type="text" aria-labelledby="shortCodeLabel shortCodeHelp" class="form-control" id="shortCode"
                [(ngModel)]='shortCode' formControlName="shortCode" minlength="5" maxlength="5" autocomplete="off">
              <div class="error--txt" *ngIf="form.controls['shortCode'].errors && form.controls['shortCode'].touched">
                <div role="alert">
                  <p *ngIf="form.controls['shortCode'].hasError('required')" class="font-bold m-0">Shortcode is Required
                  </p>
                  <p *ngIf="form.controls['shortCode'].hasError('pattern')" class="font-bold m-0">Please enter
                    alpha-numeric characters (letters and numbers).</p>
                  <p *ngIf="form.controls['shortCode'].hasError('minlength')" class="font-bold m-0">Shortcode must be of
                    5 characters</p>
                </div>
              </div>
              <p class="form-text text-muted text-right" id="shortCodeHelp"
                *ngIf="actionType===CREATE_ACTION.toLowerCase()">
                5 alphanumeric characters required.
              </p>
            </div>

            <div class="form-group col-lg-12 col-sm-12" *ngIf="actionType===CREATE_ACTION.toLowerCase()">
              <label class="font-bold w-100" for="tenantPassword" id="tenantPasswordLabel">Password <span
                  class="mandatory" aria-hidden="true" *ngIf="actionType===CREATE_ACTION.toLowerCase()">*</span></label>
              <div class="d-flex justify-content-center align-items-center">
                <input type="password" aria-labelledby="tenantPasswordLabel" class="form-control" id="tenantPassword"
                  [(ngModel)]="tenantPassword" formControlName="tenantPassword" minlength="8" maxlength="12"
                  autocomplete="off" appPassword>
              </div>
              <div class="error--txt"
                *ngIf="form.controls['tenantPassword'].errors && form.controls['tenantPassword'].touched">
                <div role="alert">
                  <p *ngIf="form.controls['tenantPassword'].hasError('required')" class="font-bold m-0">Password is
                    Required</p>
                  <p *ngIf="form.controls['tenantPassword'].hasError('minlength')" class="font-bold m-0">Password must
                    be minimum of 8 characters</p>
                  <p *ngIf="form.controls['tenantPassword'].hasError('maxlength')" class="font-bold m-0">Password must
                    be maximum of 12 characters</p>
                  <p *ngIf="form.controls['tenantPassword'].hasError('pattern')" class="font-bold m-0">Password must
                    contain a mixture of uppercase and lowercase letters, numbers
                    and symbols</p>
                </div>
              </div>
            </div>
          </div>
        </form>
        <p class="mb-0">Fields marked with an asterisk (<span class="mandatory" aria-hidden="true">*</span>) are
          required.</p>
      </div>
    </section>
  </modal-div>

  <modal-div class="footer-buttons">
    <button class="btn btn-primary btn-lg float-right" type="button"
      [disabled]="(!form?.valid || !customFormValid()) || crtTenantLoader"
      (click)="tenantAction(actionType)">{{actionType | titlecase}}
      <em class="fa fa-spinner fa-spin" *ngIf="crtTenantLoader"></em>
    </button>
  </modal-div>
</app-modal>
<!-- Add/Edit Tenant Modal Ends -->
