<app-tab #tab [tabItems]="tabItems" (tabSelectedEvent)="onTabSelected($event)" [currentTab]="currentTab"
  [counts]="counts" class="mt-4 d-block"></app-tab>

<app-data-table #dataTable class="w-100" [columnList]="listOfColumn" [tableCategory]="'version'" [dataSet]="dataArray"
  [defaultSortBy]="defaultSortByColumn" [pagination]="pageDetail">
</app-data-table>
