<div class="row justify-content-between align-items-center taxonomies-creation w-100">
  <div class="col-9">
    <h3 class="font-bold">How about a quick review?</h3>
  </div>

  <div class="col-3 text-right step--count">
    <p class="mb-0 font-bold">Step {{currentStep+1}} of {{totalStepLength}}</p>
  </div>

  <div class="col">
    <p>A quick review and you are all set!</p>
  </div>

  <ng-container *ngIf="!showSummaryDetails">
    <div class="col-12">
      <div class="col-12 imported-summary">
        <p *ngIf="!errorInUpload">The {{totalTaxonomyCountToUpload > 1 ? 'taxonomies' : 'taxonomy'}}
          uploaded is currently being processed
          in ACMT. We will send you an email as soon as the process completes.
        </p>
        <p *ngIf="errorInUpload">Server error occurred in file's upload processing.</p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="showSummaryDetails">
    <div class="col-12">
      <div class="col-12 imported-summary" id="imptsmry">
        <div class="row imported-summary--heading">
          <div class="col-8">
            <h4 class="font-bold">Here's a summary of your import</h4>
          </div>
          <div class="col text-right">
          </div>
        </div>

        <div class="row align-items-center text-center justify-content-center" *ngIf="selectedFileType!==CSV_TYPE">

          <div class="col-4">
            <div class="row align-items-center" aria-live="polite" aria-atomic="true">
              <h5 class="col-12 total font-bold" id="total-0">{{totalTaxonomyCountToUpload}}</h5>
              <p class="col-12 total-info font-bold" id="total-info-0">Taxonomys
                <span>Imported</span>
              </p>
            </div>
          </div>

          <div class="col-4">
            <div class="row align-items-center" aria-live="polite" aria-atomic="true">
              <h5 class="col-12 total font-bold" id="total-1">{{childrenTaxonomiesCount}}</h5>
              <p class="col-12 total-info font-bold" id="total-info-1">Nodes
                <span>Created</span>
              </p>
            </div>
          </div>

          <div class="col-4">
            <div class="row align-items-center" aria-live="polite" aria-atomic="true">
              <h5 class="col-12 total font-bold" id="total-2">{{associationsCount}}</h5>
              <p class="col-12 total-info font-bold" id="total-info-2">Associations
                <span>Identified</span>
              </p>
            </div>
          </div>

        </div>
        <div class="row align-items-center text-center justify-content-start" *ngIf="selectedFileType===CSV_TYPE">
          <div class="col-3" *ngIf="createdOrUpdated === 'Taxonomy Created'">
            <div class="row align-items-center" aria-live="polite" aria-atomic="true">
              <h5 class="col-12 total font-bold"  id="total-3">{{1}}</h5>
              <p class="col-12 total-info font-bold" id="total-info-3">Taxonomy
                <span>Imported</span>
              </p>
            </div>
          </div>

          <div class="col-3" *ngIf="createdOrUpdated === 'Taxonomy Created' && associationsCount > 0">
            <div class="row align-items-center" aria-live="polite" aria-atomic="true">
              <h5 class="col-12 total font-bold"  id="total-4">{{associationsCount}}</h5>
              <p class="col-12 total-info font-bold" id="total-info-4">Associations
                <span>Identified</span>
              </p>
            </div>
          </div>

          <div class="col-3"
            *ngIf="(createdOrUpdated === 'Taxonomy Created')|| (createdOrUpdated === 'Taxonomy Updated')">
            <div class="row align-items-center" aria-live="polite" aria-atomic="true">
              <h5 class="col-12 total font-bold" id="total-5">{{newNodeCount? newNodeCount:0}}</h5>
              <p class="col-12 total-info font-bold" id="total-info-5">Nodes
                <span>Created</span>
              </p>
            </div>
          </div>

          <div class="col-3" *ngIf="createdOrUpdated !== 'Taxonomy Created'">
            <div class="row align-items-center" aria-live="polite" aria-atomic="true">
              <h5 class="col-12 total font-bold" id="total-6">{{updatedNodeCount? updatedNodeCount:0}}</h5>
              <p class="col-12 total-info font-bold" id="total-info-6">Nodes
                <span>Updated</span>
              </p>
            </div>
          </div>

          <div class="col-3" *ngIf="createdOrUpdated === 'Taxonomy Updated'">
            <div class="row align-items-center" aria-live="polite" aria-atomic="true">
              <h5 class="col-12 total font-bold" id="total-7">{{deleteNodeCount? deleteNodeCount:0}}</h5>
              <p class="col-12 total-info font-bold" id="total-info-7">Nodes
                <span>Deleted</span>
              </p>
            </div>
          </div>

          <div class="col-3" *ngIf="(createdOrUpdated === 'Taxonomy Updated')">
            <div class="row align-items-center" aria-live="polite" aria-atomic="true">
              <h5 class="col-12 total font-bold" id="total-8">{{newMetadataCount? newMetadataCount:0}}</h5>
              <p class="col-12 total-info font-bold" id="total-info-8">New Metadata
                <span>Count</span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <!-- end of imported summary -->
    </div>

    <div class="col-12 uploader-loading"
      *ngIf="((currentStep===2 && viewLocation===TAXO_LIST_LOCATION) || (currentStep===1 && viewLocation===TAXO_DETAIL_LOCATION)) && selectedFileType===CSV_TYPE && proceedDisabled">
      <app-preloader [loaderText]="'Processing Taxonomy...'" class="w-100 position-fixed preloader-backdrop"></app-preloader>
    </div>

    <!-- Updated Node Info -->
    <div class="col-12">
      <div class="imported-summary-nodes w-100"
        *ngIf="selectedFileType===CSV_TYPE &&  updatedItems && updatedItems.length>0 ">
        <div class="user-listing-panel col-lg-12 mt-0" role="grid">
          <div class="col-lg-12 col-sm-12">
            <div class="row user-header-row d-flex justify-content-between" role="row">
              <div class="col-12 header" role="columnheader">
                <h3 class="font-bold">Update Summary</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12 mt-2">
            <div class="row user-header-row d-flex justify-content-between" role="row">
              <div class="col-6 header" role="columnheader">
                <h4 class="font-bold font-4x">Existing Node</h4>
              </div>
              <div class="col-6 header" role="columnheader">
                <h4 class="font-bold font-4x">Updated Node</h4>
              </div>

            </div>
          </div>

          <div class="col-lg-12 col-sm-12" aria-labelledby="role">

            <div class="row user-data-row d-flex justify-content-between" *ngFor="let item of updatedItems" role="row"
              aria-live="polite" aria-atomic="true">
              <ng-container>
                <div class="col-6" role="rowheader">
                  <p class="mb-0">{{item['old_'+item.key]}}</p>
                </div>
                <div class="col-6 " role="gridcell">
                  <p class="mb-0">{{item['new_'+item.key]}}</p>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <!-- End of updated node info-->
      </div>
    </div>

    <!-- Updated Metadata info -->
    <div class="col-12" *ngIf="createdOrUpdated === 'Taxonomy Updated' && selectedFileType===CSV_TYPE
      && updatedMetadata && updatedMetadata.length>0">
      <div class="imported-summary-nodes w-100">
        <div class="user-listing-panel col-lg-12 mt-0" role="grid">
          <div class="col-lg-12 col-sm-12">
            <div class="row user-header-row d-flex justify-content-between" role="row">
              <div class="col-12 header" role="columnheader">
                <h3 class="font-bold">Metadata Summary</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12" aria-labelledby="role">
            <ng-container *ngFor="let nodeItem of updatedMetadata; let i = index;">
              <div class="row mb-2 user-data-row d-flex justify-content-between" role="row" aria-live="polite"
                aria-atomic="true">
                <ng-container *ngIf="nodeItem.metadata_fields && nodeItem.metadata_fields.length > 0">
                  <div class="col-12" role="columnheader">
                    <p class="font-bold mb-1">{{nodeItem?.item_name}}</p>
                  </div>
                  <div class="col-12">
                    <div class="row" role="row">
                      <div class="col-4" role="columnheader">
                        <p class="font-bold mb-1">Metadata field</p>
                      </div>
                      <div class="col-4" role="columnheader">
                        <p class="font-bold mb-1">Old value</p>
                      </div>
                      <div class="col-4" role="columnheader">
                        <p class="font-bold mb-1">New value</p>
                      </div>
                    </div>
                    <div class="row" *ngFor="let field of nodeItem.metadata_fields;" role="row" aria-live="polite"
                      aria-atomic="true">
                      <div class="col-4" role="columnheader">
                        {{field?.name}}
                      </div>
                      <div class="col-4" role="columnheader">
                        {{field?.old_value}}
                      </div>
                      <div class="col-4" role="columnheader">
                        {{field?.new_value}}
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
              <hr class="mt-2 mb-2" *ngIf="i !== (updatedMetadata.length-1)">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- end of Updated Metadata info -->

    <!-- Error report -->
    <div class="col-12" *ngIf="selectedFileType===CSV_TYPE && errorData && errorData.length>0">
      <div class="imported-summary-nodes w-100 bg-white">
        <div class="user-listing-panel col-lg-12 mt-0" role="grid">
          <div class="col-lg-12 col-sm-12">
            <div class="row user-header-row d-flex justify-content-between" role="row">
              <div class="col-12 header" role="columnheader">
                <h3 class="font-bold">Error Summary</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12">
            <app-data-table [showMenu]="false" class="w-100" [tableCategory]="'taxonomy summary'"
              [columnList]="columnsForError" [dataSet]="errorData" [sortRequired]="false"></app-data-table>
          </div>
        </div>
      </div>
    </div>
    <!-- end of Error report -->
  </ng-container>
</div>
