@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bp";

.taxonomies-creation{
    @include padding-indv(top, 56px);
    .step--count{
        @include font-color($darkest);
        @include font-size(12);
    }


    h3{
        @include font-size(20);
    } 
    .btn{
        &-secondary{
            @include font-size(18);
            @include padding(3.15rem 0);
        }
        
        .help-tip{
            @extend %position-absolute;
            @extend %text-overflow-wrapped;
            @include margin-all(140px auto);
            @include top(0);
            @include right(0);
            @include bottom(0);
            @include left(0);
            width: 240px;
        }
    }
    .align{
        &-btn-group{
            @include padding-indv('left', 3.2%);
            @include padding-indv('right', 3.2%);
            @include margin-indv('top', 3rem);
        }
    }
}
.imported {
    &-summary {
      @include bgcolor($lightest);
      @include padding(1rem);
      @include margin-indv('top', 1rem);
      @include box-shadow-dropdown;
      @include border-all(1px, solid, $light);
      @include position(relative);
      @include z-index(2);

      &--heading {
        @include margin-indv('bottom', 1rem);
      }

      h4 {
        @include font-size(14);
      }

      a {
        @extend %project-hover-underline;
        @include font-color($secondary);
      }

      .total {
        @include font-size(24);
        @include margin-indv('bottom', 0);

        &-info {
          //@include font-size(12);
          line-height: 1.2;

          span {
            @include display(block);
          }
        }
      }

      .list {
        &-inline {
          &-item {
            span {
              clear: both;
            }
          }
        }
      }

      &-nodes {
        @include padding-all(20px, 15px, 10px, 15px);
        @include bgcolor($lightest);
        @include position(relative);
        @include z-index(1);
        @include margin-indv('top', -1px);
        @include border-all(1px, solid, $light);

        ol {
          @include padding-indv('left', 30px);

          li {
            @include padding-indv('bottom', 5px);
            line-height: 1rem;
          }
        }

        .user-data-row {
          @include bgcolor(transparent);

          &:last-child {
            @extend %no-border-bottom;
          }
        }
      }
    }
  }

.lock-cell{
    width: 150px;
}