<div class="toc-panel-left tc-cont" ng-cloak>
    <div class="page-title">Table of Contents 
        <div class="pull-right hedar-prog" ng-if="project_details.project_type_id == 1 || project_details.project_type_id == 4">
            <div class="issu" >Issues <span>{{total_ticket}}</span></div>
            <ticket-status-count project-id="project_details.id"></ticket-status-count>
        </div>  
    </div>
    <div class="toccontent-container">
        <ol ui-nested-sortable="{
            listType: 'ol',
            items: 'li',                                            
            doNotClear: true,
            placeholder: 'ui-state-highlight',
            forcePlaceholderSize: true,
            toleranceElement: '> div',
            handle: '.drag_el{{project.project_permissions['toc.node.rearrange'].grant? '' : 'disable'}}'
            }" ui-nested-sortable-stop="update($event, $ui)" class="sortable" >
            <li ya-tree="child in data.children at ol" ng-class="{minimized:child.minimized}" item="{{child}}">
                <!--handle: '.drag_el',-->
                <div class="toc-paginator" ng-class="tocRowHoverClass" ng-mouseenter="tocRowHoverClass = 'tocRowHover'" ng-mouseleave="tocRowHoverClass = ''">
                    <span class="drag_el glyphicon {{project.project_permissions['toc.node.rearrange'].grant? 'glyphicon-th drag-icn' : ''}}" ></span></div>
                <div class="toc-outer" ng-class="tocRowHoverClass">
                    <div class="lirow" ng-mouseenter="tocRowHoverClass = 'tocRowHover'" ng-mouseleave="tocRowHoverClass = ''">

                        <toc-node-status-count class="pull-right" object-id="child.id" ticket-status-count="ticket_status_count" ng-if="project_details.project_type_id == 1 || project_details.project_type_id == 4"></toc-node-status-count>
                        <button class="toggle" ng-click="toggleMinimized(child)" ng-switch on="child.minimized" ng-if="child.children.length > 0" >
                            <span ng-switch-when="true" title="Expand"><span class="glyphicon glyphicon-expand"></span></span>
                            <span ng-switch-default title="Collapse">
                                <span class="glyphicon glyphicon-collapse-down"></span>
                            </span>
                        </button>
                        <button class="toggle" ng-if="child.children.length < 1" ></button>

                        <span>
                            {{child.title}} 
                        </span>        
                        <span>&nbsp;&nbsp;</span>
                        <span ng-if="child.section_page=='page' && child.type==6 && project_details.build_type=='3001'" class="nodeType">CONTENT</span>
                        <span ng-if="child.section_page=='section' && child.type==5 && project_details.build_type=='3001'" class="nodeType">FOLDER</span>
                        <span ng-if="child.section_page=='lmo' && project_details.build_type=='3001'" class="nodeType">LEARNING OBJECT</span>
                        <span ng-if="child.section_page=='link' && child.ext_res_type=='url' && project_details.build_type=='3001'" class="nodeType">URL</span>
                        <span ng-if="child.section_page=='link' && child.ext_res_type=='asset' && project_details.build_type=='3001'" class="nodeType">RESOURCE</span>
                        <span ng-if="child.section_page=='assessment' && project_details.build_type=='3001'" class="nodeType">ASSESSMENT</span>
                        <span>&nbsp;</span>
                        <!-- State of the Content tagging Start -->
                        <span ng-show="proj_obj_status[child.id] && child.pdf_import==1">
                            - {{proj_obj_status[child.id]}}
                        </span>
                        <!-- State of the Content tagging End -->
                        
                        <button id="{{child.id}}" ng-if="child.file && child.type != 7" class="btn btn-default btn-sm editor_button" tooltip-html-unsafe="Content" ng-click="gotoContentEditor(child, project_id, '')" ng-show="project.project_permissions['toc.toc-content.save'].grant && (project.project_permissions['ticket.create'].grant || project.project_permissions['ticket.comment.create'].grant)"><span class="glyphicon glyphicon-file"></span></button>

                        <!--button id="{{child.id}}" ng-if="child.file && objStatus[child.id] != 1001 && objLockedUser[child.id] == user_id" class="btn btn-default btn-sm editor_button" tooltip-html-unsafe="Content" ng-click="gotoContentEditor(child, project_id, '', $scope)" ng-show="project.project_permissions['toc.toc-content.save'].grant && (project.project_permissions['ticket.create'].grant || project.project_permissions['ticket.comment.create'].grant)"><span class="glyphicon glyphicon-file"></span></button-->

                        <!--<button id="{{child.id}}" ng-if="child.file && objStatus[child.id] != 1001" class="btn btn-default btn-sm editor_button" tooltip-html-unsafe="Locked Content" ng-click="gotoContentEditor(child, project_id, '')" ng-show="project.project_permissions['toc.toc-content.save'].grant && (project.project_permissions['ticket.create'].grant || project.project_permissions['ticket.comment.create'].grant)"><span class="glyphicon glyphicon-lock"></span></button>-->

                        <!--button ng-if="child.section_page == 'page'" class="btn btn-default btn-sm" tooltip-html-unsafe="Content" ng-click="gotoPreview(child, project_id, '')" ng-show="!project.project_permissions['toc.toc-content.save'].grant && (project.project_permissions['ticket.create'].grant || project.project_permissions['ticket.comment.create'].grant)"><span class="glyphicon glyphicon-file"></span></button-->

                        <button ng-if="child.file && child.type != 7" class="btn btn-default btn-sm" tooltip-html-unsafe="Content" ng-click="gotoPreview(child, project_id, '')" ng-show="!project.project_permissions['toc.toc-content.save'].grant && (project.project_permissions['ticket.create'].grant || project.project_permissions['ticket.comment.create'].grant)"><span class="glyphicon glyphicon-file"></span></button>

                        <button class="btn btn-default btn-sm" tooltip-html-unsafe="Edit Node" ng-click="editChildForm('', child, 'You are trying to edit', $parent.$parent.child.id)" ng-show="project.project_permissions['toc.node.edit'].grant && !(child.type == '1' || child.type == '2' || child.type == '3')"><span class="glyphicon glyphicon-pencil"></span></button>

                        <button class="btn btn-default btn-sm" tooltip-html-unsafe="Delete Node" ng-click="remove(child, $parent.$parent.child.id)" ng-hide="!project.project_permissions['toc.node.delete'].grant || data.children[0].id == child.id || (child.type == '1' || child.type == '2' || child.type == '3')"><span class="glyphicon glyphicon-trash"></span></button>
                        <!--a class="btn btn-default btn-sm" tooltip-html-unsafe="Compare Versions" ng-href="#/compare-versions/{{project_details.id}}/{{child.id}}" ng-show="child.section_page == 'page'"><span class="glyphicon glyphicon-tasks"></span></a-->                                                           
                        
                        <span class="dropdown toc-plus" 
                              ng-show="project.project_permissions['toc.node.add'].grant && toc_node_rule[child.root_type][child.type]['create_child'] && child.type != 7 && $parent.$parent.child.section_page!='lmo'" 
                              tooltip-html-unsafe="Add">
                            <button class="btn btn-default btn-sm" ng-click="addNodeForm('', child, 'You are trying to add child', child.root_type, child.type)">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                        </span>
                        <!--other-license-validity asset-id="child.id" entity_type="'CONTENT'" style="padding-left: 21px;padding-top: inherit;"></other-license-validity>
                        <update-available object-id="child.id" style="padding-left: 21px;padding-top: inherit;"></update-available-->                        
                        <toc-license-validity-and-update-availability style="padding-left: 21px;padding-top: inherit;" object-id="child.id" ticket-status-count="ticket_status_count"></toc-license-validity-and-update-availability>
                        
                        <span ng-if="update_date_obj[child.id]" class="label label-info last-updated">
                            [Last Updated On: {{update_date_obj[child.id]}}]
                        </span>
                    </div>
                </div>
                <ol ng-class="{pregnant:child.children.length}"></ol>
            </li>
        </ol>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>