@import "abstracts/variables";
@import "abstracts/mixins";

.dropdown{
    &-split{
        .dropdown-menu{

            li{
                .btn{
                    @include border-radius(1px);
            
                    &:first-child{
                        cursor: pointer;
                    }
                }
                &:first-child{
                    .btn{
                        @include border-radius-top(3px);
                    }
                }
            }
            
        }
        
    }
}
