body{
    background-image: url("scenes.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.aligned{
    text-align: center;
    line-height: 50px;
}
.active{
    color: yellow;
}
.leftSelectionPanel{
    max-width: 250px;
    position: relative;
    left: 0px;
    z-index: 20;
    -webkit-transition: all 450ms;
    transition: all 450ms;
}
.footerNav{
    display: none;
}
.mobSelectionPanelToc{
    display: none;
    z-index: 99999;
}
.leftSelectionPanelToc,.mobSelectionPanelToc{
    width: 100%;
    background: rgba(49,49,49,0.92);
    position: relative;
    overflow-y: auto;
    color: #b1b3b1;
    list-style: square url("listicon.png");
    padding-top: 10px;
    padding-bottom: 10px;
}
li a{
    font-size: 20px;
    text-align: center;
    color:white;
    padding: 3px;
};
a{
    text-decoration: none;
}
li>a:hover{
    text-decoration: none;
    color:lightblue;
}
li>a:focus{
    text-decoration: none;
    color:yellow;
}
.contentWrapper {
    position: fixed;
    padding-top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 450ms;
    transition: all 450ms;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.divWrapper{
     -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    -ms-touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
    /*opacity: 0*/
}
.contentInnerWrapper{
    background: #FFF;
    max-width: 1000px;
    margin: 0px 5% 70px 275px;
    position: relative;
    -webkit-transition: all 450ms;
    transition: all 450ms;
}
.contentInnerWrapper-mob{
    background: #FFF;
    max-width: 900px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 450ms;
    transition: all 450ms;
}
.contentData{
    padding: 40px;
    overflow-y: auto;
}
.current{
    display: inline-block;
    visibility: visible;
    z-index: 1;
    opacity: 1;
}
.to-left {
    -webkit-animation: move-to-left 450ms ease-in-out both;
    -moz-animation: move-to-left 450ms ease-in-out both;
    animation: move-to-left 450ms ease-in-out both;
    overflow-y: hidden;
}
.from-left {
    -webkit-animation: move-from-left 450ms ease both;
    -moz-animation: move-from-left 450ms ease both;
    animation: move-from-left 450ms ease both;
    overflow-y: hidden;
}
.to-right {
    -webkit-animation: move-to-right 450ms ease-in-out both;
    -moz-animation: move-to-right 450ms ease-in-out both;
    animation: move-to-right 450ms ease-in-out both;
    overflow-y: hidden;
}
.from-right {
    -webkit-animation: move-from-right 450ms ease both;
    -moz-animation: move-from-right 450ms ease both;
    animation: move-from-right 450ms ease both;
    overflow-y: hidden;
}
a.pageControl{
    font-family: "voxicon",serif;
    font-size: 1.75em;
    overflow: hidden;
    color: #4c4e4d;
    position: absolute;
    text-align: center;
    top: 13px;
    text-decoration: none;
    display: inline-block;
    left: auto;
    vertical-align: middle;
    width: 30px;
    }
.contentHeader,.contentFooter{
    background: #ffeb00;
    height: 48px;
    width: 100%;
    position: relative;
    }
a.pageControl.next {
    text-align: right;
    right: 10px;
}
a.pageControl.previous{
    left: 10px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.glyphicon.glyphicon-th-list{
    font-size: 25px;
    z-index: 9999;
}
/*.disabledToc {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
    }*/
@media (max-width: 880px) {
    .leftSelectionPanelToc,.tocHeading { display: none; }
    .footerNav { display: inline-block; }
    .m-explainer__card.to-left {
        -webkit-animation: move-to-left-mobile 450ms ease both;
        -moz-animation: move-to-left-mobile 450ms ease both;
        animation: move-to-left-mobile 450ms ease both
    }
    .m-explainer__card.to-right {
        -webkit-animation: move-to-right-mobile 450ms ease both;
        -moz-animation: move-to-right-mobile 450ms ease both;
        animation: move-to-right-mobile 450ms ease both
    }
}
@-webkit-keyframes move-from-left {
    from {
        -webkit-transform: translateX(-100%)
    }
}
@-moz-keyframes move-from-left {
    from {
        -moz-transform: translateX(-100%)
    }
}
@keyframes move-from-left {
    from {
        transform: translateX(-100%)
    }
}
@-webkit-keyframes move-to-left {
    to {
        opacity: 0;
        -webkit-transform: translateX(-100%)
    }
}
@-moz-keyframes move-to-left {
    to {
        opacity: 0;
        -moz-transform: translateX(-100%)
    }
}
@keyframes move-to-left {
    to {
        opacity: 0;
        transform: translateX(-100%)
    }
}
@-webkit-keyframes move-from-right {
    from {
        -webkit-transform: translateX(100%)
    }
}
@-moz-keyframes move-from-right {
    from {
        -moz-transform: translateX(100%)
    }
}
@keyframes move-from-right {
    from {
        transform: translateX(100%)
    }
}
@-webkit-keyframes move-to-right {
    to {
        opacity: 0;
        -webkit-transform: translateX(100%)
    }
}
@-moz-keyframes move-to-right {
    to {
        opacity: 0;
        -moz-transform: translateX(100%)
    }
}
@keyframes move-to-right {
    to {
        opacity: 0;
        transform: translateX(100%)
    }
}
